Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

add possibility to attach files into polarion testcase run
  examples/polarion-run-report/plan.fmf
  examples/polarion-run-report/test.sh
  tmt/steps/report/polarion.py
Owners: @KwisatzHaderach

Pin hatch version
  .github/workflows/doc-tests.yml
Owners: none

Pin hatch version (#4376)
  .github/workflows/doc-tests.yml
Owners: none

Add `sourced_files` interface to `Guest`
  tmt/steps/provision/__init__.py
  tmt/steps/provision/local.py
  tmt/steps/provision/mock.py
  tmt/steps/provision/podman.py
Owners: none

Fix the test file
  tests/core/sourced-file/data/main.fmf
Owners: none

Project name convention
  spec/plans/sourced-file.fmf
Owners: none

Constify the filename
  tmt/base.py
Owners: none

Class-level const did not work?! :/
  tmt/base.py
Owners: none

Add a simple test
  tests/core/sourced-file/data/.fmf/version
  tests/core/sourced-file/data/main.fmf
  tests/core/sourced-file/main.fmf
  tests/core/sourced-file/test.sh
Owners: none

Adjust overview document to be good for man
  docs/overview.rst
Owners: none

Wordsmithing
  docs/releases/pending/4045.fmf
Owners: none

Hook PrepareShell to `TMT_PLAN_SOURCED_FILE`
  tmt/steps/prepare/shell.py
Owners: none

Add links to the story
  spec/plans/source-script.fmf
Owners: none

Rename variable
  docs/overview.rst
  docs/releases/pending/4045.fmf
  spec/plans/source-script.fmf
  tests/core/source-script/data/.fmf/version
  tests/core/source-script/data/main.fmf
  tests/core/source-script/main.fmf
  tests/core/source-script/test.sh
  tests/core/sourced-file/main.fmf
  tests/recipe/data/recipe.yaml
  tmt/base.py
  tmt/steps/execute/__init__.py
  tmt/steps/prepare/shell.py
Owners: none

Wordsmithing 2.0 electric bogaloo
  docs/releases/pending/4045.fmf
  spec/plans/source-script.fmf
Owners: none

Move release note to pending
  docs/releases/pending/4045.fmf
Owners: none

Cover the finish plugin also
  spec/plans/sourced-file.fmf
  tests/core/sourced-file/data/main.fmf
Owners: none

introduce `TMT_PLAN_SOURCED_FILE`
  tests/recipe/data/recipe.yaml
  tmt/base.py
Owners: none

Fix LocalProvision sourcing in wrong order
  tmt/steps/provision/local.py
Owners: none

Document TMT_PLAN_SOURCED_FILE
  docs/overview.rst
  docs/releases/1.63.0/4045.fmf
  spec/plans/sourced-file.fmf
Owners: none

Hook tests to `TMT_PLAN_SOURCED_FILE`
  tmt/steps/execute/__init__.py
Owners: none

Make story more optimistic?
  spec/plans/sourced-file.fmf
Owners: none

squash: use soft reboot counter
  tests/recipe/data/recipe.yaml
  tmt/steps/provision/__init__.py
Owners: none

Add systemd soft reboot functionality (#4304)
  tests/provision/reboot/test.sh
  tmt/steps/__init__.py
  tmt/steps/context/reboot.py
  tmt/steps/execute/internal.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/artemis.py
  tmt/steps/provision/connect.py
  tmt/steps/provision/local.py
  tmt/steps/provision/mock.py
  tmt/steps/provision/mrack.py
  tmt/steps/provision/podman.py
  tmt/steps/provision/testcloud.py
  tmt/steps/scripts/tmt-reboot
  tmt/steps/scripts/tmt-reboot-core
  tmt/utils/__init__.py
Owners: @happz, @dav-pascual, @lbrabec

squash: small tweaks
  tmt/steps/context/reboot.py
  tmt/steps/scripts/tmt-reboot-core
  tmt/utils/__init__.py
Owners: none

squash: wrong decorator
  tmt/steps/provision/__init__.py
Owners: none

Implement the `TMT_PLAN_SOURCE_SCRIPT` hook (#4045)
  docs/overview.rst
  docs/releases/pending/4045.fmf
  spec/plans/source-script.fmf
  tests/core/source-script/data/.fmf/version
  tests/core/source-script/data/main.fmf
  tests/core/source-script/main.fmf
  tests/core/source-script/test.sh
  tests/recipe/data/recipe.yaml
  tmt/base.py
  tmt/steps/execute/__init__.py
  tmt/steps/prepare/shell.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/local.py
  tmt/steps/provision/mock.py
  tmt/steps/provision/podman.py
Owners: none

Repository name is generated through custom counter
  tmt/steps/prepare/artifact/providers/repository.py
Owners: none

address review comments
  tmt/package_managers/__init__.py
  tmt/package_managers/dnf.py
Owners: none

use default name generator
  tmt/steps/prepare/artifact/providers/repository.py
Owners: none

Add local repository creation from artifact directories
  tmt/package_managers/__init__.py
  tmt/package_managers/dnf.py
  tmt/steps/prepare/artifact/providers/repository.py
Owners: none

create repo just creates the repo metadata
  tmt/package_managers/__init__.py
  tmt/package_managers/dnf.py
  tmt/steps/prepare/artifact/__init__.py
  tmt/steps/prepare/artifact/providers/repository.py
Owners: none

add suggestions from code review
  tmt/package_managers/__init__.py
  tmt/package_managers/dnf.py
  tmt/steps/prepare/artifact/__init__.py
  tmt/steps/prepare/artifact/providers/repository.py
Owners: none

change GeneralError to PrepareError
  tmt/package_managers/__init__.py
  tmt/package_managers/dnf.py
  tmt/steps/prepare/artifact/providers/repository.py
Owners: none

address suggestions from code review
  tmt/package_managers/__init__.py
  tmt/package_managers/dnf.py
  tmt/steps/prepare/artifact/__init__.py
  tmt/steps/prepare/artifact/providers/repository.py
Owners: none

move esssential requirement to artifact plugin
  tmt/package_managers/dnf.py
  tmt/steps/execute/internal.py
  tmt/steps/prepare/artifact/__init__.py
Owners: none

add createrepo_c via essential requires
  tmt/package_managers/dnf.py
  tmt/steps/execute/internal.py
Owners: none

doc string fix
  tmt/steps/prepare/artifact/providers/repository.py
Owners: none

Generate lock file
  pylock.toml
  uv.lock
Owners: none

Relax locked dependencies
  pyproject.toml
Owners: none

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi
