Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi

Fix how plan/guest `ansible` key is displayed
  tmt/base/core.py
  tmt/guest/__init__.py
Owners: none

squash: fix tests
  tests/login/step.sh
Owners: none

Add generic tmt context to Claude instructions
  .claude/CLAUDE.md
Owners: none

squash: small tweaks
  .claude/CLAUDE.md
Owners: none

Step `__init__` shall accept list of raw step data
  tmt/base/core.py
  tmt/steps/__init__.py
  tmt/steps/discover/__init__.py
  tmt/steps/execute/__init__.py
  tmt/steps/prepare/__init__.py
  tmt/steps/provision/__init__.py
Owners: none

squash: fix tests
  tests/unit/test_guest.py
Owners: none

squash: update
  tmt/steps/__init__.py
  tmt/steps/cleanup/__init__.py
  tmt/steps/discover/__init__.py
  tmt/steps/execute/__init__.py
  tmt/steps/finish/__init__.py
  tmt/steps/prepare/__init__.py
  tmt/steps/provision/__init__.py
  tmt/steps/report/__init__.py
Owners: none

Drop step-specific "base Click command" implementations
  tmt/base/core.py
  tmt/steps/__init__.py
  tmt/steps/cleanup/__init__.py
  tmt/steps/discover/__init__.py
  tmt/steps/execute/__init__.py
  tmt/steps/finish/__init__.py
  tmt/steps/prepare/__init__.py
  tmt/steps/provision/__init__.py
  tmt/steps/report/__init__.py
Owners: none

squash: post-rebase fixes
  tmt/steps/discover/__init__.py
  tmt/steps/execute/__init__.py
  tmt/steps/finish/__init__.py
  tmt/steps/prepare/__init__.py
  tmt/steps/report/__init__.py
Owners: none

squash: fix tests
  tests/execute/result/custom.sh
Owners: none

squash: fix extra conversion
  tmt/steps/__init__.py
  tmt/steps/discover/__init__.py
  tmt/steps/provision/__init__.py
Owners: none

To/from "state" helpers for tmt state files
  docs/overview.rst
  spec/results.fmf
  tmt/base/core.py
  tmt/cli/about.py
  tmt/export/_json.py
  tmt/frameworks/beakerlib.py
  tmt/package_managers/bootc.py
  tmt/steps/__init__.py
  tmt/steps/cleanup/__init__.py
  tmt/steps/discover/__init__.py
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
  tmt/steps/finish/__init__.py
  tmt/steps/prepare/__init__.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/mrack.py
  tmt/trying.py
  tmt/utils/__init__.py
Owners: @dav-pascual, @falconizmi

squash: post-rebase fixes
  tmt/base/core.py
  tmt/export/_json.py
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

squash: post-rebase
  tmt/package_managers/bootc.py
Owners: none

squash: test and refactoring
  docs/overview.rst
  tests/cli/plugin-envvars/data/.fmf/version
  tests/cli/plugin-envvars/data/main.fmf
  tests/cli/plugin-envvars/main.fmf
  tests/cli/plugin-envvars/test.sh
  tmt/steps/__init__.py
Owners: none

squash; fixing tests
  docs/releases/pending/4472.fmf
  tests/execute/ignore-duration/test.sh
Owners: none

squash: fix issue
  tmt/steps/__init__.py
Owners: none

Plugin envvars take effect even when plugin is not mentioned on CLI
  tmt/steps/__init__.py
Owners: none

squash: fix docs
  docs/releases/pending/4472.fmf
Owners: none

squash: small tweak
  docs/releases/pending/4472.fmf
Owners: none

Address design changes
  tests/prepare/artifact/nvr-debug/data/build-repos.sh
  tests/prepare/artifact/nvr-debug/data/plan-tc11.fmf
  tests/prepare/artifact/nvr-debug/data/plan-tc12.fmf
  tests/prepare/artifact/nvr-debug/data/tc11-high/v1.spec
  tests/prepare/artifact/nvr-debug/data/tc11-low/v2.spec
  tests/prepare/artifact/nvr-debug/data/tc11.fmf
  tests/prepare/artifact/nvr-debug/data/tc11.sh
  tests/prepare/artifact/nvr-debug/data/tc12-a/v1.spec
  tests/prepare/artifact/nvr-debug/data/tc12-b/v2.spec
  tests/prepare/artifact/nvr-debug/data/tc12.fmf
  tests/prepare/artifact/nvr-debug/data/tc12.sh
  tests/prepare/artifact/nvr-debug/main.fmf
  tests/prepare/artifact/nvr-debug/test.sh
Owners: none

split to 2 plans
  tests/prepare/artifact/nvr-debug/data/build-repos.sh
  tests/prepare/artifact/nvr-debug/data/plan-tc11.fmf
  tests/prepare/artifact/nvr-debug/data/plan-tc12.fmf
  tests/prepare/artifact/nvr-debug/data/plan.fmf
  tests/prepare/artifact/nvr-debug/data/tc11.fmf
  tests/prepare/artifact/nvr-debug/data/tc11.sh
  tests/prepare/artifact/nvr-debug/data/tc12.fmf
  tests/prepare/artifact/nvr-debug/data/tc12.sh
  tests/prepare/artifact/nvr-debug/main.fmf
  tests/prepare/artifact/nvr-debug/test.sh
  tmt/steps/prepare/artifact/providers/repository.py
Owners: none

fix building of rpms
  tests/prepare/artifact/nvr-debug/data/build-repos.sh
  tests/prepare/artifact/nvr-debug/data/plan.fmf
  tests/prepare/artifact/nvr-debug/data/srpms/dummy-nvr-test-1.0-1.src.rpm
  tests/prepare/artifact/nvr-debug/data/srpms/dummy-nvr-test-2.0-1.src.rpm
  tests/prepare/artifact/nvr-debug/data/tc11.fmf
  tests/prepare/artifact/nvr-debug/data/tc11.sh
  tests/prepare/artifact/nvr-debug/data/tc12.fmf
  tests/prepare/artifact/nvr-debug/data/tc12.sh
  tests/prepare/artifact/nvr-debug/main.fmf
  tests/prepare/artifact/nvr-debug/rpm-data/build-srpms.sh
  tests/prepare/artifact/nvr-debug/test.sh
  tmt/steps/prepare/artifact/providers/repository.py
Owners: none

build rpms only once
  tests/prepare/artifact/nvr-debug/data/build-repos.sh
  tests/prepare/artifact/nvr-debug/data/plan.fmf
  tests/prepare/artifact/nvr-debug/data/srpms/dummy-nvr-test-1.0-1.src.rpm
  tests/prepare/artifact/nvr-debug/data/srpms/dummy-nvr-test-2.0-1.src.rpm
  tests/prepare/artifact/nvr-debug/data/tc11-high.repo
  tests/prepare/artifact/nvr-debug/data/tc11-low.repo
  tests/prepare/artifact/nvr-debug/data/tc11.fmf
  tests/prepare/artifact/nvr-debug/data/tc11.sh
  tests/prepare/artifact/nvr-debug/data/tc12-a.repo
  tests/prepare/artifact/nvr-debug/data/tc12-b.repo
  tests/prepare/artifact/nvr-debug/data/tc12.fmf
  tests/prepare/artifact/nvr-debug/data/tc12.sh
  tests/prepare/artifact/nvr-debug/main.fmf
  tests/prepare/artifact/nvr-debug/rpm-data/build-srpms.sh
  tests/prepare/artifact/nvr-debug/rpm-data/v1.spec
  tests/prepare/artifact/nvr-debug/rpm-data/v2.spec
  tests/prepare/artifact/nvr-debug/test.sh
Owners: none

change testcase to with and without dependency case
  tests/prepare/artifact/nvr-edge-cases/main.fmf
  tests/prepare/artifact/nvr-edge-cases/package-with-dependency/data/.fmf/version
  tests/prepare/artifact/nvr-edge-cases/package-with-dependency/data/main.fmf
  tests/prepare/artifact/nvr-edge-cases/package-with-dependency/data/test.sh
  tests/prepare/artifact/nvr-edge-cases/package-with-dependency/main.fmf
  tests/prepare/artifact/nvr-edge-cases/package-with-dependency/test.sh
  tests/prepare/artifact/nvr-edge-cases/package-without-dependency/data/.fmf/version
  tests/prepare/artifact/nvr-edge-cases/package-without-dependency/data/main.fmf
  tests/prepare/artifact/nvr-edge-cases/package-without-dependency/data/test.sh
  tests/prepare/artifact/nvr-edge-cases/package-without-dependency/main.fmf
  tests/prepare/artifact/nvr-edge-cases/package-without-dependency/test.sh
Owners: none

write test cases in a new format
  tests/prepare/artifact/nvr-debug/data/.fmf/version
  tests/prepare/artifact/nvr-debug/data/build-repos.sh
  tests/prepare/artifact/nvr-debug/data/plan.fmf
  tests/prepare/artifact/nvr-debug/data/tc11-high.repo
  tests/prepare/artifact/nvr-debug/data/tc11-low.repo
  tests/prepare/artifact/nvr-debug/data/tc11.fmf
  tests/prepare/artifact/nvr-debug/data/tc11.sh
  tests/prepare/artifact/nvr-debug/data/tc12-a.repo
  tests/prepare/artifact/nvr-debug/data/tc12-b.repo
  tests/prepare/artifact/nvr-debug/data/tc12.fmf
  tests/prepare/artifact/nvr-debug/data/tc12.sh
  tests/prepare/artifact/nvr-debug/main.fmf
  tests/prepare/artifact/nvr-debug/test.sh
  tests/prepare/artifact/nvr-edge-cases/package-with-dependency/data/main.fmf
  tests/prepare/artifact/nvr-edge-cases/package-with-dependency/data/test.sh
  tests/prepare/artifact/nvr-edge-cases/package-with-dependency/main.fmf
  tests/prepare/artifact/nvr-edge-cases/package-with-dependency/test.sh
  tests/prepare/artifact/nvr-edge-cases/package-without-dependency/data/.fmf/version
  tests/prepare/artifact/nvr-edge-cases/package-without-dependency/data/main.fmf
  tests/prepare/artifact/nvr-edge-cases/package-without-dependency/data/test.sh
  tests/prepare/artifact/nvr-edge-cases/package-without-dependency/main.fmf
  tests/prepare/artifact/nvr-edge-cases/package-without-dependency/test.sh
  tmt/steps/prepare/artifact/providers/repository.py
Owners: none

Change jq to be installed from updates on fedora-rawhide
  tests/prepare/artifact/nvr-edge-cases/package-with-dependency/test.sh
  tests/prepare/artifact/nvr-edge-cases/package-without-dependency/data/test.sh
  tests/prepare/artifact/nvr-edge-cases/package-without-dependency/test.sh
Owners: none

Add integration test for NVR edge cases with file provider
  tests/prepare/artifact/nvr-edge-cases/data/.fmf/version
  tests/prepare/artifact/nvr-edge-cases/data/main.fmf
  tests/prepare/artifact/nvr-edge-cases/data/test.sh
  tests/prepare/artifact/nvr-edge-cases/main.fmf
  tests/prepare/artifact/nvr-edge-cases/test.sh
Owners: none

Address design changes
  tests/prepare/artifact/nvr-debug/data/build-repos.sh
  tests/prepare/artifact/nvr-debug/data/plan-tc11.fmf
  tests/prepare/artifact/nvr-debug/data/plan-tc12.fmf
  tests/prepare/artifact/nvr-debug/data/tc11-high/v1.spec
  tests/prepare/artifact/nvr-debug/data/tc11-low/v2.spec
  tests/prepare/artifact/nvr-debug/data/tc11.fmf
  tests/prepare/artifact/nvr-debug/data/tc11.sh
  tests/prepare/artifact/nvr-debug/data/tc12-a/v1.spec
  tests/prepare/artifact/nvr-debug/data/tc12-b/v2.spec
  tests/prepare/artifact/nvr-debug/data/tc12.fmf
  tests/prepare/artifact/nvr-debug/data/tc12.sh
  tests/prepare/artifact/nvr-debug/main.fmf
  tests/prepare/artifact/nvr-debug/test.sh
Owners: none

move common step to main.fmf
  tests/prepare/artifact/nvr-debug/data/build-repos.sh
  tests/prepare/artifact/nvr-debug/data/main.fmf
  tests/prepare/artifact/nvr-debug/data/plan-tc11.fmf
  tests/prepare/artifact/nvr-debug/data/plan-tc12.fmf
  tests/prepare/artifact/nvr-debug/main.fmf
Owners: none

move common config to main.fmf
  tests/prepare/artifact/nvr-debug/data/main.fmf
  tests/prepare/artifact/nvr-debug/data/plan-tc11.fmf
  tests/prepare/artifact/nvr-debug/data/plan-tc12.fmf
Owners: none

Skip empty elements in Command construction
  tmt/utils/__init__.py
Owners: none

Skip known bootc failure for now
  tests/provision/bootc/main.fmf
Owners: none

Include the default pattern as well
  tests/provision/bootc/main.fmf
Owners: none

Add another avc pattern
  tests/provision/bootc/main.fmf
Owners: none

Skip known bootc failure for now (#4630)
  tests/provision/bootc/main.fmf
Owners: none

Correct the release note
  docs/releases/pending/pending.fmf
Owners: none

Remove the special handling of the `name` in the display
  tmt/libraries/beakerlib.py
Owners: none

Adjust conflicts test
  tests/discover/libraries/test.sh
Owners: none

Improve the conflict log message
  tmt/libraries/beakerlib.py
Owners: none
