Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi

Add `file` key to report/html plugin, a file to save report into (#3648)
  tmt/steps/report/html.py
Owners: none

squash: forgot to add containerfiles
  containers/fedora/latest/Containerfile
  containers/fedora/latest/Containerfile.unprivileged
  containers/fedora/latest/Containerfile.upstream
Owners: none

squash: drop dnf5 installation
  containers/fedora/latest/Containerfile
Owners: none

Add "latest Fedora" container image for tests to use
  Makefile
Owners: none

Add "latest Fedora" container image for tests to use (#3617)
  Makefile
  containers/fedora/latest/Containerfile
  containers/fedora/latest/Containerfile.unprivileged
  containers/fedora/latest/Containerfile.upstream
Owners: none

innter layer dummy tests
  tests/execute/framework/beakerlib.sh
  tests/execute/framework/beakerlib/fail.sh
  tests/execute/framework/beakerlib/incomplete-fail.sh
  tests/execute/framework/beakerlib/incomplete-pass.sh
  tests/execute/framework/beakerlib/pass.sh
  tests/execute/framework/beakerlib/pidlock.sh
  tests/execute/framework/beakerlib/tests.fmf
  tests/execute/framework/beakerlib/timeout.sh
  tests/execute/framework/beakerlib/warn.sh
  tests/execute/framework/beakerlib/worst.sh
Owners: none

tests implemented
  tests/execute/framework/beakerlib.sh
  tests/execute/framework/beakerlib/tests.fmf
Owners: none

notexec/notfound tests added
  tests/execute/framework/beakerlib.sh
  tests/execute/framework/beakerlib/tests.fmf
  tests/execute/framework/main.fmf
Owners: none

listed the possible outcomes
  tests/execute/framework/beakerlib.sh
Owners: none

shorten the summary
  tests/execute/framework/beakerlib.sh
  tests/execute/framework/beakerlib/tests.fmf
Owners: none

scaffold
  tests/execute/framework/beakerlib.sh
  tests/execute/framework/beakerlib/.fmf/version
  tests/execute/framework/beakerlib/beakerlib.sh
  tests/execute/framework/beakerlib/plans.fmf
  tests/execute/framework/beakerlib/tests.fmf
  tests/execute/framework/main.fmf
Owners: none

Bump pre-commit versions except for ruff
  .pre-commit-config.yaml
Owners: none

Update ruff version and address new failures
  .pre-commit-config.yaml
  docs/scripts/generate-hardware-matrix.py
  tests/unit/test_utils.py
  tmt/base.py
  tmt/cli/__init__.py
  tmt/container/__init__.py
  tmt/export/__init__.py
  tmt/hardware.py
  tmt/result.py
  tmt/steps/__init__.py
  tmt/steps/discover/fmf.py
  tmt/steps/discover/shell.py
  tmt/steps/provision/__init__.py
Owners: none

Remove unused imports and bump pyright version
  .pre-commit-config.yaml
  tmt/__main__.py
  tmt/checks/__init__.py
  tmt/checks/avc.py
  tmt/checks/coredump.py
  tmt/checks/dmesg.py
  tmt/checks/watchdog.py
  tmt/cli/_root.py
  tmt/cli/init.py
  tmt/cli/lint.py
  tmt/cli/trying.py
  tmt/frameworks/beakerlib.py
  tmt/frameworks/shell.py
  tmt/libraries/__init__.py
  tmt/libraries/file.py
  tmt/log.py
  tmt/result.py
  tmt/steps/prepare/ansible.py
  tmt/steps/prepare/distgit.py
  tmt/steps/prepare/feature/environment_profile.py
  tmt/steps/prepare/feature/epel.py
  tmt/steps/prepare/feature/fips.py
  tmt/steps/report/html.py
  tmt/steps/report/junit.py
  tmt/trying.py
Owners: @falconizmi

Refactoring hardware contstraint types
  tmt/hardware.py
  tmt/steps/provision/mrack.py
  tmt/steps/provision/testcloud.py
Owners: @dav-pascual, @lbrabec

Revert unnecessary casts
  tmt/log.py
  tmt/result.py
Owners: none

fixup! Bump pre-commit versions except for ruff
  .pre-commit-config.yaml
Owners: none

Does `default_factory=lambda: set[str]())` make sense?
  tmt/cli/__init__.py
Owners: none

Fix malformed list in test_get_distgit_handler
  tests/unit/test_utils.py
Owners: none

Resolving the rest of pyright check feailures
  tmt/cli/__init__.py
  tmt/container/__init__.py
  tmt/log.py
  tmt/package_managers/__init__.py
  tmt/result.py
Owners: none

Update docs/scripts/generate-hardware-matrix.py
  docs/scripts/generate-hardware-matrix.py
Owners: none

One more pyright issue after rebase
  tmt/container/__init__.py
Owners: none

Now it works, huh.
  tmt/container/__init__.py
Owners: none

Addressing feedback
  docs/scripts/generate-hardware-matrix.py
  tmt/cli/__init__.py
Owners: none

Resolving TODOs
  tmt/hardware.py
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

squash: Update wait.py
  tmt/utils/wait.py
Owners: none

Support '--fetch-logs' option, logs will be fetched on users' desire (#3624)
  tmt/steps/finish/__init__.py
  tmt/steps/provision/__init__.py
Owners: none

Initial coderabbit config yaml
  .coderabbit.yaml
Owners: none

Run profiles
  .pre-commit-config.yaml
  tests/run/profile/data/.fmf/version
  tests/run/profile/data/main.fmf
  tests/run/profile/profiles/test/check.yaml
  tests/run/profile/profiles/test/contact.yaml
  tests/run/profile/profiles/test/environment.yaml
  tests/run/profile/profiles/test/test.yaml
  tests/run/profile/test.sh
  tmt/_compat/pydantic.py
  tmt/cli/_root.py
  tmt/container/__init__.py
  tmt/log.py
  tmt/profiles.py
  tmt/utils/__init__.py
Owners: none

Update tests/execute/unresponsive/test.sh
  tests/execute/unresponsive/test.sh
Owners: none

Update tmt/steps/execute/internal.py
  tmt/steps/execute/internal.py
Owners: none

Update tmt/steps/execute/internal.py
  tmt/steps/execute/internal.py
Owners: none

Test should error out if pulling from guest fails
  docs/releases.rst
  tests/execute/unresponsive/data/.fmf/version
  tests/execute/unresponsive/data/unresponsive.fmf
  tests/execute/unresponsive/main.fmf
  tests/execute/unresponsive/test.sh
  tmt/steps/execute/internal.py
Owners: none

Update pre-commit check versions and resolve failures
  .pre-commit-config.yaml
  docs/scripts/generate-hardware-matrix.py
  tests/unit/test_utils.py
  tmt/__main__.py
  tmt/base.py
  tmt/checks/__init__.py
  tmt/checks/avc.py
  tmt/checks/coredump.py
  tmt/checks/dmesg.py
  tmt/checks/watchdog.py
  tmt/cli/__init__.py
  tmt/cli/_root.py
  tmt/cli/init.py
  tmt/cli/lint.py
  tmt/cli/trying.py
  tmt/container/__init__.py
  tmt/export/__init__.py
  tmt/frameworks/beakerlib.py
  tmt/frameworks/shell.py
  tmt/hardware.py
  tmt/libraries/__init__.py
  tmt/libraries/file.py
  tmt/log.py
  tmt/package_managers/__init__.py
  tmt/result.py
  tmt/steps/__init__.py
  tmt/steps/discover/fmf.py
  tmt/steps/discover/shell.py
  tmt/steps/prepare/ansible.py
  tmt/steps/prepare/distgit.py
  tmt/steps/prepare/feature/environment_profile.py
  tmt/steps/prepare/feature/epel.py
  tmt/steps/prepare/feature/fips.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/mrack.py
  tmt/steps/provision/testcloud.py
  tmt/steps/report/html.py
  tmt/steps/report/junit.py
  tmt/trying.py
  tmt/utils/wait.py
Owners: @dav-pascual, @lbrabec, @falconizmi

Add renovatebot
  .github/renovate.json
Owners: none

Add renovatebot (#2923)
  .github/renovate.json
Owners: none

Use the `display` report plugin to display results during execution
  tests/test/check/data/main.fmf
  tmt/steps/execute/internal.py
  tmt/steps/report/display.py
  tmt/utils/templates.py
Owners: none

squash: why did I use unbreakable space?
  tmt/steps/report/display.py
Owners: none

squash: address comments and tests
  tests/discover/tests.sh
  tests/execute/ignore-duration/test.sh
  tests/execute/restraint/compatible/test.sh
  tests/execute/restraint/report-result/test.sh
  tests/execute/result/basic.sh
  tests/execute/result/check.sh
  tests/execute/result/custom.sh
  tests/test/check/data/main.fmf
  tmt/steps/execute/internal.py
  tmt/steps/report/display.py
  tmt/utils/templates.py
Owners: none

squash: address comments
  tmt/utils/templates.py
Owners: none
