Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi

Try to handle Content-Disposition more cleverly
  tmt/utils/url.py
Owners: none

Use `iter_content` to download the file
  tmt/utils/url.py
Owners: none

Move provision tests to run on Fedora-latest
  .packit.yaml
Owners: none

Update the references to bash completion
  stories/cli/usability.fmf
Owners: none

Move re.compile() to module level so its only comuted once.
  tmt/base.py
Owners: none

Use re.compile beforehand and change (?mi) to flags=...
  tmt/base.py
Owners: none

Address PR comments Make detect_missing_required_properties more readable Make DRY the detect functions
  tmt/base.py
Owners: none

Improve lint output for missing required properties The linter now provides specific warnings when required properties are missing, including the schema ID.
  tests/lint/plan/data/missing_required.fmf
  tests/lint/plan/test.sh
  tmt/base.py
Owners: none

Download files locally using `response.iter_content` (#4210)
  tmt/steps/discover/fmf.py
  tmt/utils/git.py
  tmt/utils/url.py
Owners: none

Enables B904 rule and adds 'from' clause to exception handlers
  docs/conf.py
  pyproject.toml
  tmt/ansible.py
  tmt/base.py
  tmt/checks/__init__.py
  tmt/checks/avc.py
  tmt/config/__init__.py
  tmt/convert.py
  tmt/export/__init__.py
  tmt/export/nitrate.py
  tmt/export/polarion.py
  tmt/libraries/beakerlib.py
  tmt/log.py
  tmt/package_managers/bootc.py
  tmt/result.py
  tmt/steps/__init__.py
  tmt/steps/discover/fmf.py
  tmt/steps/discover/shell.py
  tmt/steps/prepare/distgit.py
  tmt/steps/prepare/install.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/artemis.py
  tmt/steps/provision/mrack.py
  tmt/steps/provision/podman.py
  tmt/steps/provision/testcloud.py
  tmt/templates/__init__.py
  tmt/utils/__init__.py
  tmt/utils/git.py
  tmt/utils/structured_field.py
Owners: @KwisatzHaderach, @happz, @dav-pascual, @lbrabec

Removes 'error' from raise messages and first round of 'error' naming alignment
  tmt/base.py
  tmt/config/__init__.py
  tmt/export/nitrate.py
  tmt/log.py
  tmt/package_managers/bootc.py
  tmt/steps/discover/fmf.py
  tmt/steps/prepare/distgit.py
  tmt/steps/provision/mrack.py
  tmt/steps/provision/testcloud.py
  tmt/utils/__init__.py
Owners: @dav-pascual, @lbrabec

Second round of 'error' naming alignment. Opportunistically removes some more formatted errors.
  docs/scripts/generate-test-runner-guest-matrix.py
  tmt/utils/__init__.py
  tmt/utils/templates.py
Owners: none

More sanitization of exception messages by removing remaining formatted 'error'
  tmt/base.py
  tmt/convert.py
  tmt/steps/discover/shell.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/testcloud.py
  tmt/utils/__init__.py
Owners: @lbrabec

Fixes unit test, from clause should set __cause__ directly
  tests/unit/test_cli.py
Owners: none

Support loading tests from recipe file
  docs/releases.rst
  tests/recipe/generation/data/.fmf/version
  tests/recipe/generation/data/main.fmf
  tests/recipe/generation/data/recipe.yaml
  tests/recipe/generation/data/tests.fmf
  tests/recipe/generation/main.fmf
  tests/recipe/generation/test.sh
  tests/recipe/loading/data/.fmf/version
  tests/recipe/loading/data/main.fmf
  tests/recipe/loading/data/simple.yaml
  tests/recipe/loading/main.fmf
  tests/recipe/loading/test.sh
  tmt/base.py
  tmt/cli/_root.py
  tmt/recipe.py
  tmt/schemas/discover/fmf.yaml
  tmt/schemas/discover/shell.yaml
  tmt/steps/__init__.py
  tmt/steps/discover/__init__.py
  tmt/steps/discover/fmf.py
  tmt/steps/discover/shell.py
  tmt/utils/__init__.py
Owners: none

Add support for `ignore-pattern` key in AVC check
  tests/test/check/data/main.fmf
  tests/test/check/test-avc.sh
  tmt/checks/avc.py
Owners: none

squash: address comments
  tests/test/check/data/main.fmf
  tests/test/check/test-avc.sh
Owners: none

squash: add release note
  docs/releases.rst
Owners: none

add logger parameter to creator methods
  tests/unit/artifact/test_repository.py
  tmt/steps/prepare/artifact/providers/__init__.py
Owners: none

change the class structure
  tests/unit/artifact/test_repository.py
  tmt/steps/prepare/artifact/providers/__init__.py
Owners: none

Add Repository Class with Tests
  tests/unit/artifact/test_repository.py
  tmt/steps/prepare/artifact/providers/__init__.py
Owners: none

design change from code review
  tests/unit/artifact/test_repository.py
  tmt/steps/prepare/artifact/providers/__init__.py
Owners: none

use root_logger fixture and full variable names
  tests/unit/artifact/test_repository.py
  tmt/steps/prepare/artifact/providers/__init__.py
Owners: none

add suggestions from code reveiw
  tests/unit/artifact/test_repository.py
  tmt/steps/prepare/artifact/providers/__init__.py
Owners: none

sanitize file name
  tmt/steps/prepare/artifact/providers/__init__.py
Owners: none

Apply suggestion from @graphite-app[bot]
  tmt/steps/prepare/artifact/providers/__init__.py
Owners: none

squash: fix pre-commit
  tmt/recipe.py
Owners: none

Add Repository Class with Tests (#4205)
  tests/unit/artifact/test_repository.py
  tmt/steps/prepare/artifact/providers/__init__.py
Owners: none

squash: tweaks
  tmt/steps/context/__init__.py
  tmt/steps/context/abort.py
  tmt/steps/context/reboot.py
  tmt/steps/context/restart.py
  tmt/steps/execute/internal.py
Owners: none

squash: tweaks
  tmt/steps/context/reboot.py
  tmt/steps/context/restart.py
  tmt/steps/execute/internal.py
Owners: none

Extract reboot and restart-related info into their own containers
  tmt/checks/internal/abort.py
  tmt/checks/watchdog.py
  tmt/steps/context/abort.py
  tmt/steps/context/reboot.py
  tmt/steps/context/restart.py
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
Owners: none

squash: fix minor issues
  tmt/steps/context/restart.py
  tmt/steps/execute/internal.py
Owners: none

Add ids all tests, not just finished
  docs/releases.rst
  tests/execute/pending-ids/data/.fmf/version
  tests/execute/pending-ids/data/main.fmf
  tests/execute/pending-ids/main.fmf
  tests/execute/pending-ids/test.sh
  tmt/base.py
  tmt/result.py
  tmt/steps/execute/__init__.py
Owners: none

Add initial test for artifact plugin
  tests/prepare/artifact/data/.fmf/version
  tests/prepare/artifact/data/plan.fmf
  tests/prepare/artifact/data/post_artifact_check.sh
  tests/prepare/artifact/data/pre_artifact_check.sh
  tests/prepare/artifact/data/test.fmf
  tests/prepare/artifact/data/test_require.sh
  tests/prepare/artifact/main.fmf
  tests/prepare/artifact/test.sh
Owners: none

Add a basic implementation
  tmt/steps/prepare/artifact/__init__.py
Owners: none

Initial draft of ArtifactPlugin
  tests/core/about/test.sh
  tmt/schemas/prepare/artifact.yaml
  tmt/steps/prepare/artifact/__init__.py
Owners: none

implement glob, url and directory support
  tests/unit/artifact/test_file.py
  tmt/steps/prepare/artifact/providers/file.py
Owners: none

docs: updated docstring to only reflect fmf snippet
  tmt/steps/prepare/artifact/providers/file.py
Owners: none

implement glob, url and directory support
  tmt/steps/prepare/artifact/providers/file.py
Owners: none

chore: rename info and provider classes and rpms to packages
  tmt/steps/prepare/artifact/providers/file.py
Owners: none
