Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

Push guest topology just once
  tmt/guest/__init__.py
  tmt/steps/__init__.py
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
  tmt/steps/prepare/shell.py
  tmt/steps/provision/__init__.py
Owners: none

Make sure the ssh master process is up and running after reboot (#5069)
  docs/overview.rst
  tests/execute/duration/test.sh
  tests/execute/unresponsive/test.sh
  tmt/guest/__init__.py
  tmt/steps/execute/__init__.py
  tmt/steps/finish/__init__.py
  tmt/steps/prepare/__init__.py
Owners: none

Override install NVRs
  tmt/steps/prepare/artifact/__init__.py
Owners: none

Skip an XFAIL due to the need of --nobest
  tests/prepare/artifact/install-cases.sh
Owners: none

Use whatprovides in `verify-artifact-packages`
  tmt/package_managers/dnf.py
Owners: none

fix typo
  tmt/steps/prepare/artifact/__init__.py
Owners: none

More comments
  tmt/steps/prepare/artifact/__init__.py
Owners: none

Move the NVR override at the `prepare/install` step
  tmt/steps/prepare/artifact/__init__.py
  tmt/steps/prepare/install.py
Owners: none

Document the NVR override feature
  docs/releases/pending/5089.fmf
  tmt/steps/prepare/artifact/__init__.py
Owners: none

Extend coverage of verify-installation
  tests/prepare/artifact/verify-installation.sh
Owners: none

Adjust tests that are now passing
  tests/prepare/artifact/install-cases.sh
  tests/prepare/artifact/install-cases/verified-artifacts/pre-installed.fmf
Owners: none

Move the xfail to all versions
  tests/prepare/artifact/install-cases.sh
Owners: none

Use specific NVRs when installing artifacts (#5089)
  docs/releases/pending/5089.fmf
  tests/prepare/artifact/install-cases.sh
  tests/prepare/artifact/install-cases/verified-artifacts/pre-installed.fmf
  tests/prepare/artifact/verify-installation.sh
  tmt/package_managers/dnf.py
  tmt/steps/prepare/artifact/__init__.py
  tmt/steps/prepare/install.py
Owners: none

Make essential_requires guest aware
  tmt/steps/__init__.py
  tmt/steps/execute/internal.py
  tmt/steps/prepare/__init__.py
  tmt/steps/prepare/ansible.py
  tmt/steps/prepare/artifact/__init__.py
  tmt/steps/prepare/feature/__init__.py
  tmt/steps/provision/__init__.py
Owners: none

Use plain rpm -q for nevras on centos7
  tmt/package_managers/dnf.py
Owners: none

Handle remaining complicated yum cases
  tests/prepare/artifact/install-cases.sh
Owners: none

Enable testing on centos7
  tests/prepare/artifact/install-cases.sh
Owners: none

Install yum-plugin-priorities
  tmt/steps/prepare/artifact/__init__.py
Owners: none

Narrow xfail cases
  tests/prepare/artifact/install-cases.sh
Owners: none

Added a helper to deduplicate code
  tmt/steps/prepare/artifact/providers/__init__.py
  tmt/steps/prepare/artifact/providers/copr_build.py
  tmt/steps/prepare/artifact/providers/file.py
  tmt/steps/prepare/artifact/providers/koji.py
Owners: none

Redefine a no-op method in base class with logic
  tmt/steps/prepare/artifact/__init__.py
  tmt/steps/prepare/artifact/providers/__init__.py
  tmt/steps/prepare/artifact/providers/copr_build.py
  tmt/steps/prepare/artifact/providers/copr_repository.py
  tmt/steps/prepare/artifact/providers/file.py
  tmt/steps/prepare/artifact/providers/koji.py
  tmt/steps/prepare/artifact/providers/repository.py
  tmt/steps/prepare/artifact/providers/repository_url.py
Owners: none

cp must not fail when no RPMs exist in the source directory
  tmt/steps/prepare/artifact/providers/copr_build.py
  tmt/steps/prepare/artifact/providers/file.py
  tmt/steps/prepare/artifact/providers/koji.py
Owners: none

Enhanced exception catching, added test
  tests/prepare/artifact/providers/file/test.sh
  tmt/steps/prepare/artifact/providers/copr_build.py
  tmt/steps/prepare/artifact/providers/file.py
  tmt/steps/prepare/artifact/providers/koji.py
Owners: none

Fail with clear error when no RPMs are downloaded
  tmt/steps/prepare/artifact/providers/__init__.py
Owners: none

Fix indentation
  tmt/steps/prepare/artifact/providers/__init__.py
Owners: none

Apply suggestions from code review
  tests/prepare/artifact/providers/file/test.sh
  tmt/steps/prepare/artifact/providers/__init__.py
Owners: none

Add Jira export and report plugins
  docs/releases/pending/jira.fmf
  stories/cli/test.fmf
  tests/report/jira/data/.fmf/version
  tests/report/jira/data/main.fmf
  tests/report/jira/main.fmf
  tests/report/jira/test.sh
  tests/test/export/test.sh
  tests/unit/test_export_jira.py
  tests/unit/test_report_jira.py
  tmt/cli/_root.py
  tmt/export/jira.py
  tmt/schemas/report/jira.yaml
  tmt/steps/report/jira.py
Owners: none

Fix failed download and copy of artifact rpms (#5108)
  tests/prepare/artifact/providers/file/test.sh
  tmt/steps/prepare/artifact/__init__.py
  tmt/steps/prepare/artifact/providers/__init__.py
  tmt/steps/prepare/artifact/providers/copr_build.py
  tmt/steps/prepare/artifact/providers/copr_repository.py
  tmt/steps/prepare/artifact/providers/file.py
  tmt/steps/prepare/artifact/providers/koji.py
  tmt/steps/prepare/artifact/providers/repository.py
  tmt/steps/prepare/artifact/providers/repository_url.py
Owners: none

squash: change comment
  tmt/steps/prepare/shell.py
Owners: none

Fix finish/shell scripts never running in image mode
  docs/releases/pending/4917.fmf
  tests/prepare/shell/test.sh
  tmt/guest/__init__.py
  tmt/steps/finish/shell.py
  tmt/steps/prepare/shell.py
Owners: none

Fix `timedelta` creation in `Waiting.time_over`
  tmt/utils/wait.py
Owners: none

ty as yet another type checker
  .pre-commit-config.yaml
  pyproject.toml
  tmt/guest/__init__.py
Owners: none

squash: fix test
  tests/core/source-script/test.sh
Owners: none

squash: fixing fixed test
  tests/core/source-script/test.sh
Owners: none

Plan source script shall be guest-specific file
  tmt/base/plan.py
  tmt/guest/__init__.py
  tmt/steps/execute/__init__.py
  tmt/steps/prepare/shell.py
  tmt/steps/provision/local.py
Owners: none

Re-enable linkcheck for no-color.org
  docs/conf.py
Owners: none

Drop explicit envvar handling from reportportal keys
  tmt/steps/report/reportportal.py
Owners: @4N0body5

Defer log record formatting until after filters
  tmt/log.py
Owners: none

Make color and other logging method params keyword-only
  examples/plugins/example/provision.py
  tmt/base/plan.py
  tmt/guest/__init__.py
  tmt/libraries/beakerlib.py
  tmt/log.py
  tmt/package_managers/__init__.py
  tmt/package_managers/bootc.py
  tmt/package_managers/dnf.py
  tmt/package_managers/rpm_ostree.py
  tmt/steps/__init__.py
  tmt/steps/cleanup/__init__.py
  tmt/steps/discover/__init__.py
  tmt/steps/discover/fmf.py
  tmt/steps/execute/__init__.py
  tmt/steps/execute/upgrade.py
  tmt/steps/finish/__init__.py
  tmt/steps/prepare/__init__.py
  tmt/steps/prepare/ansible.py
  tmt/steps/prepare/feature/__init__.py
  tmt/steps/prepare/install.py
  tmt/steps/prepare/shell.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/artemis.py
  tmt/steps/provision/connect.py
  tmt/steps/provision/local.py
  tmt/steps/provision/mock.py
  tmt/steps/provision/mrack.py
  tmt/steps/provision/podman.py
  tmt/steps/provision/testcloud.py
  tmt/steps/report/__init__.py
  tmt/steps/report/junit.py
  tmt/steps/report/polarion.py
  tmt/steps/report/reportportal.py
  tmt/utils/__init__.py
Owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5

Let `finish` step run before `report`
  tmt/steps/__init__.py
Owners: none

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi
