Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

squash: fixing tests
  tests/status/base/test.sh
  tests/steps/select/test.sh
  tmt/steps/__init__.py
Owners: none

squash: fix test
  tests/plan/show/test.sh
Owners: none

squash: some changes
  agents/AGENTS.md
  tests/login/debug.sh
  tmt/steps/__init__.py
Owners: none

squash: address comment
  tests/login/step.sh
Owners: none

squash: fix test
  tests/login/step.sh
Owners: none

squash: Apply suggestion from @bajertom
  tests/steps/select/test.sh
Owners: none

Adding a basic code profiler
  tmt/utils/_profiler.py
Owners: none

squash: fix diff
  tmt/policy.py
Owners: none

squash: fix import
  tmt/policy.py
Owners: none

squash: fix diff
  tmt/policy.py
  tmt/utils/signals.py
Owners: none

squash: readd missing file
  tmt/utils/signals.py
Owners: none

squash: better backward compatibility
  tmt/base/core.py
  tmt/utils/templates.py
Owners: none

Use difflib for nicer display of changes by adjust and policies
  tmt/base/core.py
  tmt/policy.py
  tmt/utils/templates.py
Owners: none

squash: update tests
  tests/unit/test_filesystem.py
  tmt/utils/filesystem.py
Owners: none

Polish copy_tree implementations
  tests/unit/test_filesystem.py
  tmt/utils/filesystem.py
Owners: none

squash: a bit of debugging for CI
  tests/unit/test_filesystem.py
Owners: none

squash: root is not god!
  tests/unit/test_filesystem.py
Owners: none

squash: still not a god
  tests/unit/test_filesystem.py
Owners: none

squash: fix test
  tests/unit/test_filesystem.py
Owners: none

squash: address comments
  tests/unit/test_filesystem.py
  tmt/utils/filesystem.py
Owners: none

Add rsync-based "copy tree" strategy
  tests/unit/test_filesystem.py
  tmt/libraries/beakerlib.py
  tmt/steps/discover/__init__.py
  tmt/steps/discover/fmf.py
  tmt/utils/filesystem.py
Owners: none

squash: git ignore != ignore .git
  tests/unit/test_filesystem.py
  tmt/base/plan.py
  tmt/steps/discover/fmf.py
  tmt/utils/filesystem.py
Owners: none

squash: add tests
  tests/unit/test_filesystem.py
  tmt/utils/filesystem.py
Owners: none

squash: fix tests
  tests/unit/test_filesystem.py
Owners: none

Add support for excluding files based on .gitignore to copy_tree
  tmt/base/plan.py
  tmt/steps/discover/fmf.py
  tmt/utils/filesystem.py
Owners: none

squash: post-rebase
  tests/unit/test_filesystem.py
Owners: none

squash: fix test
  tests/recipe/generate.sh
Owners: none

Save disabled phases in `recipe.yaml`
  tests/recipe/data/import.yaml
  tmt/recipe.py
Owners: none

squash: preserve the original `require`, `recommend` and `context`
  tests/recipe/data/rerun.yaml
  tests/recipe/generate.sh
  tmt/base/core.py
  tmt/base/run.py
  tmt/recipe.py
  tmt/trying.py
Owners: @falconizmi

Rename enable_repo/disable_repo package manager methods
  tmt/package_managers/__init__.py
  tmt/package_managers/apk.py
  tmt/package_managers/apt.py
  tmt/package_managers/bootc.py
  tmt/package_managers/dnf.py
  tmt/package_managers/mock.py
  tmt/package_managers/rpm_ostree.py
Owners: none

squash: forgot about package managers
  tmt/package_managers/__init__.py
  tmt/package_managers/bootc.py
  tmt/steps/prepare/feature/crb.py
  tmt/steps/prepare/feature/epel.py
Owners: none

squash: forgot about disable_repo
  tmt/package_managers/__init__.py
  tmt/package_managers/bootc.py
  tmt/steps/prepare/feature/crb.py
  tmt/steps/prepare/feature/epel.py
Owners: none

squash: renames in tests
  tests/unit/test_package_managers.py
Owners: none

Add a background thread fetching guest logs periodically
  tmt/guest/__init__.py
  tmt/steps/cleanup/internal.py
  tmt/steps/provision/artemis.py
  tmt/steps/provision/local.py
  tmt/steps/provision/mock.py
  tmt/steps/provision/mrack.py
  tmt/steps/provision/podman.py
  tmt/steps/provision/testcloud.py
Owners: @happz, @dav-pascual, @lbrabec

squash: update tests
  tests/recipe/data/insert.yaml
  tests/recipe/data/local.yaml
  tests/recipe/data/minimal.yaml
  tests/recipe/data/remote.yaml
Owners: none

squash: address comments
  tmt/guest/__init__.py
Owners: none

Fix finish/shell scripts never running in image mode (#5125)
  docs/releases/pending/4917.fmf
  tests/prepare/shell/test.sh
  tmt/guest/__init__.py
  tmt/steps/finish/shell.py
  tmt/steps/prepare/shell.py
Owners: none

squash: address comments
  tests/unit/test_utils.py
  tmt/package_managers/dnf.py
  tmt/package_managers/mock.py
  tmt/utils/__init__.py
Owners: none

squash: post-rebase
  tmt/utils/__init__.py
Owners: none

Add "frozen" variant of Command class, for base commands
  tests/unit/test_utils.py
  tmt/package_managers/__init__.py
  tmt/package_managers/apk.py
  tmt/package_managers/apt.py
  tmt/package_managers/bootc.py
  tmt/package_managers/dnf.py
  tmt/package_managers/mock.py
  tmt/package_managers/rpm_ostree.py
  tmt/steps/prepare/distgit.py
  tmt/utils/__init__.py
Owners: none

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi
