Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi

mock provision: Improve mock shell missing returncode handling
  tmt/steps/provision/mock.py
Owners: none

mock provision: Raise mock package manager probe priority over bootc
  tmt/package_managers/mock.py
Owners: none

mock provision: Refactor
  tmt/steps/provision/mock.py
Owners: none

mock provision: Implement delete option on file push
  tmt/steps/provision/mock.py
Owners: none

mock provision: Add tmt-mock test requirement
  tests/provision/mock/main.fmf
Owners: none

mock provision: Improve code-level documentation
  tmt/steps/provision/mock.py
Owners: none

mock provision: Make command finish detection more reliable
  tmt/steps/provision/mock.py
Owners: none

mock provision: make detection of finished processes more deterministic
  tmt/steps/provision/mock.py
Owners: none

mock provision: Keep polling for returncode_fd until an exit value is read
  tmt/steps/provision/mock.py
Owners: none

Send SIGHUP to podman-executed tests
  tmt/steps/provision/podman.py
Owners: none

Use uname -m instead of arch for architecture detection
  tmt/guest/__init__.py
Owners: none

Fix python3.15 issues (#4966)
  tests/finish/ansible/test.sh
  tests/prepare/ansible/test.sh
  tmt/container/__init__.py
Owners: none

Adjust and document the `dry` mode implementation
  docs/guide.rst
  stories/cli/common.fmf
  tmt/guest/__init__.py
  tmt/steps/discover/__init__.py
  tmt/steps/discover/fmf.py
  tmt/steps/discover/shell.py
  tmt/steps/prepare/ansible.py
  tmt/steps/prepare/artifact/__init__.py
  tmt/steps/prepare/distgit.py
  tmt/steps/prepare/feature/__init__.py
  tmt/steps/prepare/shell.py
  tmt/steps/provision/artemis.py
  tmt/steps/provision/mock.py
  tmt/steps/provision/podman.py
  tmt/steps/report/html.py
  tmt/steps/report/polarion.py
  tmt/steps/report/reportportal.py
Owners: @happz, @KwisatzHaderach, @4N0body5

squash: addressing tests
  tests/provision/beaker/data/main.fmf
  tmt/hardware/constraints.py
  tmt/hardware/requirements.py
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

squash: tests
  tests/unit/provision/mrack/test_hw.py
Owners: none

Remove boilerplate needed for hardware requirement parsers
  tests/unit/test_hardware.py
  tmt/hardware/constraints.py
  tmt/hardware/requirements.py
Owners: none

squash: more tests
  tests/unit/provision/mrack/test_hw.py
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

squash: more test fixes
  tests/unit/provision/mrack/test_hw.py
  tmt/hardware/requirements.py
Owners: none

Refine warning message
  tmt/steps/discover/fmf.py
Owners: none

Do not perform a dist-git-merge if not requested
  tmt/steps/discover/fmf.py
Owners: none

Add release note
  docs/releases/pending/4973.fmf
Owners: none

Address review comments
  tmt/steps/discover/fmf.py
Owners: none

Adjust tests
  tests/discover/distgit.sh
Owners: none

Simplify discover's _fetch_local_repository
  tmt/steps/discover/fmf.py
Owners: none

We always want `test_dir` as the source for dist-git
  tmt/steps/discover/fmf.py
Owners: none

Forward source and reason to the warning
  tmt/utils/__init__.py
Owners: none

Move logging helpers to dedicated class
  tmt/log.py
  tmt/utils/__init__.py
Owners: none

Move more logging helpers to helper class
  tmt/log.py
  tmt/utils/__init__.py
Owners: none

Add helper property to define the logging sources
  tmt/log.py
Owners: none

Define a default format for _logging_source
  tmt/log.py
Owners: none

Adjust the logging source for fmf-tied objects
  tmt/base/core.py
  tmt/base/plan.py
Owners: none

Split HasParent to dedicate class
  tmt/log.py
  tmt/utils/__init__.py
Owners: none

Address comment
  docs/releases/pending/4973.fmf
  tmt/steps/discover/fmf.py
Owners: none

Use factory pattern when creating instances of HW constraint classes
  tmt/hardware/constraints.py
  tmt/hardware/requirements.py
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

add checkfirst tests
  tests/prepare/install/data/check-first-partial.fmf
  tests/prepare/install/data/check-first.fmf
  tests/prepare/install/test.sh
  tmt/package_managers/__init__.py
Owners: none

Format release note again
  docs/releases/pending/4973.fmf
  tmt/steps/discover/fmf.py
Owners: none

Another format issue
  tmt/steps/discover/fmf.py
Owners: none

Use test tree consistently with dist-git fmf (#4973)
  docs/releases/pending/4973.fmf
  tests/discover/distgit.sh
  tmt/steps/discover/fmf.py
Owners: none

Fixup #4966: Fix python3.15 issues
  tests/finish/ansible/test.sh
  tests/prepare/ansible/test.sh
Owners: none

Fixup #4966: Fix python3.15 issues (#4983)
  tests/finish/ansible/test.sh
  tests/prepare/ansible/test.sh
Owners: none
