Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi

Initial coderabbit config yaml
  .coderabbit.yaml
Owners: none

squash:try
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

Used already existing helper function
  tmt/steps/discover/fmf.py
  tmt/utils/git.py
Owners: none

Add better links and reduce tldr to a note
  README.rst
Owners: none

Initial coderabbit config yaml (#3700)
  .coderabbit.yaml
Owners: none

Support '--dry' param to `bootc` plugin
  tmt/steps/provision/bootc.py
Owners: none

squash: no indent
  tmt/steps/provision/bootc.py
Owners: none

squash:extend test
  tests/provision/bootc/test.sh
Owners: none

more feedback addressing
  tmt/utils/filesystem.py
Owners: none

squash: Update tmt/utils/filesystem.py
  tmt/utils/filesystem.py
Owners: none

Tests, docstrings and fixes as per feedback
  tests/unit/test_filesystem.py
  tmt/steps/discover/fmf.py
  tmt/utils/filesystem.py
Owners: none

Use reflinks opportunistically for directory copy
  tests/unit/test_filesystem.py
  tmt/libraries/beakerlib.py
  tmt/steps/discover/fmf.py
  tmt/utils/filesystem.py
Owners: none

RST stuff
  tmt/utils/filesystem.py
Owners: none

squash: remove incorrect asserts
  tmt/steps/discover/fmf.py
Owners: none

squash: symlink_to according to docs
  tests/unit/test_filesystem.py
Owners: none

squash:update
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

Add test for changing workdirroot with virtual plugin
  tests/execute/workdirroot/.fmf/version
  tests/execute/workdirroot/data/main.fmf
  tests/execute/workdirroot/main.fmf
  tests/execute/workdirroot/test.sh
Owners: none

squash:update
  tests/execute/workdirroot/main.fmf
Owners: none

squash:last try
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

squash:update
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

squash:try
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

squash:fix
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

squash:fmf:(
  tests/execute/workdirroot/data/.fmf/version
Owners: none

Add first steps guidance to `README` (#3755)
  README.rst
Owners: none

bootc: change context folder of image buildling
  tmt/package_managers/bootc.py
  tmt/steps/prepare/install.py
Owners: none

bootc: change context folder of image buildling (#3724)
  tmt/package_managers/bootc.py
  tmt/steps/prepare/install.py
Owners: none

Move an empty line
  docs/contribute.rst
Owners: none

Adds review GitHub tab to Contribute guide
  docs/contribute.rst
Owners: none

Add review GitHub tab to Contribute guide (#3772)
  docs/contribute.rst
Owners: none

squash: verbose fail
  tests/prepare/feature/basic/test.sh
Owners: none

Allow classes to provide custom class for unserialization
  tests/prepare/feature/basic/data/.fmf/version
  tests/prepare/feature/basic/data/main.fmf
  tests/prepare/feature/basic/main.fmf
  tests/prepare/feature/basic/test.sh
  tmt/container/__init__.py
  tmt/steps/prepare/feature/__init__.py
Owners: none

squash: fix misleading info
  tests/prepare/feature/basic/main.fmf
  tmt/steps/prepare/feature/__init__.py
Owners: none

Update renovate config, format pre-commig config
  .github/renovate.json
  .pre-commit-config.yaml
Owners: none

Enable yamllint for many more YAML files we have
  .hadolint.yaml
  .packit.yaml
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  .readthedocs.yaml
  tmt/config/themes/default.yaml
  tmt/steps/provision/mrack/mrack-provisioning-config.yaml
Owners: @dav-pascual

Migrate renovate config, add auto-migration
  .github/renovate.json
Owners: none

Introduce a new label `ci | skip` for disabling tests
  .packit.yaml
  docs/contribute.rst
Owners: none

Disable the docs test as well
  .github/workflows/doc-tests.yml
Owners: none

Allow classes to provide custom class for unserialization (#3739)
  tests/prepare/feature/basic/data/.fmf/version
  tests/prepare/feature/basic/data/main.fmf
  tests/prepare/feature/basic/main.fmf
  tests/prepare/feature/basic/test.sh
  tmt/container/__init__.py
  tmt/steps/prepare/feature/__init__.py
Owners: none

Link the `extra` key specification in the release note
  docs/releases.rst
Owners: none

Allow the use of `extra-` metadata key prefix for custom keys
  docs/releases.rst
  spec/core/extra.fmf
  tests/core/extra/data/.fmf/version
  tests/core/extra/data/main.fmf
  tests/core/extra/main.fmf
  tests/core/extra/test.sh
  tmt/base.py
  tmt/schemas/discover/shell.yaml
  tmt/schemas/plan.yaml
  tmt/schemas/story.yaml
  tmt/schemas/test.yaml
Owners: none
