Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi

Add a new `Sprints` section to the `Contribute` page
  docs/contribute.rst
Owners: none

Fix typo
  docs/contribute.rst
Owners: none

Explicitly
  docs/contribute.rst
Owners: none

Use `Sprint day` to make the numbering more clear
  docs/contribute.rst
Owners: none

Add support for Immediate Auto-Analysis to the `reportportal` plugin
  docs/releases.rst
  tmt/schemas/report/reportportal.yaml
  tmt/steps/report/reportportal.py
Owners: @4N0body5

squash: guest variable
  tmt/steps/report/reportportal.py
Owners: @4N0body5

Add a new `Sprints` section to the `Contribute` page (#4194)
  docs/contribute.rst
  docs/releases.rst
Owners: none

Add typing helpers for STEPS and ACTIONS
  tmt/base.py
  tmt/steps/__init__.py
Owners: none

No need to explictly narrow-type
  tmt/base.py
Owners: none

Add compat for TypeGuards
  pyproject.toml
  tmt/_compat/typing.py
Owners: none

Rename the typeguards
  tmt/steps/__init__.py
Owners: none

Add missing banned-api
  pyproject.toml
Owners: none

Drop TypeIs guard
  pyproject.toml
  tmt/_compat/typing.py
Owners: none

Better naming
  tmt/base.py
  tmt/steps/__init__.py
Owners: none

Add install_repository and list_packages function to package manager
  tmt/package_managers/__init__.py
  tmt/package_managers/dnf.py
Owners: none

repository provider changes to use package manager and new repository class
  tmt/steps/prepare/artifact/providers/repository.py
Owners: none

fix circular import
  tmt/package_managers/__init__.py
Owners: none

Add abc all-around
  tmt/container/__init__.py
  tmt/export/__init__.py
  tmt/frameworks/__init__.py
  tmt/hardware.py
  tmt/package_managers/__init__.py
  tmt/plugins/plan_shapers/__init__.py
  tmt/queue.py
  tmt/steps/__init__.py
  tmt/steps/discover/__init__.py
  tmt/steps/execute/__init__.py
  tmt/steps/prepare/feature/__init__.py
  tmt/steps/prepare/install.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/mrack.py
  tmt/utils/__init__.py
Owners: @dav-pascual

Add from_spec to Links
  tmt/base.py
Owners: none

Ignore a genuine type-annotation issue for now
  tmt/steps/provision/__init__.py
Owners: none

Add a MockGuest for unit test
  tests/unit/test_guest.py
Owners: none

Make ProvisionTask concrete
  tmt/steps/provision/__init__.py
Owners: none

Remove prepare_repository method
  tmt/steps/prepare/install.py
Owners: none

Type ignore known mypy limitations
  tmt/base.py
  tmt/steps/__init__.py
Owners: none

Make DependencyFile concrete
  tmt/base.py
Owners: none

fixed package manager issue
  tmt/package_managers/__init__.py
  tmt/package_managers/dnf.py
Owners: none

poc completed
  tmt/steps/cleanup/internal.py
Owners: none

Add install_repository and list_packages function to package manager
  tmt/package_managers/__init__.py
  tmt/package_managers/dnf.py
Owners: none

Implement the repository Provider Class
  tmt/steps/prepare/artifact/providers/repository.py
Owners: none

Add install_repository and list_packages function to package manager
  tmt/package_managers/__init__.py
  tmt/package_managers/dnf.py
Owners: none

add suggestions from code review
  tmt/package_managers/__init__.py
  tmt/package_managers/dnf.py
Owners: none

Use `Literal` and `TypeGuard`s (#4148)
  pyproject.toml
  tmt/_compat/typing.py
  tmt/base.py
  tmt/steps/__init__.py
Owners: none

Initial draft of ArtifactPlugin
  tmt/schemas/prepare/artifact.yaml
  tmt/steps/prepare/artifact/__init__.py
Owners: none

remove from id prefixes
  tmt/steps/prepare/artifact/providers/koji.py
Owners: none

remove from id prefixes
  tmt/steps/prepare/artifact/providers/koji.py
Owners: none

Document PrepareArtifact
  docs/releases.rst
  tmt/steps/prepare/artifact/__init__.py
Owners: none

remove from id prefixes
  tmt/steps/prepare/artifact/providers/brew.py
Owners: none

Update tests/unit/artifact/test_brew.py
  tests/unit/artifact/test_brew.py
Owners: none

remove from id prefixes
  tmt/steps/prepare/artifact/providers/brew.py
Owners: none

add release comment and mention version
  docs/releases.rst
  spec/plans/ansible.fmf
  spec/plans/provision.fmf
Owners: none
