Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

Use `ruamel.yaml.clib` as default (#4712)
  pylock.toml
  pyproject.toml
  tests/plan/export/test.sh
  tmt/base/core.py
  tmt/steps/report/reportportal.py
  tmt/utils/__init__.py
  uv.lock
Owners: @4N0body5

address comments from code review
  tmt/steps/prepare/artifact/__init__.py
  tmt/steps/prepare/artifact/providers/__init__.py
  tmt/steps/prepare/artifact/providers/copr_build.py
  tmt/steps/prepare/artifact/providers/file.py
  tmt/steps/prepare/artifact/providers/koji.py
  tmt/steps/prepare/verify_installation.py
  tmt/utils/__init__.py
Owners: none

change artifact to map to a particular repo_id
  tests/unit/artifact/test_base.py
  tests/unit/artifact/test_copr_repository.py
  tests/unit/artifact/test_file.py
  tmt/package_managers/_rpm.py
  tmt/package_managers/dnf.py
  tmt/steps/prepare/artifact/__init__.py
  tmt/steps/prepare/artifact/providers/__init__.py
Owners: none

Fix repo_ids tracking in artifact providers and verify-installation
  tests/prepare/artifact/nvr-priority/data/tc11.fmf
  tests/unit/artifact/test_base.py
  tmt/steps/prepare/artifact/__init__.py
  tmt/steps/prepare/artifact/providers/__init__.py
  tmt/steps/prepare/artifact/providers/copr_build.py
  tmt/steps/prepare/artifact/providers/file.py
  tmt/steps/prepare/artifact/providers/koji.py
  tmt/steps/prepare/verify_installation.py
  tmt/utils/__init__.py
Owners: none

address comments
  tmt/steps/prepare/artifact/__init__.py
Owners: none

address comments from cris
  tmt/package_managers/dnf.py
  tmt/steps/prepare/artifact/__init__.py
  tmt/steps/prepare/artifact/providers/__init__.py
  tmt/steps/prepare/verify_installation.py
Owners: none

change whitespace delim to ;
  tmt/package_managers/dnf.py
Owners: none

add whatprovides resolution to verify-install plugin
  tmt/steps/prepare/artifact/__init__.py
  tmt/steps/prepare/verify_installation.py
Owners: none

Addressed next round of review comments
  .packit.yaml
  tests/images.sh
  tests/prepare/install/test.sh
Owners: none

The images should be newline separated
  tests/images.sh
Owners: none

Revert "Use for to iterate over a space delimited string"
  tests/prepare/install/test.sh
Owners: none

Use for to iterate over a space delimited string
  tests/prepare/install/test.sh
Owners: none

Fixes #4606
  .packit.yaml
  plans/provision/virtual.fmf
  tests/images.sh
  tests/prepare/bootc/data/.fmf/version
  tests/prepare/bootc/data/plans.fmf
  tests/prepare/bootc/data/test.fmf
  tests/prepare/bootc/main.fmf
  tests/prepare/bootc/test.sh
  tests/prepare/install/data/reboot-persistence.fmf
  tests/prepare/install/main.fmf
  tests/prepare/install/test.sh
  tests/prepare/recommend/main.fmf
  tests/prepare/recommend/test.sh
  tests/prepare/shell/main.fmf
  tests/prepare/shell/test.sh
Owners: none

Move the is_image mode test next to is_ostree
  tests/prepare/install/test.sh
Owners: none

Address review comments, improve prepare/shell test
  tests/prepare/install/test.sh
  tests/prepare/recommend/test.sh
  tests/prepare/shell/data/multiple.fmf
  tests/prepare/shell/test.sh
Owners: none

Address a few review comments
  tests/prepare/install/test.sh
  tests/prepare/shell/test.sh
Owners: none

Fix some tests
  tests/prepare/install/test.sh
Owners: none

Fix tests
  tests/prepare/install/test.sh
Owners: none

fix tests
  tests/prepare/install/test.sh
Owners: none

Update .packit.yaml
  .packit.yaml
Owners: none

Fix prepare shell tests
  tests/prepare/shell/test.sh
Owners: none

More anchors in packit.yaml, do not run irrelevants plans in image mode
  .packit.yaml
  plans/provision/virtual.fmf
Owners: none

Fix shell tests
  tests/prepare/shell/data/multiple.fmf
  tests/prepare/shell/test.sh
Owners: none

Move feature plugin package installs to Python for image mode support
  tmt/guest/__init__.py
  tmt/steps/prepare/feature/epel-disable.yaml
  tmt/steps/prepare/feature/epel-enable.yaml
  tmt/steps/prepare/feature/epel.py
  tmt/steps/prepare/feature/fips-enable.yaml
  tmt/steps/prepare/feature/fips.py
Owners: none

Resolve ArtifactInfo.location overloading for verify-installation (#4798)
  tests/prepare/artifact/nvr-priority/data/tc11.fmf
  tests/unit/artifact/test_base.py
  tests/unit/artifact/test_copr_repository.py
  tests/unit/artifact/test_file.py
  tmt/package_managers/_rpm.py
  tmt/package_managers/dnf.py
  tmt/steps/prepare/artifact/__init__.py
  tmt/steps/prepare/artifact/providers/__init__.py
  tmt/steps/prepare/artifact/providers/copr_build.py
  tmt/steps/prepare/artifact/providers/koji.py
  tmt/steps/prepare/verify_installation.py
  tmt/utils/__init__.py
Owners: none

To/from "state" helpers for tmt state files
  docs/overview.rst
  spec/results.fmf
  tmt/base/core.py
  tmt/cli/about.py
  tmt/export/_json.py
  tmt/frameworks/beakerlib.py
  tmt/package_managers/bootc.py
  tmt/steps/__init__.py
  tmt/steps/cleanup/__init__.py
  tmt/steps/discover/__init__.py
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
  tmt/steps/finish/__init__.py
  tmt/steps/prepare/__init__.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/mrack.py
  tmt/trying.py
  tmt/utils/__init__.py
Owners: @dav-pascual, @falconizmi

squash: address comments
  tmt/steps/finish/__init__.py
  tmt/utils/__init__.py
Owners: none

squash: post-rebase fixes
  tmt/base/core.py
  tmt/export/_json.py
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

squash: fix extra conversion
  tmt/steps/__init__.py
  tmt/steps/discover/__init__.py
  tmt/steps/provision/__init__.py
Owners: none

squash: preserved workdir members
  tmt/steps/__init__.py
  tmt/steps/cleanup/__init__.py
  tmt/steps/discover/__init__.py
  tmt/steps/execute/__init__.py
  tmt/steps/prepare/__init__.py
  tmt/steps/provision/__init__.py
Owners: none

squash: rehaul
  tmt/base/core.py
  tmt/steps/__init__.py
  tmt/steps/cleanup/__init__.py
  tmt/steps/discover/__init__.py
  tmt/steps/execute/__init__.py
  tmt/steps/finish/__init__.py
  tmt/steps/prepare/__init__.py
  tmt/steps/provision/__init__.py
  tmt/trying.py
  tmt/utils/__init__.py
Owners: @falconizmi

squash: post-rebase
  tmt/package_managers/bootc.py
Owners: none

squash: fix tests
  tests/execute/result/custom.sh
Owners: none

squash: renaming
  tmt/steps/finish/__init__.py
  tmt/utils/__init__.py
Owners: none

To/from "state" helpers for tmt state files (#4486)
  docs/overview.rst
  spec/results.fmf
  tests/execute/result/custom.sh
  tmt/base/core.py
  tmt/cli/about.py
  tmt/export/_json.py
  tmt/frameworks/beakerlib.py
  tmt/package_managers/bootc.py
  tmt/steps/__init__.py
  tmt/steps/cleanup/__init__.py
  tmt/steps/discover/__init__.py
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
  tmt/steps/finish/__init__.py
  tmt/steps/prepare/__init__.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/mrack.py
  tmt/trying.py
  tmt/utils/__init__.py
Owners: @dav-pascual, @falconizmi

The images should be newline separated
  tests/images.sh
Owners: none

fix tests
  tests/prepare/install/test.sh
Owners: none

Fix prepare shell tests
  tests/prepare/shell/test.sh
Owners: none

Fix shell tests
  tests/prepare/shell/data/multiple.fmf
  tests/prepare/shell/test.sh
Owners: none

Update .packit.yaml
  .packit.yaml
Owners: none

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi
