Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi

squash: add PROVISION_HOW and right tags
  tests/execute/restraint/tmt-abort/data/plan.fmf
  tests/execute/restraint/tmt-abort/test.sh
  tests/execute/tmt-scripts/data/plan.fmf
  tests/execute/tmt-scripts/main.fmf
  tests/execute/tmt-scripts/test.sh
Owners: none

squash: moar fixes
  tests/execute/tmt-scripts/test.sh
Owners: none

Refactoring task queue, part 1
  tmt/_compat/pydantic.py
  tmt/queue.py
  tmt/steps/__init__.py
  tmt/steps/execute/__init__.py
  tmt/steps/finish/__init__.py
  tmt/steps/prepare/__init__.py
  tmt/steps/provision/__init__.py
Owners: none

Switch tests from rawhide to fedora/latest where possible (#3959)
  tests/execute/restraint/tmt-abort/data/plan.fmf
  tests/execute/restraint/tmt-abort/test.sh
  tests/execute/tmt-scripts/data/plan.fmf
  tests/execute/tmt-scripts/main.fmf
  tests/execute/tmt-scripts/test.sh
  tests/prepare/recommend/test.sh
  tests/provision/become/data/main.fmf
  tests/provision/become/test.sh
  tests/provision/user/test.sh
Owners: none

Use `nmap` for testing, `pcre` is not available on `el10`
  tests/discover/data/add-tmt-test.patch
  tests/discover/distgit.sh
Owners: none

Require `hatch` only for `/tests/unit/with-development-packages/*` tests
  tests/unit/main.fmf
  tests/unit/test.sh
Owners: none

Disable unit tests with system packages on `epel-10`
  tests/unit/main.fmf
Owners: none

The time has come to enable the `epel-10` building
  .packit.yaml
Owners: none

Update `latest-targets`, add a short release note
  .packit.yaml
  docs/releases.rst
Owners: none

Enable the `epel-10` building and testing (#3234)
  .packit.yaml
  docs/releases.rst
  tests/discover/data/add-tmt-test.patch
  tests/discover/distgit.sh
  tests/unit/main.fmf
  tests/unit/test.sh
Owners: none

Rename --max option to --max-tests-per-plan with deprecation
  tests/run/max/main.fmf
  tests/run/max/test.sh
  tmt/plugins/plan_shapers/max_tests.py
Owners: none

squash: Update tmt/plugins/plan_shapers/max_tests.py
  tmt/plugins/plan_shapers/max_tests.py
Owners: none

Rename --max option to --max-tests-per-plan with deprecation (#3950)
  tests/run/max/main.fmf
  tests/run/max/test.sh
  tmt/plugins/plan_shapers/max_tests.py
Owners: none

Use proper sdist in `packit srpm`
  .packit.yaml
Owners: none

squash: use existing connect timeout
  tmt/steps/provision/__init__.py
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

Detect and report an unreachable guest
  tmt/steps/provision/__init__.py
  tmt/steps/provision/artemis.py
  tmt/steps/provision/connect.py
  tmt/steps/provision/local.py
  tmt/steps/provision/mrack.py
  tmt/steps/provision/podman.py
  tmt/steps/provision/testcloud.py
Owners: @happz, @dav-pascual, @lbrabec

Use proper sdist in `packit srpm` (#3961)
  .packit.yaml
Owners: none

add info logging to git references
  tests/discover/references.sh
  tmt/steps/discover/fmf.py
  tmt/steps/discover/shell.py
  tmt/utils/git.py
Owners: none

Support `bootc` installation for `mrack` plugin (#3728)
  tmt/schemas/provision/beaker.yaml
  tmt/steps/provision/mrack.py
  tmt/utils/__init__.py
Owners: @dav-pascual

squash: polish
  tests/provision/beaker/data/main.fmf
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

squash: update according to cursor feedback
  tests/provision/beaker/bootc.sh
  tests/provision/beaker/data/main.fmf
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

squash:paas
  tmt/schemas/provision/beaker.yaml
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

squash:update
  tests/provision/beaker/bootc.sh
  tests/provision/beaker/data/main.fmf
  tmt/schemas/provision/beaker.yaml
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

squash:extend test
  tests/provision/beaker/bootc.sh
  tests/provision/beaker/data/main.fmf
  tests/provision/beaker/main.fmf
Owners: none

Improve test coverage
  tests/unit/test_cli_actions.py
  tests/unit/test_try.py
  tmt/trying.py
Owners: @falconizmi

log git head-commit-ref in info verbosity
  tests/discover/references.sh
  tmt/utils/git.py
Owners: none

Include a realease note for 1.56
  docs/releases.rst
Owners: none

Add journald config, simplify, match other checks
  tmt/checks/journal.py
Owners: none

Update tmt/checks/journal.py
  tmt/checks/journal.py
Owners: none

Update tmt/checks/journal.py
  tmt/checks/journal.py
Owners: none

Check for journal.txt in config test
  tests/test/check/test-journal.sh
Owners: none

Add tests, update release notes, refactor
  docs/releases.rst
  tests/test/check/data/main.fmf
  tests/test/check/test-journal.sh
  tmt/checks/journal.py
Owners: none

Update tmt/checks/journal.py
  tmt/checks/journal.py
Owners: none

Fix test failing on incorrect grep, simplify if condition
  tests/test/check/test-journal.sh
  tmt/checks/journal.py
Owners: none

Use hints_as_notes, add hint `systemd-not-available`
  tmt/checks/journal.py
  tmt/utils/hints.py
Owners: none

Fix incorrect release version
  docs/releases.rst
Owners: none

Unmangle output by removing the command prefix
  tests/unit/test_cli_actions.py
  tmt/trying.py
Owners: @falconizmi

chore: removed unintentional line commit
  tmt/trying.py
Owners: @falconizmi

Unmask actual error in th output
  tests/unit/test_cli_actions.py
  tmt/trying.py
Owners: @falconizmi

Enable persistent storage for the `journal` test check (#3934)
  docs/releases.rst
  tests/test/check/data/main.fmf
  tests/test/check/test-journal.sh
  tmt/checks/journal.py
  tmt/utils/hints.py
Owners: none
