Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi

Update container targets
  Makefile
  containers/fedora/44/Containerfile
  containers/fedora/44/Containerfile.unprivileged
  containers/fedora/44/Containerfile.upstream
  containers/fedora/45
  tests/images.sh
Owners: none

Add f44 target
  tests/images.sh
  tests/prepare/install/test.sh
  tests/unit/__init__.py
  tests/unit/test_package_managers.py
Owners: none

Simplify package manager test branching
  tests/prepare/install/test.sh
Owners: none

Bring back make target
  Makefile
Owners: none

Drop F42 targets
  Makefile
  containers/fedora/42/Containerfile
  containers/fedora/42/Containerfile.unprivileged
  containers/fedora/42/Containerfile.upstream
  tests/images.sh
  tests/unit/__init__.py
  tests/unit/test_package_managers.py
Owners: none

Remove boilerplate needed for hardware requirement parsers
  tests/unit/test_hardware.py
  tmt/hardware/constraints.py
  tmt/hardware/requirements.py
Owners: none

squash: addressing tests
  tests/provision/beaker/data/main.fmf
  tmt/hardware/constraints.py
  tmt/hardware/requirements.py
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

squash: more test fixes
  tests/unit/provision/mrack/test_hw.py
  tmt/hardware/requirements.py
Owners: none

squash: more tests
  tests/unit/provision/mrack/test_hw.py
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

squash: tests
  tests/unit/provision/mrack/test_hw.py
Owners: none

Include traceback when reporting import errors
  tmt/__main__.py
Owners: none

squash: provide space for commands
  tmt/base/plan.py
Owners: none

Separate ingestion of environment from fmf keys and CLI options
  tmt/base/plan.py
  tmt/base/run.py
  tmt/utils/__init__.py
Owners: none

squash: update test
  tests/execute/result/basic.sh
Owners: none

Test result duration is not reset by test restarts or guest reboots
  tmt/checks/avc.py
  tmt/checks/dmesg.py
  tmt/checks/journal.py
  tmt/result.py
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
  tmt/steps/prepare/ansible.py
  tmt/steps/prepare/shell.py
  tmt/utils/__init__.py
Owners: none

squash: release note
  docs/releases/pending/4928.fmf
Owners: none

squash: some changes
  agents/AGENTS.md
  tests/login/debug.sh
  tmt/steps/__init__.py
Owners: none

squash: fixing tests
  tests/status/base/test.sh
  tests/steps/select/test.sh
  tmt/steps/__init__.py
Owners: none

squash: fix test
  tests/plan/show/test.sh
Owners: none

Let `finish` step run before `report`
  tmt/steps/__init__.py
Owners: none

squash: forgot about package managers
  tmt/package_managers/__init__.py
  tmt/package_managers/bootc.py
  tmt/steps/prepare/feature/crb.py
  tmt/steps/prepare/feature/epel.py
Owners: none

Rename enable_repo/disable_repo package manager methods
  tmt/package_managers/__init__.py
  tmt/package_managers/apk.py
  tmt/package_managers/apt.py
  tmt/package_managers/bootc.py
  tmt/package_managers/dnf.py
  tmt/package_managers/mock.py
  tmt/package_managers/rpm_ostree.py
Owners: none

squash: forgot about disable_repo
  tmt/package_managers/__init__.py
  tmt/package_managers/bootc.py
  tmt/steps/prepare/feature/crb.py
  tmt/steps/prepare/feature/epel.py
Owners: none

squash: renames in tests
  tests/unit/test_package_managers.py
Owners: none

Drop explicit envvar handling from reportportal keys
  tmt/steps/report/reportportal.py
Owners: @4N0body5

Environment variables defined in code
  tmt/guest/__init__.py
  tmt/steps/discover/fmf.py
  tmt/steps/discover/shell.py
  tmt/steps/execute/__init__.py
  tmt/steps/prepare/distgit.py
  tmt/steps/prepare/shell.py
  tmt/steps/provision/local.py
  tmt/utils/__init__.py
Owners: none

Update container testing (#4925)
  Makefile
  containers/fedora/42/Containerfile
  containers/fedora/44/Containerfile
  containers/fedora/44/Containerfile.unprivileged
  containers/fedora/44/Containerfile.upstream
  containers/fedora/45
  tests/images.sh
  tests/prepare/install/test.sh
  tests/unit/__init__.py
  tests/unit/test_package_managers.py
Owners: none

Lower unused plugin envvar messages from warning to debug log level
  tests/cli/plugin-envvars/test.sh
  tmt/steps/__init__.py
Owners: none

Split links away from tmt.base.core
  tests/unit/test_utils.py
  tmt/base/__init__.py
  tmt/base/core.py
  tmt/base/links.py
  tmt/base/plan.py
  tmt/cli/_root.py
  tmt/recipe.py
  tmt/steps/discover/shell.py
  tmt/utils/jira.py
Owners: none

squash: typos
  tmt/base/core.py
  tmt/utils/jira.py
Owners: none

squash: fix docs
  docs/ext/tmt_domain/story.py
  tests/unit/test_base.py
Owners: none

squash: import cycles
  tmt/base/__init__.py
  tmt/base/core.py
  tmt/base/links.py
Owners: none

squash: drop needless imports
  tmt/recipe.py
Owners: none

squash: moar wrong imports
  tmt/steps/discover/fmf.py
Owners: none

squash: forgotten import
  tmt/base/core.py
Owners: none

Move engine-specific notes from Options docstrings
  tmt/package_managers/__init__.py
  tmt/package_managers/dnf.py
Owners: none

PrepareError for allow_erasing under YumEngine
  tmt/package_managers/dnf.py
Owners: none

Extend Options with allow_erasing and allow_downgrade
  tmt/package_managers/__init__.py
  tmt/package_managers/dnf.py
Owners: none

Split links away from tmt.base.core (#4901)
  docs/ext/tmt_domain/story.py
  tests/unit/test_base.py
  tests/unit/test_utils.py
  tmt/base/__init__.py
  tmt/base/core.py
  tmt/base/links.py
  tmt/base/plan.py
  tmt/cli/_root.py
  tmt/recipe.py
  tmt/steps/discover/fmf.py
  tmt/steps/discover/shell.py
  tmt/utils/jira.py
Owners: none

PrepareError for allow_erasing under YumEngine
  tmt/package_managers/dnf.py
Owners: none
