Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi

Change unit test to pytest and move fixtures to conftest
  tests/unit/conftest.py
  tests/unit/test_id.py
Owners: none

Use difflib for nicer display of changes by adjust and policies
  tmt/base.py
  tmt/policy.py
  tmt/utils/templates.py
Owners: none

Extract abort-related properties from test invocation
  tmt/checks/internal/abort.py
  tmt/steps/abort.py
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
Owners: none

Refactor plan fmf context composition
  tmt/base.py
  tmt/result.py
  tmt/steps/__init__.py
  tmt/steps/discover/fmf.py
  tmt/steps/execute/__init__.py
  tmt/steps/report/html/template.html.j2
  tmt/steps/report/polarion.py
  tmt/steps/report/reportportal.py
  tmt/utils/__init__.py
Owners: @KwisatzHaderach, @4N0body5

Refactoring task queue, part 1
  tmt/queue.py
  tmt/steps/__init__.py
  tmt/steps/execute/__init__.py
  tmt/steps/finish/__init__.py
  tmt/steps/prepare/__init__.py
  tmt/steps/provision/__init__.py
Owners: none

squash: post-rebase polishing
  tmt/checks/avc.py
  tmt/checks/dmesg.py
  tmt/utils/hints.py
Owners: none

Dmesg and AVC check add note explaining `skip` outcome
  tests/test/check/test-dmesg.sh
  tmt/checks/__init__.py
  tmt/checks/avc.py
  tmt/checks/dmesg.py
  tmt/utils/hints.py
Owners: none

Change test_export_to_nitrate.py to pytest
  tests/unit/conftest.py
  tests/unit/test_export_to_nitrate.py
Owners: none

Custom `ssh` options should have precedence (#3908)
  tests/provision/ssh-options/test.sh
  tmt/steps/provision/__init__.py
Owners: none

Temporarily disable the `avc` check
  tests/main.fmf
Owners: none

Temporarily disable the `avc` test check (#3923)
  tests/main.fmf
Owners: none

Rename existing prunning test, add basic coverage for guest cleanup
  spec/plans/cleanup.fmf
  tests/cleanup/guest/data/.fmf/version
  tests/cleanup/guest/data/plan.fmf
  tests/cleanup/guest/main.fmf
  tests/cleanup/guest/test.sh
  tests/cleanup/prune/data/.fmf/version
  tests/cleanup/prune/data/plan.fmf
  tests/cleanup/prune/data/test.fmf
  tests/cleanup/prune/main.fmf
  tests/cleanup/prune/test.sh
Owners: none

Fix a typo
  docs/releases.rst
Owners: none

Add docs, spec, schema, release note
  docs/Makefile
  docs/plugins/cleanup-header.inc.rst
  docs/plugins/index.rst
  docs/releases.rst
  docs/scripts/generate-plugins.py
  spec/plans/cleanup.fmf
  tmt/schemas/cleanup/tmt.yaml
  tmt/schemas/plan.yaml
  tmt/steps/cleanup/internal.py
Owners: none

A couple more test adjustments, copy & paste typos
  tests/login/step.sh
  tests/login/test.sh
  tmt/steps/cleanup/__init__.py
Owners: none

Remove the new `guest` and `workdir` options
  tmt/steps/cleanup/__init__.py
  tmt/steps/cleanup/internal.py
Owners: none

No actions during the `cleanup` step at all
  tmt/steps/__init__.py
  tmt/steps/cleanup/__init__.py
Owners: none

Typing plus some other adjustments
  tmt/steps/cleanup/__init__.py
Owners: none

Adjust test coverage
  .gitignore
  tests/clean/guests/test.sh
  tests/clean/runs/test.sh
  tests/login/step.sh
  tests/multihost/provision/test.sh
  tests/prepare/install/test.sh
  tests/run/remove/test.sh
  tests/status/base/test.sh
  tmt/steps/provision/podman.py
Owners: none

Implement the new `cleanup` step
  tmt/base.py
  tmt/cli/_root.py
  tmt/steps/__init__.py
  tmt/steps/cleanup/__init__.py
  tmt/steps/cleanup/internal.py
  tmt/steps/finish/__init__.py
Owners: none

Enable back the `avc` test check
  tests/main.fmf
Owners: none

Implement the new `cleanup` step (#3904)
  .gitignore
  docs/Makefile
  docs/plugins/cleanup-header.inc.rst
  docs/plugins/index.rst
  docs/releases.rst
  docs/scripts/generate-plugins.py
  spec/plans/cleanup.fmf
  tests/clean/guests/test.sh
  tests/clean/runs/test.sh
  tests/cleanup/guest/data/.fmf/version
  tests/cleanup/guest/data/plan.fmf
  tests/cleanup/guest/main.fmf
  tests/cleanup/guest/test.sh
  tests/cleanup/prune/data/.fmf/version
  tests/cleanup/prune/data/plan.fmf
  tests/cleanup/prune/data/test.fmf
  tests/cleanup/prune/main.fmf
  tests/cleanup/prune/test.sh
  tests/login/step.sh
  tests/login/test.sh
  tests/multihost/provision/test.sh
  tests/prepare/install/test.sh
  tests/run/remove/test.sh
  tests/status/base/test.sh
  tmt/base.py
  tmt/cli/_root.py
  tmt/schemas/cleanup/tmt.yaml
  tmt/schemas/plan.yaml
  tmt/steps/__init__.py
  tmt/steps/cleanup/__init__.py
  tmt/steps/cleanup/internal.py
  tmt/steps/finish/__init__.py
  tmt/steps/provision/podman.py
Owners: none

Add suggestions from code review
  tests/unit/conftest.py
  tests/unit/test_export_to_nitrate.py
  tests/unit/test_id.py
  tests/unit/test_utils.py
Owners: none

Hide the install script command from verbose output
  tmt/steps/provision/__init__.py
Owners: none

Remove `rsync --version` from the verbose output
  tests/execute/basic/test.sh
  tests/execute/output/data/.fmf/version
  tests/execute/output/data/main.fmf
  tests/execute/output/main.fmf
  tests/execute/output/test.sh
  tmt/steps/provision/__init__.py
Owners: none

add suggestions from code review
  tests/unit/conftest.py
  tests/unit/test_export_to_nitrate.py
  tests/unit/test_id.py
Owners: none

Hide helper script commands from the verbose output (#3907)
  tests/execute/basic/test.sh
  tests/execute/output/data/.fmf/version
  tests/execute/output/data/main.fmf
  tests/execute/output/main.fmf
  tests/execute/output/test.sh
  tmt/steps/provision/__init__.py
Owners: none

Describe Ansible inventory generation feature
  spec/plans/ansible.fmf
  spec/plans/provision.fmf
Owners: none

removed provision.ansible from example and add outcomme to provision.fmf
  spec/plans/ansible.fmf
  spec/plans/provision.fmf
Owners: none

Fix indent, separate examples, minor adjustments
  spec/plans/ansible.fmf
  spec/plans/provision.fmf
Owners: none

replica comment
  spec/plans/ansible.fmf
Owners: none

update
  spec/plans/ansible.fmf
  spec/plans/provision.fmf
Owners: none

Describe Ansible inventory generation feature (#3796)
  spec/plans/ansible.fmf
  spec/plans/provision.fmf
Owners: none

Update wording
  tmt/steps/discover/__init__.py
Owners: none

squash: use `results_for_tests` method
  tmt/steps/discover/__init__.py
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
  tmt/steps/execute/upgrade.py
Owners: none

Add list of required tests
  docs/releases.rst
  tests/discover/main.fmf
  tests/discover/required-tests.sh
  tests/discover/required-tests/.fmf/version
  tests/discover/required-tests/plans.fmf
  tests/discover/required-tests/tests.fmf
  tests/execute/required-tests/data/.fmf/version
  tests/execute/required-tests/data/plans.fmf
  tests/execute/required-tests/data/tests.fmf
  tests/execute/required-tests/main.fmf
  tests/execute/required-tests/test.sh
  tmt/schemas/discover/fmf.yaml
  tmt/schemas/discover/shell.yaml
  tmt/steps/discover/__init__.py
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
  tmt/steps/execute/upgrade.py
Owners: none

Use a singular form `require-test` for the new key
  docs/releases.rst
  tests/discover/main.fmf
  tests/discover/require-test.sh
  tests/discover/require-test/.fmf/version
  tests/discover/require-test/plans.fmf
  tests/discover/require-test/tests.fmf
  tests/execute/require-test/data/.fmf/version
  tests/execute/require-test/data/plans.fmf
  tests/execute/require-test/data/tests.fmf
  tests/execute/require-test/main.fmf
  tests/execute/require-test/test.sh
  tmt/schemas/discover/fmf.yaml
  tmt/schemas/discover/shell.yaml
  tmt/steps/discover/__init__.py
Owners: none

Allow to `require-test` during test discovery and execution (#3915)
  docs/releases.rst
  tests/discover/main.fmf
  tests/discover/require-test.sh
  tests/discover/require-test/.fmf/version
  tests/discover/require-test/plans.fmf
  tests/discover/require-test/tests.fmf
  tests/execute/require-test/data/.fmf/version
  tests/execute/require-test/data/plans.fmf
  tests/execute/require-test/data/tests.fmf
  tests/execute/require-test/main.fmf
  tests/execute/require-test/test.sh
  tmt/schemas/discover/fmf.yaml
  tmt/schemas/discover/shell.yaml
  tmt/steps/discover/__init__.py
  tmt/steps/execute/__init__.py
Owners: none

Add the new `cleanup` step to `tmt try` as well
  tests/try/basic/test.sh
  tmt/trying.py
Owners: @falconizmi

Moved documentation section based on review
  docs/plugins/provision-header.inc.rst
  docs/releases.rst
Owners: none
