Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi

Expand example to include schemas
  examples/plugins/example/__init__.py
  examples/plugins/example/discover.py
  examples/plugins/example/provision.py
  examples/plugins/example/schemas/discover/example.yaml
  examples/plugins/example/schemas/provision/example.yaml
  examples/plugins/pyproject.toml
  tests/plugins/data/.fmf/version
  tests/plugins/data/main.fmf
  tests/plugins/test.sh
Owners: none

Document new feature
  docs/code/plugin-introduction.rst
  docs/releases.rst
Owners: none

Fix pyright complaint
  tmt/templates/__init__.py
Owners: none

Fix permission of the tmp path
  tests/run/permissions/test.sh
Owners: none

Do not alter the actual `/var/tmp/tmt` in test
  tests/run/permissions/test.sh
Owners: none

Use non-existing WORKDIR_ROOT to check creation
  tests/run/permissions/test.sh
Owners: none

Do not alter the actual `/var/tmp/tmt` in `/tests/run/permissions` (#4041)
  tests/run/permissions/test.sh
Owners: none

Get rid of the `awk` dependency on guests
  docs/releases.rst
  tmt/steps/execute/internal.py
  tmt/steps/scripts/tmt-reboot
  tmt/steps/scripts/tmt-reboot-core
  tmt/steps/scripts/tmt-report-result
Owners: none

Adjust the release note
  docs/releases.rst
Owners: none

Adjust release notes a bit
  docs/releases.rst
Owners: none

Drop `awk` from the `Guest Preparation` section
  docs/guide/guest-preparation.inc.rst
Owners: none

Delete an empty line
  tmt/steps/report/polarion.py
Owners: @KwisatzHaderach

Transform x86_64 to x8664 for Polarion report compatibility
  tmt/steps/report/polarion.py
Owners: @KwisatzHaderach

Transform `x86_64` to `x8664` for Polarion report compatibility (#4044)
  tmt/steps/report/polarion.py
Owners: @KwisatzHaderach

Make test more specific to look for a html file
  tests/report/html/test.sh
Owners: none

Extend html report schema to include file key
  tests/report/html/data/main.fmf
  tests/report/html/test.sh
  tmt/schemas/report/html.yaml
Owners: none

Extend `html` report schema to include `file` key (#4049)
  tests/report/html/data/main.fmf
  tests/report/html/test.sh
  tmt/schemas/report/html.yaml
Owners: none

Unify ActionInfo and Action
  tmt/trying.py
Owners: @falconizmi

Use command + shortcut for actions, remove ambiguity
  tmt/trying.py
Owners: @falconizmi

Rename to PromptHandler, return early in prompt cmds
  tmt/trying.py
Owners: @falconizmi

Implement priorities and groups by ActionInfo atrributes
  tmt/trying.py
Owners: @falconizmi

Add hidden commands
  tmt/trying.py
Owners: @falconizmi

Update docs of the generic action.exp script
  tests/try/basic/data/action.exp
Owners: none

Add Action class with ActionMeta metaclass
  tmt/trying.py
Owners: @falconizmi

Move to container, use set instead of list for commands
  tmt/trying.py
Owners: @falconizmi

Update tmt/trying.py
  tmt/trying.py
Owners: @falconizmi

Fix issues from review
  tmt/trying.py
Owners: @falconizmi

Check for conflict for existing commands
  tmt/trying.py
Owners: @falconizmi

Add exit_loop attribute
  tmt/trying.py
Owners: @falconizmi

Fix the bug introduced by the previous change
  tmt/trying.py
Owners: @falconizmi

Keep the menu docs the same
  tmt/trying.py
Owners: @falconizmi

Fix setting verbose/debug for multiple plans
  tests/try/basic/data/action.exp
  tests/try/basic/data/keep.exp
  tests/try/basic/data/plans/multi.fmf
  tests/try/basic/test.sh
  tmt/trying.py
Owners: @falconizmi

Update tests/try/basic/data/action.exp
  tests/try/basic/data/action.exp
Owners: none

Handle verbose and debug via ActionInfo
  tmt/trying.py
Owners: @falconizmi

Implement decorator for defining try actions
  tmt/trying.py
Owners: @falconizmi

Lower command on registering
  tmt/trying.py
Owners: @falconizmi

Add type alias for ActionHandler
  tmt/trying.py
Owners: @falconizmi

Use cached properties, rename menu to menu_item
  tmt/trying.py
Owners: @falconizmi

Update tmt/trying.py
  tmt/trying.py
Owners: @falconizmi

fix menu
  tmt/trying.py
Owners: @falconizmi
