Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

Fix wrong assertion in the tests
  tests/provision/bootc/test.sh
Owners: none

Fix the bootc tests
  tests/package-managers/bootc/test.sh
Owners: none

Check for package existence early during prepare `install` (#4131)
  tests/package-managers/bootc/test.sh
  tests/provision/bootc/test.sh
  tmt/package_managers/bootc.py
  tmt/steps/prepare/install.py
Owners: none

squash: handle noralization of instantiated objects
  tmt/ansible.py
Owners: none

Add support for Ansible inventory file (#3839)
  docs/releases.rst
  spec/plans/ansible.fmf
  spec/plans/provision.fmf
  tests/provision/ansible-inventory/data/.fmf/version
  tests/provision/ansible-inventory/data/incomplete-layout.yaml
  tests/provision/ansible-inventory/data/layout-comprehensive.yaml
  tests/provision/ansible-inventory/data/plan.fmf
  tests/provision/ansible-inventory/data/playbooks/frontend-playbook.yaml
  tests/provision/ansible-inventory/data/playbooks/minimal-playbook.yaml
  tests/provision/ansible-inventory/data/playbooks/ungrouped-playbook.yaml
  tests/provision/ansible-inventory/data/playbooks/webservers-playbook.yaml
  tests/provision/ansible-inventory/main.fmf
  tests/provision/ansible-inventory/test.sh
  tests/recipe/data/recipe.yaml
  tmt/ansible.py
  tmt/base.py
  tmt/schemas/ansible.yaml
  tmt/schemas/common.yaml
  tmt/schemas/plan.yaml
  tmt/schemas/provision/artemis.yaml
  tmt/schemas/provision/beaker.yaml
  tmt/schemas/provision/bootc.yaml
  tmt/schemas/provision/connect.yaml
  tmt/schemas/provision/minute.yaml
  tmt/schemas/provision/virtual.yaml
  tmt/steps/provision/__init__.py
  tmt/steps/provision/local.py
  tmt/steps/provision/podman.py
Owners: none

Improve Koji artifact provider architecture
  tests/unit/artifact/test_koji.py
  tmt/steps/prepare/artifact/providers/koji.py
Owners: none

refactor: remove build_ref alias & instead override build_info
  tmt/steps/prepare/artifact/providers/koji.py
Owners: none

chore: rename generic type variables
  docs/codespell.dic
  tmt/steps/prepare/artifact/providers/koji.py
Owners: none

refactor based on review
  tmt/steps/prepare/artifact/providers/koji.py
Owners: none

Update tmt/steps/prepare/artifact/providers/koji.py
  tmt/steps/prepare/artifact/providers/koji.py
Owners: none

docs: updated documenation
  tmt/steps/prepare/artifact/providers/koji.py
Owners: none

remove from id prefixes
  tmt/steps/prepare/artifact/providers/koji.py
Owners: none

Remap beaker group key for mrack to beaker_job_group
  pyproject.toml
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

add missing mapping fix
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

update group assignment and test
  tests/provision/beaker/dry.sh
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

Refactor Koji artifact provider interface (#4200)
  docs/codespell.dic
  tests/unit/artifact/test_koji.py
  tmt/steps/prepare/artifact/providers/koji.py
Owners: none

Make sure we append to the finalOutputFile
  tmt/steps/scripts/tmt-report-result
Owners: none

Move the special handling to avoid copying
  tmt/steps/scripts/tmt-report-result
Owners: none

Fix filename suffix
  tmt/steps/scripts/tmt-report-result
Owners: none

Make the beakerlib step output predictable
  tmt/steps/scripts/tmt-report-result
Owners: none

Use a more generic `output.txt` name for now
  tests/execute/result/subresults.sh
  tmt/steps/scripts/tmt-report-result
Owners: none

Adjust the tests
  tests/execute/result/subresults.sh
  tests/execute/result/subresults/beaker-phases-subresults.sh
Owners: none

Make the beakerlib step output predictable (#4079)
  tests/execute/result/subresults.sh
  tests/execute/result/subresults/beaker-phases-subresults.sh
  tmt/steps/scripts/tmt-report-result
Owners: none

Fixup narrow-typing
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

Only symlink qcow2 images
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

Handle non-suffixed files and remove some outdated comments
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

Make sure the original image has appropriate selinux
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

Make sure we refresh the symlink target
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

Use a symlink for testcloud local images
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

Use a symlink for testcloud local images (#4089)
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

squash: address comment
  spec/hardware/system.fmf
Owners: none

squash: address comments
  spec/hardware/system.fmf
Owners: none

Parse the `system.type` hardware requirement
  spec/hardware/system.fmf
  tests/unit/provision/mrack/test_hw.py
  tests/unit/test_hardware.py
  tmt/hardware.py
  tmt/schemas/provision/hardware.yaml
Owners: none

squash: address comment
  spec/hardware/system.fmf
Owners: none

squash: update
  spec/hardware/system.fmf
Owners: none

Parse the `system.type` hardware requirement (#3078)
  spec/hardware/system.fmf
  tests/unit/provision/mrack/test_hw.py
  tests/unit/test_hardware.py
  tmt/hardware.py
  tmt/schemas/provision/hardware.yaml
Owners: none

Use explicit `source` in `guest.push()`
  tmt/steps/__init__.py
Owners: none

Push the workdir at the end of the provision step
  tmt/steps/provision/__init__.py
Owners: none

Cover the provision and finish scenario
  tests/login/plan-data/test.sh
Owners: none

Push only essential directories before `login`
  docs/releases.rst
  tests/login/plan-data/data/.fmf/version
  tests/login/plan-data/data/plan.fmf
  tests/login/plan-data/main.fmf
  tests/login/plan-data/test.sh
  tmt/steps/__init__.py
Owners: none

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi
