Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi

Make sure we append to the finalOutputFile
  tmt/steps/scripts/tmt-report-result
Owners: none

Limit EFI handling to Beaker systems only
  docs/releases.rst
  stories/features/reboot.fmf
  tmt/steps/scripts/tmt-reboot
Owners: none

Add Base Structure for repository file artifacts
  tmt/steps/prepare/brand_new_allmighty_install/providers/__init__.py
  tmt/steps/prepare/brand_new_allmighty_install/providers/repository_provider.py
Owners: none

Implement recipe generation
  tests/recipe/data/.fmf/version
  tests/recipe/data/main.fmf
  tests/recipe/data/tests.fmf
  tests/recipe/main.fmf
  tests/recipe/test.sh
  tmt/base.py
  tmt/cli/_root.py
  tmt/recipe.py
Owners: none

Drop no-op elements from `Command`
  tmt/utils/__init__.py
Owners: none

Add a guest-specifc sudo helper
  tmt/steps/provision/__init__.py
Owners: none

Use guest-specific sudo helper
  tmt/checks/avc.py
  tmt/checks/coredump.py
  tmt/checks/dmesg.py
  tmt/checks/journal.py
  tmt/package_managers/apk.py
  tmt/package_managers/apt.py
  tmt/package_managers/bootc.py
  tmt/package_managers/dnf.py
  tmt/package_managers/rpm_ostree.py
  tmt/steps/execute/internal.py
  tmt/steps/prepare/feature/crb.py
  tmt/steps/prepare/shell.py
  tmt/steps/provision/__init__.py
Owners: none

Hook tests to `TMT_PLAN_SOURCED_FILE`
  tmt/steps/execute/internal.py
Owners: none

Hook PrepareShell to `TMT_PLAN_SOURCED_FILE`
  tmt/steps/prepare/shell.py
Owners: none

introduce `TMT_PLAN_SOURCED_FILE`
  tmt/base.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/local.py
  tmt/steps/provision/podman.py
Owners: none

Get rid of the `awk` dependency on guests (#4059)
  docs/guide/guest-preparation.inc.rst
  docs/releases.rst
  tmt/steps/execute/internal.py
  tmt/steps/scripts/tmt-reboot
  tmt/steps/scripts/tmt-reboot-core
  tmt/steps/scripts/tmt-report-result
Owners: none

Implements tmt helper scripts copy under workdir in local provision
  tmt/base.py
  tmt/steps/provision/local.py
Owners: none

Simplifies copy function and scripts_path property set
  tmt/base.py
  tmt/steps/provision/local.py
Owners: none

Adds test coverage for helper scripts
  tests/provision/local/data/.fmf/version
  tests/provision/local/data/plan.fmf
  tests/provision/local/test.sh
Owners: none

Encapsulates scripts copy into a function and extends warning message.
  tmt/base.py
  tmt/steps/provision/local.py
Owners: none

Some fixes about workdir path, extending test and documentation.
  docs/releases.rst
  tests/provision/local/test.sh
  tmt/steps/provision/local.py
Owners: none

Adds new test coverage plus scripts aliases copy
  tests/provision/local/data/test.fmf
  tests/provision/local/data/test.sh
  tests/provision/local/test.sh
  tmt/base.py
Owners: none

Updates file permissions and provides some minor fixes
  tests/provision/local/data/test.sh
  tests/provision/local/test.sh
  tmt/steps/provision/local.py
Owners: none

Avoid the usage of export in local guest, moreover removing unneeded 'plan'.
  docs/releases.rst
  tests/provision/local/test.sh
Owners: none

Check all expected scripts
  tests/provision/local/test.sh
  tmt/steps/scripts.py
Owners: none

Use the new workdir helpers to get rid of the asserts
  tmt/base.py
  tmt/steps/provision/local.py
Owners: none

Updates test script to use running workdir and removes unneded import
  tests/provision/local/test.sh
  tmt/base.py
Owners: none

Some minor fixes
  tmt/base.py
  tmt/steps/provision/local.py
  tmt/steps/scripts.py
Owners: none

Extend coverage, fix case when TMT_SCRIPTS_DIR is used
  tests/provision/local/data/test.fmf
  tests/provision/local/test.sh
  tmt/steps/provision/local.py
Owners: none

Use a better type hint for `self.parent`
  tmt/steps/provision/local.py
Owners: none

Add the forgotten file
  tests/provision/local/data/directly.sh
Owners: none

Implement local change directory action
  docs/releases.rst
  tests/try/basic/data/lcd.exp
  tests/try/basic/test.sh
  tests/unit/test_cli_actions.py
  tmt/trying.py
Owners: @falconizmi

Add helper scripts installation logic to `local` provision (#3978)
  docs/releases.rst
  tests/provision/local/data/.fmf/version
  tests/provision/local/data/directly.sh
  tests/provision/local/data/plan.fmf
  tests/provision/local/data/test.fmf
  tests/provision/local/data/test.sh
  tests/provision/local/test.sh
  tmt/base.py
  tmt/steps/provision/local.py
  tmt/steps/scripts.py
Owners: none

Use a symlink for testcloud local images
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

Make sure we refresh the symlink target
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

Add DeepWiki badge
  README.rst
Owners: none

Workaround hatch-click bug
  .github/actions/setup-docs-env/action.yml
Owners: none

Workaround hatch-click bug (#4088)
  .github/actions/setup-docs-env/action.yml
Owners: none

updates
  tmt/ansible.py
  tmt/base.py
  tmt/schemas/ansible.yaml
  tmt/schemas/common.yaml
  tmt/schemas/plan.yaml
  tmt/schemas/provision/beaker.yaml
  tmt/schemas/provision/virtual.yaml
  tmt/steps/provision/__init__.py
Owners: none

Implement local change directory action
  docs/releases.rst
Owners: none

Add files lost during rebase
  tests/try/basic/data/lcd.exp
  tests/try/basic/test.sh
  tests/unit/test_cli_actions.py
  tmt/trying.py
Owners: @falconizmi

Chore: revert commented code
  tests/try/basic/test.sh
Owners: none

Chore: revert commented code
  tmt/trying.py
Owners: @falconizmi

Extend test coverage
  tests/try/basic/data/lcd.exp
Owners: none

Show list of newly discovered tests by default
  tmt/trying.py
Owners: @falconizmi
