Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

Rewrite remote url for plans as well
  tmt/base.py
Owners: none

squash: apply feedback
  tmt/base.py
Owners: none

Rewrite remote url for plans as well (#3979)
  tmt/base.py
Owners: none

Add 'name' to upgrade schema
  tmt/schemas/execute/upgrade.yaml
Owners: none

Removed expected failing 'name' key recognition
  tests/lint/plan/test.sh
Owners: none

Add `name` key to the `upgrade` execute schema (#4016)
  tests/lint/plan/test.sh
  tmt/schemas/execute/upgrade.yaml
Owners: none

Update .packit.yaml
  .packit.yaml
Owners: none

add missing fusa tests
  .packit.yaml
Owners: none

Use unique identifier
  .packit.yaml
Owners: none

Update identifier
  .packit.yaml
Owners: none

Update tests/unit/main.fmf
  tests/unit/main.fmf
Owners: none

Relax restrictions from https://github.com/teemtee/tmt/pull/3869
  tests/pip/install.fmf
  tests/precommit/main.fmf
  tests/provision/container/toolbox/main.fmf
  tests/unit/main.fmf
Owners: none

Bump pydantic requirement
  .pre-commit-config.yaml
  pyproject.toml
Owners: none

Reskip failing tests and deffer investigation
  tests/pip/install.fmf
  tests/provision/container/toolbox/main.fmf
  tests/unit/main.fmf
Owners: none

Forgot how to math
  tests/pip/install.fmf
  tests/provision/container/toolbox/main.fmf
  tests/unit/main.fmf
Owners: none

Skip chcon if selinux not used by host
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

Bump pydantic requirement (#4015)
  .pre-commit-config.yaml
  pyproject.toml
  tests/pip/install.fmf
  tests/precommit/main.fmf
  tests/provision/container/toolbox/main.fmf
  tests/unit/main.fmf
Owners: none

Add plan and test for `podman` integration testing
  plans/friends/podman.fmf
  tests/provision/container/basic/data/.fmf/version
  tests/provision/container/basic/data/main.fmf
  tests/provision/container/basic/main.fmf
  tests/provision/container/basic/test.sh
Owners: none

Tag with `provision-{only|container}` all provision/container tests
  tests/provision/container/alpine/main.fmf
  tests/provision/container/main.fmf
  tests/provision/container/toolbox/main.fmf
Owners: none

A few other reverts to simplify the diff
  pyproject.toml
  tmt.spec
Owners: none

Add plan and test for container tools integration testing (#4026)
  plans/friends/podman.fmf
  tests/provision/container/alpine/main.fmf
  tests/provision/container/basic/data/.fmf/version
  tests/provision/container/basic/data/main.fmf
  tests/provision/container/basic/main.fmf
  tests/provision/container/basic/test.sh
  tests/provision/container/main.fmf
  tests/provision/container/toolbox/main.fmf
Owners: none

Add release note
  docs/releases.rst
Owners: none

fix issues from review
  tests/provision/connect/test.sh
  tmt/steps/provision/connect.py
Owners: none

Update tmt/steps/__init__.py
  tmt/steps/__init__.py
Owners: none

Apply sudo for reboot command when `become` set
  tests/provision/connect/main.fmf
  tests/provision/connect/test.sh
  tmt/steps/provision/__init__.py
  tmt/steps/provision/connect.py
Owners: none

Use DEFAULT_REBOOT_COMMAND for reboot.
  tests/provision/connect/test.sh
  tmt/steps/__init__.py
  tmt/steps/provision/connect.py
Owners: none

Correct command option type
  tmt/steps/__init__.py
Owners: none

Add back soft reboot debug message
  tmt/steps/provision/connect.py
Owners: none

Implement local change directory action
  docs/releases.rst
  tests/unit/test_cli_actions.py
  tmt/trying.py
Owners: @falconizmi

Update 1.57 release notes to be more specific
  docs/releases.rst
Owners: none

Apply `sudo` for reboot command when `become` set (#3991)
  docs/releases.rst
  tests/provision/connect/main.fmf
  tests/provision/connect/test.sh
  tmt/steps/__init__.py
  tmt/steps/provision/__init__.py
Owners: none

Relax remaining restrictions from https://github.com/teemtee/tmt/pull/3869
  tests/pip/install.fmf
  tests/provision/container/toolbox/main.fmf
  tests/unit/main.fmf
Owners: none

DEBUG: check if cffi 2.0 will cause issues
  tests/pip/install.fmf
Owners: none

Add initial dev plan
  .packit.yaml
  plans/dev/main.fmf
  tests/dev/main.fmf
Owners: none

Move `tmt-lint` to `dev` plan
  .pre-commit-config.yaml
  tests/dev/tmt-lint/main.fmf
Owners: none

Move install plans into `dev` plan
  plans/dev/pip.fmf
  plans/install/main.fmf
  tests/dev/pip/install.fmf
Owners: none

Keep tmt-lint pre-commit for now
  .pre-commit-config.yaml
Owners: none

Support `bootc` installation for `mrack` plugin (#3728)
  tests/provision/beaker/bootc.sh
  tests/provision/beaker/data/main.fmf
  tests/provision/beaker/hardware.sh
  tests/provision/beaker/main.fmf
  tmt/schemas/provision/beaker.yaml
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

squash:address comments
  tests/provision/beaker/data/main.fmf
  tmt/schemas/provision/beaker.yaml
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

Drop click.echo in tmt.cli
  tmt/cli/__init__.py
  tmt/cli/_root.py
  tmt/cli/about.py
  tmt/cli/lint.py
  tmt/log.py
Owners: none

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi
