Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi

Make sure we refresh the symlink target
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

Only symlink qcow2 images
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

Initial draft of ArtifactPlugin
  tmt/schemas/prepare/artifact.yaml
  tmt/steps/prepare/artifact/__init__.py
Owners: none

Copy all scripts as a whole (#4120)
  tmt/base.py
  tmt/steps/provision/__init__.py
Owners: none

Fix mrack translation for fedora-rawhide to use Server variant
  tmt/steps/provision/mrack/mrack-provisioning-config.yaml
Owners: @dav-pascual

Fix mrack translation for fedora-rawhide to use Server variant (#4019)
  tmt/steps/provision/mrack/mrack-provisioning-config.yaml
Owners: @dav-pascual

Update tests/execute/restraint/compatible/test.sh
  tests/execute/restraint/compatible/test.sh
Owners: none

Make sure the original image has appropriate selinux
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

Add `RSTRNT_TASKNAME` environment variable (#4115)
  docs/questions.rst
  docs/releases.rst
  tests/execute/restraint/compatible/data/test.fmf
  tests/execute/restraint/compatible/test.sh
  tmt/steps/execute/internal.py
Owners: none

Make the beakerlib step output predictable
  tmt/steps/scripts/tmt-report-result
Owners: none

Move the special handling to avoid copying
  tmt/steps/scripts/tmt-report-result
Owners: none

Make sure we append to the finalOutputFile
  tmt/steps/scripts/tmt-report-result
Owners: none

Fix filename suffix
  tmt/steps/scripts/tmt-report-result
Owners: none

Adjust the tests
  tests/execute/result/subresults.sh
  tests/execute/result/subresults/beaker-phases-subresults.sh
Owners: none

Make place for general dev plans without tmt
  plans/dev/main.fmf
Owners: none

Keep tmt-lint pre-commit for now
  .pre-commit-config.yaml
Owners: none

Rename dev plans to sanity plans
  .packit.yaml
  plans/install/pip.fmf
  plans/sanity/lint.fmf
  plans/sanity/main.fmf
  plans/sanity/pip.fmf
  tests/plan/import/data/plans.fmf
  tests/plan/import/local-and-remote/main.fmf
  tests/sanity/main.fmf
  tests/sanity/pip/install.fmf
  tests/sanity/tmt-lint/main.fmf
Owners: none

Move install plans into `dev` plan
  plans/dev/pip.fmf
  plans/install/main.fmf
  tests/dev/pip/install.fmf
Owners: none

Keep the old pip install tests
  plans/install/pip.fmf
Owners: none

Re-enable import word check
  tests/plan/import/basic.sh
Owners: none

Move `tmt-lint` to `dev` plan
  .pre-commit-config.yaml
  tests/dev/tmt-lint/main.fmf
Owners: none

Add initial dev plan
  .packit.yaml
  plans/dev/main.fmf
  tests/dev/main.fmf
Owners: none

Point to /plans/remote
  tests/plan/import/local-and-remote/main.fmf
Owners: none

Rename tag
  plans/dev/main.fmf
  tests/dev/tmt-lint/main.fmf
Owners: none

Add back the pip install tests in the dev plans
  plans/dev/pip.fmf
Owners: none

Change back to using `SETUPTOOLS_SCM_PRETEND_VERSION`
  plans/dev/main.fmf
  tests/dev/pip/install.fmf
Owners: none

Change some import plan refrences to teemtee/tests
  tests/core/fmf-id/data/remote-plan-with-invalid-ref.fmf
  tests/core/fmf-id/data/remote-plan-with-valid-ref.fmf
  tests/plan/export/data/plan.fmf
  tests/plan/import/basic.sh
  tests/plan/import/data/plans.fmf
  tests/plan/import/local-and-remote/main.fmf
Owners: none

Ignore PYI059 pre-commit issue
  tmt/container/__init__.py
  tmt/export/__init__.py
Owners: none

Fix RUF059 pre-commit issue
  tests/unit/test_utils.py
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

Realign pre-commit python dependencies
  .pre-commit-config.yaml
Owners: none

Temporarily remove a noqa comment
  tests/unit/conftest.py
Owners: none

Fix FURB116 pre-commit issue
  tmt/steps/provision/__init__.py
Owners: none

Resolve mypy issues that no longer apply
  tmt/_compat/pydantic.py
  tmt/base.py
  tmt/container/__init__.py
  tmt/steps/__init__.py
  tmt/steps/finish/ansible.py
  tmt/steps/finish/shell.py
  tmt/steps/report/polarion.py
  tmt/steps/scripts.py
Owners: @KwisatzHaderach

Narrow type polarion
  tmt/export/polarion.py
Owners: @KwisatzHaderach

Ignore more ruff rules
  pyproject.toml
Owners: none

Fix RUF043 pre-commit issue
  tests/unit/test_adjust.py
  tests/unit/test_base.py
Owners: none

Use the actual ruff check
  .pre-commit-config.yaml
Owners: none

Adjust `-c` flag in yq
  tests/policy/test.sh
Owners: none

Adjust `-y` flag to `-o` for go yq
  tests/backward-compatibility/test.sh
  tests/execute/basic/test.sh
  tests/execute/result/special.sh
  tests/execute/result/subresults.sh
  tests/test/create/test.sh
  tests/test/select/test.sh
Owners: none

Go back to compact `EXPECTED_PLUGIN_LIST`
  tests/core/about/test.sh
Owners: none
