Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi

revert: unintentional removal
  tests/lint/test/test.sh
Owners: none

Add bootc image validation to prevent non-bootc images (#4399)
  tmt/steps/provision/bootc.py
Owners: none

Fix heading detection logic and enforce correct Test/Step/Expect structure (#4322)
  tests/lint/test/data/manual_test_failed/test.md
  tests/lint/test/test.sh
  tmt/export/__init__.py
Owners: none

Improve creation of "report files"
  tests/test/check/test-avc.sh
  tests/unit/test_utils.py
  tmt/checks/avc.py
  tmt/checks/dmesg.py
  tmt/checks/journal.py
  tmt/steps/__init__.py
  tmt/steps/prepare/ansible.py
  tmt/utils/__init__.py
Owners: none

squash: fixing more tests
  tests/test/check/test-avc.sh
  tests/test/check/test-dmesg.sh
  tests/unit/test_utils.py
  tmt/utils/__init__.py
Owners: none

squash: address comments
  tmt/utils/__init__.py
Owners: none

squash: address comments
  tmt/steps/__init__.py
Owners: none

squash: addressing comments, take 1
  tmt/checks/dmesg.py
  tmt/checks/journal.py
  tmt/steps/__init__.py
  tmt/steps/prepare/ansible.py
  tmt/utils/__init__.py
Owners: none

squash: address comments
  tmt/utils/__init__.py
Owners: none

Improve creation of "report files" (#4263)
  tests/test/check/test-avc.sh
  tests/test/check/test-dmesg.sh
  tests/unit/test_utils.py
  tmt/checks/avc.py
  tmt/checks/dmesg.py
  tmt/checks/journal.py
  tmt/steps/__init__.py
  tmt/steps/prepare/ansible.py
  tmt/utils/__init__.py
Owners: none

Move `/plans/provision/container` into its own Packit job
  .packit.yaml
  plans/provision/bootc.fmf
  plans/provision/container.fmf
  plans/provision/mock.fmf
Owners: none

Switch heading matching from string comparison to compiled regex patterns (#4362)
  tmt/base.py
  tmt/export/__init__.py
  tmt/export/nitrate.py
Owners: none

Suggest creating a release note when none found
  docs/contribute.rst
Owners: none

Fast-forward merge only, checklist items adjustments
  .github/PULL_REQUEST_TEMPLATE/release.md
  scripts/release
Owners: none

Fix typo
  scripts/release
Owners: none

Handle errors in git commands
  scripts/release
Owners: none

Update the release docs, add pull request template
  .github/PULL_REQUEST_TEMPLATE/release.md
  docs/contribute.rst
Owners: none

Add a `release` script, deduplicate docs & checklist
  .github/PULL_REQUEST_TEMPLATE/release.md
  docs/contribute.rst
  scripts/release
Owners: none

Separate check for merging, adjust wording
  .github/PULL_REQUEST_TEMPLATE/release.md
Owners: none

Bail out if any of the release commands fails
  scripts/release
Owners: none

Add the `release` script and the release pull request template (#4375)
  .github/PULL_REQUEST_TEMPLATE/release.md
  docs/contribute.rst
  scripts/release
Owners: none

Include `type: library` in the libraries example
  docs/examples.rst
Owners: none

squash: fix typo
  tmt/steps/provision/connect.py
Owners: none

squash: release note
  docs/releases/pending/4367-Add-systemd-soft-reboot-functionality.fmf
Owners: none

squash: fixing test
  tests/execute/reboot/systemd-soft-reboot.sh
Owners: none

squash: address comments
  tests/provision/reboot/test.sh
  tmt/steps/__init__.py
  tmt/steps/context/reboot.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/artemis.py
  tmt/steps/provision/connect.py
  tmt/steps/provision/mrack.py
  tmt/steps/provision/podman.py
  tmt/steps/provision/testcloud.py
Owners: @happz, @dav-pascual, @lbrabec

squash: missing schema
  tmt/schemas/provision/connect.yaml
Owners: none

squash: actual tmt-reboot test
  tests/execute/reboot/main.fmf
  tests/execute/reboot/systemd-soft-reboot.sh
  tests/execute/reboot/systemd-soft-reboot/.fmf/version
  tests/execute/reboot/systemd-soft-reboot/plan.fmf
  tests/execute/reboot/systemd-soft-reboot/test.fmf
  tests/execute/reboot/systemd-soft-reboot/test.sh
Owners: none

squash: more words about reboot options
  tmt/steps/__init__.py
Owners: none

Add systemd soft reboot functionality (#4304)
  tests/provision/reboot/test.sh
  tmt/steps/__init__.py
  tmt/steps/context/reboot.py
  tmt/steps/execute/internal.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/artemis.py
  tmt/steps/provision/connect.py
  tmt/steps/provision/local.py
  tmt/steps/provision/mock.py
  tmt/steps/provision/mrack.py
  tmt/steps/provision/podman.py
  tmt/steps/provision/testcloud.py
  tmt/steps/scripts/tmt-reboot
  tmt/steps/scripts/tmt-reboot-core
  tmt/utils/__init__.py
Owners: @happz, @dav-pascual, @lbrabec

squash: fix forgotten abstract method
  tmt/steps/provision/__init__.py
Owners: none

squash: small tweaks
  tmt/steps/context/reboot.py
  tmt/steps/scripts/tmt-reboot-core
  tmt/utils/__init__.py
Owners: none

squash: wrong decorator
  tmt/steps/provision/__init__.py
Owners: none

squash: address comments
  tmt/steps/provision/__init__.py
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

squash: use soft reboot counter
  tests/recipe/data/recipe.yaml
  tmt/steps/provision/__init__.py
Owners: none

Implement copr build artifact provider
  pyproject.toml
  tests/core/about/test.sh
  tests/unit/artifact/__init__.py
  tests/unit/artifact/test_brew.py
  tests/unit/artifact/test_copr_build.py
  tests/unit/artifact/test_koji.py
  tests/unit/artifact/test_repository.py
  tmt/steps/prepare/artifact/__init__.py
  tmt/steps/prepare/artifact/providers/copr_build.py
  tmt/steps/prepare/artifact/providers/koji.py
  tmt/steps/prepare/artifact/providers/repository.py
Owners: none

address graphite comments
  tests/unit/artifact/__init__.py
  tests/unit/artifact/test_brew.py
  tests/unit/artifact/test_koji.py
Owners: none

Add systemd soft reboot functionality (#4367)
  docs/releases/pending/4367-Add-systemd-soft-reboot-functionality.fmf
  tests/execute/reboot/main.fmf
  tests/execute/reboot/systemd-soft-reboot.sh
  tests/execute/reboot/systemd-soft-reboot/.fmf/version
  tests/execute/reboot/systemd-soft-reboot/plan.fmf
  tests/execute/reboot/systemd-soft-reboot/test.fmf
  tests/execute/reboot/systemd-soft-reboot/test.sh
  tests/provision/reboot/test.sh
  tests/recipe/data/recipe.yaml
  tmt/schemas/provision/connect.yaml
  tmt/steps/__init__.py
  tmt/steps/context/reboot.py
  tmt/steps/execute/internal.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/artemis.py
  tmt/steps/provision/connect.py
  tmt/steps/provision/local.py
  tmt/steps/provision/mock.py
  tmt/steps/provision/mrack.py
  tmt/steps/provision/podman.py
  tmt/steps/provision/testcloud.py
  tmt/steps/scripts/tmt-reboot
  tmt/steps/scripts/tmt-reboot-core
Owners: @happz, @dav-pascual, @lbrabec

Include `type: library` in the libraries example (#4366)
  docs/examples.rst
Owners: none

Release 1.63.0
  docs/releases/1.63.0/2946.fmf
  docs/releases/1.63.0/4045.fmf
  docs/releases/1.63.0/4285.fmf
  docs/releases/1.63.0/4300.fmf
  docs/releases/1.63.0/4311.fmf
  docs/releases/1.63.0/4331.fmf
  docs/releases/1.63.0/4356.fmf
  docs/releases/1.63.0/4360.fmf
  docs/releases/1.63.0/4367-Add-systemd-soft-reboot-functionality.fmf
Owners: none
