Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

Let mock shell reuse parent's attributes
  tmt/steps/provision/mock.py
Owners: none

Move release document and prepare tmt tree
  docs/index.rst
  docs/releases/.fmf/version
  docs/releases/index.rst
Owners: none

Support loading tests from recipe file
  docs/releases.rst
  tests/recipe/generation/data/.fmf/version
  tests/recipe/generation/data/main.fmf
  tests/recipe/generation/data/recipe.yaml
  tests/recipe/generation/data/tests.fmf
  tests/recipe/generation/main.fmf
  tests/recipe/generation/test.sh
  tests/recipe/loading/data/.fmf/version
  tests/recipe/loading/data/main.fmf
  tests/recipe/loading/data/remote.yaml
  tests/recipe/loading/data/simple.yaml
  tests/recipe/loading/main.fmf
  tests/recipe/loading/test.sh
  tmt/base.py
  tmt/cli/_root.py
  tmt/recipe.py
  tmt/steps/discover/__init__.py
  tmt/steps/discover/fmf.py
  tmt/steps/discover/shell.py
Owners: none

squash: do not save recipe in RecipeManager
  tmt/base.py
  tmt/recipe.py
  tmt/steps/discover/__init__.py
  tmt/steps/discover/fmf.py
  tmt/steps/discover/shell.py
Owners: none

Enable B904 rule and add `from` clause to exception handlers (#4256)
  docs/conf.py
  docs/ext/generate_test_runner_guest_matrix.py
  pyproject.toml
  tests/core/fmf-id/test.sh
  tests/execute/result/custom.sh
  tests/unit/test_cli.py
  tmt/ansible.py
  tmt/base.py
  tmt/checks/__init__.py
  tmt/checks/avc.py
  tmt/config/__init__.py
  tmt/convert.py
  tmt/export/__init__.py
  tmt/export/nitrate.py
  tmt/export/polarion.py
  tmt/libraries/beakerlib.py
  tmt/log.py
  tmt/package_managers/bootc.py
  tmt/result.py
  tmt/steps/__init__.py
  tmt/steps/discover/fmf.py
  tmt/steps/discover/shell.py
  tmt/steps/prepare/artifact/providers/__init__.py
  tmt/steps/prepare/distgit.py
  tmt/steps/prepare/install.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/artemis.py
  tmt/steps/provision/mrack.py
  tmt/steps/provision/podman.py
  tmt/steps/provision/testcloud.py
  tmt/templates/__init__.py
  tmt/utils/__init__.py
  tmt/utils/git.py
  tmt/utils/structured_field.py
  tmt/utils/templates.py
Owners: @KwisatzHaderach, @happz, @dav-pascual, @lbrabec

Add test coverage for repository file provider and enable listing of SRC rpms
  tests/core/about/test.sh
  tests/unit/artifact/test_repository.py
  tmt/steps/prepare/artifact/providers/repository.py
Owners: none

Add systemd soft reboot functionality
  tmt/steps/context/reboot.py
  tmt/steps/execute/internal.py
  tmt/steps/provision/__init__.py
  tmt/steps/scripts/tmt-reboot
  tmt/steps/scripts/tmt-reboot-core
  tmt/utils/__init__.py
Owners: none

Add `_compat.importlib`
  .pre-commit-config.yaml
  pyproject.toml
  tmt/_compat/importlib/__init__.py
  tmt/_compat/importlib/metadata.py
  tmt/_compat/importlib/readers.py
  tmt/_compat/importlib/resources.py
  tmt/plugins/__init__.py
  tmt/utils/__init__.py
Owners: none

Fix pyright complaint
  tmt/templates/__init__.py
Owners: none

Extend resource_files for entry-points
  tmt/utils/__init__.py
Owners: none

Make sure `MultiplexedPath` is compatible with tmt Paths
  tmt/_compat/importlib/readers.py
Owners: none

Adapt to the new `resource_files`
  tmt/cli/about.py
  tmt/config/models/themes.py
  tmt/export/template.py
  tmt/steps/prepare/feature/__init__.py
  tmt/steps/report/html.py
  tmt/steps/report/junit.py
  tmt/steps/scripts.py
  tmt/templates/__init__.py
  tmt/utils/__init__.py
Owners: none

Enforce logger in `resource_files`
  tmt/cli/about.py
  tmt/config/__init__.py
  tmt/config/models/themes.py
  tmt/export/__init__.py
  tmt/export/template.py
  tmt/steps/prepare/feature/__init__.py
  tmt/steps/report/html.py
  tmt/steps/report/junit.py
  tmt/steps/scripts.py
  tmt/templates/__init__.py
  tmt/utils/__init__.py
Owners: none

Expand example to include schemas
  examples/plugins/example/__init__.py
  examples/plugins/example/discover.py
  examples/plugins/example/provision.py
  examples/plugins/example/schemas/discover/example.yaml
  examples/plugins/example/schemas/provision/example.yaml
  examples/plugins/pyproject.toml
  tests/plugins/data/.fmf/version
  tests/plugins/data/main.fmf
  tests/plugins/test.sh
Owners: none

Document new feature
  docs/code/plugin-introduction.rst
  docs/releases.rst
Owners: none

Remove unrelated changes
  tmt/schemas/report/polarion.yaml
Owners: none

Add Polarion reporter token upload with ReportPortal integration
  examples/polarion-run-report/README.md
  examples/polarion-run-report/plan.fmf
  examples/polarion-run-report/test.fmf
  examples/polarion-run-report/test.sh
  tmt/steps/report/polarion.py
  tmt/steps/report/reportportal.py
Owners: @KwisatzHaderach, @4N0body5

Migrate 1.62.0 release notes to generated notes
  docs/releases/1.62.0/4248.fmf
  docs/releases/index.rst
Owners: none

Generate release notes
  .gitignore
  docs/ext/generate_release_notes.py
  docs/ext/tmt_setup.py
  docs/releases/index.rst
  docs/releases/main.fmf
Owners: none

Disable fedora-coreos:stable tests temporarily
  tests/images.sh
  tests/unit/__init__.py
  tests/unit/test_package_managers.py
Owners: none

Disable fedora-coreos:stable tests temporarily (#4317)
  tests/images.sh
  tests/unit/__init__.py
  tests/unit/test_package_managers.py
Owners: none

Fix broken yq command
  tests/recipe/test.sh
Owners: none

add create repo functionality
  tests/unit/artifact/test_repository.py
  tmt/package_managers/__init__.py
  tmt/package_managers/dnf.py
  tmt/steps/cleanup/internal.py
  tmt/steps/prepare/artifact/providers/repository.py
Owners: none

Add comprehensive unit tests for repository creation functionality
  tests/unit/artifact/test_repository.py
  tests/unit/test_package_managers.py
Owners: none

Fix broken yq command (#4312)
  tests/recipe/test.sh
Owners: none

squash: address comments
  tmt/steps/context/pidfile.py
Owners: none

Extra pidfile handling into its own context class
  tmt/steps/context/pidfile.py
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
Owners: none

squash: fix literals
  tmt/steps/context/pidfile.py
Owners: none

changes related to PR comments
  tmt/export/polarion.py
Owners: @KwisatzHaderach

tested again
  examples/polarion-story/tests/auth/basic.fmf
  examples/polarion-story/tests/auth/ldap.fmf
  examples/polarion-story/tests/auth/oauth.fmf
Owners: none

Store guest in phase results
  tmt/result.py
  tmt/steps/cleanup/__init__.py
  tmt/steps/finish/__init__.py
  tmt/steps/prepare/__init__.py
  tmt/steps/prepare/ansible.py
Owners: none

Probable fix: add Cleanup section to example
  examples/manual/mini.md
  tests/lint/test/test.sh
  tmt/export/__init__.py
Owners: none

Probable fix: add Cleanup section to example
  tests/lint/test/test.sh
Owners: none

Move the koji hints to a common location
  tmt/steps/prepare/artifact/providers/koji.py
Owners: none

Drop `koji` and `brew` as an artifact provider end-point
  tests/core/about/test.sh
  tmt/steps/prepare/artifact/providers/brew.py
  tmt/steps/prepare/artifact/providers/koji.py
Owners: none

Drop unused constructors and auxiliaries
  tests/unit/artifact/conftest.py
  tests/unit/artifact/test_brew.py
  tests/unit/artifact/test_koji.py
  tmt/steps/prepare/artifact/__init__.py
  tmt/steps/prepare/artifact/providers/brew.py
  tmt/steps/prepare/artifact/providers/koji.py
Owners: none

Onboard Fedora ELN containers
  Makefile
  containers/fedora/eln/Containerfile
  containers/fedora/eln/Containerfile.unprivileged
  containers/fedora/eln/Containerfile.upstream
  tests/images.sh
  tests/prepare/install/test.sh
Owners: none

Extra pidfile handling into its own context class (#4236)
  tmt/steps/context/pidfile.py
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
Owners: none

Add support `device.device_name` for `mrack`
  tests/unit/provision/mrack/test_hw.py
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

use default name generator
  tmt/steps/prepare/artifact/providers/repository.py
Owners: none

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi
