Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi

Adding methods for building environment in the right order
  tmt/base/plan.py
  tmt/guest/__init__.py
  tmt/steps/context/__init__.py
  tmt/steps/context/abort.py
  tmt/steps/context/pidfile.py
  tmt/steps/context/reboot.py
  tmt/steps/context/restart.py
  tmt/steps/context/restraint.py
  tmt/steps/execute/__init__.py
  tmt/steps/prepare/shell.py
  tmt/steps/provision/local.py
  tmt/steps/provision/podman.py
  tmt/utils/environment.py
Owners: none

squash: fix condition
  tmt/guest/__init__.py
Owners: none

squash: missed one
  tmt/base/plan.py
Owners: none

Push guest topology just once
  tmt/guest/__init__.py
  tmt/steps/__init__.py
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
  tmt/steps/prepare/shell.py
  tmt/steps/provision/__init__.py
Owners: none

squash: f
  tmt/steps/provision/__init__.py
Owners: none

Fix rpm query issue in CentOS7 (#5092)
  tmt/package_managers/dnf.py
Owners: none

squash: agreement
  docs/environment.rst
Owners: none

squash: current state finalization
  docs/environment.rst
Owners: none

Document environment variable precedence
  docs/conf.py
  docs/environment.rst
  docs/index.rst
Owners: none

squash: drop todo extension
  docs/conf.py
Owners: none

squash: cleanup
  docs/environment.rst
Owners: none

squash: update
  docs/environment.rst
Owners: none

squash: mention user
  docs/environment.rst
Owners: none

squash: more CLI
  docs/environment.rst
Owners: none

squash: drop todo, but for real
  docs/conf.py
Owners: none

squash: finalize docs
  docs/environment.rst
  docs/index.rst
  tmt/utils/environment.py
Owners: none

Announce the Python 3.9 deprecation
  docs/releases/pending/python.fmf
  docs/templates/test-runner-guest-compatibility-matrix.inc.rst.j2
Owners: none

Announce the Python 3.9 deprecation (#5095)
  docs/releases/pending/python.fmf
  docs/templates/test-runner-guest-compatibility-matrix.inc.rst.j2
Owners: none

Provide YumEngine.list_packages()
  tmt/package_managers/dnf.py
Owners: none

Limit verbose/debug levels
  docs/overview.rst
  tests/core/environment/test.sh
  tmt/checks/avc.py
  tmt/checks/dmesg.py
  tmt/guest/__init__.py
  tmt/log.py
  tmt/options.py
  tmt/steps/__init__.py
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
  tmt/steps/provision/local.py
  tmt/steps/provision/mock.py
  tmt/steps/provision/podman.py
  tmt/trying.py
  tmt/utils/__init__.py
Owners: @falconizmi

squash: fix unittests
  tests/unit/test_guest.py
Owners: none

squash: address comments
  tmt/options.py
  tmt/trying.py
Owners: @falconizmi

squash: post-rebase
  tmt/log.py
Owners: none

squash: address some comments
  tmt/log.py
  tmt/utils/__init__.py
Owners: none

squash: address recent changes
  tests/core/fmf-id/test.sh
  tests/core/logging/test.sh
  tests/execute/duration/test.sh
  tests/execute/framework/selection.sh
  tests/execute/tty/test.sh
  tests/integration/test_nitrate.py
  tests/plan/import/basic.sh
  tests/provision/mock/fedora-rawhide-x86_64/multiple-tests/test.sh
  tests/provision/mock/fedora-rawhide-x86_64/provision-prepare/test.sh
  tests/provision/mock/fedora-rawhide-x86_64/simple/test.sh
  tests/test/check/test-avc.sh
  tmt/base/plan.py
  tmt/checks/watchdog.py
  tmt/cli/__init__.py
  tmt/guest/__init__.py
  tmt/log.py
  tmt/options.py
  tmt/steps/__init__.py
  tmt/steps/execute/__init__.py
  tmt/steps/provision/mrack.py
  tmt/steps/provision/testcloud.py
  tmt/utils/__init__.py
  tmt/utils/rest.py
Owners: @dav-pascual, @lbrabec

squash: update overviw docs
  docs/overview.rst
Owners: none

Polish copy_tree implementations
  tests/unit/test_filesystem.py
  tmt/utils/filesystem.py
Owners: none

Fail with clear error when no RPMs are downloaded
  tmt/steps/prepare/artifact/providers/__init__.py
Owners: none

cp must not fail when no RPMs exist in the source directory
  tmt/steps/prepare/artifact/providers/copr_build.py
  tmt/steps/prepare/artifact/providers/file.py
  tmt/steps/prepare/artifact/providers/koji.py
Owners: none

Add rsync-based "copy tree" strategy
  tests/unit/test_filesystem.py
  tmt/libraries/beakerlib.py
  tmt/steps/discover/__init__.py
  tmt/steps/discover/fmf.py
  tmt/utils/filesystem.py
Owners: none

squash: update tests
  docs/guide.rst
  docs/guide/execute-tests.inc.rst
  tests/clean/basic/test.sh
  tests/cli/plugin-envvars/test.sh
  tests/policy/test-test.sh
  tests/provision/local/test.sh
  tests/provision/mock/fedora-rawhide-x86_64/multiple-tests/test.sh
  tests/provision/mock/fedora-rawhide-x86_64/provision-prepare/test.sh
  tests/provision/mock/fedora-rawhide-x86_64/simple/test.sh
  tests/provision/reboot/test.sh
  tests/run/permissions/test.sh
  tests/run/root/test.sh
  tests/run/shell/test.sh
Owners: none

squash: address comments
  tmt/utils/feeling_safe.py
Owners: none

squash: update envvars
  tests/.envrc
  tests/main.fmf
  tests/plan/import/basic.sh
Owners: none

squash: more tests
  tests/unit/test_feeling_safe.py
  tests/unit/test_steps.py
Owners: none

squash: fixing tests
  tests/provision/mock/fedora-rawhide-x86_64/multiple-tests/test.sh
  tests/unit/test_cli.py
Owners: none

Granular "feeling safe" control
  docs/releases/pending/granular-feeling-safe.fmf
  stories/features/feeling-safe.fmf
  tests/core/feeling-safe/test.sh
  tmt/base/run.py
  tmt/cli/_root.py
  tmt/options.py
  tmt/steps/__init__.py
  tmt/steps/provision/connect.py
  tmt/steps/provision/local.py
  tmt/steps/provision/mock.py
  tmt/utils/__init__.py
  tmt/utils/feeling_safe.py
Owners: none

squash: drop WARNING
  docs/overview.rst
  tmt/options.py
Owners: none

squash: fix typoe
  tmt/utils/feeling_safe.py
Owners: none

squash: address comments
  tests/unit/test_feeling_safe.py
  tmt/base/core.py
  tmt/base/run.py
  tmt/cli/_root.py
  tmt/guest/__init__.py
  tmt/options.py
  tmt/steps/provision/connect.py
  tmt/steps/provision/local.py
  tmt/steps/provision/mock.py
  tmt/utils/feeling_safe.py
Owners: none

squash: address comments
  agents/AGENTS.md
  docs/overview.rst
  docs/releases/pending/granular-feeling-safe.fmf
  tests/core/feeling-safe/test.sh
  tests/unit/test_feeling_safe.py
  tmt/options.py
  tmt/steps/__init__.py
  tmt/steps/provision/local.py
  tmt/steps/provision/mock.py
  tmt/utils/feeling_safe.py
Owners: none
