Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi

squash: more tests
  tests/unit/provision/mrack/test_hw.py
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

squash: fix tests
  tests/provision/memory/data/plans.fmf
Owners: none

squash: address comments
  tmt/hardware/requirements.py
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

squash: fix tests
  tests/unit/test_guest.py
  tmt/utils/feeling_safe.py
Owners: none

squash: address comments
  tests/unit/provision/mrack/test_hw.py
  tmt/hardware/requirements.py
Owners: none

squash: release note
  docs/releases/pending/4859.fmf
Owners: none

squash: fix docs
  docs/releases/pending/4859.fmf
Owners: none

squash: fix docs
  docs/releases/pending/4859.fmf
Owners: none

Environment.environ instead of os.environ
  pyproject.toml
  tests/core/environment-file/data/environment_file_data.py
  tests/execute/tty/data/python.py
  tests/execute/tty/ptty-wrapper
  tests/unit/test_base.py
  tests/unit/test_utils.py
  tmt/config/__init__.py
  tmt/guest/__init__.py
  tmt/libraries/beakerlib.py
  tmt/log.py
  tmt/plugins/__init__.py
  tmt/steps/__init__.py
  tmt/steps/context/pidfile.py
  tmt/steps/discover/__init__.py
  tmt/steps/provision/local.py
  tmt/steps/scripts.py
  tmt/utils/__init__.py
  tmt/utils/environment.py
  tmt/utils/git.py
Owners: none

Environment variables defined in code
  tmt/guest/__init__.py
  tmt/steps/discover/fmf.py
  tmt/steps/discover/shell.py
  tmt/steps/execute/__init__.py
  tmt/steps/prepare/distgit.py
  tmt/steps/prepare/shell.py
  tmt/steps/provision/local.py
  tmt/utils/__init__.py
  tmt/utils/environment.py
Owners: none

squash: to classes
  tmt/steps/execute/__init__.py
  tmt/utils/__init__.py
  tmt/utils/environment.py
Owners: none

ty as yet another type checker
  .pre-commit-config.yaml
  pyproject.toml
  tmt/guest/__init__.py
Owners: none

Remove boilerplate needed for hardware requirement parsers (#4859)
  docs/releases/pending/4859.fmf
  tests/provision/beaker/data/main.fmf
  tests/provision/memory/data/plans.fmf
  tests/unit/provision/mrack/test_hw.py
  tests/unit/test_hardware.py
  tmt/hardware/constraints.py
  tmt/hardware/requirements.py
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

Remove boilerplate needed for hardware requirement parsers
  tmt/hardware/requirements.py
Owners: none

Use factory pattern when creating instances of HW constraint classes
  tmt/hardware/constraints.py
  tmt/hardware/requirements.py
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

squash: more tests
  tests/unit/provision/mrack/test_hw.py
Owners: none

squash: tests
  tests/unit/provision/mrack/test_hw.py
Owners: none

squash: more test fixes
  tests/unit/provision/mrack/test_hw.py
Owners: none

squash: post-rebase
  tests/unit/provision/mrack/test_hw.py
  tmt/hardware/requirements.py
Owners: none

squash: pointless change
  tests/unit/provision/mrack/test_hw.py
Owners: none

Defer log record formatting until after filters
  tmt/log.py
Owners: none

Include actual timestamps in tmt.utils.wait.wait() debug messages
  tmt/utils/wait.py
Owners: none

squash: address agent review
  tmt/hardware/constraints.py
  tmt/hardware/requirements.py
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

Document what is required before merging a pull request
  .github/settings/enforced.json
  .github/settings/override.json
  docs/contribute.rst
Owners: none

Enforce 2 reviews, drop source/id, add check placeholder
  .github/settings/enforced.json
  .github/settings/override.json
Owners: none

Use factory pattern when creating instances of HW constraint classes (#4993)
  tmt/hardware/constraints.py
  tmt/hardware/requirements.py
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

Fix Koji artifact URLs to use build version and release
  tmt/steps/prepare/artifact/providers/koji.py
Owners: none

Update Koji/Brew getBuild mocks with version and release
  tests/unit/artifact/__init__.py
  tests/unit/artifact/test_brew.py
Owners: none

Fix Koji artifact URLs to use build version and release (#5067)
  tests/unit/artifact/__init__.py
  tests/unit/artifact/test_brew.py
  tmt/steps/prepare/artifact/providers/koji.py
Owners: none

Implement resolve_provides for yum
  tmt/package_managers/dnf.py
Owners: none

Make the rpms compatible with centos7
  tests/prepare/artifact/lib/common.sh
Owners: none

Move `get_package_origin` to generic helper
  tmt/package_managers/__init__.py
  tmt/package_managers/dnf.py
Owners: none

Move `resolve_provides` to generic helper
  tmt/package_managers/__init__.py
  tmt/package_managers/dnf.py
Owners: none

Skip dnf info call in one more test
  tests/prepare/artifact/providers/file/data/test.sh
Owners: none

Make _repoquery_script compatible with yum-utils
  tmt/package_managers/dnf.py
Owners: none

Add a generic helper for repoquery
  tmt/package_managers/__init__.py
  tmt/package_managers/dnf.py
Owners: none

Enable CentOS 7 testing of artifacts
  tests/prepare/artifact/basic.sh
  tests/prepare/artifact/providers/copr-repository/test.sh
  tests/prepare/artifact/providers/file/test.sh
  tests/prepare/artifact/providers/multi/test.sh
  tests/prepare/artifact/providers/repository-file/test.sh
  tests/prepare/artifact/providers/repository-url/test.sh
  tests/prepare/artifact/verify-installation.sh
  tests/prepare/verify-installation/test.sh
Owners: none

Pass repo_ids
  tmt/package_managers/__init__.py
  tmt/package_managers/dnf.py
Owners: none

Unify query yaml with query tag
  tmt/package_managers/__init__.py
  tmt/package_managers/dnf.py
Owners: none

Make sure the ssh master process is up and running after reboot
  tmt/guest/__init__.py
  tmt/steps/provision/artemis.py
  tmt/steps/provision/connect.py
  tmt/steps/provision/mrack.py
  tmt/steps/provision/testcloud.py
Owners: @happz, @dav-pascual, @lbrabec
