Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

Add exit_loop attribute
  tmt/trying.py
Owners: @falconizmi

Use command + shortcut for actions, remove ambiguity
  tmt/trying.py
Owners: @falconizmi

Lower command on registering
  tmt/trying.py
Owners: @falconizmi

Update tmt/trying.py
  tmt/trying.py
Owners: @falconizmi

Add Action class with ActionMeta metaclass
  tmt/trying.py
Owners: @falconizmi

Use cached properties, rename menu to menu_item
  tmt/trying.py
Owners: @falconizmi

Add hidden commands
  tmt/trying.py
Owners: @falconizmi

Fix the bug introduced by the previous change
  tmt/trying.py
Owners: @falconizmi

Handle verbose and debug via ActionInfo
  tmt/trying.py
Owners: @falconizmi

Unify ActionInfo and Action
  tmt/trying.py
Owners: @falconizmi

Implement decorator for defining try actions
  tmt/trying.py
Owners: @falconizmi

Prevent duplicate commands
  tmt/trying.py
Owners: @falconizmi

Move to container, use set instead of list for commands
  tmt/trying.py
Owners: @falconizmi

Fix issues from review
  tmt/trying.py
Owners: @falconizmi

Add type alias for ActionHandler
  tmt/trying.py
Owners: @falconizmi

fix menu
  tmt/trying.py
Owners: @falconizmi

Keep the menu docs the same
  tmt/trying.py
Owners: @falconizmi

Update tmt/trying.py
  tmt/trying.py
Owners: @falconizmi

Enable the `avc` check for `centos-stream` as well (#4053)
  tests/main.fmf
Owners: none

Skip chcon if selinux not used by host
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

squash: Update tmt/steps/provision/testcloud.py
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

Skip `chcon` if selinux not used by host (#4014)
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

Drop snapshot "support" from Artemis provision plugin
  tmt/steps/provision/artemis.py
Owners: @happz

Drop snapshot "support" from Artemis provision plugin (#4008)
  tmt/steps/provision/artemis.py
Owners: @happz

Add a new `Issues` section to the `Contribute` page
  docs/contribute.rst
  docs/releases.rst
Owners: none

Add a new `Issues` section to the `Contribute` page (#4058)
  docs/contribute.rst
  docs/releases.rst
Owners: none

Revert changes to /plan/hardware Target only /plan/schema with `tmt lint`. Add additional grep check in test.
  tests/provision/beaker/data/main.fmf
  tests/provision/beaker/schema.sh
Owners: none

Add keys to beaker provision schema Include `key` and `order`. Fix `public-key`. Add `tmt lint` test.
  tests/provision/beaker/data/main.fmf
  tests/provision/beaker/main.fmf
  tests/provision/beaker/schema.sh
  tmt/schemas/provision/beaker.yaml
Owners: none

Include `key`, `order`, and `public-key` in beaker provision schema (#4048)
  tests/provision/beaker/data/main.fmf
  tests/provision/beaker/main.fmf
  tests/provision/beaker/schema.sh
  tmt/schemas/provision/beaker.yaml
Owners: none

Add a new section `Guest Preparation` to the guide
  docs/guide.rst
  docs/guide/guest-preparation.inc.rst
Owners: none

Fix a typo
  docs/guide/guest-preparation.inc.rst
Owners: none

Add a short release note
  docs/releases.rst
Owners: none

Fix more typos
  docs/guide/guest-preparation.inc.rst
Owners: none

updates
  tmt/ansible.py
  tmt/base.py
  tmt/schemas/ansible.yaml
  tmt/schemas/plan.yaml
  tmt/schemas/provision/beaker.yaml
  tmt/schemas/provision/virtual.yaml
  tmt/steps/provision/__init__.py
Owners: none

Add support for Ansible inventory file
  tmt/ansible.py
  tmt/base.py
  tmt/schemas/ansible.yaml
  tmt/schemas/common.yaml
  tmt/schemas/provision/artemis.yaml
  tmt/schemas/provision/beaker.yaml
  tmt/schemas/provision/bootc.yaml
  tmt/schemas/provision/connect.yaml
  tmt/schemas/provision/minute.yaml
  tmt/schemas/provision/virtual.yaml
  tmt/steps/provision/__init__.py
Owners: none

Add a new section `Guest Preparation` to the guide (#4039)
  docs/guide.rst
  docs/guide/guest-preparation.inc.rst
  docs/releases.rst
Owners: none

Make sure `MultiplexedPath` is compatible with tmt Paths
  tmt/_compat/importlib/readers.py
Owners: none

Add `_compat.importlib`
  .pre-commit-config.yaml
  pyproject.toml
  tmt/_compat/importlib/__init__.py
  tmt/_compat/importlib/metadata.py
  tmt/_compat/importlib/readers.py
  tmt/_compat/importlib/resources.py
  tmt/plugins/__init__.py
  tmt/utils/__init__.py
Owners: none

Adapt to the new `resource_files`
  tmt/cli/about.py
  tmt/config/models/themes.py
  tmt/export/template.py
  tmt/steps/prepare/feature/__init__.py
  tmt/steps/report/html.py
  tmt/steps/report/junit.py
  tmt/steps/scripts.py
  tmt/templates/__init__.py
  tmt/utils/__init__.py
Owners: none

Extend resource_files for entry-points
  tmt/utils/__init__.py
Owners: none

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi
