Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

Update the `mrack` distro mapping config
  tmt/steps/provision/mrack/mrack-provisioning-config.yaml
Owners: @dav-pascual

Refactor plan fmf context composition (#3836)
  tmt/base.py
  tmt/result.py
  tmt/steps/__init__.py
  tmt/steps/discover/fmf.py
  tmt/steps/execute/__init__.py
  tmt/steps/report/html/template.html.j2
  tmt/steps/report/polarion.py
  tmt/steps/report/reportportal.py
  tmt/utils/__init__.py
Owners: @KwisatzHaderach, @4N0body5

Prevent building container images for installed dependencies in Image Mode
  docs/releases.rst
  tests/package-managers/bootc/data/.fmf/version
  tests/package-managers/bootc/data/plans.fmf
  tests/package-managers/bootc/data/test.fmf
  tests/package-managers/bootc/main.fmf
  tests/package-managers/bootc/test.sh
  tmt/package_managers/bootc.py
  tmt/package_managers/dnf.py
Owners: none

update based on graphite review
  tmt/steps/provision/__init__.py
Owners: none

Update tmt/steps/provision/__init__.py
  tmt/steps/provision/__init__.py
Owners: none

Apply suggestion from @graphite-app[bot]
  tmt/steps/provision/__init__.py
Owners: none

Refactor more based on review
  tmt/steps/provision/__init__.py
Owners: none

Check if scripts directory exists and do nothing if it does
  tmt/steps/provision/__init__.py
Owners: none

Updated to check the existence on guest rather than runner
  tmt/steps/provision/__init__.py
Owners: none

Base reference tests on key to prevent flakiness
  tests/discover/references.sh
Owners: none

Check if scripts directory exists and do nothing if it does (#3983)
  tmt/steps/provision/__init__.py
Owners: none

Prevent building container images for installed dependencies in Image Mode
  docs/releases.rst
  tests/package-managers/bootc/data/.fmf/version
  tests/package-managers/bootc/data/plans.fmf
  tests/package-managers/bootc/data/test.fmf
  tests/package-managers/bootc/main.fmf
  tests/package-managers/bootc/test.sh
  tmt/package_managers/bootc.py
  tmt/package_managers/dnf.py
Owners: none

Removed the enum from docstring
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

Release 1.56.0
  docs/contribute.rst
  docs/releases.rst
Owners: none

Release 1.56.0
  docs/contribute.rst
  docs/releases.rst
Owners: none

Extract abort-related properties from test invocation
  tmt/checks/internal/abort.py
  tmt/steps/abort.py
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
Owners: none

Drop snapshot "support" from Artemis provision plugin
  tmt/steps/provision/artemis.py
Owners: @happz

Fix incorrect check of test output log reported by `tmt-report-results`
  tests/execute/restraint/report-result/data/report.sh
Owners: none

Exclude inactive test cases from Polarion Test Case search
  tmt/export/polarion.py
Owners: @KwisatzHaderach

Fix incorrect check of test output log reported by `tmt-report-results` (#3998)
  tests/execute/restraint/report-result/data/report.sh
Owners: none

change DEFAULT_KEYNAME for artemis plugin
  tmt/steps/provision/artemis.py
Owners: @happz

squash: update comment
  tmt/steps/provision/artemis.py
Owners: @happz

add prepare repo step skeleton
  tmt/steps/prepare/feature/repo.py
Owners: none

change DEFAULT_KEYNAME for artemis plugin (#3999)
  tmt/steps/provision/artemis.py
Owners: @happz

Add repository-file artifact type with basic functionality
  tmt/steps/prepare/brand_new_allmighty_install/providers/__init__.py
  tmt/steps/prepare/brand_new_allmighty_install/providers/repository_provider.py
Owners: none

swap order of checks
  tmt/steps/prepare/brand_new_allmighty_install/providers/repository_provider.py
Owners: none

Extract abort-related properties from test invocation
  tmt/checks/internal/abort.py
  tmt/steps/abort.py
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
Owners: none

Update the `mrack` distro mapping config
  tmt/steps/provision/mrack/mrack-provisioning-config.yaml
Owners: @dav-pascual

Move man generation inside the CI
  .github/workflows/gen-files.yml
  .gitignore
  .packit.yaml
  pyproject.toml
  tmt.spec
Owners: none

Add `rhel-9.8` as well
  tmt/steps/provision/mrack/mrack-provisioning-config.yaml
Owners: @dav-pascual

Move man generation inside spec file instead
  .github/workflows/gen-files.yml
  .gitignore
  pyproject.toml
  tmt.spec
Owners: none

Update the `mrack` distro mapping config (#4001)
  tmt/steps/provision/mrack/mrack-provisioning-config.yaml
Owners: @dav-pascual

Fix mrack translation for fedora-rawhide to use Server variant
  tmt/steps/provision/mrack/mrack-provisioning-config.yaml
Owners: @dav-pascual

Extract abort-related properties from test invocation (#3857)
  tmt/checks/internal/abort.py
  tmt/steps/abort.py
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
Owners: none

fix failing unit test
  tests/unit/provision/mrack/test_hw.py
Owners: none

Add a helpful docstring to the helper
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

Removed the enum from docstring
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

provision/beaker: support device.driver → MODULE filter
  tests/provision/beaker/data/main.fmf
  tests/provision/beaker/hardware.sh
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

Extend test scope for BOOTDISK scenario
  tests/provision/beaker/data/main.fmf
  tests/provision/beaker/hardware.sh
Owners: none

Support `device.driver` to `MODULE` filter in `mrack` (#3997)
  tests/provision/beaker/data/main.fmf
  tests/provision/beaker/hardware.sh
  tests/unit/provision/mrack/test_hw.py
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi
