Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

Run profiles
  .pre-commit-config.yaml
  tests/run/profile/data/.fmf/version
  tests/run/profile/data/main.fmf
  tests/run/profile/profiles/test/check.yaml
  tests/run/profile/profiles/test/contact.yaml
  tests/run/profile/profiles/test/environment.yaml
  tests/run/profile/profiles/test/test.yaml
  tests/run/profile/test.sh
  tmt/_compat/pydantic.py
  tmt/cli/_root.py
  tmt/container/__init__.py
  tmt/log.py
  tmt/profiles.py
  tmt/utils/__init__.py
Owners: none

squash: value source, diff
  tmt/base.py
  tmt/cli/_root.py
  tmt/container/__init__.py
  tmt/log.py
  tmt/options.py
  tmt/profiles.py
  tmt/steps/discover/fmf.py
  tmt/steps/discover/shell.py
  tmt/utils/__init__.py
  tmt/utils/templates.py
Owners: none

Add a helper for showing exceptions as warnings
  tmt/steps/provision/mrack.py
  tmt/steps/provision/testcloud.py
  tmt/utils/__init__.py
Owners: @dav-pascual, @lbrabec

updating for report/display change (#3749)
  tests/execute/framework/beakerlib.sh
  tests/execute/framework/shell.sh
Owners: none

Check handle absolute/relative paths
  tmt/steps/execute/__init__.py
Owners: none

Fix use of uninitialized sync_source_contents
  tmt/steps/provision/__init__.py
Owners: none

Copy files with same destination in single rsync
  tmt/steps/execute/__init__.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/local.py
  tmt/steps/provision/podman.py
Owners: none

Addressing feedback
  tmt/steps/execute/__init__.py
  tmt/steps/provision/__init__.py
Owners: none

Remove redundant debug log and variable assignment
  tmt/steps/provision/__init__.py
Owners: none

Add copy_into method
  tmt/steps/execute/__init__.py
Owners: none

Handle rsync trainling slash
  tmt/steps/provision/__init__.py
Owners: none

Some more refactoring..
  tmt/steps/execute/__init__.py
  tmt/steps/provision/local.py
  tmt/steps/provision/podman.py
Owners: none

Update project metadata
  pyproject.toml
Owners: none

Update README.rst
  README.rst
Owners: none

Bump dependency versions to latest c9s rpms
  .pre-commit-config.yaml
  pyproject.toml
Owners: none

fixup! Add badges to README
  README.rst
Owners: none

Add badges to README
  README.rst
Owners: none

Fix urllib version typo
  .pre-commit-config.yaml
Owners: none

squash: actually remove the ruff and pre-commit badges
  README.rst
Owners: none

Switch to copr latest; rename to `dev-build`
  README.rst
Owners: none

Removing ruff, pre-commit badges
  README.rst
Owners: none

Add missing python versions and drop them from readme
  README.rst
  pyproject.toml
Owners: none

fixup! Add badges to README
  README.rst
Owners: none

squash: Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Owners: none

Lazy-loading mrack with decorator
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

Use ParamSpec
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

Add mrack import unit tests
  tests/unit/provision/mrack/test_mrack_import.py
Owners: none

squash: Update pyproject.toml
  pyproject.toml
Owners: none

Blindly trying to fix things without knowing how to run tmt tests
  tmt/steps/provision/__init__.py
  tmt/steps/provision/local.py
Owners: none

Blindly trying things v2
  tmt/steps/execute/__init__.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/local.py
Owners: none

Add first steps guidance to README (#2730)
  README.rst
Owners: none

maybe
  tmt/steps/execute/__init__.py
Owners: none

tests
  tests/unit/test_rsync_path_handling.py
  tests/unit/test_steps_execute.py
Owners: none

Readme badges and pyproject cleanup (#3378)
  .pre-commit-config.yaml
  README.rst
  pyproject.toml
Owners: none

Import `mrack` when the `GuestBeaker` instance is created
  docs/releases.rst
  tests/provision/beaker/main.fmf
  tests/provision/beaker/reconnect.sh
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

Import `mrack` when the `GuestBeaker` instance is created (#3754)
  docs/releases.rst
  tests/provision/beaker/main.fmf
  tests/provision/beaker/reconnect.sh
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

Make push hopefully work better with dirs
  tmt/steps/provision/__init__.py
Owners: none

Add missing release note for the plan-of-plans feature
  docs/releases.rst
Owners: none

squash: fix typo
  docs/releases.rst
Owners: none

squash: fix typo
  docs/releases.rst
Owners: none

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi
