Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi

squash! Run linkcheck only with ready for merge label
  docs/conf.py
Owners: none

squash! Run linkcheck only with ready for merge label
  .github/workflows/doc-tests.yml
Owners: none

Run linkcheck only with ready for merge label
  .github/workflows/doc-tests.yml
Owners: none

Shut down SSH master process when leaving tmt (#3630)
  docs/releases.rst
  tests/provision/ssh-multiplexing/main.fmf
  tests/provision/ssh-multiplexing/test.exp
  tests/provision/ssh-multiplexing/test.sh
  tmt/base.py
  tmt/steps/__init__.py
  tmt/steps/provision/__init__.py
Owners: none

Bump dependency versions to latest c9s rpms
  .pre-commit-config.yaml
  pyproject.toml
Owners: none

fixup! Add badges to README
  README.rst
Owners: none

Update README.rst
  README.rst
Owners: none

Add missing python versions and drop them from readme
  README.rst
  pyproject.toml
Owners: none

Update project metadata
  pyproject.toml
Owners: none

Switch to copr latest; rename to `dev-build`
  README.rst
Owners: none

squash: actually remove the ruff and pre-commit badges
  README.rst
Owners: none

fixup! Add badges to README
  README.rst
Owners: none

Add badges to README
  README.rst
Owners: none

Removing ruff, pre-commit badges
  README.rst
Owners: none

squash:update
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

Accept and apply `workdir-root` in `testcloud` (#3526)
  tmt/base.py
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

squash:update^^
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

squash: add comment
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

squash:update
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

Fix outdated help text of the `playbook` key of `ansible` plugins
  tmt/steps/prepare/ansible.py
Owners: none

Handle rsync trainling slash
  tmt/steps/provision/__init__.py
Owners: none

Add copy_into method
  tmt/steps/execute/__init__.py
Owners: none

Some more refactoring..
  tmt/steps/execute/__init__.py
  tmt/steps/provision/local.py
  tmt/steps/provision/podman.py
Owners: none

Copy files with same destination in single rsync
  tmt/steps/execute/__init__.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/local.py
  tmt/steps/provision/podman.py
Owners: none

Check handle absolute/relative paths
  tmt/steps/execute/__init__.py
Owners: none

Remove redundant debug log and variable assignment
  tmt/steps/provision/__init__.py
Owners: none

Allow classes to provide custom class for unserialization
  tests/prepare/feature/basic/data/.fmf/version
  tests/prepare/feature/basic/data/main.fmf
  tests/prepare/feature/basic/main.fmf
  tests/prepare/feature/basic/test.sh
  tmt/container/__init__.py
  tmt/steps/prepare/feature/__init__.py
Owners: none

Accept and apply `workdir-root` in `testcloud` (#3526)
  tmt/base.py
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

tmt-report-result should put test output files into subdirectories
  tmt/steps/execute/scripts/tmt-report-result
Owners: none

squash: fix tests
  tests/execute/result/subresults.sh
  tmt/steps/execute/scripts/tmt-report-result
Owners: none

Use label as trigger for linkcheck
  .github/workflows/doc-linkcheck.yml
  .github/workflows/doc-tests.yml
Owners: none

tmt-report-result should put test output files into subdirectories (#3579)
  tests/execute/result/subresults.sh
  tmt/steps/execute/scripts/tmt-report-result
Owners: none

Fix documentation links broken by recent moves
  docs/overview.rst
  tmt/base.py
Owners: none

Fix documentation links broken by recent moves (#3737)
  docs/overview.rst
  tmt/base.py
Owners: none

Add perflint; Resolve PERF401, PERF403
  pyproject.toml
  tests/unit/provision/testcloud/test_hw.py
  tests/unit/test_config.py
  tests/unit/test_utils.py
  tmt/convert.py
  tmt/frameworks/beakerlib.py
  tmt/result.py
  tmt/steps/discover/__init__.py
  tmt/steps/execute/__init__.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/mrack.py
  tmt/steps/report/reportportal.py
  tmt/utils/git.py
Owners: @dav-pascual, @4N0body5

notexec/notfound tests added
  tests/execute/framework/beakerlib.sh
  tests/execute/framework/beakerlib/tests.fmf
  tests/execute/framework/main.fmf
Owners: none

scaffold
  tests/execute/framework/beakerlib.sh
  tests/execute/framework/beakerlib/.fmf/version
  tests/execute/framework/beakerlib/beakerlib.sh
  tests/execute/framework/beakerlib/plans.fmf
  tests/execute/framework/beakerlib/tests.fmf
  tests/execute/framework/main.fmf
Owners: none

tests implemented
  tests/execute/framework/beakerlib.sh
  tests/execute/framework/beakerlib/tests.fmf
Owners: none

listed the possible outcomes
  tests/execute/framework/beakerlib.sh
Owners: none

innter layer dummy tests
  tests/execute/framework/beakerlib.sh
  tests/execute/framework/beakerlib/fail.sh
  tests/execute/framework/beakerlib/incomplete-fail.sh
  tests/execute/framework/beakerlib/incomplete-pass.sh
  tests/execute/framework/beakerlib/pass.sh
  tests/execute/framework/beakerlib/pidlock.sh
  tests/execute/framework/beakerlib/tests.fmf
  tests/execute/framework/beakerlib/timeout.sh
  tests/execute/framework/beakerlib/warn.sh
  tests/execute/framework/beakerlib/worst.sh
Owners: none
