Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

Revert "Use for to iterate over a space delimited string"
  tests/prepare/install/test.sh
Owners: none

The images should be newline separated
  tests/images.sh
Owners: none

make branching more readable
  tests/prepare/verify-installation/test.sh
Owners: none

Use diffstat instead of centpkg - Python compatibility
  tests/prepare/verify-installation/data-centos/main.fmf
  tests/prepare/verify-installation/data-fedora/main.fmf
  tests/prepare/verify-installation/test.sh
Owners: none

make tests branching simpler for verify-installation plugin
  tests/prepare/artifact/lib/common.sh
  tests/prepare/verify-installation/data-centos/main.fmf
  tests/prepare/verify-installation/data-fedora/main.fmf
  tests/prepare/verify-installation/test.sh
Owners: none

remove set koji conf function
  tests/prepare/artifact/lib/common.sh
Owners: none

increase verbosity in the artifact tests
  tests/prepare/artifact/providers/copr-repository/test.sh
  tests/prepare/artifact/providers/multi/test.sh
  tests/prepare/artifact/providers/repository-file/test.sh
  tests/prepare/artifact/providers/repository-url/test.sh
  tests/prepare/verify-installation/test.sh
Owners: none

add centos config for koji-build
  tests/prepare/artifact/lib/common.sh
  tests/prepare/verify-installation/main.fmf
  tests/prepare/verify-installation/test.sh
Owners: none

fix tests
  tests/prepare/artifact/lib/common.sh
  tests/prepare/verify-installation/data-centos/main.fmf
  tests/prepare/verify-installation/data-fedora/main.fmf
  tests/prepare/verify-installation/test.sh
Owners: none

address comments from code review
  tests/prepare/artifact/lib/common.sh
  tests/prepare/artifact/providers/copr-repository/test.sh
  tests/prepare/artifact/providers/file/test.sh
  tests/prepare/artifact/providers/koji-build/test.sh
  tests/prepare/artifact/providers/koji-nvr/test.sh
  tests/prepare/artifact/providers/multi/test.sh
  tests/prepare/artifact/test.sh
  tests/prepare/verify-installation/data-centos/main.fmf
  tests/prepare/verify-installation/data-fedora/main.fmf
  tests/prepare/verify-installation/test.sh
Owners: none

Fix koji tag for CentOS - use Fedora release for koji queries
  tests/prepare/artifact/lib/common.sh
  tests/prepare/verify-installation/test.sh
Owners: none

Revert -vvv back to -vv in additional test files
  tests/prepare/artifact/providers/multi/test.sh
  tests/prepare/artifact/providers/repository-file/test.sh
  tests/prepare/artifact/providers/repository-url/test.sh
Owners: none

Cache linkcheck results for the rough duration of the sprint
  docs/conf.py
Owners: none

Revert "Do not check for `journal.xml` presence, temporarily (#4648)"
  tests/execute/basic/test.sh
  tests/execute/result/subresults.sh
Owners: none

Revert "Do not check for `journal.xml` presence, temporarily (#4648)"
  tests/execute/basic/test.sh
  tests/execute/result/subresults.sh
Owners: none

address comments from code review
  tests/prepare/artifact/lib/common.sh
  tests/prepare/verify-installation/data-centos/main.fmf
  tests/prepare/verify-installation/data-fedora/main.fmf
  tests/prepare/verify-installation/test.sh
Owners: none

Add automatic artifact verification with dynamic phase injection
  tests/prepare/artifact/verify-installation/data/.fmf/version
  tests/prepare/artifact/verify-installation/data/main.fmf
  tests/prepare/artifact/verify-installation/main.fmf
  tests/prepare/artifact/verify-installation/test.sh
  tests/prepare/verify-installation/test.sh
  tmt/schemas/prepare/artifact.yaml
  tmt/steps/prepare/artifact/__init__.py
Owners: none

Use `ruamel.yaml.clib`
  pylock.toml
  pyproject.toml
  tmt/utils/__init__.py
  uv.lock
Owners: none

Use dict instead of CommentedMap
  tmt/utils/__init__.py
Owners: none

Move the default `safe` to arguments
  tmt/steps/report/reportportal.py
  tmt/utils/__init__.py
Owners: @4N0body5

address comments...
  tmt/package_managers/__init__.py
  tmt/steps/prepare/artifact/providers/__init__.py
Owners: none

move rpm types to within package manager scope
  tmt/package_managers/__init__.py
  tmt/package_managers/dnf.py
  tmt/package_managers/rpm.py
  tmt/steps/prepare/artifact/providers/__init__.py
  tmt/steps/prepare/artifact/providers/copr_build.py
  tmt/steps/prepare/artifact/providers/file.py
  tmt/steps/prepare/artifact/providers/koji.py
Owners: none

refactor: based on reviews
  tests/unit/artifact/test_file.py
  tests/unit/artifact/test_koji.py
  tmt/package_managers/__init__.py
  tmt/package_managers/_rpm.py
  tmt/package_managers/dnf.py
  tmt/package_managers/rpm.py
  tmt/steps/prepare/artifact/providers/__init__.py
  tmt/steps/prepare/artifact/providers/copr_build.py
  tmt/steps/prepare/artifact/providers/file.py
  tmt/steps/prepare/artifact/providers/koji.py
Owners: none

Restructure rpm types across package_managers (#4734)
  tests/unit/artifact/test_file.py
  tests/unit/artifact/test_koji.py
  tmt/package_managers/__init__.py
  tmt/package_managers/_rpm.py
  tmt/package_managers/dnf.py
  tmt/steps/prepare/artifact/providers/__init__.py
  tmt/steps/prepare/artifact/providers/copr_build.py
  tmt/steps/prepare/artifact/providers/file.py
  tmt/steps/prepare/artifact/providers/koji.py
Owners: none

Update .packit.yaml
  .packit.yaml
Owners: none

Fix order of enabling FIPS in try
  tmt/steps/__init__.py
  tmt/steps/prepare/feature/fips.py
  tmt/trying.py
Owners: @falconizmi

Convert ArtifactProvider to dataclass
  tmt/steps/prepare/artifact/providers/__init__.py
  tmt/steps/prepare/artifact/providers/brew.py
  tmt/steps/prepare/artifact/providers/copr_build.py
  tmt/steps/prepare/artifact/providers/copr_repository.py
  tmt/steps/prepare/artifact/providers/file.py
  tmt/steps/prepare/artifact/providers/koji.py
  tmt/steps/prepare/artifact/providers/repository.py
  tmt/steps/prepare/artifact/providers/repository_url.py
Owners: none

squash: add comment
  tmt/queue.py
Owners: none

squash: fix check
  tmt/queue.py
Owners: none

squash: address comments
  tmt/queue.py
  tmt/steps/__init__.py
Owners: none

Resort queue after adding new task
  tmt/queue.py
  tmt/steps/__init__.py
Owners: none

squash: more comments
  tmt/queue.py
Owners: none

squash: try to improve logging
  tests/unit/test_queue.py
  tmt/queue.py
Owners: none

squash: fix wrong increment
  tmt/queue.py
Owners: none

squash: forgot line
  tmt/queue.py
Owners: none

squash: add test
  tests/unit/test_queue.py
Owners: none

squash: typo
  tmt/queue.py
Owners: none

squash: improve task numbering
  tests/unit/test_queue.py
  tmt/queue.py
  tmt/steps/__init__.py
Owners: none

squash: more logging plishing
  tests/login/step.sh
  tests/multihost/complete/test.sh
  tmt/queue.py
  tmt/steps/__init__.py
Owners: none

Include announcement in the release checklist
  .github/PULL_REQUEST_TEMPLATE/release.md
Owners: none

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi
