Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

Update project metadata
  pyproject.toml
Owners: none

Add missing python versions and drop them from readme
  README.rst
  pyproject.toml
Owners: none

Removing ruff, pre-commit badges
  README.rst
Owners: none

squash: add comment
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

squash:update^^
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

Accept and apply `workdir-root` in `testcloud` (#3526)
  tmt/base.py
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

squash:update
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

squash:update
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

Don't check whether default transformers exist (#3699)
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

Exclude Stack Overflow links from CI checks (fixes #3711) (#3713)
  docs/conf.py
Owners: none

Update tests/execute/nonroot/test.sh
  tests/execute/nonroot/test.sh
Owners: none

Fix tests/execute/nonroot for boot based Fedora CoreOS
  tests/execute/nonroot/test.sh
  tmt/package_managers/bootc.py
Owners: none

squash: make sudo not ruin commands
  tmt/package_managers/bootc.py
Owners: none

Refactor DiscoverFmf.go()
  tmt/steps/discover/fmf.py
  tmt/utils/git.py
Owners: none

Moved assert_git function to git.py
  tests/discover/adjust-tests.sh
  tmt/steps/discover/fmf.py
  tmt/utils/git.py
Owners: none

Remove duplicate assert_git_url function
  tmt/utils/git.py
Owners: none

Removed blank line
  tmt/utils/git.py
Owners: none

Add warn if not correct distro
  tmt/steps/prepare/feature/epel.py
Owners: none

Shut down SSH master process when leaving tmt
  tmt/base.py
  tmt/steps/__init__.py
  tmt/steps/provision/__init__.py
Owners: none

squash: does not work
  tests/provision/ssh-multiplexing/test.exp
  tests/provision/ssh-multiplexing/test.sh
Owners: none

squash: better tests
  tests/provision/ssh-multiplexing/main.fmf
  tests/provision/ssh-multiplexing/test.exp
  tests/provision/ssh-multiplexing/test.sh
Owners: none

squash: a test
  tests/provision/ssh-multiplexing/test.sh
Owners: none

squash: more...
  docs/releases.rst
  tests/provision/ssh-multiplexing/test.sh
Owners: none

Use reflinks opportunistically for directory copy
  tests/unit/test_filesystem.py
  tmt/libraries/beakerlib.py
  tmt/steps/discover/fmf.py
  tmt/utils/filesystem.py
Owners: none

Fix mrack import requiring mrack import
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

Make the tests passing
  tests/provision/bootc/main.fmf
  tmt/package_managers/bootc.py
Owners: none

Switch to copr latest; rename to `dev-build`
  README.rst
Owners: none

Adjust /tests/prepare/install for bootc based Fedora CoreOS
  tests/prepare/install/test.sh
Owners: none

Revert "Adjust /tests/prepare/install for bootc based Fedora CoreOS"
  tests/prepare/install/test.sh
Owners: none

Fix tests for Fedora CoreOS bootc
  tests/prepare/install/test.sh
Owners: none

Clear up cloning private repositories in GitLab
  docs/overview.rst
Owners: none

Update docs/overview.rst
  docs/overview.rst
Owners: none

Update docs/overview.rst
  docs/overview.rst
Owners: none

squash: test with more verbosity
  tests/execute/nonroot/test.sh
Owners: none

squash: fix test
  tests/prepare/install/test.sh
Owners: none

squash: bootc builder
  tmt/package_managers/__init__.py
  tmt/package_managers/bootc.py
  tmt/package_managers/dnf.py
  tmt/steps/provision/__init__.py
Owners: none

squash: more fixes and logging
  tests/execute/nonroot/test.sh
  tests/prepare/install/test.sh
  tmt/steps/prepare/install.py
  tmt/steps/provision/__init__.py
Owners: none

squash: avoid losing exceptions
  tmt/package_managers/bootc.py
  tmt/steps/prepare/install.py
  tmt/steps/provision/__init__.py
Owners: none

Fix tests/execute/nonroot for boot based Fedora CoreOS (#3715)
  tests/execute/nonroot/test.sh
  tests/prepare/install/test.sh
  tests/provision/bootc/main.fmf
  tmt/package_managers/__init__.py
  tmt/package_managers/bootc.py
  tmt/package_managers/dnf.py
  tmt/steps/prepare/install.py
  tmt/steps/provision/__init__.py
Owners: none

Release 1.48.0
  docs/overview.rst
  docs/releases.rst
Owners: none

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi
