Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

Remove spurious newline
  tmt/steps/prepare/feature/epel.py
Owners: none

Use `Union` instead of `|`
  tests/unit/test_package_managers.py
Owners: none

Move `config-manager` install to package manager abstraction
  tests/unit/test_package_managers.py
  tmt/package_managers/__init__.py
  tmt/package_managers/dnf.py
  tmt/steps/prepare/feature/crb.py
  tmt/steps/prepare/feature/epel.py
Owners: none

Address review comments
  tests/unit/test_package_managers.py
  tmt/package_managers/__init__.py
  tmt/package_managers/dnf.py
  tmt/steps/prepare/feature/crb.py
Owners: none

squash: tests
  tests/unit/provision/mrack/test_hw.py
Owners: none

Remove boilerplate needed for hardware requirement parsers
  tests/unit/test_hardware.py
  tmt/hardware/constraints.py
  tmt/hardware/requirements.py
Owners: none

squash: addressing tests
  tests/provision/beaker/data/main.fmf
  tmt/hardware/constraints.py
  tmt/hardware/requirements.py
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

squash: polish
  tmt/guest/__init__.py
Owners: none

Make plan environment file guest-specific
  docs/overview.rst
  tmt/base/plan.py
  tmt/guest/__init__.py
  tmt/steps/execute/__init__.py
Owners: none

squash: improve docs
  docs/releases/pending/4772.fmf
  tmt/base/plan.py
  tmt/guest/__init__.py
Owners: none

squash: fixing tests
  tests/unit/test_guest.py
  tmt/steps/provision/local.py
Owners: none

squash: runner
  tmt/guest/__init__.py
Owners: none

Rename various `env` parameters to `environment`
  tests/unit/test_utils.py
  tmt/base/plan.py
  tmt/cli/_root.py
  tmt/guest/__init__.py
  tmt/libraries/beakerlib.py
  tmt/steps/__init__.py
  tmt/steps/discover/__init__.py
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
  tmt/steps/prepare/shell.py
  tmt/steps/provision/bootc.py
  tmt/steps/provision/local.py
  tmt/steps/provision/mock.py
  tmt/steps/provision/podman.py
  tmt/utils/__init__.py
  tmt/utils/git.py
Owners: none

One more occurrence
  tests/unit/test_package_managers.py
Owners: none

add build container in _assert_rsync
  tmt/guest/__init__.py
Owners: none

remove redundant install_* methods
  tmt/package_managers/__init__.py
  tmt/package_managers/apk.py
  tmt/package_managers/bootc.py
  tmt/package_managers/rpm_ostree.py
  tmt/steps/prepare/install.py
Owners: none

finalize installation at call sites
  tmt/guest/__init__.py
  tmt/steps/prepare/distgit.py
  tmt/steps/prepare/feature/crb.py
Owners: none

address gemini comments...
  tmt/package_managers/apk.py
  tmt/package_managers/rpm_ostree.py
Owners: none

pass options to the required path
  tmt/package_managers/rpm_ostree.py
Owners: none

Drop `case_sensitive` flag
  tmt/base/core.py
  tmt/base/plan.py
  tmt/export/nitrate.py
  tmt/trying.py
Owners: @falconizmi

[TEMP] Use the fmf PR
  .packit.yaml
  .pre-commit-config.yaml
  pyproject.toml
Owners: none

Fix install requirements of disabled checks
  tests/unit/test_steps_prepare.py
  tmt/steps/execute/upgrade.py
  tmt/steps/prepare/__init__.py
  tmt/steps/prepare/distgit.py
Owners: none

Update tests/prepare/large-env/test.sh
  tests/prepare/large-env/test.sh
Owners: none

Move `config-manager` install to package manager abstraction (#4848)
  tests/unit/test_package_managers.py
  tmt/package_managers/__init__.py
  tmt/package_managers/dnf.py
  tmt/steps/prepare/feature/crb.py
Owners: none

Add Ubuntu development dependencies
  Makefile
Owners: none

squash: fixes
  Makefile
Owners: none

squash: typo
  Makefile
Owners: none

Add Ubuntu development dependencies (#4728)
  Makefile
Owners: none

Cleanup step should apply to all guests, even not ready ones
  tmt/steps/__init__.py
  tmt/steps/finish/__init__.py
  tmt/steps/prepare/__init__.py
Owners: none

Drop setuptools requirement
  pyproject.toml
  uv.lock
Owners: none

Fix src-layout references
  .pre-commit-config.yaml
  packaging/rpm/tmt.spec
  pyproject.toml
Owners: none

Cleanup step should apply to all guests, even not ready ones (#4866)
  tmt/steps/__init__.py
  tmt/steps/finish/__init__.py
  tmt/steps/prepare/__init__.py
Owners: none

squash: more tests
  tests/unit/provision/mrack/test_hw.py
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

tmt.spec: do not mangle shebangs on helper scripts
  packaging/rpm/tmt.spec
Owners: none

Do not mangle shebangs on helper scripts (#4874)
  packaging/rpm/tmt.spec
Owners: none

squash: small tweaks
  .claude/CLAUDE.md
Owners: none

squash: move to AGENTS.md
  .claude/CLAUDE.md
  AGENTS.md
Owners: none

Add generic tmt context to Claude instructions
  .claude/CLAUDE.md
Owners: none

squash: address some comments
  AGENTS.md
Owners: none

Pick words only when searching for Jira issues
  scripts/sprint-sync
Owners: none

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi
