Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi

Separate the lint job also
  .github/workflows/doc-tests.yml
Owners: none

Guest fact discovery via a single script
  tmt/steps/provision/__init__.py
  tmt/steps/scripts.py
  tmt/utils/__init__.py
Owners: none

squash: update tests
  tests/provision/facts/test-guest.sh
  tests/provision/facts/test-runner.sh
  tmt/base.py
  tmt/steps/provision/__init__.py
Owners: none

mock provision: make detection of finished processes more deterministic
  tmt/steps/provision/mock.py
Owners: none

Document PrepareArtifact
  tmt/steps/prepare/artifact/__init__.py
Owners: none

Add AWS instance type support for `artemis` plugin
  tmt/hardware.py
  tmt/schemas/provision/hardware.yaml
  tmt/steps/provision/artemis.py
Owners: @happz

Enable basic functionality tests for secondary images (#4428)
  tests/images.sh
  tests/prepare/install/test.sh
Owners: none

Release 1.64.0
  docs/releases/1.64.0/4388.fmf
  docs/releases/1.64.0/4409.fmf
Owners: none

Document a few PRS
  docs/releases/1.64.0/4307.fmf
  docs/releases/1.64.0/4320.fmf
Owners: none

squash: fix pm extractor
  tmt/steps/provision/__init__.py
Owners: none

Release 1.64.0 (#4436)
  docs/releases/1.64.0/4307.fmf
  docs/releases/1.64.0/4320.fmf
  docs/releases/1.64.0/4388.fmf
  docs/releases/1.64.0/4409.fmf
Owners: none

Do not require the project key in reportportal plugin schema since it can be specified in TMT_PLUGIN_REPORT_REPORTPORTAL_PROJECT environment var or on the commandline.
  tests/report/reportportal/data/project.fmf
  tests/report/reportportal/project.sh
  tmt/schemas/report/reportportal.yaml
Owners: none

Change the test reportportal project key back to the default test_tmt
  tests/report/reportportal/data/project.fmf
Owners: none

Add support for step inheritance in plan imports (#4379)
  tests/plan/import/main.fmf
  tests/plan/import/step-inheritance.sh
  tests/plan/import/step-inheritance/.fmf/version
  tests/plan/import/step-inheritance/main.fmf
  tmt/base.py
  tmt/schemas/plan.yaml
Owners: none

squash: address comments
  tests/plan/import/step-inheritance.sh
  tests/plan/import/step-inheritance/main.fmf
  tmt/base.py
  tmt/schemas/plan.yaml
Owners: none

squash: address comments
  tests/plan/import/step-inheritance/main.fmf
  tmt/base.py
  tmt/schemas/plan.yaml
Owners: none

squash: address comments
  tests/plan/import/step-inheritance.sh
  tests/plan/import/step-inheritance/main.fmf
  tmt/base.py
  tmt/schemas/plan.yaml
Owners: none

Use formatted stopwatch attributes instead of calling `format_*` helpers
  tmt/steps/execute/__init__.py
  tmt/utils/__init__.py
Owners: none

Add example tests for artifact providers
  tests/prepare/artifact/providers/koji-build/data/.fmf/version
  tests/prepare/artifact/providers/koji-build/data/main.fmf
  tests/prepare/artifact/providers/koji-build/data/test.sh
  tests/prepare/artifact/providers/koji-build/main.fmf
  tests/prepare/artifact/providers/koji-build/test.sh
  tests/prepare/artifact/providers/multi/data/.fmf/version
  tests/prepare/artifact/providers/multi/data/main.fmf
  tests/prepare/artifact/providers/multi/data/test.sh
  tests/prepare/artifact/providers/multi/main.fmf
  tests/prepare/artifact/providers/multi/test.sh
  tests/prepare/artifact/providers/repository-url/data/.fmf/version
  tests/prepare/artifact/providers/repository-url/data/main.fmf
  tests/prepare/artifact/providers/repository-url/data/test.sh
  tests/prepare/artifact/providers/repository-url/main.fmf
  tests/prepare/artifact/providers/repository-url/test.sh
Owners: none

Attach test environment to its invocation
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
Owners: none

squash: no property, no cached property
  tmt/steps/execute/__init__.py
Owners: none

Move test check invocation under the umbrella of test invocation
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
Owners: none

Attach test environment to its invocation
  tmt/steps/execute/__init__.py
Owners: none

Do not inject plan environment into test environment
  tmt/steps/discover/__init__.py
  tmt/steps/discover/fmf.py
  tmt/steps/execute/__init__.py
Owners: none

Run type-annotation linters in CI environment
  tests/type-annotations/main.fmf
  tests/type-annotations/test.sh
Owners: none

squash: include type stubs
  tests/type-annotations/test.sh
Owners: none

squash: tackle some issues
  pyproject.toml
  tests/type-annotations/test.sh
  tmt/steps/report/html.py
Owners: none

squash: fix pyright overwrite
  tests/type-annotations/test.sh
Owners: none

squash: another attempts
  tests/type-annotations/main.fmf
  tests/type-annotations/test.sh
Owners: none

squash: missing default
  tests/type-annotations/test.sh
Owners: none

squash: tweak waivers
  tmt/steps/report/html.py
Owners: none

squash: drop verbosity
  tests/type-annotations/test.sh
Owners: none

squash: more logging
  tests/type-annotations/test.sh
Owners: none

squash: drop requirements
  tests/type-annotations/main.fmf
  tests/type-annotations/test.sh
Owners: none

squash: try more warnings
  tests/type-annotations/test.sh
  tmt/steps/report/junit.py
Owners: none

squash: update tests
  tests/provision/facts/test-guest.sh
  tests/provision/facts/test-runner.sh
  tmt/base.py
  tmt/steps/provision/__init__.py
Owners: none

squash: fix pm extractor
  tmt/steps/provision/__init__.py
Owners: none

Guest fact discovery via a single script
  tmt/steps/provision/__init__.py
  tmt/steps/scripts.py
  tmt/utils/__init__.py
Owners: none

Remove job_owner and HW requirements walkaround (#3948)
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

squash: fix the fix
  tmt/steps/execute/internal.py
Owners: none
