Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi

Adjust unit tests with the new `email` key
  tests/unit/test_config.py
  tests/unit/test_utils.py
Owners: none

Update jira integration to use Jira Cloud
  docs/guide.rst
  docs/releases/pending/4879.fmf
  tmt/config/models/link.py
  tmt/utils/jira.py
Owners: none

feat: add web_link field to Result for browsable test links
  spec/results.fmf
  tests/unit/test_results.py
  tmt/result.py
  tmt/schemas/results.yaml
Owners: none

Update jira integration to use Jira Cloud (#4880)
  docs/guide.rst
  docs/releases/pending/4879.fmf
  tests/unit/test_config.py
  tests/unit/test_utils.py
  tmt/config/models/link.py
  tmt/utils/jira.py
Owners: none

implementation...
  tests/clean/runs/test.sh
  tmt/base/core.py
  tmt/steps/provision/testcloud.py
  tmt/utils/__init__.py
Owners: @lbrabec

docs: added a release note...
  docs/releases/pending/4593.fmf
Owners: none

address comments...
  tmt/base/core.py
  tmt/steps/provision/testcloud.py
  tmt/utils/__init__.py
Owners: @lbrabec

change verbose to info...
  tmt/base/core.py
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

address comments...
  tmt/base/core.py
Owners: none

address comments...
  tmt/base/core.py
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

create a helper
  tmt/base/core.py
  tmt/hardware/__init__.py
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

dont consider disk space if image failed to delete...
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

Running `tmt clean` will now show disk space freed (#4801)
  docs/releases/pending/4593.fmf
  tests/clean/runs/test.sh
  tmt/base/core.py
  tmt/hardware/__init__.py
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

Remove redundant `install_*` methods (#4792)
  tmt/guest/__init__.py
  tmt/package_managers/__init__.py
  tmt/package_managers/apk.py
  tmt/package_managers/bootc.py
  tmt/package_managers/rpm_ostree.py
  tmt/steps/prepare/distgit.py
  tmt/steps/prepare/feature/crb.py
  tmt/steps/prepare/install.py
Owners: none

Reference output.txt in results.yaml even after time out
  tests/execute/result/custom.sh
  tests/execute/result/custom/test.fmf
  tmt/steps/execute/__init__.py
Owners: none

notes
  vaibhav_design.md
  vaibhav_final_design.md
  vaibhav_notes.md
  vaibhav_poc_script.sh
Owners: none

address commnets...
  spec/hardware/hostfilter.fmf
  spec/hardware/preset.fmf
Owners: none

move schema to a dedicated file...
  spec/hardware/preset.fmf
  tmt/schemas/hardware-preset.yaml
Owners: none

address comments...
  spec/hardware/preset.fmf
Owners: none

address comments...
  spec/hardware/preset.fmf
Owners: none

update spec...
  spec/hardware/preset.fmf
Owners: none

Document specification
  spec/hardware/hostfilter.fmf
Owners: none

Introduce TmtContext
  tmt/base/core.py
  tmt/base/plan.py
  tmt/cli/about.py
  tmt/context/__init__.py
  tmt/export/nitrate.py
  tmt/plugins/__init__.py
  tmt/steps/__init__.py
  tmt/trying.py
Owners: @falconizmi

Make FmfContext read-only
  tmt/utils/__init__.py
Owners: none

Make FmfContext constructor more dict-like
  tests/unit/test_utils.py
  tmt/base/plan.py
  tmt/result.py
  tmt/utils/__init__.py
Owners: none

squash: address some comments
  AGENTS.md
Owners: none

squash: move to AGENTS.md
  .claude/CLAUDE.md
  AGENTS.md
Owners: none

Add generic tmt context to Claude instructions
  .claude/CLAUDE.md
Owners: none

squash: small tweaks
  .claude/CLAUDE.md
Owners: none

squash: reshuffle
  .claude/CLAUDE.md
  AGENTS.md
  agents/AGENTS.md
  agents/release-notes.md
  docs/contribute.rst
Owners: none

Add generic tmt context to `AGENTS.md` (#4585)
  .claude/CLAUDE.md
  AGENTS.md
  agents/AGENTS.md
  agents/release-notes.md
  docs/contribute.rst
Owners: none

Reference output.txt in results.yaml even after time out
  tests/execute/result/custom.sh
  tests/execute/result/custom/test.fmf
  tmt/steps/execute/__init__.py
Owners: none

Removed redundant test, extended existing one
  tests/execute/result/custom.sh
  tests/execute/result/custom/test.fmf
Owners: none

Reference `output.txt` in `results.yaml` when custom results are missing (#4888)
  tests/execute/result/custom.sh
  tmt/steps/execute/__init__.py
Owners: none

Add rhel-like distros
  tmt/context/distro/_rhel_like.py
  tmt/context/distro/centos.py
  tmt/context/distro/fedora.py
  tmt/context/distro/rhel.py
Owners: none

Introduce distro context handler
  tmt/cli/about.py
  tmt/context/distro/__init__.py
  tmt/plugins/__init__.py
Owners: none

Filter noisy oneOf schema warnings during tmt lint
  tests/lint/plan/data/missing_required.fmf
  tests/lint/plan/test.sh
  tmt/base/core.py
Owners: none

Address review feedback: fix CI, add release note
  docs/releases/pending/4793.fmf
  tests/prepare/large-env/data/plans.fmf
  tests/prepare/large-env/main.fmf
  tests/prepare/large-env/test.sh
Owners: none

Update tests/prepare/large-env/test.sh
  tests/prepare/large-env/test.sh
Owners: none

Transfer Containerfile via push() to avoid ARG_MAX in bootc image-mode
  tests/prepare/large-env/data/.fmf/version
  tests/prepare/large-env/data/plans.fmf
  tests/prepare/large-env/main.fmf
  tests/prepare/large-env/test.sh
  tmt/package_managers/bootc.py
Owners: none
