Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

squash: some notes
  tmt/steps/report/display.py
Owners: none

squash: why did I use unbreakable space?
  tmt/steps/report/display.py
Owners: none

squash: fix plugin name
  docs/releases.rst
Owners: none

Enable preview lint checks of ruff
  pyproject.toml
  tmt/options.py
  tmt/steps/provision/mrack.py
  tmt/steps/report/junit.py
  tmt/steps/report/reportportal.py
Owners: @dav-pascual, @4N0body5

Use the `display` report plugin to display results during execution (#3596)
  docs/releases.rst
  tests/discover/tests.sh
  tests/execute/framework/shell.sh
  tests/execute/ignore-duration/test.sh
  tests/execute/reboot/freeze.sh
  tests/execute/restraint/compatible/test.sh
  tests/execute/restraint/report-result/test.sh
  tests/execute/result/basic.sh
  tests/execute/result/check.sh
  tests/execute/result/custom.sh
  tests/report/display/test.sh
  tests/test/check/data/main.fmf
  tmt/steps/__init__.py
  tmt/steps/execute/internal.py
  tmt/steps/report/display.py
  tmt/utils/templates.py
Owners: none

Tweaks of reboot-related logging
  tests/execute/nonroot/test.sh
  tmt/steps/provision/__init__.py
  tmt/steps/provision/artemis.py
  tmt/steps/provision/testcloud.py
Owners: @happz, @lbrabec

bootc: change context folder of image buildling
  tmt/package_managers/bootc.py
  tmt/steps/prepare/install.py
Owners: none

[Doc] Refine the description of TMT_TREE
  docs/overview.rst
Owners: none

Add support for custom retries when attempting to stop testcloud VM
  tmt/schemas/provision/virtual.yaml
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

Add support for custom retries when attempting to stop testcloud VM (#3732)
  tmt/schemas/provision/virtual.yaml
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

squash: add docstrings
  tmt/base.py
Owners: none

squash: fix test data
  tests/core/fmf-id/data/remote-plan-with-valid-ref.fmf
Owners: none

squash: replace vs replace-importing
  spec/plans/import.fmf
  tests/core/fmf-id/data/remote-plan-with-valid-ref.fmf
  tmt/base.py
  tmt/schemas/plan.yaml
Owners: none

squash: Update tmt/base.py
  tmt/base.py
Owners: none

squash: an actual test
  tests/plan/import/data-plan-of-plans/plans.fmf
  tests/plan/import/plan-of-plans.sh
  tmt/base.py
Owners: none

squash: fixing tests
  tests/core/fmf-id/data/remote-plan-with-invalid-ref.fmf
  tests/core/fmf-id/data/remote-plan-with-valid-ref.fmf
  tests/plan/import/invalid-data/bad-url.fmf
  tmt/base.py
  tmt/schemas/plan.yaml
Owners: none

squash: testing
  tests/plan/import/plan-of-plans.sh
  tmt/base.py
Owners: none

squash: first-plan-only
  spec/plans/import.fmf
  tests/plan/import/data-plan-of-plans/plans.fmf
  tmt/base.py
  tmt/schemas/plan.yaml
Owners: none

squash: rename limit to scope
  spec/plans/import.fmf
  tests/plan/import/data-plan-of-plans/plans.fmf
  tmt/base.py
  tmt/schemas/plan.yaml
Owners: none

squash: Update spec/plans/import.fmf
  spec/plans/import.fmf
Owners: none

squash: replace vs replace-importing
  spec/plans/import.fmf
  tests/core/fmf-id/data/remote-plan-with-valid-ref.fmf
  tmt/base.py
  tmt/schemas/plan.yaml
Owners: none

squash: Update spec/plans/import.fmf
  spec/plans/import.fmf
Owners: none

squash: fix name
  tmt/base.py
Owners: none

A plan of plans
  spec/plans/import.fmf
  tests/plan/import/data-plan-of-plans/.fmf/version
  tests/plan/import/data-plan-of-plans/plans.fmf
  tests/plan/import/data/plans.fmf
  tests/plan/import/plan-of-plans.sh
  tmt/base.py
  tmt/schemas/plan.yaml
  tmt/steps/discover/__init__.py
Owners: none

Add FORCE_DNF to epel prepare feature
  tmt/steps/prepare/feature/epel-enable.yaml
Owners: none

crb feature tests
  tests/core/about/test.sh
  tests/prepare/feature/crb/data/.fmf/version
  tests/prepare/feature/crb/data/plans.fmf
  tests/prepare/feature/crb/main.fmf
  tests/prepare/feature/crb/test.sh
Owners: none

crb prepare feature
  tmt/schemas/prepare/feature.yaml
  tmt/steps/prepare/feature/crb.py
Owners: none

squash: update comment
  tmt/steps/execute/scripts/tmt-reboot
Owners: none

A plan of plans (#3566)
  spec/plans/import.fmf
  tests/core/fmf-id/data/remote-plan-with-invalid-ref.fmf
  tests/core/fmf-id/data/remote-plan-with-valid-ref.fmf
  tests/plan/import/data-plan-of-plans/.fmf/version
  tests/plan/import/data-plan-of-plans/plans.fmf
  tests/plan/import/data/plans.fmf
  tests/plan/import/invalid-data/bad-url.fmf
  tests/plan/import/plan-of-plans.sh
  tmt/base.py
  tmt/schemas/plan.yaml
  tmt/steps/discover/__init__.py
Owners: none

squash: a test
  tests/provision/ssh-multiplexing/test.sh
Owners: none

squash: better tests
  tests/provision/ssh-multiplexing/main.fmf
  tests/provision/ssh-multiplexing/test.exp
  tests/provision/ssh-multiplexing/test.sh
Owners: none

squash: does not work
  tests/provision/ssh-multiplexing/test.exp
  tests/provision/ssh-multiplexing/test.sh
Owners: none

Shut down SSH master process when leaving tmt
  tmt/base.py
  tmt/steps/__init__.py
  tmt/steps/provision/__init__.py
Owners: none

squash: more...
  docs/releases.rst
  tests/provision/ssh-multiplexing/test.sh
Owners: none

Add missing release note for the plan-of-plans feature
  docs/releases.rst
Owners: none

squash: fix typo
  docs/releases.rst
Owners: none

squash: fix typo
  docs/releases.rst
Owners: none

Ansible plugin now saves output and produces prepare/finish result
  tests/finish/ansible/test.sh
  tmt/queue.py
  tmt/steps/__init__.py
  tmt/steps/finish/__init__.py
  tmt/steps/finish/shell.py
  tmt/steps/prepare/__init__.py
  tmt/steps/prepare/ansible.py
  tmt/steps/prepare/distgit.py
  tmt/steps/prepare/feature/__init__.py
  tmt/steps/prepare/install.py
  tmt/steps/prepare/shell.py
  tmt/steps/provision/__init__.py
Owners: none

squash: missing requirements
  tests/provision/ssh-multiplexing/main.fmf
Owners: none

fixup! squash! Run linkcheck only with ready for merge label
  .github/actions/setup-docs-env/action.yml
Owners: none

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi
