Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi

Add release note
  docs/releases.rst
Owners: none

Log the mock commands' output in real time
  tmt/steps/provision/mock.py
Owners: none

Update tmt/steps/prepare/feature/epel-enable.yaml
  tmt/steps/prepare/feature/epel-enable.yaml
Owners: none

Do not alter the actual `/var/tmp/tmt` in test
  tests/run/permissions/test.sh
Owners: none

Update tmt/steps/prepare/feature/epel-enable.yaml
  tmt/steps/prepare/feature/epel-enable.yaml
Owners: none

Extract `tmt run` from `tmt.cli` into standalone module
  tmt/__main__.py
  tmt/cli/_root.py
  tmt/cli/run.py
Owners: none

squash: Update tmt/cli/run.py
  tmt/cli/run.py
Owners: none

Onboard Fedora ELN containers
  Makefile
  containers/fedora/eln/Containerfile
  containers/fedora/eln/Containerfile.unprivileged
  containers/fedora/eln/Containerfile.upstream
Owners: none

Workaround RHEL8 epel/fips feature for Fedora 42+ (#4030)
  docs/releases.rst
  tests/prepare/feature/epel/data/plans.fmf
  tests/prepare/feature/epel/test.sh
  tmt/steps/prepare/feature/epel-disable.yaml
  tmt/steps/prepare/feature/epel-enable.yaml
  tmt/steps/prepare/feature/fips-enable.yaml
Owners: none

squash:fix test failure
  tests/unit/provision/mrack/test_thread_safety.py
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

squash:address comments
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

squash: address comment
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

squash:update
  tests/unit/provision/mrack/test_thread_safety.py
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

squash:address comment
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

Support multiple threads provisioning for `Mrack` (#3941)
  tests/unit/provision/mrack/test_thread_safety.py
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

squash:remove _create_provider_config
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

squash:address comments
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

squash: address comments
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

squash:update
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

Support multiple threads provisioning for `Mrack` (#3941)
  tests/unit/provision/mrack/test_thread_safety.py
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

Use non-existing WORKDIR_ROOT to check creation
  tests/run/permissions/test.sh
Owners: none

Rename tag
  plans/dev/main.fmf
  tests/dev/tmt-lint/main.fmf
Owners: none

Keep tmt-lint pre-commit for now
  .pre-commit-config.yaml
Owners: none

Move install plans into `dev` plan
  plans/dev/pip.fmf
  plans/install/main.fmf
  tests/dev/pip/install.fmf
Owners: none

Change back to using `SETUPTOOLS_SCM_PRETEND_VERSION`
  plans/dev/main.fmf
  tests/dev/pip/install.fmf
Owners: none

Add back the pip install tests in the dev plans
  plans/dev/pip.fmf
Owners: none

Move `tmt-lint` to `dev` plan
  .pre-commit-config.yaml
  tests/dev/tmt-lint/main.fmf
Owners: none

Add initial dev plan
  .packit.yaml
  plans/dev/main.fmf
  tests/dev/main.fmf
Owners: none

Keep the old pip install tests
  plans/install/pip.fmf
Owners: none

Align `Beaker` and `Artemis` with other plugins for status update. (#4038)
  tmt/steps/provision/artemis.py
  tmt/steps/provision/mrack.py
Owners: @happz, @dav-pascual

Transform x86_64 to x8664 for Polarion report compatibility
  tmt/steps/report/polarion.py
Owners: @KwisatzHaderach

Delete an empty line
  tmt/steps/report/polarion.py
Owners: @KwisatzHaderach

Improve logging and comments
  tmt/steps/provision/mock.py
Owners: none

Adjust packit comment
  .packit.yaml
Owners: none

Unify mock shell initialization handling
  tmt/steps/provision/mock.py
Owners: none

Support `bootc` installation for `mrack` plugin (#3728)
  tests/provision/beaker/bootc.sh
  tests/provision/beaker/data/main.fmf
  tests/provision/beaker/hardware.sh
  tests/provision/beaker/main.fmf
  tmt/schemas/provision/beaker.yaml
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

squash:update
  tests/provision/beaker/data/main.fmf
  tmt/schemas/provision/beaker.yaml
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

squash: address comment
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

squash:address comments
  tests/provision/beaker/main.fmf
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

squash:address comment
  tests/provision/beaker/data/config/hardware.fmf
Owners: none
