Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi

feat(report/polarion): Add metadata support and auto-generate description
  examples/polarion-run-report/plan.fmf
  tmt/steps/report/polarion.py
Owners: @KwisatzHaderach

fix(report/polarion): Fix metadata fields to work correctly
  tmt/steps/report/polarion.py
Owners: @KwisatzHaderach

squash: address file:// constant
  tmt/utils/git.py
Owners: none

feat(report/polarion): Add working metadata fields and ReportPortal integration
  examples/polarion-run-report/plan.fmf
  tmt/steps/report/polarion.py
Owners: @KwisatzHaderach

Move generator scripts to be sphinx extensions (#3977)
  Makefile
  docs/Makefile
  docs/code/autodocs/.gitkeep
  docs/conf.py
  docs/ext/generate_hardware_matrix.py
  docs/ext/generate_lint_checks.py
  docs/ext/generate_plugins.py
  docs/ext/generate_stories.py
  docs/ext/generate_template_extensions.py
  docs/ext/generate_test_runner_guest_matrix.py
  docs/ext/linkcheck_cache.py
  docs/ext/sphinx_apidoc.py
  docs/ext/tmt_setup.py
  docs/scripts/generate-template-extensions.py
  pyproject.toml
Owners: none

fix(report/polarion): Use title field for plan summary (description field broken)
  POLARION_FIELD_LIMITATIONS.md
  examples/polarion-run-report/plan.fmf
  tmt/steps/report/polarion.py
Owners: @KwisatzHaderach

feat(report/polarion): Include full plan path in auto-generated title
  tmt/steps/report/polarion.py
Owners: @KwisatzHaderach

refactor(report/polarion): Clean up code and improve logging
  POLARION_FIELD_LIMITATIONS.md
  tmt/steps/report/polarion.py
Owners: @KwisatzHaderach

feat(report/polarion): Add description field support via SUDS manipulation
  tmt/steps/report/polarion.py
Owners: @KwisatzHaderach

feat(report/polarion): Add autogeneration header with plan link to description
  tmt/steps/report/polarion.py
Owners: @KwisatzHaderach

Add suggestions from code review
  tmt/steps/prepare/artifact/providers/repository.py
Owners: none

Fix repository provider to use the new class structure
  tests/unit/artifact/test_repository.py
  tmt/steps/prepare/artifact/providers/repository.py
Owners: none

add suggestions from code review
  tmt/steps/prepare/artifact/providers/repository.py
Owners: none

Enable some existing tests with mock provisioning
  plans/provision/mock.fmf
  tests/prepare/shell/main.fmf
  tests/provision/environment/main.fmf
  tests/provision/mock/main.fmf
Owners: none

Add more tests for mock
  tests/provision/mock/fedora-rawhide-x86_64/multiple-tests/data/.fmf/version
  tests/provision/mock/fedora-rawhide-x86_64/multiple-tests/data/main.fmf
  tests/provision/mock/fedora-rawhide-x86_64/multiple-tests/main.fmf
  tests/provision/mock/fedora-rawhide-x86_64/multiple-tests/test.sh
Owners: none

Share data directory for mock tests
  tests/provision/mock/fedora-rawhide-x86_64/data/.fmf/version
  tests/provision/mock/fedora-rawhide-x86_64/data/main.fmf
  tests/provision/mock/fedora-rawhide-x86_64/multiple-tests/test.sh
  tests/provision/mock/fedora-rawhide-x86_64/provision-prepare/test.sh
  tests/provision/mock/fedora-rawhide-x86_64/simple/data/.fmf/version
  tests/provision/mock/fedora-rawhide-x86_64/simple/data/main.fmf
  tests/provision/mock/fedora-rawhide-x86_64/simple/test.sh
Owners: none

Remove the assertion in _spawn_command
  tmt/steps/provision/mock.py
Owners: none

Improve existing mock tests
  tests/provision/mock/fedora-rawhide-x86_64/provision-prepare/data/main.fmf
  tests/provision/mock/fedora-rawhide-x86_64/provision-prepare/main.fmf
  tests/provision/mock/fedora-rawhide-x86_64/provision-prepare/test.sh
  tests/provision/mock/fedora-rawhide-x86_64/simple/data/main.fmf
Owners: none

Fix mock test issues
  tests/provision/mock/fedora-rawhide-x86_64/multiple-tests/data/.fmf/version
  tests/provision/mock/fedora-rawhide-x86_64/multiple-tests/data/main.fmf
  tests/provision/mock/fedora-rawhide-x86_64/multiple-tests/test.sh
  tests/provision/mock/fedora-rawhide-x86_64/provision-prepare/test.sh
  tests/provision/mock/fedora-rawhide-x86_64/simple/test.sh
Owners: none

Improve tests
  tests/provision/mock/fedora-rawhide-x86_64/multiple-tests/data/main.fmf
  tests/provision/mock/fedora-rawhide-x86_64/multiple-tests/test.sh
  tests/provision/mock/fedora-rawhide-x86_64/provision-prepare/data/main.fmf
  tests/provision/mock/fedora-rawhide-x86_64/provision-prepare/test.sh
  tests/provision/mock/fedora-rawhide-x86_64/simple/data/main.fmf
  tests/provision/mock/fedora-rawhide-x86_64/simple/test.sh
Owners: none

add new plugin key to discover plugin tests
  tests/core/about/test.sh
Owners: none

Improve guest log collection
  tmt/steps/cleanup/internal.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/artemis.py
  tmt/steps/provision/mrack.py
  tmt/steps/provision/testcloud.py
  tmt/utils/__init__.py
Owners: @happz, @dav-pascual, @lbrabec

Test mock provision (#4195)
  plans/provision/mock.fmf
  tests/prepare/shell/main.fmf
  tests/provision/environment/main.fmf
  tests/provision/mock/fedora-rawhide-x86_64/data/.fmf/version
  tests/provision/mock/fedora-rawhide-x86_64/data/main.fmf
  tests/provision/mock/fedora-rawhide-x86_64/multiple-tests/main.fmf
  tests/provision/mock/fedora-rawhide-x86_64/multiple-tests/test.sh
  tests/provision/mock/fedora-rawhide-x86_64/provision-prepare/data/main.fmf
  tests/provision/mock/fedora-rawhide-x86_64/provision-prepare/main.fmf
  tests/provision/mock/fedora-rawhide-x86_64/provision-prepare/test.sh
  tests/provision/mock/fedora-rawhide-x86_64/simple/data/.fmf/version
  tests/provision/mock/fedora-rawhide-x86_64/simple/data/main.fmf
  tests/provision/mock/main.fmf
  tmt/steps/provision/mock.py
Owners: none

refactor: Simplify ShellScript string construction
  tmt/package_managers/dnf.py
Owners: none

addressed only required change - minimal diff
  tmt/package_managers/dnf.py
Owners: none

Avoid indented multiline shell script when creating a yum/dnf repository on guest, it breaks repository configuration (#4279)
  tmt/package_managers/dnf.py
Owners: none

Add ssh-option field to provision plugins JSON schema
  tmt/schemas/provision/artemis.yaml
  tmt/schemas/provision/beaker.yaml
  tmt/schemas/provision/bootc.yaml
  tmt/schemas/provision/connect.yaml
  tmt/schemas/provision/virtual.yaml
Owners: none

Utilize normalize_data_amount to eliminate redundancy (#4294)
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

Add ssh-option field to provision plugins JSON schema (#4275)
  tmt/schemas/provision/artemis.yaml
  tmt/schemas/provision/beaker.yaml
  tmt/schemas/provision/bootc.yaml
  tmt/schemas/provision/connect.yaml
  tmt/schemas/provision/virtual.yaml
Owners: none

use re.full match
  tmt/steps/prepare/artifact/providers/repository.py
Owners: none

Extra pidfile handling into its own context class
  tmt/steps/context/pidfile.py
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
Owners: none

squash: address comments
  tmt/steps/context/pidfile.py
Owners: none

Implement the Repository Provider (#4139)
  tests/core/about/test.sh
  tests/unit/artifact/test_repository.py
  tmt/steps/prepare/artifact/providers/repository.py
Owners: none

Update more tmt.spec references
  pyproject.toml
Owners: none

Move `.distro` to `packaging` location
  .packit.yaml
  Makefile
  packaging/.fmf/version
  packaging/plans/minimal.fmf
  packaging/plans/smoke.fmf
  packaging/plans/upstream.fmf
  packaging/rpm/gating.yaml
  packaging/rpm/rpminspect.yaml
  packaging/rpm/tmt.rpmlintrc
  packaging/rpm/tmt.spec
  stories/cli/usability.fmf
  stories/install.fmf
  tests/full/test.sh
Owners: none

Move the downstream files upwards
  .distro/.fmf/version
  .distro/gating.yaml
  .distro/plans/minimal.fmf
  .distro/plans/smoke.fmf
  .distro/plans/upstream.fmf
  .distro/rpminspect.yaml
  .distro/tmt.rpmlintrc
  .distro/tmt.spec
  .packit.yaml
Owners: none

Stop diverging dist-git branches
  .packit.yaml
Owners: none

Test downstream tests
  .distro/plans/upstream.fmf
  .packit.yaml
Owners: none

Update the references to tmt.spec
  Makefile
  stories/cli/usability.fmf
  stories/install.fmf
  tests/discover/references-shell.sh
  tests/full/test.sh
Owners: none

Prepare downstream tests for artifact install
  .distro/plans/minimal.fmf
Owners: none
