Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi

Fix silent package upgrades in package install (#4937)
  tests/package-managers/bootc/test.sh
  tests/prepare/install/test.sh
  tests/try/basic/test.sh
  tests/unit/test_package_managers.py
  tmt/package_managers/__init__.py
  tmt/package_managers/apk.py
  tmt/package_managers/apt.py
  tmt/package_managers/bootc.py
  tmt/package_managers/dnf.py
  tmt/package_managers/mock.py
  tmt/package_managers/rpm_ostree.py
Owners: none

squash: better linebreak
  agents/AGENTS.md
Owners: none

squash: tweak message
  agents/AGENTS.md
Owners: none

Tune down the sycophancy of code assistants
  agents/AGENTS.md
Owners: none

Tune down the sycophancy of code assistants (#4902)
  agents/AGENTS.md
Owners: none

Prevent corruption of dnf base command instance
  tmt/package_managers/dnf.py
Owners: none

Include host PATH in podman unshare environment for ansible execution
  tmt/steps/provision/podman.py
Owners: none

Prevent corruption of dnf base command instance (#5002)
  tmt/package_managers/dnf.py
Owners: none

squash: fix tests
  tests/provision/memory/data/plans.fmf
Owners: none

squash: addressing tests
  tests/provision/beaker/data/main.fmf
  tmt/hardware/constraints.py
  tmt/hardware/requirements.py
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

squash: tests
  tests/unit/provision/mrack/test_hw.py
Owners: none

Remove boilerplate needed for hardware requirement parsers
  tests/unit/test_hardware.py
  tmt/hardware/constraints.py
  tmt/hardware/requirements.py
Owners: none

squash: more tests
  tests/unit/provision/mrack/test_hw.py
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

squash: more test fixes
  tests/unit/provision/mrack/test_hw.py
  tmt/hardware/requirements.py
Owners: none

Use factory pattern when creating instances of HW constraint classes
  tmt/hardware/constraints.py
  tmt/hardware/requirements.py
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

Add no-color.org and YAML specs to linkcheck ignore list
  docs/conf.py
Owners: none

Add no-color.org and YAML specs to linkcheck ignore list (#5014)
  docs/conf.py
Owners: none

Pass the CLI invocation to the runner
  tmt/base/run.py
Owners: none

Test podman unshare ansible PATH inheritance
  tests/unit/test_guest.py
Owners: none

XFail on python3.15
  plans/sanity/main.fmf
  tests/precommit/main.fmf
  tests/sanity/pip/install.fmf
  tests/unit/main.fmf
Owners: none

XFail on python3.15 (#5015)
  plans/sanity/main.fmf
  tests/precommit/main.fmf
  tests/sanity/pip/install.fmf
  tests/unit/main.fmf
Owners: none

Run plans in parallel
  tmt/base/plan.py
  tmt/base/run.py
  tmt/queue.py
  tmt/steps/__init__.py
Owners: none

squash: requires
  tmt/guest/__init__.py
Owners: none

Guest fact discovery via a single script
  tmt/steps/scripts.py
  tmt/utils/__init__.py
Owners: none

squash: post-rebase fixes
  tmt/guest/__init__.py
Owners: none

squash: post-rebase fixes
  tmt/guest/__init__.py
Owners: none

squash: post-rebase
  tmt/guest/__init__.py
Owners: none

squash: check
  tmt/guest/__init__.py
Owners: none

squash: better handling of failed syncs
  tmt/guest/__init__.py
Owners: none

squash: fix tests
  tests/unit/test_package_managers.py
Owners: none

squash: update tests
  tests/provision/facts/test-guest.sh
  tests/provision/facts/test-runner.sh
  tmt/base/run.py
Owners: none

squash: check
  tmt/guest/__init__.py
Owners: none

squash: don't discover tests
  docs/guide.rst
  tmt/steps/discover/__init__.py
  tmt/steps/discover/fmf.py
  tmt/steps/discover/shell.py
Owners: none

squash: skip all report plugins
  docs/guide.rst
  tmt/steps/report/html.py
  tmt/steps/report/junit.py
Owners: none

squash: remove echo, improve docs
  docs/guide.rst
  stories/cli/common.fmf
  tmt/convert.py
Owners: none

squash: do not allow plan imports
  docs/guide.rst
  tmt/base/plan.py
Owners: none

squash: rename links
  docs/contribute.rst
  docs/guide.rst
  docs/releases/1.75.0/4443.fmf
  docs/releases/pending/4982.fmf
  stories/cli/common.fmf
Owners: none

squash: skip login, mention clean commands in guide
  docs/guide.rst
  tmt/steps/__init__.py
Owners: none

squash: add dry mode checks to convert methods
  tmt/cli/_root.py
  tmt/convert.py
Owners: none

squash: add a release note, fix typo
  docs/guide.rst
  docs/releases/pending/4982.fmf
Owners: none
