Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi

Replace egrep with grep -E
  tests/multihost/complete/data/plans.fmf
  tests/multihost/complete/data/tests/test.sh
  tests/plan/show/test.sh
Owners: none

Adds git reference handling
  tmt/steps/prepare/shell.py
Owners: none

squash: remove rsync enum
  tmt/steps/provision/__init__.py
Owners: none

Do not attempt to install rsync when push/pull fails
  tmt/steps/provision/__init__.py
  tmt/utils/__init__.py
Owners: none

squash: revalidate rsync after each test
  tmt/steps/execute/internal.py
  tmt/steps/provision/__init__.py
Owners: none

squash: address comments
  tmt/steps/provision/__init__.py
Owners: none

squash: fix formatting
  docs/contribute.rst
Owners: none

Add note on multiline strings to contribution guide
  docs/contribute.rst
Owners: none

squash: add note on the limit
  docs/contribute.rst
Owners: none

Add note on internal check plugins, and mark their docs as reviewed
  docs/plugins/test-checks-header.inc.rst
  docs/scripts/generate-plugins.py
  tmt/checks/internal/abort.py
  tmt/checks/internal/interrupt.py
  tmt/checks/internal/invocation.py
  tmt/checks/internal/permission.py
  tmt/checks/internal/timeout.py
Owners: none

squash: include new plugin
  docs/scripts/generate-plugins.py
  tmt/checks/internal/guest.py
Owners: none

building tmt on Aarch64 macos
  Makefile
  pyproject.toml
Owners: none

Use the old syntax in `Containerfile.{mini|full}`
  containers/Containerfile.full
  containers/Containerfile.mini
Owners: none

Simple cache mechanism for linkchecks
  docs/conf.py
Owners: none

Add linkcheck cache to GH cache
  .github/workflows/doc-tests.yml
Owners: none

Redirect web_git_url to local paths
  docs/conf.py
Owners: none

Replace `egrep` with `grep -E` (#3829)
  tests/multihost/complete/data/plans.fmf
  tests/multihost/complete/data/tests/test.sh
  tests/plan/show/test.sh
Owners: none

Fix one more outdated label name
  docs/contribute.rst
Owners: none

Fix a typo
  docs/contribute.rst
Owners: none

Encourage keeping the pull request description up-to-date
  docs/contribute.rst
Owners: none

squash: drop multiple username defaults
  tmt/steps/provision/__init__.py
  tmt/steps/provision/artemis.py
  tmt/steps/provision/connect.py
  tmt/steps/provision/mrack.py
  tmt/steps/provision/testcloud.py
Owners: @happz, @dav-pascual, @lbrabec

Polish provision/connect and provision/local docs
  docs/scripts/generate-plugins.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/connect.py
  tmt/steps/provision/local.py
Owners: none

Polish provision/connect and provision/local docs (#3798)
  docs/scripts/generate-plugins.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/artemis.py
  tmt/steps/provision/connect.py
  tmt/steps/provision/local.py
  tmt/steps/provision/mrack.py
  tmt/steps/provision/testcloud.py
Owners: @happz, @dav-pascual, @lbrabec

Give parse_hw() the string literal
  tests/unit/test_hardware.py
Owners: none

Emit a more specific warning when a hardware constraint is not supported.
  tests/unit/test_hardware.py
  tmt/hardware.py
Owners: none

Dmesg and AVC check add note explaining `skip` outcome
  tests/test/check/test-dmesg.sh
  tmt/checks/__init__.py
  tmt/checks/avc.py
  tmt/checks/dmesg.py
  tmt/utils/hints.py
Owners: none

squash: post-rebase polishing
  tmt/checks/avc.py
  tmt/checks/dmesg.py
  tmt/utils/hints.py
Owners: none

Don't check whether default transformers exist (#3699)
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

Emit a more specific warning when a hardware constraint is not supported (#3837)
  tests/unit/test_hardware.py
  tmt/hardware.py
Owners: none

Enable core/spaces beakerlib test since PR#101 has been merged.
  tests/core/spaces/data/a directory/some tests/a beakerlib test/main.fmf
Owners: none

Switch linter outcome colors to themes
  tmt/cli/__init__.py
  tmt/cli/_root.py
  tmt/cli/lint.py
  tmt/config/models/themes.py
  tmt/config/themes/default.yaml
  tmt/config/themes/plain.yaml
  tmt/lint.py
Owners: none

Drop static mapping of Beaker hardware transformes
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

squash: Update tmt/steps/provision/mrack.py
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

Enable `/tests/core/spaces` beakerlib test (#3867)
  tests/core/spaces/data/a directory/some tests/a beakerlib test/main.fmf
Owners: none

fips-enable: Set FIPS mode by explicitly setting crypto-policy
  tmt/steps/prepare/feature/fips-enable.yaml
Owners: none

Optimize package manager discovery
  tmt/steps/provision/__init__.py
  tmt/utils/rest.py
Owners: none

Add .zed and .cursor to .gitignore
  .gitignore
Owners: none

Optimize package manager discovery - PR review
  tmt/steps/provision/__init__.py
Owners: none

Optimize package manager discovery - PR review
  tmt/steps/provision/__init__.py
Owners: none

Improve setting FIPS mode by explicitly setting crypto-policy (#3866)
  tmt/steps/prepare/feature/fips-enable.yaml
Owners: none
