Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi

Addressed PR comments
  docs/releases.rst
  tests/unit/test_cli_actions.py
  tmt/trying.py
Owners: @falconizmi

initial action selection to remove duplicate START_ASK branch
  tmt/trying.py
Owners: @falconizmi

Implement local change directory action
  docs/releases.rst
  tests/unit/test_cli_actions.py
  tmt/trying.py
Owners: @falconizmi

Move sphinx-apidoc to sphinx builder
  docs/Makefile
  docs/code/autodocs/.gitkeep
  docs/ext/tmt_setup.py
Owners: none

Move generate-lint-checks into sphinx build
  docs/Makefile
  docs/ext/generate_lint_checks.py
  docs/ext/tmt_setup.py
Owners: none

Move generate-hardware-matrix into sphinx build
  docs/Makefile
  docs/ext/generate_hardware_matrix.py
  docs/ext/tmt_setup.py
Owners: none

Move generate-test-runner-guest-matrix into sphinx build
  docs/Makefile
  docs/ext/generate_test_runner_guest_matrix.py
  docs/ext/tmt_setup.py
Owners: none

Move generate-template-extensions into sphinx build
  docs/Makefile
  docs/ext/generate_template_extensions.py
  docs/ext/tmt_setup.py
  docs/scripts/generate-template-extensions.py
Owners: none

Move generate-stories into sphinx build
  docs/Makefile
  docs/ext/generate_stories.py
  docs/ext/tmt_setup.py
Owners: none

Don't need all those if conditions
  docs/ext/generate_plugins.py
Owners: none

Move generate-plugins into sphinx build
  docs/Makefile
  docs/ext/generate_plugins.py
  docs/ext/tmt_setup.py
Owners: none

Refactoring task queue, part 1
  tmt/queue.py
  tmt/steps/__init__.py
  tmt/steps/finish/__init__.py
  tmt/steps/prepare/__init__.py
  tmt/steps/provision/__init__.py
Owners: none

Adds tmt scripts installation logic to local guest
  tmt/steps/provision/local.py
Owners: none

Rewrite remote url for plans as well
  tmt/base.py
Owners: none

squash: apply feedback
  tmt/base.py
Owners: none

Refactoring task queue, part 1 (#3831)
  tmt/queue.py
  tmt/steps/__init__.py
  tmt/steps/finish/__init__.py
  tmt/steps/prepare/__init__.py
  tmt/steps/provision/__init__.py
Owners: none

Document skipping tests in the release pull request
  docs/contribute.rst
Owners: none

Document skipping tests in the release pull request (#3968)
  docs/contribute.rst
Owners: none

Detect and report an unreachable guest
  tmt/steps/provision/__init__.py
  tmt/steps/provision/artemis.py
  tmt/steps/provision/connect.py
  tmt/steps/provision/local.py
  tmt/steps/provision/mrack.py
  tmt/steps/provision/podman.py
  tmt/steps/provision/testcloud.py
Owners: @happz, @dav-pascual, @lbrabec

Refactor: reduce duplication in prints
  tmt/trying.py
Owners: @falconizmi

Simple cache mechanism for linkchecks
  docs/conf.py
Owners: none

Add linkcheck cache to GH cache
  .github/workflows/doc-tests.yml
Owners: none

Redirect web_git_url to local paths
  docs/conf.py
Owners: none

Remove the previous linkcheck workarounds
  .github/workflows/doc-tests.yml
  docs/conf.py
Owners: none

Move the magic number to a variable
  docs/conf.py
Owners: none

Refactor plan fmf context composition
  tmt/base.py
  tmt/result.py
  tmt/steps/__init__.py
  tmt/steps/discover/fmf.py
  tmt/steps/execute/__init__.py
  tmt/steps/report/html/template.html.j2
  tmt/steps/report/polarion.py
  tmt/steps/report/reportportal.py
  tmt/utils/__init__.py
Owners: @KwisatzHaderach, @4N0body5

squash: comments
  tmt/base.py
Owners: none

Detect and report an unreachable guest (#3964)
  tmt/steps/provision/__init__.py
  tmt/steps/provision/artemis.py
  tmt/steps/provision/connect.py
  tmt/steps/provision/local.py
  tmt/steps/provision/mrack.py
  tmt/steps/provision/podman.py
  tmt/steps/provision/testcloud.py
Owners: @happz, @dav-pascual, @lbrabec

When interrupted while running a test, interrupt the test and skip the rest
  docs/releases.rst
  tests/execute/interrupt/data/.fmf/version
  tests/execute/interrupt/data/main.fmf
  tests/execute/interrupt/main.fmf
  tests/execute/interrupt/test.sh
  tmt/checks/internal/abort.py
  tmt/checks/internal/guest.py
  tmt/checks/internal/interrupt.py
  tmt/checks/internal/invocation.py
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
Owners: none

squash: fix release note
  docs/releases.rst
Owners: none

When interrupted while running a test, interrupt the test and skip the rest (#3943)
  docs/releases.rst
  tests/execute/interrupt/data/.fmf/version
  tests/execute/interrupt/data/main.fmf
  tests/execute/interrupt/main.fmf
  tests/execute/interrupt/test.sh
  tmt/checks/internal/abort.py
  tmt/checks/internal/guest.py
  tmt/checks/internal/interrupt.py
  tmt/checks/internal/invocation.py
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
Owners: none

Add ImageBuilder class (#3980)
  tmt/steps/provision/bootc.py
  tmt/utils/imagebuilder.py
Owners: none

Enable back the `avc` test check
  tests/main.fmf
Owners: none

Add ImageBuilder class (#3980)
  tmt/steps/provision/bootc.py
  tmt/utils/imagebuilder.py
Owners: none

Document mandatory full test execution for release pull requests
  docs/contribute.rst
Owners: none

Support `bootc` installation for `mrack` plugin (#3728)
  tests/provision/beaker/bootc.sh
  tests/provision/beaker/data/main.fmf
  tests/provision/beaker/main.fmf
  tmt/schemas/provision/beaker.yaml
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

Document mandatory full test execution for release pull requests (#3984)
  docs/contribute.rst
Owners: none

add suggestions from code review
  tests/discover/references.sh
  tmt/libraries/beakerlib.py
  tmt/steps/discover/fmf.py
  tmt/steps/discover/shell.py
  tmt/utils/git.py
Owners: none

log git head-commit-ref in info verbosity
  tests/discover/references.sh
  tmt/utils/git.py
Owners: none

rename log line to commit-hash
  tests/discover/references.sh
  tmt/utils/git.py
Owners: none
