Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi

squash: address comments
  docs/releases/1.63.0/4331.fmf
  spec/hardware/device.fmf
Owners: none

Add support `device.vendor` constraint for `mrack` plugin (#4332)
  tests/unit/provision/mrack/test_hw.py
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

squash: address comments
  docs/releases/1.63.0/4332.fmf
  spec/hardware/device.fmf
Owners: none

Improve detection of required keys in tmt lint (#4330)
  tests/core/fmf-id/data/test-with-valid-ref.fmf
  tests/core/fmf-id/test.sh
  tests/lint/test/data/library-missing-url-path.fmf
  tests/lint/test/test.sh
  tmt/schemas/common.yaml
Owners: none

squash: address comment
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

Utilize normalize_data_amount to eliminate redundancy (#4299)
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

squash: address comment
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

squash: address comments
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

squash: address comment
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

squash: address comment
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

squash: address comment
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

Utilize normalize_data_amount to eliminate redundancy (#4299)
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

Add systemd soft reboot functionality (#4304)
  tmt/steps/context/reboot.py
  tmt/steps/execute/internal.py
  tmt/steps/provision/__init__.py
  tmt/steps/scripts/tmt-reboot
  tmt/steps/scripts/tmt-reboot-core
  tmt/utils/__init__.py
Owners: none

compile at runtime
  tmt/export/__init__.py
Owners: none

Cleanup some artifact_provider constructors (#4323)
  tests/core/about/test.sh
  tests/unit/artifact/conftest.py
  tests/unit/artifact/test_brew.py
  tests/unit/artifact/test_koji.py
  tmt/steps/prepare/artifact/__init__.py
  tmt/steps/prepare/artifact/providers/brew.py
  tmt/steps/prepare/artifact/providers/koji.py
Owners: none

compile the pattern in SECTIONS_HEADINGS
  tmt/base.py
  tmt/export/__init__.py
  tmt/export/nitrate.py
Owners: none

A "provides environment" trait for classes
  tmt/base.py
  tmt/steps/context/abort.py
  tmt/steps/context/pidfile.py
  tmt/steps/context/reboot.py
  tmt/steps/context/restart.py
  tmt/steps/context/restraint.py
  tmt/steps/execute/internal.py
  tmt/steps/provision/__init__.py
  tmt/utils/__init__.py
Owners: none

Update tmt/export/nitrate.py
  tmt/export/nitrate.py
Owners: none

A "provides environment" trait for classes (#4306)
  tmt/base.py
  tmt/steps/context/abort.py
  tmt/steps/context/pidfile.py
  tmt/steps/context/reboot.py
  tmt/steps/context/restart.py
  tmt/steps/context/restraint.py
  tmt/steps/execute/internal.py
  tmt/steps/provision/__init__.py
  tmt/utils/__init__.py
Owners: none

squash: fix test
  tests/try/basic/test.sh
Owners: none

Support `--environment` to `tmt try` (#4311)
  tests/try/basic/data/environment.exp
  tests/try/basic/data/plans/environment.fmf
  tests/try/basic/test.sh
  tmt/cli/trying.py
Owners: none

squash: add release note
  docs/releases/pending/4311.fmf
Owners: none

squash: address comment
  tests/try/basic/data/plans/environment.fmf
  tests/try/basic/test.sh
Owners: none

Support `--environment` to `tmt try` (#4311)
  docs/releases/pending/4311.fmf
  tests/try/basic/data/environment.exp
  tests/try/basic/data/plans/environment.fmf
  tests/try/basic/test.sh
  tmt/cli/trying.py
Owners: none

squash: reference
  tmt/steps/report/reportportal.py
Owners: @4N0body5

squash: add release note
  docs/releases/pending/4300.fmf
Owners: none

Add maximum size limit validation for ReportPortal log uploads
  tmt/steps/report/reportportal.py
Owners: @4N0body5

Extend tmt-report-result with a bit of logging
  tmt/steps/scripts/tmt-report-result
Owners: none

Add maximum size limit validation for ReportPortal log uploads (#4300)
  docs/releases/pending/4300.fmf
  tmt/steps/report/reportportal.py
Owners: @4N0body5

Document environment variable precedence
  docs/conf.py
  docs/environment.rst
  docs/index.rst
Owners: none

squash: try
  tmt/steps/provision/__init__.py
Owners: none

Rename `--keep` param of tmt.clean_guest to `--preserve`
  tests/clean/guests/test.sh
  tmt/cli/_root.py
Owners: none

Include `type: library` in the libraries example
  docs/examples.rst
Owners: none

Update documentation
  tmt/steps/provision/mock.py
Owners: none

squash: address comments
  docs/releases/1.63.0/4331.fmf
  spec/hardware/device.fmf
Owners: none

squash: address comments
  docs/releases/1.63.0/4331.fmf
  docs/releases/pending/4331.fmf
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

squash: address comments
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

Add support `device.device` constraint for `mrack` plugin (#4331)
  tests/unit/provision/mrack/test_hw.py
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

fix logic
  tests/lint/test/data/manual_test_failed/test.md
  tests/lint/test/test.sh
  tmt/export/__init__.py
Owners: none

Add support `device.device` constraint for `mrack` plugin (#4331)
  docs/releases/pending/4331.fmf
  spec/hardware/device.fmf
  tests/unit/provision/mrack/test_hw.py
  tmt/steps/provision/mrack.py
Owners: @dav-pascual
