Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

Prevent duplicate commands
  tmt/trying.py
Owners: @falconizmi

Add provision how: local to the multi plan
  tests/try/basic/data/plans/multi.fmf
Owners: none

Rename tag
  plans/dev/main.fmf
  tests/dev/tmt-lint/main.fmf
Owners: none

Keep the old pip install tests
  plans/install/pip.fmf
Owners: none

Adjust packit comment
  .packit.yaml
Owners: none

Move `tmt-lint` to `dev` plan
  .pre-commit-config.yaml
  tests/dev/tmt-lint/main.fmf
Owners: none

Change back to using `SETUPTOOLS_SCM_PRETEND_VERSION`
  plans/dev/main.fmf
  tests/dev/pip/install.fmf
Owners: none

Add back the pip install tests in the dev plans
  plans/dev/pip.fmf
Owners: none

Add initial dev plan
  .packit.yaml
  plans/dev/main.fmf
  tests/dev/main.fmf
Owners: none

Keep tmt-lint pre-commit for now
  .pre-commit-config.yaml
Owners: none

Move install plans into `dev` plan
  plans/dev/pip.fmf
  plans/install/main.fmf
  tests/dev/pip/install.fmf
Owners: none

Make place for general dev plans without tmt
  plans/dev/main.fmf
Owners: none

Implement decorator for defining `tmt try` actions (#4031)
  tests/try/basic/data/action.exp
  tests/try/basic/data/keep.exp
  tests/try/basic/data/plans/multi.fmf
  tests/try/basic/test.sh
  tmt/trying.py
Owners: @falconizmi

Add ImageBuilder class (#3980)
  tmt/steps/provision/bootc.py
  tmt/utils/imagebuilder.py
Owners: none

squash: update
  tmt/steps/provision/bootc.py
  tmt/utils/imagebuilder.py
Owners: none

Exclude inactive test cases from Polarion Test Case search
  docs/releases.rst
  tmt/export/polarion.py
Owners: @KwisatzHaderach

Exclude inactive test cases from Polarion Test Case search (#4005)
  docs/releases.rst
  tmt/export/polarion.py
Owners: @KwisatzHaderach

Simplify command building
  tmt/steps/provision/mock.py
Owners: none

Remove unneeded functions
  tmt/steps/provision/mock.py
Owners: none

Fix latest tmt version
  tmt/steps/provision/mock.py
Owners: none

Update tests/provision/beaker/dry.sh
  tests/provision/beaker/dry.sh
Owners: none

Remove unneeded default parameter value
  tmt/steps/provision/mock.py
Owners: none

squash: guest workdir
  tmt/steps/provision/__init__.py
  tmt/steps/provision/bootc.py
Owners: none

Adds simple helpers for accessing run, plan, phase and guest workdirs
  tests/unit/test_results.py
  tmt/base.py
  tmt/checks/avc.py
  tmt/checks/coredump.py
  tmt/checks/dmesg.py
  tmt/checks/journal.py
  tmt/checks/watchdog.py
  tmt/libraries/__init__.py
  tmt/libraries/beakerlib.py
  tmt/package_managers/bootc.py
  tmt/result.py
  tmt/steps/__init__.py
  tmt/steps/discover/fmf.py
  tmt/steps/discover/shell.py
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
  tmt/steps/prepare/ansible.py
  tmt/steps/prepare/install.py
  tmt/steps/prepare/shell.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/bootc.py
  tmt/steps/provision/podman.py
  tmt/steps/provision/testcloud.py
  tmt/steps/report/display.py
  tmt/steps/report/html.py
  tmt/steps/report/html/template.html.j2
  tmt/steps/report/junit.py
  tmt/steps/report/polarion.py
  tmt/trying.py
  tmt/utils/__init__.py
Owners: @lbrabec, @KwisatzHaderach, @falconizmi

squash: roll library changes back
  tmt/libraries/__init__.py
  tmt/libraries/beakerlib.py
Owners: none

squash: add names
  tmt/base.py
  tmt/steps/__init__.py
  tmt/steps/provision/__init__.py
Owners: none

squash: exception for upgrade testing
  tmt/steps/execute/internal.py
Owners: none

Improve command building
  tmt/steps/provision/mock.py
Owners: none

Group complex with statement
  tmt/steps/provision/mock.py
Owners: none

Simplify io handling
  tmt/steps/provision/mock.py
Owners: none

Implement execute silent handling
  tmt/steps/provision/mock.py
Owners: none

Add check for cwd existence
  tmt/steps/provision/mock.py
Owners: none

Add simple helpers for accessing run, plan, phase and guest workdirs (#4040)
  tests/unit/test_results.py
  tmt/base.py
  tmt/checks/avc.py
  tmt/checks/coredump.py
  tmt/checks/dmesg.py
  tmt/checks/journal.py
  tmt/checks/watchdog.py
  tmt/package_managers/bootc.py
  tmt/result.py
  tmt/steps/__init__.py
  tmt/steps/discover/fmf.py
  tmt/steps/discover/shell.py
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
  tmt/steps/prepare/ansible.py
  tmt/steps/prepare/install.py
  tmt/steps/prepare/shell.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/bootc.py
  tmt/steps/provision/podman.py
  tmt/steps/provision/testcloud.py
  tmt/steps/report/display.py
  tmt/steps/report/html.py
  tmt/steps/report/html/template.html.j2
  tmt/steps/report/junit.py
  tmt/steps/report/polarion.py
  tmt/trying.py
  tmt/utils/__init__.py
Owners: @lbrabec, @KwisatzHaderach, @falconizmi

squash: address comments
  tmt/steps/provision/bootc.j2
  tmt/utils/imagebuilder.py
Owners: none

chore: add a note to install_artifact
  tmt/steps/prepare/brand_new_allmighty_install/providers/koji.py
Owners: none

Updates based on feedback
  pyproject.toml
  tests/unit/providers/test_base.py
  tests/unit/providers/test_koji.py
  tests/unit/test_artifact_providers.py
  tmt/steps/prepare/brand_new_allmighty_install/providers/__init__.py
  tmt/steps/prepare/brand_new_allmighty_install/providers/koji_provider.py
Owners: none

More refactor, implementations
  tmt/steps/prepare/brand_new_allmighty_install/providers/__init__.py
  tmt/steps/prepare/brand_new_allmighty_install/providers/brew_provider.py
  tmt/steps/prepare/brand_new_allmighty_install/providers/koji_provider.py
Owners: none

fix _filter_artifacts definition
  tmt/steps/prepare/brand_new_allmighty_install/providers/__init__.py
Owners: none

first stab at calling a koji api to list artifacts(rpms)
  .pre-commit-config.yaml
  pyproject.toml
  tmt/steps/prepare/brand_new_allmighty_install/providers/__init__.py
  tmt/steps/prepare/brand_new_allmighty_install/providers/brew.py
  tmt/steps/prepare/brand_new_allmighty_install/providers/brew_provider.py
  tmt/steps/prepare/brand_new_allmighty_install/providers/koji.py
  tmt/steps/prepare/brand_new_allmighty_install/providers/koji_provider.py
Owners: none

Update tmt/steps/prepare/brand_new_allmighty_install/providers/koji_provider.py
  tmt/steps/prepare/brand_new_allmighty_install/providers/koji_provider.py
Owners: none

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi
