Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi

squash: fix tests
  tests/unit/test_guest.py
  tests/unit/test_report_junit.py
Owners: none

squash: replace `self.opt`
  examples/plugins/example/provision.py
Owners: none

squash: simplify contribute dry mode section
  docs/contribute.rst
Owners: none

Adjust and document the `dry` mode implementation
  docs/guide.rst
  stories/cli/common.fmf
  tmt/guest/__init__.py
  tmt/steps/discover/__init__.py
  tmt/steps/discover/fmf.py
  tmt/steps/discover/shell.py
  tmt/steps/prepare/ansible.py
  tmt/steps/prepare/artifact/__init__.py
  tmt/steps/prepare/distgit.py
  tmt/steps/prepare/feature/__init__.py
  tmt/steps/prepare/shell.py
  tmt/steps/provision/artemis.py
  tmt/steps/provision/mock.py
  tmt/steps/provision/podman.py
  tmt/steps/report/html.py
  tmt/steps/report/polarion.py
  tmt/steps/report/reportportal.py
Owners: @happz, @KwisatzHaderach, @4N0body5

squash: document import/export network access
  docs/guide.rst
Owners: none

squash: fix plan import tests
  tests/plan/import/basic.sh
Owners: none

squash: improve documentation about export
  docs/guide.rst
Owners: none

Adjust and document the `dry` mode implementation (#4982)
  docs/contribute.rst
  docs/guide.rst
  docs/releases/1.75.0/4443.fmf
  docs/releases/pending/4982.fmf
  examples/plugins/example/provision.py
  stories/cli/common.fmf
  tests/plan/import/basic.sh
  tests/unit/test_guest.py
  tests/unit/test_report_junit.py
  tmt/base/plan.py
  tmt/cli/_root.py
  tmt/convert.py
  tmt/guest/__init__.py
  tmt/steps/__init__.py
  tmt/steps/discover/fmf.py
  tmt/steps/discover/shell.py
  tmt/steps/prepare/ansible.py
  tmt/steps/prepare/artifact/__init__.py
  tmt/steps/prepare/distgit.py
  tmt/steps/prepare/feature/__init__.py
  tmt/steps/prepare/shell.py
  tmt/steps/provision/artemis.py
  tmt/steps/provision/mock.py
  tmt/steps/provision/podman.py
  tmt/steps/report/html.py
  tmt/steps/report/junit.py
  tmt/steps/report/polarion.py
  tmt/steps/report/reportportal.py
Owners: @happz, @KwisatzHaderach, @4N0body5

Make it plural
  tmt/cli/_root.py
  tmt/options.py
Owners: none

Allow to pass multiple policies
  tests/policy/test-test.sh
  tmt/cli/_root.py
  tmt/options.py
Owners: none

Use Sequence
  tmt/cli/_root.py
Owners: none

Review suggestion
  tmt/cli/_root.py
Owners: none

Allow to pass multiple policies in the cli (#4948)
  tests/policy/test-test.sh
  tmt/cli/_root.py
  tmt/options.py
Owners: none

Add a hint for running tmt on macOS
  docs/questions.rst
Owners: none

Use uname -m instead of arch for architecture detection
  tmt/guest/__init__.py
Owners: none

Separate ingestion of environment from fmf keys and CLI options
  tmt/base/plan.py
  tmt/base/run.py
  tmt/utils/__init__.py
Owners: none

squash: provide space for commands
  tmt/base/plan.py
Owners: none

squash: address comments
  tmt/base/plan.py
Owners: none

squash: typo
  tmt/base/plan.py
Owners: none

Environment.environ instead of os.environ
  pyproject.toml
  tests/core/environment-file/data/environment_file_data.py
  tests/execute/tty/data/python.py
  tests/execute/tty/ptty-wrapper
  tests/unit/test_base.py
  tests/unit/test_utils.py
  tmt/config/__init__.py
  tmt/guest/__init__.py
  tmt/libraries/beakerlib.py
  tmt/log.py
  tmt/plugins/__init__.py
  tmt/steps/__init__.py
  tmt/steps/context/pidfile.py
  tmt/steps/discover/__init__.py
  tmt/steps/provision/local.py
  tmt/steps/provision/podman.py
  tmt/steps/scripts.py
  tmt/utils/__init__.py
  tmt/utils/git.py
Owners: none

Remove boilerplate needed for hardware requirement parsers
  tests/unit/test_hardware.py
  tmt/hardware/constraints.py
  tmt/hardware/requirements.py
Owners: none

squash: more tests
  tests/unit/provision/mrack/test_hw.py
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

squash: tests
  tests/unit/provision/mrack/test_hw.py
Owners: none

squash: more test fixes
  tests/unit/provision/mrack/test_hw.py
  tmt/hardware/requirements.py
Owners: none

squash: addressing tests
  tests/provision/beaker/data/main.fmf
  tmt/hardware/constraints.py
  tmt/hardware/requirements.py
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

squash: fix tests
  tests/provision/memory/data/plans.fmf
Owners: none

Include traceback when reporting import errors
  tmt/__main__.py
Owners: none

squash: simplify, no need for extra special handling of import errors
  tmt/__main__.py
Owners: none

squash: fix unittests
  tests/unit/test_guest.py
Owners: none

squash: address some comments
  tmt/log.py
  tmt/utils/__init__.py
Owners: none

Limit verbose/debug levels
  docs/overview.rst
  tests/core/environment/test.sh
  tmt/checks/avc.py
  tmt/checks/dmesg.py
  tmt/guest/__init__.py
  tmt/log.py
  tmt/options.py
  tmt/steps/__init__.py
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
  tmt/steps/provision/local.py
  tmt/steps/provision/mock.py
  tmt/steps/provision/podman.py
  tmt/trying.py
  tmt/utils/__init__.py
Owners: @falconizmi

squash: address comments
  tmt/options.py
  tmt/trying.py
Owners: @falconizmi

Let `finish` step run before `report`
  tmt/steps/__init__.py
Owners: none

squash: fix test
  tests/login/step.sh
Owners: none

squash: some changes
  agents/AGENTS.md
  tests/login/debug.sh
  tmt/steps/__init__.py
Owners: none

squash: fixing tests
  tests/status/base/test.sh
  tests/steps/select/test.sh
  tmt/steps/__init__.py
Owners: none

squash: fix test
  tests/plan/show/test.sh
Owners: none

squash: release note
  docs/releases/pending/4928.fmf
Owners: none

Test result duration is not reset by test restarts or guest reboots
  tmt/checks/avc.py
  tmt/checks/dmesg.py
  tmt/checks/journal.py
  tmt/result.py
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
  tmt/steps/prepare/ansible.py
  tmt/steps/prepare/shell.py
  tmt/utils/__init__.py
Owners: none

squash: update test
  tests/execute/result/basic.sh
Owners: none
