Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

Add comparison mode to sprint overview script
  scripts/sprint-overview
Owners: none

Prefer `Stopwatch.measure` over context manager (#4591)
  tmt/checks/avc.py
  tmt/steps/execute/__init__.py
  tmt/utils/__init__.py
Owners: none

Fix order of enabling FIPS in try
  tmt/steps/__init__.py
  tmt/steps/prepare/feature/fips.py
  tmt/trying.py
Owners: @falconizmi

Fix order of enabling FIPS in try (#4760)
  tmt/steps/__init__.py
  tmt/steps/prepare/feature/fips.py
  tmt/trying.py
Owners: @falconizmi

squash: fixing tests
  tests/unit/test_hardware.py
Owners: none

Change the default formatting of YAML emitted by tmt
  tmt/utils/__init__.py
Owners: none

Change the default formatting of YAML emitted by tmt (#4338)
  tests/unit/test_hardware.py
  tmt/utils/__init__.py
Owners: none

Convert ArtifactProvider to dataclass
  tests/unit/artifact/test_copr_repository.py
  tmt/steps/prepare/artifact/providers/__init__.py
  tmt/steps/prepare/artifact/providers/brew.py
  tmt/steps/prepare/artifact/providers/copr_build.py
  tmt/steps/prepare/artifact/providers/copr_repository.py
  tmt/steps/prepare/artifact/providers/file.py
  tmt/steps/prepare/artifact/providers/koji.py
  tmt/steps/prepare/artifact/providers/repository.py
  tmt/steps/prepare/artifact/providers/repository_url.py
Owners: none

Convert ArtifactProvider to dataclass (#4765)
  tests/unit/artifact/test_copr_repository.py
  tmt/steps/prepare/artifact/providers/__init__.py
  tmt/steps/prepare/artifact/providers/brew.py
  tmt/steps/prepare/artifact/providers/copr_build.py
  tmt/steps/prepare/artifact/providers/copr_repository.py
  tmt/steps/prepare/artifact/providers/file.py
  tmt/steps/prepare/artifact/providers/koji.py
  tmt/steps/prepare/artifact/providers/repository.py
  tmt/steps/prepare/artifact/providers/repository_url.py
Owners: none

address gemini comments...
  tmt/guest/__init__.py
  tmt/package_managers/__init__.py
  tmt/package_managers/dnf.py
  tmt/steps/prepare/artifact/providers/copr_repository.py
  tmt/steps/prepare/artifact/providers/repository.py
Owners: none

Add to centralise downloads on guest
  tests/unit/artifact/test_file.py
  tests/unit/artifact/test_repository.py
  tmt/guest/__init__.py
  tmt/steps/prepare/artifact/providers/__init__.py
  tmt/steps/prepare/artifact/providers/copr_build.py
  tmt/steps/prepare/artifact/providers/file.py
  tmt/steps/prepare/artifact/providers/koji.py
  tmt/steps/prepare/artifact/providers/repository.py
Owners: none

implement retry...
  tmt/guest/__init__.py
Owners: none

refactor DownloadError
  tmt/guest/__init__.py
  tmt/steps/prepare/artifact/providers/__init__.py
  tmt/steps/prepare/artifact/providers/repository.py
Owners: none

address comments...
  tmt/guest/__init__.py
Owners: none

address gemini comments...
  tmt/package_managers/apk.py
  tmt/package_managers/rpm_ostree.py
Owners: none

remove redundant install_* methods
  tmt/package_managers/__init__.py
  tmt/package_managers/apk.py
  tmt/package_managers/bootc.py
  tmt/package_managers/rpm_ostree.py
  tmt/steps/prepare/install.py
Owners: none

Addressed next round of review comments
  .packit.yaml
  tests/images.sh
  tests/prepare/install/test.sh
Owners: none

The images should be newline separated
  tests/images.sh
Owners: none

Use for to iterate over a space delimited string
  tests/prepare/install/test.sh
Owners: none

Fixes #4606
  .packit.yaml
  plans/provision/virtual.fmf
  tests/images.sh
  tests/prepare/bootc/data/.fmf/version
  tests/prepare/bootc/data/plans.fmf
  tests/prepare/bootc/data/test.fmf
  tests/prepare/bootc/main.fmf
  tests/prepare/bootc/test.sh
  tests/prepare/install/data/reboot-persistence.fmf
  tests/prepare/install/main.fmf
  tests/prepare/install/test.sh
  tests/prepare/recommend/main.fmf
  tests/prepare/recommend/test.sh
  tests/prepare/shell/main.fmf
  tests/prepare/shell/test.sh
Owners: none

Move the is_image mode test next to is_ostree
  tests/prepare/install/test.sh
Owners: none

Address review comments, improve prepare/shell test
  tests/prepare/install/test.sh
  tests/prepare/recommend/test.sh
  tests/prepare/shell/data/multiple.fmf
  tests/prepare/shell/test.sh
Owners: none

Update .packit.yaml
  .packit.yaml
Owners: none

Fix some tests
  tests/prepare/install/test.sh
Owners: none

Address a few review comments
  tests/prepare/install/test.sh
  tests/prepare/shell/test.sh
Owners: none

fix tests
  tests/prepare/install/test.sh
Owners: none

Revert "Use for to iterate over a space delimited string"
  tests/prepare/install/test.sh
Owners: none

Move feature plugin package installs to Python for image mode support
  tmt/guest/__init__.py
  tmt/steps/prepare/feature/epel-disable.yaml
  tmt/steps/prepare/feature/epel-enable.yaml
  tmt/steps/prepare/feature/epel.py
  tmt/steps/prepare/feature/fips-enable.yaml
  tmt/steps/prepare/feature/fips.py
Owners: none

Fix some test regressions
  tests/plan/export/test.sh
Owners: none

Use dict instead of CommentedMap
  tmt/utils/__init__.py
Owners: none

Use `ruamel.yaml.clib`
  pylock.toml
  pyproject.toml
  tmt/utils/__init__.py
  uv.lock
Owners: none

Move the default `safe` to arguments
  tmt/steps/report/reportportal.py
  tmt/utils/__init__.py
Owners: @4N0body5

Explicitly use `rt` mode when using `tmt lint --fix`
  tmt/base/core.py
Owners: none

Comment on the usage of `rt`
  tmt/base/core.py
Owners: none

implementation...
  tests/clean/runs/test.sh
  tmt/base/core.py
  tmt/steps/provision/testcloud.py
  tmt/utils/__init__.py
Owners: @lbrabec

docs: added a release note...
  docs/releases/pending/4593.fmf
Owners: none

Handle test framework dependencies in required packages
  tmt/steps/prepare/__init__.py
Owners: none

address comments...
  tmt/base/core.py
  tmt/steps/provision/testcloud.py
  tmt/utils/__init__.py
Owners: @lbrabec

Remove custom dictionary from `beakerlib` template
  tmt/templates/script/beakerlib.j2
Owners: none

Implement the `sprint-sync` script
  scripts/common.py
  scripts/sprint-overview
  scripts/sprint-sync
Owners: none

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi
