Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

Limit EFI handling to Beaker systems only
  docs/releases.rst
  stories/features/reboot.fmf
  tmt/steps/scripts/tmt-reboot
Owners: none

Update release notes and mention the conflicting behaviour
  docs/releases.rst
Owners: none

Address documenation review comments
  stories/features/reboot.fmf
Owners: none

Limit EFI handling to Beaker systems only (#4080)
  docs/releases.rst
  stories/features/reboot.fmf
  tmt/steps/scripts/tmt-reboot
Owners: none

Change RepositoryProvider to inherit from RpmArtifactInfo
  tmt/steps/prepare/artifact/providers/repository_provider.py
Owners: none

Prepare/finish shell plugin now producing results
  tmt/steps/__init__.py
  tmt/steps/prepare/ansible.py
  tmt/steps/prepare/shell.py
Owners: none

Support fetching logs in Artemis provision plugin
  docs/releases.rst
  tmt/schemas/provision/artemis.yaml
  tmt/steps/provision/artemis.py
Owners: @happz

squash: address comments
  docs/releases.rst
  tmt/steps/provision/artemis.py
Owners: @happz

Minor style nitpicks
  docs/releases.rst
  tmt/steps/provision/artemis.py
Owners: @happz

squash: make fetch functions static
  tmt/steps/provision/artemis.py
Owners: @happz

add suggestions from code review
  tmt/steps/prepare/artifact/providers/repository_provider.py
Owners: none

Support fetching logs in Artemis provision plugin (#4092)
  docs/releases.rst
  tmt/schemas/provision/artemis.yaml
  tmt/steps/provision/artemis.py
Owners: @happz

Make sure we append to the finalOutputFile
  tmt/steps/scripts/tmt-report-result
Owners: none

Make the beakerlib step output predictable
  tmt/steps/scripts/tmt-report-result
Owners: none

squash: dry run should not generate recipe
  tmt/base.py
Owners: none

squash: improvements
  tests/recipe/data/recipe.yaml
  tests/recipe/test.sh
  tmt/base.py
  tmt/recipe.py
Owners: none

squash: improve test
  tests/recipe/data/recipe.yaml
  tests/recipe/test.sh
Owners: none

squash: address comments
  tmt/base.py
  tmt/recipe.py
Owners: none

squash: address comments
  tests/recipe/test.sh
  tmt/base.py
  tmt/cli/_root.py
  tmt/recipe.py
Owners: none

Implement recipe generation
  tests/recipe/data/.fmf/version
  tests/recipe/data/main.fmf
  tests/recipe/data/tests.fmf
  tests/recipe/main.fmf
  tests/recipe/test.sh
  tmt/base.py
  tmt/cli/_root.py
  tmt/recipe.py
Owners: none

squash: do not save phases when step is disabled
  tmt/recipe.py
Owners: none

update specification, add release note
  docs/releases.rst
  spec/recipe.fmf
Owners: none

squash: address comments
  spec/recipe.fmf
  tests/recipe/data/recipe.yaml
  tmt/recipe.py
Owners: none

Move the special handling to avoid copying
  tmt/steps/scripts/tmt-report-result
Owners: none

suggestions from code review
  tmt/steps/prepare/artifact/providers/repository_provider.py
Owners: none

Implement recipe generation (#4071)
  docs/releases.rst
  spec/recipe.fmf
  tests/recipe/data/.fmf/version
  tests/recipe/data/main.fmf
  tests/recipe/data/recipe.yaml
  tests/recipe/data/tests.fmf
  tests/recipe/main.fmf
  tests/recipe/test.sh
  tmt/base.py
  tmt/recipe.py
Owners: none

Release tmt-1.58.0
  docs/overview.rst
  docs/releases.rst
Owners: none

Improve guest log collection
  tmt/steps/cleanup/internal.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/artemis.py
  tmt/steps/provision/mrack.py
  tmt/steps/provision/testcloud.py
  tmt/utils/__init__.py
Owners: @happz, @dav-pascual, @lbrabec

Release tmt-1.58.0 (#4101)
  docs/overview.rst
  docs/releases.rst
Owners: none

Simplify creation of plugin rgistry and its decorator
  tmt/checks/__init__.py
  tmt/cli/about.py
  tmt/frameworks/__init__.py
  tmt/package_managers/__init__.py
  tmt/package_managers/apk.py
  tmt/package_managers/apt.py
  tmt/package_managers/bootc.py
  tmt/package_managers/dnf.py
  tmt/package_managers/rpm_ostree.py
  tmt/plugins/__init__.py
  tmt/plugins/plan_shapers/__init__.py
Owners: none

Turn artifact providers into plugins
  tmt/cli/about.py
  tmt/plugins/__init__.py
  tmt/steps/prepare/artifact/providers/__init__.py
  tmt/steps/prepare/artifact/providers/brew_provider.py
  tmt/steps/prepare/artifact/providers/koji_provider.py
Owners: none

Skip yq installation if already present
  plans/friends/main.fmf
  plans/main.fmf
Owners: none

Point to /plans/remote
  tests/plan/import/local-and-remote/main.fmf
Owners: none

Move install plans into `dev` plan
  plans/dev/pip.fmf
  plans/install/main.fmf
  tests/dev/pip/install.fmf
Owners: none

Change some import plan refrences to teemtee/tests
  tests/core/fmf-id/data/remote-plan-with-invalid-ref.fmf
  tests/core/fmf-id/data/remote-plan-with-valid-ref.fmf
  tests/plan/export/data/plan.fmf
  tests/plan/import/basic.sh
  tests/plan/import/data/plans.fmf
  tests/plan/import/local-and-remote/main.fmf
Owners: none

Keep tmt-lint pre-commit for now
  .pre-commit-config.yaml
Owners: none

Move `tmt-lint` to `dev` plan
  .pre-commit-config.yaml
  tests/dev/tmt-lint/main.fmf
Owners: none

Change back to using `SETUPTOOLS_SCM_PRETEND_VERSION`
  plans/dev/main.fmf
  tests/dev/pip/install.fmf
Owners: none

Rename dev plans to sanity plans
  .packit.yaml
  plans/install/pip.fmf
  plans/sanity/lint.fmf
  plans/sanity/main.fmf
  plans/sanity/pip.fmf
  tests/plan/import/data/plans.fmf
  tests/plan/import/local-and-remote/main.fmf
  tests/sanity/main.fmf
  tests/sanity/pip/install.fmf
  tests/sanity/tmt-lint/main.fmf
Owners: none

Add back the pip install tests in the dev plans
  plans/dev/pip.fmf
Owners: none

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi
