Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi

Update guest compatibility matrix, add the release note
  docs/ext/generate_test_runner_guest_matrix.py
  docs/releases/pending/python.fmf
  docs/templates/test-runner-guest-compatibility-matrix.inc.rst.j2
  docs/test-runner-guest-compatibility.yaml
Owners: none

Try to enable `epel` for fusa tests
  .packit.yaml
Owners: none

Drop support for Python 3.9
  .packit.yaml
  docs/overview.rst
Owners: none

Drop Alpine & Debian
  docs/test-runner-guest-compatibility.yaml
Owners: none

Try the new pipeline
  .packit.yaml
Owners: none

Drop extra special verbosity of the SSH master process
  tmt/guest/__init__.py
Owners: none

More update compat matrix
  docs/test-runner-guest-compatibility.yaml
Owners: none

In guest reconnect, retry on failed SSH master process start
  tmt/guest/__init__.py
Owners: none

Drop the `typing_extensions` requirement
  .pre-commit-config.yaml
  docs/ext/tmt_domain/autodoc.py
  pyproject.toml
  tests/unit/test_queue.py
  tmt/_compat/importlib/readers.py
  tmt/_compat/pydantic.py
  tmt/_compat/typing.py
  tmt/_compat/warnings.py
  tmt/ansible.py
  tmt/base/core.py
  tmt/base/links.py
  tmt/cli/__init__.py
  tmt/config/models/themes.py
  tmt/container/__init__.py
  tmt/export/__init__.py
  tmt/guest/__init__.py
  tmt/hardware/constraints.py
  tmt/log.py
  tmt/package_managers/__init__.py
  tmt/package_managers/_rpm.py
  tmt/plugins/__init__.py
  tmt/queue.py
  tmt/steps/__init__.py
  tmt/steps/discover/fmf.py
  tmt/steps/discover/shell.py
  tmt/steps/prepare/artifact/providers/__init__.py
  tmt/steps/prepare/artifact/providers/copr_repository.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/mock.py
  tmt/steps/report/junit.py
  tmt/steps/report/reportportal.py
  tmt/templates/__init__.py
  tmt/utils/__init__.py
  tmt/utils/environment.py
  tmt/utils/filesystem.py
  tmt/utils/signals.py
  tmt/utils/wait.py
  uv.lock
Owners: @4N0body5

Update matrix, fix distro name typo
  docs/test-runner-guest-compatibility.yaml
Owners: none

Revert "Try the new pipeline"
  .packit.yaml
Owners: none

Enable the multihost pipeline for internal jobs
  .packit.yaml
Owners: none

Also default to running scratch
  tests/__init__.py
Owners: none

Add a run_plan decorator
  tests/__init__.py
  tests/conftest.py
Owners: none

Bump testcloud version requirement to >= 0.11.9 for RISC-V support
  packaging/rpm/tmt.spec
  pyproject.toml
Owners: none

Update requires, `riscv` support will be in 0.12.0
  packaging/rpm/tmt.spec
  pyproject.toml
Owners: none

Update uv.lock
  uv.lock
Owners: none

Add RISC-V support for testcloud provision
  tmt/schemas/common.yaml
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

Try with more repo files
  .packit.yaml
Owners: none

In guest reconnect, retry on failed SSH master process start (#5164)
  tmt/guest/__init__.py
Owners: none

Improved logging in restart/reboot context
  tmt/steps/context/reboot.py
  tmt/steps/context/restart.py
Owners: none

squash: fix tests
  tests/execute/reboot/reuse.sh
  tests/test/check/test-watchdog.sh
Owners: none

squash: update test
  tests/execute/reboot/basic.sh
Owners: none

Increase `duration` of `/tests/prepare/artifact/install-cases`
  tests/prepare/artifact/install-cases/main.fmf
  tests/prepare/artifact/main.fmf
Owners: none

fix type error for mypy in image_cache_age
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

remove duplicate default text from help
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

fix YAML serialization of image_cache_age quantity
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

add show_default for image_cache_age option
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

add image URL caching support for testcloud provisioner
  pyproject.toml
  tmt/steps/provision/testcloud.py
  uv.lock
Owners: @lbrabec

update uv.lock for requests_cache>=0.5
  uv.lock
Owners: none

add --use-local-image flag to skip image download in testcloud provisioner
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

remove stray blank line
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

add flexible time units for --image-cache-age using pint
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

update cli flag names & help text
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

set version >=0.5 for requests_cache due to failure in pipeline
  pyproject.toml
Owners: none

move duration normalizer to tmt/utils as normalize_duration
  tmt/hardware/constraints.py
  tmt/steps/provision/testcloud.py
  tmt/utils/__init__.py
Owners: @lbrabec

Increase `duration` of `/tests/prepare/artifact/install-cases` (#5177)
  tests/prepare/artifact/install-cases/main.fmf
  tests/prepare/artifact/main.fmf
Owners: none

More update compat matrix
  docs/test-runner-guest-compatibility.yaml
Owners: none

Update guest compatibility matrix, add the release note
  docs/ext/generate_test_runner_guest_matrix.py
  docs/releases/pending/python.fmf
  docs/templates/test-runner-guest-compatibility-matrix.inc.rst.j2
  docs/test-runner-guest-compatibility.yaml
Owners: none

Drop Alpine & Debian
  docs/test-runner-guest-compatibility.yaml
Owners: none
