Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi

Drop `fedora-rawhide` from package manager testing
  containers/fedora/rawhide/Containerfile
  containers/fedora/rawhide/Containerfile.unprivileged
  containers/fedora/rawhide/Containerfile.upstream
  tests/images.sh
  tests/prepare/feature/fips/test.sh
  tests/prepare/install/test.sh
  tests/unit/__init__.py
  tests/unit/test_package_managers.py
Owners: none

Widen the schedule
  .github/renovate.json
Owners: none

Simplify docs renovate
  .github/renovate.json
Owners: none

Apply sudo for reboot command when `become` set
  tests/provision/connect/main.fmf
  tests/provision/connect/test.sh
  tmt/steps/provision/__init__.py
  tmt/steps/provision/connect.py
Owners: none

Log git head-commit-ref in info verbosity (#3965)
  tests/discover/references.sh
  tmt/libraries/beakerlib.py
  tmt/steps/discover/fmf.py
  tmt/steps/discover/shell.py
  tmt/utils/git.py
Owners: none

Redefines scripts_path as property with a default value
  tmt/steps/provision/local.py
Owners: none

Updates the helper script path and adds module constant
  tmt/steps/provision/local.py
Owners: none

Removes verbose trace
  tmt/steps/provision/local.py
Owners: none

Adds tmt scripts installation logic to local guest
  tmt/steps/provision/local.py
Owners: none

Update the guest before doing any testing
  plans/main.fmf
Owners: none

Disable `avc` check on `centos-stream`
  tests/main.fmf
Owners: none

Enable back the `avc` test check
  tests/main.fmf
Owners: none

Revert "Update the guest before doing any testing"
  plans/main.fmf
Owners: none

Fix SSH key placement and add sudo permissions for non-root user
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

Enable back the `avc` test check (#3924)
  tests/main.fmf
Owners: none

squash: drop `run-repository`
  spec/recipe.fmf
Owners: none

squash: remove commit hashes
  spec/recipe.fmf
Owners: none

Add recipe specification
  docs/scripts/generate-stories.py
  docs/spec.rst
  spec/recipe.fmf
Owners: none

squash: improvements
  docs/releases.rst
  spec/recipe.fmf
Owners: none

squash: address comments
  spec/recipe.fmf
Owners: none

squash: use local path for results
  spec/recipe.fmf
Owners: none

Add a release note and the issue for context
  docs/releases.rst
  spec/recipe.fmf
Owners: none

squash: improve `run-repository` description
  spec/recipe.fmf
Owners: none

squash: rename to results-path, fix alignment
  spec/recipe.fmf
Owners: none

Implement running command on host as a menu option
  docs/releases.rst
  tests/unit/test_cli_actions.py
  tmt/trying.py
Owners: @falconizmi

Outline the `recipe` specification (#3884)
  docs/releases.rst
  docs/scripts/generate-stories.py
  docs/spec.rst
  spec/recipe.fmf
Owners: none

Add linkcheck cache to GH cache
  .github/workflows/doc-tests.yml
Owners: none

Remove the previous linkcheck workarounds
  .github/workflows/doc-tests.yml
  docs/conf.py
Owners: none

Redirect web_git_url to local paths
  docs/conf.py
Owners: none

Move the magic number to a variable
  docs/conf.py
Owners: none

Simple cache mechanism for linkchecks
  docs/conf.py
Owners: none

Cache the linkcheck results (#3746)
  .github/workflows/doc-tests.yml
  docs/conf.py
Owners: none

provision/beaker: support device.driver → MODULE filter
  tests/provision/beaker/data/main.fmf
  tests/provision/beaker/hardware.sh
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

Base reference tests on key to prevent flakiness
  tests/discover/references.sh
Owners: none

Implement running command on host as a menu option
  docs/releases.rst
  tests/unit/test_cli_actions.py
  tmt/trying.py
Owners: @falconizmi

Extract `tmt run` from `tmt.cli` into standalone module
  tmt/__main__.py
  tmt/cli/_root.py
  tmt/cli/run.py
Owners: none

squash: Update tmt/cli/run.py
  tmt/cli/run.py
Owners: none

squash: comments
  tmt/base.py
Owners: none

Refactor plan fmf context composition
  tmt/base.py
  tmt/result.py
  tmt/steps/__init__.py
  tmt/steps/discover/fmf.py
  tmt/steps/execute/__init__.py
  tmt/steps/report/html/template.html.j2
  tmt/steps/report/polarion.py
  tmt/steps/report/reportportal.py
  tmt/utils/__init__.py
Owners: @KwisatzHaderach, @4N0body5

Add a helpful docstring to the helper
  tmt/steps/provision/mrack.py
Owners: @dav-pascual
