Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi

squash: update overviw docs
  docs/overview.rst
Owners: none

squash: tweaks
  tmt/log.py
Owners: none

squash: address comments
  tmt/options.py
  tmt/trying.py
Owners: @falconizmi

squash: address comments
  tmt/utils/__init__.py
Owners: none

squash: address recent changes
  tests/core/fmf-id/test.sh
  tests/core/logging/test.sh
  tests/execute/duration/test.sh
  tests/execute/framework/selection.sh
  tests/execute/tty/test.sh
  tests/integration/test_nitrate.py
  tests/plan/import/basic.sh
  tests/provision/mock/fedora-rawhide-x86_64/multiple-tests/test.sh
  tests/provision/mock/fedora-rawhide-x86_64/provision-prepare/test.sh
  tests/provision/mock/fedora-rawhide-x86_64/simple/test.sh
  tests/test/check/test-avc.sh
  tmt/base/plan.py
  tmt/checks/watchdog.py
  tmt/cli/__init__.py
  tmt/guest/__init__.py
  tmt/log.py
  tmt/options.py
  tmt/steps/__init__.py
  tmt/steps/execute/__init__.py
  tmt/steps/provision/mrack.py
  tmt/steps/provision/testcloud.py
  tmt/utils/__init__.py
  tmt/utils/rest.py
Owners: @dav-pascual, @lbrabec

squash: address comments
  docs/overview.rst
  tests/core/fmf-id/test.sh
Owners: none

Revert "Skip ansible on rawhide for a bit"
  tests/finish/ansible/test.sh
  tests/prepare/ansible/test.sh
Owners: none

Revert #4630
  tests/provision/bootc/main.fmf
Owners: none

Make artifacts read-only
  tmt/steps/prepare/artifact/providers/__init__.py
  tmt/steps/prepare/artifact/providers/copr_build.py
  tmt/steps/prepare/artifact/providers/file.py
  tmt/steps/prepare/artifact/providers/koji.py
Owners: none

Drop the artifacts filtering
  tests/unit/artifact/test_base.py
  tmt/steps/prepare/artifact/providers/__init__.py
  tmt/steps/prepare/artifact/providers/copr_build.py
  tmt/steps/prepare/artifact/providers/copr_repository.py
  tmt/steps/prepare/artifact/providers/file.py
  tmt/steps/prepare/artifact/providers/koji.py
  tmt/steps/prepare/artifact/providers/repository.py
  tmt/steps/prepare/artifact/providers/repository_url.py
Owners: none

Minimize and align logging with guidelines
  tmt/steps/prepare/artifact/__init__.py
  tmt/steps/prepare/artifact/providers/__init__.py
  tmt/steps/prepare/artifact/providers/copr_build.py
  tmt/steps/prepare/artifact/providers/file.py
  tmt/steps/prepare/artifact/providers/koji.py
  tmt/steps/prepare/artifact/providers/repository.py
  tmt/steps/prepare/artifact/providers/repository_url.py
Owners: none

Remove a redundant check
  tmt/steps/prepare/artifact/providers/file.py
Owners: none

Limit verbose/debug levels (#4836)
  docs/overview.rst
  tests/core/environment/test.sh
  tests/core/fmf-id/test.sh
  tests/core/logging/test.sh
  tests/execute/duration/test.sh
  tests/execute/framework/selection.sh
  tests/execute/tty/test.sh
  tests/integration/test_nitrate.py
  tests/plan/import/basic.sh
  tests/provision/mock/fedora-rawhide-x86_64/multiple-tests/test.sh
  tests/provision/mock/fedora-rawhide-x86_64/provision-prepare/test.sh
  tests/provision/mock/fedora-rawhide-x86_64/simple/test.sh
  tests/test/check/test-avc.sh
  tests/unit/test_guest.py
  tmt/base/plan.py
  tmt/checks/avc.py
  tmt/checks/dmesg.py
  tmt/checks/watchdog.py
  tmt/cli/__init__.py
  tmt/guest/__init__.py
  tmt/log.py
  tmt/options.py
  tmt/steps/__init__.py
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
  tmt/steps/provision/local.py
  tmt/steps/provision/mock.py
  tmt/steps/provision/mrack.py
  tmt/steps/provision/podman.py
  tmt/steps/provision/testcloud.py
  tmt/trying.py
  tmt/utils/__init__.py
  tmt/utils/rest.py
Owners: @dav-pascual, @lbrabec, @falconizmi

Bootstrap secrets
  tmt/base/plan.py
  tmt/base/run.py
  tmt/frameworks/beakerlib.py
  tmt/guest/__init__.py
  tmt/libraries/beakerlib.py
  tmt/options.py
  tmt/steps/__init__.py
  tmt/steps/context/pidfile.py
  tmt/steps/context/reboot.py
  tmt/steps/context/restart.py
  tmt/steps/context/restraint.py
  tmt/steps/discover/__init__.py
  tmt/steps/execute/__init__.py
  tmt/steps/execute/upgrade.py
  tmt/steps/prepare/shell.py
  tmt/steps/provision/podman.py
  tmt/utils/__init__.py
  tmt/utils/environment.py
  tmt/utils/secret.py
Owners: none

Simplify repo handling
  tmt/steps/prepare/artifact/__init__.py
  tmt/steps/prepare/artifact/providers/__init__.py
Owners: none

Move python3.15 skips to also include f45
  plans/sanity/main.fmf
  tests/precommit/main.fmf
  tests/sanity/pip/install.fmf
  tests/unit/main.fmf
Owners: none

Move python3.15 skips to also include f45 (#5127)
  plans/sanity/main.fmf
  tests/precommit/main.fmf
  tests/sanity/pip/install.fmf
  tests/unit/main.fmf
Owners: none

Import the current common labels
  .github/labels.yaml
Owners: none

Add sync label action
  .github/workflows/sync-labels.yml
Owners: none

Revert python3.15 skip (#5015)
  plans/sanity/main.fmf
  tests/precommit/main.fmf
  tests/sanity/pip/install.fmf
  tests/unit/main.fmf
Owners: none

Move ruamel.yaml.clib dependency to spec file
  packaging/rpm/tmt.spec
  pyproject.toml
  uv.lock
Owners: none

Drop xfail for /tests/sanity/pip/install on Fedora 45
  tests/sanity/pip/install.fmf
Owners: none

squash: rawhide as well?
  tests/sanity/pip/install.fmf
  tests/unit/main.fmf
Owners: none

Drop xfail for /tests/sanity/pip/install on Fedora 45 and rawhide (#5130)
  tests/sanity/pip/install.fmf
  tests/unit/main.fmf
Owners: none

squash: special exception
  tmt/guest/__init__.py
Owners: none

squash: a comment
  tmt/guest/__init__.py
Owners: none

Make sure the ssh master process is up and running after reboot
  tmt/guest/__init__.py
  tmt/steps/provision/artemis.py
  tmt/steps/provision/connect.py
  tmt/steps/provision/mrack.py
  tmt/steps/provision/testcloud.py
Owners: @happz, @dav-pascual, @lbrabec

squash: wait for the master process
  docs/overview.rst
  tmt/guest/__init__.py
Owners: none

squash: fix test
  tests/execute/duration/test.sh
Owners: none

squash: skip multiplexing right after reboot
  tmt/guest/__init__.py
  tmt/steps/provision/artemis.py
  tmt/steps/provision/connect.py
  tmt/steps/provision/mrack.py
  tmt/steps/provision/testcloud.py
Owners: @happz, @dav-pascual, @lbrabec

squash: fix typo
  tmt/guest/__init__.py
Owners: none

squash: address comments
  tmt/guest/__init__.py
Owners: none

squash: longer timeout
  tmt/guest/__init__.py
Owners: none

squash: fghting ansible
  tmt/guest/__init__.py
  tmt/steps/execute/__init__.py
  tmt/steps/finish/__init__.py
  tmt/steps/prepare/__init__.py
Owners: none

squash: fix test
  tests/execute/unresponsive/test.sh
Owners: none

squash: drop lambda
  tmt/guest/__init__.py
  tmt/steps/provision/artemis.py
  tmt/steps/provision/connect.py
  tmt/steps/provision/mrack.py
  tmt/steps/provision/testcloud.py
Owners: @happz, @dav-pascual, @lbrabec

Improve runner/guest temporary file/directory helpers
  tmt/base/plan.py
  tmt/guest/__init__.py
  tmt/package_managers/bootc.py
  tmt/steps/discover/shell.py
  tmt/utils/__init__.py
Owners: none

squash: file cleanup
  tmt/utils/__init__.py
Owners: none

squash: fixes
  tmt/guest/__init__.py
Owners: none

squash: small fix, but it will fail
  tests/unit/test_guest.py
Owners: none
