Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi

Use uv in RTD
  .readthedocs.yaml
Owners: none

Move some hatch commands to github actions
  .github/workflows/doc-tests.yml
  pyproject.toml
Owners: none

Add what uv pre-commits we can
  .pre-commit-config.yaml
Owners: none

Relax regex
  tmt/base.py
Owners: none

revert: tests are back !
  tests/lint/test/test.sh
  tmt/export/__init__.py
Owners: none

revert: unintentional removal
  tests/lint/test/test.sh
Owners: none

fix logic
  tests/lint/test/data/manual_test_failed/test.md
  tests/lint/test/test.sh
  tmt/export/__init__.py
Owners: none

Improve creation of "report files"
  tests/test/check/test-avc.sh
  tests/unit/test_utils.py
  tmt/checks/avc.py
  tmt/checks/dmesg.py
  tmt/checks/journal.py
  tmt/steps/__init__.py
  tmt/steps/prepare/ansible.py
  tmt/utils/__init__.py
Owners: none

squash: addressing comments, take 1
  tmt/checks/dmesg.py
  tmt/checks/journal.py
  tmt/steps/__init__.py
  tmt/steps/prepare/ansible.py
  tmt/utils/__init__.py
Owners: none

Prevent execute action in tmt try from overwriting guest modifications (#4365)
  tests/try/execute-no-push/data/execute-no-push.exp
  tests/try/execute-no-push/data/test.fmf
  tests/try/execute-no-push/data/test.sh
  tests/try/execute-no-push/main.fmf
  tests/try/execute-no-push/test.sh
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
  tmt/trying.py
Owners: @falconizmi

squash: address comments
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
  tmt/trying.py
Owners: @falconizmi

Implement the logic for the prepare/artifact step
  tmt/steps/prepare/artifact/__init__.py
Owners: none

Add Create Repository Functionality (#4328)
  tmt/package_managers/__init__.py
  tmt/package_managers/dnf.py
  tmt/steps/prepare/artifact/__init__.py
  tmt/steps/prepare/artifact/providers/repository.py
Owners: none

Add support `device.vendor` constraint for `mrack` plugin (#4332)
  spec/hardware/device.fmf
  tests/unit/provision/mrack/test_hw.py
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

squash: fixing more tests
  tests/test/check/test-avc.sh
  tests/test/check/test-dmesg.sh
  tests/unit/test_utils.py
  tmt/utils/__init__.py
Owners: none

Release 1.63.0
  docs/releases/1.63.0/4045.fmf
  docs/releases/1.63.0/4300.fmf
  docs/releases/1.63.0/4311.fmf
  docs/releases/1.63.0/4331.fmf
Owners: none

Add a `release` script, deduplicate docs & checklist
  .github/PULL_REQUEST_TEMPLATE/release.md
  docs/contribute.rst
  scripts/release
Owners: none

Update the release docs, add pull request template
  .github/PULL_REQUEST_TEMPLATE/release.md
  docs/contribute.rst
Owners: none

Fix typo
  scripts/release
Owners: none

Handle errors in git commands
  scripts/release
Owners: none

Drop the future.annotations
  tmt/_compat/importlib/metadata.py
  tmt/_compat/importlib/readers.py
  tmt/_compat/importlib/resources.py
Owners: none

Fix pyright complaint
  tmt/templates/__init__.py
Owners: none

Add `_compat.importlib`
  .pre-commit-config.yaml
  pyproject.toml
  tmt/_compat/importlib/__init__.py
  tmt/_compat/importlib/metadata.py
  tmt/_compat/importlib/readers.py
  tmt/_compat/importlib/resources.py
  tmt/plugins/__init__.py
  tmt/utils/__init__.py
Owners: none

Extend resource_files for entry-points
  tmt/utils/__init__.py
Owners: none

Document new feature
  docs/code/plugin-introduction.rst
  docs/releases/pending/2946.fmf
Owners: none

Enforce logger in `resource_files`
  tmt/cli/about.py
  tmt/config/__init__.py
  tmt/config/models/themes.py
  tmt/export/__init__.py
  tmt/export/template.py
  tmt/steps/prepare/feature/__init__.py
  tmt/steps/report/html.py
  tmt/steps/report/junit.py
  tmt/steps/scripts.py
  tmt/templates/__init__.py
  tmt/utils/__init__.py
Owners: none

Make sure `MultiplexedPath` is compatible with tmt Paths
  tmt/_compat/importlib/readers.py
Owners: none

Expand example to include schemas
  examples/plugins/example/__init__.py
  examples/plugins/example/discover.py
  examples/plugins/example/provision.py
  examples/plugins/example/schemas/discover/example.yaml
  examples/plugins/example/schemas/provision/example.yaml
  examples/plugins/pyproject.toml
  tests/plugins/data/.fmf/version
  tests/plugins/data/main.fmf
  tests/plugins/test.sh
Owners: none

Adapt to the new `resource_files`
  tmt/cli/about.py
  tmt/config/models/themes.py
  tmt/export/template.py
  tmt/steps/prepare/feature/__init__.py
  tmt/steps/report/html.py
  tmt/steps/report/junit.py
  tmt/steps/scripts.py
  tmt/templates/__init__.py
  tmt/utils/__init__.py
Owners: none

Add support `device.vendor` constraint in `mrack` plugin (#4332)
  spec/hardware/device.fmf
  tests/unit/provision/mrack/test_hw.py
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

squash: fix test
  tests/provision/facts/test-guest.sh
Owners: none

squash: edit docstring, fix test
  tests/provision/facts/test-guest.sh
  tmt/steps/provision/__init__.py
Owners: none

squash: add release note
  docs/releases/pending/4360.fmf
Owners: none

Correctly detect whether SELinux is enabled on the guest
  tmt/steps/provision/__init__.py
Owners: none

Fixes cryptic unit parsing error in TMT Data Size Fields (#4285)
  docs/releases/pending/4285.fmf
  tests/provision/hardware/data/main.fmf
  tests/provision/hardware/test.sh
  tests/unit/test_data_size_validation.py
  tmt/hardware.py
  tmt/steps/provision/testcloud.py
  tmt/utils/__init__.py
Owners: @lbrabec

squash: address comment
  tmt/hardware.py
  tmt/utils/__init__.py
Owners: none

fix: britlle string match
  tests/lint/test/test.sh
  tmt/base.py
  tmt/export/nitrate.py
Owners: none

revert: tests are back !
  tests/lint/test/test.sh
  tmt/export/__init__.py
Owners: none

revert: unintentional removal
  tests/lint/test/test.sh
Owners: none

fix logic
  tests/lint/test/data/manual_test_failed/test.md
  tests/lint/test/test.sh
  tmt/export/__init__.py
Owners: none
