Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

Rename various `env` parameters to `environment`
  tmt/base/plan.py
  tmt/cli/_root.py
  tmt/guest/__init__.py
  tmt/libraries/beakerlib.py
  tmt/steps/__init__.py
  tmt/steps/discover/__init__.py
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
  tmt/steps/prepare/shell.py
  tmt/steps/provision/bootc.py
  tmt/steps/provision/local.py
  tmt/steps/provision/mock.py
  tmt/steps/provision/podman.py
  tmt/utils/__init__.py
  tmt/utils/git.py
Owners: none

squash: address comments
  tmt/steps/provision/local.py
Owners: none

Drop plan environment from the default command environment
  tmt/guest/__init__.py
  tmt/steps/provision/local.py
  tmt/steps/provision/podman.py
Owners: none

squash: some docs
  tmt/guest/__init__.py
Owners: none

Step `__init__` shall accept list of raw step data
  tmt/base/plan.py
  tmt/steps/__init__.py
  tmt/steps/discover/__init__.py
  tmt/steps/execute/__init__.py
  tmt/steps/prepare/__init__.py
  tmt/steps/provision/__init__.py
Owners: none

squash: fix tests
  tests/unit/test_guest.py
Owners: none

squash: post-rebase fixes
  tmt/base/plan.py
Owners: none

squash: fix tests
  tests/execute/result/custom.sh
Owners: none

To/from "state" helpers for tmt state files
  docs/overview.rst
  spec/results.fmf
  tmt/base/core.py
  tmt/cli/about.py
  tmt/export/_json.py
  tmt/frameworks/beakerlib.py
  tmt/package_managers/bootc.py
  tmt/steps/__init__.py
  tmt/steps/cleanup/__init__.py
  tmt/steps/discover/__init__.py
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
  tmt/steps/finish/__init__.py
  tmt/steps/prepare/__init__.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/mrack.py
  tmt/trying.py
  tmt/utils/__init__.py
Owners: @dav-pascual, @falconizmi

squash: post-rebase
  tmt/package_managers/bootc.py
Owners: none

squash: post-rebase fixes
  tmt/base/core.py
  tmt/export/_json.py
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

squash: fix extra conversion
  tmt/steps/__init__.py
  tmt/steps/discover/__init__.py
  tmt/steps/provision/__init__.py
Owners: none

squash: small tweak
  docs/releases/pending/4472.fmf
Owners: none

squash: fix issue
  tmt/steps/__init__.py
Owners: none

squash: test and refactoring
  docs/overview.rst
  tests/cli/plugin-envvars/data/.fmf/version
  tests/cli/plugin-envvars/data/main.fmf
  tests/cli/plugin-envvars/main.fmf
  tests/cli/plugin-envvars/test.sh
  tmt/steps/__init__.py
Owners: none

Plugin envvars take effect even when plugin is not mentioned on CLI
  tmt/steps/__init__.py
Owners: none

squash; fixing tests
  docs/releases/pending/4472.fmf
  tests/execute/ignore-duration/test.sh
Owners: none

squash: fix docs
  docs/releases/pending/4472.fmf
Owners: none

squash: fix test
  tests/prepare/shell/data/reboot.fmf
Owners: none

squash: true index
  tmt/steps/prepare/shell.py
Owners: none

squash: release note
  docs/releases/pending/4351.fmf
Owners: none

squash: fighting tests
  tmt/steps/prepare/shell.py
Owners: none

squash: include step name
  tmt/steps/__init__.py
  tmt/steps/context/pidfile.py
Owners: none

squash: more fixes
  tmt/steps/provision/local.py
Owners: none

Support the use of `tmt-reboot` in `shell` plugins
  tests/prepare/shell/data/reboot.fmf
  tests/prepare/shell/test.sh
  tmt/steps/prepare/shell.py
Owners: none

squash: updating tests
  docs/releases/pending/4643.fmf
Owners: none

squash: chmod to write
  tmt/steps/context/pidfile.py
  tmt/utils/__init__.py
Owners: none

squash: more test fixing
  tests/prepare/shell/test.sh
Owners: none

squash: post-rebase fixes
  tmt/steps/provision/local.py
Owners: none

squash: release note
  docs/releases/pending/4643.fmf
Owners: none

squash: fix docs
  docs/releases/pending/4643.fmf
Owners: none

squash: Update tmt/steps/prepare/shell.py
  tmt/steps/prepare/shell.py
Owners: none

squash: mention finish
  docs/releases/pending/4351.fmf
Owners: none

squash: drop requirements
  tests/type-annotations/main.fmf
  tests/type-annotations/test.sh
Owners: none

squash: include type stubs
  tests/type-annotations/test.sh
Owners: none

squash: another attempts
  tests/type-annotations/main.fmf
  tests/type-annotations/test.sh
Owners: none

Run type-annotation linters in CI environment
  tests/type-annotations/main.fmf
  tests/type-annotations/test.sh
Owners: none

squash: try more warnings
  tests/type-annotations/test.sh
  tmt/steps/report/junit.py
Owners: none

squash: fix pyright overwrite
  tests/type-annotations/test.sh
Owners: none

squash: tweak waivers
  tmt/steps/report/html.py
Owners: none

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi
