Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

Updates tests to match new message exceptions
  tests/execute/result/custom.sh
Owners: none

Add another from as a result of rebase
  tmt/steps/prepare/artifact/providers/__init__.py
Owners: none

More sanitization of exception messages by removing remaining formatted 'error'
  tmt/base.py
  tmt/convert.py
  tmt/steps/discover/shell.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/testcloud.py
  tmt/utils/__init__.py
Owners: @lbrabec

Removes exc usage from exception message and updates test accordingly
  tests/core/fmf-id/test.sh
  tmt/steps/__init__.py
Owners: none

Refactor the "environment to shell/export" functions
  tmt/export/nitrate.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/mock.py
  tmt/steps/provision/podman.py
  tmt/utils/__init__.py
Owners: none

squash: fix docstring example
  tmt/utils/__init__.py
Owners: none

Add test-cycle field to polarion report plugin
  tmt/schemas/report/polarion.yaml
  tmt/steps/report/polarion.py
Owners: @KwisatzHaderach

Fix ruff format issues
  tmt/steps/report/polarion.py
Owners: @KwisatzHaderach

Utilize normalize_data_amount to eliminate redundancy (#4299)
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

squash: address comments
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

squash: address comment
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

Add maximum size limit validation for ReportPortal log uploads
  tmt/steps/report/reportportal.py
Owners: @4N0body5

squash: reference
  tmt/steps/report/reportportal.py
Owners: @4N0body5

Support `--environment` to `tmt try` (#4311)
  tests/try/basic/data/environment.exp
  tests/try/basic/data/plans/environment.fmf
  tests/try/basic/test.sh
  tmt/cli/trying.py
Owners: none

squash: address comment
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

Fixes cryptic unit parsing error in TMT Data Size Fields (#4285)
  tmt/hardware.py
  tmt/utils/__init__.py
Owners: none

squash: address comments
  docs/releases.rst
  tests/unit/test_data_size_validation.py
  tmt/utils/__init__.py
Owners: none

squash:address comments
  tests/provision/hardware/data/main.fmf
  tests/provision/hardware/test.sh
  tests/unit/test_data_size_validation.py
Owners: none

squash: address comments
  tests/unit/test_data_size_validation.py
  tmt/hardware.py
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

Add plugin data instance creation during linting
  tmt/base.py
  tmt/cli/lint.py
Owners: none

Remove job_owner and HW requirements walkaround (#3948)
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

squash: address comment
  tests/try/basic/data/plans/environment.fmf
  tests/try/basic/test.sh
Owners: none

Add SSH config file support to provision plugins (#4291)
  tests/provision/ssh-options/test.sh
  tmt/steps/provision/__init__.py
Owners: none

squash: address comment
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

Fixes cryptic unit parsing error in TMT Data Size Fields (#4285)
  tmt/hardware.py
  tmt/utils/__init__.py
Owners: none

squash: address comments
  docs/releases.rst
  tests/unit/test_data_size_validation.py
  tmt/utils/__init__.py
Owners: none

squash: address comments
  tests/unit/test_data_size_validation.py
  tmt/hardware.py
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

squash:address comments
  tests/provision/hardware/data/main.fmf
  tests/provision/hardware/test.sh
  tests/unit/test_data_size_validation.py
Owners: none

squash: address comment
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

Add additional converter methods to FmfContext, StepData and Discover/shell
  tmt/steps/__init__.py
  tmt/steps/discover/shell.py
  tmt/utils/__init__.py
Owners: none

Improve documentation and type-checking
  tmt/steps/provision/mock.py
Owners: none

Use a constant for tmt-mock communication named pipes
  tmt/steps/provision/mock.py
Owners: none

Use conforming documentation style for mock functions
  tmt/steps/provision/mock.py
Owners: none

Improvements for start/stop
  tmt/steps/provision/mock.py
Owners: none

Improve the documentation of mock functions
  tmt/steps/provision/mock.py
Owners: none

Add more docstrings
  tmt/package_managers/mock.py
  tmt/steps/provision/mock.py
Owners: none

Convert Path to str
  tmt/steps/provision/mock.py
Owners: none

Move Mock_shell.Stream to top level
  tmt/steps/provision/mock.py
Owners: none

Add installation hint for mock
  tmt/steps/provision/mock.py
Owners: none

Merge ManagedEpollFD and FileIO
  tmt/steps/provision/mock.py
Owners: none

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi
