Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

Add local repository creation from artifact directories
  tmt/package_managers/__init__.py
  tmt/package_managers/dnf.py
  tmt/steps/prepare/artifact/providers/repository.py
Owners: none

doc string fix
  tmt/steps/prepare/artifact/providers/repository.py
Owners: none

add createrepo_c via essential requires
  tmt/package_managers/dnf.py
  tmt/steps/execute/internal.py
Owners: none

Repository name is generated through custom counter
  tmt/steps/prepare/artifact/providers/repository.py
Owners: none

address review comments
  tmt/package_managers/__init__.py
  tmt/package_managers/dnf.py
Owners: none

move esssential requirement to artifact plugin
  tmt/package_managers/dnf.py
  tmt/steps/execute/internal.py
  tmt/steps/prepare/artifact/__init__.py
Owners: none

add suggestions from code review
  tmt/package_managers/__init__.py
  tmt/package_managers/dnf.py
  tmt/steps/prepare/artifact/__init__.py
  tmt/steps/prepare/artifact/providers/repository.py
Owners: none

Add support `device.device_name` for `mrack` (#4276)
  tests/unit/provision/mrack/test_hw.py
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

Refactor the "environment to shell/export" functions
  tmt/export/nitrate.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/mock.py
  tmt/steps/provision/podman.py
  tmt/utils/__init__.py
Owners: none

squash: fix docstring example
  tmt/utils/__init__.py
Owners: none

Refactor the "environment to shell/export" functions (#4245)
  tmt/export/nitrate.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/mock.py
  tmt/steps/provision/podman.py
  tmt/utils/__init__.py
Owners: none

Improve lint output for missing required properties The linter now provides specific warnings when required properties are missing, including the schema ID.
  tests/lint/plan/data/missing_required.fmf
  tests/lint/plan/test.sh
  tmt/base.py
Owners: none

Address PR comments Make detect_missing_required_properties more readable Make DRY the detect functions
  tmt/base.py
Owners: none

Use re.compile beforehand and change (?mi) to flags=...
  tmt/base.py
Owners: none

Move re.compile() to module level so its only comuted once.
  tmt/base.py
Owners: none

Improve lint output for missing required properties (#4244)
  tests/lint/plan/data/missing_required.fmf
  tests/lint/plan/test.sh
  tmt/base.py
Owners: none

squash: fix typos
  spec/hardware/cpu.fmf
Owners: none

squash: lscpu examples
  spec/hardware/cpu.fmf
Owners: none

Add a note on what `cpu.processors` mean to tmt
  spec/hardware/cpu.fmf
Owners: none

Add a note on what `cpu.processors` mean to tmt (#4301)
  spec/hardware/cpu.fmf
Owners: none

Restraint context to govern restraint-related addition to execution
  tmt/steps/context/restraint.py
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
Owners: none

Restraint context to govern restraint-related addition to execution (#4282)
  tmt/steps/context/restraint.py
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
Owners: none

Remove unrelated changes
  tmt/schemas/report/polarion.yaml
Owners: none

Fix ruff format issues
  tmt/steps/report/polarion.py
Owners: @KwisatzHaderach

Add test-cycle field to polarion report plugin
  tmt/schemas/report/polarion.yaml
  tmt/steps/report/polarion.py
Owners: @KwisatzHaderach

Add Polarion reporter token upload with ReportPortal integration
  examples/polarion-run-report/README.md
  examples/polarion-run-report/plan.fmf
  examples/polarion-run-report/test.fmf
  examples/polarion-run-report/test.sh
  tmt/schemas/report/polarion.yaml
  tmt/steps/report/dynamic_polarion_schema.py
  tmt/steps/report/polarion.py
  tmt/steps/report/reportportal.py
  tmt/utils/markdown.py
Owners: @KwisatzHaderach, @4N0body5

Refactor "to YAML" and "from YAML" helpers
  tmt/ansible.py
  tmt/base.py
  tmt/cli/about.py
  tmt/convert.py
  tmt/export/nitrate.py
  tmt/export/yaml.py
  tmt/policy.py
  tmt/recipe.py
  tmt/result.py
  tmt/steps/__init__.py
  tmt/steps/discover/__init__.py
  tmt/steps/execute/__init__.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/artemis.py
  tmt/steps/provision/mrack.py
  tmt/steps/report/reportportal.py
  tmt/trying.py
  tmt/utils/__init__.py
  tmt/utils/templates.py
Owners: @happz, @dav-pascual, @4N0body5, @falconizmi

Add device access support to `podman` plugin (#4333)
  tests/provision/container/basic/data/main.fmf
  tests/provision/container/basic/test.sh
  tmt/steps/provision/podman.py
Owners: none

fix(lint): treat EOF as implicit Test boundary so Cleanup remains optional
  examples/manual/mini.md
  tmt/export/__init__.py
Owners: none

Update tmt/export/__init__.py
  tmt/export/__init__.py
Owners: none

Probable fix: add Cleanup section to example
  tests/lint/test/test.sh
Owners: none

Update tmt/export/__init__.py
  tmt/export/__init__.py
Owners: none

Probable fix: add Cleanup section to example
  examples/manual/mini.md
  tests/lint/test/test.sh
  tmt/export/__init__.py
Owners: none

fix: failing pre-commit test
  tmt/export/__init__.py
Owners: none

Use full paths to mock pipes
  tmt/steps/provision/mock.py
Owners: none

Move type hints and documentation to class-level attributes
  tmt/steps/provision/mock.py
Owners: none

Use print_hints in case `import mockbuild` fails
  tmt/steps/provision/mock.py
Owners: none

Make mkfifo command more readable
  tmt/steps/provision/mock.py
Owners: none

Change the default formatting of YAML emitted by tmt
  tmt/utils/__init__.py
Owners: none

squash: fix some tests
  tests/execute/result/custom.sh
  tests/plan/create/test.sh
  tests/unit/test_hardware.py
  tests/unit/test_results.py
Owners: none

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi
