Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi

squash: better delimiters
  tmt/guest/__init__.py
Owners: none

squash: fix tests
  tests/unit/test_package_managers.py
Owners: none

squash: requires
  tmt/guest/__init__.py
Owners: none

squash: post-rebase fixes
  tmt/guest/__init__.py
Owners: none

squash: post-rebase
  tmt/guest/__init__.py
Owners: none

squash: better handling of failed syncs
  tmt/guest/__init__.py
Owners: none

squash: better image mode probe?
  tmt/guest/__init__.py
Owners: none

Guest fact discovery via a single script
  tmt/steps/scripts.py
  tmt/utils/__init__.py
Owners: none

squash: check
  tmt/guest/__init__.py
Owners: none

squash: more debugging
  tests/prepare/shell/test.sh
  tmt/guest/__init__.py
Owners: none

squash: post-rebase fixes
  tmt/guest/__init__.py
Owners: none

squash: requires
  tmt/guest/__init__.py
Owners: none

squash: update tests
  tests/provision/facts/test-guest.sh
  tests/provision/facts/test-runner.sh
  tmt/base/run.py
Owners: none

squash: check
  tmt/guest/__init__.py
Owners: none

ISC004 implicit-string-concatenation-in-collection-literal
  tests/unit/test_logging.py
  tmt/base/plan.py
  tmt/checks/internal/invocation.py
  tmt/checks/watchdog.py
Owners: none

RUF063 access-annotations-from-class-dict
  tmt/_compat/annotationlib.py
Owners: none

Cleanup _compat
  docs/ext/tmt_domain/autodoc.py
  pyproject.toml
  tests/unit/test_queue.py
  tmt/_compat/importlib/__init__.py
  tmt/_compat/importlib/metadata.py
  tmt/_compat/importlib/readers.py
  tmt/_compat/importlib/resources.py
  tmt/_compat/pydantic.py
  tmt/_compat/typing.py
  tmt/base/core.py
  tmt/base/links.py
  tmt/cli/__init__.py
  tmt/config/models/themes.py
  tmt/container/__init__.py
  tmt/export/__init__.py
  tmt/guest/__init__.py
  tmt/hardware/constraints.py
  tmt/log.py
  tmt/package_managers/__init__.py
  tmt/package_managers/_rpm.py
  tmt/plugins/__init__.py
  tmt/queue.py
  tmt/steps/__init__.py
  tmt/steps/discover/fmf.py
  tmt/steps/discover/shell.py
  tmt/steps/prepare/artifact/providers/__init__.py
  tmt/steps/prepare/artifact/providers/copr_repository.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/mock.py
  tmt/steps/report/junit.py
  tmt/steps/report/reportportal.py
  tmt/utils/__init__.py
  tmt/utils/environment.py
  tmt/utils/filesystem.py
  tmt/utils/signals.py
  tmt/utils/wait.py
Owners: @4N0body5

fixup! Cleanup some typing updates
  tmt/cli/_root.py
  tmt/cli/about.py
  tmt/cli/init.py
  tmt/cli/status.py
  tmt/cli/trying.py
  tmt/container/__init__.py
  tmt/options.py
  tmt/plugins/plan_shapers/max_tests.py
  tmt/plugins/plan_shapers/repeat.py
Owners: none

B905 zip-without-explicit-strict
  tests/unit/test_report_junit.py
  tmt/package_managers/apk.py
  tmt/package_managers/rpm_ostree.py
  tmt/utils/structured_field.py
Owners: none

UP042 replace-str-enum
  tmt/config/models/link.py
  tmt/package_managers/__init__.py
Owners: none

Cleanup some typing updates
  tests/__init__.py
  tmt/base/core.py
  tmt/cli/__init__.py
  tmt/hardware/constraints.py
  tmt/options.py
  tmt/steps/provision/testcloud.py
  tmt/templates/__init__.py
Owners: @lbrabec

Ignore the rest codes for now
  pyproject.toml
Owners: none

UP017 datetime-timezone-utc
  tmt/checks/watchdog.py
  tmt/steps/provision/mrack.py
  tmt/steps/report/polarion.py
  tmt/steps/report/reportportal.py
  tmt/utils/__init__.py
  tmt/utils/wait.py
Owners: @dav-pascual, @KwisatzHaderach, @4N0body5

Revert python3.15 skip (#5015) (#5016)
  packaging/rpm/tmt.spec
  plans/sanity/main.fmf
  pyproject.toml
  tests/precommit/main.fmf
  tests/sanity/pip/install.fmf
  tests/unit/main.fmf
  uv.lock
Owners: none

Drop allowing to pass `environment` to `git_clone`
  tmt/utils/git.py
Owners: none

Do GIT_ASKPASS at all git clone
  tmt/libraries/beakerlib.py
  tmt/steps/discover/__init__.py
  tmt/utils/git.py
Owners: none

Extend exit code test for container transport
  tests/execute/codes/main.fmf
  tests/execute/codes/test.sh
Owners: none

Drop no longer relevant group
  .github/renovate.json
Owners: none

Group renovate related update
  .github/renovate.json
Owners: none

Group security updates
  .github/renovate.json
Owners: none

Update renovatebot image
  containers/Containerfile.renovate
Owners: none

Be more consistent with git clone environment (#4952)
  tmt/libraries/beakerlib.py
  tmt/steps/discover/__init__.py
  tmt/utils/git.py
Owners: none

Fix recipes not working with dist-git
  spec/recipe.fmf
  tests/recipe/data/distgit.yaml
  tests/recipe/data/plans.fmf
  tests/recipe/generate.sh
  tests/recipe/load.sh
  tmt/steps/discover/__init__.py
  tmt/steps/discover/fmf.py
  tmt/steps/discover/shell.py
Owners: none

squash: remove `_distgit_extract_tests_later`
  tmt/steps/discover/__init__.py
  tmt/steps/discover/fmf.py
Owners: none

squash: add plugin property
  tmt/steps/discover/__init__.py
Owners: none

Let's try the new pipeline everywhere!
  .packit.yaml
Owners: none

Enable the multihost pipeline for internal jobs
  .packit.yaml
Owners: none
