Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

Move destination directory creation logic to base
  tmt/steps/prepare/brand_new_allmighty_install/providers/__init__.py
  tmt/steps/prepare/brand_new_allmighty_install/providers/koji_provider.py
Owners: none

more updates based on reviews
  tmt/steps/prepare/brand_new_allmighty_install/providers/__init__.py
  tmt/steps/prepare/brand_new_allmighty_install/providers/koji.py
Owners: none

convert to list[str] to pattern[str] & use Iterators
  tmt/steps/prepare/brand_new_allmighty_install/providers/__init__.py
  tmt/steps/prepare/brand_new_allmighty_install/providers/koji.py
Owners: none

Introduce DownloadError
  tmt/steps/prepare/brand_new_allmighty_install/providers/__init__.py
Owners: none

More refactoring based on reviews
  tmt/steps/prepare/brand_new_allmighty_install/providers/__init__.py
  tmt/steps/prepare/brand_new_allmighty_install/providers/brew.py
  tmt/steps/prepare/brand_new_allmighty_install/providers/koji.py
Owners: none

Initial check-in of koji/brew classes for almighty plugin
  tmt/steps/prepare/brand_new_allmighty_install/providers/__init__.py
  tmt/steps/prepare/brand_new_allmighty_install/providers/brew.py
  tmt/steps/prepare/brand_new_allmighty_install/providers/koji.py
Owners: none

Use main branch as ref
  .packit.yaml
Owners: none

Replace rsync options in Guest push/pull API (#4029)
  tmt/frameworks/__init__.py
  tmt/frameworks/beakerlib.py
  tmt/steps/__init__.py
  tmt/steps/execute/internal.py
  tmt/steps/prepare/shell.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/local.py
  tmt/steps/provision/podman.py
Owners: none

Add support for skipping tests before and/or after system upgrade
  docs/releases.rst
  tests/execute/upgrade/data/plan.fmf
  tests/execute/upgrade/main.fmf
  tests/execute/upgrade/skip-tests.sh
  tmt/schemas/execute/upgrade.yaml
  tmt/steps/execute/upgrade.py
Owners: none

squash: fixing tests
  tests/execute/upgrade/main.fmf
  tests/execute/upgrade/skip-tests.sh
Owners: none

squash: extend duration
  tests/execute/upgrade/main.fmf
Owners: none

squash: Update tests/execute/upgrade/main.fmf
  tests/execute/upgrade/main.fmf
Owners: none

Support multiple threads provisioning for `Mrack` (#3941)
  tests/unit/provision/mrack/test_thread_safety.py
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

squash:address comments
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

squash: address comments
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

squash: address comment
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

squash:update
  tests/unit/provision/mrack/test_thread_safety.py
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

squash:fix test failure
  tests/unit/provision/mrack/test_thread_safety.py
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

Add support for skipping tests before and/or after system upgrade (#3940)
  docs/releases.rst
  tests/execute/upgrade/data/plan.fmf
  tests/execute/upgrade/main.fmf
  tests/execute/upgrade/skip-tests.sh
  tmt/schemas/execute/upgrade.yaml
  tmt/steps/execute/upgrade.py
Owners: none

Prevent building container images if Containerfile is empty in Image Mode
  tests/prepare/install/data/empty-with-exclude.fmf
  tests/prepare/install/test.sh
  tmt/package_managers/bootc.py
Owners: none

Install package manager into the mock chroot if bootstrap chroot is not used
  tmt/package_managers/mock.py
  tmt/steps/prepare/install.py
  tmt/steps/provision/mock.py
Owners: none

Add pid attribute to mock shell
  tmt/steps/provision/mock.py
Owners: none

Prevent building container images if Containerfile is empty in Image Mode (#4025)
  tests/prepare/install/data/empty-with-exclude.fmf
  tests/prepare/install/test.sh
  tmt/package_managers/bootc.py
Owners: none

Move man generation inside spec file instead
  .github/workflows/gen-files.yml
  .gitignore
  pyproject.toml
  tmt.spec
Owners: none

Move man generation inside the CI
  .github/workflows/gen-files.yml
  .gitignore
  .packit.yaml
  pyproject.toml
  tmt.spec
Owners: none

Use the appropriate rst2man executable
  tmt.spec
Owners: none

A few other reverts to simplify the diff
  pyproject.toml
  tmt.spec
Owners: none

Adds simple helpers for accessing run, plan, phase and guest workdirs
  tmt/base.py
  tmt/checks/avc.py
  tmt/checks/coredump.py
  tmt/checks/dmesg.py
  tmt/checks/journal.py
  tmt/checks/watchdog.py
  tmt/libraries/__init__.py
  tmt/libraries/beakerlib.py
  tmt/package_managers/bootc.py
  tmt/result.py
  tmt/steps/__init__.py
  tmt/steps/discover/fmf.py
  tmt/steps/discover/shell.py
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
  tmt/steps/prepare/ansible.py
  tmt/steps/prepare/install.py
  tmt/steps/prepare/shell.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/bootc.py
  tmt/steps/provision/mrack.py
  tmt/steps/provision/podman.py
  tmt/steps/provision/testcloud.py
  tmt/steps/report/display.py
  tmt/steps/report/html.py
  tmt/steps/report/html/template.html.j2
  tmt/steps/report/junit.py
  tmt/steps/report/polarion.py
  tmt/trying.py
  tmt/utils/__init__.py
Owners: @dav-pascual, @lbrabec, @KwisatzHaderach, @falconizmi

Add a short release note
  docs/releases.rst
Owners: none

Add a new section `Guest Preparation` to the guide
  docs/guide.rst
  docs/guide/guest-preparation.inc.rst
Owners: none

Fix a typo
  docs/guide/guest-preparation.inc.rst
Owners: none

Fix more typos
  docs/guide/guest-preparation.inc.rst
Owners: none

Move the man page generation into the spec file (#3960)
  .packit.yaml
  pyproject.toml
  tmt.spec
Owners: none

Fix the playbooks, missing output variable
  tmt/steps/prepare/feature/epel-enable.yaml
Owners: none

fix tabs in the shell file
  tests/prepare/feature/epel/test.sh
Owners: none

Workaround RHEL8 epel feature for Fedora 42+
  tests/prepare/feature/epel/test.sh
  tmt/steps/prepare/feature/epel-disable.yaml
  tmt/steps/prepare/feature/epel-enable.yaml
Owners: none

Install epel-release only if not installed
  tmt/steps/prepare/feature/epel-enable.yaml
Owners: none

Cover the use case of epel already installed
  tests/prepare/feature/epel/data/plans.fmf
  tests/prepare/feature/epel/test.sh
Owners: none

Fix plan name
  tests/prepare/feature/epel/test.sh
Owners: none

Fix fips role to work on RHEL8
  tmt/steps/prepare/feature/fips-enable.yaml
Owners: none

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi
