Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

Add a basic implementation
  tmt/steps/prepare/artifact/__init__.py
Owners: none

Generalize the url download
  tmt/steps/discover/fmf.py
  tmt/utils/git.py
  tmt/utils/url.py
Owners: none

Use `iter_content` to download the file
  tmt/utils/url.py
Owners: none

Update tmt/package_managers/__init__.py
  tmt/package_managers/__init__.py
Owners: none

Fix: Prevent race condition between plugins and actions
  tmt/steps/finish/__init__.py
Owners: none

isome changes
  tmt/package_managers/dnf.py
  tmt/steps/prepare/artifact/providers/repository.py
Owners: none

sanitize file name
  tmt/steps/prepare/artifact/providers/__init__.py
Owners: none

Fix SSH key placement and add sudo permissions for non-root user (#3989)
  tests/provision/user/test.sh
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

Temporarily disabled koji tests until replaced by mock
  tests/unit/artifact/test_koji.py
Owners: none

Temporarily disable koji tests until replaced by mock (#4217)
  tests/unit/artifact/test_koji.py
Owners: none

Type ignore known mypy limitations
  tmt/base.py
  tmt/steps/__init__.py
Owners: none

Add from_spec to Links
  tmt/base.py
Owners: none

Make ProvisionTask concrete
  tmt/steps/provision/__init__.py
Owners: none

Remove prepare_repository method
  tmt/steps/prepare/install.py
Owners: none

Add a MockGuest for unit test
  tests/unit/test_guest.py
Owners: none

Make DependencyFile concrete
  tmt/base.py
Owners: none

Ignore a genuine type-annotation issue for now
  tmt/steps/provision/__init__.py
Owners: none

Add abc all-around
  tmt/container/__init__.py
  tmt/export/__init__.py
  tmt/frameworks/__init__.py
  tmt/hardware.py
  tmt/package_managers/__init__.py
  tmt/plugins/plan_shapers/__init__.py
  tmt/queue.py
  tmt/steps/__init__.py
  tmt/steps/discover/__init__.py
  tmt/steps/execute/__init__.py
  tmt/steps/prepare/feature/__init__.py
  tmt/steps/prepare/install.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/mrack.py
  tmt/utils/__init__.py
Owners: @dav-pascual

Add abc all-around (#4096)
  tests/unit/test_guest.py
  tmt/base.py
  tmt/container/__init__.py
  tmt/export/__init__.py
  tmt/frameworks/__init__.py
  tmt/hardware.py
  tmt/package_managers/__init__.py
  tmt/plugins/plan_shapers/__init__.py
  tmt/queue.py
  tmt/steps/__init__.py
  tmt/steps/discover/__init__.py
  tmt/steps/execute/__init__.py
  tmt/steps/prepare/feature/__init__.py
  tmt/steps/prepare/install.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/mrack.py
  tmt/utils/__init__.py
Owners: @dav-pascual

bootc: use `containers-storage:` prefix only for local containers
  tmt/package_managers/bootc.py
  tmt/steps/provision/bootc.py
Owners: none

Convert Path to str
  tmt/steps/provision/mock.py
Owners: none

Improvements for start/stop
  tmt/steps/provision/mock.py
Owners: none

Let mock shell reuse parent's attributes
  tmt/steps/provision/mock.py
Owners: none

Add more docstrings
  tmt/package_managers/mock.py
  tmt/steps/provision/mock.py
Owners: none

Merge ManagedEpollFD and FileIO
  tmt/steps/provision/mock.py
Owners: none

Add installation hint for mock
  tmt/steps/provision/mock.py
Owners: none

Move Mock_shell.Stream to top level
  tmt/steps/provision/mock.py
Owners: none

Use `containers-storage:` prefix only for local containers (#4219)
  tmt/package_managers/bootc.py
  tmt/steps/provision/bootc.py
Owners: none

Provide check_presence method for the mock package manager
  tmt/package_managers/mock.py
Owners: none

Refine `Content-Disposition` regex
  tmt/steps/discover/fmf.py
Owners: none

Provide `check_presence` method for the `mock` package manager (#4220)
  tmt/package_managers/mock.py
Owners: none

squash: docstring
  tmt/utils/__init__.py
Owners: none

squash: address comment
  tmt/utils/__init__.py
Owners: none

Add _all param to generate_runs
  tmt/base.py
  tmt/utils/__init__.py
Owners: none

updates
  docs/releases.rst
  spec/plans/ansible.fmf
  spec/plans/provision.fmf
  tmt/ansible.py
  tmt/steps/provision/__init__.py
Owners: none

Add support for Ansible inventory file
  tmt/ansible.py
  tmt/base.py
  tmt/schemas/ansible.yaml
  tmt/schemas/common.yaml
  tmt/schemas/provision/artemis.yaml
  tmt/schemas/provision/beaker.yaml
  tmt/schemas/provision/bootc.yaml
  tmt/schemas/provision/connect.yaml
  tmt/schemas/provision/minute.yaml
  tmt/schemas/provision/virtual.yaml
  tmt/steps/provision/__init__.py
Owners: none

remove ansible mapping and update release note version
  tmt/steps/provision/__init__.py
Owners: none

fix test
  tests/recipe/data/recipe.yaml
Owners: none

add test coverage
  tests/provision/ansible-inventory/data/.fmf/version
  tests/provision/ansible-inventory/data/layout.yaml
  tests/provision/ansible-inventory/data/plan.fmf
  tests/provision/ansible-inventory/data/playbooks/frontend-playbook.yaml
  tests/provision/ansible-inventory/data/playbooks/ungrouped-playbook.yaml
  tests/provision/ansible-inventory/data/playbooks/webservers-playbook.yaml
  tests/provision/ansible-inventory/main.fmf
  tests/provision/ansible-inventory/test.sh
Owners: none

updates
  tests/provision/ansible-inventory/data/incomplete-layout.yaml
  tests/provision/ansible-inventory/data/layout-comprehensive.yaml
  tests/provision/ansible-inventory/data/plan.fmf
  tests/provision/ansible-inventory/test.sh
  tests/recipe/data/recipe.yaml
  tmt/ansible.py
  tmt/steps/provision/__init__.py
Owners: none

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi
