Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

Implement resolve_provides for yum
  tmt/package_managers/dnf.py
Owners: none

Generalize some argument names
  tmt/package_managers/__init__.py
  tmt/package_managers/dnf.py
Owners: none

Move `resolve_provides` to generic helper
  tmt/package_managers/__init__.py
  tmt/package_managers/dnf.py
Owners: none

Add a generic helper for repoquery
  tmt/package_managers/__init__.py
  tmt/package_managers/dnf.py
Owners: none

Support artifacts on CentOS 7 (#5046)
  tests/prepare/artifact/basic.sh
  tests/prepare/artifact/lib/common.sh
  tests/prepare/artifact/providers/copr-repository/test.sh
  tests/prepare/artifact/providers/file/data/test.sh
  tests/prepare/artifact/providers/file/test.sh
  tests/prepare/artifact/providers/multi/test.sh
  tests/prepare/artifact/providers/repository-file/test.sh
  tests/prepare/artifact/providers/repository-url/test.sh
  tests/prepare/artifact/verify-installation.sh
  tests/prepare/verify-installation/test.sh
  tmt/package_managers/__init__.py
  tmt/package_managers/dnf.py
Owners: none

Release 1.77.0
  docs/releases/1.77.0/4859.fmf
  docs/releases/1.77.0/4994.fmf
  docs/releases/1.77.0/5008.fmf
  docs/releases/1.77.0/5039.fmf
  docs/releases/1.77.0/condition.fmf
Owners: none

squash: prioritize one release note
  docs/releases/1.77.0/4994.fmf
Owners: none

Release 1.77.0 (#5091)
  docs/releases/1.77.0/4859.fmf
  docs/releases/1.77.0/4994.fmf
  docs/releases/1.77.0/5008.fmf
  docs/releases/1.77.0/5039.fmf
  docs/releases/1.77.0/condition.fmf
Owners: none

Handle top-level file changes more properly
  tmt/steps/discover/fmf.py
Owners: none

Revert python3.15 skip (#5015)
  plans/sanity/main.fmf
  tests/precommit/main.fmf
  tests/sanity/pip/install.fmf
  tests/unit/main.fmf
Owners: none

squash: fix test
  tests/plan/show/test.sh
Owners: none

Let `finish` step run before `report`
  tmt/steps/__init__.py
Owners: none

squash: some changes
  agents/AGENTS.md
  tests/login/debug.sh
  tmt/steps/__init__.py
Owners: none

squash: address comment
  tests/login/step.sh
Owners: none

squash: Apply suggestion from @bajertom
  tests/steps/select/test.sh
Owners: none

squash: fix test
  tests/login/step.sh
Owners: none

squash: fixing tests
  tests/status/base/test.sh
  tests/steps/select/test.sh
  tmt/steps/__init__.py
Owners: none

Make sure the ssh master process is up and running after reboot
  tmt/guest/__init__.py
  tmt/steps/provision/artemis.py
  tmt/steps/provision/connect.py
  tmt/steps/provision/mrack.py
  tmt/steps/provision/testcloud.py
Owners: @happz, @dav-pascual, @lbrabec

squash: drop lambda
  tmt/guest/__init__.py
  tmt/steps/provision/artemis.py
  tmt/steps/provision/connect.py
  tmt/steps/provision/mrack.py
  tmt/steps/provision/testcloud.py
Owners: @happz, @dav-pascual, @lbrabec

Limit verbose/debug levels
  docs/overview.rst
  tests/core/environment/test.sh
  tmt/checks/avc.py
  tmt/checks/dmesg.py
  tmt/guest/__init__.py
  tmt/log.py
  tmt/options.py
  tmt/steps/__init__.py
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
  tmt/steps/provision/local.py
  tmt/steps/provision/mock.py
  tmt/steps/provision/podman.py
  tmt/trying.py
  tmt/utils/__init__.py
Owners: @falconizmi

squash: address some comments
  tmt/log.py
  tmt/utils/__init__.py
Owners: none

squash: address comments
  tmt/options.py
  tmt/trying.py
Owners: @falconizmi

squash: fix unittests
  tests/unit/test_guest.py
Owners: none

squash: post-rebase
  tmt/log.py
Owners: none

Make color and other logging method params keyword-only
  examples/plugins/example/provision.py
  tmt/base/plan.py
  tmt/guest/__init__.py
  tmt/libraries/beakerlib.py
  tmt/log.py
  tmt/package_managers/bootc.py
  tmt/package_managers/dnf.py
  tmt/package_managers/rpm_ostree.py
  tmt/steps/__init__.py
  tmt/steps/cleanup/__init__.py
  tmt/steps/discover/__init__.py
  tmt/steps/discover/fmf.py
  tmt/steps/execute/__init__.py
  tmt/steps/execute/upgrade.py
  tmt/steps/finish/__init__.py
  tmt/steps/prepare/__init__.py
  tmt/steps/prepare/ansible.py
  tmt/steps/prepare/feature/__init__.py
  tmt/steps/prepare/install.py
  tmt/steps/prepare/shell.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/artemis.py
  tmt/steps/provision/connect.py
  tmt/steps/provision/local.py
  tmt/steps/provision/mock.py
  tmt/steps/provision/mrack.py
  tmt/steps/provision/podman.py
  tmt/steps/provision/testcloud.py
  tmt/steps/report/__init__.py
  tmt/steps/report/junit.py
  tmt/steps/report/polarion.py
  tmt/steps/report/reportportal.py
  tmt/trying.py
  tmt/utils/__init__.py
Owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

squash: fix deprecated want()
  tmt/log.py
Owners: none

squash: post-rebase
  tmt/log.py
  tmt/package_managers/__init__.py
  tmt/package_managers/bootc.py
  tmt/trying.py
Owners: @falconizmi

Add tracker for verified-artifacts
  tests/prepare/artifact/install-cases/verified-artifacts/pre-installed.fmf
Owners: none

Limit foo-ng definition to only 1 package
  tests/prepare/artifact/install-cases/available-artifacts/obsoletes.fmf
  tests/prepare/artifact/install-cases/broken/available-artifacts/obsoletes.fmf
  tests/prepare/artifact/install-cases/broken/no-artifacts/obsoletes.fmf
  tests/prepare/artifact/install-cases/broken/verified-artifacts/obsoletes.fmf
  tests/prepare/artifact/install-cases/no-artifacts/obsoletes.fmf
  tests/prepare/artifact/install-cases/verified-artifacts/obsoletes.fmf
  tests/prepare/artifact/rpms/foo-ng-1.0-bad/foo.spec
  tests/prepare/artifact/rpms/foo-ng-1.0/foo.spec
  tests/prepare/artifact/rpms/foo-ng-1.4/foo.spec
  tests/prepare/artifact/rpms/foo-ng-2.2/foo.spec
  tests/prepare/artifact/rpms/foo-ng-2.4-bad/foo.spec
  tests/prepare/artifact/rpms/foo-ng-2.4/foo.spec
Owners: none

Tweak expected failures
  tests/prepare/artifact/install-cases.sh
  tests/prepare/artifact/install-cases/verified-artifacts/obsoletes.fmf
Owners: none

ELN is also failing on nobest
  tests/prepare/artifact/install-cases.sh
Owners: none

Fix broken summary and description keys
  tests/prepare/artifact/install-cases/available-artifacts/basic.fmf
  tests/prepare/artifact/install-cases/available-artifacts/pre-installed.fmf
  tests/prepare/artifact/install-cases/broken/available-artifacts/basic.fmf
  tests/prepare/artifact/install-cases/broken/available-artifacts/pre-installed.fmf
  tests/prepare/artifact/install-cases/broken/verified-artifacts/basic.fmf
  tests/prepare/artifact/install-cases/broken/verified-artifacts/obsoletes.fmf
  tests/prepare/artifact/install-cases/broken/verified-artifacts/pre-installed.fmf
  tests/prepare/artifact/install-cases/verified-artifacts/basic.fmf
  tests/prepare/artifact/install-cases/verified-artifacts/obsoletes.fmf
  tests/prepare/artifact/install-cases/verified-artifacts/pre-installed.fmf
Owners: none

Correct no-artifacts/obsolets/pre-installed expectation
  tests/prepare/artifact/install-cases/no-artifacts/obsoletes.fmf
Owners: none

Typos
  tests/prepare/artifact/install-cases/broken/available-artifacts/obsoletes.fmf
  tests/prepare/artifact/install-cases/no-artifacts/obsoletes.fmf
  tests/prepare/artifact/install-cases/no-artifacts/upgrade.fmf
Owners: none

Move test inline with main.fmf
  tests/prepare/artifact/install-cases/main.fmf
  tests/prepare/artifact/install-cases/test.fmf
Owners: none

Tweak no-artifacts/upgrade case
  tests/prepare/artifact/install-cases/broken/no-artifacts/upgrade.fmf
  tests/prepare/artifact/install-cases/no-artifacts/upgrade.fmf
Owners: none

Cover dependent package cases
  tests/prepare/artifact/install-cases/available-artifacts/pre-installed.fmf
  tests/prepare/artifact/install-cases/no-artifacts/upgrade.fmf
  tests/prepare/artifact/install-cases/verified-artifacts/pre-installed.fmf
Owners: none

Correct available-artifacts/obsolets expectation
  tests/prepare/artifact/install-cases/available-artifacts/obsoletes.fmf
Owners: none

Cover Obsoletes cases
  tests/prepare/artifact/install-cases/available-artifacts/obsoletes.fmf
  tests/prepare/artifact/install-cases/no-artifacts/obsoletes.fmf
  tests/prepare/artifact/install-cases/verified-artifacts/obsoletes.fmf
Owners: none

XFAIL on centos-stream-(9|10) because of intrinsic --best flag
  tests/prepare/artifact/install-cases.sh
Owners: none

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi
