Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi

Make sure `MultiplexedPath` is compatible with tmt Paths
  tmt/_compat/importlib/readers.py
Owners: none

Expand example to include schemas
  examples/plugins/example/__init__.py
  examples/plugins/example/discover.py
  examples/plugins/example/provision.py
  examples/plugins/example/schemas/discover/example.yaml
  examples/plugins/example/schemas/provision/example.yaml
  examples/plugins/pyproject.toml
  tests/plugins/data/.fmf/version
  tests/plugins/data/main.fmf
  tests/plugins/test.sh
Owners: none

Enforce logger in `resource_files`
  tmt/cli/about.py
  tmt/config/__init__.py
  tmt/config/models/themes.py
  tmt/export/__init__.py
  tmt/export/template.py
  tmt/steps/prepare/feature/__init__.py
  tmt/steps/report/html.py
  tmt/steps/report/junit.py
  tmt/steps/scripts.py
  tmt/templates/__init__.py
  tmt/utils/__init__.py
Owners: none

Split `provision` Packit job into per-plugin jobs (#4284)
  .packit.yaml
Owners: none

Use `pending` release to collect notes for the upcoming release
  docs/contribute.rst
  docs/ext/generate_release_notes.py
  docs/releases/pending/.gitkeep
Owners: none

squash: drop needless emptiness check
  docs/ext/generate_release_notes.py
Owners: none

Use `pending` release to collect notes for the upcoming release (#4345)
  docs/contribute.rst
  docs/ext/generate_release_notes.py
  docs/releases/pending/.gitkeep
Owners: none

Drop the sdist filter
  pyproject.toml
Owners: none

Add a simple test
  tests/core/sourced-file/data/.fmf/version
  tests/core/sourced-file/data/main.fmf
  tests/core/sourced-file/main.fmf
  tests/core/sourced-file/test.sh
Owners: none

Add `sourced_files` interface to `Guest`
  tmt/steps/provision/__init__.py
  tmt/steps/provision/local.py
  tmt/steps/provision/mock.py
  tmt/steps/provision/podman.py
Owners: none

Adjust overview document to be good for man
  docs/overview.rst
Owners: none

Hook PrepareShell to `TMT_PLAN_SOURCED_FILE`
  tmt/steps/prepare/shell.py
Owners: none

Hook tests to `TMT_PLAN_SOURCED_FILE`
  tmt/steps/execute/__init__.py
Owners: none

introduce `TMT_PLAN_SOURCED_FILE`
  tests/recipe/data/recipe.yaml
  tmt/base.py
Owners: none

Document TMT_PLAN_SOURCED_FILE
  docs/overview.rst
  docs/releases/1.63.0/4045.fmf
  spec/plans/sourced-file.fmf
Owners: none

Move release note to pending
  docs/releases/pending/4045.fmf
Owners: none

squash: add release note
  docs/releases/1.63.0/4311.fmf
Owners: none

Fix LocalProvision sourcing in wrong order
  tmt/steps/provision/local.py
Owners: none

Drop the future.annotations
  tmt/_compat/importlib/metadata.py
  tmt/_compat/importlib/readers.py
  tmt/_compat/importlib/resources.py
Owners: none

Drop the `sdist` filter from `pyproject.toml` (#4305)
  pyproject.toml
Owners: none

Fix `/tests/execute/unresponsive` expected message
  tests/execute/unresponsive/test.sh
Owners: none

SuppoImplement configurable additional git locations for librariesrt additional beakerlib repositories
  tmt/libraries/beakerlib.py
Owners: none

Fix `/tests/execute/unresponsive` expected message (#4354)
  tests/execute/unresponsive/test.sh
Owners: none

Adjust `/tests/plan/show` to work without git
  tests/plan/show/test.sh
Owners: none

Let's run downstream tests only with `ci | full test`
  .packit.yaml
Owners: none

Address comments...
  tmt/export/__init__.py
Owners: none

Add validation for reboot configuration data
  tmt/steps/context/reboot.py
Owners: none

Adjust `/tests/plan/show` to work without git (#4353)
  .packit.yaml
  tests/plan/show/test.sh
Owners: none

Improve detection of required keys in tmt lint (#3429)
  tests/core/fmf-id/data/test-with-valid-ref.fmf
  tests/core/fmf-id/test.sh
  tests/lint/test/data/library-missing-url-path.fmf
  tests/lint/test/test.sh
  tmt/schemas/common.yaml
Owners: none

squash: address comment
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

squash: address comment
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

squash: address comment
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

Utilize normalize_data_amount to eliminate redundancy (#4299)
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

squash: address comments
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

squash: address comment
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

squash: address comment
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

squash: reference
  tmt/steps/report/reportportal.py
Owners: @4N0body5

squash: add release note
  docs/releases/1.63.0/4300.fmf
Owners: none

Add maximum size limit validation for ReportPortal log uploads
  tmt/steps/report/reportportal.py
Owners: @4N0body5

Add support `device.device` constraint for `mrack` plugin (#4331)
  tests/unit/provision/mrack/test_hw.py
  tmt/steps/provision/mrack.py
Owners: @dav-pascual
