Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

squash:address comments
  tmt.spec
  tmt/utils/__init__.py
Owners: none

Interrupt current test when tmt is interrupted (#3714)
  docs/releases.rst
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/local.py
  tmt/steps/provision/podman.py
  tmt/utils/__init__.py
  tmt/utils/signals.py
Owners: none

Do not run tests against `fedora-rawhide`
  .packit.yaml
Owners: none

Do not run tests against `fedora-rawhide` (#3816)
  .packit.yaml
Owners: none

Sanitize strings in YAML before saving them
  tests/unit/test_results.py
  tmt/utils/__init__.py
Owners: none

Sanitize strings in YAML before saving them (#3815)
  tests/unit/test_results.py
  tmt/utils/__init__.py
Owners: none

Tweaks of reboot-related logging
  tests/execute/nonroot/test.sh
  tmt/steps/provision/__init__.py
  tmt/steps/provision/artemis.py
  tmt/steps/provision/testcloud.py
Owners: @happz, @lbrabec

Tweaks of reboot-related logging
  tests/execute/nonroot/test.sh
  tmt/steps/provision/__init__.py
  tmt/steps/provision/artemis.py
  tmt/steps/provision/testcloud.py
Owners: @happz, @lbrabec

Enable preview lint checks of ruff
  pyproject.toml
  tmt/options.py
  tmt/steps/provision/mrack.py
  tmt/steps/report/junit.py
  tmt/steps/report/reportportal.py
Owners: @dav-pascual, @4N0body5

squash: drop S320 comment, the rule is deprecated
  tmt/steps/report/junit.py
Owners: none

Enable preview lint checks of `ruff` (#3544)
  pyproject.toml
  tmt/options.py
  tmt/steps/provision/mrack.py
  tmt/steps/report/junit.py
  tmt/steps/report/reportportal.py
Owners: @dav-pascual, @4N0body5

squash: more callsites
  tmt/utils/__init__.py
  tmt/utils/signals.py
Owners: none

Add a helper for showing exceptions as warnings
  tmt/steps/provision/mrack.py
  tmt/steps/provision/testcloud.py
  tmt/utils/__init__.py
Owners: @dav-pascual, @lbrabec

squash: address comments
  tmt/steps/__init__.py
  tmt/utils/__init__.py
Owners: none

squash: Update tmt/steps/provision/mrack.py
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

Add a helper for showing exceptions as warnings (#3752)
  tmt/steps/__init__.py
  tmt/steps/provision/mrack.py
  tmt/steps/provision/testcloud.py
  tmt/utils/__init__.py
  tmt/utils/signals.py
Owners: @dav-pascual, @lbrabec

Document the `discover` step key `test`
  tmt/steps/discover/fmf.py
Owners: none

Explicitly use regexp in both examples
  tmt/steps/discover/fmf.py
Owners: none

Include command line examples as well
  tmt/steps/discover/fmf.py
Owners: none

Use quotes, mention the `Regular Expressions` section
  tmt/steps/discover/fmf.py
Owners: none

Add note on multiline strings to contribution guide
  docs/contribute.rst
Owners: none

squash: fix formatting
  docs/contribute.rst
Owners: none

Document the `discover` step key `test` (#3817)
  tmt/steps/discover/fmf.py
Owners: none

Add ReST linter for Sphinx source documents
  .github/workflows/doc-tests.yml
  docs/scripts/generate-hardware-matrix.py
  docs/scripts/generate-lint-checks.py
  docs/scripts/generate-plugins.py
  docs/scripts/generate-template-extensions.py
  docs/scripts/generate-test-runner-guest-matrix.py
  docs/templates/story.rst.j2
  pyproject.toml
  tmt/utils/templates.py
Owners: none

Use shell scripts proper for shell constructs in guest fact probes
  tmt/steps/provision/__init__.py
Owners: none

Add ReST linter for Sphinx source documents (#3788)
  .github/workflows/doc-tests.yml
  docs/scripts/generate-hardware-matrix.py
  docs/scripts/generate-lint-checks.py
  docs/scripts/generate-plugins.py
  docs/scripts/generate-template-extensions.py
  docs/scripts/generate-test-runner-guest-matrix.py
  docs/templates/story.rst.j2
  pyproject.toml
  tmt/utils/templates.py
Owners: none

squash: fix tests
  .packit.yaml
  tests/policy/policies/test/check.yaml
  tests/policy/policies/test/contact.yaml
  tests/policy/policies/test/duration.yaml
  tests/policy/policies/test/environment.yaml
  tests/policy/policies/test/invalid.yaml
  tests/policy/policies/test/test.yaml
Owners: none

Enable yamllint for many more YAML files we have
  .hadolint.yaml
  .packit.yaml
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  .readthedocs.yaml
  tmt/config/themes/default.yaml
  tmt/steps/provision/mrack/mrack-provisioning-config.yaml
Owners: @dav-pascual

squash: enforce 2-spaces indentation
  .yamllint
  tmt/steps/provision/mrack/mrack-provisioning-config.yaml
Owners: @dav-pascual

Enable yamllint for many more YAML files we have (#3776)
  .hadolint.yaml
  .packit.yaml
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  .readthedocs.yaml
  .yamllint
  tests/policy/policies/test/check.yaml
  tests/policy/policies/test/contact.yaml
  tests/policy/policies/test/duration.yaml
  tests/policy/policies/test/environment.yaml
  tests/policy/policies/test/invalid.yaml
  tests/policy/policies/test/test.yaml
  tmt/config/themes/default.yaml
  tmt/steps/provision/mrack/mrack-provisioning-config.yaml
Owners: @dav-pascual

Policy filenames, names, root and envvars
  docs/overview.rst
  docs/releases.rst
  spec/policy.fmf
  tests/policy/test.sh
  tmt/cli/_root.py
  tmt/options.py
  tmt/policy.py
Owners: none

squash: Update docs/overview.rst
  docs/overview.rst
Owners: none

squash: address coderabbit comments
  tests/policy/test.sh
  tmt/cli/_root.py
  tmt/policy.py
Owners: none

squash: address comments
  docs/overview.rst
  spec/policy.fmf
  tests/policy/test.sh
  tmt/options.py
Owners: none

squash: address graphite comments
  tmt/cli/_root.py
  tmt/options.py
  tmt/policy.py
Owners: none

squash: fix man page links
  docs/overview.rst
Owners: none

squash: address inconsistency in options
  tmt/cli/_root.py
  tmt/options.py
Owners: none

Policy filenames, names, root and envvars (#3822)
  docs/overview.rst
  docs/releases.rst
  spec/policy.fmf
  tests/policy/test.sh
  tmt/cli/_root.py
  tmt/options.py
  tmt/policy.py
Owners: none

Allow configuring inheritance of context and environment for remote plans
  docs/releases.rst
  spec/plans/import.fmf
  tmt/base.py
  tmt/schemas/plan.yaml
Owners: none

squash: fix environment
  tmt/base.py
Owners: none

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi
