Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi

squash: more document
  docs/environment.rst
Owners: none

squash: simplify
  tmt/utils/environment.py
Owners: none

squash: current state finalization
  docs/environment.rst
Owners: none

squash: drop todo, but for real
  docs/conf.py
Owners: none

squash: mention user
  docs/environment.rst
Owners: none

squash: cleanup
  docs/environment.rst
Owners: none

squash: Update docs/environment.rst
  docs/environment.rst
Owners: none

Pick words only when searching for Jira issues (#4885)
  scripts/sprint-sync
Owners: none

squash: silence polarion
  tmt/steps/report/polarion.py
Owners: @KwisatzHaderach

Pass configured repository name to download providers and clean up help text
  tmt/steps/prepare/artifact/__init__.py
  tmt/steps/prepare/artifact/providers/__init__.py
  tmt/steps/prepare/artifact/providers/copr_build.py
  tmt/steps/prepare/artifact/providers/file.py
  tmt/steps/prepare/artifact/providers/koji.py
Owners: none

Allow configuring the shared artifact repository name (#5073)
  tmt/schemas/prepare/artifact.yaml
  tmt/steps/prepare/artifact/__init__.py
Owners: none

Revert SHARED_REPO_NAME to avoid string duplication
  tmt/steps/prepare/artifact/__init__.py
  tmt/steps/prepare/artifact/providers/__init__.py
Owners: none

fix unit tests for repo_id default removal
  tests/unit/artifact/test_base.py
Owners: none

drop default value of repo_id
  tmt/steps/prepare/artifact/providers/__init__.py
Owners: none

Add test coverage for repository-name option in artifact basic test
  tests/prepare/artifact/basic/plan.fmf
Owners: none

refactor help text
  tmt/steps/prepare/artifact/__init__.py
Owners: none

Add release note for configurable artifact repository name
  docs/releases/pending/5073.fmf
Owners: none

Add log assertion for custom artifact repository name
  tests/prepare/artifact/basic.sh
Owners: none

Add `riscv64` arch support for `testcloud` provision
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

Fix review feedback: envvars, logger, contact, and refactor exporter
  docs/releases/pending/5132.fmf
  stories/cli/test.fmf
  tests/unit/test_export_jira.py
  tmt/cli/_root.py
  tmt/export/jira.py
  tmt/utils/__init__.py
  tmt/utils/jira.py
Owners: none

Use a more composable cli options fixture
  tests/__init__.py
  tests/conftest.py
Owners: none

Add a run_id fixture
  tests/conftest.py
Owners: none

Allow configuring the shared artifact repository name (#5135)
  docs/releases/pending/5073.fmf
  tests/prepare/artifact/basic.sh
  tests/prepare/artifact/basic/plan.fmf
  tests/unit/artifact/test_base.py
  tmt/schemas/prepare/artifact.yaml
  tmt/steps/prepare/artifact/__init__.py
  tmt/steps/prepare/artifact/providers/__init__.py
  tmt/steps/prepare/artifact/providers/copr_build.py
  tmt/steps/prepare/artifact/providers/file.py
  tmt/steps/prepare/artifact/providers/koji.py
Owners: none

squash: address tests
  pyproject.toml
  tests/core/environment-file/data/environment_file_data.py
  tests/unit/test_base.py
  tests/unit/test_utils.py
Owners: none

Bootstrap secrets
  tmt/base/plan.py
  tmt/base/run.py
  tmt/frameworks/beakerlib.py
  tmt/guest/__init__.py
  tmt/libraries/beakerlib.py
  tmt/options.py
  tmt/steps/__init__.py
  tmt/steps/context/pidfile.py
  tmt/steps/context/reboot.py
  tmt/steps/context/restart.py
  tmt/steps/context/restraint.py
  tmt/steps/discover/__init__.py
  tmt/steps/execute/__init__.py
  tmt/steps/execute/upgrade.py
  tmt/steps/prepare/shell.py
  tmt/steps/provision/podman.py
  tmt/utils/__init__.py
  tmt/utils/environment.py
  tmt/utils/secret.py
Owners: none

Update requires, `riscv` support will be in 0.12.0
  packaging/rpm/tmt.spec
  pyproject.toml
Owners: none

Extend duration limit of /tests/prepare/artifact/install-cases
  tests/prepare/artifact/install-cases/main.fmf
Owners: none

Add uv-lock-report action
  .github/workflows/lock-report.yml
Owners: none

[DEBUG] force run action on older commit
  .github/workflows/lock-report.yml
Owners: none

Extend duration limit of /tests/prepare/artifact/install-cases (#5159)
  tests/prepare/artifact/install-cases/main.fmf
Owners: none

opts -> options
  tests/__init__.py
  tests/conftest.py
Owners: none

Fix missing ObjDescT type in sphinx
  docs/ext/tmt_domain/base.py
Owners: none

sphinx.ext.autodoc.typehints is built-in now
  docs/conf.py
Owners: none

Skip incorrect warning in sphinx 9.x
  docs/conf.py
Owners: none

Adding mailmap file for git to normalize author names and e-mails
  .github/PULL_REQUEST_TEMPLATE/release.md
  .mailmap
  .pre-commit-config.yaml
Owners: none

add --use-local-image flag to skip image download in testcloud provisioner
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

add image URL caching support for testcloud provisioner
  pyproject.toml
  tmt/steps/provision/testcloud.py
  uv.lock
Owners: @lbrabec

remove duplicate default text from help
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

remove stray blank line
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

update cli flag names & help text
  tmt/steps/provision/testcloud.py
Owners: @lbrabec
