Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi

Another possible way would be to use selinux policy
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

squash: Update tmt/steps/provision/testcloud.py
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

Add shellcheck-py hook to pre-commit and sync with workflow
  .github/workflows/shellcheck.yml
  .pre-commit-config.yaml
  tmt/steps/execute/scripts/tmt-reboot
Owners: none

Switch to hadolint-py
  .pre-commit-config.yaml
  Makefile
Owners: none

squash: replace vs replace-importing
  spec/plans/import.fmf
  tests/core/fmf-id/data/remote-plan-with-valid-ref.fmf
  tmt/base.py
  tmt/schemas/plan.yaml
Owners: none

squash: Update tmt/base.py
  tmt/base.py
Owners: none

squash: testing
  tests/plan/import/plan-of-plans.sh
  tmt/base.py
Owners: none

squash: fixing tests
  tests/core/fmf-id/data/remote-plan-with-invalid-ref.fmf
  tests/core/fmf-id/data/remote-plan-with-valid-ref.fmf
  tests/plan/import/invalid-data/bad-url.fmf
  tmt/base.py
  tmt/schemas/plan.yaml
Owners: none

squash: replace vs replace-importing
  spec/plans/import.fmf
  tests/core/fmf-id/data/remote-plan-with-valid-ref.fmf
  tmt/base.py
  tmt/schemas/plan.yaml
Owners: none

A plan of plans
  spec/plans/import.fmf
  tests/plan/import/data-plan-of-plans/.fmf/version
  tests/plan/import/data-plan-of-plans/plans.fmf
  tests/plan/import/data/plans.fmf
  tests/plan/import/plan-of-plans.sh
  tmt/base.py
  tmt/schemas/plan.yaml
  tmt/steps/discover/__init__.py
Owners: none

squash: first-plan-only
  spec/plans/import.fmf
  tests/plan/import/data-plan-of-plans/plans.fmf
  tmt/base.py
  tmt/schemas/plan.yaml
Owners: none

squash: Update spec/plans/import.fmf
  spec/plans/import.fmf
Owners: none

squash: Update spec/plans/import.fmf
  spec/plans/import.fmf
Owners: none

squash: rename limit to scope
  spec/plans/import.fmf
  tests/plan/import/data-plan-of-plans/plans.fmf
  tmt/base.py
  tmt/schemas/plan.yaml
Owners: none

squash: fix test data
  tests/core/fmf-id/data/remote-plan-with-valid-ref.fmf
Owners: none

squash: fix name
  tmt/base.py
Owners: none

squash: an actual test
  tests/plan/import/data-plan-of-plans/plans.fmf
  tests/plan/import/plan-of-plans.sh
  tmt/base.py
Owners: none

squash: add docstrings
  tmt/base.py
Owners: none

Logger's print() no longer shifts the output
  tmt/log.py
  tmt/steps/provision/mrack.py
  tmt/utils/__init__.py
Owners: @dav-pascual

Drop click.echo in tmt.cli
  tmt/cli/_root.py
  tmt/cli/lint.py
  tmt/log.py
Owners: none

Switch to hadolint-py and add shellcheck-py (#3604)
  .github/workflows/shellcheck.yml
  .pre-commit-config.yaml
  Makefile
  tmt/steps/execute/scripts/tmt-reboot
Owners: none

Interrupt current test when tmt is interrupted
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/local.py
  tmt/steps/provision/podman.py
  tmt/utils/__init__.py
  tmt/utils/signals.py
Owners: none

crb prepare feature
  tmt/schemas/prepare/feature.yaml
  tmt/steps/prepare/feature/crb.py
Owners: none

crb feature tests
  tests/prepare/feature/crb/data/plans.fmf
  tests/prepare/feature/crb/main.fmf
  tests/prepare/feature/crb/test.sh
Owners: none

fixup! crb feature tests
  tests/prepare/feature/crb/data/.fmf/version
Owners: none

fixup! crb feature tests
  tests/prepare/feature/crb/data/plans.fmf
Owners: none

Add FORCE_DNF to epel prepare feature
  tmt/steps/prepare/feature/epel-enable.yaml
Owners: none

Copy files with same destination in single rsync
  tmt/steps/execute/__init__.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/local.py
  tmt/steps/provision/podman.py
Owners: none

fixup! Add FORCE_DNF to epel prepare feature
  tmt/steps/prepare/feature/epel-enable.yaml
Owners: none

Handle rsync trainling slash
  tmt/steps/provision/__init__.py
Owners: none

Some more refactoring..
  tmt/steps/execute/__init__.py
  tmt/steps/provision/local.py
  tmt/steps/provision/podman.py
Owners: none

squash! Test Stack Overflow link exclusion
  .github/workflows/doc-tests.yml
  docs/conf.py
Owners: none

Test Stack Overflow link exclusion
  .github/workflows/doc-tests.yml
Owners: none

Add perflint; Resolve PERF401, PERF403
  pyproject.toml
  tests/unit/provision/testcloud/test_hw.py
  tests/unit/test_config.py
  tests/unit/test_utils.py
  tmt/convert.py
  tmt/frameworks/beakerlib.py
  tmt/result.py
  tmt/steps/discover/__init__.py
  tmt/steps/execute/__init__.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/mrack.py
  tmt/steps/report/reportportal.py
  tmt/utils/git.py
Owners: @dav-pascual, @4N0body5

Add badges to README
  README.rst
Owners: none

Update README.rst
  README.rst
Owners: none

squash: actually remove the ruff and pre-commit badges
  README.rst
Owners: none

Bump dependency versions to latest c9s rpms
  .pre-commit-config.yaml
  pyproject.toml
Owners: none

fixup! Add badges to README
  README.rst
Owners: none

fixup! Add badges to README
  README.rst
Owners: none
