Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

Support the use of `tmt-reboot` in `shell` plugins
  tests/prepare/shell/data/reboot.fmf
  tests/prepare/shell/test.sh
  tmt/steps/prepare/shell.py
Owners: none

squash: release note
  docs/releases/pending/4351.fmf
Owners: none

squash: mention finish
  docs/releases/pending/4351.fmf
Owners: none

squash: Update tmt/steps/prepare/shell.py
  tmt/steps/prepare/shell.py
Owners: none

squash: true index
  tmt/steps/prepare/shell.py
Owners: none

squash: fix test
  tests/prepare/shell/data/reboot.fmf
Owners: none

squash: more fixes
  tmt/steps/provision/local.py
Owners: none

Enforce test duration across reboots and restarts
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
Owners: none

Use formatted stopwatch attributes instead of calling `format_*` helpers
  tmt/steps/execute/__init__.py
  tmt/utils/__init__.py
Owners: none

Fix typos and missing rendering of guest facts
  tmt/steps/provision/__init__.py
Owners: none

Implement the logic for the PrepareArtifact step (#4373)
  tests/prepare/artifact/data/post_artifact_check.sh
  tests/prepare/artifact/data/pre_artifact_check.sh
  tests/prepare/artifact/data/test_require.sh
  tests/prepare/artifact/test.sh
  tests/unit/artifact/test_base.py
  tests/unit/artifact/test_repository.py
  tmt/steps/prepare/artifact/__init__.py
  tmt/steps/prepare/artifact/providers/__init__.py
  tmt/steps/prepare/artifact/providers/copr_build.py
  tmt/steps/prepare/artifact/providers/file.py
  tmt/steps/prepare/artifact/providers/koji.py
  tmt/steps/prepare/artifact/providers/repository.py
Owners: none

Bump renku-sphinx-theme also
  pyproject.toml
Owners: none

Use uv in RTD
  .readthedocs.yaml
Owners: none

Relax locked dependencies
  pyproject.toml
Owners: none

Use --frozen instead of --locked
  .github/workflows/doc-tests.yml
  .readthedocs.yaml
Owners: none

Add what uv pre-commits we can
  .pre-commit-config.yaml
Owners: none

Generate lock file
  pylock.toml
  uv.lock
Owners: none

Move github actions to use uv dependencies
  .github/workflows/doc-tests.yml
Owners: none

Copy-paste error
  .github/workflows/doc-tests.yml
Owners: none

squash: Update tmt/steps/provision/__init__.py
  tmt/steps/provision/__init__.py
Owners: none

Re-run uv lock after rebase
  pylock.toml
  uv.lock
Owners: none

Fix how plan/guest `ansible` key is displayed
  tmt/base.py
  tmt/steps/provision/__init__.py
Owners: none

squash: fix assert
  tmt/base.py
Owners: none

Refactor how `tmt run` collects its environment
  tmt/base.py
Owners: none

squash: address comments
  tmt/base.py
Owners: none

Add `uv.lock`/`pylock.toml` files (#4368)
  .github/workflows/doc-tests.yml
  .pre-commit-config.yaml
  .readthedocs.yaml
  pylock.toml
  pyproject.toml
  uv.lock
Owners: none

squash: fix formatting
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

squash: address comments
  tmt/steps/provision/__init__.py
  tmt/steps/provision/artemis.py
  tmt/steps/provision/mrack.py
  tmt/steps/provision/testcloud.py
Owners: @happz, @dav-pascual, @lbrabec

Improve guest log collection
  tmt/steps/cleanup/internal.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/artemis.py
  tmt/steps/provision/mrack.py
  tmt/steps/provision/testcloud.py
  tmt/utils/__init__.py
Owners: @happz, @dav-pascual, @lbrabec

squash: more addressing
  tmt/steps/provision/artemis.py
  tmt/steps/provision/mrack.py
Owners: @happz, @dav-pascual

squash: use copyfile
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

squash: Update tmt/steps/provision/mrack.py
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

squash: address comments
  tmt/steps/provision/mrack.py
  tmt/steps/provision/testcloud.py
Owners: @dav-pascual, @lbrabec

validate bootc status JSON
  docs/releases/pending/4411.fmf
  tmt/package_managers/bootc.py
Owners: none

Improve guest log collection (#4104)
  tmt/steps/cleanup/internal.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/artemis.py
  tmt/steps/provision/mrack.py
  tmt/steps/provision/testcloud.py
  tmt/utils/__init__.py
Owners: @happz, @dav-pascual, @lbrabec

Add adjusting tmt try test
  tests/try/basic/config/user.fmf
  tests/try/basic/data/adjusted.exp
  tests/try/basic/test.sh
Owners: none

Release note for PR#4388
  docs/releases/pending/4388.fmf
Owners: none

Adjust user plans before merging them to the main tree
  tmt/trying.py
Owners: @falconizmi

[TEMP] Debug rawhide selinux issue
  .packit.yaml
Owners: none

Apply context adjust on the `tmt try` user plans as well (#4388)
  docs/releases/pending/4388.fmf
  tests/try/basic/config/user.fmf
  tests/try/basic/data/adjusted.exp
  tests/try/basic/test.sh
  tmt/trying.py
Owners: @falconizmi

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi
