Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

Correctly detect whether SELinux is enabled on the guest (#4360)
  docs/releases/pending/4360.fmf
  tests/provision/facts/test-guest.sh
  tmt/steps/provision/__init__.py
Owners: none

chore: remove redundant import
  tmt/container/__init__.py
Owners: none

possible fix for failing tests
  tmt/steps/scripts/tmt-reboot-core
Owners: none

jq is much cleaner, did not realise we already use it
  tmt/steps/scripts/tmt-reboot-core
Owners: none

Added release note
  docs/releases/pending/4356.fmf
Owners: none

Address comments...
  tmt/container/__init__.py
  tmt/steps/context/reboot.py
Owners: none

revert: to bash
  tmt/steps/scripts/tmt-reboot-core
Owners: none

Address comments...
  tmt/steps/context/reboot.py
Owners: none

Add validation for reboot configuration data
  tmt/steps/context/reboot.py
Owners: none

chore: TODOs removed
  tmt/steps/context/reboot.py
Owners: none

Fixup make docs
  Makefile
Owners: none

Add checks for create repository part
  tests/prepare/artifact/data/post_artifact_check.sh
  tests/prepare/artifact/data/pre_artifact_check.sh
  tests/prepare/artifact/data/test_require.sh
Owners: none

revert: unintentional removal
  tests/lint/test/test.sh
Owners: none

fix logic
  tests/lint/test/data/manual_test_failed/test.md
  tests/lint/test/test.sh
  tmt/export/__init__.py
Owners: none

revert: tests are back !
  tests/lint/test/test.sh
  tmt/export/__init__.py
Owners: none

Add Pydantic v1 shim: implement model_validate_json fallbackc
  tmt/_compat/pydantic.py
Owners: none

Add Pydantic validation for reboot configuration (#4356)
  docs/releases/pending/4356.fmf
  tmt/_compat/pydantic.py
  tmt/container/__init__.py
  tmt/steps/context/reboot.py
  tmt/steps/scripts/tmt-reboot-core
Owners: none

revert: tests are back !
  tests/lint/test/test.sh
  tmt/export/__init__.py
Owners: none

revert: unintentional removal
  tests/lint/test/test.sh
Owners: none

fix logic
  tests/lint/test/data/manual_test_failed/test.md
  tests/lint/test/test.sh
  tmt/export/__init__.py
Owners: none

Fix race condition in podman network creation
  tmt/steps/provision/podman.py
Owners: none

Move provision tests to run on Fedora-latest
  .packit.yaml
Owners: none

Add `_compat.importlib`
  .pre-commit-config.yaml
  pyproject.toml
  tmt/_compat/importlib/__init__.py
  tmt/_compat/importlib/metadata.py
  tmt/_compat/importlib/readers.py
  tmt/_compat/importlib/resources.py
  tmt/plugins/__init__.py
  tmt/utils/__init__.py
Owners: none

Expand example to include schemas
  examples/plugins/example/__init__.py
  examples/plugins/example/discover.py
  examples/plugins/example/provision.py
  examples/plugins/example/schemas/discover/example.yaml
  examples/plugins/example/schemas/provision/example.yaml
  examples/plugins/pyproject.toml
  tests/plugins/data/.fmf/version
  tests/plugins/data/main.fmf
  tests/plugins/test.sh
Owners: none

Enforce logger in `resource_files`
  tmt/cli/about.py
  tmt/config/__init__.py
  tmt/config/models/themes.py
  tmt/export/__init__.py
  tmt/export/template.py
  tmt/steps/prepare/feature/__init__.py
  tmt/steps/report/html.py
  tmt/steps/report/junit.py
  tmt/steps/scripts.py
  tmt/templates/__init__.py
  tmt/utils/__init__.py
Owners: none

Make sure `MultiplexedPath` is compatible with tmt Paths
  tmt/_compat/importlib/readers.py
Owners: none

Extend resource_files for entry-points
  tmt/utils/__init__.py
Owners: none

Adapt to the new `resource_files`
  tmt/cli/about.py
  tmt/config/models/themes.py
  tmt/export/template.py
  tmt/steps/prepare/feature/__init__.py
  tmt/steps/report/html.py
  tmt/steps/report/junit.py
  tmt/steps/scripts.py
  tmt/templates/__init__.py
  tmt/utils/__init__.py
Owners: none

Drop the future.annotations
  tmt/_compat/importlib/metadata.py
  tmt/_compat/importlib/readers.py
  tmt/_compat/importlib/resources.py
Owners: none

Fix pyright complaint
  tmt/templates/__init__.py
Owners: none

Document new feature
  docs/code/plugin-introduction.rst
  docs/releases/pending/2946.fmf
Owners: none

Document `assert_file` parameter
  tmt/utils/__init__.py
Owners: none

Reorder autodocs so that it is run last
  .gitignore
  docs/code/index.rst
  docs/ext/sphinx_apidoc.py
Owners: none

Update versionadded reference
  docs/code/plugin-introduction.rst
Owners: none

Add a compatibility redirect
  docs/conf.py
Owners: none

Remove job_owner and HW requirements walkaround (#3948)
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

Add support for exporting extra- keys in plan export
  tests/plan/export/data/plan.fmf
  tests/plan/export/test.sh
  tmt/base.py
Owners: none

Improve guest log collection
  tmt/steps/cleanup/internal.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/artemis.py
  tmt/steps/provision/mrack.py
  tmt/steps/provision/testcloud.py
  tmt/utils/__init__.py
Owners: @happz, @dav-pascual, @lbrabec

Extend tmt-report-result with a bit of logging
  tmt/steps/scripts/tmt-report-result
Owners: none

Add additional converter methods to FmfContext, StepData and Discover/shell
  tmt/steps/__init__.py
  tmt/steps/discover/shell.py
  tmt/utils/__init__.py
Owners: none

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi
