Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

squash: add tests
  tests/plan/import/inheritance.sh
  tests/plan/import/inheritance/.fmf/version
  tests/plan/import/inheritance/main.fmf
  tests/plan/import/main.fmf
Owners: none

squash: rename variables
  tmt/base.py
Owners: none

squash: edit specification
  spec/plans/import.fmf
Owners: none

squash: add forgotten command line variables, improve specification
  spec/plans/import.fmf
  tmt/base.py
Owners: none

Make context and environment inheritance for remote plans configurable (#3819)
  docs/releases.rst
  spec/plans/import.fmf
  tests/plan/import/inheritance.sh
  tests/plan/import/inheritance/.fmf/version
  tests/plan/import/inheritance/main.fmf
  tests/plan/import/main.fmf
  tmt/base.py
  tmt/schemas/plan.yaml
Owners: none

Make context and environment inheritance for remote plans configurable (#3819)
  docs/releases.rst
  spec/plans/import.fmf
  tests/plan/import/inheritance.sh
  tests/plan/import/inheritance/.fmf/version
  tests/plan/import/inheritance/main.fmf
  tests/plan/import/main.fmf
  tmt/base.py
  tmt/schemas/plan.yaml
Owners: none

Add warn if not correct distro
  tmt/steps/prepare/feature/epel.py
Owners: none

Add implicit return
  tmt/steps/prepare/feature/epel.py
Owners: none

Dmesg and AVC check add note explaining `skip` outcome
  tests/test/check/test-dmesg.sh
  tmt/checks/__init__.py
  tmt/checks/avc.py
  tmt/checks/dmesg.py
  tmt/utils/hints.py
Owners: none

Replace egrep with grep -E
  tests/multihost/complete/data/plans.fmf
  tests/multihost/complete/data/tests/test.sh
  tests/plan/show/test.sh
Owners: none

Run plans in parallel
  tmt/base.py
  tmt/queue.py
  tmt/steps/__init__.py
  tmt/steps/provision/__init__.py
Owners: none

Require typing-extensions>=4
  pyproject.toml
Owners: none

Update scripts/README.md
  scripts/README.md
Owners: none

Refactoring task queue, part 1
  tmt/queue.py
  tmt/steps/__init__.py
  tmt/steps/execute/__init__.py
  tmt/steps/finish/__init__.py
  tmt/steps/prepare/__init__.py
  tmt/steps/provision/__init__.py
Owners: none

Mention gitlab auth options, upstream doc links
  docs/overview.rst
Owners: none

Clear up cloning private repositories in GitLab
  docs/overview.rst
Owners: none

Update docs/overview.rst
  docs/overview.rst
Owners: none

fix typo
  docs/overview.rst
Owners: none

Update docs/overview.rst
  docs/overview.rst
Owners: none

Epel is not supported on fedora, test it on centos
  tests/try/basic/data/epel.exp
Owners: none

Check rhel/centos 8+
  tmt/steps/prepare/feature/epel.py
Owners: none

Emit a more specific warning when a hardware constraint is not supported.
  tests/unit/test_hardware.py
  tmt/hardware.py
Owners: none

Warn and prevent EPEL enablement on unsupported distro (#3717)
  tests/try/basic/data/epel.exp
  tmt/steps/prepare/feature/epel.py
Owners: none

squash:address comments
  tmt.spec
  tmt/utils/__init__.py
Owners: none

Add test for changing workdirroot with virtual plugin
  tests/execute/workdirroot/data/.fmf/version
  tests/execute/workdirroot/data/main.fmf
  tests/execute/workdirroot/main.fmf
  tests/execute/workdirroot/test.sh
  tmt/utils/__init__.py
Owners: none

squash: stat
  tmt.spec
  tmt/utils/__init__.py
Owners: none

Give parse_hw() the string literal
  tests/unit/test_hardware.py
Owners: none

Drop static mapping of Beaker hardware transformes
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

Add support for Ansible inventory file
  tmt/schemas/ansible.yaml
  tmt/schemas/common.yaml
  tmt/schemas/provision/artemis.yaml
  tmt/schemas/provision/beaker.yaml
  tmt/schemas/provision/bootc.yaml
  tmt/schemas/provision/connect.yaml
  tmt/schemas/provision/minute.yaml
  tmt/schemas/provision/virtual.yaml
  tmt/steps/provision/__init__.py
Owners: none

Do not attempt to install rsync when push/pull fails
  tmt/steps/provision/__init__.py
  tmt/utils/__init__.py
Owners: none

squash: address comments
  tmt/steps/provision/__init__.py
Owners: none

squash: fix tests
  tests/provision/facts/test-guest.sh
Owners: none

Move tmt scripts out of the execute step
  tmt/frameworks/beakerlib.py
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/local.py
  tmt/steps/scripts.py
  tmt/steps/scripts/tmt-abort
  tmt/steps/scripts/tmt-file-submit
  tmt/steps/scripts/tmt-reboot
  tmt/steps/scripts/tmt-reboot-core
  tmt/steps/scripts/tmt-report-result
  tmt/steps/scripts/tmt.sh.j2
Owners: none

Mention the public tmt web service instance
  docs/guide.rst
  docs/releases.rst
Owners: none

Removed url checks from fmf.py
  tmt/steps/discover/__init__.py
  tmt/steps/discover/fmf.py
Owners: none

Use difflib for nicer display of changes by adjust and policies
  tmt/base.py
  tmt/policy.py
  tmt/utils/templates.py
Owners: none

Move tmt scripts out of the execute step (#3832)
  tests/provision/facts/test-guest.sh
  tmt/frameworks/beakerlib.py
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/local.py
  tmt/steps/scripts.py
  tmt/steps/scripts/tmt-abort
  tmt/steps/scripts/tmt-file-submit
  tmt/steps/scripts/tmt-reboot
  tmt/steps/scripts/tmt-reboot-core
  tmt/steps/scripts/tmt-report-result
  tmt/steps/scripts/tmt.sh.j2
Owners: none

Allow log selection for `reportportal` plugin
  docs/releases.rst
  tmt/schemas/report/reportportal.yaml
  tmt/steps/report/reportportal.py
Owners: @4N0body5

squash: change strings to patterns
  docs/releases.rst
  tmt/schemas/report/reportportal.yaml
  tmt/steps/report/reportportal.py
Owners: @4N0body5

Use `self.data` instead of `self.opt()` in `fmf` discover
  tmt/steps/discover/fmf.py
Owners: none

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi
