Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

Do GIT_ASKPASS at all git clone
  tmt/libraries/beakerlib.py
  tmt/steps/discover/__init__.py
  tmt/utils/git.py
Owners: none

Drop allowing to pass `environment` to `git_clone`
  tmt/utils/git.py
Owners: none

Declare minimum python version to 3.12
  .github/renovate.json
  .github/workflows/step-pre-commit.yml
  .pre-commit-config.yaml
  Makefile
  agents/AGENTS.md
  docs/contribute.rst
  pyproject.toml
Owners: none

Cleanup dependencies
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Owners: none

squash: older python
  tests/unit/test_queue.py
Owners: none

Fix recipes not working with dist-git
  spec/recipe.fmf
  tests/recipe/data/distgit.yaml
  tests/recipe/data/plans.fmf
  tests/recipe/generate.sh
  tests/recipe/load.sh
  tmt/steps/discover/__init__.py
  tmt/steps/discover/fmf.py
  tmt/steps/discover/shell.py
Owners: none

squash: add plugin property
  tmt/steps/discover/__init__.py
Owners: none

Consider `@` as part of word in Jira search
  scripts/sprint-sync
Owners: none

Cleanup _compat
  pyproject.toml
  tmt/_compat/importlib/__init__.py
  tmt/_compat/importlib/metadata.py
  tmt/_compat/importlib/readers.py
  tmt/_compat/importlib/resources.py
  tmt/_compat/pydantic.py
  tmt/_compat/typing.py
  tmt/base/core.py
  tmt/base/links.py
  tmt/cli/__init__.py
  tmt/config/models/themes.py
  tmt/container/__init__.py
  tmt/export/__init__.py
  tmt/guest/__init__.py
  tmt/hardware/constraints.py
  tmt/log.py
  tmt/package_managers/__init__.py
  tmt/package_managers/_rpm.py
  tmt/plugins/__init__.py
  tmt/queue.py
  tmt/steps/__init__.py
  tmt/steps/discover/fmf.py
  tmt/steps/discover/shell.py
  tmt/steps/prepare/artifact/providers/__init__.py
  tmt/steps/prepare/artifact/providers/copr_repository.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/mock.py
  tmt/steps/report/junit.py
  tmt/steps/report/reportportal.py
  tmt/utils/__init__.py
  tmt/utils/environment.py
  tmt/utils/filesystem.py
  tmt/utils/signals.py
  tmt/utils/wait.py
Owners: @4N0body5

Let's try the new pipeline everywhere!
  .packit.yaml
Owners: none

Enable the multihost pipeline for internal jobs
  .packit.yaml
Owners: none

squash: remove `_distgit_extract_tests_later`
  tmt/steps/discover/__init__.py
  tmt/steps/discover/fmf.py
Owners: none

B905 zip-without-explicit-strict
  tests/unit/test_report_junit.py
  tmt/package_managers/apk.py
  tmt/package_managers/rpm_ostree.py
  tmt/utils/structured_field.py
Owners: none

UP017 datetime-timezone-utc
  tmt/checks/watchdog.py
  tmt/steps/provision/mrack.py
  tmt/steps/report/polarion.py
  tmt/steps/report/reportportal.py
  tmt/utils/__init__.py
  tmt/utils/wait.py
Owners: @dav-pascual, @KwisatzHaderach, @4N0body5

Ignore the rest codes for now
  pyproject.toml
Owners: none

ISC004 implicit-string-concatenation-in-collection-literal
  tests/unit/test_logging.py
  tmt/base/plan.py
  tmt/checks/internal/invocation.py
  tmt/checks/watchdog.py
Owners: none

Cleanup some typing updates
  tests/__init__.py
  tmt/base/core.py
  tmt/cli/__init__.py
  tmt/hardware/constraints.py
  tmt/options.py
  tmt/steps/provision/testcloud.py
  tmt/templates/__init__.py
Owners: @lbrabec

UP042 replace-str-enum
  tmt/config/models/link.py
  tmt/package_managers/__init__.py
Owners: none

RUF063 access-annotations-from-class-dict
  tmt/_compat/annotationlib.py
Owners: none

`display` report plugin shall now include `finish` phases (#4907)
  docs/releases/pending/report-display-include-finish.fmf
  tmt/steps/finish/__init__.py
  tmt/steps/report/display.py
Owners: none

squash: renames in tests
  tests/unit/test_package_managers.py
Owners: none

squash: forgot about disable_repo
  tmt/package_managers/__init__.py
  tmt/package_managers/bootc.py
  tmt/steps/prepare/feature/crb.py
  tmt/steps/prepare/feature/epel.py
Owners: none

squash: fix typo
  tests/unit/artifact/test_repository.py
Owners: none

squash: add contribute_to_shared_repo
  tests/unit/artifact/test_base.py
  tests/unit/artifact/test_repository.py
  tmt/steps/prepare/artifact/__init__.py
  tmt/steps/prepare/artifact/providers/__init__.py
Owners: none

Rename enable_repo/disable_repo package manager methods
  tmt/package_managers/__init__.py
  tmt/package_managers/apk.py
  tmt/package_managers/apt.py
  tmt/package_managers/bootc.py
  tmt/package_managers/dnf.py
  tmt/package_managers/mock.py
  tmt/package_managers/rpm_ostree.py
Owners: none

squash: forgot about package managers
  tmt/package_managers/__init__.py
  tmt/package_managers/bootc.py
  tmt/steps/prepare/feature/crb.py
  tmt/steps/prepare/feature/epel.py
Owners: none

Rename enable_repo/disable_repo package manager methods (#4936)
  tests/unit/artifact/test_base.py
  tests/unit/artifact/test_repository.py
  tests/unit/test_package_managers.py
  tmt/package_managers/__init__.py
  tmt/package_managers/apk.py
  tmt/package_managers/apt.py
  tmt/package_managers/bootc.py
  tmt/package_managers/dnf.py
  tmt/package_managers/mock.py
  tmt/package_managers/rpm_ostree.py
  tmt/steps/prepare/artifact/__init__.py
  tmt/steps/prepare/artifact/providers/__init__.py
  tmt/steps/prepare/feature/crb.py
  tmt/steps/prepare/feature/epel.py
Owners: none

Use /usr/bin/env in sprint scripts for better integration
  scripts/sprint-overview
  scripts/sprint-sync
Owners: none

Use `/usr/bin/env` in sprint scripts for better integration (#5185)
  scripts/sprint-overview
  scripts/sprint-sync
Owners: none

Drop the `fusa` integration testing plan
  .packit.yaml
Owners: none

Drop the `fusa` integration testing plan (#5186)
  .packit.yaml
Owners: none

Add release note
  docs/releases/pending/4896.fmf
Owners: none

Filter noisy oneOf schema warnings during tmt lint
  tests/lint/plan/data/missing_required.fmf
  tests/lint/plan/test.sh
  tmt/base/core.py
Owners: none

Filter noisy `oneOf` schema warnings during tmt lint (#4896)
  docs/releases/pending/4896.fmf
  tests/lint/plan/data/missing_required.fmf
  tests/lint/plan/test.sh
  tmt/base/core.py
Owners: none

Revert "Skip ansible on rawhide for a bit"
  tests/finish/ansible/test.sh
  tests/prepare/ansible/test.sh
Owners: none

Declare minimum python version to 3.12
  .github/renovate.json
  .github/workflows/step-pre-commit.yml
  .pre-commit-config.yaml
  Makefile
  agents/AGENTS.md
  docs/contribute.rst
  pyproject.toml
Owners: none

Cleanup dependencies
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Owners: none

Revert ansible test on rawhide skip (#4967)
  tests/finish/ansible/test.sh
  tests/prepare/ansible/test.sh
Owners: none

Move ruamel.yaml.clib dependency to spec file
  packaging/rpm/tmt.spec
  pyproject.toml
  uv.lock
Owners: none

Revert python3.15 skip (#5015)
  plans/sanity/main.fmf
  tests/precommit/main.fmf
  tests/sanity/pip/install.fmf
  tests/unit/main.fmf
Owners: none

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi
