Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi

Fix repository provider to use the new class structure
  tests/unit/artifact/test_repository.py
  tmt/steps/prepare/artifact/providers/repository.py
Owners: none

Fix repository provider to use the new class structure
  tests/unit/artifact/test_repository.py
  tmt/steps/prepare/artifact/providers/repository.py
Owners: none

Rename `--keep` param of tmt.Run to `--skip-prune`
  tests/cleanup/prune/test.sh
  tests/discover/distgit.sh
  tests/discover/keep-git-metadata/test.sh
  tests/discover/libraries/test.sh
  tests/discover/no-git-needed/test.sh
  tmt/cli/_root.py
  tmt/steps/cleanup/__init__.py
Owners: none

Support `system.type` hw requirement for `mrack` (#3079)
  tests/unit/provision/mrack/test_hw.py
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

Re-enable Rawhide tests (#4017)
  .packit.yaml
  tests/provision/container/toolbox/main.fmf
  tests/sanity/pip/install.fmf
  tests/unit/main.fmf
  tests/unit/test_base.py
  tmt/log.py
Owners: none

squash: make logger mandatory
  tmt/steps/discover/fmf.py
  tmt/utils/__init__.py
Owners: none

Fix usage of retry_session
  tmt/base.py
  tmt/steps/discover/fmf.py
  tmt/steps/prepare/ansible.py
  tmt/steps/provision/artemis.py
  tmt/steps/provision/mrack.py
  tmt/steps/provision/testcloud.py
  tmt/steps/report/reportportal.py
  tmt/templates/__init__.py
  tmt/utils/__init__.py
  tmt/utils/git.py
Owners: @happz, @dav-pascual, @lbrabec, @4N0body5

squash: better new()
  tmt/utils/__init__.py
Owners: none

Fix usage of retry_session (#4240)
  tmt/base.py
  tmt/steps/discover/fmf.py
  tmt/steps/prepare/ansible.py
  tmt/steps/provision/artemis.py
  tmt/steps/provision/mrack.py
  tmt/steps/provision/testcloud.py
  tmt/steps/report/reportportal.py
  tmt/templates/__init__.py
  tmt/utils/__init__.py
  tmt/utils/git.py
Owners: @happz, @dav-pascual, @lbrabec, @4N0body5

Update /tests/provision/connect test for the new Fedora 43
  tests/provision/connect/test.sh
Owners: none

Update /tests/provision/connect test for the new Fedora 43 (#4258)
  tests/provision/connect/test.sh
Owners: none

Apply suggestion from @graphite-app[bot]
  tmt/steps/prepare/artifact/providers/__init__.py
Owners: none

design change from code review
  tests/unit/artifact/test_repository.py
  tmt/steps/prepare/artifact/providers/__init__.py
Owners: none

change the class structure
  tests/unit/artifact/test_repository.py
  tmt/steps/prepare/artifact/providers/__init__.py
Owners: none

use root_logger fixture and full variable names
  tests/unit/artifact/test_repository.py
  tmt/steps/prepare/artifact/providers/__init__.py
Owners: none

sanitize file name
  tmt/steps/prepare/artifact/providers/__init__.py
Owners: none

add suggestions from code reveiw
  tests/unit/artifact/test_repository.py
  tmt/steps/prepare/artifact/providers/__init__.py
Owners: none

Add Repository Class with Tests
  tests/unit/artifact/test_repository.py
  tmt/steps/prepare/artifact/providers/__init__.py
Owners: none

Move the downstream files upwards
  .distro/.fmf/version
  .distro/gating.yaml
  .distro/plans/minimal.fmf
  .distro/plans/smoke.fmf
  .distro/plans/upstream.fmf
  .distro/rpminspect.yaml
  .distro/tmt.rpmlintrc
  .distro/tmt.spec
  .packit.yaml
Owners: none

Stop diverging dist-git branches
  .packit.yaml
Owners: none

Add F43 and F44 containers
  Makefile
  containers/fedora/43/Containerfile
  containers/fedora/43/Containerfile.unprivileged
  containers/fedora/43/Containerfile.upstream
  containers/fedora/44
Owners: none

Test downstream tests
  .distro/plans/upstream.fmf
  .packit.yaml
Owners: none

Prepare downstream tests for artifact install
  .distro/plans/minimal.fmf
Owners: none

Cover expanded plan names
  tests/plan/import/plan-of-plans.sh
Owners: none

Implement timeout for mock execute
  tests/execute/duration/main.fmf
  tmt/steps/provision/mock.py
Owners: none

Add `import-before-filter` option
  tests/plan/import/plan-of-plans.sh
  tmt/base.py
  tmt/cli/_root.py
  tmt/options.py
  tmt/utils/__init__.py
Owners: none

Add F43 and F44 containers (#4250)
  Makefile
  containers/fedora/43/Containerfile
  containers/fedora/43/Containerfile.unprivileged
  containers/fedora/43/Containerfile.upstream
  containers/fedora/44
Owners: none

Make SUPPORTED_DISTRO_PATTERNS tuple
  tmt/steps/prepare/feature/crb.py
  tmt/steps/prepare/feature/fips.py
Owners: none

Improve creation of "report files"
  tmt/checks/avc.py
  tmt/checks/dmesg.py
  tmt/checks/journal.py
  tmt/steps/__init__.py
  tmt/steps/prepare/ansible.py
  tmt/utils/__init__.py
Owners: none

Make SUPPORTED_DISTRO_PATTERNS tuple (#4242)
  tmt/steps/prepare/feature/crb.py
  tmt/steps/prepare/feature/fips.py
Owners: none

Use deferred type annotation of select.epoll to pass static analysis on non-Linux platforms
  tmt/steps/provision/mock.py
Owners: none

Conditionalize Epoll type to make static analysis pass on non-Linux platforms (#4227)
  tmt/steps/provision/mock.py
Owners: none

Retry `git clone` calls in tests
  tests/discover/distgit.sh
  tests/full/test.sh
  tests/libraries/local/test.sh
  tests/plan/show/test.sh
Owners: none

Retry `git clone` calls in tests (#4264)
  tests/discover/distgit.sh
  tests/full/test.sh
  tests/libraries/local/test.sh
  tests/plan/show/test.sh
Owners: none

Remap beaker group key for mrack to beaker_job_group
  pyproject.toml
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

add missing mapping fix
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

update group assignment and test
  tests/provision/beaker/dry.sh
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

Remap beaker group key for mrack to beaker_job_group (#4199)
  pyproject.toml
  tests/provision/beaker/dry.sh
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

Be more specific with workdirs
  tmt/steps/discover/fmf.py
Owners: none

Generalize the url download
  tmt/steps/discover/fmf.py
  tmt/utils/git.py
  tmt/utils/url.py
Owners: none
