Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi

squash: renames in tests
  tests/unit/test_package_managers.py
Owners: none

squash: forgot about package managers
  tmt/package_managers/__init__.py
  tmt/package_managers/bootc.py
  tmt/steps/prepare/feature/crb.py
  tmt/steps/prepare/feature/epel.py
Owners: none

Rename enable_repo/disable_repo package manager methods
  tmt/package_managers/__init__.py
  tmt/package_managers/apk.py
  tmt/package_managers/apt.py
  tmt/package_managers/bootc.py
  tmt/package_managers/dnf.py
  tmt/package_managers/mock.py
  tmt/package_managers/rpm_ostree.py
Owners: none

squash: forgot about disable_repo
  tmt/package_managers/__init__.py
  tmt/package_managers/bootc.py
  tmt/steps/prepare/feature/crb.py
  tmt/steps/prepare/feature/epel.py
Owners: none

Defer log record formatting until after filters
  tmt/log.py
Owners: none

squash: update tests
  tests/recipe/data/insert.yaml
  tests/recipe/data/local.yaml
  tests/recipe/data/minimal.yaml
  tests/recipe/data/remote.yaml
Owners: none

squash: address comments
  tmt/guest/__init__.py
Owners: none

Add a background thread fetching guest logs periodically
  tmt/guest/__init__.py
  tmt/steps/cleanup/internal.py
  tmt/steps/provision/artemis.py
  tmt/steps/provision/local.py
  tmt/steps/provision/mock.py
  tmt/steps/provision/mrack.py
  tmt/steps/provision/podman.py
  tmt/steps/provision/testcloud.py
Owners: @happz, @dav-pascual, @lbrabec

`display` report plugin shall now include `finish` phases
  docs/releases/pending/report-display-include-finish.fmf
  tmt/steps/finish/__init__.py
  tmt/steps/report/display.py
Owners: none

Drop explicit envvar handling from reportportal keys
  tmt/steps/report/reportportal.py
Owners: @4N0body5

Convert /tests/plan/{context,select} into pytest-based tests
  pyproject.toml
  tests/__init__.py
  tests/plan/context/main.fmf
  tests/plan/select/main.fmf
  tests/plan/select/test.sh
  tests/plan/select/test_select.py
  tests/unit/test_cli.py
Owners: none

squash: forgot one change
  tests/__init__.py
Owners: none

squash: require path
  tests/__init__.py
  tests/plan/context/test_context.py
Owners: none

squash: more fixes
  pyproject.toml
  tests/plan/context/test_context.py
  tests/plan/select/test_select.py
  tests/unit/test.sh
Owners: none

squash: forgotten file
  tests/plan/context/test.sh
  tests/plan/context/test_context.py
Owners: none

squash: address comments
  tests/unit/test_utils.py
  tmt/package_managers/dnf.py
  tmt/package_managers/mock.py
  tmt/utils/__init__.py
Owners: none

Add "frozen" variant of Command class, for base commands
  tests/unit/test_utils.py
  tmt/package_managers/__init__.py
  tmt/package_managers/apk.py
  tmt/package_managers/apt.py
  tmt/package_managers/bootc.py
  tmt/package_managers/dnf.py
  tmt/package_managers/mock.py
  tmt/package_managers/rpm_ostree.py
  tmt/steps/prepare/distgit.py
  tmt/utils/__init__.py
Owners: none

Use uname -m instead of arch for architecture detection (#4979)
  tmt/guest/__init__.py
Owners: none

Save all test-uuids in the reportportal plugin
  tmt/steps/report/reportportal.py
Owners: @4N0body5

squash: address comments
  tmt/steps/report/reportportal.py
Owners: @4N0body5

squash: use `None` for missing results
  tmt/steps/report/reportportal.py
Owners: @4N0body5

Save all test-uuids in the reportportal plugin (#4953)
  tmt/steps/report/reportportal.py
Owners: @4N0body5

CLI invocations cannot drop incompatible keys
  tests/core/phases/data/plans.fmf
  tests/core/phases/test.sh
  tmt/steps/__init__.py
Owners: none

mock provision: Add comment about reading returncode
  tmt/steps/provision/mock.py
Owners: none

mock provision: Implement delete option on file push
  tmt/steps/provision/mock.py
Owners: none

mock provision: Ignore blocking IO exceptions until the returncode is available
  tmt/steps/provision/mock.py
Owners: none

mock provision: Add tmt-mock test requirement
  tests/provision/mock/main.fmf
Owners: none

mock provision: Raise mock package manager probe priority over bootc
  tmt/package_managers/mock.py
Owners: none

Revert "mock provision: Raise mock package manager probe priority over bootc"
  tmt/package_managers/mock.py
Owners: none

mock provision: Refactor
  tmt/steps/provision/mock.py
Owners: none

mock provision: Improve mock shell missing returncode handling
  tmt/steps/provision/mock.py
Owners: none

mock provision: make detection of finished processes more deterministic
  tmt/steps/provision/mock.py
Owners: none

mock provision: Make command finish detection more reliable
  tmt/steps/provision/mock.py
Owners: none

mock provision: Keep polling for returncode_fd until an exit value is read
  tmt/steps/provision/mock.py
Owners: none

mock provision: Improve code-level documentation
  tmt/steps/provision/mock.py
Owners: none

Mock provision: make detection of finished processes more deterministic (#4437)
  tests/provision/mock/main.fmf
  tmt/steps/provision/mock.py
Owners: none

Use sandboxed environment for Jinja templates
  tests/unit/test_utils.py
  tmt/utils/templates.py
Owners: none

squash: disable autoescape
  tmt/utils/templates.py
Owners: none

squash: non-sandboxed too
  docs/ext/generate_hardware_matrix.py
  docs/ext/generate_lint_checks.py
  docs/ext/generate_plugins.py
  docs/ext/generate_template_extensions.py
  docs/ext/generate_test_runner_guest_matrix.py
  tmt/steps/scripts.py
  tmt/utils/templates.py
Owners: none

squash: update template
  tmt/steps/report/display.py
Owners: none
