Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

Enable some existing tests with mock provisioning
  plans/provision/mock.fmf
  tests/prepare/shell/main.fmf
  tests/provision/environment/main.fmf
  tests/provision/mock/main.fmf
Owners: none

Merge ManagedEpollFD and FileIO
  tmt/steps/provision/mock.py
Owners: none

Add ids all tests, not just finished
  docs/releases.rst
  tests/execute/pending-ids/data/.fmf/version
  tests/execute/pending-ids/data/main.fmf
  tests/execute/pending-ids/main.fmf
  tests/execute/pending-ids/test.sh
  tmt/steps/execute/__init__.py
Owners: none

Ask renovate to add `renovate` label to PRs it creates (#4114)
  .github/renovate.json
Owners: none

Refactor artifact providers from iterator to cached property pattern
  tests/unit/artifact/test_base.py
  tests/unit/artifact/test_koji.py
  tmt/steps/prepare/artifact/providers/__init__.py
  tmt/steps/prepare/artifact/providers/koji.py
  tmt/steps/prepare/artifact/providers/repository.py
Owners: none

Refactor artifact providers from iterator to cached property pattern
  tests/unit/artifact/test_base.py
  tests/unit/artifact/test_koji.py
  tmt/steps/prepare/artifact/providers/__init__.py
  tmt/steps/prepare/artifact/providers/koji.py
  tmt/steps/prepare/artifact/providers/repository.py
Owners: none

Add a Fedora integration plan, require `yq` in tests
  plans/friends/fedora.fmf
  plans/main.fmf
  tests/main.fmf
Owners: none

Rename `ansible()` to `run_ansible_playbook()`
  tmt/steps/prepare/ansible.py
  tmt/steps/prepare/feature/__init__.py
  tmt/steps/prepare/feature/environment_profile.py
  tmt/steps/provision/__init__.py
Owners: none

Missing error message during polarion test export
  tmt/export/nitrate.py
  tmt/export/polarion.py
Owners: @KwisatzHaderach

Allow a single `link` in the `fmf` discover plugin
  tmt/schemas/discover/fmf.yaml
  tmt/steps/discover/fmf.py
Owners: none

Update docs, add test coverage and a release note
  docs/releases.rst
  tests/discover/data/tests.fmf
  tests/discover/filtering.sh
  tests/discover/link/data/.fmf/version
  tests/discover/link/data/main.fmf
  tests/discover/link/main.fmf
  tests/discover/link/test.sh
  tmt/steps/discover/fmf.py
Owners: none

Rename `ansible()` to `run_ansible_playbook()` (#4180)
  tmt/steps/prepare/ansible.py
  tmt/steps/prepare/feature/__init__.py
  tmt/steps/prepare/feature/environment_profile.py
  tmt/steps/provision/__init__.py
Owners: none

Use `BeakerLib Libraries` for the library examples
  docs/examples.rst
Owners: none

Use `BeakerLib Libraries` for the library examples (#4164)
  docs/examples.rst
Owners: none

Update docs, add test coverage and a release note
  docs/releases.rst
  tests/discover/data/tests.fmf
  tests/discover/filtering.sh
  tests/discover/link/data/.fmf/version
  tests/discover/link/data/main.fmf
  tests/discover/link/main.fmf
  tests/discover/link/test.sh
  tmt/steps/discover/fmf.py
Owners: none

Allow a single `link` in the `fmf` discover plugin
  tmt/schemas/discover/fmf.yaml
  tmt/steps/discover/fmf.py
Owners: none

Allow a single `link` in the `fmf` discover plugin (#4146)
  docs/releases.rst
  tests/discover/data/tests.fmf
  tests/discover/filtering.sh
  tests/discover/link/data/.fmf/version
  tests/discover/link/data/main.fmf
  tests/discover/link/main.fmf
  tests/discover/link/test.sh
  tmt/schemas/discover/fmf.yaml
  tmt/steps/discover/fmf.py
Owners: none

Allow providing multiple ssh keys in `connect`
  tmt/steps/provision/__init__.py
Owners: none

Allow providing multiple ssh keys in `connect` (#4147)
  tmt/steps/provision/__init__.py
Owners: none

Add Respository Manager Class
  tests/unit/artifact/test_repository.py
  tmt/steps/prepare/artifact/providers/repository.py
Owners: none

add suggestions from code review
  tmt/steps/prepare/artifact/providers/repository.py
Owners: none

add suggestions from code review 2
  tests/unit/artifact/test_repository.py
  tmt/steps/prepare/artifact/providers/repository.py
Owners: none

Drop custom label in artemis and mrack status updates
  tmt/steps/provision/artemis.py
  tmt/steps/provision/mrack.py
Owners: @happz, @dav-pascual

Add check for cleanup plugins in Cleanup.go() (#4186)
  tmt/base.py
Owners: none

Add test-cycle field to polarion report plugin
  tmt/schemas/report/polarion.yaml
  tmt/steps/report/polarion.py
Owners: @KwisatzHaderach

Fix ruff format issues
  tmt/steps/report/polarion.py
Owners: @KwisatzHaderach

Drop custom label in artemis and mrack status updates (#4187)
  tmt/steps/provision/artemis.py
  tmt/steps/provision/mrack.py
Owners: @happz, @dav-pascual

Fix the forgotten template in `/tests/discover/link`
  tests/discover/link/main.fmf
Owners: none

Fix the forgotten template in `/tests/discover/link` (#4190)
  tests/discover/link/main.fmf
Owners: none

squash: Update tests/unit/test_exception_rendering.py
  tests/unit/test_exception_rendering.py
Owners: none

squash: fix tests
  tests/discover/libraries/test.sh
Owners: none

Include exception context when rendering exception chain
  tests/unit/test_exception_rendering.py
  tmt/utils/__init__.py
Owners: none

Include exception context when rendering exception chain (#4137)
  tests/discover/libraries/test.sh
  tests/unit/test_exception_rendering.py
  tmt/utils/__init__.py
Owners: none

Use combined context when exporting plans
  tests/plan/export/test.sh
  tmt/base.py
Owners: none

squash: add release note
  docs/releases.rst
Owners: none

Use combined context when exporting plans (#4168)
  docs/releases.rst
  tests/plan/export/test.sh
  tmt/base.py
Owners: none

Special operator for boot.method HW requirement
  tests/unit/test_hardware.py
  tmt/hardware.py
Owners: none

add suggestions from code review 3
  tests/unit/artifact/test_repository.py
  tmt/steps/prepare/artifact/providers/repository.py
Owners: none

poc code to test repository manager
  tmt/steps/cleanup/internal.py
  tmt/steps/prepare/artifact/providers/repository.py
Owners: none

moved file
  tmt/steps/cleanup/internal.py
  tmt/steps/prepare/artifact/providers/__init__.py
  tmt/steps/prepare/artifact/providers/repository.py
Owners: none

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi
