Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi

squash: address comments
  tmt/steps/__init__.py
  tmt/steps/discover/shell.py
  tmt/utils/__init__.py
Owners: none

squash: fix some tests
  tests/execute/result/custom.sh
  tests/plan/create/test.sh
  tests/unit/test_hardware.py
  tests/unit/test_results.py
Owners: none

Refactor "to YAML" and "from YAML" helpers
  tmt/ansible.py
  tmt/base.py
  tmt/cli/about.py
  tmt/convert.py
  tmt/export/nitrate.py
  tmt/export/yaml.py
  tmt/policy.py
  tmt/recipe.py
  tmt/result.py
  tmt/steps/__init__.py
  tmt/steps/discover/__init__.py
  tmt/steps/execute/__init__.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/artemis.py
  tmt/steps/provision/mrack.py
  tmt/steps/report/reportportal.py
  tmt/trying.py
  tmt/utils/__init__.py
  tmt/utils/templates.py
Owners: @happz, @dav-pascual, @4N0body5, @falconizmi

squash: address comment
  tmt/steps/provision/podman.py
Owners: none

Add support for step inheritance in plan imports
  tests/plan/import/main.fmf
  tests/plan/import/step-inheritance.sh
  tests/plan/import/step-inheritance/.fmf/version
  tests/plan/import/step-inheritance/main.fmf
  tmt/base.py
  tmt/schemas/plan.yaml
Owners: none

Extend `resource_files` to general `Traversable`s (#2946)
  .pre-commit-config.yaml
  docs/code/plugin-introduction.rst
  docs/releases/pending/2946.fmf
  examples/plugins/example/__init__.py
  examples/plugins/example/discover.py
  examples/plugins/example/provision.py
  examples/plugins/example/schemas/discover/example.yaml
  examples/plugins/example/schemas/provision/example.yaml
  examples/plugins/pyproject.toml
  pyproject.toml
  tests/plugins/data/.fmf/version
  tests/plugins/data/main.fmf
  tests/plugins/test.sh
  tmt/_compat/importlib/__init__.py
  tmt/_compat/importlib/metadata.py
  tmt/_compat/importlib/readers.py
  tmt/_compat/importlib/resources.py
  tmt/cli/about.py
  tmt/config/__init__.py
  tmt/config/models/themes.py
  tmt/export/__init__.py
  tmt/export/template.py
  tmt/plugins/__init__.py
  tmt/steps/prepare/feature/__init__.py
  tmt/steps/report/html.py
  tmt/steps/report/junit.py
  tmt/steps/scripts.py
  tmt/templates/__init__.py
  tmt/utils/__init__.py
Owners: none

Split execute/upgrade tests into separate plans
  plans/provision/container.fmf
  plans/provision/virtual.fmf
Owners: none

Drop Fedora 41 images, use Fedora 43 for testing
  Makefile
  containers/fedora/41/Containerfile
  containers/fedora/41/Containerfile.unprivileged
  containers/fedora/41/Containerfile.upstream
  tests/images.sh
  tests/prepare/install/test.sh
Owners: none

Add `/tests/execute/basic` to core, speed up `/tests/prepare/ansible`
  Makefile
  tests/execute/basic/main.fmf
  tests/prepare/ansible/test.sh
Owners: none

Remove duplicate targets from Makefile
  Makefile
Owners: none

Run `/tests/prepare/install` in a separate virtual provision plan
  plans/provision/virtual.fmf
Owners: none

Speed up the core test job
  .packit.yaml
  tests/backward-compatibility/main.fmf
  tests/core/adjust/main.fmf
  tests/core/context/main.fmf
  tests/core/docs/main.fmf
  tests/core/enabled/main.fmf
  tests/core/environment/main.fmf
  tests/core/link/main.fmf
  tests/core/ls/main.fmf
  tests/core/main.fmf
  tests/init/main.fmf
  tests/init/mini/main.fmf
  tests/lint/main.fmf
  tests/unit/main.fmf
Owners: none

Update compatibility docs and package manager tests
  docs/test-runner-guest-compatibility.yaml
  tests/unit/__init__.py
  tests/unit/test_package_managers.py
Owners: none

Use a fixed Fedora version for the artifact install test
  tests/prepare/artifact/test.sh
Owners: none

Support FIPS prepare feature on RHEL-7
  tmt/steps/prepare/feature/fips-enable.yaml
  tmt/steps/prepare/feature/fips.py
Owners: none

Speed up the test execution (#4390)
  .packit.yaml
  Makefile
  containers/fedora/41/Containerfile
  containers/fedora/41/Containerfile.unprivileged
  containers/fedora/41/Containerfile.upstream
  docs/test-runner-guest-compatibility.yaml
  plans/provision/container.fmf
  plans/provision/virtual.fmf
  tests/backward-compatibility/main.fmf
  tests/core/adjust/main.fmf
  tests/core/context/main.fmf
  tests/core/docs/main.fmf
  tests/core/enabled/main.fmf
  tests/core/environment/main.fmf
  tests/core/link/main.fmf
  tests/core/ls/main.fmf
  tests/core/main.fmf
  tests/execute/basic/main.fmf
  tests/images.sh
  tests/init/main.fmf
  tests/init/mini/main.fmf
  tests/lint/main.fmf
  tests/prepare/ansible/test.sh
  tests/prepare/artifact/test.sh
  tests/prepare/install/test.sh
  tests/unit/__init__.py
  tests/unit/main.fmf
  tests/unit/test_package_managers.py
Owners: none

Address two expected AVC denials on Fedora Rawhide
  tests/prepare/shell/main.fmf
  tests/test/check/main.fmf
Owners: none

Extract shared discover plugin logic into the step
  docs/releases/pending/4391.fmf
  tmt/schemas/discover/shell.yaml
  tmt/steps/discover/__init__.py
  tmt/steps/discover/fmf.py
  tmt/steps/discover/shell.py
  tmt/steps/execute/upgrade.py
Owners: none

Relax locked dependencies
  pyproject.toml
Owners: none

Generate lock file
  pylock.toml
  uv.lock
Owners: none

Use uv in RTD
  .readthedocs.yaml
Owners: none

Add what uv pre-commits we can
  .pre-commit-config.yaml
Owners: none

Move github actions to use uv dependencies
  .github/workflows/doc-tests.yml
Owners: none

Use --frozen instead of --locked
  .github/workflows/doc-tests.yml
  .readthedocs.yaml
Owners: none

Add checks for create repository part
  tests/prepare/artifact/data/post_artifact_check.sh
  tests/prepare/artifact/data/pre_artifact_check.sh
  tests/prepare/artifact/data/test_require.sh
Owners: none

fix tests to use dnf repo info
  tests/prepare/artifact/data/test_require.sh
Owners: none

Remove docstrings for now
  tmt/steps/prepare/artifact/__init__.py
Owners: none

Implement the logic for the prepare/artifact step
  tmt/steps/prepare/artifact/__init__.py
Owners: none

One more test failing with the same AVC
  tests/provision/mock/fedora-rawhide-x86_64/multiple-tests/main.fmf
Owners: none

Address two expected AVC denials on Fedora Rawhide (#4396)
  tests/prepare/shell/main.fmf
  tests/provision/mock/fedora-rawhide-x86_64/multiple-tests/main.fmf
  tests/test/check/main.fmf
Owners: none

Fixes cryptic unit parsing error in TMT Data Size Fields (#4285)
  docs/releases/pending/4285.fmf
  tests/provision/hardware/data/main.fmf
  tests/provision/hardware/test.sh
  tests/unit/test_data_size_validation.py
  tmt/hardware.py
  tmt/steps/provision/testcloud.py
  tmt/utils/__init__.py
Owners: @lbrabec

squash: address comment
  tmt/hardware.py
  tmt/utils/__init__.py
Owners: none

Fix cryptic unit parsing error in Data Size Fields (#4285)
  docs/releases/pending/4285.fmf
  tests/provision/hardware/data/main.fmf
  tests/provision/hardware/test.sh
  tests/unit/test_data_size_validation.py
  tmt/hardware.py
  tmt/steps/provision/testcloud.py
  tmt/utils/__init__.py
Owners: @lbrabec

Add 'Local' distgit handler
  tmt/utils/git.py
Owners: none

squash: address file:// constant
  tmt/utils/git.py
Owners: none

squash: address FILE_SCHEMA & have
  spec/plans/discover.fmf
  tmt/utils/git.py
Owners: none

squash: address feedback, add test/docs
  spec/plans/discover.fmf
  tests/discover/distgit.sh
  tmt/schemas/common.yaml
  tmt/utils/git.py
Owners: none

Add 'Local' distgit handler (#4116)
  spec/plans/discover.fmf
  tests/discover/distgit.sh
  tmt/schemas/common.yaml
  tmt/utils/git.py
Owners: none

revert: tests are back !
  tests/lint/test/test.sh
  tmt/export/__init__.py
Owners: none

fix logic
  tests/lint/test/data/manual_test_failed/test.md
  tests/lint/test/test.sh
  tmt/export/__init__.py
Owners: none
