Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

Do not distinguish between branch and leaf stories
  docs/ext/tmt_domain/story.py
Owners: none

Do not distinguish between branch and leaf stories format (#4597)
  docs/ext/tmt_domain/story.py
  docs/spec/context.rst
  docs/spec/core.rst
  docs/spec/hardware.rst
  docs/spec/plans.rst
  docs/spec/policy.rst
  docs/spec/recipe.rst
  docs/spec/results.rst
  docs/spec/stories.rst
  docs/spec/tests.rst
  docs/stories/cli.rst
  docs/stories/deferred.rst
  docs/stories/docs.rst
  docs/stories/features.rst
  docs/stories/install.rst
  stories/features/main.fmf
Owners: none

Release 1.68.0
  docs/releases/1.68.0/3086.fmf
  docs/releases/1.68.0/4430.fmf
  docs/releases/1.68.0/4535.fmf
  docs/releases/1.68.0/4577.fmf
Owners: none

squash: add release note
  docs/releases/1.68.0/4598.fmf
Owners: none

detect duplicate nvras
  tests/unit/artifact/test_base.py
  tmt/steps/prepare/artifact/__init__.py
Owners: none

implement tests to detect duplication
  tests/unit/artifact/test_base.py
Owners: none

Move duplicate NVRA detection into a separate pass that runs before any artifacts are fetched
  tmt/steps/prepare/artifact/__init__.py
Owners: none

refactor: move duplciate detection to its own method...
  tests/unit/artifact/test_base.py
  tmt/steps/prepare/artifact/__init__.py
Owners: none

Fix how plan/guest `ansible` key is displayed
  tmt/base/core.py
  tmt/guest/__init__.py
Owners: none

squash: some fixes
  tmt/guest/__init__.py
  tmt/steps/provision/__init__.py
Owners: none

Step `__init__` shall accept list of raw step data
  tmt/base/core.py
  tmt/steps/__init__.py
  tmt/steps/discover/__init__.py
  tmt/steps/execute/__init__.py
  tmt/steps/prepare/__init__.py
  tmt/steps/provision/__init__.py
Owners: none

To/from "state" helpers for tmt state files
  docs/overview.rst
  spec/results.fmf
  tmt/base/core.py
  tmt/cli/about.py
  tmt/export/_json.py
  tmt/frameworks/beakerlib.py
  tmt/package_managers/bootc.py
  tmt/steps/__init__.py
  tmt/steps/cleanup/__init__.py
  tmt/steps/discover/__init__.py
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
  tmt/steps/finish/__init__.py
  tmt/steps/prepare/__init__.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/mrack.py
  tmt/trying.py
  tmt/utils/__init__.py
Owners: @dav-pascual, @falconizmi

squash: fix extra conversion
  tmt/steps/__init__.py
  tmt/steps/discover/__init__.py
  tmt/steps/provision/__init__.py
Owners: none

squash: post-rebase
  tmt/package_managers/bootc.py
Owners: none

squash: fix tests
  tests/execute/result/custom.sh
Owners: none

squash: fix issue
  tmt/steps/__init__.py
Owners: none

squash; fixing tests
  docs/releases/pending/4472.fmf
  tests/execute/ignore-duration/test.sh
Owners: none

Plugin envvars take effect even when plugin is not mentioned on CLI
  tmt/steps/__init__.py
Owners: none

squash: test and refactoring
  docs/overview.rst
  tests/cli/plugin-envvars/data/.fmf/version
  tests/cli/plugin-envvars/data/main.fmf
  tests/cli/plugin-envvars/main.fmf
  tests/cli/plugin-envvars/test.sh
  tmt/steps/__init__.py
Owners: none

squash: fix docs
  docs/releases/pending/4472.fmf
Owners: none

Drop step-specific "base Click command" implementations
  tmt/base/core.py
  tmt/steps/__init__.py
  tmt/steps/cleanup/__init__.py
  tmt/steps/discover/__init__.py
  tmt/steps/execute/__init__.py
  tmt/steps/finish/__init__.py
  tmt/steps/prepare/__init__.py
  tmt/steps/provision/__init__.py
  tmt/steps/report/__init__.py
Owners: none

squash: update
  tmt/steps/__init__.py
  tmt/steps/cleanup/__init__.py
  tmt/steps/discover/__init__.py
  tmt/steps/execute/__init__.py
  tmt/steps/finish/__init__.py
  tmt/steps/prepare/__init__.py
  tmt/steps/provision/__init__.py
  tmt/steps/report/__init__.py
Owners: none

squash: post-rebase fixes
  tmt/base/core.py
  tmt/export/_json.py
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

Prefer Stopwatch.measure over context manager
  tmt/checks/avc.py
  tmt/steps/execute/__init__.py
  tmt/utils/__init__.py
Owners: none

Discover and load tmt subcommands via entrypoint
  pyproject.toml
  tmt/__main__.py
Owners: none

Release 1.68.0 (#4611)
  docs/releases/1.68.0/3086.fmf
  docs/releases/1.68.0/4430.fmf
  docs/releases/1.68.0/4535.fmf
  docs/releases/1.68.0/4577.fmf
  docs/releases/1.68.0/4598.fmf
Owners: none

squash: post-rebase fixes
  tmt/__main__.py
Owners: none

Extract `tmt run` from `tmt.cli` into standalone module
  tmt/__main__.py
  tmt/cli/_root.py
  tmt/cli/run.py
Owners: none

squash: Update tmt/cli/run.py
  tmt/cli/run.py
Owners: none

squash: post-rebase fixes
  tmt/cli/run.py
Owners: none

fix building of rpms
  tests/prepare/artifact/nvr-debug/data/build-repos.sh
  tests/prepare/artifact/nvr-debug/data/plan.fmf
  tests/prepare/artifact/nvr-debug/data/srpms/dummy-nvr-test-1.0-1.src.rpm
  tests/prepare/artifact/nvr-debug/data/srpms/dummy-nvr-test-2.0-1.src.rpm
  tests/prepare/artifact/nvr-debug/data/tc11.fmf
  tests/prepare/artifact/nvr-debug/data/tc11.sh
  tests/prepare/artifact/nvr-debug/data/tc12.fmf
  tests/prepare/artifact/nvr-debug/data/tc12.sh
  tests/prepare/artifact/nvr-debug/main.fmf
  tests/prepare/artifact/nvr-debug/rpm-data/build-srpms.sh
  tests/prepare/artifact/nvr-debug/test.sh
  tmt/steps/prepare/artifact/providers/repository.py
Owners: none

Change jq to be installed from updates on fedora-rawhide
  tests/prepare/artifact/nvr-edge-cases/package-with-dependency/test.sh
  tests/prepare/artifact/nvr-edge-cases/package-without-dependency/data/test.sh
  tests/prepare/artifact/nvr-edge-cases/package-without-dependency/test.sh
Owners: none

change testcase to with and without dependency case
  tests/prepare/artifact/nvr-edge-cases/main.fmf
  tests/prepare/artifact/nvr-edge-cases/package-with-dependency/data/.fmf/version
  tests/prepare/artifact/nvr-edge-cases/package-with-dependency/data/main.fmf
  tests/prepare/artifact/nvr-edge-cases/package-with-dependency/data/test.sh
  tests/prepare/artifact/nvr-edge-cases/package-with-dependency/main.fmf
  tests/prepare/artifact/nvr-edge-cases/package-with-dependency/test.sh
  tests/prepare/artifact/nvr-edge-cases/package-without-dependency/data/.fmf/version
  tests/prepare/artifact/nvr-edge-cases/package-without-dependency/data/main.fmf
  tests/prepare/artifact/nvr-edge-cases/package-without-dependency/data/test.sh
  tests/prepare/artifact/nvr-edge-cases/package-without-dependency/main.fmf
  tests/prepare/artifact/nvr-edge-cases/package-without-dependency/test.sh
Owners: none

write test cases in a new format
  tests/prepare/artifact/nvr-debug/data/.fmf/version
  tests/prepare/artifact/nvr-debug/data/build-repos.sh
  tests/prepare/artifact/nvr-debug/data/plan.fmf
  tests/prepare/artifact/nvr-debug/data/tc11-high.repo
  tests/prepare/artifact/nvr-debug/data/tc11-low.repo
  tests/prepare/artifact/nvr-debug/data/tc11.fmf
  tests/prepare/artifact/nvr-debug/data/tc11.sh
  tests/prepare/artifact/nvr-debug/data/tc12-a.repo
  tests/prepare/artifact/nvr-debug/data/tc12-b.repo
  tests/prepare/artifact/nvr-debug/data/tc12.fmf
  tests/prepare/artifact/nvr-debug/data/tc12.sh
  tests/prepare/artifact/nvr-debug/main.fmf
  tests/prepare/artifact/nvr-debug/test.sh
  tests/prepare/artifact/nvr-edge-cases/package-with-dependency/data/main.fmf
  tests/prepare/artifact/nvr-edge-cases/package-with-dependency/data/test.sh
  tests/prepare/artifact/nvr-edge-cases/package-with-dependency/main.fmf
  tests/prepare/artifact/nvr-edge-cases/package-with-dependency/test.sh
  tests/prepare/artifact/nvr-edge-cases/package-without-dependency/data/.fmf/version
  tests/prepare/artifact/nvr-edge-cases/package-without-dependency/data/main.fmf
  tests/prepare/artifact/nvr-edge-cases/package-without-dependency/data/test.sh
  tests/prepare/artifact/nvr-edge-cases/package-without-dependency/main.fmf
  tests/prepare/artifact/nvr-edge-cases/package-without-dependency/test.sh
  tmt/steps/prepare/artifact/providers/repository.py
Owners: none

Add integration test for NVR edge cases with file provider
  tests/prepare/artifact/nvr-edge-cases/data/.fmf/version
  tests/prepare/artifact/nvr-edge-cases/data/main.fmf
  tests/prepare/artifact/nvr-edge-cases/data/test.sh
  tests/prepare/artifact/nvr-edge-cases/main.fmf
  tests/prepare/artifact/nvr-edge-cases/test.sh
Owners: none

build rpms only once
  tests/prepare/artifact/nvr-debug/data/build-repos.sh
  tests/prepare/artifact/nvr-debug/data/plan.fmf
  tests/prepare/artifact/nvr-debug/data/srpms/dummy-nvr-test-1.0-1.src.rpm
  tests/prepare/artifact/nvr-debug/data/srpms/dummy-nvr-test-2.0-1.src.rpm
  tests/prepare/artifact/nvr-debug/data/tc11-high.repo
  tests/prepare/artifact/nvr-debug/data/tc11-low.repo
  tests/prepare/artifact/nvr-debug/data/tc11.fmf
  tests/prepare/artifact/nvr-debug/data/tc11.sh
  tests/prepare/artifact/nvr-debug/data/tc12-a.repo
  tests/prepare/artifact/nvr-debug/data/tc12-b.repo
  tests/prepare/artifact/nvr-debug/data/tc12.fmf
  tests/prepare/artifact/nvr-debug/data/tc12.sh
  tests/prepare/artifact/nvr-debug/main.fmf
  tests/prepare/artifact/nvr-debug/rpm-data/build-srpms.sh
  tests/prepare/artifact/nvr-debug/rpm-data/v1.spec
  tests/prepare/artifact/nvr-debug/rpm-data/v2.spec
  tests/prepare/artifact/nvr-debug/test.sh
Owners: none

split to 2 plans
  tests/prepare/artifact/nvr-debug/data/build-repos.sh
  tests/prepare/artifact/nvr-debug/data/plan-tc11.fmf
  tests/prepare/artifact/nvr-debug/data/plan-tc12.fmf
  tests/prepare/artifact/nvr-debug/data/plan.fmf
  tests/prepare/artifact/nvr-debug/data/tc11.fmf
  tests/prepare/artifact/nvr-debug/data/tc11.sh
  tests/prepare/artifact/nvr-debug/data/tc12.fmf
  tests/prepare/artifact/nvr-debug/data/tc12.sh
  tests/prepare/artifact/nvr-debug/main.fmf
  tests/prepare/artifact/nvr-debug/test.sh
  tmt/steps/prepare/artifact/providers/repository.py
Owners: none

Drop plan environment from the default command environment
  tmt/guest/__init__.py
  tmt/steps/provision/local.py
  tmt/steps/provision/podman.py
Owners: none

Rename various `env` parameters to `environment`
  tmt/base/core.py
  tmt/cli/_root.py
  tmt/guest/__init__.py
  tmt/libraries/beakerlib.py
  tmt/steps/__init__.py
  tmt/steps/discover/__init__.py
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
  tmt/steps/prepare/shell.py
  tmt/steps/provision/bootc.py
  tmt/steps/provision/local.py
  tmt/steps/provision/mock.py
  tmt/steps/provision/podman.py
  tmt/utils/__init__.py
  tmt/utils/git.py
Owners: none

mock provision: Refactor
  tmt/steps/provision/mock.py
Owners: none

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi
