Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi

Workaround RHEL8 epel feature for Fedora 42+
  tests/prepare/feature/epel/test.sh
  tmt/steps/prepare/feature/epel-disable.yaml
  tmt/steps/prepare/feature/epel-enable.yaml
Owners: none

Implement decorator for defining try actions
  tmt/trying.py
Owners: @falconizmi

Prevent building container images if Containerfile is empty in Image Mode
  tests/prepare/install/data/empty-with-exclude.fmf
  tests/prepare/install/test.sh
  tmt/package_managers/bootc.py
Owners: none

squash: fix import, remove unused copy
  tmt/frameworks/__init__.py
  tmt/frameworks/beakerlib.py
  tmt/steps/__init__.py
  tmt/steps/provision/__init__.py
Owners: none

squash: add `archive` option to podman
  tmt/steps/provision/__init__.py
  tmt/steps/provision/podman.py
Owners: none

Replace rsync options in Guest push/pull API
  tmt/frameworks/__init__.py
  tmt/frameworks/beakerlib.py
  tmt/steps/__init__.py
  tmt/steps/execute/internal.py
  tmt/steps/prepare/shell.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/local.py
  tmt/steps/provision/podman.py
Owners: none

squash: add copy method, remove preserve_ownership option
  tmt/frameworks/__init__.py
  tmt/frameworks/beakerlib.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/podman.py
Owners: none

squash: address comments
  tmt/frameworks/__init__.py
  tmt/frameworks/beakerlib.py
  tmt/steps/__init__.py
  tmt/steps/execute/internal.py
  tmt/steps/provision/__init__.py
Owners: none

squash:address comments
  tests/provision/beaker/data/main.fmf
  tests/provision/beaker/main.fmf
  tmt/schemas/provision/beaker.yaml
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

Fix pickling issue
  tests/unit/test_base.py
  tmt/base.py
Owners: none

Fix the playbooks, missing output variable
  tmt/steps/prepare/feature/epel-enable.yaml
Owners: none

Adds tmt scripts installation logic to local guest
  tmt/steps/provision/local.py
Owners: none

Removes verbose trace
  tmt/steps/provision/local.py
Owners: none

Redefines scripts_path as property with a default value
  tmt/steps/provision/local.py
Owners: none

Implements local push function and directly call parent install_scripts
  tmt/steps/provision/local.py
Owners: none

Adds new test case for helper scripts installation
  tests/provision/local/data/.fmf/version
  tests/provision/local/data/script.fmf
  tests/provision/local/test.sh
Owners: none

Updates the helper script path and adds module constant
  tmt/steps/provision/local.py
Owners: none

Adding missing remove command
  tests/provision/local/test.sh
Owners: none

Replaces rsync command with simple install call
  tmt/steps/provision/local.py
Owners: none

Reformulates the push logic so it considers source and destination defaults
  tmt/steps/provision/local.py
Owners: none

Changes TMT_SCRIPTS_DIR to a temp dir so any clash is avoided
  tests/provision/local/test.sh
Owners: none

squash: add missing exclude, add comments
  tmt/frameworks/beakerlib.py
  tmt/steps/execute/internal.py
Owners: none

skip if source and destination are identical
  tmt/steps/provision/local.py
Owners: none

Move the pickling handling to `Logger`
  tests/unit/test_base.py
  tmt/base.py
  tmt/log.py
Owners: none

Install package manager into the mock chroot if bootstrap chroot is not used
  tmt/package_managers/mock.py
  tmt/steps/prepare/install.py
  tmt/steps/provision/mock.py
Owners: none

Rename --root to --config
  tmt/steps/provision/mock.py
Owners: none

Implement mock provisioning
  tmt/package_managers/mock.py
  tmt/steps/prepare/install.py
  tmt/steps/provision/mock.py
Owners: none

squash: edit docstring
  tmt/frameworks/__init__.py
Owners: none

squash:update
  tests/provision/beaker/data/main.fmf
  tmt/schemas/provision/beaker.yaml
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

Update .packit.yaml
  .packit.yaml
Owners: none

chore: add a note to install_artifact
  tmt/steps/prepare/brand_new_allmighty_install/providers/koji.py
Owners: none

chore: Consistent docstring with return type
  tmt/steps/prepare/brand_new_allmighty_install/providers/__init__.py
Owners: none

Minor fixes from review
  tmt/steps/prepare/brand_new_allmighty_install/providers/__init__.py
  tmt/steps/prepare/brand_new_allmighty_install/providers/koji.py
Owners: none

pass the parent directory to cd
  tmt/steps/prepare/brand_new_allmighty_install/providers/koji_provider.py
Owners: none

initial feedback fixes
  tmt/steps/prepare/brand_new_allmighty_install/providers/__init__.py
  tmt/steps/prepare/brand_new_allmighty_install/providers/koji.py
Owners: none

More refactor, implementations
  tmt/steps/prepare/brand_new_allmighty_install/providers/__init__.py
  tmt/steps/prepare/brand_new_allmighty_install/providers/brew_provider.py
  tmt/steps/prepare/brand_new_allmighty_install/providers/koji_provider.py
Owners: none

Implement download artifact logic
  tmt/steps/prepare/brand_new_allmighty_install/providers/__init__.py
  tmt/steps/prepare/brand_new_allmighty_install/providers/koji_provider.py
Owners: none

fix _filter_artifacts definition
  tmt/steps/prepare/brand_new_allmighty_install/providers/__init__.py
Owners: none

Refactor container classes to bespoke providers
  tmt/steps/prepare/brand_new_allmighty_install/providers/__init__.py
  tmt/steps/prepare/brand_new_allmighty_install/providers/koji_provider.py
Owners: none

first stab at calling a koji api to list artifacts(rpms)
  .pre-commit-config.yaml
  pyproject.toml
  tmt/steps/prepare/brand_new_allmighty_install/providers/__init__.py
  tmt/steps/prepare/brand_new_allmighty_install/providers/brew.py
  tmt/steps/prepare/brand_new_allmighty_install/providers/brew_provider.py
  tmt/steps/prepare/brand_new_allmighty_install/providers/koji.py
  tmt/steps/prepare/brand_new_allmighty_install/providers/koji_provider.py
Owners: none
