Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

squash: update specs
  spec/hardware/beaker.fmf
  spec/hardware/cpu.fmf
  spec/hardware/device.fmf
  spec/hardware/iommu.fmf
  spec/hardware/system.fmf
Owners: none

squash: fix typo
  tmt/steps/provision/artemis.py
Owners: @happz

squash: release note
  docs/releases/pending/4577.fmf
Owners: none

squash: fix docs
  spec/hardware/system.fmf
Owners: none

squash: Update docs/releases/pending/4577.fmf
  docs/releases/pending/4577.fmf
Owners: none

Upgrade supported Artemis API up to v0.0.84
  tmt/steps/provision/artemis.py
Owners: @happz

Add generic tmt context to Claude instructions
  .claude/CLAUDE.md
Owners: none

implement lazy plugin discovery in PluginRegistry
  tests/unit/artifact/conftest.py
  tmt/plugins/__init__.py
Owners: none

Upgrade supported Artemis API up to v0.0.84 (#4577)
  docs/releases/pending/4577.fmf
  spec/hardware/beaker.fmf
  spec/hardware/cpu.fmf
  spec/hardware/device.fmf
  spec/hardware/iommu.fmf
  spec/hardware/system.fmf
  tmt/steps/provision/artemis.py
Owners: @happz

Fix FIPS prepare feature on CentOS Stream 8
  tmt/steps/prepare/feature/fips-enable.yaml
Owners: none

Narrow changed flag in FIPS playbook
  tmt/steps/prepare/feature/fips-enable.yaml
Owners: none

Fix FIPS prepare feature on CentOS Stream 8 (#4537)
  tmt/steps/prepare/feature/fips-enable.yaml
Owners: none

change testcase to with and without dependency case
  tests/prepare/artifact/nvr-edge-cases/main.fmf
  tests/prepare/artifact/nvr-edge-cases/package-with-dependency/data/.fmf/version
  tests/prepare/artifact/nvr-edge-cases/package-with-dependency/data/main.fmf
  tests/prepare/artifact/nvr-edge-cases/package-with-dependency/data/test.sh
  tests/prepare/artifact/nvr-edge-cases/package-with-dependency/main.fmf
  tests/prepare/artifact/nvr-edge-cases/package-with-dependency/test.sh
  tests/prepare/artifact/nvr-edge-cases/package-without-dependency/data/.fmf/version
  tests/prepare/artifact/nvr-edge-cases/package-without-dependency/data/main.fmf
  tests/prepare/artifact/nvr-edge-cases/package-without-dependency/data/test.sh
  tests/prepare/artifact/nvr-edge-cases/package-without-dependency/main.fmf
  tests/prepare/artifact/nvr-edge-cases/package-without-dependency/test.sh
Owners: none

Add integration test for NVR edge cases with file provider
  tests/prepare/artifact/nvr-edge-cases/data/.fmf/version
  tests/prepare/artifact/nvr-edge-cases/data/main.fmf
  tests/prepare/artifact/nvr-edge-cases/data/test.sh
  tests/prepare/artifact/nvr-edge-cases/main.fmf
  tests/prepare/artifact/nvr-edge-cases/test.sh
Owners: none

Change jq to be installed from updates on fedora-rawhide
  tests/prepare/artifact/nvr-edge-cases/package-with-dependency/test.sh
  tests/prepare/artifact/nvr-edge-cases/package-without-dependency/data/test.sh
  tests/prepare/artifact/nvr-edge-cases/package-without-dependency/test.sh
Owners: none

Move provision tests to run on Fedora-latest
  .packit.yaml
Owners: none

Changed exception raise in file.py
  tmt/libraries/file.py
Owners: none

add markup language to HTML support for stories for exporter
  examples/polarion-story/README.md
  examples/polarion-story/story.fmf
  examples/polarion-story/tests/auth/basic.fmf
  examples/polarion-story/tests/auth/ldap.fmf
  tmt/export/polarion.py
Owners: @KwisatzHaderach

Add Polarion story export with test case linking and custom fields
  examples/polarion-story/README.md
  examples/polarion-story/story.fmf
  examples/polarion-story/tests/auth/basic.fmf
  examples/polarion-story/tests/auth/ldap.fmf
  examples/polarion-story/tests/auth/oauth.fmf
  polarion-inspect/README.md
  polarion-inspect/polarion-inspect.py
  tmt/cli/_root.py
  tmt/export/polarion.py
Owners: @KwisatzHaderach

add markup language to HTML support for stories for exporter
  examples/polarion-story/README.md
  tmt/export/polarion.py
Owners: @KwisatzHaderach

changes related to PR comments
  tmt/export/polarion.py
Owners: @KwisatzHaderach

tested again
  examples/polarion-story/tests/auth/basic.fmf
  examples/polarion-story/tests/auth/ldap.fmf
  examples/polarion-story/tests/auth/oauth.fmf
Owners: none

apply PR review comments
  examples/polarion-story/story.fmf
  examples/polarion-story/tests/auth/basic.fmf
  examples/polarion-story/tests/auth/ldap.fmf
  examples/polarion-story/tests/auth/oauth.fmf
  tmt/export/polarion.py
  tmt/utils/__init__.py
Owners: @KwisatzHaderach

Move back provision tests to run on Fedora-latest (#4266)
  .packit.yaml
Owners: none

Add a short release note
  docs/releases/pending/4535.fmf
Owners: none

Add missing subpackages to `tmt+all` requires
  packaging/rpm/tmt.spec
Owners: none

changes for reversed linking
  examples/polarion-story/README.md
  examples/polarion-story/story.fmf
  examples/polarion-story/tests/auth/basic.fmf
  examples/polarion-story/tests/auth/ldap.fmf
  examples/polarion-story/tests/auth/oauth.fmf
  tmt/export/polarion.py
Owners: @KwisatzHaderach

explicitly state the filename of an artifact
  tmt/steps/prepare/artifact/providers/__init__.py
Owners: none

address comments: add complex rpm name(correct file)
  tests/unit/artifact/test_file.py
  tests/unit/artifact/test_koji.py
Owners: none

refactor: move RpmVersion class to provider base
  tests/unit/artifact/test_koji.py
  tmt/steps/prepare/artifact/providers/__init__.py
  tmt/steps/prepare/artifact/providers/copr_build.py
  tmt/steps/prepare/artifact/providers/file.py
  tmt/steps/prepare/artifact/providers/koji.py
Owners: none

chore: remove unnecessary imports by loading plugins for tests
  tests/unit/artifact/conftest.py
  tests/unit/artifact/test_copr_repository.py
  tests/unit/artifact/test_file.py
  tests/unit/artifact/test_repository.py
Owners: none

address comments: add test for complex filenames too
  tests/unit/artifact/test_file.py
Owners: none

address comments: Remove ArtifactInfo generic type parameter
  tests/unit/artifact/test_base.py
  tmt/steps/prepare/artifact/__init__.py
  tmt/steps/prepare/artifact/providers/__init__.py
  tmt/steps/prepare/artifact/providers/copr_build.py
  tmt/steps/prepare/artifact/providers/copr_repository.py
  tmt/steps/prepare/artifact/providers/file.py
  tmt/steps/prepare/artifact/providers/koji.py
  tmt/steps/prepare/artifact/providers/repository.py
  tmt/steps/prepare/artifact/providers/repository_url.py
Owners: none

refactor
  tests/unit/artifact/__init__.py
  tests/unit/artifact/conftest.py
  tests/unit/artifact/test_base.py
  tests/unit/artifact/test_brew.py
  tests/unit/artifact/test_copr_build.py
  tests/unit/artifact/test_copr_repository.py
  tests/unit/artifact/test_file.py
  tests/unit/artifact/test_koji.py
  tests/unit/artifact/test_repository.py
  tmt/steps/prepare/artifact/__init__.py
  tmt/steps/prepare/artifact/providers/__init__.py
  tmt/steps/prepare/artifact/providers/brew.py
  tmt/steps/prepare/artifact/providers/copr_build.py
  tmt/steps/prepare/artifact/providers/copr_repository.py
  tmt/steps/prepare/artifact/providers/file.py
  tmt/steps/prepare/artifact/providers/koji.py
  tmt/steps/prepare/artifact/providers/repository.py
  tmt/steps/prepare/artifact/providers/repository_url.py
Owners: none

fix: failing unit tests
  tests/unit/artifact/test_base.py
  tmt/steps/prepare/artifact/providers/__init__.py
Owners: none

address comments...
  tests/unit/artifact/test_file.py
Owners: none

address comments: add complex rpm names
  tests/unit/artifact/test_file.py
Owners: none

reverted renaming of artifact property
  tests/unit/artifact/test_base.py
  tests/unit/artifact/test_brew.py
  tests/unit/artifact/test_copr_build.py
  tests/unit/artifact/test_file.py
  tests/unit/artifact/test_koji.py
  tests/unit/artifact/test_repository.py
  tmt/steps/prepare/artifact/providers/__init__.py
  tmt/steps/prepare/artifact/providers/copr_build.py
  tmt/steps/prepare/artifact/providers/copr_repository.py
  tmt/steps/prepare/artifact/providers/file.py
  tmt/steps/prepare/artifact/providers/koji.py
  tmt/steps/prepare/artifact/providers/repository.py
  tmt/steps/prepare/artifact/providers/repository_url.py
Owners: none

implement persistence
  tests/unit/artifact/test_base.py
  tmt/steps/prepare/artifact/__init__.py
  tmt/steps/prepare/artifact/providers/__init__.py
Owners: none

implement duplicate detection
  tests/unit/artifact/test_base.py
  tmt/steps/prepare/artifact/__init__.py
Owners: none

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi
