Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

use UNITS for image_cache_age default instead of cast
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

add show_default for image_cache_age option
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

squash: update mailmap and uv.lock
  .mailmap
  uv.lock
Owners: none

Include links to "linter" project tabs in release guidelines
  .github/PULL_REQUEST_TEMPLATE/release.md
Owners: none

squash: add release note
  docs/releases/pending/environment-precedence.fmf
Owners: none

Move UNITS registry out of tmt.hardware
  tests/unit/test_data_size_validation.py
  tmt/hardware/__init__.py
  tmt/utils/units.py
Owners: none

Update remaining call sites to use tmt.utils.units
  tmt/base/core.py
  tmt/hardware/constraints.py
  tmt/steps/report/reportportal.py
  tmt/utils/__init__.py
Owners: @4N0body5

Extend exit code test for container transport
  tests/execute/codes/main.fmf
  tests/execute/codes/test.sh
Owners: none

Add image URL caching support for testcloud provisioner (#5146)
  .mailmap
  pyproject.toml
  tmt/hardware/constraints.py
  tmt/steps/provision/testcloud.py
  tmt/utils/__init__.py
  uv.lock
Owners: @lbrabec

Fix filter comment
  packaging/rpm/tmt.rpmlintrc
Owners: none

fix rpmlint failures in RPM packaging
  packaging/rpm/tmt.rpmlintrc
  packaging/rpm/tmt.spec
Owners: none

Add filter for no-documentation warnings
  packaging/rpm/tmt.rpmlintrc
Owners: none

Fix `rpmlint` failures in RPM packaging (#5163)
  packaging/rpm/tmt.rpmlintrc
  packaging/rpm/tmt.spec
Owners: none

Discover and load tmt subcommands via entrypoint
  pyproject.toml
  tmt/__main__.py
Owners: none

squash: post-rebase fixes
  tmt/__main__.py
Owners: none

squash: resurrection
  pyproject.toml
  tmt/__main__.py
Owners: none

Release 1.79.0
  docs/releases/1.79.0/4928.fmf
  docs/releases/1.79.0/5073.fmf
  docs/releases/1.79.0/python.fmf
Owners: none

Run plans in parallel
  tmt/base/plan.py
  tmt/base/run.py
  tmt/queue.py
  tmt/steps/__init__.py
Owners: none

Add RISC-V support for testcloud provision
  tmt/schemas/common.yaml
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

Bump testcloud version requirement to >= 0.11.9 for RISC-V support
  packaging/rpm/tmt.spec
  pyproject.toml
Owners: none

Update requires, `riscv` support will be in 0.12.0
  packaging/rpm/tmt.spec
  pyproject.toml
Owners: none

Update uv.lock
  uv.lock
Owners: none

squash: add missing release notes
  docs/releases/1.79.0/4872.fmf
  docs/releases/1.79.0/4906.fmf
  docs/releases/1.79.0/5034.fmf
  docs/releases/1.79.0/5141.fmf
  docs/releases/1.79.0/5146.fmf
Owners: none

squash: add new contributors
  docs/overview.rst
Owners: none

Narrow xfail cases
  tests/prepare/artifact/install-cases.sh
Owners: none

Add a short release note
  docs/releases/pending/4964.fmf
Owners: none

Drop the `typing_extensions` requirement
  .pre-commit-config.yaml
  docs/ext/tmt_domain/autodoc.py
  pyproject.toml
  tests/unit/test_queue.py
  tmt/_compat/importlib/readers.py
  tmt/_compat/pydantic.py
  tmt/_compat/typing.py
  tmt/_compat/warnings.py
  tmt/ansible.py
  tmt/base/core.py
  tmt/base/links.py
  tmt/cli/__init__.py
  tmt/config/models/themes.py
  tmt/container/__init__.py
  tmt/export/__init__.py
  tmt/guest/__init__.py
  tmt/hardware/constraints.py
  tmt/log.py
  tmt/package_managers/__init__.py
  tmt/package_managers/_rpm.py
  tmt/plugins/__init__.py
  tmt/queue.py
  tmt/steps/__init__.py
  tmt/steps/discover/fmf.py
  tmt/steps/discover/shell.py
  tmt/steps/prepare/artifact/providers/__init__.py
  tmt/steps/prepare/artifact/providers/copr_repository.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/mock.py
  tmt/steps/report/junit.py
  tmt/steps/report/reportportal.py
  tmt/templates/__init__.py
  tmt/utils/__init__.py
  tmt/utils/environment.py
  tmt/utils/filesystem.py
  tmt/utils/signals.py
  tmt/utils/wait.py
  uv.lock
Owners: @4N0body5

Drop the deprecated `Logger.warn()` method
  tmt/_compat/warnings.py
  tmt/log.py
Owners: none

Include a short release note about the dropped method
  docs/releases/pending/5173.fmf
Owners: none

squash: update mailmap
  .mailmap
Owners: none

Allow control over the number of queue workers
  docs/overview.rst
  tests/unit/test_queue.py
  tmt/queue.py
Owners: none

Release 1.79.0 (#5153)
  .mailmap
  docs/overview.rst
  docs/releases/1.79.0/4872.fmf
  docs/releases/1.79.0/4906.fmf
  docs/releases/1.79.0/4928.fmf
  docs/releases/1.79.0/5034.fmf
  docs/releases/1.79.0/5073.fmf
  docs/releases/1.79.0/5141.fmf
  docs/releases/1.79.0/5146.fmf
  docs/releases/1.79.0/python.fmf
Owners: none

Fix incorrect `-Sauto` given to Ansible
  tmt/guest/__init__.py
Owners: none

Fix incorrect `-Sauto` given to Ansible (#5183)
  tmt/guest/__init__.py
Owners: none

`display` report plugin shall now include `finish` phases
  docs/releases/pending/report-display-include-finish.fmf
  tmt/steps/finish/__init__.py
  tmt/steps/report/display.py
Owners: none

squash: guess
  tests/unit/test_queue.py
Owners: none

Push guest topology just once
  tmt/guest/__init__.py
  tmt/steps/execute/internal.py
  tmt/steps/prepare/shell.py
  tmt/steps/provision/__init__.py
Owners: none

Revert python3.15 skip (#5015)
  plans/sanity/main.fmf
  tests/precommit/main.fmf
  tests/sanity/pip/install.fmf
  tests/unit/main.fmf
Owners: none

Move ruamel.yaml.clib dependency to spec file
  packaging/rpm/tmt.spec
  pyproject.toml
  uv.lock
Owners: none

Handle top-level file changes more properly
  docs/releases/pending/4927.fmf
  tmt/steps/discover/fmf.py
Owners: none

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi
