Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi

Release 1.55.0
  docs/overview.rst
Owners: none

log git head-commit-ref in info verbosity
  tests/discover/references.sh
  tmt/utils/git.py
Owners: none

rename log line to commit-hash
  tests/discover/references.sh
  tmt/utils/git.py
Owners: none

Silence mypy/pyright reporting issues in ReST rendering
  tmt/utils/rest.py
Owners: none

workaround hatch version truncation
  .packit.yaml
Owners: none

Force hatch to use explicit git describe to prevent version mismatch
  pyproject.toml
Owners: none

Silence mypy/pyright reporting issues in ReST rendering (#3966)
  pyproject.toml
  tmt/utils/rest.py
Owners: none

Release 1.55.0
  docs/overview.rst
Owners: none

Release 1.55.0 (#3939)
  docs/overview.rst
Owners: none

Resolve aarch64 test platform issue
  Makefile
  tests/unit/__init__.py
  tests/unit/test_package_managers.py
Owners: none

Address test failure caused by unset aarch64 container
  tests/unit/__init__.py
Owners: none

Resolve aarch64 test platform issue - review update
  Makefile
Owners: none

Resolve aarch64 test platform issue (#3906)
  Makefile
  tests/unit/__init__.py
  tests/unit/test_package_managers.py
Owners: none

Add a `Code Assistant` section to the `Contribute` guide
  docs/contribute.rst
Owners: none

Add a `Code Assistant` section to the `Contribute` guide (#3969)
  docs/contribute.rst
Owners: none

squash: update
  tmt/steps/provision/mrack.py
  tmt/utils/__init__.py
Owners: @dav-pascual

squash:update
  tests/provision/beaker/bootc.sh
  tests/provision/beaker/data/main.fmf
  tmt/schemas/provision/beaker.yaml
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

squash: polish
  tests/provision/beaker/data/main.fmf
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

squash:paas
  tmt/schemas/provision/beaker.yaml
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

Support `bootc` installation for `mrack` plugin (#3728)
  tmt/schemas/provision/beaker.yaml
  tmt/steps/provision/mrack.py
  tmt/utils/__init__.py
Owners: @dav-pascual

squash: update according to cursor feedback
  tests/provision/beaker/bootc.sh
  tests/provision/beaker/data/main.fmf
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

squash: address comments^^
  tmt/steps/provision/mrack.py
  tmt/utils/__init__.py
Owners: @dav-pascual

squash:extend test
  tests/provision/beaker/bootc.sh
  tests/provision/beaker/data/main.fmf
  tests/provision/beaker/main.fmf
Owners: none

Extract abort-related properties from test invocation
  tmt/checks/internal/abort.py
  tmt/steps/abort.py
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
Owners: none

squash: Update tmt/cli/run.py
  tmt/cli/run.py
Owners: none

Extract `tmt run` from `tmt.cli` into standalone module
  tmt/__main__.py
  tmt/cli/_root.py
  tmt/cli/run.py
Owners: none

Add ability to dynamic phases to a plan's step
  tmt/base.py
  tmt/steps/__init__.py
Owners: none

Move prepare dist-git to use new add_phase interface
  tmt/steps/prepare/distgit.py
Owners: none

Use ParamSpec usage in retry() function for proper args/kwargs annotations
  tmt/utils/__init__.py
Owners: none

squash: Apply suggestion from @vaibhavdaren
  tmt/utils/__init__.py
Owners: none

Move the docs `make generate` to dedicated extension
  docs/conf.py
  docs/ext/tmt_setup.py
  pyproject.toml
Owners: none

Move the extension to builder-inited stage
  docs/ext/tmt_setup.py
Owners: none

Use `ParamSpec` in `retry()` function for proper args/kwargs annotations (#3951)
  tmt/utils/__init__.py
Owners: none

Unmangle output by removing the command prefix
  tests/unit/test_cli_actions.py
  tmt/trying.py
Owners: @falconizmi

Improve test coverage
  tests/unit/test_cli_actions.py
  tests/unit/test_try.py
  tmt/trying.py
Owners: @falconizmi

Include a realease note for 1.56
  docs/releases.rst
Owners: none

Set interactive flag & use tmt.utils.show_exception_as_warning
  tests/unit/test_cli_actions.py
  tmt/trying.py
Owners: @falconizmi

Unmask actual error in th output
  tests/unit/test_cli_actions.py
  tmt/trying.py
Owners: @falconizmi

Implement running command on host as a menu option
  tests/unit/test_try.py
  tmt/trying.py
Owners: @falconizmi

chore: removed unintentional line commit
  tmt/trying.py
Owners: @falconizmi
