Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

squash: fix tests
  tests/unit/test_guest.py
  tmt/utils/feeling_safe.py
Owners: none

squash: fix typo
  tmt/utils/feeling_safe.py
Owners: none

squash: fix typo
  tests/unit/test_guest.py
Owners: none

squash: post-rebase
  tests/plan/select/test.sh
  tests/provision/ssh-options/test.sh
  tests/test/select/test.sh
  tmt/base/core.py
  tmt/guest/__init__.py
  tmt/utils/feeling_safe.py
Owners: none

squash: address comments
  tests/core/feeling-safe/test.sh
  tests/unit/test_feeling_safe.py
  tmt/base/run.py
  tmt/cli/_root.py
  tmt/options.py
  tmt/utils/feeling_safe.py
Owners: none

squash: fix test
  tests/provision/ssh-options/test.sh
Owners: none

squash: fix tests
  tests/unit/test_filesystem.py
Owners: none

Add support for excluding files based on .gitignore to copy_tree
  tmt/base/plan.py
  tmt/steps/discover/fmf.py
  tmt/utils/filesystem.py
Owners: none

squash: git ignore != ignore .git
  tests/unit/test_filesystem.py
  tmt/base/plan.py
  tmt/steps/discover/fmf.py
  tmt/utils/filesystem.py
Owners: none

squash: fix test
  tests/unit/test_filesystem.py
Owners: none

Fix src-layout references
  .github/workflows/step-shellcheck.yml
  .pre-commit-config.yaml
  docs/ext/sphinx_apidoc.py
  packaging/rpm/tmt.spec
  pyproject.toml
Owners: none

Declare minimum python version to 3.12
  .github/workflows/step-pre-commit.yml
  .pre-commit-config.yaml
  pyproject.toml
Owners: none

Cleanup _compat
  pyproject.toml
  tmt/_compat/importlib/__init__.py
  tmt/_compat/importlib/metadata.py
  tmt/_compat/importlib/readers.py
  tmt/_compat/importlib/resources.py
  tmt/_compat/pydantic.py
  tmt/_compat/typing.py
  tmt/base/core.py
  tmt/base/links.py
  tmt/cli/__init__.py
  tmt/config/models/themes.py
  tmt/container/__init__.py
  tmt/export/__init__.py
  tmt/guest/__init__.py
  tmt/hardware/constraints.py
  tmt/log.py
  tmt/package_managers/__init__.py
  tmt/package_managers/_rpm.py
  tmt/plugins/__init__.py
  tmt/queue.py
  tmt/steps/__init__.py
  tmt/steps/discover/fmf.py
  tmt/steps/discover/shell.py
  tmt/steps/prepare/artifact/providers/__init__.py
  tmt/steps/prepare/artifact/providers/copr_repository.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/mock.py
  tmt/steps/report/junit.py
  tmt/steps/report/reportportal.py
  tmt/utils/__init__.py
  tmt/utils/environment.py
  tmt/utils/signals.py
  tmt/utils/wait.py
Owners: @4N0body5

Cleanup dependencies
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Owners: none

Drop the koji workaround
  plans/main.fmf
Owners: none

use _full_nevra_querytag
  tmt/package_managers/dnf.py
Owners: none

Provide YumEngine.list_packages()
  tmt/package_managers/dnf.py
Owners: none

Add artifact repository-file test for centos-7
  tests/prepare/artifact/providers/repository-file/data/.gitignore
  tests/prepare/artifact/providers/repository-file/data/main.fmf
  tests/prepare/artifact/providers/repository-file/data/test.sh
  tests/prepare/artifact/providers/repository-file/test-bar-local.repo
  tests/prepare/artifact/providers/repository-file/test.sh
Owners: none

Add a prepare step to install and use the tmt development files
  plans/main.fmf
Owners: none

Provide YumEngine.list_packages() (#5107)
  tests/prepare/artifact/providers/repository-file/data/.gitignore
  tests/prepare/artifact/providers/repository-file/data/main.fmf
  tests/prepare/artifact/providers/repository-file/data/test.sh
  tests/prepare/artifact/providers/repository-file/test-bar-local.repo
  tests/prepare/artifact/providers/repository-file/test.sh
  tmt/package_managers/dnf.py
Owners: none

Separate intrinsic environment variables
  tmt/base/plan.py
  tmt/guest/__init__.py
  tmt/steps/context/abort.py
  tmt/steps/context/pidfile.py
  tmt/steps/context/reboot.py
  tmt/steps/context/restart.py
  tmt/steps/context/restraint.py
  tmt/steps/execute/__init__.py
  tmt/steps/prepare/shell.py
  tmt/steps/provision/local.py
  tmt/utils/environment.py
Owners: none

squash: missed one
  tmt/base/plan.py
Owners: none

squash: fix condition
  tmt/guest/__init__.py
Owners: none

Adding methods for building environment in the right order
  tmt/base/plan.py
  tmt/guest/__init__.py
  tmt/steps/context/__init__.py
  tmt/steps/context/abort.py
  tmt/steps/context/pidfile.py
  tmt/steps/context/reboot.py
  tmt/steps/context/restart.py
  tmt/steps/context/restraint.py
  tmt/steps/execute/__init__.py
  tmt/steps/prepare/shell.py
  tmt/steps/provision/local.py
  tmt/steps/provision/podman.py
  tmt/utils/environment.py
Owners: none

squash: tests
  tests/core/environment-precedence/data/.fmf/version
  tests/core/environment-precedence/data/dump-envvars.sh
  tests/core/environment-precedence/data/main.fmf
  tests/core/environment-precedence/data/plan-environment.env
  tests/core/environment-precedence/data/populate-plan-environment-file.sh
  tests/core/environment-precedence/data/run-environment.env
  tests/core/environment-precedence/main.fmf
  tests/core/environment-precedence/test.sh
  tests/core/plan-env-file/data/main.fmf
  tests/core/plan-env-file/main.fmf
  tests/core/plan-env-file/test.sh
Owners: none

squash: finalize docs
  docs/environment.rst
  docs/index.rst
  tmt/utils/environment.py
Owners: none

squash: drop todo, but for real
  docs/conf.py
Owners: none

squash: update
  docs/environment.rst
Owners: none

Document environment variable precedence
  docs/conf.py
  docs/environment.rst
  docs/index.rst
Owners: none

squash: mention user
  docs/environment.rst
Owners: none

squash: current state finalization
  docs/environment.rst
Owners: none

squash: drop todo extension
  docs/conf.py
Owners: none

squash: more CLI
  docs/environment.rst
Owners: none

squash: agreement
  docs/environment.rst
Owners: none

squash: cleanup
  docs/environment.rst
Owners: none

squash: address comments
  tests/plan/import/basic.sh
  tmt/log.py
Owners: none

Limit verbose/debug levels
  docs/overview.rst
  tests/core/environment/test.sh
  tmt/checks/avc.py
  tmt/checks/dmesg.py
  tmt/guest/__init__.py
  tmt/log.py
  tmt/options.py
  tmt/steps/__init__.py
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
  tmt/steps/provision/local.py
  tmt/steps/provision/mock.py
  tmt/steps/provision/podman.py
  tmt/trying.py
  tmt/utils/__init__.py
Owners: @falconizmi

squash: post-rebase
  tmt/log.py
Owners: none

squash: address some comments
  tmt/log.py
  tmt/utils/__init__.py
Owners: none

squash: fix unittests
  tests/unit/test_guest.py
Owners: none

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi
