Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

fix ansible root key import path
  tmt/base.py
Owners: none

fix lint
  docs/releases.rst
  tests/provision/ansible-inventory/data/.fmf/version
  tests/provision/ansible-inventory/data/playbooks/webservers-playbook.yaml
  tests/provision/ansible-inventory/main.fmf
  tests/provision/ansible-inventory/test.sh
Owners: none

updates
  tmt/ansible.py
  tmt/base.py
  tmt/schemas/ansible.yaml
  tmt/schemas/common.yaml
  tmt/schemas/plan.yaml
  tmt/schemas/provision/beaker.yaml
  tmt/schemas/provision/virtual.yaml
  tmt/steps/provision/__init__.py
Owners: none

mark local and container as not implemented
  spec/plans/ansible.fmf
  tmt/steps/provision/local.py
  tmt/steps/provision/podman.py
Owners: none

make inventory generation lazy property
  tests/provision/ansible-inventory/data/plan.fmf
  tests/provision/ansible-inventory/data/playbooks/minimal-playbook.yaml
  tests/provision/ansible-inventory/test.sh
  tmt/steps/provision/__init__.py
Owners: none

add release comment and mention version
  docs/releases.rst
  spec/plans/ansible.fmf
  spec/plans/provision.fmf
Owners: none

update spec
  spec/plans/ansible.fmf
  spec/plans/provision.fmf
Owners: none

update type handling
  tmt/ansible.py
Owners: none

remove unused normalized function
  tests/recipe/data/recipe.yaml
  tmt/ansible.py
Owners: none

replace union with Optional
  tmt/ansible.py
Owners: none

updates feedback
  tmt/ansible.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/local.py
Owners: none

add type control for ansible keys
  tmt/ansible.py
Owners: none

explicit full path
  tmt/steps/provision/__init__.py
Owners: none

Properly handle incomplete runs in `tmt cleanup` (#2882)
  tmt/base.py
  tmt/utils/__init__.py
Owners: none

Add beaker job group validation tests
  tests/provision/beaker/dry.sh
Owners: none

Add install_repository and list_packages function to package manager
  tmt/package_managers/__init__.py
  tmt/package_managers/dnf.py
Owners: none

Update tmt/package_managers/__init__.py
  tmt/package_managers/__init__.py
Owners: none

fix docstring for install_repository function
  tmt/package_managers/__init__.py
Owners: none

Type hiniting changes for the missing repository class
  tmt/package_managers/__init__.py
  tmt/package_managers/dnf.py
Owners: none

add suggestions from code review
  tmt/package_managers/__init__.py
  tmt/package_managers/dnf.py
Owners: none

dropped query format from list_packages
  tmt/package_managers/dnf.py
Owners: none

rename packages to list_packages
  tmt/package_managers/__init__.py
  tmt/package_managers/dnf.py
Owners: none

Use `to_yaml` filter when changing complex objects in policies (#4144)
  spec/policy.fmf
  tests/policy/data/main.fmf
  tests/policy/policies/test/check.yaml
  tests/policy/test.sh
Owners: none

Add a new `Sprints` section to the `Contribute` page (#4194)
  docs/contribute.rst
  docs/releases.rst
Owners: none

Fix SSH key placement and add sudo permissions for non-root user (#3989)
  tests/provision/user/test.sh
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

Temporarily disable koji tests until replaced by mock (#4217)
  tests/unit/artifact/test_koji.py
Owners: none

Provide check_presence method for the mock package manager
  tmt/package_managers/mock.py
Owners: none

Use `Literal` and `TypeGuard`s (#4148)
  pyproject.toml
  tmt/_compat/typing.py
  tmt/base.py
  tmt/steps/__init__.py
Owners: none

Add abc all-around (#4096)
  tests/unit/test_guest.py
  tmt/base.py
  tmt/container/__init__.py
  tmt/export/__init__.py
  tmt/frameworks/__init__.py
  tmt/hardware.py
  tmt/package_managers/__init__.py
  tmt/plugins/plan_shapers/__init__.py
  tmt/queue.py
  tmt/steps/__init__.py
  tmt/steps/discover/__init__.py
  tmt/steps/execute/__init__.py
  tmt/steps/prepare/feature/__init__.py
  tmt/steps/prepare/install.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/mrack.py
  tmt/utils/__init__.py
Owners: @dav-pascual

Replace mock's --pm-cmd with using pm_request socket for package manager operations
  tmt/package_managers/mock.py
  tmt/steps/provision/mock.py
Owners: none

Enable prepare::install test for mock provisioning
  tests/prepare/install/main.fmf
  tests/prepare/install/test.sh
Owners: none

Add install_repository and list_packages function to package manager (#4206)
  tmt/package_managers/__init__.py
  tmt/package_managers/dnf.py
Owners: none

Enable prepare::require test for mock provisioning
  tests/prepare/require/main.fmf
  tests/prepare/require/test.sh
  tmt/package_managers/mock.py
Owners: none

squash: guest variable
  tmt/steps/report/reportportal.py
Owners: @4N0body5

Add support for Immediate Auto-Analysis to the `reportportal` plugin
  docs/releases.rst
  tmt/schemas/report/reportportal.yaml
  tmt/steps/report/reportportal.py
Owners: @4N0body5

squash: improve help text
  tmt/steps/report/reportportal.py
Owners: @4N0body5

Enable prepare::recommend test for mock provisioning
  tests/prepare/recommend/main.fmf
  tests/prepare/recommend/test.sh
  tmt/steps/prepare/install.py
Owners: none

Add support for Immediate Auto-Analysis to the `reportportal` plugin (#4191)
  docs/releases.rst
  tmt/schemas/report/reportportal.yaml
  tmt/steps/report/reportportal.py
Owners: @4N0body5

Fix issues with the original code
  tmt/package_managers/bootc.py
  tmt/steps/prepare/install.py
Owners: none

install: Check for package existence early
  tmt/steps/prepare/install.py
Owners: none

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi
