Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

Change unit test to pytest and move fixtures to conftest
  tests/unit/conftest.py
  tests/unit/test_id.py
Owners: none

Add suggestions from code review
  tests/unit/conftest.py
  tests/unit/test_export_to_nitrate.py
  tests/unit/test_id.py
  tests/unit/test_utils.py
Owners: none

Change test_export_to_nitrate.py to pytest
  tests/unit/conftest.py
  tests/unit/test_export_to_nitrate.py
Owners: none

add suggestions from code review
  tests/unit/conftest.py
  tests/unit/test_export_to_nitrate.py
  tests/unit/test_id.py
Owners: none

Add suggestions from code review
  tests/unit/test_export_to_nitrate.py
  tests/unit/test_id.py
Owners: none

Let's try to pick the latest pydantic
  tmt/_compat/pydantic.py
Owners: none

Enable `fedora-rawhide` builds and tests again
  .packit.yaml
Owners: none

Test environment variable override functionality
  tests/provision/environment/data/plans.fmf
  tests/provision/environment/test.sh
Owners: none

Change unit test to pytest and move common fixtures to conftest (#3920)
  tests/unit/conftest.py
  tests/unit/test_export_to_nitrate.py
  tests/unit/test_id.py
  tests/unit/test_utils.py
Owners: none

Don't check whether default transformers exist (#3699)
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

Don't check whether a default transformer exists (#3699)
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

Pydantic v1 and v2 support
  tmt/_compat/pydantic.py
  tmt/config/__init__.py
  tmt/config/models/themes.py
  tmt/container/__init__.py
  tmt/policy.py
Owners: none

Use annotationlib
  pyproject.toml
  tmt/_compat/annotationlib.py
  tmt/utils/__init__.py
Owners: none

Adjust pydantic test messages
  tests/unit/test_config.py
Owners: none

make tests more dry
  tests/unit/test_filesystem.py
Owners: none

Disable tests due to missing Python3.14 PyPI wheels
  tests/pip/install.fmf
  tests/precommit/main.fmf
  tests/provision/container/toolbox/main.fmf
  tests/unit/main.fmf
Owners: none

Propagate kernel options from kickstart to Beaker jobs
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

squash: pre-commit
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

Resolve Sphinx test fail
  docs/plugins/provision-header.inc.rst
  docs/releases.rst
  tmt/steps/provision/__init__.py
Owners: none

Update tests/unit/test_filesystem.py
  tests/unit/test_filesystem.py
Owners: none

add suggestions from code review
  tests/unit/test_filesystem.py
Owners: none

Redirect web_git_url to local paths
  docs/conf.py
Owners: none

Remove the previous linkcheck workarounds
  .github/workflows/doc-tests.yml
  docs/conf.py
Owners: none

Add linkcheck cache to GH cache
  .github/workflows/doc-tests.yml
Owners: none

Simple cache mechanism for linkchecks
  docs/conf.py
Owners: none

squash: post-rebase polishing
  tmt/checks/avc.py
  tmt/checks/dmesg.py
  tmt/utils/hints.py
Owners: none

Dmesg and AVC check add note explaining `skip` outcome
  tests/test/check/test-dmesg.sh
  tmt/checks/__init__.py
  tmt/checks/avc.py
  tmt/checks/dmesg.py
  tmt/utils/hints.py
Owners: none

Link provision page from releases
  docs/releases.rst
  tmt/steps/provision/__init__.py
Owners: none

Propagate kernel options from kickstart to Beaker jobs (#3341)
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

Update docs/releases.rst
  docs/releases.rst
Owners: none

Remove job_owner and HW requirements walkaround (#3948)
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

Display help info for environment
  tmt/steps/provision/__init__.py
Owners: none

change test_filesystem.py to use pytest like other tests. (#3930)
  tests/unit/test_filesystem.py
Owners: none

Link provision page from releases
  docs/releases.rst
Owners: none

Revert "Link provision page from releases"
  docs/releases.rst
Owners: none

Memory key in-sync with hardware and provision
  tests/provision/memory/data/.fmf/version
  tests/provision/memory/data/plans.fmf
  tests/provision/memory/main.fmf
  tests/provision/memory/test.sh
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

Update default provisioning for tests
  tests/provision/memory/test.sh
Owners: none

Revert to 0 based indexing
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

Updated based on PR feedback
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

Throw error when context values are missing values
  tests/discover/parametrize.sh
  tmt/utils/__init__.py
Owners: none

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi
