Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi

Simplify the `requires_git` detection
  tmt/steps/discover/fmf.py
Owners: none

Refactor plan environment composition
  tmt/base.py
Owners: none

squash: rename parameter
  tmt/base.py
Owners: none

Prevent tmt scripts from running outside of test context
  tmt/steps/scripts/tmt-abort
  tmt/steps/scripts/tmt-file-submit
  tmt/steps/scripts/tmt-reboot
  tmt/steps/scripts/tmt-report-result
Owners: none

squash: address comments
  docs/releases.rst
  tmt/steps/report/reportportal.py
Owners: @4N0body5

Refactor plan fmf context composition
  tmt/base.py
  tmt/result.py
  tmt/steps/__init__.py
  tmt/steps/discover/fmf.py
  tmt/steps/execute/__init__.py
  tmt/steps/report/html/template.html.j2
  tmt/steps/report/polarion.py
  tmt/steps/report/reportportal.py
  tmt/utils/__init__.py
Owners: @KwisatzHaderach, @4N0body5

squash: change logger
  tmt/steps/report/reportportal.py
Owners: @4N0body5

Add submitted files as logs
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
  tmt/steps/execute/scripts/tmt-file-submit
Owners: none

Adjusted tests and code
  tests/discover/filtering.sh
  tmt/steps/discover/__init__.py
  tmt/steps/discover/fmf.py
Owners: none

squash:update
  tests/provision/beaker/bootc.sh
  tests/provision/beaker/data/main.fmf
  tmt/schemas/provision/beaker.yaml
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

squash:paas
  tmt/schemas/provision/beaker.yaml
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

Moved to TestInvocation, fixed script
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
  tmt/steps/execute/scripts/tmt-file-submit
Owners: none

Change logs to logging
  docs/overview.rst
Owners: none

Add log topic utility to overview guide
  docs/overview.rst
Owners: none

Add log topic utility to overview guide (#3803)
  docs/overview.rst
Owners: none

Switch linter outcome colors to themes
  tmt/cli/__init__.py
  tmt/cli/_root.py
  tmt/cli/lint.py
  tmt/config/models/themes.py
  tmt/config/themes/default.yaml
  tmt/config/themes/plain.yaml
  tmt/lint.py
Owners: none

Update renovate config, format pre-commig config
  .github/renovate.json
  .pre-commit-config.yaml
Owners: none

Migrate renovate config, add auto-migration
  .github/renovate.json
Owners: none

Refactoring task queue, part 1
  tmt/queue.py
  tmt/steps/__init__.py
  tmt/steps/execute/__init__.py
  tmt/steps/finish/__init__.py
  tmt/steps/prepare/__init__.py
  tmt/steps/provision/__init__.py
Owners: none

Add note on internal check plugins, and mark their docs as reviewed
  docs/plugins/test-checks-header.inc.rst
  docs/scripts/generate-plugins.py
  tmt/checks/internal/abort.py
  tmt/checks/internal/interrupt.py
  tmt/checks/internal/invocation.py
  tmt/checks/internal/permission.py
  tmt/checks/internal/timeout.py
Owners: none

Prevent tmt scripts from running outside of test context
  tmt/steps/scripts/tmt-abort
  tmt/steps/scripts/tmt-file-submit
  tmt/steps/scripts/tmt-reboot
  tmt/steps/scripts/tmt-report-result
Owners: none

Removed journal.xml special handling
  tmt/frameworks/beakerlib.py
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
  tmt/steps/scripts/tmt-file-submit
Owners: none

Add tests for env file
  tests/core/env/test.sh
Owners: none

Prevent tmt scripts from running outside of test context (#3833)
  tmt/steps/scripts/tmt-abort
  tmt/steps/scripts/tmt-file-submit
  tmt/steps/scripts/tmt-reboot
  tmt/steps/scripts/tmt-report-result
Owners: none

Mention gitlab auth options, upstream doc links
  docs/overview.rst
Owners: none

Update docs/overview.rst
  docs/overview.rst
Owners: none

Clear up cloning private repositories in GitLab
  docs/overview.rst
Owners: none

Update docs/overview.rst
  docs/overview.rst
Owners: none

Clear up cloning private repositories in GitLab (#3720)
  docs/overview.rst
Owners: none

Describe Ansible inventory generation feature
  spec/plans/ansible.fmf
  spec/plans/provision.fmf
Owners: none

Add support for Ansible inventory file
  tmt/schemas/ansible.yaml
  tmt/schemas/common.yaml
  tmt/schemas/provision/artemis.yaml
  tmt/schemas/provision/beaker.yaml
  tmt/schemas/provision/bootc.yaml
  tmt/schemas/provision/connect.yaml
  tmt/schemas/provision/minute.yaml
  tmt/schemas/provision/virtual.yaml
  tmt/steps/provision/__init__.py
Owners: none

Added test, moved log to test invocation path
  docs/releases.rst
  tests/execute/filesubmit/test.sh
  tmt/frameworks/beakerlib.py
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
  tmt/steps/scripts/tmt-file-submit
Owners: none

Improved docs
  docs/releases.rst
Owners: none

Added check for relative paths in results.yaml
  tests/execute/filesubmit/test.sh
Owners: none

Mention the public tmt web service instance
  docs/guide.rst
  docs/releases.rst
Owners: none

Mention the public tmt web service instance (#3842)
  docs/guide.rst
  docs/releases.rst
Owners: none

Improved log path handling
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
  tmt/steps/scripts/tmt-file-submit
Owners: none

Nitpicks
  docs/releases.rst
  tmt/frameworks/beakerlib.py
  tmt/steps/scripts/tmt-file-submit
Owners: none

Report failed reconnect
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
  tmt/utils/__init__.py
Owners: none

Update the release tab link, move the links down
  docs/contribute.rst
Owners: none
