Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi

squash: agreement
  docs/environment.rst
Owners: none

squash: current state finalization
  docs/environment.rst
Owners: none

squash: drop todo extension
  docs/conf.py
Owners: none

squash: mention user
  docs/environment.rst
Owners: none

Document environment variable precedence
  docs/conf.py
  docs/environment.rst
  docs/index.rst
Owners: none

squash: more document
  docs/environment.rst
Owners: none

Drop BaseResult.show() method, it is no longer needed
  tmt/result.py
Owners: none

Drop `BaseResult.show()` method, it is no longer needed (#5026)
  tmt/result.py
Owners: none

squash: fix tests
  tests/unit/test_results.py
Owners: none

squash: typo
  tmt/steps/__init__.py
Owners: none

Add a "collection of results" class for collection-wide actions
  tmt/base/run.py
  tmt/result.py
  tmt/steps/__init__.py
  tmt/steps/execute/__init__.py
  tmt/steps/execute/upgrade.py
  tmt/steps/prepare/__init__.py
  tmt/steps/report/__init__.py
Owners: none

squash: address comments
  tmt/result.py
  tmt/steps/__init__.py
  tmt/steps/execute/__init__.py
Owners: none

Drop explicit envvar handling from reportportal keys
  tmt/steps/report/reportportal.py
Owners: @4N0body5

Revert SHARED_REPO_NAME to avoid string duplication
  tmt/steps/prepare/artifact/__init__.py
  tmt/steps/prepare/artifact/providers/__init__.py
Owners: none

Add release note for configurable artifact repository name
  docs/releases/pending/5073.fmf
Owners: none

Add log assertion for custom artifact repository name
  tests/prepare/artifact/basic.sh
Owners: none

Allow configuring the shared artifact repository name (#5073)
  tmt/schemas/prepare/artifact.yaml
  tmt/steps/prepare/artifact/__init__.py
Owners: none

Pass configured repository name to download providers and clean up help text
  tmt/steps/prepare/artifact/__init__.py
  tmt/steps/prepare/artifact/providers/__init__.py
  tmt/steps/prepare/artifact/providers/copr_build.py
  tmt/steps/prepare/artifact/providers/file.py
  tmt/steps/prepare/artifact/providers/koji.py
Owners: none

Add test coverage for repository-name option in artifact basic test
  tests/prepare/artifact/basic/plan.fmf
Owners: none

Drop explicit envvar handling from reportportal keys (#4978)
  tmt/steps/report/reportportal.py
Owners: @4N0body5

ty as yet another type checker
  .pre-commit-config.yaml
  pyproject.toml
Owners: none

ty as yet another type checker (#5058)
  .pre-commit-config.yaml
  pyproject.toml
Owners: none

Fix `timedelta` creation in `Waiting.time_over`
  tmt/utils/wait.py
Owners: none

Custom lock/rlock classes owning the protected data
  tests/unit/test_threading.py
  tmt/utils/_threading.py
Owners: none

squash: fix typo
  tmt/utils/_threading.py
Owners: none

add --use-local-image flag to skip image download in testcloud provisioner
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

Allow configuring the shared artifact repository name (#5073)
  tmt/schemas/prepare/artifact.yaml
  tmt/steps/prepare/artifact/__init__.py
Owners: none

Add release note for configurable artifact repository name
  docs/releases/pending/5073.fmf
Owners: none

drop default value of repo_id
  tmt/steps/prepare/artifact/providers/__init__.py
Owners: none

Revert SHARED_REPO_NAME to avoid string duplication
  tmt/steps/prepare/artifact/__init__.py
  tmt/steps/prepare/artifact/providers/__init__.py
Owners: none

Add test coverage for repository-name option in artifact basic test
  tests/prepare/artifact/basic/plan.fmf
Owners: none

Pass configured repository name to download providers and clean up help text
  tmt/steps/prepare/artifact/__init__.py
  tmt/steps/prepare/artifact/providers/__init__.py
  tmt/steps/prepare/artifact/providers/copr_build.py
  tmt/steps/prepare/artifact/providers/file.py
  tmt/steps/prepare/artifact/providers/koji.py
Owners: none

Add log assertion for custom artifact repository name
  tests/prepare/artifact/basic.sh
Owners: none

Fix `timedelta` creation in `Waiting.time_over` (#5120)
  tmt/utils/wait.py
Owners: none

Custom lock/rlock classes owning the protected data
  tests/unit/test_threading.py
  tmt/utils/_threading.py
Owners: none

squash: fix typo
  tmt/utils/_threading.py
Owners: none

add --use-local-image flag to skip image download in testcloud provisioner
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

add image URL caching support for testcloud provisioner
  pyproject.toml
  tmt/steps/provision/testcloud.py
  uv.lock
Owners: @lbrabec

Add initial support for macOS guests
  docs/releases/pending/macos-guests.fmf
  tests/unit/test_macos_guests.py
  tmt/guest/__init__.py
  tmt/package_managers/homebrew.py
  tmt/steps/context/pidfile.py
  tmt/steps/execute/internal.py
  tmt/steps/prepare/install.py
  tmt/steps/provision/connect.py
Owners: none

Extend failure pattern with 'failed'
  tmt/frameworks/shell.py
Owners: none
