Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi

shorten the summary
  tests/execute/framework/beakerlib.sh
  tests/execute/framework/beakerlib/tests.fmf
Owners: none

squash: fix post-rebase
  tmt/steps/provision/__init__.py
Owners: none

Use quay.io as image registry for tmt images
  containers/Containerfile.full
  containers/Containerfile.mini
Owners: none

Fix `tmt link` handling of links without relation
  tmt/utils/jira.py
Owners: none

squash:address comment
  tmt/utils/jira.py
Owners: none

squash:thanks
  tmt/utils/jira.py
Owners: none

Move the alternative `where` key definition to deferred stories
  spec/plans/discover.fmf
  stories/deferred/where.fmf
Owners: none

Enabling Perflint checks (#3403)
  pyproject.toml
  tests/unit/provision/testcloud/test_hw.py
  tests/unit/test_config.py
  tests/unit/test_utils.py
  tmt/convert.py
  tmt/frameworks/beakerlib.py
  tmt/result.py
  tmt/steps/discover/__init__.py
  tmt/steps/execute/__init__.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/mrack.py
  tmt/steps/report/reportportal.py
  tmt/utils/git.py
Owners: @dav-pascual, @4N0body5

Addressing feedback
  tmt/steps/execute/__init__.py
  tmt/steps/provision/__init__.py
Owners: none

Standardize directory handling in push()
  tmt/steps/execute/__init__.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/local.py
  tmt/steps/provision/podman.py
Owners: none

Documentation: fix typos in kickstart metadata in the provisioning guide (#3733)
  spec/plans/provision/kickstart.fmf
Owners: none

Tests, docstrings and fixes as per feedback
  tests/unit/test_filesystem.py
  tmt/steps/discover/fmf.py
  tmt/utils/filesystem.py
Owners: none

more feedback addressing
  tmt/utils/filesystem.py
Owners: none

Documentation: fix typos in kickstart metadata in the provisioning guide (#3733) (#3734)
  spec/plans/provision/kickstart.fmf
Owners: none

Add Evgeni V. to contributors list
  docs/overview.rst
Owners: none

Update docs/overview.rst
  docs/overview.rst
Owners: none

Fix logging of early import errors
  tmt/_bootstrap.py
  tmt/cli/__init__.py
  tmt/cli/_root.py
  tmt/plugins/__init__.py
  tmt/utils/__init__.py
Owners: none

squash: fix test
  tests/unit/test_utils.py
Owners: none

squash: post-rebase fix
  tmt/cli/_root.py
Owners: none

Add Evgeni V. to contributors list (#3722)
  docs/overview.rst
Owners: none

Extract failures from the failing checks
  tmt/checks/__init__.py
  tmt/checks/avc.py
  tmt/checks/coredump.py
  tmt/checks/dmesg.py
  tmt/frameworks/__init__.py
  tmt/frameworks/beakerlib.py
  tmt/frameworks/shell.py
  tmt/result.py
  tmt/steps/execute/__init__.py
  tmt/steps/report/junit.py
  tmt/steps/report/junit/templates/_base.xml.j2
  tmt/steps/report/junit/templates/subresults.xml.j2
  tmt/steps/report/reportportal.py
Owners: @4N0body5

Support `bootc` installation for `mrack` plugin (#3728)
  tmt/schemas/provision/beaker.yaml
  tmt/steps/provision/mrack.py
  tmt/utils/__init__.py
Owners: @dav-pascual

squash: fix junit
  tmt/steps/report/junit.py
Owners: none

Make people happy
  .github/workflows/doc-linkcheck.yml
  docs/conf.py
Owners: none

squash: raise exception
  tmt/checks/__init__.py
  tmt/checks/avc.py
  tmt/checks/coredump.py
  tmt/checks/dmesg.py
  tmt/frameworks/__init__.py
  tmt/frameworks/beakerlib.py
  tmt/frameworks/shell.py
Owners: none

squash: Update .github/workflows/doc-linkcheck.yml
  .github/workflows/doc-linkcheck.yml
Owners: none

squash: Update .github/workflows/doc-linkcheck.yml
  .github/workflows/doc-linkcheck.yml
Owners: none

squash: reuse save_failures function
  tmt/checks/__init__.py
  tmt/checks/avc.py
  tmt/checks/coredump.py
  tmt/checks/dmesg.py
  tmt/frameworks/__init__.py
  tmt/frameworks/beakerlib.py
  tmt/frameworks/shell.py
  tmt/result.py
Owners: none

squash: use lists for failures
  tmt/checks/dmesg.py
  tmt/frameworks/beakerlib.py
  tmt/frameworks/shell.py
Owners: none

Initial simple cache mechanism for linkchecks
  docs/conf.py
Owners: none

Add linkcheck cache to GH cache
  .github/workflows/doc-tests.yml
Owners: none

squash: always save failures
  tmt/checks/avc.py
  tmt/checks/coredump.py
  tmt/result.py
Owners: none

squash: rename `failures` and change to property
  tmt/result.py
  tmt/steps/report/junit/templates/_base.xml.j2
  tmt/steps/report/junit/templates/subresults.xml.j2
  tmt/steps/report/reportportal.py
Owners: @4N0body5

squash: junit changes
  tmt/steps/report/junit.py
  tmt/steps/report/junit/templates/_base.xml.j2
  tmt/steps/report/junit/templates/subresults.xml.j2
Owners: none

Handle mrack imports in MrackProxy class
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

squash: remove unrelated changes
  tmt/frameworks/__init__.py
Owners: none

Support `tasks` for `mrack` plugin
  tmt/schemas/provision/beaker.yaml
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

Refactor get_url_content
  tmt/steps/provision/mrack.py
  tmt/utils/__init__.py
Owners: @dav-pascual

Add `Beakerlib` framework verification tests (#3685)
  tests/execute/framework/beakerlib.sh
  tests/execute/framework/beakerlib/.fmf/version
  tests/execute/framework/beakerlib/fail.sh
  tests/execute/framework/beakerlib/incomplete-fail.sh
  tests/execute/framework/beakerlib/incomplete-pass.sh
  tests/execute/framework/beakerlib/pass.sh
  tests/execute/framework/beakerlib/pidlock.sh
  tests/execute/framework/beakerlib/plans.fmf
  tests/execute/framework/beakerlib/tests.fmf
  tests/execute/framework/beakerlib/timeout.sh
  tests/execute/framework/beakerlib/warn.sh
  tests/execute/framework/beakerlib/worst.sh
  tests/execute/framework/main.fmf
Owners: none

updating for report/display change
  tests/execute/framework/beakerlib.sh
  tests/execute/framework/shell.sh
Owners: none
