Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi

Add comparison mode to sprint overview script
  scripts/common.py
  scripts/sprint-overview
Owners: none

Move check requires as well, group the code, add a test
  tests/prepare/framework/data/.fmf/version
  tests/prepare/framework/data/main.fmf
  tests/prepare/framework/main.fmf
  tests/prepare/framework/test.sh
  tmt/steps/prepare/__init__.py
Owners: none

squash: address comments
  scripts/sprint-overview
Owners: none

Update documentation, add a release note
  docs/releases/pending/4802.fmf
  spec/plans/prepare.fmf
Owners: none

Split tmt.hardware into smaller modules
  pyproject.toml
  tests/unit/test_hardware.py
  tmt/guest/__init__.py
  tmt/hardware/__init__.py
  tmt/hardware/constraints.py
  tmt/hardware/requirements.py
  tmt/steps/provision/bootc.py
  tmt/steps/provision/mrack.py
  tmt/steps/provision/testcloud.py
  tmt/steps/report/reportportal.py
  tmt/utils/__init__.py
Owners: @dav-pascual, @lbrabec, @4N0body5

squash: enable pyright
  pyproject.toml
  tmt/hardware/constraints.py
Owners: none

squash: fix imports
  tests/unit/provision/mrack/test_hw.py
  tests/unit/provision/testcloud/test_hw.py
Owners: none

design changes
  tmt/package_managers/__init__.py
  tmt/package_managers/apk.py
  tmt/package_managers/apt.py
  tmt/package_managers/bootc.py
  tmt/package_managers/dnf.py
  tmt/package_managers/mock.py
  tmt/package_managers/rpm_ostree.py
  tmt/steps/prepare/artifact/__init__.py
Owners: none

Add to centralise downloads on guest
  tests/unit/artifact/test_file.py
  tests/unit/artifact/test_repository.py
  tmt/guest/__init__.py
  tmt/steps/prepare/artifact/providers/__init__.py
  tmt/steps/prepare/artifact/providers/copr_build.py
  tmt/steps/prepare/artifact/providers/file.py
  tmt/steps/prepare/artifact/providers/koji.py
  tmt/steps/prepare/artifact/providers/repository.py
Owners: none

refactor DownloadError
  tmt/guest/__init__.py
  tmt/steps/prepare/artifact/providers/__init__.py
  tmt/steps/prepare/artifact/providers/repository.py
Owners: none

address gemini comments...
  tmt/guest/__init__.py
  tmt/package_managers/__init__.py
  tmt/package_managers/dnf.py
  tmt/steps/prepare/artifact/providers/copr_repository.py
  tmt/steps/prepare/artifact/providers/repository.py
Owners: none

implement retry...
  tmt/guest/__init__.py
Owners: none

address comments...
  tmt/guest/__init__.py
Owners: none

Split tmt.hardware into smaller modules (#4774)
  pyproject.toml
  tests/unit/provision/mrack/test_hw.py
  tests/unit/provision/testcloud/test_hw.py
  tests/unit/test_hardware.py
  tmt/guest/__init__.py
  tmt/hardware/__init__.py
  tmt/hardware/constraints.py
  tmt/hardware/requirements.py
  tmt/steps/provision/bootc.py
  tmt/steps/provision/mrack.py
  tmt/steps/provision/testcloud.py
  tmt/steps/report/reportportal.py
  tmt/utils/__init__.py
Owners: @dav-pascual, @lbrabec, @4N0body5

Move `/plans/provision/container` into its own Packit job
  .packit.yaml
  plans/provision/container.fmf
Owners: none

Move `/plans/provision/container` into its own Packit job (#4400)
  .packit.yaml
  plans/provision/container.fmf
Owners: none

squash: address comments
  scripts/sprint-overview
Owners: none

Add comparison mode to sprint overview script
  scripts/common.py
  scripts/sprint-overview
Owners: none

Add comparison mode to sprint overview script (#4722)
  scripts/common.py
  scripts/sprint-overview
Owners: none

Extract `Run` from `tmt.base.core` into `tmt.base.run`
  tests/__init__.py
  tmt/__init__.py
  tmt/base/__init__.py
  tmt/base/core.py
  tmt/base/plan.py
  tmt/base/run.py
  tmt/recipe.py
  tmt/steps/__init__.py
  tmt/steps/discover/__init__.py
  tmt/steps/execute/__init__.py
  tmt/trying.py
  tmt/utils/__init__.py
Owners: @falconizmi

squash: remove placeholder
  tmt/base/run.py
Owners: none

squash: fix regression
  tmt/base/run.py
Owners: none

Extract `Run` from `tmt.base.core` into `tmt.base.run` (#4794)
  tests/__init__.py
  tmt/__init__.py
  tmt/base/__init__.py
  tmt/base/core.py
  tmt/base/plan.py
  tmt/base/run.py
  tmt/recipe.py
  tmt/steps/__init__.py
  tmt/steps/discover/__init__.py
  tmt/steps/execute/__init__.py
  tmt/trying.py
  tmt/utils/__init__.py
Owners: @falconizmi

Use the latest packages in `podman` friends plans
  plans/friends/podman.fmf
Owners: none

Just update, define the `podman` tag
  docs/contribute.rst
  plans/friends/podman.fmf
Owners: none

Revert the update part to prevent artifact install collisions
  plans/friends/podman.fmf
Owners: none

Limit verbose/debug levels
  docs/overview.rst
  tests/core/environment/test.sh
  tmt/checks/avc.py
  tmt/checks/dmesg.py
  tmt/guest/__init__.py
  tmt/log.py
  tmt/options.py
  tmt/steps/__init__.py
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
  tmt/steps/provision/local.py
  tmt/steps/provision/mock.py
  tmt/steps/provision/podman.py
  tmt/trying.py
  tmt/utils/__init__.py
Owners: @falconizmi

squash: address comments
  tmt/options.py
  tmt/trying.py
Owners: @falconizmi

Document the `podman` tag in the contribution docs (#4819)
  docs/contribute.rst
Owners: none

Fix recipe generation when execute script is provided
  tests/recipe/data/minimal.yaml
  tests/recipe/data/plans.fmf
  tests/recipe/generate.sh
  tests/recipe/load.sh
  tmt/recipe.py
Owners: none

squash: fix unittests
  tests/unit/test_guest.py
Owners: none

Fix recipe generation when execute script is provided (#4829)
  tests/recipe/data/minimal.yaml
  tests/recipe/data/plans.fmf
  tests/recipe/generate.sh
  tests/recipe/load.sh
  tmt/recipe.py
Owners: none

Release note for #4749
  docs/releases/pending/4749.fmf
Owners: none

Add resolve_disabled parameter
  tests/plan/import/basic.sh
  tests/plan/import/data/plans.fmf
  tmt/base/core.py
  tmt/base/run.py
  tmt/cli/_root.py
Owners: none

Fixups
  tests/plan/import/basic.sh
  tests/plan/import/data/plans.fmf
  tests/plan/import/inaccessible.sh
  tests/plan/import/inaccessible/.fmf/version
  tests/plan/import/inaccessible/plans.fmf
  tests/plan/import/main.fmf
  tmt/base/core.py
  tmt/base/run.py
  tmt/cli/_root.py
Owners: none

Do not resolve importing plan when it is disabled in `tmt run`
  tests/plan/import/basic.sh
  tests/plan/import/data/plans.fmf
  tmt/base/core.py
Owners: none

Pick the right tmt sources for friends plan
  plans/friends/beakerlib.fmf
  plans/friends/main.fmf
  plans/friends/podman.fmf
Owners: none

Make the top-level plan selectable for simpler extension
  plans/friends/main.fmf
Owners: none

Do not fetch disabled remote plans in `tmt run` (#4749)
  docs/releases/pending/4749.fmf
  tests/plan/import/basic.sh
  tests/plan/import/data/plans.fmf
  tests/plan/import/inaccessible.sh
  tests/plan/import/inaccessible/.fmf/version
  tests/plan/import/inaccessible/plans.fmf
  tests/plan/import/main.fmf
  tmt/base/core.py
  tmt/base/run.py
  tmt/cli/_root.py
Owners: none

Handle test framework dependencies in required packages
  tmt/steps/prepare/__init__.py
Owners: none
