Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi

Restraint context to govern restraint-related addition to execution
  tmt/steps/context/restraint.py
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
Owners: none

A "provides environment" trait for classes
  tmt/base.py
  tmt/steps/context/abort.py
  tmt/steps/context/pidfile.py
  tmt/steps/context/reboot.py
  tmt/steps/context/restart.py
  tmt/steps/context/restraint.py
  tmt/steps/execute/internal.py
  tmt/steps/provision/__init__.py
  tmt/utils/__init__.py
Owners: none

Improve creation of "report files"
  tmt/checks/avc.py
  tmt/checks/dmesg.py
  tmt/checks/journal.py
  tmt/steps/__init__.py
  tmt/steps/prepare/ansible.py
  tmt/utils/__init__.py
Owners: none

Refactor `shell` plugin to produce results
  tmt/steps/__init__.py
  tmt/steps/context/__init__.py
  tmt/steps/execute/internal.py
  tmt/steps/prepare/ansible.py
  tmt/steps/prepare/shell.py
Owners: none

Move downstream files to upstream (#4253)
  .packit.yaml
  Makefile
  packaging/.fmf/version
  packaging/plans/minimal.fmf
  packaging/plans/smoke.fmf
  packaging/plans/upstream.fmf
  packaging/rpm/gating.yaml
  packaging/rpm/rpminspect.yaml
  packaging/rpm/tmt.rpmlintrc
  packaging/rpm/tmt.spec
  pyproject.toml
  stories/cli/usability.fmf
  stories/install.fmf
  tests/discover/references-shell.sh
  tests/full/test.sh
Owners: none

squash: add release note
  docs/releases.rst
Owners: none

squash: address comments
  docs/releases.rst
  tmt/checks/avc.py
Owners: none

squash: remove isinstance assert
  tmt/checks/avc.py
Owners: none

Add support for `ignore-pattern` key in AVC check
  tests/test/check/data/main.fmf
  tests/test/check/test-avc.sh
  tmt/checks/avc.py
Owners: none

squash: address comments
  tests/test/check/data/main.fmf
  tests/test/check/test-avc.sh
Owners: none

squash: better filtering, fix bug
  tmt/checks/avc.py
Owners: none

squash: make pattern global, move release note
  docs/releases.rst
  tmt/checks/avc.py
Owners: none

Run plans in parallel
  tmt/_queue.py
  tmt/base.py
  tmt/steps/__init__.py
  tmt/steps/provision/__init__.py
Owners: none

Discover and load tmt subcommands via entrypoint
  pyproject.toml
  tmt/__main__.py
Owners: none

Discover and load tmt subcommands via entrypoint
  pyproject.toml
  tmt/__main__.py
Owners: none

Add support for `ignore-pattern` key in AVC check (#4248)
  docs/releases.rst
  tests/test/check/data/main.fmf
  tests/test/check/test-avc.sh
  tmt/checks/avc.py
Owners: none

Include package_name in the rpm url
  tmt/steps/prepare/artifact/providers/koji.py
Owners: none

Add `import-before-filter` option
  tests/plan/import/plan-of-plans.sh
  tmt/base.py
  tmt/cli/_root.py
  tmt/options.py
  tmt/utils/__init__.py
Owners: none

Cover expanded plan names
  tests/plan/import/plan-of-plans.sh
Owners: none

Address comments
  tests/plan/import/main.fmf
  tmt/base.py
  tmt/options.py
  tmt/utils/__init__.py
Owners: none

Document the new option
  docs/releases.rst
Owners: none

Include `package_name` in koji rpm url (#4308)
  tmt/steps/prepare/artifact/providers/koji.py
Owners: none

Add a note on what `cpu.processors` mean to tmt
  spec/hardware/cpu.fmf
Owners: none

Add missing fields to discover plugin schemas
  tmt/schemas/discover/fmf.yaml
  tmt/schemas/discover/shell.yaml
Owners: none

squash: lscpu examples
  spec/hardware/cpu.fmf
Owners: none

squash: fix typos
  spec/hardware/cpu.fmf
Owners: none

Fix broken yq command
  tests/recipe/test.sh
Owners: none

Hook PrepareShell to `TMT_PLAN_SOURCED_FILE`
  tmt/steps/prepare/shell.py
Owners: none

Handle script and command differently
  tmt/steps/provision/local.py
Owners: none

introduce `TMT_PLAN_SOURCED_FILE`
  tmt/base.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/local.py
  tmt/steps/provision/podman.py
Owners: none

Hook tests to `TMT_PLAN_SOURCED_FILE`
  tmt/steps/execute/internal.py
Owners: none

Fix recipe.yaml file
  tests/recipe/data/recipe.yaml
Owners: none

Implement for mock provision
  tmt/steps/provision/mock.py
Owners: none

Drop the sdist filter
  pyproject.toml
Owners: none

Split `provision` Packit job into per-plugin jobs
  .packit.yaml
Owners: none

Second round of 'error' naming alignment. Opportunistically removes some more formatted errors.
  docs/ext/generate_test_runner_guest_matrix.py
  tmt/utils/__init__.py
  tmt/utils/templates.py
Owners: none

Fixes unit test, from clause should set __cause__ directly
  tests/unit/test_cli.py
Owners: none

Enables B904 rule and adds 'from' clause to exception handlers
  docs/conf.py
  pyproject.toml
  tmt/ansible.py
  tmt/base.py
  tmt/checks/__init__.py
  tmt/checks/avc.py
  tmt/config/__init__.py
  tmt/convert.py
  tmt/export/__init__.py
  tmt/export/nitrate.py
  tmt/export/polarion.py
  tmt/libraries/beakerlib.py
  tmt/log.py
  tmt/package_managers/bootc.py
  tmt/result.py
  tmt/steps/__init__.py
  tmt/steps/discover/fmf.py
  tmt/steps/discover/shell.py
  tmt/steps/prepare/distgit.py
  tmt/steps/prepare/install.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/artemis.py
  tmt/steps/provision/mrack.py
  tmt/steps/provision/podman.py
  tmt/steps/provision/testcloud.py
  tmt/templates/__init__.py
  tmt/utils/__init__.py
  tmt/utils/git.py
  tmt/utils/structured_field.py
Owners: @KwisatzHaderach, @happz, @dav-pascual, @lbrabec

Removes 'error' from raise messages and first round of 'error' naming alignment
  tmt/base.py
  tmt/config/__init__.py
  tmt/export/nitrate.py
  tmt/log.py
  tmt/package_managers/bootc.py
  tmt/steps/discover/fmf.py
  tmt/steps/prepare/distgit.py
  tmt/steps/provision/mrack.py
  tmt/steps/provision/testcloud.py
  tmt/utils/__init__.py
Owners: @dav-pascual, @lbrabec

Aligns more exception namings to 'error' and handle reviews
  docs/ext/generate_test_runner_guest_matrix.py
  tmt/base.py
  tmt/checks/__init__.py
  tmt/convert.py
  tmt/steps/prepare/distgit.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/podman.py
  tmt/utils/__init__.py
Owners: none
