Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi

Augment repository files with default priority when missing (#4454)
  tmt/steps/prepare/artifact/providers/repository.py
Owners: none

introduce an apt error for unsupported methods
  tmt/steps/prepare/artifact/providers/__init__.py
  tmt/steps/prepare/artifact/providers/copr_repository.py
Owners: none

implement provider...
  tests/core/about/test.sh
  tests/unit/artifact/conftest.py
  tests/unit/artifact/test_copr_repository.py
  tmt/steps/prepare/artifact/providers/copr_build.py
  tmt/steps/prepare/artifact/providers/copr_repository.py
Owners: none

Add compatibility layer for urllib3 < 2.0.0
  tmt/utils/__init__.py
Owners: none

Document the `artifact` install plugin tech preview (#4209)
  tmt/steps/prepare/artifact/__init__.py
Owners: none

squash: fix some tests
  tests/execute/result/custom.sh
  tests/plan/create/test.sh
  tests/unit/test_hardware.py
  tests/unit/test_results.py
Owners: none

squash: reshuffle
  tmt/export/nitrate.py
  tmt/utils/__init__.py
Owners: none

squash: drop generics from return values
  tmt/utils/__init__.py
Owners: none

Refactor "to YAML" and "from YAML" helpers
  tmt/ansible.py
  tmt/base.py
  tmt/cli/about.py
  tmt/convert.py
  tmt/export/nitrate.py
  tmt/export/yaml.py
  tmt/policy.py
  tmt/recipe.py
  tmt/result.py
  tmt/steps/__init__.py
  tmt/steps/discover/__init__.py
  tmt/steps/execute/__init__.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/artemis.py
  tmt/steps/provision/mrack.py
  tmt/steps/report/reportportal.py
  tmt/trying.py
  tmt/utils/__init__.py
  tmt/utils/templates.py
Owners: @happz, @dav-pascual, @4N0body5, @falconizmi

Extract shared discover plugin logic into the step (#4391)
  docs/releases/pending/4391.fmf
  tests/discover/archive.sh
  tests/discover/data/plans.fmf
  tests/discover/keep-git-metadata/test.sh
  tests/usability/test.sh
  tmt/schemas/discover/shell.yaml
  tmt/steps/discover/__init__.py
  tmt/steps/discover/fmf.py
  tmt/steps/discover/shell.py
  tmt/steps/execute/upgrade.py
Owners: none

Do not inject plan environment into test environment (#4455)
  tmt/steps/discover/__init__.py
  tmt/steps/discover/fmf.py
  tmt/steps/execute/__init__.py
Owners: none

Add repository-url artifact provider (#4474)
  tests/core/about/test.sh
  tmt/steps/prepare/artifact/providers/repository_url.py
Owners: none

Add Claude instruction for generating release notes
  .claude/CLAUDE.md
  docs/contribute.rst
Owners: none

Implement `copr` repository provider (#4471)
  tests/core/about/test.sh
  tests/unit/artifact/conftest.py
  tests/unit/artifact/test_copr_repository.py
  tmt/steps/prepare/artifact/providers/__init__.py
  tmt/steps/prepare/artifact/providers/copr_build.py
  tmt/steps/prepare/artifact/providers/copr_repository.py
Owners: none

Document new interface
  docs/releases/pending/4427.fmf
  spec/tests/require.fmf
Owners: none

Adjust test coverage
  tests/libraries/local/data/main.fmf
  tests/libraries/local/test.sh
  tests/lint/test/data/library-missing-url-path.fmf
Owners: none

Allow beakerlib library without url/path
  tmt/libraries/beakerlib.py
  tmt/schemas/common.yaml
Owners: none

Increase retry session defaults and add environment variable override (#4408)
  docs/overview.rst
  tmt/steps/prepare/ansible.py
  tmt/utils/__init__.py
Owners: none

Refactor "to YAML" and "from YAML" helpers (#4334)
  tests/execute/result/custom.sh
  tests/plan/create/test.sh
  tests/unit/test_hardware.py
  tests/unit/test_results.py
  tmt/ansible.py
  tmt/base.py
  tmt/cli/about.py
  tmt/convert.py
  tmt/export/nitrate.py
  tmt/export/yaml.py
  tmt/policy.py
  tmt/recipe.py
  tmt/result.py
  tmt/steps/__init__.py
  tmt/steps/discover/__init__.py
  tmt/steps/execute/__init__.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/artemis.py
  tmt/steps/provision/mrack.py
  tmt/steps/report/reportportal.py
  tmt/trying.py
  tmt/utils/__init__.py
  tmt/utils/templates.py
Owners: @happz, @dav-pascual, @4N0body5, @falconizmi

Release 1.65.0
  docs/overview.rst
  docs/releases/1.65.0/3948.fmf
  docs/releases/1.65.0/4209.fmf
  docs/releases/1.65.0/4363.fmf
  docs/releases/1.65.0/4391.fmf
  docs/releases/1.65.0/4408.fmf
  docs/releases/1.65.0/4454.fmf
  docs/releases/1.65.0/4459.fmf
  docs/releases/1.65.0/4460.fmf
  docs/releases/1.65.0/4465.fmf
  docs/releases/1.65.0/4469.fmf
Owners: none

To/from "state" helpers for tmt state files
  docs/overview.rst
  spec/results.fmf
  tmt/base.py
  tmt/cli/about.py
  tmt/export/_json.py
  tmt/frameworks/beakerlib.py
  tmt/package_managers/bootc.py
  tmt/steps/__init__.py
  tmt/steps/cleanup/__init__.py
  tmt/steps/discover/__init__.py
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
  tmt/steps/finish/__init__.py
  tmt/steps/prepare/__init__.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/mrack.py
  tmt/trying.py
  tmt/utils/__init__.py
Owners: @dav-pascual, @falconizmi

squash: fix extra conversion
  tmt/steps/__init__.py
  tmt/steps/discover/__init__.py
  tmt/steps/provision/__init__.py
Owners: none

Release 1.65.0 (#4485)
  docs/overview.rst
  docs/releases/1.65.0/3948.fmf
  docs/releases/1.65.0/4209.fmf
  docs/releases/1.65.0/4363.fmf
  docs/releases/1.65.0/4391.fmf
  docs/releases/1.65.0/4408.fmf
  docs/releases/1.65.0/4454.fmf
  docs/releases/1.65.0/4459.fmf
  docs/releases/1.65.0/4460.fmf
  docs/releases/1.65.0/4465.fmf
  docs/releases/1.65.0/4469.fmf
Owners: none

Use shared constants and errors in repository-url provider
  tmt/steps/prepare/artifact/providers/repository_url.py
Owners: none

Adding a basic code profiler
  tmt/utils/_profiler.py
Owners: none

squash: address comments
  docs/releases/pending/4374.fmf
  tmt/steps/provision/podman.py
Owners: none

squash: address comments
  tests/unit/test_guest.py
  tmt/steps/provision/podman.py
Owners: none

squash: address comment
  tmt/steps/provision/podman.py
Owners: none

squash: address comment
  tmt/steps/provision/podman.py
Owners: none

squash: address comments
  tmt/steps/provision/podman.py
Owners: none

Fix race condition in podman network creation
  tmt/steps/provision/podman.py
Owners: none

squash: address comments
  docs/releases/pending/4374.fmf
Owners: none

squash: docs
  docs/releases/pending/4374.fmf
Owners: none

squash: address comment
  tmt/steps/provision/podman.py
Owners: none

squash: prefix
  tests/unit/test_guest.py
  tmt/steps/provision/podman.py
Owners: none

squash: docs
  docs/releases/pending/4374.fmf
Owners: none

squash: address comments
  tests/unit/test_guest.py
  tmt/steps/provision/podman.py
Owners: none

Deprecate and internalize discover/fmf fields
  tmt/container/__init__.py
  tmt/steps/__init__.py
  tmt/steps/discover/fmf.py
Owners: none

Add additional converter methods to FmfContext, StepData and Discover/shell
  tmt/steps/__init__.py
  tmt/steps/discover/shell.py
  tmt/utils/__init__.py
Owners: none

squash: address comments
  tmt/steps/__init__.py
  tmt/steps/discover/shell.py
  tmt/utils/__init__.py
Owners: none
