Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi

ome chaneg
  tmt/steps/cleanup/internal.py
Owners: none

poc compleded summary: Basic smoke test
  tmt/steps/cleanup/internal.py
  tmt/steps/prepare/artifact/providers/__init__.py
  tmt/steps/prepare/artifact/providers/repository.py
Owners: none

Add Respository Manager Class
  tests/unit/artifact/test_repository.py
  tmt/steps/prepare/artifact/providers/repository.py
Owners: none

add suggestions from code review 3
  tests/unit/artifact/test_repository.py
  tmt/steps/prepare/artifact/providers/__init__.py
  tmt/steps/prepare/artifact/providers/repository.py
Owners: none

add suggestions from code review
  tmt/steps/prepare/artifact/providers/repository.py
Owners: none

add suggestions from code review 2
  tests/unit/artifact/test_repository.py
  tmt/steps/prepare/artifact/providers/repository.py
Owners: none

fix pulling the plan data at the end of finish step
  tmt/steps/finish/__init__.py
Owners: none

add tests for pull after login
  tests/finish/pull/data/.fmf/version
  tests/finish/pull/data/main.fmf
  tests/finish/pull/main.fmf
  tests/finish/pull/test.sh
Owners: none

Special operator for `boot.method` HW requirement (#4184)
  tests/unit/test_hardware.py
  tmt/hardware.py
Owners: none

Missing error message during polarion test export
  docs/releases.rst
  tmt/export/nitrate.py
  tmt/export/polarion.py
Owners: @KwisatzHaderach

Improve existing mock tests
  tests/provision/mock/fedora-rawhide-x86_64/provision-prepare/data/main.fmf
  tests/provision/mock/fedora-rawhide-x86_64/provision-prepare/main.fmf
  tests/provision/mock/fedora-rawhide-x86_64/provision-prepare/test.sh
  tests/provision/mock/fedora-rawhide-x86_64/simple/data/main.fmf
Owners: none

Add more tests for mock
  tests/provision/mock/fedora-rawhide-x86_64/multiple-tests/data/.fmf/version
  tests/provision/mock/fedora-rawhide-x86_64/multiple-tests/data/main.fmf
  tests/provision/mock/fedora-rawhide-x86_64/multiple-tests/main.fmf
  tests/provision/mock/fedora-rawhide-x86_64/multiple-tests/test.sh
Owners: none

Enable some existing tests with mock provisioning
  plans/provision/mock.fmf
  tests/prepare/shell/main.fmf
  tests/provision/environment/main.fmf
  tests/provision/mock/main.fmf
Owners: none

Remove the assertion in _spawn_command
  tmt/steps/provision/mock.py
Owners: none

Add more docstrings
  tmt/package_managers/mock.py
  tmt/steps/provision/mock.py
Owners: none

Merge ManagedEpollFD and FileIO
  tmt/steps/provision/mock.py
Owners: none

Let mock shell reuse parent's attributes
  tmt/steps/provision/mock.py
Owners: none

Improvements for start/stop
  tmt/steps/provision/mock.py
Owners: none

Move Mock_shell.Stream to top level
  tmt/steps/provision/mock.py
Owners: none

Convert Path to str
  tmt/steps/provision/mock.py
Owners: none

Add installation hint for mock
  tmt/steps/provision/mock.py
Owners: none

a better api to fetch task descendents
  tests/unit/artifact/test_brew.py
  tests/unit/artifact/test_koji.py
  tmt/steps/prepare/artifact/providers/koji.py
Owners: none

Introduce an alias for build_id to get build_info
  tmt/steps/prepare/artifact/providers/koji.py
Owners: none

refactor(providers): remove duplicate session and subclass dispatch logic in Koji/Brew providers
  tmt/steps/prepare/artifact/providers/brew.py
  tmt/steps/prepare/artifact/providers/koji.py
Owners: none

Introduced registry maps
  tmt/steps/prepare/artifact/providers/brew.py
  tmt/steps/prepare/artifact/providers/koji.py
Owners: none

more context to logging
  tmt/steps/prepare/artifact/providers/koji.py
Owners: none

remove default param
  tmt/steps/prepare/artifact/providers/koji.py
Owners: none

More brew implementation & koji refactor
  tests/unit/artifact/test_brew.py
  tests/unit/artifact/test_koji.py
  tmt/steps/prepare/artifact/providers/brew.py
  tmt/steps/prepare/artifact/providers/koji.py
Owners: none

Initial brew implementation check-in
  tests/core/about/test.sh
  tests/unit/artifact/test_brew.py
  tmt/steps/prepare/artifact/providers/brew.py
  tmt/steps/prepare/artifact/providers/koji.py
Owners: none

Use `to_yaml` filter when changing complex objects in policies
  spec/policy.fmf
  tests/policy/data/main.fmf
  tests/policy/policies/test/check.yaml
  tests/policy/test.sh
Owners: none

squash: Update spec/policy.fmf
  spec/policy.fmf
Owners: none

Remap beaker group key for mrack to beaker_job_group
  pyproject.toml
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

Improve Koji artifact provider architecture
  tests/unit/artifact/test_koji.py
  tmt/steps/prepare/artifact/providers/koji.py
Owners: none

Gate sudo prefix for tmt runner guest
  tmt/steps/provision/__init__.py
Owners: none

Implement brew provider
  tests/core/about/test.sh
  tests/unit/artifact/test_brew.py
  tmt/steps/prepare/artifact/providers/brew.py
Owners: none

Add Repository Class with Tests
  tests/unit/artifact/test_repository.py
  tmt/steps/prepare/artifact/providers/__init__.py
  tmt/steps/prepare/artifact/providers/repository.py
Owners: none

probable fix for failing test
  tests/core/about/test.sh
Owners: none

Use `to_yaml` filter when changing complex objects in policies (#4144)
  spec/policy.fmf
  tests/policy/data/main.fmf
  tests/policy/policies/test/check.yaml
  tests/policy/test.sh
Owners: none

Add a short release note
  docs/contribute.rst
  docs/releases.rst
Owners: none

Fix wording
  docs/contribute.rst
Owners: none
