Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

Add `tmt about hints` command
  tmt/cli/about.py
  tmt/cli/templates/about/hints-ls.rst.j2
Owners: none

squash: Update tmt/cli/templates/about/hints-ls.rst.j2
  tmt/cli/templates/about/hints-ls.rst.j2
Owners: none

squash: missing help
  tmt/cli/about.py
Owners: none

Add `tmt about hints` command (#3709)
  tmt/cli/about.py
  tmt/cli/templates/about/hints-ls.rst.j2
Owners: none

Run dmesg and coredump commands with silent=True
  tmt/checks/coredump.py
  tmt/checks/dmesg.py
Owners: none

Better escaping in test-coredump.sh
  tests/test/check/test-coredump.sh
Owners: none

Run dmesg and coredump commands with `silent=True` (#3767)
  tests/test/check/test-coredump.sh
  tmt/checks/coredump.py
  tmt/checks/dmesg.py
Owners: none

Release 1.50.0
  docs/overview.rst
Owners: none

Interrupt current test when tmt is interrupted
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/local.py
  tmt/steps/provision/podman.py
  tmt/utils/__init__.py
  tmt/utils/signals.py
Owners: none

squash: Update tmt/utils/signals.py
  tmt/utils/signals.py
Owners: none

squash: Update tmt/steps/execute/__init__.py
  tmt/steps/execute/__init__.py
Owners: none

Release 1.50.0 (#3793)
  docs/overview.rst
Owners: none

Add `pending` result outcome to `reportportal` plugin
  tmt/steps/report/reportportal.py
Owners: @4N0body5

Describe Ansible inventory generation feature
  spec/plans/ansible.fmf
  spec/plans/provision.fmf
Owners: none

Don't check whether default transformers exist (#3699)
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

Polish provision/connect and provision/local docs
  docs/scripts/generate-plugins.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/connect.py
  tmt/steps/provision/local.py
Owners: none

fix: allow dotenv files from --environment
  tmt/utils/__init__.py
Owners: none

Switch linter outcome colors to themes
  tmt/cli/__init__.py
  tmt/cli/_root.py
  tmt/cli/lint.py
  tmt/config/models/themes.py
  tmt/config/themes/default.yaml
  tmt/config/themes/plain.yaml
  tmt/lint.py
Owners: none

squash: Update tmt/config/models/themes.py
  tmt/config/models/themes.py
Owners: none

squash:fix
  tmt/utils/__init__.py
Owners: none

Interrupt current test when tmt is interrupted
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/local.py
  tmt/steps/provision/podman.py
  tmt/utils/__init__.py
  tmt/utils/signals.py
Owners: none

squash: Update tmt/steps/execute/__init__.py
  tmt/steps/execute/__init__.py
Owners: none

squash: Update tmt/utils/signals.py
  tmt/utils/signals.py
Owners: none

Tweaks of reboot-related logging
  tests/execute/nonroot/test.sh
  tmt/steps/provision/__init__.py
  tmt/steps/provision/artemis.py
  tmt/steps/provision/testcloud.py
Owners: @happz, @lbrabec

Enable preview lint checks of ruff
  pyproject.toml
  tmt/options.py
  tmt/steps/provision/mrack.py
  tmt/steps/report/junit.py
  tmt/steps/report/reportportal.py
Owners: @dav-pascual, @4N0body5

Add ReST linter for Sphinx source documents
  .github/workflows/doc-tests.yml
  docs/scripts/generate-hardware-matrix.py
  docs/scripts/generate-lint-checks.py
  docs/scripts/generate-plugins.py
  docs/scripts/generate-template-extensions.py
  docs/scripts/generate-test-runner-guest-matrix.py
  docs/templates/story.rst.j2
  pyproject.toml
  tmt/utils/templates.py
Owners: none

Add log topic utility to overview guide
  docs/overview.rst
Owners: none

Change logs to logging
  docs/overview.rst
Owners: none

Integrated with latest main changes
  tests/discover/adjust-tests.sh
  tmt/steps/discover/fmf.py
Owners: none

Refactor DiscoverFmf.go()
  tmt/steps/discover/fmf.py
  tmt/utils/git.py
Owners: none

Removed blank line
  tmt/utils/git.py
Owners: none

Used already existing helper function
  tmt/steps/discover/fmf.py
  tmt/utils/git.py
Owners: none

Addressed Martin's comments
  tmt/steps/discover/fmf.py
Owners: none

Integrated with latest main changes
  tmt/steps/discover/fmf.py
Owners: none

Remove duplicate assert_git_url function
  tmt/utils/git.py
Owners: none

Moved assert_git function to git.py
  tests/discover/adjust-tests.sh
  tmt/steps/discover/fmf.py
  tmt/utils/git.py
Owners: none

Add `pending` result outcome to `reportportal` plugin (#3797)
  tmt/steps/report/reportportal.py
Owners: @4N0body5

Enable yamllint for many more YAML files we have
  .hadolint.yaml
  .packit.yaml
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  .readthedocs.yaml
  tmt/config/themes/default.yaml
  tmt/steps/provision/mrack/mrack-provisioning-config.yaml
Owners: @dav-pascual

Add a helper for showing exceptions as warnings
  tmt/steps/provision/mrack.py
  tmt/steps/provision/testcloud.py
  tmt/utils/__init__.py
Owners: @dav-pascual, @lbrabec

squash: address comments
  tmt/steps/__init__.py
  tmt/utils/__init__.py
Owners: none

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi
