Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi

Implement download artifact logic
  tmt/steps/prepare/brand_new_allmighty_install/providers/__init__.py
  tmt/steps/prepare/brand_new_allmighty_install/providers/koji_provider.py
Owners: none

chore: Consistent docstring with return type
  tmt/steps/prepare/brand_new_allmighty_install/providers/__init__.py
Owners: none

convert to list[str] to pattern[str] & use Iterators
  tmt/steps/prepare/brand_new_allmighty_install/providers/__init__.py
  tmt/steps/prepare/brand_new_allmighty_install/providers/koji.py
Owners: none

validate the parsed koji id is int
  tmt/steps/prepare/brand_new_allmighty_install/providers/koji_provider.py
Owners: none

Updates based on feedback
  tests/unit/providers/__init__.py
Owners: none

squash: require python-koji...
  pyproject.toml
Owners: none

Minor fixes from review
  tmt/steps/prepare/brand_new_allmighty_install/providers/__init__.py
  tmt/steps/prepare/brand_new_allmighty_install/providers/koji.py
Owners: none

Release 1.57.0
  docs/releases.rst
Owners: none

Implement local change directory action
  docs/releases.rst
  tests/unit/test_cli_actions.py
  tmt/trying.py
Owners: @falconizmi

Add comprehensive sensitive data masking for logging security
  tmt/steps/__init__.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/mrack.py
  tmt/utils/__init__.py
Owners: @dav-pascual

Fix `Report.Polarion.compose-id` schema warning
  tmt/schemas/report/polarion.yaml
Owners: none

Updates push logic so it tries first without sudo
  tmt/steps/provision/local.py
Owners: none

Adds tmt scripts installation logic to local guest
  tmt/steps/provision/local.py
Owners: none

Replaces rsync command with simple install call
  tmt/steps/provision/local.py
Owners: none

Reformulates the push logic so it considers source and destination defaults
  tmt/steps/provision/local.py
Owners: none

Changes TMT_SCRIPTS_DIR to a temp dir so any clash is avoided
  tests/provision/local/test.sh
Owners: none

Removes verbose trace
  tmt/steps/provision/local.py
Owners: none

Adding missing remove command
  tests/provision/local/test.sh
Owners: none

Adds new test case for helper scripts installation
  tests/provision/local/data/.fmf/version
  tests/provision/local/data/script.fmf
  tests/provision/local/test.sh
Owners: none

Renames test plan and adds an extra check for tmt helper scripts in test
  tests/provision/local/data/plan.fmf
  tests/provision/local/test.sh
Owners: none

Redefines scripts_path as property with a default value
  tmt/steps/provision/local.py
Owners: none

Simplifies push if statements structure
  tmt/steps/provision/local.py
Owners: none

Updates the helper script path and adds module constant
  tmt/steps/provision/local.py
Owners: none

Implements local push function and directly call parent install_scripts
  tmt/steps/provision/local.py
Owners: none

skip if source and destination are identical
  tmt/steps/provision/local.py
Owners: none

Fix `compose-id` schema for the `polarion` report plugin (#4035)
  tmt/schemas/report/polarion.yaml
Owners: none

Drop click.echo in tmt.cli
  tmt/cli/__init__.py
  tmt/cli/_root.py
  tmt/cli/about.py
  tmt/cli/lint.py
  tmt/log.py
Owners: none

squash: forgotten in rebase
  tmt/cli/about.py
Owners: none

Exclude inactive test cases from Polarion Test Case search
  docs/releases.rst
  tmt/export/polarion.py
Owners: @KwisatzHaderach

Add keys to beaker provision schema Include `key` and `order`. Fix `public-key`. Add `tmt lint` test.
  tests/provision/beaker/data/main.fmf
  tests/provision/beaker/main.fmf
  tests/provision/beaker/schema.sh
  tmt/schemas/provision/beaker.yaml
Owners: none

Revert changes to /plan/hardware Target only /plan/schema with `tmt lint`. Add additional grep check in test.
  tests/provision/beaker/data/main.fmf
  tests/provision/beaker/schema.sh
Owners: none

Add a new `Issues` section to the `Contribute` page
  docs/contribute.rst
  docs/releases.rst
Owners: none

Drop `click.echo` in `tmt.cli` (#3637)
  tmt/cli/__init__.py
  tmt/cli/_root.py
  tmt/cli/about.py
  tmt/cli/lint.py
  tmt/log.py
Owners: none

Skip chcon if selinux not used by host
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

Get rid of the `awk` dependency on guests
  docs/releases.rst
  tmt/steps/execute/internal.py
  tmt/steps/scripts/tmt-reboot
  tmt/steps/scripts/tmt-reboot-core
  tmt/steps/scripts/tmt-report-result
Owners: none

Adjust the release note
  docs/releases.rst
Owners: none

Extend html report schema to include file key
  tests/report/html/data/main.fmf
  tests/report/html/test.sh
  tmt/schemas/report/html.yaml
Owners: none

Enable the `avc` check for `centos-stream` as well
  tests/main.fmf
Owners: none

Implement priorities and groups by ActionInfo atrributes
  tmt/trying.py
Owners: @falconizmi

Check for conflict for existing commands
  tmt/trying.py
Owners: @falconizmi
