Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi

Report special events as check results
  tests/test/check/data/main.fmf
  tests/test/check/main.fmf
  tests/test/check/test-internal.sh
  tmt/checks/__init__.py
  tmt/checks/internal/__init__.py
  tmt/checks/internal/abort.py
  tmt/checks/internal/interrupt.py
  tmt/checks/internal/permission.py
  tmt/checks/internal/pidfile.py
  tmt/checks/internal/timeout.py
  tmt/plugins/__init__.py
  tmt/steps/execute/internal.py
Owners: none

squash: address comments
  tests/test/check/data/main.fmf
  tests/test/check/test-internal.sh
  tmt/checks/__init__.py
  tmt/checks/internal/__init__.py
  tmt/checks/internal/abort.py
  tmt/checks/internal/interrupt.py
  tmt/checks/internal/invocation_error.py
  tmt/checks/internal/permission.py
  tmt/checks/internal/timeout.py
Owners: none

squash: add docstrings
  tmt/checks/internal/__init__.py
  tmt/checks/internal/abort.py
  tmt/checks/internal/interrupt.py
  tmt/checks/internal/invocation_error.py
  tmt/checks/internal/permission.py
  tmt/checks/internal/timeout.py
Owners: none

squash: drop custom `before_test` method
  tmt/checks/internal/abort.py
  tmt/checks/internal/interrupt.py
  tmt/checks/internal/invocation_error.py
  tmt/checks/internal/permission.py
  tmt/checks/internal/timeout.py
Owners: none

squash: add release note
  docs/releases.rst
Owners: none

Add ReST linter for Sphinx source documents
  .github/workflows/doc-tests.yml
  docs/scripts/generate-hardware-matrix.py
  docs/scripts/generate-lint-checks.py
  docs/scripts/generate-plugins.py
  docs/scripts/generate-template-extensions.py
  docs/scripts/generate-test-runner-guest-matrix.py
  docs/templates/story.rst.j2
  pyproject.toml
  tmt/utils/templates.py
Owners: none

squash: fix tests
  tests/execute/framework/beakerlib.sh
  tests/execute/ignore-duration/test.sh
  tests/execute/restraint/tmt-abort/test.sh
  tests/execute/result/basic.sh
  tests/report/html/test.sh
Owners: none

Addressed Martin's comments
  tmt/steps/discover/fmf.py
Owners: none

Report special events as check results (#3785)
  docs/releases.rst
  tests/core/about/test.sh
  tests/execute/framework/beakerlib.sh
  tests/execute/framework/shell.sh
  tests/execute/ignore-duration/test.sh
  tests/execute/restraint/tmt-abort/test.sh
  tests/execute/result/basic.sh
  tests/report/html/test.sh
  tests/test/check/data/main.fmf
  tests/test/check/main.fmf
  tests/test/check/test-internal.sh
  tmt/checks/__init__.py
  tmt/checks/internal/__init__.py
  tmt/checks/internal/abort.py
  tmt/checks/internal/interrupt.py
  tmt/checks/internal/invocation.py
  tmt/checks/internal/permission.py
  tmt/checks/internal/timeout.py
  tmt/frameworks/beakerlib.py
  tmt/frameworks/shell.py
  tmt/plugins/__init__.py
  tmt/steps/execute/internal.py
Owners: none

Store output patterns in the `Hint` class
  tmt/steps/provision/__init__.py
  tmt/steps/provision/local.py
  tmt/steps/provision/podman.py
  tmt/utils/hints.py
Owners: none

Drop the initial implementation
  tmt/utils/hints.py
Owners: none

Improve the `ansible-not-available` hint detection
  tmt/steps/provision/__init__.py
  tmt/steps/provision/local.py
  tmt/steps/provision/podman.py
  tmt/utils/hints.py
Owners: none

Add `cast` to make `pyright` happy
  tmt/utils/hints.py
Owners: none

Fix a typo
  tmt/utils/hints.py
Owners: none

Adds share tests documentation into the examples guide
  docs/examples.rst
Owners: none

Adds missing identation and changes TMT to tmt
  docs/examples.rst
Owners: none

Fix not needed identations
  docs/examples.rst
Owners: none

Improve the `ansible-not-available` hint detection (#3727)
  tmt/steps/provision/__init__.py
  tmt/steps/provision/local.py
  tmt/steps/provision/podman.py
  tmt/utils/hints.py
Owners: none

Introduce a new label `ci | skip` for disabling tests
  .packit.yaml
  docs/contribute.rst
Owners: none

Disable the docs test as well
  .github/workflows/doc-tests.yml
Owners: none

Introduce a new label `ci | skip` for disabling tests (#3777)
  .github/workflows/doc-tests.yml
  .packit.yaml
  docs/contribute.rst
Owners: none

squash:thanks
  tmt/utils/jira.py
Owners: none

squash:update
  tmt/utils/jira.py
Owners: none

squash:address comment
  tmt/utils/jira.py
Owners: none

squash:all relations
  tmt/utils/jira.py
Owners: none

Add a short release note about the change
  docs/releases.rst
Owners: none

Fix `tmt link` handling of links without relation
  tmt/utils/jira.py
Owners: none

Mention gitlab auth options, upstream doc links
  docs/overview.rst
Owners: none

Fix `tmt link` handling of links without relation (#3395)
  docs/releases.rst
  tmt/utils/jira.py
Owners: none

Retry fetching url for distro name in `testcloud`
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

Use more specific constant names
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

Retry fetching url for distro name in `testcloud` (#3787)
  tmt/steps/provision/testcloud.py
Owners: @lbrabec

Logger's print() no longer shifts the output
  tmt/log.py
  tmt/steps/provision/mrack.py
  tmt/utils/__init__.py
Owners: @dav-pascual

Adjust one more test case affected by the change
  tests/unit/test_logging.py
Owners: none

Adjust the expected `print()` message prefix
  tests/unit/test_logging.py
Owners: none

Logger's `print()` no longer shifts the output (#3636)
  tests/unit/test_logging.py
  tmt/log.py
  tmt/steps/provision/mrack.py
  tmt/utils/__init__.py
Owners: @dav-pascual

Preferred communication with contributors
  docs/contribute.rst
Owners: none

Improve the wording a bit
  docs/contribute.rst
Owners: none

Moved to PR section
  docs/contribute.rst
Owners: none

Preferred communication with contributors (#3783)
  docs/contribute.rst
Owners: none
