Repository teemtee/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @happz, @dav-pascual, @lbrabec, @KwisatzHaderach, @4N0body5, @falconizmi

complete implementation
  tests/unit/artifact/test_file.py
  tmt/steps/prepare/artifact/providers/file.py
Owners: none

probable fix for failing ci test/s
  tests/core/about/test.sh
Owners: none

Initial implementation check-in
  tmt/steps/prepare/artifact/providers/file.py
Owners: none

Gate sudo prefix for tmt runner guest
  tmt/steps/provision/__init__.py
Owners: none

refactor helpers and fixxtures
  tests/unit/artifact/conftest.py
  tests/unit/artifact/test_brew.py
  tests/unit/artifact/test_koji.py
  tests/unit/artifact/utils.py
Owners: none

refactor tests to use mocks instead of integration
  tests/unit/artifact/conftest.py
  tests/unit/artifact/test_brew.py
  tests/unit/artifact/test_koji.py
Owners: none

move helpers
  tests/unit/artifact/__init__.py
  tests/unit/artifact/test_brew.py
  tests/unit/artifact/test_koji.py
  tests/unit/artifact/utils.py
Owners: none

Support `system.type` hw requirement for `mrack` (#3079)
  tests/unit/provision/mrack/test_hw.py
  tmt/steps/provision/mrack.py
Owners: @dav-pascual

Add python 3.13 for pre-commit
  .github/workflows/pre-commit.yml
Owners: none

Add more tests for mock
  tests/provision/mock/fedora-rawhide-x86_64/multiple-tests/data/.fmf/version
  tests/provision/mock/fedora-rawhide-x86_64/multiple-tests/data/main.fmf
  tests/provision/mock/fedora-rawhide-x86_64/multiple-tests/main.fmf
  tests/provision/mock/fedora-rawhide-x86_64/multiple-tests/test.sh
Owners: none

Improve existing mock tests
  tests/provision/mock/fedora-rawhide-x86_64/provision-prepare/data/main.fmf
  tests/provision/mock/fedora-rawhide-x86_64/provision-prepare/main.fmf
  tests/provision/mock/fedora-rawhide-x86_64/provision-prepare/test.sh
  tests/provision/mock/fedora-rawhide-x86_64/simple/data/main.fmf
Owners: none

Improve tests
  tests/provision/mock/fedora-rawhide-x86_64/multiple-tests/data/main.fmf
  tests/provision/mock/fedora-rawhide-x86_64/multiple-tests/test.sh
  tests/provision/mock/fedora-rawhide-x86_64/provision-prepare/data/main.fmf
  tests/provision/mock/fedora-rawhide-x86_64/provision-prepare/test.sh
  tests/provision/mock/fedora-rawhide-x86_64/simple/data/main.fmf
  tests/provision/mock/fedora-rawhide-x86_64/simple/test.sh
Owners: none

Remove the assertion in _spawn_command
  tmt/steps/provision/mock.py
Owners: none

Enable some existing tests with mock provisioning
  plans/provision/mock.fmf
  tests/prepare/shell/main.fmf
  tests/provision/environment/main.fmf
  tests/provision/mock/main.fmf
Owners: none

Share data directory for mock tests
  tests/provision/mock/fedora-rawhide-x86_64/data/.fmf/version
  tests/provision/mock/fedora-rawhide-x86_64/data/main.fmf
  tests/provision/mock/fedora-rawhide-x86_64/multiple-tests/test.sh
  tests/provision/mock/fedora-rawhide-x86_64/provision-prepare/test.sh
  tests/provision/mock/fedora-rawhide-x86_64/simple/data/.fmf/version
  tests/provision/mock/fedora-rawhide-x86_64/simple/data/main.fmf
  tests/provision/mock/fedora-rawhide-x86_64/simple/test.sh
Owners: none

Implement timeout for mock execute
  tests/execute/duration/main.fmf
  tmt/steps/provision/mock.py
Owners: none

Enable prepare::require test for mock provisioning
  tests/prepare/require/main.fmf
  tests/prepare/require/test.sh
  tmt/package_managers/mock.py
Owners: none

Enable prepare::recommend test for mock provisioning
  tests/prepare/recommend/main.fmf
  tests/prepare/recommend/test.sh
  tmt/steps/prepare/install.py
Owners: none

Enable prepare::install test for mock provisioning
  tests/prepare/install/main.fmf
  tests/prepare/install/test.sh
Owners: none

Replace mock's --pm-cmd with using pm_request socket for package manager operations
  tmt/package_managers/mock.py
  tmt/steps/provision/mock.py
Owners: none

Add python 3.13 for pre-commit (#4271)
  .github/workflows/pre-commit.yml
Owners: none

Move bootc tests to F42 for now
  tests/execute/tmt-scripts/main.fmf
Owners: none

Add Polarion story export with test case linking and custom fields
  examples/polarion-story/README.md
  examples/polarion-story/story.fmf
  examples/polarion-story/tests/auth/basic.fmf
  examples/polarion-story/tests/auth/ldap.fmf
  examples/polarion-story/tests/auth/oauth.fmf
  stories/install.fmf
  tests/link/basic/main.fmf
  tmt/cli/_root.py
  tmt/export/polarion.py
Owners: @KwisatzHaderach

squash: build the image
  tests/execute/tmt-scripts/test.sh
Owners: none

squash: add the image...
  Makefile
  containers/fedora/42/bootc/Containerfile
Owners: none

Bump test durations for now
  tests/finish/ansible/main.fmf
  tests/prepare/ansible/main.fmf
  tests/prepare/install/main.fmf
Owners: none

Move bootc tests to F42 for now (#4272)
  Makefile
  containers/fedora/42/bootc/Containerfile
  tests/execute/tmt-scripts/main.fmf
  tests/execute/tmt-scripts/test.sh
  tests/finish/ansible/main.fmf
  tests/prepare/ansible/main.fmf
  tests/prepare/install/main.fmf
Owners: none

Add ids all tests, not just finished
  docs/releases.rst
  tests/execute/pending-ids/data/.fmf/version
  tests/execute/pending-ids/data/main.fmf
  tests/execute/pending-ids/main.fmf
  tests/execute/pending-ids/test.sh
  tmt/base.py
  tmt/result.py
  tmt/steps/execute/__init__.py
Owners: none

Add a short release note
  docs/releases.rst
Owners: none

Include explanatory comment
  tmt/steps/provision/__init__.py
Owners: none

Refresh package metadata before installing `rsync`
  tmt/steps/provision/__init__.py
Owners: none

Sync facts before doing any actions
  tmt/steps/provision/__init__.py
Owners: none

Add test coverage for supported images
  tests/provision/virtual/dependencies/main.fmf
  tests/provision/virtual/images/data/.fmf/version
  tests/provision/virtual/images/data/main.fmf
  tests/provision/virtual/images/main.fmf
  tests/provision/virtual/images/test.sh
  tests/provision/virtual/main.fmf
Owners: none

feat: Add Polarion story export with automatic test case linking
  examples/polarion-story/README.md
  examples/polarion-story/story.fmf
  examples/polarion-story/tests/auth/basic.fmf
  examples/polarion-story/tests/auth/ldap.fmf
  examples/polarion-story/tests/auth/oauth.fmf
  polarion-inspect/BACKWARD_COMPATIBILITY_REMOVAL.md
  polarion-inspect/CUSTOM_FIELDS_DISCOVERY.md
  polarion-inspect/POLARION_CODE_CLEANUP_SUMMARY.md
  polarion-inspect/README.md
  polarion-inspect/check_work_item_suds.py
  polarion-inspect/discover_custom_fields.py
  polarion-inspect/inspect_polarion_fields_v2.py
  polarion-inspect/list_polarion_service_methods.py
  polarion-inspect/verify_custom_fields.py
  tmt/cli/_root.py
  tmt/export/polarion.py
Owners: @KwisatzHaderach

refactor: Consolidate polarion-inspect scripts into single tool
  polarion-inspect/BACKWARD_COMPATIBILITY_REMOVAL.md
  polarion-inspect/CUSTOM_FIELDS_DISCOVERY.md
  polarion-inspect/POLARION_CODE_CLEANUP_SUMMARY.md
  polarion-inspect/README.md
  polarion-inspect/check_work_item_suds.py
  polarion-inspect/discover_custom_fields.py
  polarion-inspect/inspect_polarion_fields_v2.py
  polarion-inspect/list_polarion_service_methods.py
  polarion-inspect/polarion-inspect.py
  polarion-inspect/verify_custom_fields.py
Owners: none

refactor: Replace argparse with click in polarion-inspect
  polarion-inspect/README.md
  polarion-inspect/polarion-inspect.py
Owners: none

fix: Update default work item IDs to use RHELCOCKPIT-723
  polarion-inspect/polarion-inspect.py
Owners: none

Fix polarion-inspect custom and enums commands, update .gitignore
  .gitignore
  polarion-inspect/polarion-inspect.py
Owners: none

Add Polarion story export with test case linking and custom fields
  examples/polarion-story/README.md
  examples/polarion-story/story.fmf
  examples/polarion-story/tests/auth/basic.fmf
  examples/polarion-story/tests/auth/ldap.fmf
  examples/polarion-story/tests/auth/oauth.fmf
  polarion-inspect/README.md
  polarion-inspect/polarion-inspect.py
  tmt/cli/_root.py
  tmt/export/polarion.py
Owners: @KwisatzHaderach

Drop the hatch cache usage
  .github/actions/setup-docs-env/action.yml
  .github/workflows/doc-tests.yml
Owners: none

.github/CODEOWNERS:

# Provision plugins
/tmt/steps/provision/artemis.py     @happz
/tmt/steps/provision/mrack*         @dav-pascual
/tmt/steps/provision/testcloud.py   @lbrabec

# Report plugins
/tmt/steps/report/polarion.py       @KwisatzHaderach
/tmt/steps/report/reportportal.py   @4N0body5

# Export plugins
/tmt/export/polarion.py             @KwisatzHaderach

# Specific areas
/tmt/trying.py                      @falconizmi
