Repository teemtee/tmt, pull requests merged in 2020-11, with the labels that each got.

#428 Store complete initialized data in metadata.yaml
  tests/execute/metadata/data/.fmf/version
  tests/execute/metadata/data/plan.fmf
  tests/execute/metadata/data/test.fmf
  tests/execute/metadata/main.fmf
  tests/execute/metadata/test.sh
  tmt/base.py
  tmt/steps/execute/__init__.py
Labels: discover, execute

#433 Export manual attribute
  tmt/export.py
Labels: bug, export

#435 Recommend using login shell in libvirt hints
  docs/questions.rst
Labels: documentation, provision

#439 First stories to cover tests coverage mapping.
  docs/conf.py
  docs/stories.rst
  stories/coverage.fmf
Labels: stories

#442 Adjust a little bit the user story templates
  tmt/templates.py
Labels: tmt story

#451 Update beakerlib path
  tests/test/import/data/parent/child/runtest.sh
  tests/test/import/test.sh
  tmt/convert.py
Labels: enhancement, import, tmt test

#407 Import Makefile environment variables
  tests/test/import/data/parent/child/Makefile
  tests/test/import/test.sh
  tmt/convert.py
Labels: enhancement, import

#443 Implement adjusting metadata based on the context
  docs/conf.py
  docs/spec.rst
  spec/context/dimension.fmf
  spec/context/main.fmf
  spec/context/trigger.fmf
  spec/core/adjust.fmf
  spec/plans/artifact.fmf
  spec/plans/context.fmf
  spec/tests/relevancy.fmf
  tests/core/adjust/data/.fmf/version
  tests/core/adjust/data/context.yaml
  tests/core/adjust/data/plans.fmf
  tests/core/adjust/data/tests.fmf
  tests/core/adjust/main.fmf
  tests/core/adjust/test.sh
  tmt/base.py
  tmt/cli.py
  tmt/steps/discover/fmf.py
  tmt/utils.py
Labels: context, enhancement, specification

#455 Improve report-html --open
  tmt/steps/report/html.py
Labels: enhancement, report

#452 Fix blocking read in Common.run
  tmt/utils.py
Labels: utils

#458 Improve the css style for the html report
  tmt/steps/report/html.py
Labels: enhancement, report

#460 Update required fmf version in setup.py
  setup.py
Labels: packaging

#459 Use 'output.txt' filename for the main test output
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
  tmt/steps/execute/run.sh
  tmt/steps/report/display.py
Labels: enhancement, execute, report

#463 Move html report plugin into a separate subpackage
  tmt.spec
Labels: must, packaging, report

#462 Add a new plan to cover minimal installation
  tests/core/adjust/main.fmf
  tests/execute/metadata/main.fmf
  tmt/steps/provision/podman.py
  try/container/minimal.fmf
Labels: packaging, tests
