Repository teemtee/tmt, pull requests merged in 2020-05, with the labels that each got.

#232 Escape package names during installation
  tests/prepare/install/data/.fmf/version
  tests/prepare/install/data/escape.fmf
  tests/prepare/install/main.fmf
  tests/prepare/install/test.sh
  tmt/steps/prepare/install.py
Labels: prepare

#227 Convert the execute step into dynamic plugins
  docs/modules.rst
  spec/steps/execute.fmf
  tests/discover/references.sh
  tests/env/test.sh
  tests/execute/basic/data/.fmf/version
  tests/execute/basic/data/bad.sh
  tests/execute/basic/data/good.sh
  tests/execute/basic/data/need.sh
  tests/execute/basic/data/plan.fmf
  tests/execute/basic/data/test.fmf
  tests/execute/basic/data/weird.sh
  tests/execute/basic/main.fmf
  tests/execute/basic/test.sh
  tests/unit/steps/test_execute.py
  tmt/__init__.py
  tmt/base.py
  tmt/cli.py
  tmt/steps/__init__.py
  tmt/steps/discover/__init__.py
  tmt/steps/execute/__init__.py
  tmt/steps/execute/base.py
  tmt/steps/execute/beakerlib.py
  tmt/steps/execute/run.sh
  tmt/steps/execute/shell.py
  tmt/steps/execute/simple.py
  tmt/steps/prepare/__init__.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/podman.py
  tmt/utils.py
Labels: enhancement, execute, plugins

#228 Convert the report step into dynamic plugins
  docs/modules.rst
  tests/core/dry/main.fmf
  tests/core/dry/test.sh
  tests/report/summary/data/.fmf/version
  tests/report/summary/data/main.fmf
  tests/report/summary/main.fmf
  tests/report/summary/test.sh
  tmt/base.py
  tmt/cli.py
  tmt/steps/discover/fmf.py
  tmt/steps/execute/simple.py
  tmt/steps/report/__init__.py
  tmt/steps/report/display.py
Labels: enhancement, plugins, report

#235 Update the last run id at the very end of run
  tmt/base.py
Labels: enhancement, tmt run

#234 Support short Fedora compose aliases in testcloud
  tmt/steps/provision/testcloud.py
Labels: enhancement, provision

#236 Implement tmt run --since, --until and --skip
  stories/cli/run.fmf
  tests/step/select/data/.fmf/version
  tests/step/select/data/plan.fmf
  tests/step/select/main.fmf
  tests/step/select/test.sh
  tmt/base.py
  tmt/cli.py
Labels: enhancement, tmt run

#231 Add support for installing local rpm packages
  Makefile
  tests/prepare/basic/data/.fmf/version
  tests/prepare/basic/data/main.fmf
  tests/prepare/basic/main.fmf
  tests/prepare/basic/test.sh
  tests/prepare/install/data/epel6.fmf
  tests/prepare/install/data/epel7.fmf
  tests/prepare/install/main.fmf
  tests/prepare/install/test.sh
  tmt/steps/prepare/install.py
  tmt/utils.py
Labels: enhancement, prepare

#237 Add support for tmt run --after and --before
  tests/step/select/test.sh
  tmt/base.py
  tmt/cli.py
Labels: enhancement

#225 Add 1minutetip provision plugin
  tmt/steps/provision/minute.py
Labels: enhancement, provision

#243 Disable Tier 3 tests by default (need bare metal)
  plans/basic.fmf
Labels: tests

#244 Import and listify of contact
  tmt/base.py
  tmt/convert.py
  tmt/export.py
Labels: enhancement, export, import

#242 When exporting to nitrate link general plan as well
  tmt/base.py
  tmt/cli.py
  tmt/export.py
Labels: export, tmt test

#241 More verbose modes for report --how display
  tmt/steps/report/display.py
Labels: enhancement, report

#245 Clean up the run workdir if --force provided
  tests/core/force/data/.fmf/version
  tests/core/force/data/plan.fmf
  tests/core/force/main.fmf
  tests/core/force/test.sh
  tmt/utils.py
Labels: bug, tmt run

#248 Remove vagrant from requires until it's in epel8
  Makefile
  tests/unit/steps/test_provision.py
  tmt.spec
Labels: packaging

#26 Enable epel for packit build & testing farm
  .packit.yaml
Labels: tests

#251 Move podman and testcloud plugins into subpackages
  tmt.spec
Labels: packaging, plugins

#252 Use consistent naming for provision subpackages
  tmt.spec
  tmt/steps/provision/testcloud.py
Labels: packaging

#250 Use emulator_path instead of hard-coded qemu path
  tmt.spec
  tmt/steps/provision/testcloud.py
Labels: testcloud

#257 Add support for running tests without defined plan
  docs/examples.rst
  stories/cli/run.fmf
  tests/run/default/main.fmf
  tests/run/default/test.sh
  tests/unit/test_cli.py
  tmt/base.py
  tmt/steps/discover/fmf.py
  tmt/steps/discover/shell.py
  tmt/steps/execute/simple.py
  tmt/utils.py
Labels: enhancement, tmt run

#260 Add support for shortened 1MT image names
  tmt/steps/provision/minute.py
Labels: enhancement, plugins, provision

#258 New login command to provide a shell on guest
  docs/examples.rst
  stories/cli/run.fmf
  tests/login/main.fmf
  tests/login/step.sh
  tests/login/when.sh
  tests/unit/steps/test_execute.py
  tmt/base.py
  tmt/cli.py
  tmt/steps/__init__.py
  tmt/steps/discover/__init__.py
  tmt/steps/execute/__init__.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/podman.py
  tmt/utils.py
Labels: enhancement, tmt run

#262 Implement exit codes, handle no tests [fix #246]
  README.rst
  bin/tmt
  tests/discover/references.sh
  tests/execute/basic/test.sh
  tests/execute/codes/main.fmf
  tests/execute/codes/test.sh
  tests/login/when.sh
  tests/plan/create/test.sh
  tests/report/summary/test.sh
  tests/steps/select/test.sh
  tmt/base.py
  tmt/steps/report/__init__.py
Labels: enhancement, tmt run

#263 Simplify beakerlib template, add test for init
  tests/init/base/main.fmf
  tests/init/base/test.sh
  tmt/templates.py
Labels: enhancement, tests, tmt test

#266 State explicitly that execution is finished
  tmt/steps/execute/run.sh
Labels: execute

#265 Implement 'recommend' for installing soft requires
  spec/tests/recommend.fmf
  spec/tests/require.fmf
  tests/prepare/recommend/data/.fmf/version
  tests/prepare/recommend/data/plan.fmf
  tests/prepare/recommend/data/test.fmf
  tests/prepare/recommend/main.fmf
  tests/prepare/recommend/test.sh
  tests/prepare/require/data/.fmf/version
  tests/prepare/require/data/plan.fmf
  tests/prepare/require/data/test.fmf
  tests/prepare/require/main.fmf
  tests/prepare/require/test.sh
  tests/test/import/data/parent/child/Makefile
  tests/test/import/test.sh
  tmt/base.py
  tmt/convert.py
  tmt/steps/discover/__init__.py
  tmt/steps/prepare/__init__.py
  tmt/steps/prepare/install.py
  tmt/utils.py
Labels: enhancement, prepare, specification, tests

#247 Manual test case specification and examples
  examples/manual/basic.fmf
  examples/manual/full.md
  examples/manual/main.fmf
  examples/manual/mini.md
  examples/manual/share.fmf
  examples/manual/smoke.fmf
  spec/tests/manual.fmf
  spec/tests/test.fmf
  tmt/base.py
Labels: enhancement, specification

#261 Implement the basic execute step method
  docs/examples.rst
  tests/core/env/data/main.fmf
  tests/core/env/test.sh
  tests/execute/basic/data/plan.fmf
  tests/execute/basic/test.sh
  tests/unit/steps/test_execute.py
  tmt/base.py
  tmt/steps/execute/__init__.py
  tmt/steps/execute/detach.py
  tmt/steps/execute/internal.py
  tmt/steps/execute/run.sh
  tmt/steps/execute/simple.py
  tmt/steps/provision/podman.py
  tmt/utils.py
Labels: enhancement, execute
