Repository teemtee/tmt, pull requests merged in 2020-09, with the labels that each got.

#334 Update documentation with virtualization tips
  README.rst
  docs/questions.rst
Labels: documentation

#317 Guest.details() now uses /etc/os-release
  tmt/steps/provision/__init__.py
Labels: enhancement, provision

#338 Fix test export into nitrate on rhel-8 [fix #337]
  tests/unit/test_utils.py
  tmt/base.py
  tmt/export.py
  tmt/utils.py
Labels: export, tmt test

#333 Exit with non-zero code if linting fails
  tests/plan/lint/main.fmf
  tests/plan/lint/test.sh
  tests/test/lint/main.fmf
  tests/test/lint/test.sh
  tmt/base.py
  tmt/cli.py
Labels: enhancement, tmt plan, tmt test

#346 Disable authentication when fetching libraries
  tests/discover/libraries/data/certificate.fmf
  tests/discover/libraries/data/plan.fmf
  tests/discover/libraries/test.sh
  tmt/beakerlib.py
Labels: bug, discover

#344 Remove sourcing of rhts-environment in runtest.sh
  tmt/cli.py
  tmt/convert.py
Labels: enhancement, import, tmt test

#347 Add docs for manual case import
  docs/examples.rst
Labels: documentation, import

#348 Prevent shebang mangling for detached executor (issue #339)
  tmt/steps/execute/detach.py
  tmt/steps/execute/run.sh
Labels: execute, packaging

#352 Remove the remaining 'tmt test convert' references
  README.rst
  stories/docs.fmf
  tests/unit/test_convert.py
Labels: documentation, import

#342 Use the internal tmt executor by default
  tmt/steps/execute/detach.py
  tmt/steps/execute/internal.py
Labels: execute

#361 Add more debug messages to minute provision
  tmt/steps/provision/minute.py
Labels: enhancement, provision

#357 Add two hints about easy login for experimenting
  docs/examples.rst
Labels: documentation

#363 Add hint about caching the dnf package metadata
  docs/questions.rst
Labels: documentation

#355 Gracefully handle invalid test output
  tests/execute/weird/data/.fmf/version
  tests/execute/weird/data/test.fmf
  tests/execute/weird/data/weird.txt
  tests/execute/weird/main.fmf
  tests/execute/weird/test.sh
  tmt/utils.py
Labels: bug, execute

#369 Add COPR build for master
  .packit.yaml
Labels: packaging

#372 Update the overall tmt description and examples
  README.rst
Labels: documentation, enhancement
