Repository teemtee/tmt, pull requests merged in 2020-06, with the labels that each got.

#270 Implement tmt run --remove to remove workdir
  docs/examples.rst
  tests/run/remove/main.fmf
  tests/run/remove/test.sh
  tmt/base.py
  tmt/cli.py
Labels: enhancement, tmt run

#274 Add virtual plans for supported provision methods
  plans/basic.fmf
  plans/core.fmf
  plans/helps.fmf
  plans/install.fmf
  plans/main.fmf
  plans/smoke.fmf
  plans/unit.fmf
  tests/core/docs/main.fmf
  tests/discover/scripts.sh
  tests/main.fmf
  tmt/base.py
  tmt/steps/execute/internal.py
  tmt/steps/provision/minute.py
  tmt/steps/provision/podman.py
  tmt/steps/provision/testcloud.py
  try/connect/basic.fmf
  try/connect/core.fmf
  try/connect/main.fmf
  try/connect/smoke.fmf
  try/connect/unit.fmf
  try/container/basic.fmf
  try/container/core.fmf
  try/container/main.fmf
  try/container/smoke.fmf
  try/container/unit.fmf
  try/main.fmf
  try/minute/basic.fmf
  try/minute/core.fmf
  try/minute/main.fmf
  try/minute/smoke.fmf
  try/minute/unit.fmf
  try/virtual/basic.fmf
  try/virtual/core.fmf
  try/virtual/main.fmf
  try/virtual/smoke.fmf
  try/virtual/unit.fmf
Labels: enhancement, tests

#282 Duration in results
  spec/steps/execute.fmf
Labels: enhancement, execute, specification

#278 Add a workflow-tomorrow integration test example
  examples/wow/.fmf/version
  examples/wow/full/main.fmf
  examples/wow/full/test.sh
  examples/wow/mini/main.fmf
  examples/wow/mini/test.sh
  examples/wow/run.sh
Labels: documentation, enhancement

#276 Add nitrate to the setup.py extra requires
  setup.py
Labels: packaging

#277 Support fetching beakerlib libraries in discover
  docs/examples.rst
  spec/tests/recommend.fmf
  spec/tests/require.fmf
  tests/discover/libraries/data/.fmf/version
  tests/discover/libraries/data/apache.fmf
  tests/discover/libraries/data/apache.sh
  tests/discover/libraries/data/certificate.fmf
  tests/discover/libraries/data/certificate.sh
  tests/discover/libraries/data/plan.fmf
  tests/discover/libraries/main.fmf
  tests/discover/libraries/test.sh
  tmt/steps/discover/fmf.py
  tmt/utils.py
Labels: discover, enhancement

#288 Retry Fedora compose check in testcloud [fix #275]
  tmt/steps/provision/testcloud.py
Labels: bug, provision

#289 Improve default plan handling and more [fix #287]
  bin/tmt
  tests/plan/select/main.fmf
  tests/plan/select/test.sh
  tests/run/default/test.sh
  tmt/base.py
  tmt/templates.py
Labels: bug, enhancement

#291 Improve basic and verbose output of tmt plan show
  tmt/steps/__init__.py
  tmt/steps/provision/__init__.py
  tmt/steps/report/__init__.py
Labels: enhancement, tmt plan

#292 Make the discover step a little bit more secure
  tmt/steps/discover/fmf.py
Labels: discover, enhancement

#293 Allow library git clone to fail
  tmt/steps/discover/fmf.py
Labels: discover, enhancement

#300 Mention default methods in the step help message
  tmt/steps/__init__.py
Labels: documentation

#303 convert.py: fix Makefile editing
  tmt/convert.py
Labels: import, tmt test
