Repository teemtee/tmt, pull requests merged in 2020-04, with the labels that each got.

#183 env -C is not available in RHEL/CentOS 7
  tmt/steps/execute/run.sh
Labels: bug, execute

#185 Allow creation of nitrate cases when exporting
  tmt/base.py
  tmt/cli.py
  tmt/export.py
Labels: export, tmt test

#187 Create tier attribute from multiple Tier tags
  tmt/convert.py
Labels: import, tmt test

#181 Implement wake up for Run, Step and Discover
  tests/unit/steps/test_execute.py
  tests/unit/steps/test_provision.py
  tmt/base.py
  tmt/steps/__init__.py
  tmt/steps/discover/__init__.py
  tmt/steps/discover/fmf.py
  tmt/steps/discover/shell.py
  tmt/steps/execute/run.sh
  tmt/steps/provision/__init__.py
  tmt/steps/provision/base.py
  tmt/utils.py
Labels: discover, enhancement

#186 Implement dynamic plugins and options [fix #135]
  tests/unit/steps/test_execute.py
  tests/unit/steps/test_provision.py
  tmt/base.py
  tmt/cli.py
  tmt/options.py
  tmt/plugins.py
  tmt/steps/__init__.py
  tmt/steps/discover/__init__.py
  tmt/steps/discover/fmf.py
  tmt/steps/discover/shell.py
  tmt/steps/execute/__init__.py
  tmt/steps/execute/base.py
  tmt/steps/execute/beakerlib.py
  tmt/steps/execute/run.sh
  tmt/steps/execute/shell.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/base.py
  tmt/utils.py
Labels: enhancement, plugins

#189 Add missing 'require' attribute to the Test class
  tmt/base.py
Labels: bug, tmt test

#192 Store imported metadata in a sane order [fix #86]
  tmt/base.py
  tmt/convert.py
  tmt/utils.py
Labels: enhancement, import, tmt test

#199 Sync more extra-* attributes when exporting
  docs/questions.rst
  tmt/export.py
Labels: enhancement, export

#198 Add a story and examples describing manual tests
  examples/manual/.fmf/version
  examples/manual/basic.fmf
  examples/manual/main.fmf
  examples/manual/share.fmf
  examples/manual/smoke.fmf
  spec/tests/manual.fmf
  spec/tests/test.fmf
Labels: specification, stories

#195 Allow to print fmf identifier in tmt tests show
  docs/examples.rst
  tmt/base.py
  tmt/export.py
Labels: enhancement, tmt test

#205 Simplify the minimal example, adjust tests
  examples/mini/ci.fmf
  tests/unit/test_cli.py
Labels: enhancement

#204 Document the discover step, fix issues, add tests
  spec/steps/discover.fmf
  tests/discover/data/.fmf/version
  tests/discover/data/plans.fmf
  tests/discover/data/tests.fmf
  tests/discover/filtering.sh
  tests/discover/main.fmf
  tests/discover/options.sh
  tests/discover/references.sh
  tmt/options.py
  tmt/steps/discover/__init__.py
  tmt/steps/discover/fmf.py
Labels: discover, documentation, enhancement, tests

#206 Fix test discovery from the execute step scripts
  tests/discover/main.fmf
  tests/discover/references.sh
  tests/discover/scripts.sh
  tmt/steps/discover/__init__.py
Labels: bug, discover

#209 Workaround yaml key sorting on rhel-8 [fix #207]
  tmt/utils.py
Labels: bug

#211 Improve the workdir handling in the Common class
  tests/unit/steps/test_provision.py
  tmt/base.py
  tmt/cli.py
  tmt/utils.py
Labels: enhancement

#212 Implement Plugin.show() for a full dynamic support
  tmt/steps/__init__.py
  tmt/steps/discover/__init__.py
  tmt/steps/discover/fmf.py
  tmt/steps/discover/shell.py
Labels: discover, enhancement, plugins

#210 Support multiple verbose/debug levels [fix #191]
  tests/unit/steps/test_provision.py
  tmt/options.py
  tmt/steps/provision/localhost.py
  tmt/steps/provision/podman.py
  tmt/steps/provision/testcloud.py
  tmt/steps/provision/vagrant.py
  tmt/utils.py
Labels: enhancement, prepare

#213 Support fmf name references in docs, update spec
  docs/conf.py
  docs/spec.rst
  tmt/base.py
Labels: documentation

#221 Explicitly mention supported distros in the docs
  README.rst
Labels: documentation

#223 Implement executing the last run using --last
  docs/examples.rst
  stories/cli/run.fmf
  tests/unit/test_utils.py
  tmt/base.py
  tmt/cli.py
  tmt/utils.py
Labels: enhancement, tmt run

#224 Deduplicate inherited keys in test import [fix #8]
  plans/basic.fmf
  tests/discover/main.fmf
  tests/env/main.fmf
  tests/ls/main.fmf
  tests/main.fmf
  tests/test/import/data/.fmf/version
  tests/test/import/data/main.fmf
  tests/test/import/data/parent/child/Makefile
  tests/test/import/data/parent/child/PURPOSE
  tests/test/import/data/parent/main.fmf
  tests/test/import/main.fmf
  tests/test/import/test.sh
  tmt/convert.py
Labels: enhancement, import, tmt test
