Repository teemtee/tmt, pull requests merged in 2020-07, with the labels that each got.

#304 Use extra-task as summary in test export
  tmt/export.py
Labels: export, tmt test

#311 Update test import story and documentation
  docs/examples.rst
  stories/cli/test.fmf
Labels: documentation, enhancement, export, import, tmt test

#307 Move and better document the Guest class
  tmt/__init__.py
  tmt/base.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/connect.py
Labels: documentation, provision

#315 Give a nice error for expired kerberos [fix #57]
  tmt/convert.py
  tmt/export.py
Labels: export, import, tmt test

#314 Move libraries handling into a separate module
  plans/unit.fmf
  tests/unit/pytest.ini
  tests/unit/test_beakerlib.py
  tmt.spec
  tmt/beakerlib.py
  tmt/steps/discover/fmf.py
Labels: discover, enhancement, tests
