Repository teemtee/tmt, pull requests merged in 2020-10, with the labels that each got.

#389 [packit] Explicitely add copr_build for PR
  .packit.yaml
Labels: tests

#302 Implement the new L1 attribute 'framework'
  spec/steps/execute.fmf
  spec/steps/main.fmf
  spec/tests/framework.fmf
  stories/cli/steps.fmf
  tests/execute/framework/data/.fmf/version
  tests/execute/framework/data/beakerlib.sh
  tests/execute/framework/data/plans.fmf
  tests/execute/framework/data/shell.sh
  tests/execute/framework/data/tests.fmf
  tests/execute/framework/main.fmf
  tests/execute/framework/test.sh
  tests/main.fmf
  tests/unit/steps/test_execute.py
  tests/unit/test_cli.py
  tmt/base.py
  tmt/steps/discover/__init__.py
  tmt/steps/execute/__init__.py
  tmt/steps/execute/detach.py
  tmt/steps/execute/internal.py
  tmt/steps/execute/run.sh
  tmt/utils.py
Labels: execute, specification

#392 Use metadata directory as the default for path
  spec/tests/path.fmf
  tests/core/path/data/.fmf/version
  tests/core/path/data/root.fmf
  tests/core/path/data/simple/main.fmf
  tests/core/path/data/virtual/one.fmf
  tests/core/path/data/virtual/two.fmf
  tests/core/path/main.fmf
  tests/core/path/test.py
  tests/unit/test_base.py
  tmt/base.py
Labels: specification

#388 Automated import fixes
  tmt/cli.py
  tmt/convert.py
Labels: enhancement, import, tmt test

#395 Correctly handle framework for new plans and tests
  tests/test/lint/test.sh
  tmt/base.py
  tmt/convert.py
  tmt/templates.py
Labels: tmt init, tmt plan, tmt test

#408 Send warnings to stderr, introduce a fail() method
  tests/execute/framework/test.sh
  tmt/utils.py
Labels: utils

#386 Provide aggregated test metadata for execution
  spec/steps/execute.fmf
  tmt/steps/execute/__init__.py
  tmt/steps/execute/detach.py
  tmt/steps/execute/internal.py
Labels: enhancement, execute

#399 Handle nicely missing library metadata [fix #397]
  tests/discover/libraries/data/certificate.fmf
  tests/discover/libraries/data/plan.fmf
  tests/discover/libraries/test.sh
  tmt/beakerlib.py
Labels: discover, libraries

#406 Give hints to install provision plugins [fix #405]
  plans/smoke.fmf
  tmt/steps/__init__.py
Labels: documentation, enhancement, provision

#362 Manual import fixes
  tmt/convert.py
Labels: enhancement, import

#330 Define basic hardware environment specification
  spec/steps/provision.fmf
Labels: enhancement, provision, specification

#403 Correct type of Tier attribute in examples
  docs/examples.rst
  stories/cli/test.fmf
Labels: documentation, enhancement

#404 Suggest some useful aliases for common use cases
  docs/examples.rst
Labels: documentation, enhancement, usability

#412 Always run Login plugin even if step is done
  tests/login/step.sh
  tmt/steps/__init__.py
  tmt/steps/discover/__init__.py
  tmt/steps/execute/__init__.py
  tmt/steps/finish/__init__.py
  tmt/steps/prepare/__init__.py
  tmt/steps/provision/__init__.py
  tmt/steps/report/__init__.py
Labels: enhancement, login

#413 Preserve symlinks during discover, pull and push
  tmt/steps/discover/fmf.py
  tmt/steps/discover/shell.py
  tmt/steps/provision/__init__.py
Labels: discover, enhancement, execute

#415 Improve minute provision image selection
  tmt/steps/provision/minute.py
Labels: enhancement, provision

#417 Simplify test directory copy with enabled symlinks
  tmt/steps/discover/fmf.py
  tmt/steps/discover/shell.py
Labels: discover, enhancement

#400 Convert adds extra-summary as well
  tmt/convert.py
Labels: enhancement, import

#422 Gracefully handle invalid library reference
  tests/discover/libraries/data/certificate.fmf
  tests/discover/libraries/data/plan.fmf
  tests/discover/libraries/test.sh
  tmt/beakerlib.py
Labels: libraries

#398 Handle testcloud problem with the images directory
  tmt/steps/provision/testcloud.py
Labels: enhancement, provision

#425 Handle tracebacks in minute provision
  tmt/steps/provision/minute.py
Labels: provision
