Repository teemtee/tmt, pull requests merged in 2020-03, with the labels that each got.

#138 Update the docs making '--name=' necessary
  stories/cli/run.fmf
Labels: documentation

#139 Make sure we run finish always
  tmt/base.py
Labels: enhancement

#144 Support selecting objects under the current folder
  docs/examples.rst
  stories/cli/plan.fmf
  stories/cli/story.fmf
  stories/cli/test.fmf
  tmt/base.py
  tmt/cli.py
  tmt/utils.py
Labels: enhancement

#146 Import non-disabled tests
  tmt/cli.py
  tmt/convert.py
Labels: import, tmt test

#152 Destroy container in finish only if there is any
  tmt/steps/provision/podman.py
Labels: bug, provision

#153 Move testcloud to base requires, update README
  README.rst
  setup.py
Labels: documentation, packaging

#150 Use cache 'unsafe' for testcloud
  tmt/steps/provision/testcloud.py
Labels: provision

#132 Add --env option and support in podman provisioner
  tmt/cli.py
  tmt/steps/provision/base.py
  tmt/steps/provision/podman.py
Labels: provision, tmt run

#148 Implement --env for testcloud provisioner
  tmt/steps/provision/testcloud.py
  tmt/utils.py
Labels: provision

#157 Add container and testcloud to tmt-all requires
  tmt.spec
Labels: packaging

#99 Better `run.sh` tests execution
  tmt/steps/execute/run.sh
Labels: execute

#143 Add a new story describing user and system config
  stories/cli/config.fmf
Labels: config, stories

#145 Add environment support to the discover step
  tests/env/main.fmf
  tests/env/test.sh
  tmt/base.py
  tmt/steps/discover/__init__.py
  tmt/utils.py
Labels: discover, enhancement

#166 Do not run tests with an empty environment
  tmt/steps/execute/run.sh
Labels: bug, execute

#168 Always copy directory tree to the workdir
  tmt/steps/discover/shell.py
Labels: enhancement, execute

#118 Export test cases to nitrate
  docs/questions.rst
  tmt/cli.py
  tmt/convert.py
  tmt/export.py
Labels: export, tmt test

#156 Check if connection is running in Vagrant Provision
  tmt/steps/provision/vagrant.py
Labels: enhancement, provision

#169 Use fedora as a default image for podman/testcloud
  tmt/steps/provision/podman.py
  tmt/steps/provision/testcloud.py
Labels: enhancement, provision

#172 Correctly handle missing nitrate module or config
  tmt/convert.py
  tmt/export.py
Labels: export, import, tmt test

#171 Discover only enabled tests [fix #170]
  tmt/steps/discover/fmf.py
Labels: bug, discover

#177 Import the testcloud module when needed [fix #175]
  tmt/steps/provision/testcloud.py
Labels: bug, provision

#178 Implement public_git_url() for git url conversion
  tests/unit/test_utils.py
  tmt/export.py
  tmt/utils.py
Labels: bug, export, tmt test

#179 Add checks for missing metadata.
  tmt/convert.py
Labels: import, tmt test
