Repository teemtee/tmt, pull requests merged in 2021-01, with the labels that each got.

#473 Verify the old beakerlib functions using Makefile
  tests/execute/old/data/.fmf/version
  tests/execute/old/data/plan.fmf
  tests/execute/old/data/test.fmf
  tests/execute/old/data/test.sh
  tests/execute/old/main.fmf
  tests/execute/old/test.sh
Labels: execute

#504 Remove the duplicate build job from packit config
  .packit.yaml
Labels: tests

#496 Use special compare operators only if minor given
  tests/unit/test_adjust.py
  tmt/convert.py
Labels: context, lint, tests

#515 Append nitrate id when exporting instead of rewrite
  tmt/export.py
Labels: export, tests

#518 Clean up obsolete names in examples and templates
  docs/examples.rst
  examples/discover/discover.fmf
  examples/inherit/main.fmf
  examples/l2/bed.fmf
  examples/l2/tooling.fmf
  examples/multiple/basic.fmf
  examples/symlinks/plans/main.fmf
  examples/systemd/ci.fmf
  examples/together/main.fmf
  plans/main.fmf
  spec/steps/prepare.fmf
  stories/coverage.fmf
  tmt/steps/prepare/ansible.py
  tmt/templates.py
Labels: documentation

#517 Extra check for required packages when using yum
  tests/prepare/require/data/plan.fmf
  tests/prepare/require/data/test.fmf
  tests/prepare/require/test.sh
  tmt/steps/prepare/install.py
Labels: prepare

#499 Implement the tmt run --follow option
  tmt/base.py
  tmt/cli.py
  tmt/utils.py
Labels: logging, run

#520 Enough of dreaming, let's go to the forest! :)
  README.rst
  docs/dreams.rst
  docs/guide.rst
  docs/index.rst
  docs/questions.rst
  stories/cli/run.fmf
Labels: documentation, stories
