Repository teemtee/tmt, pull requests merged in 2021-03, with the labels that each got.

#393 Remove path from virtual tests (no more necessary)
  plans/main.fmf
  tests/core/adjust/main.fmf
  tests/core/dry/main.fmf
  tests/discover/duration/main.fmf
  tests/discover/libraries/data/apache.fmf
  tests/discover/libraries/data/certificate.fmf
  tests/discover/libraries/main.fmf
  tests/discover/main.fmf
  tests/execute/basic/data/test.fmf
  tests/execute/basic/main.fmf
  tests/execute/codes/main.fmf
  tests/execute/duration/data/test.fmf
  tests/execute/duration/main.fmf
  tests/execute/framework/data/tests.fmf
  tests/execute/framework/main.fmf
  tests/execute/metadata/main.fmf
  tests/execute/old/main.fmf
  tests/execute/weird/data/test.fmf
  tests/execute/weird/main.fmf
  tests/login/main.fmf
  tests/main.fmf
  tests/plan/create/main.fmf
  tests/plan/lint/main.fmf
  tests/plan/select/main.fmf
  tests/prepare/adjust/main.fmf
  tests/prepare/basic/main.fmf
  tests/prepare/freeze/main.fmf
  tests/prepare/install/main.fmf
  tests/prepare/recommend/data/test.fmf
  tests/prepare/require/data/test.fmf
  tests/status/base/main.fmf
  tests/steps/select/main.fmf
  tests/story/create/main.fmf
  tests/test/create/main.fmf
  tests/test/lint/main.fmf
  tests/test/select/main.fmf
Labels: tests

#370 Apply the new execute method syntax for tmt tests
  docs/examples.rst
  tests/core/env/data/main.fmf
  tests/core/ls/example-plan.txt
  tests/discover/duration/data/plan.fmf
  tests/prepare/basic/data/main.fmf
  tests/prepare/install/data/epel7.fmf
  tests/prepare/install/data/escape.fmf
  tests/prepare/recommend/data/plan.fmf
  tests/prepare/require/data/plan.fmf
  tests/report/summary/data/main.fmf
Labels: tests

#595 Store relevant bugs during test import
  examples/convert/Makefile
  tests/test/import/data/parent/child/Makefile
  tests/test/import/test.sh
  tmt/convert.py
Labels: import, must, tests

#598 Prevent keys mutation when searching plans/stories
  tmt/base.py
Labels: base

#597 Use date-service to get correct instation time
  tmt/steps/provision/minute.py
Labels: minute

#599 Clarify playbook path for ansible prepare plugin
  spec/steps/prepare.fmf
  tmt/steps/prepare/ansible.py
Labels: documentation, prepare, specification

#604 Describe how to enable shell completions
  README.rst
Labels: documentation

#609 base.Plan: Fix gates/artifacts conversion to list
  spec/plans/gate.fmf
  tmt/base.py
Labels: base

#568 Check for Nitrate test duplicates before creating new one
  tmt/base.py
  tmt/cli.py
  tmt/export.py
Labels: export, tests

#617 Support NO_COLOR to disable colored output
  README.rst
  tmt/cli.py
Labels: base

#580 Add 'dry' option for the tests, plans and stories create method
  tests/test/create/test.sh
  tmt/base.py
  tmt/utils.py
Labels: cli, tests

#581 Print unofficial attributes in tmt tests show -vv
  tmt/base.py
Labels: cli, tests

#619 Test filter on command line overrides config
  tests/test/select/data/plans.fmf
  tests/test/select/test.sh
  tmt/steps/discover/fmf.py
Labels: discover, run, tests

#612 Improve documentation, clearly show draft stories
  Makefile
  docs/examples.rst
  docs/guide.rst
  docs/index.rst
  docs/overview.rst
  docs/questions.rst
  docs/spec.rst
  docs/stories.rst
  spec/context/main.fmf
  spec/plans/context.fmf
  stories/cli/run.fmf
  stories/cli/steps.fmf
  stories/cli/test.fmf
  tmt/base.py
Labels: documentation

#629 Always enable force mode for display/html report
  tests/report/summary/test.sh
  tmt/steps/__init__.py
Labels: report, usability

#630 Fix missing overview on the readthedocs.org site
  Makefile
  README.rst
  docs/contribute.rst
  docs/modules.rst
  docs/overview.rst
  docs/questions.rst
  plans/install/docs.fmf
  tests/core/docs/test.sh
Labels: documentation, must

#523 Use fmf to store the newly created nitrate case id
  tmt/export.py
Labels: export, tests

#643 Improve documentation of tests, plans and stories
  README.rst
  docs/conf.py
  docs/contribute.rst
  docs/examples.rst
  docs/index.rst
  docs/modules.rst
  docs/spec.rst
  spec/plans/discover.fmf
  spec/plans/execute.fmf
  spec/plans/finish.fmf
  spec/plans/main.fmf
  spec/plans/prepare.fmf
  spec/plans/provision.fmf
  spec/plans/report.fmf
  spec/steps/main.fmf
  spec/stories/main.fmf
  spec/tests/main.fmf
  spec/tests/recommend.fmf
  spec/tests/require.fmf
  stories/cli/config.fmf
  stories/cli/run.fmf
  stories/cli/steps.fmf
  tmt/steps/execute/__init__.py
Labels: documentation

#648 Enable copr repo even if no package is provided
  tests/prepare/install/data/copr.fmf
  tests/prepare/install/test.sh
  tmt/steps/prepare/install.py
Labels: prepare

#632 Verify automated test case import from nitrate
  Makefile
  plans/integration/main.fmf
  setup.py
  tests/integration/data/nitrate/import_case_automated/Makefile
  tests/integration/data/nitrate/import_case_automated/PURPOSE
  tests/integration/data/nitrate/import_case_automated/runtest.sh
  tests/integration/test_data/test_nitrate/NitrateImportAutomated.test_basic.yaml
  tests/integration/test_nitrate.py
Labels: import, nitrate, tests

#616 Improve handling of verbose and debug options
  tmt/utils.py
Labels: cli, utils

#637 Test filter on command line overrides config
  tests/test/select/data/plans.fmf
  tests/test/select/test.sh
  tmt/steps/discover/fmf.py
Labels: discover

#649 Fix step selection for --before and --after
  tests/steps/select/test.sh
  tmt/base.py
  tmt/cli.py
Labels: cli, steps

#650 Improve debugging of tests using click runner
  tests/integration/test_nitrate.py
Labels: tests

#652 Use IPv6 enabled 1MT network by default
  tmt/steps/provision/minute.py
Labels: minute

#638 Testcloud plugin: Make ProvisionError more verbose
  bin/tmt
  tmt/steps/provision/testcloud.py
  tmt/utils.py
Labels: cli, testcloud, utils

#532 Better summary for new exported tests
  tmt/export.py
Labels: enhancement, export

#666 Ignore the nitrate migration warning during import
  tests/integration/test_data/test_nitrate/NitrateImportAutomated.test_basic.yaml
  tmt/convert.py
Labels: import, must, tests

#668 Prevent duplicate content in generated docs
  tmt/base.py
Labels: documentation, must, specification

#675 Do not use the spec release for the pip version
  setup.py
Labels: packaging

#658 Fix init with dry option
  tests/init/base/test.sh
  tests/init/full/main.fmf
  tests/init/full/test.sh
  tests/init/mini/main.fmf
  tests/init/mini/test.sh
  tmt/base.py
  tmt/cli.py
  tmt/templates.py
Labels: cli, init

#664 Match by name prefix in discover.modified-only
  spec/plans/discover.fmf
  tmt/steps/discover/fmf.py
Labels: discover

#676 Support enabling/disabling plans and stories
  docs/conf.py
  plans/install/main.fmf
  plans/provision/main.fmf
  spec/core/enabled.fmf
  spec/tests/enabled.fmf
  tests/core/adjust/test.sh
  tests/core/enabled/data/.fmf/version
  tests/core/enabled/data/main.fmf
  tests/core/enabled/main.fmf
  tests/core/enabled/test.sh
  tmt/base.py
  tmt/utils.py
Labels: core, must, specification

#677 Support excluding packages during installation
  spec/plans/prepare.fmf
  tests/prepare/install/data/exclude.fmf
  tests/prepare/install/test.sh
  tmt/steps/prepare/install.py
Labels: prepare, specification
