Repository teemtee/tmt, pull requests merged in 2021-11, with the labels that each got.

#935 Use a fresh sphinx when building the readthedocs
  .readthedocs.yaml
  setup.py
Labels: documentation

#936 Remove obsoleted conditionals from the spec file
  tmt.spec
Labels: packaging

#939 Canonical name for centos-stream in dimension
  spec/context/dimension.fmf
Labels: specification, context

#943 Adjust `tmt test lint` test for old yaml format
  tests/test/lint/test.sh
Labels: tests, lint

#924 thread processing of executed commands inside tmt
  tests/unit/test_utils.py
  tmt/utils.py
Labels: core

#928 Ansible plugin for Finish step
  spec/plans/finish.fmf
  tests/finish/ansible/data/.fmf/version
  tests/finish/ansible/data/plan.fmf
  tests/finish/ansible/data/playbook.yml
  tests/finish/ansible/main.fmf
  tests/finish/ansible/test.sh
  tmt/steps/finish/ansible.py
Labels: finish, ansible

#948 Correct the `playbook` attribute in the spec
  spec/plans/finish.fmf
  spec/plans/prepare.fmf
  tmt/steps/provision/testcloud.py
Labels: documentation, specification

#949 Reenable plans/install/docs
  plans/install/docs.fmf
Labels: documentation, tests

#667 Beakerlib tests need at least beakerlib-1.28
  tmt/base.py
Labels: execute, blocked, base

#950 Enable duplicate test names and preserve ordering
  spec/plans/discover.fmf
  tests/test/select/data/plans.fmf
  tests/test/select/test.sh
  tmt/base.py
  tmt/steps/discover/fmf.py
Labels: discover, base

#955 Make tests --name to just prune discovered tests
  tests/test/select/test.sh
  tmt/base.py
  tmt/steps/discover/fmf.py
Labels: discover, must, base

#957 Use distro values from context for dist-git type
  tests/discover/distgit.sh
  tmt/utils.py
Labels: discover

#953 Symlink worktree for discovered shell tests
  tests/run/worktree/data/prepare/.fmf/version
  tests/run/worktree/data/prepare/plan.fmf
  tests/run/worktree/main.fmf
  tests/run/worktree/test.sh
  tmt/steps/discover/shell.py
Labels: prepare, discover

#951 Dist git source can contain multiple files
  tests/unit/test_utils.py
  tmt/steps/discover/__init__.py
  tmt/utils.py
Labels: discover

#958 Revert requiring exact beakerlib version
  tmt/base.py
Labels: base

#918 Support for Beakerlib's rlFileSubmit
  tests/execute/filesubmit/data/.fmf/version
  tests/execute/filesubmit/data/main.fmf
  tests/execute/filesubmit/data/test.sh
  tests/execute/filesubmit/main.fmf
  tests/execute/filesubmit/test.sh
  tmt/steps/execute/internal.py
Labels: execute

#908 Simplify plugin keys handling in wake() and show()
  tmt/steps/__init__.py
  tmt/steps/discover/__init__.py
  tmt/steps/discover/fmf.py
  tmt/steps/discover/shell.py
  tmt/steps/execute/__init__.py
  tmt/steps/execute/detach.py
  tmt/steps/execute/internal.py
  tmt/steps/finish/ansible.py
  tmt/steps/finish/shell.py
  tmt/steps/prepare/ansible.py
  tmt/steps/prepare/install.py
  tmt/steps/prepare/shell.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/connect.py
  tmt/steps/provision/local.py
  tmt/steps/provision/podman.py
  tmt/steps/provision/testcloud.py
  tmt/steps/report/html.py
  tmt/steps/report/junit.py
Labels: plugins

#831 Generate both ecdsa, rsa key in testcloud
  tmt/steps/provision/testcloud.py
Labels: testcloud

#947 Allow to pick objects by --link
  docs/examples.rst
  spec/plans/discover.fmf
  tests/discover/data/tests.fmf
  tests/discover/filtering.sh
  tmt/base.py
  tmt/cli.py
  tmt/steps/discover/fmf.py
Labels: enhancement

#907 Document how to migrate tests from STI to tmt
  docs/questions.rst
Labels: documentation

#959 Fix el7 provision in testcloud user session
  tmt/steps/provision/testcloud.py
Labels: provision, testcloud

#938 Add verbose attribute to ansible plugin
  spec/plans/prepare.fmf
  tests/prepare/ansible/data/plan.fmf
  tests/prepare/ansible/test.sh
  tmt/steps/prepare/ansible.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/local.py
  tmt/steps/provision/podman.py
Labels: prepare, ansible
