Repository teemtee/tmt, pull requests merged in 2021-06, with the labels that each got.

#788 Report plugin for JUnit output
  setup.py
  tests/report/junit/data/.fmf/version
  tests/report/junit/data/main.fmf
  tests/report/junit/data/runtest.sh
  tests/report/junit/main.fmf
  tests/report/junit/test.sh
  tests/unit/test_report_junit.py
  tmt.spec
  tmt/steps/report/junit.py
Labels: could, report

#793 Ensure that the discover git reference is a string
  tests/discover/data/plans.fmf
  tests/discover/references.sh
  tmt/steps/discover/fmf.py
Labels: discover

#766 An example plugin skeleton
  docs/classes.rst
  docs/contribute.rst
  docs/index.rst
  docs/plugins.rst
  examples/plugins/discover.py
  examples/plugins/provision.py
Labels: documentation, plugins

#796 Release tmt-1.6.0
  tmt.spec
Labels: packaging

#817 Use IdentitiesOnly=yes when key or password is set
  tmt/steps/provision/__init__.py
Labels: provision

#797 Disable the white space test for container/virtual
  tests/core/spaces/main.fmf
Labels: tests
