Repository teemtee/tmt, pull requests merged in 2021-09, with the labels that each got.

#872 Skip the docs test until the Sphinx issue is fixed
  plans/install/docs.fmf
  plans/install/main.fmf
Labels: tests

#871 Require essential packages for tmt testing
  tests/core/adjust/main.fmf
  tests/discover/libraries/main.fmf
  tests/execute/main.fmf
  tests/libraries/local/main.fmf
  tests/main.fmf
  tests/prepare/main.fmf
  tests/provision/main.fmf
  tests/run/worktree/main.fmf
  tests/test/import/main.fmf
Labels: tests

#699 Export text fields of a case to nitrate should be checked by lint
  tests/test/lint/data/manual_test_failed/test.md
  tests/test/lint/data/manual_test_failed_2/test.md
  tests/test/lint/data/manual_test_passed/random_name.md
  tests/test/lint/data/two_or_more_manual_test/test.md
  tests/test/lint/data/two_or_more_manual_test/test2.md
  tests/test/lint/test.sh
  tmt/base.py
  tmt/export.py
Labels: export, tests

#874 Extend .gitignore with a few more common patterns
  .gitignore
Labels: config

#866 Produce better errors for unsupported plugins
  tmt/options.py
  tmt/steps/__init__.py
Labels: documentation

#881 Improve fetching remote environment files
  tests/core/environment-file/data/main.fmf
  tests/core/environment-file/test.sh
  tmt/utils.py
Labels: utils, must

#879 Add Github Action for PyPI releases
  .github/workflows/release.yml
  Makefile
Labels: packaging

#882 Explicit mention '.' as special value for names
  tmt/cli.py
Labels: cli

#885 Remove minute.obsolete provision plugin
  examples/symlinks/try/connect/main.fmf
  examples/symlinks/try/minute/basic.fmf
  examples/symlinks/try/minute/core.fmf
  examples/symlinks/try/minute/main.fmf
  examples/symlinks/try/minute/smoke.fmf
  examples/symlinks/try/minute/unit.fmf
  spec/plans/provision.fmf
  tmt/options.py
  tmt/steps/provision/minute_obsolete.py
Labels: minute

#887 Increase duration for tests using containers
  tests/execute/metadata/main.fmf
  tests/libraries/local/main.fmf
Labels: tests

#890 Make run --force behave more expectably
  tests/core/force/test.sh
  tests/execute/basic/test.sh
  tests/provision/reboot/test.sh
  tests/steps/invalid/test.sh
  tests/steps/select/test.sh
  tmt/cli.py
  tmt/utils.py
Labels: run

#878 Add the multihost testing specification
  spec/plans/execute.fmf
  spec/plans/prepare.fmf
  spec/plans/provision.fmf
Labels: execute, provision, prepare, specification

#899 Clarify and update spec for the discover step
  spec/plans/discover.fmf
Labels: specification

#883 Implement option to exit after first failure
  spec/plans/execute.fmf
  stories/cli/steps.fmf
  tests/execute/exit-first/data/.fmf/version
  tests/execute/exit-first/data/plan.fmf
  tests/execute/exit-first/main.fmf
  tests/execute/exit-first/test.sh
  tmt/steps/execute/__init__.py
  tmt/steps/execute/detach.py
  tmt/steps/execute/internal.py
  tmt/steps/execute/run.sh
Labels: enhancement, execute

#903 Add support for reboot in a reused provision
  tests/execute/reboot/basic.sh
  tests/execute/reboot/main.fmf
  tests/execute/reboot/reuse.sh
  tmt/steps/execute/internal.py
Labels: execute

#905 Release tmt-1.8.0
  tmt.spec
Labels: packaging
