Repository teemtee/tmt, pull requests merged in 2021-02, with the labels that each got.

#535 Fix contacts without name during tmt test import
  tmt/convert.py
Labels: import, tests

#540 Remove the whole rhts-lint line during test import
  tmt/convert.py
Labels: import, tests

#526 Remove the hack for the old cruncher executor
  docs/contribute.rst
  hack/cruncher.fmf
  plans/main.fmf
  tests/core/path/main.fmf
  tests/core/smoke/main.fmf
  tests/discover/libraries/main.fmf
  tests/main.fmf
  tests/unit/main.fmf
Labels: tests

#543 Fix IPv4 parsing when booting minute machine
  tmt/steps/provision/minute.py
Labels: minute, provision

#544 Remove obsolete unit test coverage for steps
  Makefile
  plans/install/pip.fmf
  tests/core/path/main.fmf
  tests/execute/framework/main.fmf
  tests/unit/main.fmf
  tests/unit/steps/test_execute.py
  tests/unit/steps/test_provision.py
  tests/unit/test_beakerlib.py
Labels: tests

#548 Adjust the default timeout in the testcloud provision
  tmt/steps/provision/testcloud.py
Labels: testcloud

#551 Adjust test duration, clean up old test metadata
  tests/core/adjust/main.fmf
  tests/execute/metadata/main.fmf
  tests/execute/old/main.fmf
  tests/prepare/adjust/main.fmf
Labels: tests

#554 Add the --force explanation in the documentation
  docs/examples.rst
Labels: documentation, steps

#560 Fix dependency error messages
  tmt/convert.py
  tmt/export.py
Labels: export, import, tests

#562 Fixup Dockerfiles to build in quay.io.
  containers/Dockerfile.full
  containers/Dockerfile.mini
Labels: containers

#564 Rename container images, update install docs
  Makefile
  README.rst
  containers/Dockerfile.full
  containers/Dockerfile.mini
  docs/contribute.rst
Labels: containers

#561 Implement the 'tmt --version' option [fix #445]
  Makefile
  tests/core/docs/test.sh
  tmt/__init__.py
  tmt/cli.py
Labels: cli

#567 Suport the 'el' shortcut for the distro context
  spec/context/dimension.fmf
  tests/core/adjust/data/tests.fmf
  tests/core/adjust/test.sh
  tmt/base.py
Labels: context

#572 Use the default branch in the discover fmf plugin
  tests/discover/data/plans.fmf
  tests/discover/references.sh
  tmt/beakerlib.py
  tmt/steps/discover/fmf.py
  tmt/utils.py
Labels: discover

#553 Ensure rsync is installed on the guest if needed
  tmt.spec
  tmt/steps/__init__.py
  tmt/steps/prepare/__init__.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/local.py
  tmt/steps/provision/podman.py
Labels: login, packaging, provision

#575 Strip whitespace before relevancy comment
  tmt/convert.py
Labels: import, tests

#577 Show the current tmt version in the debug log
  tmt/base.py
Labels: debug

#579 Set timeout on select calls in utils._run()
  tmt/utils.py
Labels: utils

#578 Release tmt-1.3.0
  tmt.spec
Labels: packaging

#586 Make file descriptors non-blocking
  tmt/utils.py
Labels: utils
