Repository teemtee/tmt, pull requests merged in 2021-07, with the labels that each got.

#828 Make sure pip is available for integration testing
  plans/integration/main.fmf
Labels: tests

#826 Require a full path for local images in testcloud
  tmt/steps/provision/testcloud.py
Labels: provision, testcloud

#832 Accept more ssh keys in the API
  tmt/steps/provision/__init__.py
Labels: provision

#834 Update the RHEL 8 / CentOS 8 install instructions
  README.rst
Labels: documentation

#827 Use testcloud for image url guessing
  tmt.spec
  tmt/steps/provision/testcloud.py
Labels: blocked, provision, testcloud

#850 Deprecation timing, mention vagrant box support
  tmt/steps/execute/__init__.py
  tmt/steps/provision/testcloud.py
Labels: documentation, execute, provision

#836 Require correct testcloud version in setup.py
  setup.py
  tmt.spec
Labels: testcloud

#844 Testcloud: Use cache='unsafe' for a nice IO boost
  tmt/steps/provision/testcloud.py
Labels: provision, testcloud

#843 Testcloud: Support systemd-networkd systems without nm too
  tmt/steps/provision/testcloud.py
Labels: provision, testcloud

#846 Restart sshd on EL 8 to workaround delays after boot up
  tmt/steps/provision/testcloud.py
Labels: provision, testcloud

#838 Add timestamp to the tmt log file
  tmt/utils.py
Labels: utils

#842 Add basic pci/net heuristics when libguestfs python is missing
  tmt/steps/provision/testcloud.py
Labels: provision, testcloud
