Repository teemtee/tmt, pull requests merged in 2021-04, with the labels that each got.

#613 Correct verdict function, align docstring
  tmt/base.py
  tmt/utils.py
Labels: utils

#687 Use an empty worktree if no metadata tree found
  tests/login/main.fmf
  tests/login/reserve.sh
  tmt/base.py
  tmt/utils.py
Labels: base, must

#686 Check the rsync as the first preparation step
  tmt/steps/prepare/__init__.py
Labels: must, prepare

#691 create copy of testplans for removing general plans
  tmt/export.py
Labels: export

#680 Release tmt-1.4.0
  tmt.spec
Labels: packaging

#696 Human friendly names for VMs
  tmt/steps/provision/__init__.py
  tmt/steps/provision/testcloud.py
Labels: provision

#673 Add note 'beakerlib' when result unknown
  tmt/steps/execute/__init__.py
Labels: execute

#672 Print note instead of error in report.html
  tmt/steps/report/html.py
Labels: html, report

#702 Correctly convert relevancy with the `!=` operator
  tests/unit/test_adjust.py
  tmt/convert.py
  tmt/steps/execute/__init__.py
Labels: context, import, lint, tests

#697 Improve the prepare step documentation
  examples/httpd/smoke.fmf
  spec/plans/prepare.fmf
  tmt/steps/prepare/__init__.py
  tmt/utils.py
Labels: documentation, prepare, specification

#703 Add documentation about parent attribute
  docs/contribute.rst
Labels: documentation

#714 Enable install plans for pull request testing
  plans/install/main.fmf
Labels: tests

#693 Add a context adjust example for the prepare step
  spec/core/adjust.fmf
Labels: documentation

#715 Add tmt status examples section
  docs/examples.rst
Labels: documentation

#712 Fix tmt plan lint for multiple configurations
  tests/plan/lint/data/multi_discover.fmf
  tests/plan/lint/data/multi_execute.fmf
  tests/plan/lint/test.sh
  tmt/base.py
Labels: lint, plans

#713 Update the provision step hardware specification
  spec/plans/provision.fmf
Labels: provision, specification

#719 Allow to specify port in provision.connect
  spec/plans/provision.fmf
  tmt/steps/provision/connect.py
Labels: provision

#674 Require a newer fmf which supports storing data
  setup.py
Labels: packaging

#646 Implement tmt clean
  docs/contribute.rst
  docs/examples.rst
  tests/clean/guests/main.fmf
  tests/clean/guests/test.sh
  tests/clean/runs/main.fmf
  tests/clean/runs/test.sh
  tmt/__init__.py
  tmt/base.py
  tmt/cli.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/testcloud.py
  tmt/utils.py
Labels: clean

#735 Show link to log.txt in report html
  tmt/steps/report/html.py
Labels: report

#741 Do not assert installed packages for recommend
  tests/prepare/recommend/data/plan.fmf
  tests/prepare/recommend/data/test.fmf
  tests/prepare/recommend/test.sh
  tmt/steps/prepare/install.py
Labels: prepare

#743 Update the documentation for contributors
  README.rst
  docs/contribute.rst
Labels: documentation

#744 Make minute plugin internal
  README.rst
  containers/Dockerfile.full
  plans/provision/connect.fmf
  plans/provision/minute.fmf
  spec/plans/provision.fmf
  tmt/steps/provision/minute_obsolete.py
Labels: minute, provision

#721 Fix lint and use it on tmt repo
  plans/sanity/lint.fmf
  tests/core/docs/main.fmf
  tests/test/lint/data/coverage.fmf
  tests/test/lint/test.sh
  tmt/base.py
Labels: lint, tests

#728 Tag multihost tests during import from Makefile
  tests/test/import/data/parent/child/Makefile
  tests/test/import/test.sh
  tmt/convert.py
Labels: import, tests

#748 Fix login not working for cloud images
  tmt/steps/provision/__init__.py
Labels: provision

#754 Handle short run-id when naming VMs
  tmt/steps/provision/testcloud.py
Labels: provision, testcloud

#757 Release tmt-1.5.0
  tmt.spec
Labels: packaging

#756 Clean up the code style, remove the vagrant plugin
  Makefile
  docs/conf.py
  setup.py
  tests/core/path/test.py
  tests/integration/test_nitrate.py
  tests/unit/test_adjust.py
  tests/unit/test_base.py
  tests/unit/test_beakerlib.py
  tests/unit/test_utils.py
  tmt/base.py
  tmt/cli.py
  tmt/convert.py
  tmt/export.py
  tmt/steps/__init__.py
  tmt/steps/discover/fmf.py
  tmt/steps/discover/shell.py
  tmt/steps/finish/__init__.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/base.py
  tmt/steps/provision/minute_obsolete.py
  tmt/steps/provision/podman.py
  tmt/steps/provision/testcloud.py
  tmt/steps/provision/vagrant.py
  tmt/utils.py
Labels: style
