Repository teemtee/tmt, pull requests merged in 2022-01, with the labels that each got.

#985 Require either ansible or ansible-core
  tmt.spec
Labels: packaging

#982 Ignore RO file systems reboot script write and delete errors
  tmt/steps/execute/internal.py
Labels: execute

#989 Move the reboot scripts to a read/write directory
  tmt/steps/execute/internal.py
Labels: execute

#1001 Adjust ansible requires for containers preparation
  tmt.spec
Labels: packaging, prepare, ansible

#997 Clarify that `path` is defined from the tree root
  docs/guide.rst
  spec/tests/path.fmf
Labels: specification, tests

#1000 Minor modification of test result specification
  spec/tests/result.fmf
Labels: specification, tests

#1008 Improve error message for empty git repositories
  tmt/beakerlib.py
Labels: discover

#1009 Update virtualization hints for session connection
  docs/questions.rst
Labels: documentation, provision

#1010 Remove dependency on the `python3-mock` package
  containers/Dockerfile.full
  docs/conf.py
  docs/examples.rst
  examples/symlinks/plans/unit.fmf
  setup.py
  tmt.spec
Labels: packaging

#1014 Correctly import multiple bugs from Makefile
  tests/test/import/data/parent/child/Makefile
  tests/test/import/test.sh
  tmt/convert.py
Labels: import, tests

#980 Add specification for hostname
  spec/plans/provision.fmf
Labels: specification, hardware

#990 Handle rsync installation on read-only distros
  tmt/steps/provision/__init__.py
Labels: provision

#1015 Implement variables for storing logs and artifacts
  README.rst
  tests/core/environment-file/test.sh
  tests/pull/results/data/.fmf/version
  tests/pull/results/data/plan.fmf
  tests/pull/results/data/test.fmf
  tests/pull/results/main.fmf
  tests/pull/results/test.sh
  tests/pull/simple/main.fmf
  tests/pull/simple/test.sh
  tmt/base.py
  tmt/steps/execute/__init__.py
  tmt/steps/execute/detach.py
  tmt/steps/execute/internal.py
  tmt/steps/finish/__init__.py
  tmt/steps/prepare/__init__.py
Labels: execute, must, base

#1017 Use `TMT_TEST_DATA` as location for `rlFileSubmit`
  tests/execute/filesubmit/test.sh
  tmt/steps/execute/internal.py
Labels: execute

#1019 Fix traceback for login after last report
  tests/login/data/.fmf/version
  tests/login/data/plan.fmf
  tests/login/debug.sh
  tests/login/main.fmf
  tmt/steps/__init__.py
Labels: login

#1024 Disable X11 forwarding in ssh connections
  tmt/steps/provision/__init__.py
Labels: provision
