Repository teemtee/tmt, pull requests merged in 2022-11, with the labels that each got.

#1651 Mention version where important features were added
  spec/plans/import.fmf
Labels: documentation

#1476 Login after each test with -t/--test pameter
  tests/login/data/fmf-tests.fmf
  tests/login/data/tests/main.fmf
  tests/login/data/tests/test1/main.fmf
  tests/login/data/tests/test1/test.sh
  tests/login/data/tests/test2/main.fmf
  tests/login/data/tests/test2/test.sh
  tests/login/debug.sh
  tests/login/main.fmf
  tests/login/test.sh
  tmt/steps/__init__.py
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
Labels: execute, blocked

#1605 Add test for TTY state in test environment
  tests/execute/tty/data/.fmf/version
  tests/execute/tty/data/plan.fmf
  tests/execute/tty/data/python.py
  tests/execute/tty/data/shell.sh
  tests/execute/tty/data/test.fmf
  tests/execute/tty/main.fmf
  tests/execute/tty/ptty-wrapper
  tests/execute/tty/test.sh
Labels: tests

#1656 Improve fmf-id processing
  tmt/base.py
  tmt/export.py
  tmt/utils.py
Labels: must

#1645 Add `compatible` as a new hardware specification key
  spec/hardware/compatible.fmf
  tmt/schemas/provision/hardware.yaml
Labels: specification, hardware

#1654 Change order of plugin and guest classes in their files
  tmt/steps/provision/__init__.py
  tmt/steps/provision/artemis.py
  tmt/steps/provision/connect.py
  tmt/steps/provision/local.py
  tmt/steps/provision/podman.py
  tmt/steps/provision/testcloud.py
Labels: provision

#1635 Formalize "data" package passed to tmt.result.Result
  tests/execute/result/custom.sh
  tests/execute/result/custom/results.yaml
  tests/execute/result/custom/test.fmf
  tests/execute/result/custom/wrong_results.yaml
  tests/unit/test_report_junit.py
  tmt/result.py
  tmt/steps/__init__.py
  tmt/steps/execute/__init__.py
  tmt/utils.py
Labels: execute

#1653 Warn user about data erasing after prepare step
  spec/plans/prepare.fmf
Labels: documentation, prepare

#1250 Do not truncate `RunError` output in verbose mode
  bin/tmt
  tests/run/error/main.fmf
  tests/run/error/test.sh
  tmt/utils.py
Labels: utils

#1658 Handle an fmf fetch error in remote plan clone
  tests/plan/import/basic.sh
  tests/plan/import/errors.sh
  tests/plan/import/invalid-data/.fmf/version
  tests/plan/import/invalid-data/bad-url.fmf
  tests/plan/import/main.fmf
  tmt/base.py
Labels: plans

#1659 Add support for Artemis v0.0.46 upcoming release
  tmt/steps/provision/artemis.py
Labels: provision, artemis

#1490 Fix default `framework`, remove old execution methods
  tests/execute/basic/data/plan.fmf
  tests/execute/basic/data/test.fmf
  tests/execute/basic/test.sh
  tests/execute/codes/test.sh
  tests/execute/framework/data/tests.fmf
  tests/execute/framework/main.fmf
  tests/execute/framework/test.sh
  tests/login/when.sh
  tests/run/default/test.sh
  tests/run/remove/test.sh
  tests/test/export/parse.py
  tests/test/show/test.sh
  tmt/base.py
  tmt/steps/discover/__init__.py
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
Labels: base

#1484 Explicitly document extending the plan environment
  docs/examples.rst
  spec/plans/environment.fmf
Labels: documentation, environment

#1664 Skip missing debuginfo packages in `recommend`
  tests/prepare/recommend/data/plan.fmf
  tests/prepare/recommend/data/test.fmf
  tests/prepare/recommend/test.sh
  tmt/steps/prepare/install.py
Labels: prepare

#1521 Fix test duration enforcement
  tests/execute/duration/data/long.sh
  tests/execute/duration/data/short.sh
  tests/execute/duration/data/test.fmf
  tests/execute/duration/main.fmf
  tests/execute/duration/test.sh
  tmt/steps/execute/internal.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/local.py
  tmt/steps/provision/podman.py
  tmt/utils.py
Labels: bug, execute

#1669 Updates docs with example on adjust/prepare+
  docs/examples.rst
Labels: documentation

#1668 Use image exists to check for container image
  tmt/steps/provision/podman.py
Labels: containers

#1670 Properly set the `tmt` script shebang on `rhel-8`
  tmt.spec
Labels: packaging

#1666 Setting tree root for new tree as well
  tests/discover/force.sh
  tests/discover/main.fmf
  tmt/base.py
Labels: bug, discover, must

#1684 Read source from correct directory if ref is used
  tests/discover/distgit.sh
  tmt/steps/discover/fmf.py
Labels: discover

#1677 Change common class constructors to use keyword arguments only
  .pre-commit-hooks.yaml
  docs/conf.py
  tests/core/path/test.py
  tests/integration/test_nitrate.py
  tests/unit/test_base.py
  tests/unit/test_beakerlib.py
  tests/unit/test_report_junit.py
  tests/unit/test_schemas.py
  tests/unit/test_utils.py
  tmt/base.py
  tmt/beakerlib.py
  tmt/cli.py
  tmt/result.py
  tmt/steps/__init__.py
  tmt/steps/discover/__init__.py
  tmt/steps/discover/shell.py
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
  tmt/steps/execute/upgrade.py
  tmt/steps/prepare/__init__.py
  tmt/steps/prepare/install.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/artemis.py
  tmt/steps/provision/connect.py
  tmt/steps/provision/local.py
  tmt/steps/provision/podman.py
  tmt/steps/provision/testcloud.py
  tmt/utils.py
Labels: breakage, code style

#1693 Extend the `duration` for tests using containers
  tests/execute/restraint/main.fmf
  tests/execute/upgrade/main.fmf
  tests/multihost/prepare/main.fmf
  tests/pull/main.fmf
Labels: tests

#1592 Use custom subclass of click.Context for better annotations
  tmt/base.py
  tmt/cli.py
  tmt/options.py
  tmt/steps/__init__.py
  tmt/steps/discover/__init__.py
  tmt/steps/execute/__init__.py
  tmt/steps/finish/__init__.py
  tmt/steps/prepare/__init__.py
  tmt/steps/provision/__init__.py
  tmt/steps/report/__init__.py
  tmt/utils.py
Labels: type annotations

#1698 Add a simple test demonstrating the upgrade testing
  spec/plans/execute.fmf
Labels: documentation

#1606 Update specification of the `where` multihost key
  spec/plans/discover.fmf
  spec/plans/execute.fmf
  spec/plans/provision.fmf
Labels: specification, multihost

#1673 Initial support for passing ssh options from cli.
  tests/provision/ssh-options/data/.fmf/version
  tests/provision/ssh-options/data/plan.fmf
  tests/provision/ssh-options/main.fmf
  tests/provision/ssh-options/test.sh
  tmt/steps/provision/__init__.py
  tmt/steps/provision/artemis.py
  tmt/steps/provision/connect.py
  tmt/steps/provision/testcloud.py
Labels: provision

#1660 Enable verbose output in provision and prepare steps
  tests/multihost/prepare/test.sh
  tmt/steps/execute/internal.py
  tmt/steps/prepare/install.py
  tmt/steps/prepare/multihost.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/local.py
  tmt/steps/provision/podman.py
  tmt/utils.py
Labels: provision, prepare

#1674 Capture exceptions when getting image_url
  tmt/steps/provision/testcloud.py
Labels: provision, testcloud

#1708 Support absolute paths in HTML reports
  tests/report/html/test.sh
  tmt/steps/report/html.py
  tmt/steps/report/html/template.html.j2
Labels: report, html

#1720 Deleting unsed and duplicite part of finish step
  tmt/steps/finish/__init__.py
Labels: finish
