Repository teemtee/tmt, pull requests merged in 2022-05, with the labels that each got.

#1040 Testcloud: MultiArch Support
  setup.py
  tmt.spec
  tmt/steps/provision/testcloud.py
Labels: provision, testcloud

#1151 Release tmt-1.13.0
  tmt.spec
Labels: packaging

#1150 Import from Makefile with missing build target
  tmt/convert.py
Labels: import, tests

#1154 Fix login during `execute` and `prepare` step
  tests/login/step.sh
  tmt/steps/__init__.py
Labels: bug, login

#1156 Remove the obsoleted `detach` execute method
  setup.py
  spec/plans/execute.fmf
  stories/cli/steps.fmf
  tests/core/env/test.sh
  tests/execute/basic/data/plan.fmf
  tests/execute/basic/test.sh
  tests/execute/duration/test.sh
  tests/execute/exit-first/data/plan.fmf
  tests/execute/exit-first/test.sh
  tests/execute/framework/test.sh
  tests/execute/weird/test.sh
  tests/plan/lint/data/multi_execute.fmf
  tests/report/junit/test.sh
  tmt/steps/execute/__init__.py
  tmt/steps/execute/detach.py
  tmt/steps/execute/run.sh
Labels: execute

#1161 Disable network access when building in copr
  .packit.yaml
Labels: packaging

#1162 Execute script should not be used with discover
  spec/plans/execute.fmf
  tests/execute/script/data/.fmf/version
  tests/execute/script/data/plan.fmf
  tests/execute/script/main.fmf
  tests/execute/script/test.sh
  tmt/steps/discover/__init__.py
Labels: execute, discover

#1069 Bootstraps type annotations
  .gitignore
  .pre-commit-config.yaml
  mypy.ini
  plans/integration/main.fmf
  setup.py
  tests/unit/test_report_junit.py
  tests/unit/test_utils.py
  tmt.spec
  tmt/base.py
  tmt/steps/__init__.py
  tmt/steps/execute/internal.py
  tmt/steps/provision/artemis.py
  tmt/utils.py
Labels: style

#1170 Enable mypy check for Artemis provision plugin
  mypy.ini
  tmt/steps/provision/artemis.py
Labels: provision

#1168 Prevent infinite recursion if --id is set
  tests/run/recursion/main.fmf
  tests/run/recursion/test.sh
  tmt/base.py
Labels: base

#1189 Correctly handle tests --name '.' shortcut
  tests/test/select/data/sub/first.fmf
  tests/test/select/data/sub/main.fmf
  tests/test/select/data/sub/second.fmf
  tests/test/select/data/subdir_other.fmf
  tests/test/select/test.sh
  tmt/base.py
Labels: tests

#1155 Detect component from general plan during import
  tmt/cli.py
  tmt/convert.py
Labels: import, nitrate

#1204 Buildrequire python3-docutils, append plan adjust
  plans/main.fmf
  tests/full/test.sh
  tmt.spec
Labels: packaging, tests

#1210 Extend the reboot timeout to allow system upgrades
  tmt/steps/provision/__init__.py
  tmt/steps/provision/podman.py
Labels: provision

#1213 Kill the running test when rebooting
  stories/features/reboot.fmf
  tests/execute/reboot/data/test.sh
  tmt/steps/execute/internal.py
Labels: execute

#1219 Explicitly set the docs language in the config
  docs/conf.py
  plans/install/docs.fmf
Labels: documentation

#1217 Changes timeout handling in Guest.reconnect() to be based on time
  tmt/steps/provision/__init__.py
Labels: provision
