Repository teemtee/tmt, pull requests merged in 2022-12, with the labels that each got.

#1718 Pruning of irrelevant files during the finish step
  tests/discover/distgit.sh
  tests/discover/no-git-needed/test.sh
  tests/finish/prune/data/.fmf/version
  tests/finish/prune/data/plan.fmf
  tests/finish/prune/data/test.fmf
  tests/finish/prune/main.fmf
  tests/finish/prune/test.sh
  tests/report/html/test.sh
  tmt/base.py
  tmt/cli.py
  tmt/steps/__init__.py
  tmt/steps/discover/__init__.py
  tmt/steps/execute/__init__.py
  tmt/steps/finish/__init__.py
  tmt/steps/provision/__init__.py
Labels: finish

#1713 Adds flake8 coverage for bin/ directory
  .flake8
  .pre-commit-config.yaml
Labels: tests

#1558 Support step data definitions carrying CLI options
  tmt/steps/__init__.py
  tmt/steps/discover/__init__.py
  tmt/steps/finish/shell.py
  tmt/utils.py
Labels: cli, code style

#1507 Support `TMT_WORKDIR_ROOT` environment variable
  README.rst
  tests/unit/test_utils.py
  tmt/utils.py
Labels: utils

#1322 Capture provision error when login is used
  tests/login/main.fmf
  tests/login/ready.sh
  tmt/steps/provision/__init__.py
  tmt/steps/provision/artemis.py
  tmt/steps/provision/local.py
  tmt/steps/provision/podman.py
  tmt/steps/provision/testcloud.py
Labels: provision

#1739 Cover setup.py with pre-commit Python checks
  .flake8
  .pre-commit-config.yaml
  mypy.ini
  setup.py
Labels: tests

#1745 Connect needs is_ready property as well
  tmt/steps/provision/__init__.py
Labels: provision

#1747 When Plan's CLI context object is not set, do not spike fmf context w…
  tmt/base.py
Labels: context, base

#1748 Do not prune `html` and `junit` reports
  tests/finish/prune/data/plan.fmf
  tests/finish/prune/test.sh
  tests/report/html/test.sh
  tmt/steps/__init__.py
  tmt/steps/report/html.py
  tmt/steps/report/junit.py
Labels: report, must, steps

#1742 Catch SystemExit during module discovery
  tmt/plugins/__init__.py
Labels: plugins

#1743 Drop various guest `wake()` methods in favor of parent class
  tmt/steps/provision/__init__.py
  tmt/steps/provision/artemis.py
  tmt/steps/provision/connect.py
  tmt/steps/provision/local.py
  tmt/steps/provision/podman.py
  tmt/steps/provision/testcloud.py
Labels: provision

#1731 Enhance `Links` to allow checking for any links at all
  tests/unit/test_base.py
  tmt/base.py
Labels: core

#1727 Add a clickable web link to test to polarion export
  tests/core/web-link/data/.fmf/version
  tests/core/web-link/data/plan.fmf
  tests/core/web-link/data/story.fmf
  tests/core/web-link/data/test.fmf
  tests/core/web-link/main.fmf
  tests/core/web-link/test.py
  tmt/base.py
  tmt/export.py
  tmt/utils.py
Labels: export, polarion

#1750 Include the new web link in verbose `show` mode
  tests/core/web-link/test.py
  tmt/base.py
Labels: cli, core

#1728 Require the latest `testcloud` package
  setup.py
  tmt.spec
Labels: packaging
