Repository teemtee/tmt, pull requests merged in 2022-09, with the labels that each got.

#1481 Print escaped command suitable for manual debugging
  tmt/utils.py
Labels: logging

#1495 Correcting rhts command names in stories file.
  stories/features/report-log.fmf
Labels: documentation

#1472 Add plan schema for errata and minute plugins
  tmt/schemas/prepare/errata.yaml
  tmt/schemas/provision/minute.yaml
Labels: schema

#1489 Add support for remote playbooks in prepare
  spec/plans/finish.fmf
  spec/plans/prepare.fmf
  tests/prepare/ansible/data/plan.fmf
  tests/prepare/ansible/test.sh
  tmt/steps/prepare/ansible.py
Labels: prepare, ansible

#1470 Initialize workdir thread-safe
  tests/unit/test_utils.py
  tmt/utils.py
Labels: utils

#1487 Error out if reboot timeout is exceeded
  tests/execute/reboot/main.fmf
  tests/execute/reboot/shorten-timeout-data/.fmf/version
  tests/execute/reboot/shorten-timeout-data/plans/example.fmf
  tests/execute/reboot/shorten-timeout-data/tests/example/main.fmf
  tests/execute/reboot/shorten-timeout.sh
  tmt/steps/execute/internal.py
  tmt/utils.py
Labels: reboot

#1473 Unify Polarion case searching
  tmt/base.py
  tmt/export.py
  tmt/steps/report/polarion.py
Labels: export, report, polarion

#1461 Use tmt.utils.SerializableContainer for plugins' data
  tests/execute/script/data/plan.fmf
  tests/plan/show/test.sh
  tests/unit/test_report_junit.py
  tmt/base.py
  tmt/steps/__init__.py
  tmt/steps/discover/__init__.py
  tmt/steps/discover/fmf.py
  tmt/steps/discover/shell.py
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
  tmt/steps/execute/upgrade.py
  tmt/steps/finish/__init__.py
  tmt/steps/finish/ansible.py
  tmt/steps/finish/shell.py
  tmt/steps/prepare/__init__.py
  tmt/steps/prepare/ansible.py
  tmt/steps/prepare/install.py
  tmt/steps/prepare/multihost.py
  tmt/steps/prepare/shell.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/artemis.py
  tmt/steps/provision/connect.py
  tmt/steps/provision/local.py
  tmt/steps/provision/podman.py
  tmt/steps/provision/testcloud.py
  tmt/steps/report/__init__.py
  tmt/steps/report/html.py
  tmt/steps/report/junit.py
  tmt/steps/report/polarion.py
  tmt/utils.py
Labels: plugins, type annotations

#1496 Step data as dataclasses - staging PR
  tests/execute/script/data/plan.fmf
  tests/plan/show/test.sh
  tests/unit/test_report_junit.py
  tmt/base.py
  tmt/steps/__init__.py
  tmt/steps/discover/__init__.py
  tmt/steps/discover/fmf.py
  tmt/steps/discover/shell.py
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
  tmt/steps/execute/upgrade.py
  tmt/steps/finish/__init__.py
  tmt/steps/finish/ansible.py
  tmt/steps/finish/shell.py
  tmt/steps/prepare/__init__.py
  tmt/steps/prepare/ansible.py
  tmt/steps/prepare/install.py
  tmt/steps/prepare/multihost.py
  tmt/steps/prepare/shell.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/artemis.py
  tmt/steps/provision/connect.py
  tmt/steps/provision/local.py
  tmt/steps/provision/podman.py
  tmt/steps/provision/testcloud.py
  tmt/steps/report/__init__.py
  tmt/steps/report/html.py
  tmt/steps/report/junit.py
  tmt/steps/report/polarion.py
  tmt/utils.py
Labels: type annotations, code style

#1451 Replace blank "type: ignore" with more specific waivers
  .pre-commit-config.yaml
  tmt/cli.py
  tmt/export.py
  tmt/steps/finish/ansible.py
  tmt/steps/provision/testcloud.py
  tmt/steps/report/junit.py
  tmt/utils.py
Labels: tests, type annotations

#1329 Add typing for `steps/discover/fmf.py`
  mypy.ini
  tmt/steps/discover/fmf.py
Labels: discover, type annotations

#1511 Remove support for the obsoleted `detach` executor
  tmt/base.py
  tmt/steps/discover/__init__.py
Labels: execute

#1516 Allow mypy to cover whole tmt.steps.discover
  mypy.ini
Labels: tests, type annotations

#1514 Fixes plan schema to allow custom context dimensions
  tmt/schemas/plan.yaml
Labels: bug, plans, schema

#1440 Adds a helper for importing a member from a module
  tests/unit/test_utils.py
  tmt/plugins/__init__.py
  tmt/utils.py
Labels: code style

#1533 Update test data for the debuginfo install test
  tests/prepare/install/data/debuginfo.fmf
Labels: prepare, tests

#1535 Fixes handling of default of --key in connect plugin
  tmt/steps/provision/connect.py
Labels: bug, provision

#1502 Add Polarion as a source for test case import
  docs/examples.rst
  tmt/cli.py
  tmt/convert.py
  tmt/export.py
Labels: import, polarion

#1509 Make sure short option '-x' is covered
  tests/discover/filtering.sh
Labels: discover, tests

#1494 Support to install package from URL
  spec/plans/prepare.fmf
  tests/prepare/install/data/epel8-remote.fmf
  tests/prepare/install/test.sh
  tmt/steps/prepare/install.py
Labels: prepare

#1527 Replace spaces with underscores if making workdir
  tmt/steps/discover/__init__.py
  tmt/utils.py
Labels: core

#1328 Add typing for tmt/steps/execute/internal.py
  mypy.ini
  tmt/steps/execute/internal.py
Labels: type annotations
