Repository teemtee/tmt, pull requests merged in 2022-02, with the labels that each got.

#1025 Use `centos:stream8` image instead of `centos:8`
  tests/prepare/adjust/test.sh
  tests/prepare/install/data/debuginfo.fmf
  tests/prepare/recommend/test.sh
Labels: tests

#1026 Ensure that workdir has a correct selinux context
  tests/test/debug/main.fmf
  tests/test/debug/test.sh
  tmt/steps/provision/podman.py
Labels: provision, containers

#995 Make reboot support a bit more backward compatible
  README.rst
  stories/features/reboot.fmf
  tests/execute/reboot/basic.sh
  tests/execute/reboot/data/test.sh
  tests/execute/reboot/reuse.sh
  tmt/steps/execute/internal.py
Labels: execute

#1030 Add `html2text` to the `convert` pip dependencies
  setup.py
Labels: packaging

#1044 Document framework:shell exit codes
  spec/tests/framework.fmf
Labels: documentation

#1049 Use a colon for separating `TMT_PLUGINS` paths
  README.rst
  tmt/plugins/__init__.py
Labels: documentation, plugins

#1032 Tweak test suite (duration, centos:8, datadir)
  docs/contribute.rst
  tests/discover/libraries/main.fmf
  tests/execute/filesubmit/main.fmf
  tests/execute/rsync/main.fmf
  tests/finish/ansible/data/plan.fmf
  tests/finish/ansible/test.sh
  tests/prepare/ansible/test.sh
  tests/run/worktree/main.fmf
Labels: tests

#1048 Fix test --name '.' used with multiple plans
  tests/test/select/data/subdir/main.fmf
  tests/test/select/test.sh
  tmt/base.py
Labels: tests, cli

#1052 Add dnf support for rsync install
  tmt/steps/provision/__init__.py
Labels: provision

#1073 Fix link generation in report.html
  tmt/steps/report/html.py
Labels: report

#724 Check remote git URL if it is accessible
  Makefile
  tests/integration/__init__.py
  tests/integration/test_data/test_nitrate/NitrateExport.test_coverage_bugzilla.yaml
  tests/integration/test_data/test_nitrate/NitrateExport.test_create.yaml
  tests/integration/test_data/test_nitrate/NitrateExport.test_existing.yaml
  tests/integration/test_data/test_nitrate/NitrateImport.test_import_manual_confirmed.yaml
  tests/integration/test_data/test_nitrate/NitrateImport.test_import_manual_proposed.yaml
  tests/integration/test_data/test_nitrate/NitrateImportAutomated.test_basic.yaml
  tmt/export.py
  tmt/utils.py
Labels: export, tests
