Repository teemtee/tmt, pull requests merged in 2022-04, with the labels that each got.

#1126 Story.example can hold list of strings
  spec/stories/example.fmf
  tmt/base.py
Labels: stories, specification

#1122 Use separate examples in the test specification
  spec/tests/component.fmf
  spec/tests/contact.fmf
  spec/tests/duration.fmf
  spec/tests/framework.fmf
  spec/tests/manual.fmf
  spec/tests/recommend.fmf
  spec/tests/relevancy.fmf
  spec/tests/require.fmf
  spec/tests/tag.fmf
  spec/tests/test.fmf
Labels: documentation

#858 Add a command to setup shell completions
  README.rst
  tmt/cli.py
Labels: cli

#1129 Release tmt-1.12.0
  README.rst
  tmt.spec
Labels: packaging

#1132 Fix exclude option in fmf discover
  tests/discover/data/plans.fmf
  tests/discover/filtering.sh
  tmt/steps/discover/fmf.py
Labels: discover

#1120 Update multihost specification with guest groups
  spec/plans/provision.fmf
Labels: provision, specification, discuss

#1135 Basic multihost test for the httpd web server
  tests/multihost/web/data/.fmf/version
  tests/multihost/web/data/plan.fmf
  tests/multihost/web/main.fmf
Labels: tests

#1139 Adds nice provisioning progress to Artemis provision plugin
  tmt/steps/execute/internal.py
  tmt/steps/provision/artemis.py
  tmt/utils.py
Labels: provision
