Repository teemtee/tmt, pull requests merged in 2023-04, with the labels that each got.

#1920 Display guest full name in "html" plugin report
  tests/report/html/data/main.fmf
  tests/report/html/test.sh
  tmt/schemas/report/html.yaml
  tmt/steps/report/html.py
  tmt/steps/report/html/template.html.j2
Labels: report, multihost

#1943 Rename Guest.full_name to Guest.multihost_name
  tests/unit/test_guest.py
  tmt/steps/provision/__init__.py
Labels: provision

#1967 Install `beakerlib` before running `ShellCheck`
  .github/workflows/shellcheck.yml
Labels: tests

#1969 Document current workaround for running scripts
  docs/examples.rst
Labels: documentation

#1971 Freeze the `yq` version to fix `el8` installation
  plans/features/main.fmf
  setup.py
Labels: packaging, tests

#1965 Add test checking repeated test execution results
  tests/execute/result/main.fmf
  tests/execute/result/repeated.sh
  tests/execute/result/repeated/.fmf/version
  tests/execute/result/repeated/main.fmf
Labels: execute, tests

#1968 Avoid warning from installing tmt as pre-commit
  docs/guide.rst
Labels: documentation

#1909 Display guest full name in `display` plugin report
  tests/discover/tests.sh
  tests/execute/result/basic.sh
  tests/execute/result/custom.sh
  tests/report/display/data/.fmf/version
  tests/report/display/data/main.fmf
  tests/report/display/main.fmf
  tests/report/display/test.sh
  tmt/result.py
  tmt/steps/provision/__init__.py
  tmt/steps/report/display.py
Labels: report, multihost

#1912 Extract "run a command" functionality into a stand-alone helper
  tests/unit/test_utils.py
  tmt/steps/discover/fmf.py
  tmt/steps/discover/shell.py
  tmt/utils.py
Labels: no functional change

#1891 Support to get `ref` in git worktree
  tests/plan/show/test.sh
  tmt/base.py
  tmt/beakerlib.py
  tmt/steps/discover/fmf.py
  tmt/utils.py
Labels: utils

#1981 fix the Beaker provision plugin that it does respect arch and use job id instead of guestname
  tmt/steps/provision/mrack.py
Labels: provision, mrack

#1985 Tag cloud resources to `tmt` in Testing Farm
  .packit.yaml
Labels: tests

#1954 Document necessary packages for pip install on Ubuntu
  README.rst
  docs/questions.rst
Labels: documentation

#1978 Prepend '/' to custom test result name if missing
  tests/execute/result/custom.sh
  tests/execute/result/custom/results.yaml
  tests/execute/result/custom/test.fmf
  tmt/steps/execute/__init__.py
Labels: execute, results

#1972 Proper support for the `duration` format
  spec/tests/duration.fmf
  tests/unit/test_utils.py
  tmt/schemas/test.yaml
  tmt/utils.py
Labels: specification, tests

#1961 Allow custom results.json
  spec/tests/result.fmf
  tests/execute/result/custom.sh
  tests/execute/result/custom/results.json
  tests/execute/result/custom/test.fmf
  tests/execute/result/custom/wrong_results.json
  tmt/steps/execute/__init__.py
  tmt/utils.py
Labels: execute, results

#1991 Change help text of the `tmt --root` option
  tmt/cli.py
Labels: cli

#1993 Release tmt-1.22.0
  README.rst
  tmt.spec
Labels: packaging

#1995 Fix tests run only in full testsuite
  tests/execute/reboot/reuse.sh
  tests/execute/upgrade/full.sh
  tests/login/ready.sh
Labels: tests

#1923 Support multiline strings for option help texts
  tmt/utils.py
Labels: cli, no functional change

#1988 Don't run `ShellCheck` on tests & decrease severity
  .github/workflows/shellcheck.yml
Labels: tests

#1996 Install beakerlib into images used in test/full
  tests/full/test.sh
Labels: tests

#1975 Merge run_command() and _run_command() into Command.run()
  tests/unit/test_utils.py
  tmt/utils.py
Labels: code style, no functional change

#1887 Example to parametrize test selection via envars
  docs/examples.rst
  tests/discover/data/plans.fmf
  tests/discover/parametrize.sh
Labels: discover

#1973 Move tools config to `pyproject.toml`, add Ruff
  .flake8
  .pre-commit-config.yaml
  docs/conf.py
  mypy.ini
  pyproject.toml
  setup.py
  tmt/steps/execute/upgrade.py
  tmt/steps/provision/testcloud.py
  tmt/utils.py
Labels: code style

#1856 Support logging "topics" to allow lower unnecessary verbosity
  tests/core/logging/main.fmf
  tests/core/logging/test.sh
  tests/unit/test_logging.py
  tmt/log.py
  tmt/options.py
  tmt/steps/execute/internal.py
  tmt/utils.py
Labels: logging

#2012 Add type annotations to tmt.steps.STEPS/ACTIONS
  tmt/steps/__init__.py
Labels: type annotations

#2011 Add missing support for 0.0.55 and 0.0.48 API
  tmt/steps/provision/artemis.py
Labels: artemis

#1980 Move "show exception" code to utils
  bin/tmt
  tmt/utils.py
Labels: logging, no functional change

#2018 Remove `group` from the `multihost` specification
  spec/plans/provision.fmf
Labels: specification, multihost

#2000 Add new link relation `test-script` definition
  spec/core/link.fmf
  tests/core/link/data/tests/smoke/main.fmf
  tests/core/link/test.sh
  tmt/base.py
  tmt/export/polarion.py
  tmt/schemas/common.yaml
Labels: export, polarion

#2005 Support for fuzzy matching subcommand
  tests/usability/data/.fmf/version
  tests/usability/data/cmdabbr.fmf
  tests/usability/main.fmf
  tests/usability/test.sh
  tmt/options.py
Labels: cli

#1870 Polish workdir pruning - pathlib transition & logging
  tmt/base.py
  tmt/log.py
  tmt/steps/__init__.py
  tmt/steps/discover/__init__.py
  tmt/steps/execute/__init__.py
  tmt/steps/provision/__init__.py
  tmt/steps/report/html.py
  tmt/steps/report/junit.py
  tmt/steps/report/polarion.py
Labels: logging, steps

#2026 Log out testcloud version in virtual provision
  tmt/steps/provision/testcloud.py
Labels: testcloud, ready for merge
