Repository teemtee/tmt, pull requests merged in 2023-11, with the labels that each got.

#2436 Add hardware schema for GPU
  spec/hardware/gpu.fmf
  tests/unit/test_hardware.py
  tmt/schemas/provision/hardware.yaml
Labels: hardware, schema, no functional change

#2439 Add `retry` for pulling images in the `podman` plugin
  tmt/steps/provision/podman.py
  tmt/utils.py
Labels: provision

#2372 Run scripts with `sudo` when `become` is on
  docs/examples.rst
  tests/provision/become/data/.fmf/version
  tests/provision/become/data/Containerfile
  tests/provision/become/data/main.fmf
  tests/provision/become/data/prepare-finish.fmf
  tests/provision/become/data/scripts/is_root_test.sh
  tests/provision/become/data/scripts/is_user_test.sh
  tests/provision/become/data/test.fmf
  tests/provision/become/main.fmf
  tests/provision/become/test.sh
  tmt/schemas/provision/artemis.yaml
  tmt/schemas/provision/connect.yaml
  tmt/schemas/provision/container.yaml
  tmt/schemas/provision/minute.yaml
  tmt/schemas/provision/virtual.yaml
  tmt/steps/execute/internal.py
  tmt/steps/finish/shell.py
  tmt/steps/prepare/shell.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/podman.py
Labels: execute, provision, prepare, finish

#2434 Framework is not consulted on results provided by tmt-report-result
  stories/features/report-result.fmf
  tests/execute/restraint/report-result/test.sh
  tmt/steps/execute/__init__.py
Labels: execute, results

#2427 Source plan environment variables after `prepare` and `execute` steps
  docs/overview.rst
  tests/core/plan-env-file/data/.fmf/version
  tests/core/plan-env-file/data/main.fmf
  tests/core/plan-env-file/data/override.env
  tests/core/plan-env-file/data/setup_env.sh
  tests/core/plan-env-file/main.fmf
  tests/core/plan-env-file/test.sh
  tmt/base.py
Labels: prepare, finish, must, environment

#2438 Download all sources for `dist-git-source`
  docs/questions.rst
  spec/plans/discover.fmf
  tests/discover/distgit.sh
  tmt/schemas/common.yaml
  tmt/steps/discover/__init__.py
  tmt/steps/discover/fmf.py
  tmt/steps/discover/shell.py
  tmt/utils.py
Labels: discover

#2333 Pruning for test directories
  spec/plans/discover.fmf
  spec/tests/require.fmf
  tests/discover/main.fmf
  tests/discover/prune.sh
  tests/discover/prune/.fmf/version
  tests/discover/prune/plan.fmf
  tests/discover/prune/some-file
  tests/discover/prune/test1/main.fmf
  tests/discover/prune/test2/main.fmf
  tests/libraries/recursion/test.sh
  tests/multihost/complete/data/tests/C/main.fmf
  tmt/libraries/file.py
  tmt/schemas/discover/fmf.yaml
  tmt/steps/discover/fmf.py
  tmt/steps/execute/upgrade.py
  tmt/utils.py
Labels: discover

#2441 Refactor generating of stories and lint check docs
  .readthedocs.yaml
  Makefile
  docs/Makefile
  docs/conf.py
  docs/scripts/generate-lint-checks
  docs/scripts/generate-stories
  plans/install/docs.fmf
  pyproject.toml
Labels: documentation

#2442 Update and polish `hardware` requirement docs
  docs/story.rst.j2
  spec/hardware/arch.fmf
  spec/hardware/boot.fmf
  spec/hardware/compatible.fmf
  spec/hardware/cpu.fmf
  spec/hardware/device.fmf
  spec/hardware/disk.fmf
  spec/hardware/gpu.fmf
  spec/hardware/hostname.fmf
  spec/hardware/main.fmf
  spec/hardware/memory.fmf
  spec/hardware/network.fmf
  spec/hardware/system.fmf
  spec/hardware/tpm.fmf
  spec/hardware/virtualization.fmf
  tmt/schemas/provision/hardware.yaml
Labels: documentation, hardware

#2459 Add page `Releases` to highlight important changes
  .github/pull_request_template.md
  docs/contribute.rst
  docs/index.rst
  docs/releases.rst
Labels: documentation

#2456 Release tmt-1.29.0
  docs/overview.rst
  docs/releases.rst
  tmt.spec
Labels: packaging

#2463 Disable `dist-git-init` in the `distgit` test
  tests/discover/data/plans.fmf
  tests/discover/distgit.sh
Labels: discover, tmt tests

#2423 Drop special normalization methods
  tests/unit/test_dataclasses.py
  tmt/base.py
  tmt/steps/discover/shell.py
  tmt/utils.py
Labels: code style

#2458 Add an `adjust` example for enabling custom repo
  spec/core/adjust.fmf
Labels: specification

#2462 Properly normalize the test `path` key
  tests/core/path/data/weird.fmf
  tests/core/path/test.py
  tmt/base.py
  tmt/utils.py
Labels: bug, tests, base

#2464 Use `renku` as the default theme for building docs
  docs/conf.py
  pyproject.toml
Labels: documentation

#2466 Add a link to the Testing Farm documentation
  docs/overview.rst
Labels: documentation

#2476 Add .py file extension to docs scripts
  docs/Makefile
  docs/scripts/generate-lint-checks.py
  docs/scripts/generate-stories.py
Labels: no functional change

#2467 Try several times to build the `become` container
  tests/provision/become/test.sh
Labels: tmt tests

#2473 Support timestamped logging even on the terminal
  tests/core/logging/test.sh
  tmt/cli.py
  tmt/log.py
Labels: logging

#2453 Add the `whiteboard` option for `beaker` provision
  spec/plans/provision.fmf
  tmt/schemas/provision/beaker.yaml
  tmt/steps/provision/mrack.py
Labels: provision, mrack

#2424 Add a helper for nonconflicting, multihost-safe filenames
  tmt/steps/__init__.py
  tmt/steps/execute/internal.py
  tmt/steps/finish/shell.py
  tmt/steps/prepare/shell.py
Labels: code style, multihost

#2115 Add `pyright` as a `pre-commit` check
  .pre-commit-config.yaml
  pyproject.toml
Labels: type annotations, tmt tests

#2469 Convert test execution internals to use "invocation" bundle
  tmt/checks/__init__.py
  tmt/checks/avc.py
  tmt/checks/dmesg.py
  tmt/frameworks/__init__.py
  tmt/frameworks/beakerlib.py
  tmt/frameworks/shell.py
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
Labels: execute, blocking other work

#2492 Remove expected fail from `/tests/pip/install/full`
  tests/pip/install.fmf
Labels: tmt tests

#2482 Move invocation-related fields out of `Test` class
  tmt/base.py
  tmt/checks/avc.py
  tmt/frameworks/beakerlib.py
  tmt/frameworks/shell.py
  tmt/result.py
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
Labels: bug, execute, no functional change

#2477 Add a dedicated exit code when all tests reported "skip" result
  docs/overview.rst
  docs/releases.rst
  tests/execute/result/basic.sh
  tests/unit/test_results.py
  tmt/base.py
  tmt/cli.py
  tmt/result.py
Labels: cli, breakage, results

#2419 Add networks to the podman provision plugin
  docs/guide.rst
  docs/releases.rst
  tests/multihost/container-network/data/.fmf/version
  tests/multihost/container-network/data/plan.fmf
  tests/multihost/container-network/data/test.fmf
  tests/multihost/container-network/main.fmf
  tmt/steps/provision/podman.py
Labels: enhancement, containers, multihost

#2460 Store fmf `context` in results for each test
  spec/plans/results.fmf
  tests/execute/result/basic.sh
  tmt/result.py
  tmt/schemas/common.yaml
  tmt/schemas/plan.yaml
  tmt/schemas/results.yaml
  tmt/steps/execute/__init__.py
Labels: execute, results

#2455 Cover `tmt.result` with `pyright` checks
  pyproject.toml
  tmt/result.py
Labels: tmt tests

#2471 Cover tmt.checks, tmt.frameworks and tmt.log with pyright
  pyproject.toml
  tmt/base.py
  tmt/checks/__init__.py
  tmt/frameworks/beakerlib.py
Labels: tmt tests

#2485 Cover `tmt.options` with `pyright`
  pyproject.toml
  tmt/options.py
Labels: tmt tests

#2450 Fix remote nested library fetch and add test
  tests/libraries/nested/data/.fmf/version
  tests/libraries/nested/data/main.fmf
  tests/libraries/nested/data/test.sh
  tests/libraries/nested/main.fmf
  tests/libraries/nested/test.sh
  tmt/libraries/beakerlib.py
Labels: bug, libraries

#2491 Allow running upgrade from the current repository
  spec/plans/execute.fmf
  tests/execute/upgrade/local/.fmf/version
  tests/execute/upgrade/local/main.fmf
  tests/execute/upgrade/main.fmf
  tmt/steps/execute/upgrade.py
Labels: upgrade

#2497 Move `mrack` configs into `tmt+provision-beaker`
  tmt.spec
Labels: packaging

#2474 Add Python 3.12 to the test matrix
  pyproject.toml
Labels: packaging

#2498 Bump tmt in lint pre-commit check to 1.29.0
  .pre-commit-config.yaml
  docs/guide.rst
Labels: pre-commit, tmt tests

#2499 Add more distros to mrack config
  tmt/steps/provision/mrack/mrack-provisioning-config.yaml
Labels: mrack

#2494 Increase verbosity of Artemis provisioning errors
  tmt/steps/provision/artemis.py
Labels: provision, logging, artemis

#2502 Make check plugin class generic over check class
  tmt/checks/__init__.py
  tmt/checks/avc.py
  tmt/checks/dmesg.py
Labels: type annotations, no functional change

#2495 Document how to use `yaml` anchors and aliases
  docs/guide.rst
Labels: documentation

#2504 Add `-i` to select an image in beaker and artemis
  tmt/steps/provision/artemis.py
  tmt/steps/provision/mrack.py
Labels: mrack

#2508 Move test-requested reboot handling into test invocation class
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
Labels: execute, reboot

#2511 Update docs for the `polarion` report plugin
  spec/plans/report.fmf
Labels: documentation, polarion

#2513 Add `--feeling-safe` for allowing possibly dangerous actions
  stories/features/feeling-safe.fmf
  tests/core/feeling-safe/main.fmf
  tests/core/feeling-safe/test.sh
  tmt/base.py
  tmt/cli.py
  tmt/utils.py
Labels: cli

#2512 Custom soft/hard reboot commands for the connect provision plugin
  tests/provision/reboot/main.fmf
  tests/provision/reboot/test.sh
  tmt/schemas/provision/connect.yaml
  tmt/steps/provision/__init__.py
  tmt/steps/provision/connect.py
Labels: provision, reboot

#2520 Cover tmt.cli with pyright
  pyproject.toml
  tmt/cli.py
Labels: type annotations, tmt tests

#2516 Add the `fips` field for the `polarion` report
  docs/releases.rst
  tmt/schemas/report/polarion.yaml
  tmt/steps/report/polarion.py
Labels: report, polarion

#2522 Link `inheritance` and `elasticity` from the guide
  docs/guide.rst
Labels: documentation

#2527 Rename `name` to `how` in test check specification
  docs/releases.rst
  spec/plans/results.fmf
  spec/tests/check.fmf
  tests/test/check/data/main.fmf
  tmt/checks/__init__.py
  tmt/schemas/common.yaml
Labels: documentation, specification, check

#2146 Run all available tests only upon a user request
  .packit.yaml
  docs/contribute.rst
Labels: tmt tests
