Repository teemtee/tmt, pull requests merged in 2023-08, with the labels that each got.

#2247 Remove the temporary hotfix for deep libraries
  tmt/libraries/beakerlib.py
Labels: libraries

#2242 Add missing arguments in polarion report schema
  tmt/schemas/report/polarion.yaml
Labels: report, polarion, schema

#2243 Add missing name attribute to report plugins schema
  tmt/schemas/report/display.yaml
  tmt/schemas/report/html.yaml
  tmt/schemas/report/junit.yaml
  tmt/schemas/report/polarion.yaml
  tmt/schemas/report/reportportal.yaml
Labels: report, schema

#2250 Full `pip install` expected to fail on `Rawhide`
  plans/install/pip.fmf
  tests/pip/install.fmf
Labels: tmt tests

#2249 Use the latest `sphinx-rtd-theme` for docs building
  setup.py
Labels: documentation

#2237 Remove `epel-8` and `python-3.6` specifics
  .packit.yaml
  README.rst
  plans/features/main.fmf
  plans/integration/main.fmf
  pyproject.toml
  setup.py
  tmt.spec
  tmt/base.py
  tmt/cli.py
  tmt/export/__init__.py
  tmt/log.py
  tmt/plugins/__init__.py
  tmt/steps/__init__.py
  tmt/steps/prepare/install.py
  tmt/steps/provision/artemis.py
  tmt/steps/provision/mrack.py
  tmt/utils.py
Labels: packaging

#2240 Add dynref support to library type dependency
  tests/libraries/dynamic_ref/data/dynamic-ref
  tests/libraries/dynamic_ref/data/lib.sh
  tests/libraries/dynamic_ref/data/test.sh
  tests/libraries/dynamic_ref/main.fmf
  tests/libraries/dynamic_ref/test.sh
  tmt/base.py
  tmt/libraries/beakerlib.py
Labels: libraries

#2191 Simplify reportportal plugin test using yq
  tests/report/reportportal/test.sh
Labels: tmt tests, reportportal

#1316 Initial draft of hardware requirement helpers
  .pre-commit-config.yaml
  setup.py
  tests/provision/hardware/data/.fmf/version
  tests/provision/hardware/data/main.fmf
  tests/provision/hardware/main.fmf
  tests/provision/hardware/test.sh
  tests/unit/test_hardware.py
  tmt.spec
  tmt/hardware.py
  tmt/steps/__init__.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/artemis.py
  tmt/steps/provision/connect.py
  tmt/steps/provision/local.py
  tmt/steps/provision/mrack.py
  tmt/steps/provision/podman.py
  tmt/steps/provision/testcloud.py
  tmt/utils.py
Labels: hardware

#2257 Verbose regular expression for linter descriptions
  tmt/lint.py
Labels: code style

#2186 Ensure that step phases have unique names
  tests/lint/all/test.sh
  tests/lint/plan/data/duplicate_names.fmf
  tests/lint/plan/test.sh
  tests/multihost/provision/test.sh
  tests/steps/duplicate-name/data/.fmf/version
  tests/steps/duplicate-name/data/plan.fmf
  tests/steps/duplicate-name/main.fmf
  tests/steps/duplicate-name/test.sh
  tests/unit/test_utils.py
  tmt/base.py
  tmt/steps/__init__.py
  tmt/steps/provision/__init__.py
  tmt/utils.py
Labels: utils, steps, base

#2227 No more need to install `pre-commit` using `pip`
  plans/features/advanced.fmf
  tests/precommit/main.fmf
Labels: pre-commit, tmt tests

#2254 Add -e/--environment/--environment-files to plan show/export
  tests/plan/export/data/plan.fmf
  tests/plan/export/test.sh
  tests/plan/show/data/plans/envvars.fmf
  tests/plan/show/test.sh
  tmt/base.py
  tmt/cli.py
  tmt/options.py
  tmt/utils.py
Labels: plans, cli, environment

#2258 Fix guest data show() and how it displays hardware requirements
  tmt/steps/provision/__init__.py
  tmt/steps/provision/artemis.py
  tmt/steps/provision/connect.py
  tmt/steps/provision/local.py
  tmt/steps/provision/mrack.py
  tmt/steps/provision/podman.py
  tmt/steps/provision/testcloud.py
Labels: bug, provision, logging

#2262 Make `tmt init` add `.fmf` directory into git index
  tests/init/git/main.fmf
  tests/init/git/test.sh
  tests/unit/test_utils.py
  tmt/base.py
  tmt/utils.py
Labels: init

#2265 Extend the expected `pip install` fail to `f-39`
  tests/pip/install.fmf
Labels: tmt tests

#2269 Put `--help` at the end of the CLI in the step usage
  tmt/steps/__init__.py
Labels: usability, cli

#2188 Refactor recording of CLI subcommand invocations
  tests/__init__.py
  tests/core/phases/data/.fmf/version
  tests/core/phases/data/plans.fmf
  tests/core/phases/data/test.fmf
  tests/core/phases/main.fmf
  tests/core/phases/test.sh
  tests/execute/result/basic.sh
  tests/integration/test_nitrate.py
  tests/integration/test_polarion.py
  tests/unit/test_base.py
  tests/unit/test_cli.py
  tests/unit/test_id.py
  tmt/base.py
  tmt/cli.py
  tmt/log.py
  tmt/steps/__init__.py
  tmt/steps/discover/__init__.py
  tmt/steps/discover/shell.py
  tmt/steps/execute/__init__.py
  tmt/steps/execute/upgrade.py
  tmt/steps/finish/__init__.py
  tmt/steps/prepare/__init__.py
  tmt/steps/provision/__init__.py
  tmt/steps/report/__init__.py
  tmt/utils.py
Labels: cli

#2282 Fix bug where polarion component is misinterpreted as list
  tmt/convert.py
Labels: bug, import, polarion

#2268 Expose tmt version as an environment variable
  README.rst
  tmt/base.py
Labels: environment, ready for merge

#2291 When rendering exception, indetation was dropping empty lines
  tmt/utils.py
Labels: bug, login, ready for merge

#2286 Add story describing CLI for multiple phases
  stories/cli/multiple phases.fmf
Labels: documentation, cli, ready for merge

#2273 Teach tmt test create to link relevant issues
  docs/guide.rst
  tests/test/create/test.sh
  tmt/base.py
  tmt/cli.py
Labels: tests, cli

#2296 Support Click versions newer than 8.1.4
  .pre-commit-config.yaml
  setup.py
  tmt/cli.py
Labels: ready for merge

#2239 Get Ansible logging on par with general command execution
  tmt/steps/provision/__init__.py
  tmt/steps/provision/local.py
  tmt/steps/provision/podman.py
  tmt/steps/provision/testcloud.py
Labels: prepare, finish, logging, ansible

#2295 Adjust imported plan to let its adjust rules make changes
  tests/plan/import/basic.sh
  tests/plan/import/data/plans.fmf
  tmt/base.py
Labels: import, plans

#2260 Refactor Artemis and Beaker provision tests to make room for HW
  plans/provision/artemis/main.fmf
  plans/provision/artemis/sanity.fmf
  plans/provision/beaker/main.fmf
  plans/provision/beaker/sanity.fmf
  tests/artemis/main.fmf
Labels: artemis, mrack, ready for merge, tmt tests
