Repository teemtee/tmt, pull requests merged in 2023-10, with the labels that each got.

#2304 Allow wider output
  README.rst
  tmt/utils.py
Labels: logging, cli

#2353 Fix creation of guest data from plugin options
  tmt/steps/provision/__init__.py
  tmt/steps/provision/artemis.py
  tmt/steps/provision/connect.py
  tmt/steps/provision/local.py
  tmt/steps/provision/mrack.py
  tmt/steps/provision/podman.py
  tmt/steps/provision/testcloud.py
Labels: bug, provision

#2363 Display test check results in `display` report output
  tmt/result.py
  tmt/steps/report/display.py
Labels: report, results, check

#2371 Hide `OPTIONLESS_FIELDS` from `tmt plan show`
  tmt/steps/__init__.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/connect.py
Labels: bug

#2357 Handle all context dimension values case insensitive
  tests/core/context/data/.fmf/version
  tests/core/context/data/plan.fmf
  tests/core/context/main.fmf
  tests/core/context/test.sh
  tmt/base.py
  tmt/export/nitrate.py
Labels: context

#2230 Add logging of applied adjust rules
  pyproject.toml
  tmt/base.py
  tmt/log.py
Labels: logging

#2347 Add --skip-prepare-verify-ssh and --post-install-script to artemis plugin
  tmt/steps/provision/artemis.py
Labels: provision, artemis

#2338 Add `--update-missing` to update phase fields only when not set by fmf
  tests/core/phases/data/plans.fmf
  tests/core/phases/test.sh
  tmt/steps/__init__.py
Labels: cli

#2330 Record start/end time & duration of test checks
  spec/plans/results.fmf
  tmt/result.py
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
  tmt/utils.py
Labels: tests, results, check

#2379 Remove irrelevant mention of `rhel-8` in the spec
  spec/plans/provision.fmf
Labels: provision, specification

#2380 Add docs for the new `--update-missing` option
  pyproject.toml
  stories/cli/multiple phases.fmf
Labels: documentation

#2326 Add `skip` as a supported custom result outcome
  spec/plans/results.fmf
  tests/execute/restraint/report-result/test.sh
  tests/execute/result/custom.sh
  tests/execute/result/custom/results.yaml
  tmt/result.py
  tmt/steps/execute/__init__.py
Labels: results

#2383 Fix the multihost web test to work with container
  tests/multihost/web/data/test.fmf
Labels: multihost, tmt tests

#2388 Update the `release` action with `hatch` changes
  .github/workflows/release.yml
  README.rst
  docs/contribute.rst
  tmt.spec
Labels: packaging

#2386 Release 1.28.0
  README.rst
  tmt.spec
Labels: packaging

#2391 Remove the `.dev0` suffix from the spec `Version`
  tmt.spec
Labels: packaging

#2394 Release 1.28.1
  tmt.spec
Labels: packaging

#2395 Build man page during the `release` action
  .github/workflows/release.yml
Labels: packaging

#2399 Include the `fmf` root in the tarball as well
  pyproject.toml
  tests/discover/data/plans.fmf
  tests/discover/distgit.sh
Labels: packaging, tmt tests

#2397 Update the list of code owners
  .github/CODEOWNERS
Labels: process

#2387 Fix full test suite after recent packaging changes
  Makefile
  docs/contribute.rst
  tests/core/web-link/test.py
  tests/full/test.fmf
  tests/full/test.sh
Labels: tmt tests

#2370 Hide test/plan/story internal fields from export
  tests/plan/export/test.sh
  tests/story/export/test.sh
  tests/test/export/test.sh
  tmt/base.py
  tmt/steps/__init__.py
  tmt/steps/discover/__init__.py
  tmt/utils.py
Labels: export, code style

#2384 Switch `tmt.identifier` from using `fmf.log`
  tests/unit/test_id.py
  tmt/cli.py
  tmt/export/nitrate.py
  tmt/export/polarion.py
  tmt/identifier.py
Labels: code style

#2382 Add support for checks to have their data packages
  tmt/checks/__init__.py
Labels: code style, check

#2401 Fix installing package from the command line
  tests/prepare/install/test.sh
  tmt/base.py
Labels: bug, prepare

#2405 Replace Generator type annotation with Iterator
  tmt/base.py
  tmt/export/nitrate.py
  tmt/lint.py
  tmt/plugins/__init__.py
  tmt/queue.py
  tmt/steps/__init__.py
  tmt/steps/discover/__init__.py
  tmt/steps/provision/__init__.py
  tmt/utils.py
Labels: code style, blocking other work

#2378 Switch `Logger.print()` to output to stdout
  tests/core/env/test.sh
  tests/core/logging/data/.fmf/version
  tests/core/logging/data/tests.fmf
  tests/core/logging/test.sh
  tests/unit/test_logging.py
  tmt/cli.py
  tmt/log.py
  tmt/utils.py
Labels: logging, blocking other work

#2404 Allow Path instance to be used when constructing commands
  tmt/base.py
  tmt/steps/discover/fmf.py
  tmt/steps/discover/shell.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/local.py
  tmt/steps/provision/podman.py
  tmt/steps/provision/testcloud.py
  tmt/utils.py
Labels: code style

#2411 Update `where` implementation, docs & test coverage
  docs/guide.rst
  spec/plans/discover.fmf
  spec/plans/finish.fmf
  spec/plans/prepare.fmf
Labels: documentation, prepare, specification, discover, finish, multihost

#2409 Show `check` results in the `html` report
  tmt/steps/report/html/template.html.j2
Labels: report, html, check

#2416 Use consistent style for multiword test names
  tests/execute/reboot/main.fmf
  tests/execute/upgrade/main.fmf
  tests/integration/main.fmf
  tests/libraries/dynamic-ref/data/dynamic-ref
  tests/libraries/dynamic-ref/data/lib.sh
  tests/libraries/dynamic-ref/data/test.sh
  tests/libraries/dynamic-ref/main.fmf
  tests/libraries/dynamic-ref/test.sh
Labels: code style, tmt tests

#2170 Allow optional doc themes
  docs/conf.py
  docs/contribute.rst
Labels: documentation, no functional change

#2311 Extend tmt-reboot to allow reboot from outside of the test process
  README.rst
  tests/execute/reboot/main.fmf
  tests/execute/reboot/out-of-session.sh
  tests/execute/reboot/out-of-session/.fmf/version
  tests/execute/reboot/out-of-session/plan.fmf
  tests/execute/reboot/out-of-session/test.fmf
  tests/execute/reboot/out-of-session/test.sh
  tmt/frameworks/beakerlib.py
  tmt/frameworks/shell.py
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
  tmt/steps/execute/scripts/tmt-reboot
  tmt/steps/execute/scripts/tmt-reboot-core
  tmt/utils.py
Labels: reboot, blocking other work

#2415 Append the checklist template to new pull requests
  .github/pull_request_template.md
  docs/contribute.rst
Labels: documentation, process

#2421 Bump pre-commit linters to newer versions
  .pre-commit-config.yaml
  pyproject.toml
  tests/integration/test_nitrate.py
  tests/unit/test_utils.py
  tmt/__main__.py
  tmt/base.py
  tmt/steps/report/reportportal.py
  tmt/utils.py
Labels: tmt tests

#2403 Export sources of an fmf node
  tmt/base.py
  tmt/utils.py
Labels: export

#2422 Drop an empty line from the pull request template
  .github/pull_request_template.md
Labels: process

#2362 Make `BasePlugin` generic over step data class
  tests/unit/test_report_junit.py
  tmt/base.py
  tmt/checks/__init__.py
  tmt/checks/avc.py
  tmt/checks/dmesg.py
  tmt/frameworks/__init__.py
  tmt/frameworks/beakerlib.py
  tmt/frameworks/shell.py
  tmt/steps/__init__.py
  tmt/steps/discover/__init__.py
  tmt/steps/discover/fmf.py
  tmt/steps/discover/shell.py
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
  tmt/steps/execute/upgrade.py
  tmt/steps/finish/__init__.py
  tmt/steps/finish/ansible.py
  tmt/steps/finish/shell.py
  tmt/steps/prepare/__init__.py
  tmt/steps/prepare/ansible.py
  tmt/steps/prepare/install.py
  tmt/steps/prepare/shell.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/artemis.py
  tmt/steps/provision/connect.py
  tmt/steps/provision/local.py
  tmt/steps/provision/mrack.py
  tmt/steps/provision/podman.py
  tmt/steps/provision/testcloud.py
  tmt/steps/report/__init__.py
  tmt/steps/report/display.py
  tmt/steps/report/html.py
  tmt/steps/report/junit.py
  tmt/steps/report/polarion.py
  tmt/steps/report/reportportal.py
  tmt/utils.py
Labels: steps, code style, blocking other work

#2414 Move the `README` content into `docs/overview`
  README.rst
  docs/overview.rst
  pyproject.toml
Labels: documentation

#2334 Reconcile HW requirements with virtual's own options
  tests/provision/virtual.testcloud/test.sh
  tmt/hardware.py
  tmt/steps/provision/testcloud.py
Labels: testcloud, hardware, blocking other work

#1711 Correct parsing when called as `rhts`
  tests/execute/restraint/report-result/data/multi_reports.fmf
  tests/execute/restraint/report-result/data/multi_reports.sh
  tests/execute/restraint/report-result/data/report.sh
  tests/execute/restraint/report-result/data/smoke.fmf
  tests/execute/restraint/report-result/test.sh
  tmt/steps/execute/scripts/tmt-report-result
Labels: must, restraint

#2431 Fix use of the `-name` suffix in system HW requirement
  spec/hardware/main.fmf
  spec/hardware/system.fmf
  tmt/schemas/provision/hardware.yaml
Labels: bug, documentation, specification, hardware

#2437 Document case-insensitive context dimension values
  spec/context/main.fmf
Labels: specification

#2435 Update code and test coverage for the `check` key
  spec/tests/check.fmf
Labels: specification, check

#1759 Add `device` key into the `hardware` specification
  spec/hardware/device.fmf
  tmt/schemas/provision/hardware.yaml
Labels: specification, hardware

#2432 Change the default test pidfile directory to /var/tmp
  docs/overview.rst
  tests/execute/reboot/out-of-session.sh
  tmt/steps/execute/internal.py
  tmt/steps/execute/scripts/tmt-reboot
  tmt/steps/execute/scripts/tmt-reboot-core
Labels: execute
