Repository teemtee/tmt, pull requests merged in 2023-06, with the labels that each got.

#2087 Load env TMT_WORKDIR_ROOT before running tmt status
  tests/status/base/test.sh
  tmt/options.py
Labels: bug, cli

#1579 Add default envvar to plugin options
  README.rst
  tmt/steps/__init__.py
Labels: cli, needs tests

#2119 Enable building downstream release using Packit
  .packit.yaml
Labels: packaging

#2072 Expose guest topology to tests and scripts
  README.rst
  spec/plans/guest-topology.fmf
  spec/plans/provision.fmf
  tests/multihost/complete/data/plans.fmf
  tests/multihost/complete/data/tests/test.sh
  tests/multihost/complete/test.sh
  tests/multihost/prepare/data/.fmf/version
  tests/multihost/prepare/data/plan.fmf
  tests/multihost/prepare/main.fmf
  tests/multihost/prepare/test.sh
  tests/multihost/web/data/test.fmf
  tmt/steps/__init__.py
  tmt/steps/execute/internal.py
  tmt/steps/prepare/__init__.py
  tmt/steps/prepare/multihost.py
  tmt/steps/prepare/shell.py
Labels: environment, multihost

#2039 Move export of special test/plan/story fields to their respective classes
  tmt/base.py
Labels: export, code style

#1869 Expose "key address" to normalization callbacks
  tests/core/fmf-id/test.sh
  tests/unit/test_base.py
  tests/unit/test_dataclasses.py
  tmt/base.py
  tmt/libraries/beakerlib.py
  tmt/steps/__init__.py
  tmt/steps/discover/fmf.py
  tmt/steps/discover/shell.py
  tmt/steps/prepare/install.py
  tmt/steps/provision/testcloud.py
  tmt/utils.py
Labels: logging

#2112 Assign envvars to Polarion report arguments
  tmt/steps/report/polarion.py
Labels: report, polarion

#2128 Remove one extra space between @ and decorator name
  tmt/steps/prepare/install.py
Labels: prepare, code style

#2024 Identify incorrect subcommand after a correct one
  tests/core/docs/test.sh
  tests/discover/options.sh
  tests/usability/test.sh
  tmt/options.py
Labels: cli

#2059 A custom wrapper for options instead of click.option()
  examples/plugins/provision.py
  tmt/cli.py
  tmt/options.py
  tmt/steps/__init__.py
  tmt/steps/discover/__init__.py
  tmt/steps/discover/fmf.py
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
  tmt/steps/execute/upgrade.py
  tmt/steps/finish/__init__.py
  tmt/steps/prepare/__init__.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/artemis.py
  tmt/steps/provision/connect.py
  tmt/steps/provision/mrack.py
  tmt/steps/provision/podman.py
  tmt/steps/provision/testcloud.py
  tmt/steps/report/__init__.py
  tmt/utils.py
Labels: cli, type annotations, code style

#2089 Improve documentation of lint checks
  docs/conf.py
  docs/guide.rst
  docs/lint-checks.rst.j2
  docs/spec.rst
  tmt/lint.py
  tmt/options.py
Labels: documentation, lint, no functional change

#2064 Cache resolved linters
  tmt/cli.py
  tmt/lint.py
Labels: lint

#2129 Hide `facts` in the `virtual` provision plugin
  tmt/steps/provision/testcloud.py
Labels: provision, testcloud

#1873 Define a "plugin registry" class
  tmt/cli.py
  tmt/export/__init__.py
  tmt/plugins/__init__.py
  tmt/steps/__init__.py
  tmt/steps/discover/__init__.py
  tmt/steps/execute/__init__.py
  tmt/steps/finish/__init__.py
  tmt/steps/prepare/__init__.py
  tmt/steps/provision/__init__.py
  tmt/steps/report/__init__.py
Labels: plugins, code style

#2130 Add new guide/summary for multihost testing
  docs/classes.rst
  docs/guide.rst
  spec/plans/provision.fmf
Labels: documentation, multihost

#2133 Do not display guest facts when showing a plan
  tmt/steps/__init__.py
Labels: provision

#2131 Release tmt-1.24.0
  tmt.spec
Labels: packaging

#2139 Use correct url for the release archive, fix docs
  README.rst
  tests/core/docs/test.sh
  tmt.spec
Labels: documentation, packaging

#2142 Revert the `Source0` url to the original value
  tmt.spec
Labels: packaging

#2143 Sync changelog when creating downstream release
  .packit.yaml
Labels: packaging

#2144 Update release instructions with simplified steps
  docs/contribute.rst
Labels: documentation, ready for merge

#2120 Improve structure of the packit config a bit
  .packit.yaml
Labels: packaging, code style, tmt tests

#2126 Add envvar argument to field
  tmt/utils.py
Labels: cli, no functional change, ready for merge

#2116 Save click context in click context object
  tmt/cli.py
Labels: cli

#2135 Make web-link test play nicely with custom SSH host config
  tests/core/web-link/test.py
Labels: no functional change, tmt tests

#2100 Narrow type of file & library dependencies
  tmt/base.py
Labels: code style, no functional change

#2136 Fix enforcement of workdir root in full workdir root test
  tests/unit/test_utils.py
Labels: no functional change, tmt tests

#2134 Drop enum from HW hypervisor and boot method constraints
  tmt/schemas/provision/hardware.yaml
Labels: hardware, schema

#2147 Bad source path for local libraries file require
  tmt/libraries/__init__.py
Labels: bug, libraries

#2148 Fix /tests/status/base when /var/tmp/tmt is empty
  tests/status/base/test.sh
Labels: no functional change, tmt tests

#1905 Raise error if malformed test metadata is given
  tests/test/script/data/.fmf/version
  tests/test/script/data/tests/foo.fmf
  tests/test/script/main.fmf
  tests/test/script/test.sh
  tmt/base.py
  tmt/utils.py
Labels: utils, base

#1886 Allow modification of imported plans #1788
  tests/plan/import/main.fmf
  tests/plan/import/modify-data/.fmf/version
  tests/plan/import/modify-data/plans.fmf
  tests/plan/import/modify.sh
  tmt/base.py
Labels: import, plans

#2153 Fixes emptiness check of /var/tmp/tmt in /tests/status/base
  tests/status/base/test.sh
Labels: bug, no functional change, tmt tests

#1987 Add `Organize Data` as a new tmt guide chapter
  docs/examples.rst
  docs/guide.rst
Labels: documentation

#2158 Use `--version` to gather the package_manager fact
  tmt/steps/prepare/install.py
  tmt/steps/provision/__init__.py
Labels: bug, provision

#2156 Bumps supported Artemis API to 0.0.58
  tmt/steps/provision/artemis.py
Labels: provision, artemis

#2157 Document how to modify imported plans
  spec/plans/import.fmf
  tests/plan/import/modify-data/plans.fmf
Labels: documentation, import, tmt tests

#2079 Create option metavar from listed choices
  tmt/cli.py
  tmt/options.py
Labels: cli, ready for merge

#2161 Enable ruff checks for mutable dataclass field defaults
  pyproject.toml
Labels: no functional change, tmt tests

#2152 Turn fmf context into a fancy dict
  tmt/base.py
  tmt/cli.py
  tmt/utils.py
Labels: code style, no functional change, ready for merge

#2150 Add the `show()` method for guest data packages
  tests/login/step.sh
  tmt/steps/provision/__init__.py
  tmt/steps/provision/artemis.py
  tmt/steps/provision/connect.py
  tmt/steps/provision/local.py
  tmt/steps/provision/mrack.py
  tmt/steps/provision/podman.py
  tmt/steps/provision/testcloud.py
Labels: provision

#2030 Cache that library url is not accessible
  tests/discover/libraries/data/plan.fmf
  tests/discover/libraries/data/querying.fmf
  tests/discover/libraries/test.sh
  tests/unit/test_beakerlib.py
  tmt/libraries/beakerlib.py
Labels: libraries

#2122 Convert execute plugins to tmt.utils.field() for options
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
  tmt/steps/execute/upgrade.py
Labels: execute, code style

#1836 Convert provision plugins' step data to our field implementation
  tmt/steps/provision/__init__.py
  tmt/steps/provision/artemis.py
  tmt/steps/provision/connect.py
  tmt/steps/provision/mrack.py
  tmt/steps/provision/podman.py
  tmt/steps/provision/testcloud.py
  tmt/utils.py
Labels: provision, code style

#2175 Fix a too strict check for the detected library
  tests/discover/libraries/test.sh
Labels: tmt tests

#2034 Allow running next plan in queue when one fails to complete
  tests/unit/test_cli.py
  tmt/base.py
  tmt/cli.py
Labels: run, plans

#2181 Move the sync libraries into a separate section
  docs/guide.rst
Labels: documentation, multihost

#2177 Do not export fmf id's ref when it's the default branch
  tests/plan/show/test.sh
  tmt/base.py
  tmt/export/__init__.py
  tmt/steps/discover/__init__.py
  tmt/utils.py
Labels: utils, export, base

#2165 Replace `/` in safe name, and fix prepare step to use safe names
  tests/core/escaping/data/plans/escaping.fmf
  tests/unit/test_utils.py
  tmt/steps/__init__.py
  tmt/steps/prepare/shell.py
  tmt/utils.py
Labels: bug, prepare

#2053 Replace named tuples with data classes
  tests/unit/test_utils.py
  tmt/options.py
  tmt/steps/discover/__init__.py
  tmt/steps/discover/fmf.py
  tmt/steps/discover/shell.py
  tmt/steps/execute/internal.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/local.py
  tmt/steps/provision/podman.py
  tmt/utils.py
Labels: code style, no functional change

#2065 Make relevancy/coverage linters to not re-read fmf files
  tests/unit/conftest.py
  tests/unit/test_id.py
  tests/unit/test_utils.py
  tmt/base.py
  tmt/identifier.py
  tmt/utils.py
Labels: lint

#2040 Make `Step` class own export of step data
  tmt/base.py
  tmt/plugins/__init__.py
  tmt/steps/__init__.py
Labels: export, code style

#2088 Reimplement the `ReportPortal` plugin using API
  spec/plans/report.fmf
  tests/report/reportportal/data/plan.fmf
  tests/report/reportportal/data/test.fmf
  tests/report/reportportal/test.sh
  tmt/schemas/report/reportportal.yaml
  tmt/steps/report/reportportal.py
Labels: enhancement, report, must, reportportal

#2121 Replace self.opt() when looking for debug/verbose/quiet setting
  tmt/base.py
  tmt/cli.py
  tmt/steps/__init__.py
  tmt/steps/execute/internal.py
  tmt/steps/prepare/install.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/testcloud.py
  tmt/steps/report/display.py
  tmt/utils.py
Labels: code style

#1833 Add dynamic ref evaluation support to plan import
  tests/plan/import/basic.sh
  tests/plan/import/data/plans.fmf
  tmt/base.py
  tmt/steps/discover/__init__.py
  tmt/steps/discover/fmf.py
  tmt/steps/discover/shell.py
Labels: discover, base
