Repository teemtee/tmt, pull requests merged in 2023-03, with the labels that each got.

#1882 Allow report result for itself in results:custom
  tests/execute/result/custom.sh
  tests/execute/result/custom/results.yaml
  tmt/steps/execute/__init__.py
Labels: execute

#1880 Convert log path for results:custom
  tests/execute/result/custom.sh
  tests/execute/result/custom/test.fmf
  tmt/steps/execute/__init__.py
Labels: execute

#1876 Assign a data path and serial number to each test in discover
  spec/plans/discover.fmf
  tests/discover/main.fmf
  tests/discover/order.sh
  tests/discover/serial-number-root-test/.fmf/version
  tests/discover/serial-number-root-test/main.fmf
  tests/discover/serial-number.sh
  tests/discover/serial-number/.fmf/version
  tests/discover/serial-number/plans.fmf
  tests/discover/serial-number/tests.fmf
  tests/execute/filesubmit/test.sh
  tests/execute/metadata/test.sh
  tests/execute/reboot/basic.sh
  tests/execute/result/custom.sh
  tests/execute/upgrade/ignore-test.sh
  tests/execute/upgrade/override.sh
  tests/execute/upgrade/simple.sh
  tests/finish/prune/test.sh
  tests/pull/results/test.sh
  tests/unit/test_report_junit.py
  tmt/base.py
  tmt/result.py
  tmt/steps/discover/__init__.py
  tmt/steps/execute/__init__.py
Labels: execute, discover, multihost

#1766 Use Require* classes for collection & installation of plugin requirements
  tests/unit/test_utils.py
  tmt/base.py
  tmt/steps/__init__.py
  tmt/steps/discover/__init__.py
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
  tmt/steps/finish/__init__.py
  tmt/steps/prepare/__init__.py
  tmt/steps/prepare/install.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/local.py
  tmt/steps/provision/podman.py
  tmt/steps/report/__init__.py
  tmt/utils.py
Labels: type annotations, code style, no functional change

#1867 List supported operators in hardware requirement docs
  spec/hardware/main.fmf
Labels: documentation, hardware, no functional change

#1839 Adds "bootstrap logger" for logging before CLI options are recognized
  tests/unit/test_logging.py
  tmt/log.py
Labels: logging

#1877 Include guest name in execute phase data paths
  tests/discover/order.sh
  tests/execute/filesubmit/test.sh
  tests/execute/metadata/test.sh
  tests/execute/reboot/basic.sh
  tests/execute/result/custom.sh
  tests/execute/upgrade/ignore-test.sh
  tests/execute/upgrade/override.sh
  tests/execute/upgrade/simple.sh
  tests/finish/prune/test.sh
  tests/pull/results/test.sh
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
Labels: execute, multihost

#1834 Update log key content of results.yaml examples
  spec/plans/execute.fmf
  spec/plans/report.fmf
  spec/tests/result.fmf
Labels: documentation, no functional change

#1900 testcloud: Raise default limits
  tmt/steps/provision/testcloud.py
Labels: testcloud

#1892 Remove no longer used "err" parameter of logging methods
  tmt/steps/execute/internal.py
  tmt/utils.py
Labels: logging

#1895 testcloud.py: set default user `core` for rhcos
  tmt/steps/provision/testcloud.py
Labels: testcloud

#1917 Enable `root` login and disable default `core` for rhcos
  tmt/steps/provision/testcloud.py
Labels: testcloud

#1903 Expose guest info in results
  tmt/result.py
  tmt/steps/execute/__init__.py
Labels: execute, multihost

#1927 Fix `get_bootstrap_logger` name and docstring typo
  plans/install/docs.fmf
  tests/unit/test_logging.py
  tmt/log.py
Labels: documentation

#1906 Rephrase results.yaml documentation and examples
  spec/plans/execute.fmf
  spec/plans/results.fmf
  spec/tests/result.fmf
  tmt/schemas/results.yaml
Labels: documentation

#1822 Adds more controls for output colorization
  README.rst
  tests/unit/test_cli.py
  tmt/cli.py
  tmt/log.py
Labels: documentation, logging, cli

#1842 Add `kickstart` section as a new specification key
  spec/plans/provision.fmf
  spec/plans/provision/kickstart.fmf
  tests/unit/test_schemas.py
  tmt/schemas/provision/artemis.yaml
  tmt/schemas/provision/kickstart.yaml
  tmt/utils.py
Labels: specification, hardware

#1899 Display guest full name when showing its details
  tmt/steps/provision/__init__.py
Labels: provision, multihost

#1898 Refactor CLI error reporting to improve readability
  bin/tmt
  tests/prepare/require/test.sh
Labels: logging, cli, multihost

#1901 Move logging labels to the beginning of lines
  tests/unit/test_logging.py
  tmt/log.py
Labels: logging, multihost

#1808 Add an entrypoint for interactive tmt sessions
  docs/examples.rst
  tests/interactive/data/.fmf/version
  tests/interactive/data/interactive-anchor-plan.fmf
  tests/interactive/main.fmf
  tests/interactive/smoke-explicit-tree.py
  tests/interactive/smoke.py
  tests/interactive/test.sh
  tmt/base.py
Labels: base

#1919 Detect correct category when export to nitrate
  tmt/export/nitrate.py
  tmt/export/polarion.py
Labels: export

#1938 Hotfix Ubuntu with virtual provision
  tmt/steps/provision/testcloud.py
Labels: provision

#1914 Move testcloud url guessing logic out of tmt
  setup.py
  tmt.spec
  tmt/steps/provision/testcloud.py
Labels: provision, testcloud

#1948 Require `beaker` provision in `tmt-all`
  tmt.spec
Labels: provision, packaging, mrack

#1937 Fix polarion report pruning and add or fix arguments
  spec/plans/report.fmf
  tests/report/polarion/test.sh
  tmt/schemas/report/polarion.yaml
  tmt/steps/report/polarion.py
Labels: report, polarion

#1958 Always try to run dhclient in cloud-init in virtual provision
  tmt/steps/provision/testcloud.py
Labels: testcloud

#1960 Add missing fields to custom results test
  tests/execute/result/custom.sh
  tests/execute/result/custom/results.yaml
  tests/execute/result/custom/test.fmf
  tmt/steps/execute/__init__.py
Labels: bug, tests, results
