Repository teemtee/tmt, pull requests merged in 2023-12, with the labels that each got.

#2406 Add the `redis` server as a multihost sync example
  docs/guide.rst
  examples/redis/.fmf/version
  examples/redis/ansible/setup_server.yml
  examples/redis/ansible/tasks/redis.yml
  examples/redis/ansible/tasks/redis_variables.yml
  examples/redis/plan.fmf
  examples/redis/test.fmf
  examples/redis/test.sh
Labels: documentation, multihost

#2480 Use a shorter time for `podman stop`
  tmt/steps/provision/podman.py
Labels: provision

#2443 Implement `tmt try` for interactive sessions
  docs/overview.rst
  docs/releases.rst
  pyproject.toml
  stories/cli/run.fmf
  stories/cli/try.fmf
  tests/discover/distgit.sh
  tests/discover/force.sh
  tests/discover/serial-number.sh
  tests/execute/filesubmit/test.sh
  tests/execute/result/basic.sh
  tests/execute/result/custom.sh
  tests/full/test.sh
  tests/login/when.sh
  tests/plan/import/basic.sh
  tests/run/default/test.sh
  tests/run/follow/data/main.fmf
  tests/run/follow/test.sh
  tests/try/config/.fmf/version
  tests/try/config/user.fmf
  tests/try/data/.fmf/version
  tests/try/data/keep.exp
  tests/try/data/local.exp
  tests/try/data/no-tests/README
  tests/try/data/plan.exp
  tests/try/data/plans/basic.fmf
  tests/try/data/report.exp
  tests/try/data/tests/base/bad/main.fmf
  tests/try/data/tests/base/good/main.fmf
  tests/try/data/tests/base/weird/main.fmf
  tests/try/data/tests/core/bad/main.fmf
  tests/try/data/tests/core/good/main.fmf
  tests/try/data/tests/core/weird/main.fmf
  tests/try/data/try.exp
  tests/try/data/verbose.exp
  tests/try/main.fmf
  tests/try/test.sh
  tests/unit/test_utils.py
  tmt/base.py
  tmt/cli.py
  tmt/steps/__init__.py
  tmt/steps/discover/__init__.py
  tmt/steps/execute/__init__.py
  tmt/steps/finish/__init__.py
  tmt/steps/prepare/__init__.py
  tmt/steps/provision/__init__.py
  tmt/steps/report/__init__.py
  tmt/templates.py
  tmt/trying.py
  tmt/utils.py
Labels: enhancement, must, try

#2452 Correctly update environment from the importing plan
  tests/plan/import/modify.sh
  tmt/base.py
Labels: import, plans, environment

#2529 Create a `checks` directory to store avc/dmesg checks
  tests/test/check/test-avc.sh
  tests/test/check/test-dmesg.sh
  tmt/checks/avc.py
  tmt/checks/dmesg.py
  tmt/steps/execute/__init__.py
Labels: check

#2544 Update the common schema for the `check` key
  tmt/schemas/common.yaml
Labels: schema, check

#2519 Add support for user defined templates
  .github/workflows/shellcheck.yml
  docs/guide.rst
  docs/releases.rst
  tests/unit/test_template.py
  tests/unit/test_utils.py
  tmt/base.py
  tmt/cli.py
  tmt/templates.py
  tmt/templates/__init__.py
  tmt/templates/default/plan.j2
  tmt/templates/plan/base.j2
  tmt/templates/plan/full.j2
  tmt/templates/plan/mini.j2
  tmt/templates/script/beakerlib.j2
  tmt/templates/script/shell.j2
  tmt/templates/story/base.j2
  tmt/templates/story/full.j2
  tmt/templates/story/mini.j2
  tmt/templates/test/beakerlib.j2
  tmt/templates/test/shell.j2
  tmt/trying.py
  tmt/utils.py
Labels: enhancement, stories, plans, tests, must

#2343 Ensure the imported plan's `enabled` key is respected
  spec/plans/import.fmf
  tests/plan/import/basic.sh
  tests/plan/import/data/plans.fmf
  tmt/base.py
Labels: import, plans

#2556 Release `tmt-1.30.0`
  docs/contribute.rst
  docs/overview.rst
  docs/releases.rst
  tmt.spec
Labels: packaging

#2560 Fix dmesg check test on Fedora rawhide & newer
  tests/test/check/test-dmesg.sh
Labels: tmt tests

#2561 Enable the `avc` check for all `tmt` tests
  tests/main.fmf
Labels: tmt tests

#2532 Add a `Toolbelt Catalog` entry for `tmt`
  docs/toolbelt-catalog.yaml
Labels: documentation
