Repository teemtee/tmt, pull requests merged in 2023-07, with the labels that each got.

#2185 Internal anonymous git:// access is deprecated
  tests/unit/test_utils.py
  tmt/utils.py
Labels: export, must

#2195 Release tmt-1.25.0
  README.rst
  tmt.spec
Labels: packaging

#2197 Override packit actions for `propose_downstream`
  .packit.yaml
Labels: packaging

#2199 Lock the `click` version to < 8.1.4
  .pre-commit-config.yaml
  setup.py
Labels: type annotations, no functional change, pre-commit

#2208 Remove `python3-mrack-beaker` from `BuildRequires`
  tmt.spec
Labels: packaging

#2213 Record tmt command line in tmt log
  tmt/base.py
Labels: logging, cli

#2206 Group discover/fmf options, improve wording a bit
  tmt/steps/discover/fmf.py
Labels: discover

#2203 Add template option to polarion report
  tmt/steps/report/polarion.py
  tmt/utils.py
Labels: report, polarion

#2160 Move test framework code into distinct framework classes
  setup.py
  tmt/base.py
  tmt/frameworks/__init__.py
  tmt/frameworks/beakerlib.py
  tmt/frameworks/shell.py
  tmt/plugins/__init__.py
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
Labels: execute

#2171 Spec-based container becomes generic over input/output specs
  tmt/base.py
  tmt/steps/__init__.py
  tmt/steps/discover/shell.py
  tmt/utils.py
Labels: code style, no functional change

#2173 Simplify public git conversion with a declarative list
  tests/unit/test_utils.py
  tmt/utils.py
Labels: code style, no functional change

#2178 Add cache_property for things that are generated but not often
  tmt/steps/__init__.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/artemis.py
  tmt/utils.py
Labels: utils

#2221 Fix test checking custom destination for libraries
  tests/discover/libraries/data/certificate.fmf
  tests/discover/libraries/test.sh
Labels: tmt tests

#2224 Add `role` to the Beaker provision plugin schema
  tmt/schemas/provision/beaker.yaml
Labels: provision, schema

#2218 ReST export plugin should accept --template option
  tests/plan/export/test.sh
  tests/test/export/test.sh
  tmt/cli.py
  tmt/export/rst.py
  tmt/export/template.py
  tmt/utils.py
Labels: bug, export, ready for merge

#2212 Add support for rendering error tracebacks
  README.rst
  tmt/utils.py
Labels: logging, cli, ready for merge

#2202 Exception in web_link() when node root is missing
  tmt/base.py
Labels: ready for merge

#2225 Git tokens
  Makefile
  README.rst
  tests/unit/test_utils.py
  tmt/utils.py
Labels: utils

#2200 Do not throw an exception on missing `mrack.log`
  tmt/steps/provision/mrack.py
Labels: provision, multihost, mrack

#2232 Release tmt-1.26.0
  docs/guide.rst
  tmt.spec
Labels: packaging
