Repository teemtee/tmt, pull requests merged in 2023-01, with the labels that each got.

#1779 Respect `TMT_WORKDIR_ROOT` variable in `testcloud`
  tmt/steps/provision/testcloud.py
Labels: testcloud

#1768 Require jinja2 always, not only with report-html subpackage/extra
  setup.py
  tmt.spec
  tmt/steps/report/html.py
Labels: packaging, export

#1772 Better type annotations of prepare/install commands and scripts
  tmt/steps/prepare/install.py
  tmt/utils.py
Labels: type annotations

#1769 Add a test for `hardware` schema coverage
  tests/unit/test_schemas.py
  tmt/schemas/provision/hardware.yaml
Labels: tests, hardware, schema

#1749 Merge options of report plugins into their step data fields
  tmt/schemas/report/html.yaml
  tmt/steps/report/html.py
  tmt/steps/report/junit.py
  tmt/steps/report/polarion.py
Labels: no functional change

#1734 Schema update and test for order in discover step
  tests/discover/main.fmf
  tests/discover/order.sh
  tests/discover/order/.fmf/version
  tests/discover/order/plans.fmf
  tests/discover/order/tests.fmf
  tmt/schemas/discover/fmf.yaml
  tmt/schemas/discover/shell.yaml
Labels: discover, tests

#1722 Remove default for dynamic ref evaluation
  docs/examples.rst
  spec/plans/discover.fmf
  tmt/base.py
Labels: discover

#1771 Add a new key `system` to the `hardware` spec
  spec/hardware/system.fmf
  tests/unit/test_schemas.py
  tmt/schemas/provision/hardware.yaml
Labels: specification, hardware

#1724 Export `TMT_TREE` in other steps as well
  README.rst
  tests/run/worktree/data/tree/plan.fmf
  tmt/base.py
  tmt/steps/discover/shell.py
  tmt/steps/execute/internal.py
Labels: base

#1783 Enable `url` and `ref` as `shell` discover options
  tmt/steps/discover/shell.py
Labels: discover, cli

#1789 Define pull request Copr build job in Packit config
  .packit.yaml
Labels: packaging, tests

#1794 Apply `ShellScript` for the custom reboot command
  tmt/steps/execute/internal.py
Labels: must, reboot

#1797 Update Fedora versions in `upgrade` tests
  tests/execute/upgrade/data/plan.fmf
  tests/execute/upgrade/ignore_test.sh
  tests/execute/upgrade/override.sh
  tests/execute/upgrade/simple.sh
Labels: execute, tests, must

#1802 Relay 'interactive' value for podman call
  tmt/steps/provision/podman.py
Labels: provision, must, containers

#1763 Bump pre-commit linters - Flake8, Mypy, JSON schema, YAML lint & pygrep
  .pre-commit-config.yaml
  mypy.ini
  tmt/cli.py
  tmt/convert.py
  tmt/options.py
  tmt/steps/discover/fmf.py
  tmt/steps/execute/upgrade.py
  tmt/steps/report/junit.py
Labels: tests, type annotations, no functional change

#1784 Apply normalization callback when updating data with CLI input
  tests/unit/test_dataclasses.py
  tmt/base.py
  tmt/steps/__init__.py
  tmt/utils.py
Labels: steps, base

#1805 Include a simple Python code among the examples
  docs/examples.rst
Labels: documentation

#1792 Suggest using a pull request checklist template
  docs/contribute.rst
Labels: documentation

#1800 Dynamically find the current Fedora release
  tests/execute/upgrade/data/plan.fmf
  tests/execute/upgrade/fedora-version.sh
  tests/execute/upgrade/full.sh
  tests/execute/upgrade/ignore-test.sh
  tests/execute/upgrade/main.fmf
  tests/execute/upgrade/override.sh
  tests/execute/upgrade/simple.sh
Labels: tests

#1752 Merge options of prepare plugins into their step data fields
  tmt/steps/prepare/ansible.py
  tmt/steps/prepare/install.py
  tmt/steps/prepare/multihost.py
  tmt/steps/prepare/shell.py
Labels: prepare, no functional change

#1804 Always ignore failures for recommended packages
  tmt/steps/prepare/install.py
Labels: prepare

#1798 Check packages are installed via debuginfo-install
  tmt/steps/prepare/install.py
Labels: prepare

#1807 Improve logging by `tmt.utils.wait()`
  tmt/utils.py
Labels: logging, no functional change

#1814 Adds py.typed marker for 3rd party type annotations
  setup.py
  tmt/py.typed
Labels: type annotations

#1810 Hardcode tmt git URL so test won't fail for PRs
  tests/discover/data/plans.fmf
Labels: tests

#1811 Do not clone whole remote plan if --dry specified
  tests/plan/import/basic.sh
  tmt/base.py
Labels: plans
