Repository teemtee/tmt, pull requests merged in 2023-02, with the labels that each got.

#1738 Convert story ReST export to use a Jinja2 template
  docs/conf.py
  setup.py
  tmt/base.py
  tmt/export/__init__.py
  tmt/export/rst.py
  tmt/export/templates/default-story.rst.j2
  tmt/utils.py
Labels: export

#1753 Polarion export fix component upload bug and upload id first
  tmt/export/polarion.py
Labels: bug, export, polarion

#1767 Adds a template-backed export plugin
  tmt/cli.py
  tmt/export/rst.py
  tmt/export/template.py
Labels: export

#1809 Use own private key for provision.virtual
  tmt/schemas/provision/virtual.yaml
  tmt/steps/provision/__init__.py
  tmt/steps/provision/testcloud.py
Labels: provision, testcloud

#1827 Release tmt-1.21.0
  README.rst
  tmt.spec
Labels: packaging

#1815 Adds "full name" guest property for multihost logging
  tests/unit/test_guest.py
  tmt/steps/provision/__init__.py
Labels: provision, multihost, blocking other work

#1817 Add logging `labels` used for prefixing messages
  tests/unit/__init__.py
  tests/unit/test_logging.py
  tmt/log.py
Labels: logging, multihost, blocking other work

#1847 Artemis API version may contain multiple integers
  tmt/schemas/provision/artemis.yaml
Labels: bug, artemis

#1776 Convert path-like strings to `pathlib.Path` objects
  tests/core/path/test.py
  tests/execute/deep/data/.fmf/version
  tests/execute/deep/data/plan.fmf
  tests/execute/deep/main.fmf
  tests/integration/test_nitrate.py
  tests/plan/import/basic.sh
  tests/plan/import/data/plans.fmf
  tests/run/recursion/test.sh
  tests/unit/test_base.py
  tests/unit/test_beakerlib.py
  tests/unit/test_export_to_nitrate.py
  tests/unit/test_id.py
  tests/unit/test_report_junit.py
  tests/unit/test_utils.py
  tmt/base.py
  tmt/beakerlib.py
  tmt/cli.py
  tmt/convert.py
  tmt/export/__init__.py
  tmt/export/nitrate.py
  tmt/plugins/__init__.py
  tmt/result.py
  tmt/steps/__init__.py
  tmt/steps/discover/__init__.py
  tmt/steps/discover/fmf.py
  tmt/steps/discover/shell.py
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
  tmt/steps/execute/upgrade.py
  tmt/steps/prepare/ansible.py
  tmt/steps/prepare/install.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/local.py
  tmt/steps/provision/podman.py
  tmt/steps/provision/testcloud.py
  tmt/steps/report/display.py
  tmt/steps/report/html.py
  tmt/steps/report/junit.py
  tmt/steps/report/polarion.py
  tmt/steps/report/reportportal.py
  tmt/utils.py
Labels: code style, no functional change

#1860 Use Path instead of os.path in prepare/install plugin
  tmt/steps/prepare/install.py
  tmt/utils.py
Labels: code style

#1850 Fix Common class ignoring other branches of multiple inheritance tree
  docs/classes.rst
  tests/unit/test_utils.py
  tmt/export/__init__.py
  tmt/utils.py
Labels: bug, multihost, blocking other work, no functional change

#1849 Install jq/yq for more readable tests in tmt test suite
  docs/contribute.rst
  plans/features/main.fmf
  setup.py
Labels: tests, blocking other work

#1864 Add /root/.local/bin to PATH on Centos Stream 8 in CI
  plans/features/advanced.fmf
  plans/features/main.fmf
Labels: tests

#1858 Fix use of old `os.path.symlink()` in discover/shell
  tmt/steps/discover/shell.py
Labels: code style, no functional change

#1868 Use Path when working with logfile path
  tmt/log.py
  tmt/utils.py
Labels: code style, no functional change

#1859 Use `Path` instead of `os.path` in export code
  tmt/cli.py
  tmt/export/__init__.py
  tmt/export/template.py
  tmt/utils.py
Labels: export, code style, no functional change

#1845 Simplify the `Result` class implementation
  tests/execute/basic/test.sh
  tests/execute/result/custom/wrong_results.yaml
  tests/unit/test_report_junit.py
  tmt/result.py
  tmt/schemas/common.yaml
  tmt/schemas/results.yaml
  tmt/schemas/test.yaml
  tmt/steps/execute/__init__.py
Labels: execute, multihost, blocking other work

#1854 Turn `tests.yaml` into a list of tests
  spec/plans/discover.fmf
  tests/test/select/test.sh
  tmt/steps/discover/__init__.py
Labels: discover, multihost, blocking other work

#1863 Fix forgotten guest when Artemis provisioning times out
  tmt/steps/provision/artemis.py
Labels: bug, artemis

#1812 Require `pylero` for the `polarion` subpackage
  tmt.spec
Labels: packaging

#1848 Support to import Makefile having '\\\n'
  tests/test/import/data/parent/multiple-lines-run/Makefile
  tests/test/import/data/parent/multiple-lines-run/runtest.sh
  tests/test/import/data/parent/single-line-run/Makefile
  tests/test/import/data/parent/single-line-run/runtest.sh
  tests/test/import/test.sh
  tmt/convert.py
Labels: import
