Repository teemtee/tmt, pull requests merged in 2024-07, with the labels that each got.

#3048 Add a linter for Jinja2 templates
  .pre-commit-config.yaml
  docs/templates/lint-checks.rst.j2
  docs/templates/plugins.rst.j2
  docs/templates/story.rst.j2
  docs/templates/template-filters.rst.j2
  pyproject.toml
  tmt/steps/report/html/template.html.j2
Labels: no functional change, ready for merge, tmt tests, trivial, full test

#3070 Use vault.centos for centos-7 image repos
  containers/centos/7/Containerfile.upstream
  tests/prepare/install/test.sh
  tests/prepare/require/test.sh
Labels: must, containers, blocking other work, full test

#2927 Support `location.lab-controller` hw requirement for `mrack`
  spec/hardware/location.fmf
  tests/unit/provision/mrack/test_hw.py
  tmt/steps/provision/mrack.py
Labels: provision, hardware, mrack, ready for merge, full test

#3009 Add template helper for raising errors
  docs/conf.py
  docs/templates/story.rst.j2
  tmt/utils.py
Labels: documentation, ready for merge, trivial

#2955 Add descriptions to well-known process exit codes
  tmt/utils.py
Labels: utils, no functional change, ready for merge, trivial, full test

#2007 Allow `pre-commit` to run in subpath
  .pre-commit-hooks.yaml
  tests/precommit/test.sh
  tmt/_pre_commit/__init__.py
  tmt/_pre_commit/__main__.py
  tmt/cli.py
  tmt/options.py
Labels: ready for merge, pre-commit, full test

#3081 Do not install epel-next-release on RHEL-8-like guests
  tests/prepare/install/data/epel8-remote.fmf
  tmt/steps/prepare/feature/epel-enable.yaml
Labels: ready for merge, full test

#3053 Fix normalization of playbook/playbooks keys of ansible plugin
  tmt/steps/prepare/ansible.py
  tmt/utils.py
Labels: bug, prepare, finish, must, ansible, ready for merge, full test

#3083 Fix normalization of regular expression lists
  tmt/utils.py
Labels: must, full test

#2925 Support `system.numanodes` hardware requirement for mrack
  tests/unit/provision/mrack/test_hw.py
  tmt/steps/provision/mrack.py
Labels: provision, hardware, mrack, ready for merge, full test

#2883 Update clean part of the example doc
  docs/examples.rst
Labels: documentation, ready for merge, trivial

#2949 Parse the `cpu.hyper-threading` hardware requirement
  spec/hardware/cpu.fmf
  tmt/hardware.py
  tmt/schemas/provision/hardware.yaml
Labels: provision, specification, hardware, ready for merge, full test

#3028 Fix handling of installation of packages from subdirectory
  tests/prepare/install/data/downloaded.fmf
  tests/prepare/install/test.sh
  tmt/steps/prepare/install.py
Labels: bug, prepare, must, ready for merge, full test

#2982 Turn `tmt/utils.py` into a subpackage
  docs/Makefile
  pyproject.toml
  tmt/utils/__init__.py
Labels: code style, no functional change, ready for merge, full test

#3087 Pin the `Sphinx` version and update the docs theme
  pyproject.toml
Labels: documentation, packaging, blocking other work

#2880 Switch to packit-handled rpm changelog and specfile cleanup
  .packit.yaml
  docs/contribute.rst
  tmt.spec
Labels: packaging, must, ready for merge, full test

#3068 Mention hard reboot limited support in documentation
  docs/Makefile
  docs/conf.py
  docs/plugins/discover-header.inc.rst
  docs/plugins/execute-header.inc.rst
  docs/plugins/finish-header.inc.rst
  docs/plugins/prepare-header.inc.rst
  docs/plugins/provision-header.inc.rst
  docs/plugins/report-header.inc.rst
  docs/plugins/test-checks-header.inc.rst
  docs/templates/plugins.rst.j2
  spec/tests/restart.fmf
  tmt/checks/watchdog.py
Labels: documentation, no functional change, ready for merge

#3029 Polish docs of AVC test check
  docs/scripts/generate-plugins.py
  spec/plans/results.fmf
  tmt/checks/avc.py
Labels: documentation, no functional change, ready for merge

#3003 Add option to skip output log in junit and polarion reports
  tmt/schemas/report/junit.yaml
  tmt/schemas/report/polarion.yaml
  tmt/steps/report/junit.py
  tmt/steps/report/polarion.py
Labels: report, must, polarion, junit, ready for merge, trivial, full test

#3091 Skip testing debuginfo install on coreos images
  tests/unit/test_package_managers.py
Labels: prepare, tmt tests, full test

#2963 Let plugin go() method return a value [Step results #1]
  tmt/steps/__init__.py
  tmt/steps/discover/__init__.py
  tmt/steps/discover/fmf.py
  tmt/steps/discover/shell.py
  tmt/steps/execute/__init__.py
  tmt/steps/finish/__init__.py
  tmt/steps/finish/ansible.py
  tmt/steps/prepare/__init__.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/artemis.py
  tmt/steps/provision/connect.py
  tmt/steps/provision/local.py
  tmt/steps/provision/mrack.py
  tmt/steps/provision/podman.py
  tmt/steps/provision/testcloud.py
  tmt/steps/report/__init__.py
  tmt/steps/report/display.py
  tmt/steps/report/html.py
  tmt/steps/report/junit.py
  tmt/steps/report/polarion.py
  tmt/steps/report/reportportal.py
Labels: no functional change, ready for merge, full test

#3060 Cleanup from EPEL8
  pyproject.toml
  tmt/base.py
  tmt/checks/__init__.py
  tmt/cli.py
  tmt/queue.py
  tmt/steps/__init__.py
  tmt/steps/execute/__init__.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/artemis.py
  tmt/steps/provision/podman.py
  tmt/steps/provision/testcloud.py
  tmt/templates/__init__.py
  tmt/utils/__init__.py
Labels: code style, no functional change, ready for merge, full test

#3066 Update HW requirement implementation links to match reality
  spec/hardware/cpu.fmf
  spec/hardware/disk.fmf
  spec/hardware/location.fmf
  spec/hardware/system.fmf
  spec/hardware/zcrypt.fmf
Labels: documentation, hardware, no functional change, ready for merge

#3039 Improve initialization message
  tests/init/base/test.sh
  tests/init/full/test.sh
  tests/init/git/test.sh
  tests/init/mini/test.sh
  tests/init/nested/test.sh
  tests/unit/test_cli.py
  tmt/base.py
Labels: init, ready for merge, trivial, full test

#3045 Polish docs Makefile
  docs/Makefile
Labels: documentation, no functional change, ready for merge

#3084 Fix collection of know keys for test, plan and story T001 linter
  tests/lint/test/data/bad-attribute.fmf
  tests/lint/test/test.sh
  tmt/base.py
Labels: bug, lint, trivial

#3007 Add documention best practices, adjust release notes
  docs/contribute.rst
  docs/releases.rst
Labels: documentation, no functional change, trivial

#2909 The `--quiet` option shall silence warnings
  tests/core/logging/test.sh
  tests/unit/test_logging.py
  tmt/log.py
Labels: logging, trivial, full test

#3098 Make `mypy` happy about the `error.schema` content
  tmt/base.py
Labels: type annotations

#2996 Save results before raising exception
  docs/releases.rst
  tests/execute/reboot/freeze.sh
  tests/execute/reboot/freeze/.fmf/version
  tests/execute/reboot/freeze/main.fmf
  tests/execute/reboot/main.fmf
  tmt/steps/__init__.py
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
Labels: execute, must, full test

#3076 Coerce dimensionless values of SizeConstraint to values with dimensions
  tests/unit/test_hardware.py
  tmt/hardware.py
Labels: hardware, ready for merge, full test

#2972 Parse the `disk.sector-size` hardware requirement
  spec/hardware/disk.fmf
  tests/unit/provision/mrack/test_hw.py
  tests/unit/test_hardware.py
  tmt/hardware.py
  tmt/schemas/provision/hardware.yaml
Labels: provision, specification, hardware, full test

#3025 Add HW requirement support matrix to docs
  .gitignore
  docs/Makefile
  docs/_static/.empty
  docs/_static/custom.css
  docs/conf.py
  docs/plugins/provision-header.inc.rst
  docs/scripts/generate-hardware-matrix.py
  docs/templates/hardware-matrix.rst.j2
  spec/hardware/main.fmf
Labels: documentation, no functional change, ready for merge

#3094 Propagate result phase into the report plugins
  tmt/result.py
Labels: blocking other work, results, ready for merge, trivial, full test

#3099 Minor grammatical update to README
  README.rst
Labels: documentation, ready for merge, trivial

#3026 Allow additional, local CSS file for documentation
  docs/conf.py
  docs/contribute.rst
Labels: documentation, no functional change, ready for merge

#2953 Support `cpu.hyper-threading` hw requirement for `mrack`
  tests/unit/provision/mrack/test_hw.py
  tests/unit/test_hardware.py
  tmt/steps/provision/mrack.py
Labels: provision, hardware, mrack, ready for merge, full test

#3104 Fix links to plugins to start with `/` like other links
  docs/plugins/provision-header.inc.rst
  docs/releases.rst
  docs/templates/plugins.rst.j2
  spec/tests/restart.fmf
Labels: documentation, ready for merge

#3111 fix repating typo in user guide
  docs/guide.rst
Labels: documentation, ready for merge, trivial

#3080 Change Polarion field which stores tmt id
  docs/examples.rst
  docs/releases.rst
  plans/remote/polarion.fmf
  tmt/convert.py
  tmt/export/polarion.py
Labels: import, export, polarion, ready for merge, full test

#3115 Fix loose ends in documentation after renaming plugin hrefs
  docs/contribute.rst
  docs/plugins/provision-header.inc.rst
  spec/tests/restart.fmf
  tmt/checks/watchdog.py
Labels: documentation, trivial

#3022 Support `tpm.version` hardware requirement for `mrack`
  spec/hardware/tpm.fmf
  tests/unit/provision/mrack/test_hw.py
  tmt/steps/provision/mrack.py
Labels: provision, hardware, mrack, ready for merge, full test

#3059 Add `_compat` package
  pyproject.toml
  tests/unit/conftest.py
  tmt/_compat/__init__.py
  tmt/_compat/pathlib.py
  tmt/_compat/typing.py
  tmt/cli.py
  tmt/hardware.py
  tmt/package_managers/__init__.py
  tmt/queue.py
  tmt/utils/__init__.py
Labels: type annotations, code style, no functional change, ready for merge, full test

#2812 Use `pyproject.toml` in the plugin examples
  examples/plugins/pyproject.toml
  examples/plugins/setup.py
  tests/plugins/test.sh
Labels: documentation, packaging, ready for merge, trivial, full test

#2973 Support `disk.sector-size` hardware requirement for mrack
  tests/unit/provision/mrack/test_hw.py
  tmt/steps/provision/mrack.py
Labels: provision, hardware, mrack, ready for merge, full test

#2991 Allow `tmt try IP@connect`
  tmt/cli.py
Labels: enhancement, ready for merge, try, full test

#3058 Define Beaker pool HW requirement
  spec/hardware/beaker.fmf
  tests/unit/provision/mrack/test_hw.py
  tests/unit/test_hardware.py
  tmt/hardware.py
  tmt/schemas/provision/hardware.yaml
Labels: provision, specification, hardware, mrack, ready for merge, full test

#3072 Add favicon and logo to rtd
  docs/conf.py
Labels: documentation, ready for merge, trivial

#3121 Avoid conflict between theme CSS and custom CSS files
  docs/_static/tmt-custom.css
  docs/conf.py
  docs/contribute.rst
Labels: bug, documentation, ready for merge

#3122 Use checkmark and cross for hardware support matrix
  docs/templates/hardware-matrix.rst.j2
Labels: documentation, ready for merge, trivial

#2889 Create `run.yaml` for `tmt try`
  tmt/base.py
  tmt/trying.py
Labels: ready for merge, try, full test

#3047 Move "common keys" section of plugin docs to top of the page
  docs/templates/plugins.rst.j2
Labels: documentation, no functional change, ready for merge

#2910 Add the `cpu.vendor` hardware requirement for mrack
  docs/releases.rst
  spec/hardware/cpu.fmf
  tests/unit/provision/mrack/test_hw.py
  tmt/steps/provision/mrack.py
Labels: provision, hardware, mrack, ready for merge, full test
