Repository teemtee/tmt, pull requests merged in 2024-03, with the labels that each got.

#2720 Use /usr/sbin/sestatus instead of /usr/bin/sestatus
  tmt/checks/avc.py
Labels: tests, check, full test

#2695 Disable password authentication when using keys
  tests/prepare/multihost/test.sh
  tmt/steps/provision/__init__.py
Labels: provision, testcloud, full test

#2727 Document how to enable verbose/debug logging
  docs/examples.rst
Labels: documentation, logging, no functional change, trivial, full test

#2724 Pass `domain_configuration` to testcloud's `wake()`
  tmt/steps/provision/testcloud.py
Labels: bug, provision, testcloud, full test

#2716 Include `context` in the test `metadata.yaml` file
  tests/execute/metadata/data/plan.fmf
  tests/execute/metadata/test.sh
  tmt/steps/execute/__init__.py
Labels: execute, tests, context, full test

#2705 Support `disk.model-name` hw requirement for `mrack`
  docs/releases.rst
  spec/hardware/disk.fmf
  tmt/steps/provision/mrack.py
Labels: provision, hardware, mrack, full test

#2699 Remove now unnecessary `NON_KVM_ADDITIONAL_WAIT` from testcloud
  tmt/steps/provision/testcloud.py
Labels: provision, testcloud, full test

#2667 Add support for `disk.driver` hardware requirement
  docs/releases.rst
  spec/hardware/disk.fmf
  tmt/hardware.py
  tmt/schemas/provision/hardware.yaml
Labels: specification, hardware, full test

#2735 Disable IPv6 for `/plans/provision/virtual` in CI
  plans/provision/virtual.fmf
Labels: tmt tests, full test

#2736 Set default formatting of Pint units to use symbols, not names
  tests/provision/virtual.testcloud/test.sh
  tmt/hardware.py
Labels: hardware, full test

#2596 Add support for emulated TPM into virtual provision plugin
  docs/releases.rst
  spec/hardware/tpm.fmf
  tests/unit/__init__.py
  tests/unit/conftest.py
  tests/unit/provision/__init__.py
  tests/unit/provision/testcloud/__init__.py
  tests/unit/provision/testcloud/test_hw.py
  tests/unit/test_logging.py
  tmt/hardware.py
  tmt/steps/provision/testcloud.py
Labels: testcloud, hardware, blocking other work, full test

#2734 Bootstrap unit tests for Beaker XML transformation of HW requirements
  tests/unit/provision/mrack/__init__.py
  tests/unit/provision/mrack/test_hw.py
  tmt/hardware.py
  tmt/steps/provision/mrack.py
Labels: hardware, no functional change, mrack, tmt tests, full test

#2742 Cover `tmt.hardware` with `pyright` check
  .pre-commit-config.yaml
  pyproject.toml
  tmt/hardware.py
Labels: code style, blocking other work, no functional change, full test

#2668 Support `disk.driver` hw requirement for `mrack`
  docs/releases.rst
  spec/hardware/disk.fmf
  tmt/steps/provision/mrack.py
Labels: provision, hardware, mrack, full test

#2412 Implement the new test check `watchdog`
  docs/releases.rst
  tests/execute/reboot/basic.sh
  tests/execute/reboot/reuse.sh
  tests/test/check/data/main.fmf
  tests/test/check/main.fmf
  tests/test/check/test-watchdog.sh
  tmt/checks/avc.py
  tmt/checks/dmesg.py
  tmt/checks/watchdog.py
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/connect.py
  tmt/steps/provision/mrack.py
  tmt/utils.py
Labels: execute, tests, check, full test

#2725 Cover `report/junit` with `pyright`
  .pre-commit-config.yaml
  pyproject.toml
  tmt/steps/report/junit.py
Labels: no functional change, tmt tests, trivial, full test

#2750 Include a simple config for the `polarion` plugin
  spec/plans/report.fmf
  stories/cli/common.fmf
  stories/cli/test.fmf
  tmt/steps/report/polarion.py
Labels: documentation, export, report, polarion

#2753 Move `/tests/run/shell` to `/plans/provision/local`
  tests/run/shell/main.fmf
  tests/run/shell/test.sh
Labels: tmt tests, trivial, full test

#2751 Allow commands whose output is not logged unless they fail
  tests/unit/test_utils.py
  tmt/checks/watchdog.py
  tmt/utils.py
Labels: utils, full test

#2557 Extract "package manager" functionality into plugins
  .packit.yaml
  .pre-commit-config.yaml
  Makefile
  docs/releases.rst
  plans/features/basic.fmf
  plans/features/extended-unit-tests.fmf
  pyproject.toml
  tests/unit/__init__.py
  tests/unit/main.fmf
  tests/unit/test.sh
  tests/unit/test_package_managers.py
  tests/unit/test_steps_prepare.py
  tmt/package_managers/__init__.py
  tmt/package_managers/apt.py
  tmt/package_managers/dnf.py
  tmt/package_managers/rpm_ostree.py
  tmt/plugins/__init__.py
  tmt/steps/prepare/install.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/podman.py
  tmt/utils.py
Labels: prepare, blocking other work, full test

#2747 Run `/plans/install/docs` in core `packit` jobs
  .packit.yaml
  docs/contribute.rst
Labels: full test, docs test

#2748 Finish unit testing of HW transformations in mrack plugin
  tests/unit/provision/mrack/test_hw.py
  tmt/hardware.py
  tmt/steps/provision/mrack.py
Labels: mrack, tmt tests, full test

#2760 Debug output for `discover -h fmf --modified-only`
  tmt/steps/discover/fmf.py
Labels: discover, full test

#2761 Select no tests if `modified-only` returns nothing
  tests/discover/data/plans.fmf
  tests/discover/modified.sh
  tmt/steps/discover/fmf.py
Labels: discover, full test

#2778 Fix typos in the `tmt try` help message examples
  tmt/cli.py
Labels: documentation, trivial

#2776 Update pre-commit checks
  .pre-commit-config.yaml
  pyproject.toml
  tmt/utils.py
Labels: tmt tests

#2779 Clarify that plan context is not applied to plan
  spec/plans/context.fmf
Labels: specification

#2731 Document test tags and mark beakerlib integration
  docs/contribute.rst
  plans/friends/.fmf/version
  plans/friends/README.rst
  plans/friends/beakerlib.fmf
  plans/friends/main.fmf
  plans/provision/artemis/main.fmf
  plans/provision/main.fmf
  tests/artemis/noop/main.fmf
  tests/core/docs/main.fmf
  tests/core/escaping/main.fmf
  tests/core/spaces/main.fmf
  tests/discover/libraries/main.fmf
  tests/execute/basic/main.fmf
  tests/execute/deep/main.fmf
  tests/execute/filesubmit/main.fmf
  tests/execute/framework/main.fmf
  tests/execute/metadata/main.fmf
  tests/execute/nonroot/main.fmf
  tests/execute/old/main.fmf
  tests/execute/restraint/tmt-abort/main.fmf
  tests/libraries/main.fmf
  tests/main.fmf
  tests/prepare/adjust/main.fmf
  tests/prepare/main.fmf
  tests/pull/results/main.fmf
Labels: documentation, no functional change, tmt tests, full test

#2732 Add support for linking artifacts from the report
  docs/contribute.rst
  docs/overview.rst
  docs/releases.rst
  tests/report/reportportal/test.sh
  tmt/schemas/report/reportportal.yaml
  tmt/steps/report/reportportal.py
Labels: report, reportportal, full test

#2666 Introduce ansible-lint to format ansible files
  .pre-commit-config.yaml
  ansible/packages.yml
  examples/ansible/test.yml
  examples/redis/ansible/setup_server.yml
  examples/redis/ansible/tasks/redis_variables.yml
  tests/finish/ansible/data/playbook.yml
  tests/prepare/ansible/data/playbook.yml
  tests/run/worktree/data/ansible/playbook.yml
  tmt/steps/prepare/feature/epel-disable.yaml
  tmt/steps/prepare/feature/epel-enable.yaml
Labels: tmt tests, full test

#2697 Add support for `zcrypt` to Beaker plugin
  docs/releases.rst
  spec/hardware/zcrypt.fmf
  tests/unit/provision/mrack/test_hw.py
  tmt/hardware.py
  tmt/steps/provision/mrack.py
Labels: provision, hardware, mrack, trivial, full test

#2641 Prepare dist-git sources using `rpmbuild -bp`
  docs/releases.rst
  spec/plans/discover.fmf
  spec/plans/prepare.fmf
  tests/discover/data/add-tmt-test.patch
  tests/discover/data/add-txt.patch
  tests/discover/data/demo.spec
  tests/discover/distgit.sh
  tests/discover/main.fmf
  tmt/base.py
  tmt/schemas/common.yaml
  tmt/schemas/discover/fmf.yaml
  tmt/schemas/discover/shell.yaml
  tmt/steps/__init__.py
  tmt/steps/discover/__init__.py
  tmt/steps/discover/fmf.py
  tmt/steps/discover/shell.py
  tmt/steps/prepare/distgit.py
  tmt/utils.py
Labels: prepare, discover, full test

#2698 Allow `keep-git-metadata` to be used without url
  docs/guide.rst
  tests/discover/keep-git-metadata/data/.fmf/version
  tests/discover/keep-git-metadata/data/plan.fmf
  tests/discover/keep-git-metadata/main.fmf
  tests/discover/keep-git-metadata/test.sh
  tests/discover/references-shell.sh
  tmt/steps/discover/shell.py
Labels: discover, full test

#2702 Update the `reportportal` plugin
  tmt/schemas/report/reportportal.yaml
  tmt/steps/report/reportportal.py
Labels: report, reportportal, full test

#2788 Support Alpine Linux `apk` package manager
  Makefile
  containers/Containerfile.alpine
  docs/releases.rst
  pyproject.toml
  tests/unit/test.sh
  tests/unit/test_package_managers.py
  tmt/package_managers/apk.py
Labels: prepare, containers, full test

#2793 Release tmt-1.32.0
  docs/overview.rst
  tmt.spec
Labels: packaging, full test
