Repository teemtee/tmt, pull requests merged in 2024-08, with the labels that each got.

#2977 Introduce "phase result" for prepare/finish plugins to return [Step results #2]
  tmt/steps/finish/__init__.py
  tmt/steps/finish/shell.py
  tmt/steps/prepare/__init__.py
  tmt/steps/prepare/ansible.py
  tmt/steps/prepare/distgit.py
  tmt/steps/prepare/feature.py
  tmt/steps/prepare/install.py
  tmt/steps/prepare/shell.py
Labels: no functional change, ready for merge, full test

#3074 Support `beaker.pool` hardware requirement for mrack
  docs/releases.rst
  spec/hardware/beaker.fmf
  tests/unit/provision/mrack/test_hw.py
  tmt/steps/provision/mrack.py
Labels: provision, hardware, mrack, ready for merge, full test

#3092 Retry on error 504 from ReportPortal
  tmt/steps/report/reportportal.py
Labels: report, must, ready for merge, full test

#3103 Require --feeling-safe for local provisioning
  tests/login/step.sh
  tests/unit/test_steps.py
  tmt/cli.py
  tmt/options.py
  tmt/steps/__init__.py
  tmt/steps/provision/local.py
Labels: provision, ready for merge, full test

#2891 Accept --id option multiple times for clean and status
  tmt/base.py
  tmt/cli.py
  tmt/utils/__init__.py
Labels: clean, ready for merge, full test

#3016 Add support for cpu.processors HW requirement to virtual plugin
  tmt/steps/provision/testcloud.py
Labels: testcloud, hardware, ready for merge, full test

#3110 Extend coverage of prepare/finish ansible plugin with more images
  Makefile
  containers/centos/7/Containerfile
  containers/centos/stream9/Containerfile
  tests/finish/ansible/data/plan.fmf
  tests/finish/ansible/main.fmf
  tests/finish/ansible/test.sh
  tests/images.sh
  tests/prepare/ansible/data/plan.fmf
  tests/prepare/ansible/data/test.fmf
  tests/prepare/ansible/main.fmf
  tests/prepare/ansible/test.sh
  tests/prepare/install/test.sh
  tmt/package_managers/apk.py
  tmt/steps/prepare/ansible.py
Labels: prepare, tests, finish, ansible, ready for merge, full test

#3037 base: Honor `.gitignore` for rsync
  tmt/base.py
  tmt/utils/__init__.py
Labels: ready for merge, full test

#3017 Added lint check for duplicate test ids
  docs/overview.rst
  docs/releases.rst
  docs/scripts/generate-lint-checks.py
  docs/templates/lint-checks.rst.j2
  tests/lint/all/data_duplicate_ids/.fmf/version
  tests/lint/all/data_duplicate_ids/duplicates/plans/duplicateid.fmf
  tests/lint/all/data_duplicate_ids/duplicates/plans/unique.fmf
  tests/lint/all/data_duplicate_ids/duplicates/stories/duplicateid.fmf
  tests/lint/all/data_duplicate_ids/duplicates/stories/unique.fmf
  tests/lint/all/data_duplicate_ids/duplicates/tests/duplicateid.fmf
  tests/lint/all/data_duplicate_ids/duplicates/tests/test.sh
  tests/lint/all/data_duplicate_ids/duplicates/tests/unique.fmf
  tests/lint/all/data_duplicate_ids/no_duplicates/plans/unique.fmf
  tests/lint/all/data_duplicate_ids/no_duplicates/stories/unique.fmf
  tests/lint/all/data_duplicate_ids/no_duplicates/tests/test.sh
  tests/lint/all/data_duplicate_ids/no_duplicates/tests/unique.fmf
  tests/lint/all/test.sh
  tests/lint/plan/data_duplicate_ids/.fmf/version
  tests/lint/plan/data_duplicate_ids/duplicates/duplicate_one.fmf
  tests/lint/plan/data_duplicate_ids/duplicates/duplicate_two.fmf
  tests/lint/plan/data_duplicate_ids/duplicates/unique.fmf
  tests/lint/plan/data_duplicate_ids/no_duplicates/first.fmf
  tests/lint/plan/data_duplicate_ids/no_duplicates/second.fmf
  tests/lint/plan/data_duplicate_ids/no_duplicates/third.fmf
  tests/lint/plan/test.sh
  tests/lint/story/data_duplicate_ids/.fmf/version
  tests/lint/story/data_duplicate_ids/duplicates/duplicate_one.fmf
  tests/lint/story/data_duplicate_ids/duplicates/duplicate_two.fmf
  tests/lint/story/data_duplicate_ids/duplicates/unique.fmf
  tests/lint/story/data_duplicate_ids/no_duplicates/first.fmf
  tests/lint/story/data_duplicate_ids/no_duplicates/second.fmf
  tests/lint/story/data_duplicate_ids/no_duplicates/third.fmf
  tests/lint/story/test.sh
  tests/lint/test/data_duplicate_ids/.fmf/version
  tests/lint/test/data_duplicate_ids/duplicates/duplicate_one.fmf
  tests/lint/test/data_duplicate_ids/duplicates/duplicate_two.fmf
  tests/lint/test/data_duplicate_ids/duplicates/unique.fmf
  tests/lint/test/data_duplicate_ids/no_duplicates/first.fmf
  tests/lint/test/data_duplicate_ids/no_duplicates/second.fmf
  tests/lint/test/data_duplicate_ids/no_duplicates/third.fmf
  tests/lint/test/test.sh
  tmt/base.py
  tmt/cli.py
  tmt/lint.py
Labels: tests, lint, ready for merge, full test

#3127 User per-guest SSH master sockets to prevent re-use
  tmt/steps/provision/__init__.py
Labels: bug, provision, ready for merge, full test

#3040 Move abort detection into test invocation
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
Labels: code style, no functional change, ready for merge, full test

#2816 Disable to print color if `--no-color` is specified
  tests/discover/exception.sh
  tests/discover/main.fmf
  tests/execute/tty/ptty-wrapper
  tests/execute/tty/test.sh
  tmt/cli.py
  tmt/log.py
  tmt/utils/__init__.py
Labels: logging, full test

#3133 Improve version comparison in `--feeling-safe` check
  .pre-commit-config.yaml
  pyproject.toml
  tests/unit/test_steps.py
  tmt/steps/__init__.py
Labels: bug, ready for merge, full test

#3132 Fix a bug when prune is used along with path
  docs/releases.rst
  tests/discover/prune.sh
  tests/discover/prune/nested.fmf
  tmt/steps/discover/fmf.py
Labels: bug, discover, ready for merge, full test

#3024 Packit configuration maintenance
  .packit.yaml
Labels: ready for merge, full test

#2689 Implement separate results for `rstrnt-report-result`
  docs/releases.rst
  spec/tests/result.fmf
  tests/execute/restraint/report-result/data/multi_reports.sh
  tests/execute/restraint/report-result/data/output.fmf
  tests/execute/restraint/report-result/data/report.sh
  tests/execute/restraint/report-result/data/separate.fmf
  tests/execute/restraint/report-result/data/smoke.fmf
  tests/execute/restraint/report-result/test.sh
  tests/execute/result/custom.sh
  tmt/result.py
  tmt/schemas/common.yaml
  tmt/steps/execute/__init__.py
  tmt/steps/execute/scripts/tmt-report-result
Labels: execute, must, restraint, results, full test

#2806 Implement `--last`, `--id` and `--skip` for `tmt clean`
  docs/examples.rst
  docs/releases.rst
  tests/clean/basic/data/.fmf/version
  tests/clean/basic/data/main.fmf
  tests/clean/basic/main.fmf
  tests/clean/basic/test.sh
  tmt/base.py
  tmt/cli.py
Labels: clean, full test

#3141 Release 1.35.0
  docs/overview.rst
Labels: packaging, full test

#2978 Add primitives for loading and saving step results [Step results #3]
  tmt/steps/__init__.py
  tmt/steps/execute/__init__.py
Labels: blocked, no functional change, full test

#3136 Correct the description for `where` under `finish`
  spec/plans/finish.fmf
Labels: documentation, trivial

#3145 Use the default branch for polarion tests
  plans/remote/polarion.fmf
Labels: polarion, tmt tests, full test

#3142 pre-commit hooks update; mypy, ruff fixes
  .pre-commit-config.yaml
  docs/scripts/generate-plugins.py
  docs/templates/plugins.rst.j2
  pyproject.toml
  tests/unit/test_utils.py
  tmt/convert.py
  tmt/export/__init__.py
  tmt/export/nitrate.py
  tmt/log.py
  tmt/steps/__init__.py
  tmt/steps/prepare/__init__.py
  tmt/steps/prepare/distgit.py
  tmt/steps/provision/__init__.py
  tmt/utils/__init__.py
Labels: lint, code style, no functional change, ready for merge, full test

#3144 Use concrete step data class when injecting requires
  tmt/steps/prepare/__init__.py
Labels: code style, no functional change, ready for merge, full test

#2983 Introduce submodules `utils.git` and `utils.templates`
  docs/Makefile
  docs/examples.rst
  docs/scripts/generate-hardware-matrix.py
  docs/scripts/generate-lint-checks.py
  docs/scripts/generate-plugins.py
  docs/scripts/generate-template-filters.py
  tests/integration/__init__.py
  tests/integration/test_data/test_nitrate/NitrateExport.test_coverage_bugzilla.yaml
  tests/integration/test_data/test_nitrate/NitrateExport.test_create.yaml
  tests/integration/test_data/test_nitrate/NitrateExport.test_create_dryrun.yaml
  tests/integration/test_data/test_nitrate/NitrateExport.test_existing.yaml
  tests/integration/test_data/test_nitrate/NitrateExport.test_existing_dryrun.yaml
  tests/integration/test_data/test_nitrate/NitrateExport.test_existing_release_dryrun.yaml
  tests/integration/test_data/test_nitrate/NitrateExport.test_export_forced_validation.yaml
  tests/integration/test_data/test_polarion/PolarionExport.test_coverage_bugzilla.yaml
  tests/integration/test_data/test_polarion/PolarionExport.test_create.yaml
  tests/integration/test_data/test_polarion/PolarionExport.test_existing.yaml
  tests/unit/test_beakerlib.py
  tests/unit/test_utils.py
  tmt/base.py
  tmt/export/nitrate.py
  tmt/export/template.py
  tmt/libraries/beakerlib.py
  tmt/steps/__init__.py
  tmt/steps/discover/fmf.py
  tmt/steps/discover/shell.py
  tmt/steps/report/html.py
  tmt/templates/__init__.py
  tmt/utils/__init__.py
  tmt/utils/git.py
  tmt/utils/templates.py
Labels: code style, no functional change, ready for merge, full test

#3146 Fix `if` typo in `report` spec description
  spec/plans/report.fmf
Labels: documentation, ready for merge, trivial

#3148 Fix getting excluded variables from environment variable
  tmt/steps/report/reportportal.py
Labels: bug, report, ready for merge, reportportal, trivial, full test

#2979 Prepare and finish steps save results of their phases [Step results #4]
  tests/finish/basic/test.sh
  tmt/steps/__init__.py
  tmt/steps/finish/__init__.py
  tmt/steps/prepare/__init__.py
Labels: prepare, finish, results, ready for merge, full test

#3011 Fix docstrings of regex template filters
  tests/integration/__init__.py
  tmt/utils/templates.py
Labels: documentation, no functional change, ready for merge, full test

#3128 Do not enable epel on EL 10
  tmt/steps/prepare/feature/epel-enable.yaml
Labels: prepare, ready for merge, full test

#3107 Show subresults and their checks in report display plugin
  tests/report/display/data/faked-subresults-results.yaml
  tests/report/display/data/main.fmf
  tests/report/display/test.sh
  tmt/steps/report/display.py
Labels: report, results, ready for merge, full test

#3119 Remove redundant parsing user_data code
  tmt/steps/provision/artemis.py
Labels: artemis, ready for merge, full test

#3135 reportportal: upload all test case results
  tmt/steps/report/reportportal.py
Labels: report, must, ready for merge, reportportal, full test

#3153 Add (custom) result file validation, schema-based
  docs/releases.rst
  tests/execute/result/custom.sh
  tmt/schemas/common.yaml
  tmt/schemas/results.yaml
  tmt/steps/execute/__init__.py
  tmt/utils/__init__.py
Labels: execute, results, ready for merge, full test

#3158 Fix handling of empty set of allowed linters
  tmt/lint.py
Labels: bug, lint, ready for merge, full test

#3062 Add `warnings.deprecated`
  .pre-commit-config.yaml
  docs/code/plugin-introduction.rst
  docs/releases.rst
  pyproject.toml
  tmt/_compat/warnings.py
  tmt/log.py
Labels: code style, no functional change, ready for merge, full test

#3095 Improve the design of the checks and phases in HTML report plugin
  tests/report/html/data/faked-subresults-results.yaml
  tests/report/html/data/main.fmf
  tests/report/html/test.sh
  tmt/steps/report/html.py
  tmt/steps/report/html/template.html.j2
Labels: report, html, ready for merge, full test

#3170 Fix the operator to be not equal in string values
  spec/hardware/main.fmf
Labels: documentation, no functional change, ready for merge, trivial

#3171 Fix `thundebolt` typo
  spec/hardware/device.fmf
Labels: documentation, no functional change, ready for merge, trivial

#3172 Add Fedora 41 among images we test against
  Makefile
  containers/fedora/41/Containerfile
  containers/fedora/41/Containerfile.unprivileged
  containers/fedora/41/Containerfile.upstream
  tests/images.sh
  tests/prepare/install/test.sh
  tests/unit/test_package_managers.py
Labels: no functional change, ready for merge, tmt tests, full test

#3173 Extend xfail to F41 for pint and nitrate issues
  tests/pip/install.fmf
  tests/precommit/main.fmf
Labels: no functional change, ready for merge, trivial, full test

#3019 Move timestamp/duration formatting to utils [Step results #5]
  tests/unit/test_utils.py
  tmt/checks/avc.py
  tmt/checks/dmesg.py
  tmt/checks/watchdog.py
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
  tmt/utils/__init__.py
Labels: no functional change, ready for merge, full test

#3163 Changing Clean.guests() to accept run IDs
  tmt/base.py
  tmt/cli.py
Labels: code style, ready for merge, trivial, full test

#3165 Move SSH master sockets under workdir
  tests/unit/test_guest.py
  tmt/steps/provision/__init__.py
Labels: bug, provision, ready for merge, full test
