Repository teemtee/tmt, pull requests merged in 2024-05, with the labels that each got.

#2828 Fix Alpine Linux support
  plans/main.fmf
  tests/provision/container/alpine/main.fmf
  tests/provision/container/alpine/test.sh
  tmt/package_managers/__init__.py
  tmt/package_managers/apk.py
  tmt/steps/prepare/install.py
  tmt/steps/provision/__init__.py
Labels: prepare, full test, package managers

#2887 Fix inability of rpm-ostree to install multiple packages
  Makefile
  containers/Containerfile.alpine
  containers/Containerfile.coreos
  containers/alpine/Containerfile
  containers/fedora/coreos/Containerfile
  containers/fedora/coreos/ostree/Containerfile
  containers/fedora/rawhide/Containerfile
  containers/fedora/rawhide/Containerfile.unprivileged
  pyproject.toml
  tests/prepare/install/data/debuginfo.fmf
  tests/prepare/install/data/empty.fmf
  tests/prepare/install/data/epel7.fmf
  tests/prepare/install/data/epel8-remote.fmf
  tests/prepare/install/data/existing.fmf
  tests/prepare/install/data/main.fmf
  tests/prepare/install/data/missing.fmf
  tests/prepare/install/main.fmf
  tests/prepare/install/test.sh
  tests/provision/become/data/main.fmf
  tests/provision/container/alpine/test.sh
  tests/provision/user/test.sh
  tests/unit/test.sh
  tests/unit/test_package_managers.py
  tmt/package_managers/rpm_ostree.py
  tmt/steps/prepare/install.py
Labels: bug, tmt tests, full test, package managers

#2843 Log hash of the beakerlib library repo
  tmt/libraries/beakerlib.py
  tmt/steps/discover/fmf.py
  tmt/steps/discover/shell.py
  tmt/utils.py
Labels: utils, libraries, full test

#2898 Allow `duration` in the `execute` schema
  tmt/schemas/common.yaml
  tmt/schemas/execute/tmt.yaml
  tmt/schemas/execute/upgrade.yaml
  tmt/schemas/test.yaml
Labels: execute, schema, full test

#2823 Slightly improve rendring of ReST for command line
  tmt/utils.py
Labels: documentation, trivial, full test

#2899 Fix copy/paste issue for `combine_hw_disk_size()`
  tmt/steps/provision/testcloud.py
Labels: documentation, no functional change, trivial

#2829 Fix error message if no supported package manager found
  tmt/steps/prepare/install.py
Labels: prepare, full test, package managers

#2870 Test restart on crash
  docs/releases.rst
  spec/tests/restart.fmf
  tests/execute/restart/data/.fmf/version
  tests/execute/restart/data/plan.fmf
  tests/execute/restart/data/test.fmf
  tests/execute/restart/data/test.sh
  tests/execute/restart/main.fmf
  tests/execute/restart/test.sh
  tmt/base.py
  tmt/checks/avc.py
  tmt/checks/dmesg.py
  tmt/schemas/test.yaml
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
  tmt/utils.py
Labels: execute, specification, tests, must, full test

#2794 Define `location.lab-controller` hardware requirement
  spec/hardware/location.fmf
  tests/unit/test_hardware.py
  tmt/hardware.py
  tmt/schemas/provision/hardware.yaml
Labels: specification, hardware, full test

#2839 Improve fail message when library doesn't exist
  tests/discover/libraries/data/certificate.fmf
  tests/discover/libraries/data/plan.fmf
  tests/discover/libraries/test.sh
  tmt/libraries/beakerlib.py
  tmt/utils.py
Labels: libraries, trivial, full test

#2866 Install dependencies of upgrade tasks
  docs/releases.rst
  tests/execute/upgrade/data/test/test.sh
  tests/execute/upgrade/simple.sh
  tmt/steps/execute/upgrade.py
Labels: upgrade, full test

#2483 Simplify the documentation building
  .github/workflows/doc-tests.yml
  .github/workflows/pre-commit.yml
  .packit.yaml
  .readthedocs.yaml
  docs/Makefile
  docs/conf.py
  plans/install/docs.fmf
  pyproject.toml
Labels: documentation, full test

#2914 Fix installation of packages from files
  tests/prepare/install/data/downloaded.fmf
  tests/prepare/install/test.sh
  tests/unit/test_package_managers.py
  tmt/steps/prepare/install.py
Labels: bug, prepare, must, full test

#2912 Release 1.33.0
  docs/overview.rst
  tmt.spec
Labels: packaging, full test

#2913 Run the `no-commit-to-branch` check only locally
  .github/workflows/pre-commit.yml
  .github/workflows/release.yml
Labels: process, full test

#2931 Update interaction with Fedora rawhide
  containers/fedora/rawhide/Containerfile.unprivileged
  tests/prepare/install/test.sh
  tests/unit/test_package_managers.py
  tmt/package_managers/dnf.py
Labels: tmt tests, full test

#2902 Drop duplicate list of supported HW requirements in beaker plugin
  tmt/steps/provision/mrack.py
Labels: no functional change, mrack, trivial, full test

#2932 Update distros in the `mrack` provisioning config
  tmt/steps/provision/mrack/mrack-provisioning-config.yaml
Labels: provision, mrack, trivial, full test

#2934 Enforce "one blank line after class docstring" rule
  pyproject.toml
  tests/discover/data/distgit_test_plugin.py
  tmt/options.py
  tmt/steps/execute/__init__.py
  tmt/steps/provision/mrack.py
  tmt/utils.py
Labels: documentation, no functional change, trivial, full test

#2921 Support `cpu.model-name` hardware requirement for mrack
  spec/hardware/cpu.fmf
  tests/unit/provision/mrack/test_hw.py
  tmt/steps/provision/mrack.py
Labels: provision, hardware, mrack, full test

#2924 Pass correct spec to _parse_system and _parse_location
  tmt/hardware.py
Labels: hardware, full test

#2944 Cover tmt.steps.prepare.distgit with pyright
  pyproject.toml
  tmt/steps/prepare/distgit.py
Labels: needs tests, type annotations, no functional change, trivial, full test

#2959 Fix pre-commit typing python version
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  tests/unit/test_utils.py
Labels: ready for merge, tmt tests, full test

#2943 Cover tmt.steps.prepare.shell with pyright checks
  pyproject.toml
  tmt/steps/prepare/shell.py
Labels: needs tests, type annotations, no functional change, ready for merge, trivial

#2940 Fix some invalid links in documentation
  docs/conf.py
  docs/contribute.rst
  docs/examples.rst
  docs/overview.rst
  docs/questions.rst
  spec/core/id.fmf
  spec/tests/path.fmf
  stories/cli/plan.fmf
  stories/cli/run.fmf
  stories/cli/steps.fmf
  stories/cli/test.fmf
  tmt/hardware.py
  tmt/steps/__init__.py
  tmt/utils.py
Labels: documentation, no functional change, ready for merge

#2947 Add konflux as possible initiator
  spec/context/initiator.fmf
Labels: specification, context, no functional change, ready for merge, trivial

#2961 Clarify the `trigger` context dimension values
  spec/context/trigger.fmf
Labels: specification, context, no functional change, ready for merge, trivial

#2942 Cover `tmt.trying` with `pyright` check
  pyproject.toml
  tmt/trying.py
Labels: type annotations, no functional change, ready for merge, tmt tests, trivial, full test

#2957 Fix validation of fmf id URL, it must be cloneable first
  tmt/base.py
Labels: bug, lint, ready for merge, trivial, full test

#2845 Allow multiplication in duration input value
  docs/releases.rst
  spec/tests/duration.fmf
  tests/unit/test_utils.py
  tmt/schemas/common.yaml
  tmt/utils.py
Labels: utils, specification, ready for merge, full test

#2541 [RFC] docs: tweak docs to include how to see details about test failures
  docs/overview.rst
Labels: documentation, no functional change, ready for merge, trivial

#2897 Polish test-check/dmesg documentation
  docs/scripts/generate-plugins.py
  docs/templates/plugins.rst.j2
  tmt/checks/dmesg.py
Labels: documentation, ready for merge, trivial

#2900 Display locals in traceback when requested
  docs/overview.rst
  tmt/utils.py
Labels: logging, ready for merge, full test

#2901 Fix path to watchdog log
  tests/test/check/test-watchdog.sh
  tmt/checks/watchdog.py
Labels: bug, ready for merge, check, trivial, full test

#2933 Extend results schema to allow test phases
  spec/plans/results.fmf
  tmt/schemas/results.yaml
Labels: schema, results, ready for merge

#2956 Fix "skip missing" behavior when installing debuginfo packages with dnf
  tests/unit/test_package_managers.py
  tmt/package_managers/dnf.py
Labels: bug, ready for merge, full test, package managers

#2971 Fix multiple rules `adjust` example in `duration` spec
  spec/tests/duration.fmf
Labels: specification, tests, ready for merge, trivial
