Repository teemtee/tmt, pull requests merged in 2024-06, with the labels that each got.

#2993 Require python3.9 in 'develop' target
  Makefile
Labels: no functional change

#2938 Split provision/virtual plans to subgroups per step
  plans/provision/virtual.fmf
Labels: blocked, ready for merge, tmt tests, full test

#2521 Add support for basic rerun of tests
  docs/guide.rst
  docs/releases.rst
  tests/run/again/basic.fmf
  tests/run/again/failed-only/data/.fmf/version
  tests/run/again/failed-only/data/plan.fmf
  tests/run/again/failed-only/data/test.fmf
  tests/run/again/failed-only/main.fmf
  tests/run/again/failed-only/test.sh
  tmt/base.py
  tmt/cli.py
  tmt/steps/discover/__init__.py
  tmt/steps/discover/shell.py
  tmt/steps/execute/__init__.py
Labels: enhancement, run, ready for merge, full test

#2998 Make test shell wrapper filename even more unique
  tmt/steps/__init__.py
  tmt/steps/execute/internal.py
  tmt/utils.py
Labels: execute, must, ready for merge, full test

#2928 Simplify parsing of HW requirements and add missing ones
  tests/unit/provision/mrack/test_hw.py
  tests/unit/test_hardware.py
  tmt/hardware.py
Labels: bug, hardware, ready for merge, tmt tests, full test

#3001 Improve rendering of story links in our docs
  docs/templates/story.rst.j2
  spec/core/id.fmf
  spec/tests/result.fmf
  stories/cli/init.fmf
  stories/cli/test.fmf
  stories/features/report-result.fmf
Labels: documentation, ready for merge

#2767 Add support for multiple disks to testcloud plugin
  docs/releases.rst
  tests/provision/virtual.testcloud/test.sh
  tests/unit/test_hardware.py
  tmt/hardware.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/testcloud.py
Labels: provision, testcloud, hardware, ready for merge, full test

#2992 Copy launch description to suite description
  docs/releases.rst
  tmt/steps/report/reportportal.py
Labels: report, ready for merge, reportportal, full test

#2999 Keep patched sources directly in TMT_SOURCE_DIR
  spec/plans/discover.fmf
  tests/discover/data/demo.spec
  tests/discover/distgit.sh
  tmt/steps/prepare/distgit.py
Labels: prepare, discover, full test

#3015 Fix normalization of `hardware` key/option
  tests/unit/test_hardware.py
  tmt/steps/provision/__init__.py
Labels: bug, hardware, full test

#3020 Release 1.34.0
  tmt.spec
Labels: packaging, full test

#3023 Bump pre-commit checks
  .pre-commit-config.yaml
  examples/redis/test.sh
  tests/unit/test_guest.py
  tmt/queue.py
  tmt/steps/__init__.py
  tmt/steps/discover/__init__.py
  tmt/steps/prepare/__init__.py
  tmt/steps/prepare/distgit.py
  tmt/steps/prepare/feature/epel-disable.yaml
  tmt/steps/prepare/feature/epel-enable.yaml
  tmt/steps/provision/mrack.py
  tmt/steps/provision/testcloud.py
  tmt/utils.py
Labels: must, no functional change, ready for merge, tmt tests, full test

#3030 Fix inaccuracy of `--failed-only` release note and docs
  docs/guide.rst
  docs/releases.rst
Labels: documentation, no functional change, ready for merge, trivial

#3010 Add more tag separator options to polarion import
  tmt/convert.py
Labels: import, polarion, ready for merge, trivial, full test

#2741 Drop pint higher-bound
  .pre-commit-config.yaml
  pyproject.toml
  tmt/hardware.py
Labels: packaging, hardware, type annotations, ready for merge, full test

#3014 Fix our custom Fedora CoreOS test image to avoid dnf/dnf5 conflicts
  containers/fedora/coreos/Containerfile
  containers/fedora/coreos/ostree/Containerfile
  docs/codespell.ignore
Labels: must, ready for merge, tmt tests, trivial, full test

#3043 Workaround for pip test installation on py3.13
  tests/pip/install.fmf
  tests/precommit/main.fmf
Labels: must, ready for merge, full test

#2989 Use ansible playbook from worktree
  tmt/steps/provision/__init__.py
Labels: prepare, import, ansible, ready for merge, full test

#3021 Add favicon to tmt docs
  .gitignore
  docs/Makefile
  docs/conf.py
Labels: documentation, ready for merge

#3012 Add missing test case for parsing `device` HW requirement
  tests/unit/provision/mrack/test_hw.py
  tests/unit/test_hardware.py
Labels: hardware, no functional change, ready for merge, tmt tests, trivial, full test

#2986 Remove prepare/install fields leaking into prepare step data
  tmt/steps/__init__.py
  tmt/steps/execute/upgrade.py
  tmt/steps/prepare/__init__.py
  tmt/steps/prepare/distgit.py
  tmt/steps/prepare/install.py
Labels: type annotations, code style, no functional change, ready for merge, full test
