Repository teemtee/tmt, pull requests merged in 2024-10, with the labels that each got.

#3147 Store the original test, check and subresult outcome in results
  docs/releases.rst
  spec/plans/results.fmf
  tmt/result.py
  tmt/schemas/results.yaml
Labels: specification, area | results, ci | full test

#3071 Add `install` prepare plugin using `install` into tmt try
  docs/releases.rst
  stories/cli/try.fmf
  tests/try/basic/data/install.exp
  tests/try/basic/test.sh
  tmt/cli.py
  tmt/trying.py
Labels: step | prepare, status | ready for merge, command | try, ci | full test

#3100 Add the `iommu` specification for hardware
  docs/releases.rst
  spec/hardware/iommu.fmf
  tests/unit/provision/mrack/test_hw.py
  tests/unit/test_utils.py
  tmt/hardware.py
  tmt/schemas/provision/hardware.yaml
  tmt/steps/provision/mrack.py
Labels: step | provision, specification, area | hardware, status | ready for merge, release note, ci | full test

#3213 Forbid use of `os.path`, point user to `tmt._compat.Path`
  pyproject.toml
  tests/unit/test_schemas.py
  tmt/base.py
  tmt/export/nitrate.py
  tmt/plugins/__init__.py
  tmt/steps/discover/fmf.py
  tmt/steps/provision/testcloud.py
  tmt/utils/__init__.py
Labels: code | style, code | no functional change, status | ready for merge, ci | full test

#3064 Add support for `kickstart` to `mrack` plugin
  docs/releases.rst
  spec/plans/provision/kickstart.fmf
  tmt/schemas/provision/beaker.yaml
  tmt/steps/provision/__init__.py
  tmt/steps/provision/artemis.py
  tmt/steps/provision/mrack.py
  tmt/utils/__init__.py
Labels: step | provision, area | hardware, plugin | mrack, status | ready for merge, ci | full test

#3223 Rewrite `reportportal` test results reporting
  docs/releases.rst
  tmt/steps/execute/__init__.py
  tmt/steps/report/reportportal.py
Labels: step | report, priority | should, plugin | reportportal, ci | full test

#3255 Release 1.37.0
  docs/overview.rst
  docs/releases.rst
Labels: packaging, ci | full test

#3256 Add links to the `quay.io` repo with `tmt` images
  docs/contribute.rst
  docs/overview.rst
Labels: documentation, code | trivial

#3259 Fix the copr repo name in the container files
  containers/Containerfile.full
  containers/Containerfile.mini
Labels: code | trivial

#3262 Disable package manager tests of dnf5 on Fedora 39
  tests/unit/test_package_managers.py
Labels: code | no functional change, test coverage, code | trivial, ci | full test

#3253 Test `result` key should be implemented as enum, not a string
  tests/unit/test_base.py
  tmt/base.py
  tmt/result.py
  tmt/steps/execute/__init__.py
Labels: code | style, code | no functional change, status | ready for merge, ci | full test

#3264 Increase `linkcheck` retries from 1 to 3
  docs/conf.py
Labels: code | no functional change, test coverage, code | trivial

#3269 Remove `skip` from the `ResultInterpret` enumeration
  tmt/result.py
  tmt/schemas/common.yaml
Labels: code | schema, area | results, code | trivial, ci | full test

#3270 Remove `data-path` field from `tmt-report-result` output
  tests/execute/result/special.sh
  tmt/steps/execute/scripts/tmt-report-result
Labels: area | results, status | ready for merge, code | trivial, ci | full test

#3263 Replace open+read/write with pathlib's read/write_text/bytes
  pyproject.toml
  tests/unit/test_export_to_nitrate.py
  tmt/_compat/pathlib.py
  tmt/base.py
  tmt/checks/avc.py
  tmt/cli.py
  tmt/convert.py
  tmt/export/nitrate.py
  tmt/steps/execute/__init__.py
  tmt/steps/provision/testcloud.py
  tmt/utils/__init__.py
  tmt/utils/git.py
Labels: code | style, code | no functional change, status | ready for merge, ci | full test

#3249 Replace `get()` calls with direct data access in discover/shell plugin
  tmt/steps/discover/shell.py
Labels: code | style, code | no functional change, status | ready for merge, ci | full test

#3250 Isolate "effective config path" code in a function
  tests/unit/test_utils.py
  tmt/utils/__init__.py
Labels: code | no functional change, status | ready for merge, code | trivial, ci | full test

#3278 Multiplication was used incorrectly in examples
  spec/tests/duration.fmf
Labels: documentation, code | no functional change

#3201 Add a new `Test Runner` section to the guide
  docs/guide.rst
  docs/guide/test-runner.inc.rst
  spec/plans/prepare.fmf
Labels: documentation, specification, status | ready for merge

#3271 Translate `beaker.pool` hardware requirement properly for `mrack`
  spec/hardware/beaker.fmf
  tmt/hardware.py
Labels: step | provision, area | hardware, plugin | mrack, status | ready for merge, ci | full test

#3288 Improve message provided when plugin IDs collide
  tmt/plugins/__init__.py
  tmt/steps/__init__.py
Labels: status | ready for merge, code | trivial, ci | full test

#3289 Add an extra escape wrapper for illegal XML chars in junit report plugin
  docs/releases.rst
  tests/report/junit/data/main.fmf
  tests/report/junit/data/special_chars.sh
  tests/report/junit/test.sh
  tmt/steps/report/junit.py
Labels: priority | must, plugin | junit, status | ready for merge, ci | full test

#3281 New tests for adjusting `duration` of a test
  tests/core/adjust/data/tests.fmf
  tests/core/adjust/test.sh
Labels: code | no functional change, status | ready for merge, test coverage, ci | full test

#3282 The `--feeling-safe` option required for `local` provision
  docs/guide.rst
  docs/overview.rst
  docs/releases.rst
  tests/core/feeling-safe/main.fmf
  tests/core/feeling-safe/test.sh
  tests/main.fmf
  tests/run/permissions/test.sh
  tests/run/shell/test.sh
  tests/unit/test_cli.py
  tmt/steps/__init__.py
  tmt/steps/provision/local.py
Labels: step | provision, priority | must, status | ready for merge, ci | full test, plugin | local

#3301 Improve CLI rendering of plugin docs
  tmt/steps/__init__.py
  tmt/utils/rest.py
Labels: documentation, code | cli, code | trivial

#2865 Override test metada from plan using `adjust-tests`
  docs/releases.rst
  pyproject.toml
  tests/discover/adjust-tests.sh
  tests/discover/data/plans.fmf
  tests/discover/main.fmf
  tests/unit/test_utils.py
  tmt/base.py
  tmt/schemas/discover/fmf.yaml
  tmt/steps/discover/fmf.py
  tmt/steps/execute/internal.py
  tmt/utils/__init__.py
Labels: step | discover, priority | must, ci | full test, plugin | fmf

#3247 Include error and traceback in log file
  tmt/__main__.py
  tmt/log.py
  tmt/utils/__init__.py
Labels: code | logging, status | ready for merge, ci | full test

#3285 Suggest using `direnv` when working on `tmt` tests
  docs/contribute.rst
  tests/.envrc
Labels: documentation, status | ready for merge

#3303 Bump pre-commit checks
  .pre-commit-config.yaml
  tmt/queue.py
  tmt/steps/report/junit.py
  tmt/utils/__init__.py
Labels: code | no functional change, test coverage, code | trivial, ci | full test

#3266 Pass `{USER, COREOS}_DATA` separately in `testcloud`
  docs/releases.rst
  pyproject.toml
  tests/execute/reboot/shorten-timeout-data/tests/example/main.fmf
  tmt.spec
  tmt/steps/provision/testcloud.py
Labels: plugin | testcloud, ci | full test

#3229 Support Fedora Image Mode
  .github/workflows/shellcheck.yml
  docs/overview.rst
  docs/releases.rst
  spec/plans/execute.fmf
  tests/execute/nonroot/data/main.fmf
  tests/execute/tmt-scripts/data/.fmf/version
  tests/execute/tmt-scripts/data/plan.fmf
  tests/execute/tmt-scripts/main.fmf
  tests/execute/tmt-scripts/test.sh
  tmt/frameworks/beakerlib.py
  tmt/steps/execute/__init__.py
  tmt/steps/execute/scripts/tmt.sh.j2
  tmt/steps/provision/__init__.py
Labels: step | execute, priority | must, ci | full test

#3310 Call the `tmt-file-submit` script directly
  tmt/frameworks/beakerlib.py
Labels: step | execute, status | ready for merge, code | trivial, ci | full test

#3291 Wait for guest connection before test restart
  tmt/steps/execute/__init__.py
Labels: bug, status | ready for merge, ci | full test

#3248 Avoid using raw step data when injecting phases
  tmt/steps/execute/upgrade.py
  tmt/steps/prepare/distgit.py
  tmt/steps/prepare/feature.py
  tmt/steps/prepare/install.py
  tmt/trying.py
Labels: code | style, code | no functional change, status | ready for merge, ci | full test

#3306 Add Debian 12.7 among container test images
  Makefile
  containers/debian/12.7/Containerfile.upstream
  tests/images.sh
  tests/prepare/install/data/empty.fmf
  tests/prepare/install/data/existing.fmf
  tests/prepare/install/data/missing.fmf
  tests/prepare/install/test.sh
  tests/unit/test_package_managers.py
Labels: code | no functional change, status | ready for merge, test coverage, ci | full test

#3295 Translate `cpu.stepping` hardware requirement for `mrack`
  docs/releases.rst
  spec/hardware/cpu.fmf
  tests/unit/provision/mrack/test_hw.py
  tmt/steps/provision/mrack.py
Labels: area | hardware, plugin | mrack, status | ready for merge, ci | full test

#3312 Mention the `Test Runner` section in release notes
  docs/guide/test-runner.inc.rst
  docs/releases.rst
Labels: documentation, status | ready for merge, code | trivial

#3200 Save the subresults for tmt-report-result
  docs/releases.rst
  stories/features/report-result.fmf
  tests/execute/filesubmit/test.sh
  tests/execute/result/main.fmf
  tests/execute/result/subresults.sh
  tests/execute/result/subresults/.fmf/version
  tests/execute/result/subresults/beaker-phases-subresults.sh
  tests/execute/result/subresults/plan.fmf
  tests/execute/result/subresults/test.fmf
  tmt/frameworks/__init__.py
  tmt/frameworks/beakerlib.py
  tmt/frameworks/shell.py
  tmt/result.py
  tmt/schemas/results.yaml
  tmt/steps/execute/__init__.py
Labels: priority | must, area | results, status | ready for merge, ci | full test

#3296 Translate ``cpu.frequency`` hardware requirement
  spec/hardware/cpu.fmf
  tests/unit/provision/mrack/test_hw.py
  tests/unit/test_hardware.py
  tmt/hardware.py
  tmt/schemas/provision/hardware.yaml
  tmt/steps/provision/mrack.py
  tmt/steps/provision/testcloud.py
Labels: area | hardware, plugin | mrack, status | ready for merge, ci | full test

#3321 Remove xfail for feeling safe
  tests/core/feeling-safe/main.fmf
Labels: ci | full test

#3324 Require netstat for the extended unit test plan workaround
  plans/features/extended-unit-tests.fmf
Labels: code | no functional change, test coverage, ci | full test

#3280 Support `system.model-name` hardware requirement for `mrack`
  docs/releases.rst
  spec/hardware/system.fmf
  tests/unit/provision/mrack/test_hw.py
  tmt/steps/provision/mrack.py
Labels: area | hardware, plugin | mrack, status | ready for merge, ci | full test

#3293 Document cpu.processors is supported by virtual plugin
  spec/hardware/cpu.fmf
Labels: documentation, status | ready for merge

#3294 Suggest raising `restart-max-count` upon too many restarts
  tmt/steps/execute/internal.py
Labels: code | no functional change, status | ready for merge, ci | full test

#3178 Add new examples to overwrite the inheritance problem
  spec/plans/report.fmf
Labels: specification

#3330 Clean up examples, remove deprecated execute method
  examples/environment/main.fmf
  examples/httpd/smoke.fmf
  examples/l2/.fmf/version
  examples/l2/artifacts.fmf
  examples/l2/bed.fmf
  examples/l2/gating.fmf
  examples/l2/rpmdiff.fmf
  examples/l2/simple.fmf
  examples/l2/tooling.fmf
  examples/l2/workflow.fmf
  examples/rtt/.fmf/version
  examples/rtt/install.fmf
  examples/rtt/post-install.fmf
  examples/together/main.fmf
  spec/plans/main.fmf
  stories/cli/run.fmf
Labels: documentation

#3328 Mark AVC check as expected when running AVC check test on localhost
  plans/provision/connect.fmf
  plans/provision/container.fmf
  plans/provision/local.fmf
  plans/provision/virtual.fmf
  tests/test/check/main.fmf
Labels: code | no functional change, status | ready for merge, test coverage, ci | full test

#3334 Install essential requirements with its own order
  spec/plans/prepare.fmf
  tests/multihost/complete/test.sh
  tests/prepare/require/test.sh
  tmt/steps/prepare/__init__.py
  tmt/steps/prepare/ansible.py
  tmt/steps/prepare/feature.py
  tmt/steps/provision/__init__.py
  tmt/utils/__init__.py
Labels: step | prepare, ci | full test
