Repository teemtee/tmt, pull requests merged in 2024-09, with the labels that each got.

#3179 Support different job owner when creating Beaker jobs
  docs/releases.rst
  tmt/schemas/provision/beaker.yaml
  tmt/steps/provision/mrack.py
Labels: provision, mrack, ready for merge, full test

#3126 Fix running of Ansible playbooks shipped with tmt
  tmt/steps/prepare/ansible.py
  tmt/steps/prepare/feature.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/local.py
  tmt/steps/provision/podman.py
Labels: must, ansible, ready for merge, full test

#3184 Use `TMT_REPORT_ARTIFACTS_URL` envvar again
  tmt/steps/report/reportportal.py
Labels: bug, report, must, ready for merge, reportportal, full test

#3187 Release 1.36.0
  docs/overview.rst
  docs/releases.rst
Labels: packaging, full test

#3188 Explicitly state polarion report authentication limitation
  spec/plans/report.fmf
Labels: documentation, specification, report, polarion

#3194 Fix quay.io builds
  containers/Containerfile.full
  containers/Containerfile.mini
  docs/overview.rst
Labels: containers, no functional change, ready for merge, trivial, full test

#3192 Move structured field into its own module under tmt.utils
  pyproject.toml
  tests/unit/test_convert.py
  tests/unit/test_utils.py
  tmt/convert.py
  tmt/export/nitrate.py
  tmt/utils/__init__.py
  tmt/utils/structured_field.py
Labels: code style, no functional change, ready for merge, trivial, full test

#3190 Add make target for fetching base images of custom test images we build
  Makefile
Labels: no functional change, ready for merge, tmt tests, trivial

#3205 Use consistent version names in the release notes
  docs/releases.rst
Labels: documentation, code | trivial

#3196 Move and rename SSH master socket path to avoid path length limit
  docs/releases.rst
  tests/provision/ssh-multiplexing/data/.fmf/version
  tests/provision/ssh-multiplexing/data/plan.fmf
  tests/provision/ssh-multiplexing/main.fmf
  tests/provision/ssh-multiplexing/test.sh
  tmt/steps/provision/__init__.py
Labels: bug, step | provision, status | ready for merge, full test

#3207 Update label names used for configuring packit jobs
  .packit.yaml
Labels: status | ready for merge, ci | full test

#3150 Remove support for junit-xml, use Jinja2 instead
  .pre-commit-config.yaml
  docs/releases.rst
  pyproject.toml
  tests/report/junit/data/custom.xml.j2
  tests/report/junit/data/main.fmf
  tests/report/junit/data/non-xml-custom.j2
  tests/report/junit/test.sh
  tests/report/polarion/test.sh
  tests/unit/test_report_junit.py
  tmt/steps/report/junit.py
  tmt/steps/report/junit/schemas/default.xsd
  tmt/steps/report/junit/templates/_base.xml.j2
  tmt/steps/report/junit/templates/default.xml.j2
  tmt/steps/report/polarion.py
Labels: step | report, polarion, junit, status | ready for merge, ci | full test

#3216 Fix command detection in the `out-of-session` test
  tests/execute/reboot/out-of-session.sh
Labels: code | no functional change, status | ready for merge, tmt tests, code | trivial, ci | full test

#3218 Fix badly added info about changes in junit report plugin
  docs/releases.rst
Labels: documentation, priority | should, code | trivial

#3217 Document steps for releasing hotfix changes
  docs/contribute.rst
Labels: documentation, status | ready for merge

#3211 Fix position of `hardware` filter in `mrack` request
  tmt/steps/provision/mrack.py
Labels: bug, step | provision, area | hardware, plugin | mrack, status | ready for merge, code | trivial, ci | full test

#3222 Move ReST rendering for CLI help into `tmt.utils` submodule
  tmt/cli.py
  tmt/steps/__init__.py
  tmt/utils/__init__.py
  tmt/utils/rest.py
Labels: code | style, code | no functional change, ci | full test

#3108 Improve template url generations
  docs/releases.rst
  docs/templates/story.rst.j2
  tests/discover/filtering.sh
  tests/unit/test_utils.py
  tmt/base.py
  tmt/utils/__init__.py
  tmt/utils/git.py
  tmt/utils/templates.py
Labels: code | utils, status | ready for merge, ci | full test

#2489 Add sphinx-builder `linkcheck`
  .github/workflows/doc-tests.yml
  pyproject.toml
Labels: documentation, status | ready for merge, test coverage, ci | full test

#3225 Add missing `where`, `name` and `order` keywords into schema
  tmt/schemas/prepare/errata.yaml
  tmt/schemas/prepare/feature.yaml
Labels: code | schema, ci | full test

#3208 Log the information about used beakerlib libraries
  docs/releases.rst
  tests/libraries/info/data/.fmf/version
  tests/libraries/info/data/main.fmf
  tests/libraries/info/main.fmf
  tests/libraries/info/test.sh
  tmt/libraries/beakerlib.py
Labels: step | discover, area | libraries, code | trivial, ci | full test

#3220 Document the `known issue` label on the contribute page
  docs/contribute.rst
Labels: documentation

#3230 Fix missing `f-string` in the `tmt lint` check
  tests/lint/plan/data/invalid-plugin-key.fmf
  tests/lint/plan/test.sh
  tmt/base.py
Labels: command | lint, code | trivial, ci | full test

#3233 Do not traceback upon an empty docstring
  tmt/utils/rest.py
Labels: code | cli, code | trivial

#2985 Add `epel` prepare plugin using `feature` into `tmt try`
  docs/releases.rst
  stories/cli/try.fmf
  tests/try/basic/data/epel.exp
  tests/try/basic/test.sh
  tmt/cli.py
  tmt/steps/prepare/feature.py
  tmt/trying.py
Labels: step | prepare, status | blocked, status | ready for merge, command | try, ci | full test

#3166 Use Jinja2 and polarion JUnit flavor to generate XUnit in polarion report plugin
  docs/releases.rst
  tests/report/polarion/test.sh
  tmt/steps/report/junit.py
  tmt/steps/report/junit/schemas/polarion.xsd
  tmt/steps/report/junit/templates/_base.xml.j2
  tmt/steps/report/junit/templates/includes/_properties.xml.j2
  tmt/steps/report/junit/templates/polarion.xml.j2
  tmt/steps/report/polarion.py
Labels: step | report, plugin | polarion, plugin | junit, status | ready for merge, ci | full test

#3231 Quote values in the `tmt-report-results.yaml` file
  docs/releases.rst
  tests/execute/restraint/report-result/data/report.sh
  tests/execute/result/main.fmf
  tests/execute/result/special.sh
  tests/execute/result/special/.fmf/version
  tests/execute/result/special/special-chars.fmf
  tmt/steps/execute/scripts/tmt-report-result
Labels: step | execute, priority | must, area | restraint, status | ready for merge, ci | full test

#3240 Drop bootstrap logger requirement from module importer
  tmt/plugins/__init__.py
  tmt/steps/report/junit.py
Labels: code | style, code | no functional change, ci | full test

#3210 Forbid use of os.path.join, point user to tmt._compat.Path
  pyproject.toml
  tests/discover/data/distgit_test_plugin.py
  tests/unit/test_cli.py
  tests/unit/test_schemas.py
  tmt/steps/discover/fmf.py
  tmt/steps/provision/mrack.py
Labels: code | style, code | no functional change, status | ready for merge, ci | full test

#2922 Add `link` command and linking to jira on new issues
  .pre-commit-config.yaml
  docs/guide.rst
  docs/releases.rst
  pyproject.toml
  tests/unit/test_utils.py
  tmt.spec
  tmt/base.py
  tmt/cli.py
  tmt/utils/jira.py
Labels: priority | must, status | ready for merge, ci | full test, command | link
