Repository teemtee/tmt, pull requests merged in 2024-11, with the labels that each got.

#3337 Adjust tests to the latest fedora container image
  tests/execute/framework/test.sh
  tests/execute/tty/data/plan.fmf
  tests/try/basic/test.sh
  tmt/steps/prepare/__init__.py
Labels: test coverage, ci | full test

#3336 Fix null example in report specs
  spec/plans/report.fmf
Labels: specification, code | trivial

#3325 Disable credentials persistence in Github checkout action
  .github/workflows/doc-tests.yml
  .github/workflows/pre-commit.yml
  .github/workflows/release.yml
  .github/workflows/shellcheck.yml
Labels: code | no functional change, status | ready for merge, test coverage

#3286 Add a helper for saving command output in a file
  tests/unit/test_utils.py
  tmt/checks/avc.py
  tmt/checks/dmesg.py
  tmt/checks/watchdog.py
  tmt/utils/__init__.py
Labels: code | style, status | ready for merge, ci | full test

#3212 Use the current directory as `anchor_path` if there is no `fmf_root`
  tmt/base.py
  tmt/steps/prepare/ansible.py
  tmt/utils/git.py
Labels: code | base, ci | full test

#3338 Disable the OpenScanHub job for now
  .packit.yaml
Labels: test coverage

#3314 Support `system.vendor-name` hardware requirement for `mrack`
  docs/releases.rst
  spec/hardware/system.fmf
  tests/unit/provision/mrack/test_hw.py
  tmt/steps/provision/mrack.py
Labels: area | hardware, plugin | mrack, status | ready for merge, ci | full test

#3204 Add a new `lint` check for empty environment files
  docs/releases.rst
  tests/lint/plan/data/empty_env
  tests/lint/plan/data/empty_env_file.fmf
  tests/lint/plan/data/env
  tests/lint/plan/data/good.fmf
  tests/lint/plan/test.sh
  tmt/base.py
Labels: command | lint, status | ready for merge, ci | full test

#3302 Support `cpu.family` hardware requirement for `mrack`
  docs/releases.rst
  spec/hardware/cpu.fmf
  tests/unit/provision/mrack/test_hw.py
  tmt/steps/provision/mrack.py
Labels: ci | full test

#3351 Remove `xfail` for the fixed `pint` issue
  tests/pip/install.fmf
  tests/precommit/main.fmf
Labels: test coverage, ci | full test

#3352 Fix several issues in `/tests/discover/libraries`
  tests/discover/libraries/data/plan.fmf
  tests/discover/libraries/data/strip-git-suffix.fmf
  tests/discover/libraries/data/strip_git_suffix.fmf
  tests/discover/libraries/test.sh
Labels: test coverage, ci | full test

#3355 Get rid of an irrelevant avc failure
  tests/execute/tmt-scripts/main.fmf
Labels: ci | full test

#3342 Enable OpenScanHub scans
  .packit.yaml
Labels: test coverage

#3297 Support `cpu.frequency` hardware requirement for ``mrack``
  docs/releases.rst
  spec/hardware/cpu.fmf
  tests/unit/provision/mrack/test_hw.py
  tmt/hardware.py
  tmt/steps/provision/mrack.py
Labels: area | hardware, plugin | mrack, ci | full test

#3176 Add an initial set of `tldr` pages for `tmt`
  docs/tldr/tmt-run.md
  docs/tldr/tmt-try.md
  docs/tldr/tmt.md
Labels: documentation, code | no functional change

#3193 Start splitting `tmt.cli` into submodules
  stories/cli/common.fmf
  stories/cli/init.fmf
  stories/cli/plan.fmf
  stories/cli/story.fmf
  stories/cli/test.fmf
  stories/cli/try.fmf
  stories/cli/usability.fmf
  stories/docs.fmf
  stories/features/feeling-safe.fmf
  tests/integration/test_nitrate.py
  tests/integration/test_polarion.py
  tests/unit/test_base.py
  tests/unit/test_cli.py
  tests/unit/test_id.py
  tests/unit/test_try.py
  tmt/__main__.py
  tmt/_pre_commit/__main__.py
  tmt/cli/__init__.py
  tmt/cli/_root.py
  tmt/cli/status.py
  tmt/log.py
Labels: code | style, code | no functional change, status | ready for merge, ci | full test

#3367 Add missing fields to report plugin schemas
  tmt/schemas/report/junit.yaml
  tmt/schemas/report/polarion.yaml
Labels: code | schema, plugin | junit, code | no functional change, status | ready for merge, plugin | reportportal, code | trivial

#3368 Export `PATH` with `TMT_SCRIPTS_DIR` if needed
  tests/execute/tmt-scripts/data/plan.fmf
  tests/execute/tmt-scripts/data/test.sh
  tests/execute/tmt-scripts/main.fmf
  tests/execute/tmt-scripts/test.sh
  tmt/steps/execute/internal.py
Labels: step | execute, priority | must, ci | full test

#3346 Add tests for special characters in beakerlib phase names
  tests/execute/result/special.sh
  tests/execute/result/special/beaker-phases-special-names.sh
  tests/execute/result/special/plan.fmf
  tests/execute/result/special/special-chars.fmf
  tests/execute/result/special/test.fmf
Labels: area | results, status | ready for merge, test coverage, ci | full test

#3369 Add missing colon to the `tmt-try` tldr page
  docs/tldr/tmt-try.md
Labels: documentation, code | no functional change, code | trivial

#3373 Adjust `avc` check setup and fix docs generation
  docs/scripts/generate-stories.py
  tests/main.fmf
  tmt/plugins/__init__.py
Labels: documentation, test coverage

#3366 Handle GitHub API rate limits
  tests/core/environment-file/data/main.fmf
  tests/core/environment-file/test.sh
  tests/prepare/ansible/data/plan.fmf
  tests/prepare/ansible/test.sh
  tests/utils/http_server.py
  tmt/steps/prepare/ansible.py
  tmt/utils/__init__.py
Labels: code | utils, ci | full test

#3161 Implement the `bootc` provision plugin
  .packit.yaml
  docs/releases.rst
  plans/provision/bootc.fmf
  pyproject.toml
  tests/provision/bootc/data/.fmf/version
  tests/provision/bootc/data/includes-deps.containerfile
  tests/provision/bootc/data/needs-deps.containerfile
  tests/provision/bootc/data/plans.fmf
  tests/provision/bootc/data/test.fmf
  tests/provision/bootc/main.fmf
  tests/provision/bootc/test.sh
  tmt.spec
  tmt/schemas/provision/bootc.yaml
  tmt/steps/provision/bootc.py
Labels: step | provision, priority | must, ci | full test

#3199 Add logfile size upload limit to the `reportportal` plugin
  docs/releases.rst
  tmt/schemas/report/reportportal.yaml
  tmt/steps/report/reportportal.py
  tmt/utils/__init__.py
Labels: plugin | reportportal, ci | full test

#3376 Release 1.39.0
  docs/overview.rst
Labels: packaging, ci | full test

#3358 Handle invalid option in the `tmt-reboot` script
  tmt/steps/execute/scripts/tmt-reboot
Labels: step | execute, code | trivial, ci | full test

#3379 Document overview of supported `restraint` scripts
  docs/questions.rst
  stories/deferred/restraint.fmf
Labels: documentation, area | restraint

#3380 Uninstall bootc in Fedora CoreOS testing image
  containers/fedora/coreos/Containerfile
  containers/fedora/coreos/ostree/Containerfile
Labels: status | ready for merge, test coverage, ci | full test

#2850 Support `--workdir-root` in the `tmt clean` command
  docs/releases.rst
  tests/clean/basic/test.sh
  tmt/base.py
  tmt/cli/_root.py
  tmt/cli/status.py
  tmt/options.py
  tmt/utils/__init__.py
Labels: code | cli, command | clean, status | ready for merge, ci | full test

#3381 Fix reuse of already provisioned machine
  tests/run/reuse/data/.fmf/version
  tests/run/reuse/data/plan.fmf
  tests/run/reuse/main.fmf
  tests/run/reuse/test.sh
  tmt/steps/provision/__init__.py
Labels: step | provision, ci | full test

#3182 Implement the `--keep` option for `tmt clean guests`
  docs/releases.rst
  tests/clean/guests/test.sh
  tmt/base.py
  tmt/cli/_root.py
Labels: command | clean, ci | full test

#3365 Enable the `huge_tree` option for the `lxml` parser
  tests/report/junit/data/custom-deep-tree.xml.j2
  tests/report/junit/data/main.fmf
  tests/report/junit/test.sh
  tmt/steps/report/junit.py
Labels: bug, step | report, plugin | polarion, plugin | junit, status | ready for merge, ci | full test

#3382 Do not save the logs into memory using an auxiliary variable
  tmt/steps/report/junit/templates/_base.xml.j2
Labels: bug, step | report, plugin | polarion, plugin | junit, status | ready for merge, ci | full test
