Repository teemtee/tmt, pull requests merged in 2024-04, with the labels that each got.

#2775 Refresh Beaker API client in mrack to use up-to-date Kerberos ticket
  tmt/steps/provision/mrack.py
Labels: bug, mrack, full test

#2817 Correctly show the `--provision-timeout` default
  tmt/steps/provision/mrack.py
Labels: provision, mrack, trivial

#2811 Remove the `.travis.yml` config file
  .travis.yml
Labels: tmt tests

#2836 Removing c9s workaround for pytest-container
  tests/unit/test.sh
Labels: no functional change, tmt tests, trivial, full test

#2835 Update pre-commit checks and add a couple of new ones
  .pre-commit-config.yaml
Labels: no functional change, tmt tests, full test

#2830 Add unit test for package manager installing a file system path
  tests/unit/test_package_managers.py
  tmt/package_managers/apk.py
Labels: no functional change, tmt tests, full test

#2861 Refactor package manager discovery to allow priorities
  Makefile
  containers/Containerfile.coreos
  tests/provision/facts/test-runner.sh
  tests/unit/test_package_managers.py
  tmt/package_managers/__init__.py
  tmt/package_managers/apk.py
  tmt/package_managers/apt.py
  tmt/package_managers/dnf.py
  tmt/package_managers/rpm_ostree.py
  tmt/steps/provision/__init__.py
Labels: bug, provision, must, full test, package managers

#2876 Removing /var/tmp workdir from rpm packaging
  examples/redis/test.sh
  tmt.spec
Labels: packaging, no functional change, trivial

#2878 Release 1.32.2
  docs/overview.rst
  docs/releases.rst
  tests/run/permissions/test.sh
  tmt.spec
Labels: packaging, full test

#2853 Update logger-name for clean
  tmt/cli.py
Labels: bug, logging, clean, trivial, full test

#2769 Document custom Jinja template filters
  .gitignore
  docs/Makefile
  docs/code/index.rst
  docs/scripts/generate-template-filters.py
  docs/templates/plugins.rst.j2
  docs/templates/story.rst.j2
  docs/templates/template-filters.rst.j2
  tmt/export/templates/default-story.rst.j2
  tmt/utils.py
Labels: documentation, no functional change, full test

#2851 Fix incorrect translation of `cpu.processors` to Beaker
  tests/unit/provision/mrack/test_hw.py
  tmt/steps/provision/mrack.py
Labels: bug, mrack, trivial, full test

#2875 Add the `cpu.vendor` hardware requirement
  spec/hardware/cpu.fmf
  tmt/hardware.py
  tmt/schemas/provision/hardware.yaml
Labels: specification, hardware, full test

#2728 Add support `cpu.cores` hardware requirement for mrack
  docs/releases.rst
  spec/hardware/cpu.fmf
  tests/unit/provision/mrack/test_hw.py
  tmt/steps/provision/mrack.py
Labels: hardware, mrack, full test

#2824 Polish prepare/ansible documentation
  docs/scripts/generate-plugins.py
  docs/templates/plugins.rst.j2
  pyproject.toml
  tmt/steps/prepare/ansible.py
Labels: documentation, no functional change, tmt tests, full test

#2892 Re-use "become" image to fix sudo-related trouble in /tests/provision/user
  Makefile
  containers/fedora/rawhide/Containerfile.unprivileged
  tests/provision/become/data/main.fmf
  tests/provision/become/test.sh
  tests/provision/user/test.sh
Labels: tmt tests, full test

#2881 Fix AVC denial detection on Fedora rawhide
  tests/test/check/data/main.fmf
  tests/test/check/test-avc.sh
Labels: full test

#2733 Add support for `virtualization.hypervisor` hardware requirement
  docs/releases.rst
  spec/hardware/virtualization.fmf
  tests/unit/provision/mrack/test_hw.py
  tmt/steps/provision/mrack.py
Labels: hardware, mrack, full test

#2782 Make `junit_xml` more visible to linters
  tests/unit/test_utils.py
  tmt/plugins/__init__.py
  tmt/steps/report/junit.py
  tmt/utils.py
Labels: type annotations, code style, full test

#2786 Allow custom failure patterns in `dmesg` test check
  docs/releases.rst
  docs/templates/plugins.rst.j2
  tests/test/check/data/main.fmf
  tests/test/check/test-dmesg.sh
  tmt/checks/dmesg.py
  tmt/utils.py
Labels: check, full test
