Repository teemtee/tmt, pull requests merged in 2024-02, with the labels that each got.

#2646 Add documentation on tmt & regular expressions
  docs/overview.rst
  stories/cli/plan.fmf
  stories/cli/steps.fmf
  stories/cli/story.fmf
  stories/cli/test.fmf
Labels: documentation

#2222 Enable the `/tests/discover/libraries` test
  plans/features/advanced.fmf
  plans/features/basic.fmf
  plans/features/core.fmf
  tests/discover/libraries/data/plan.fmf
  tests/discover/libraries/data/pruning.fmf
  tests/discover/libraries/main.fmf
  tests/discover/libraries/test.sh
  tests/libraries/apache/data/.fmf/version
  tests/libraries/apache/data/main.fmf
  tests/libraries/apache/data/test.sh
  tests/libraries/apache/main.fmf
  tests/libraries/apache/test.sh
  tests/libraries/pruning/data/.fmf/version
  tests/libraries/pruning/data/main.fmf
  tests/libraries/pruning/data/test.sh
  tests/libraries/pruning/main.fmf
  tests/libraries/pruning/test.sh
Labels: libraries, tmt tests

#2663 Remove an obsolete workaround for `centos-stream-8`
  plans/features/main.fmf
Labels: tmt tests

#2653 Prevent catching avc denials from previous tests
  tests/test/check/data/main.fmf
  tests/test/check/data/plan.fmf
  tests/test/check/test-avc.sh
  tmt/checks/avc.py
Labels: check

#2665 Remove `xfail` for the `multidict` issue on `rawhide`
  tests/pip/install.fmf
Labels: tmt tests

#2198 Introduce a new prepare plugin for common features
  docs/releases.rst
  spec/plans/prepare.fmf
  tests/prepare/feature/data/.fmf/version
  tests/prepare/feature/data/check-repos.sh
  tests/prepare/feature/data/plans.fmf
  tests/prepare/feature/main.fmf
  tests/prepare/feature/test.sh
  tmt/schemas/prepare/feature.yaml
  tmt/steps/prepare/feature.py
  tmt/steps/prepare/feature/epel-disable.yaml
  tmt/steps/prepare/feature/epel-enable.yaml
Labels: prepare

#2614 Fix environment from command line updated twice
  tmt/base.py
Labels: base, environment, no functional change

#2549 Generate plugin documentation from their sources
  .gitignore
  docs/Makefile
  docs/code/index.rst
  docs/code/plugin-introduction.rst
  docs/index.rst
  docs/plugins/index.rst
  docs/scripts/generate-plugins.py
  docs/spec.rst
  docs/templates/plugins.rst.j2
  docs/templates/test-checks.rst.j2
  spec/tests/check.fmf
  tmt/checks/__init__.py
  tmt/steps/__init__.py
  tmt/utils.py
Labels: documentation, blocking other work

#2574 Simple ReST renderer for CLI help texts
  .pre-commit-config.yaml
  docs/Makefile
  docs/plugins/index.rst
  docs/scripts/generate-plugins.py
  docs/scripts/generate-test-checks.py
  docs/templates/plugins.rst.j2
  docs/templates/test-checks.rst.j2
  examples/plugins/provision.py
  pyproject.toml
  tmt/cli.py
  tmt/log.py
  tmt/steps/__init__.py
  tmt/steps/discover/fmf.py
  tmt/steps/discover/shell.py
  tmt/steps/execute/upgrade.py
  tmt/steps/prepare/ansible.py
  tmt/steps/prepare/feature.py
  tmt/steps/prepare/install.py
  tmt/steps/prepare/shell.py
  tmt/steps/provision/artemis.py
  tmt/steps/provision/connect.py
  tmt/steps/provision/local.py
  tmt/steps/provision/mrack.py
  tmt/steps/provision/podman.py
  tmt/steps/provision/testcloud.py
  tmt/steps/report/display.py
  tmt/steps/report/html.py
  tmt/steps/report/junit.py
  tmt/steps/report/polarion.py
  tmt/steps/report/reportportal.py
  tmt/utils.py
Labels: documentation

#2305 Extension of the `ReportPortal` plugin using API
  spec/plans/report.fmf
  tmt/schemas/report/reportportal.yaml
  tmt/steps/report/reportportal.py
Labels: report, must, reportportal

#2674 Fix dmesg check test for recent Fedoras
  tests/test/check/test-dmesg.sh
Labels: tmt tests

#2628 Handle post-install-script for provisioning openstack instance
  tmt/steps/provision/artemis.py
Labels: provision, artemis

#2683 Enable the full test execution using a label
  .packit.yaml
  docs/contribute.rst
Labels: tmt tests, full test

#2672 Drop two no longer used methods from prepare step
  tmt/steps/prepare/__init__.py
Labels: no functional change, full test

#2679 Underline `try` menu keys
  tmt/trying.py
Labels: try, full test

#2677 Allow custom boot/connect timeouts for testcloud VMs
  docs/overview.rst
  tests/prepare/install/test.sh
  tests/prepare/multihost/test.sh
  tmt/steps/provision/__init__.py
  tmt/steps/provision/testcloud.py
  tmt/utils.py
Labels: provision, testcloud, full test

#2686 Make checks smarter about environments in which they should not run
  tests/test/check/test-dmesg.sh
  tmt/checks/avc.py
  tmt/checks/dmesg.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/podman.py
Labels: tests, check, full test

#2670 Introduce "topology" addresses for guests
  tests/unit/test_guest.py
  tmt/base.py
  tmt/steps/__init__.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/artemis.py
  tmt/steps/provision/connect.py
  tmt/steps/provision/local.py
  tmt/steps/provision/mrack.py
  tmt/steps/provision/podman.py
  tmt/steps/provision/testcloud.py
  tmt/steps/report/polarion.py
Labels: provision, breakage, multihost, full test

#2659 Test the `become` key under `virtual` provision
  tests/provision/become/data/Containerfile
  tests/provision/become/data/main.fmf
  tests/provision/become/data/prepare-finish.fmf
  tests/provision/become/data/scripts/is_user_test.sh
  tests/provision/become/data/test.fmf
  tests/provision/become/main.fmf
  tests/provision/become/test.sh
Labels: tmt tests, full test

#2608 Collect test/test check results in test invocation
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
Labels: execute, full test

#2692 Check for files in `rpm-ostree install` script
  tests/prepare/install/test.sh
  tmt/steps/prepare/install.py
Labels: bug, prepare, no functional change, trivial, full test

#2662 Properly detect if test is enabled somewhere
  tmt/export/nitrate.py
Labels: export, nitrate, full test

#2688 Use the `PROVISION_HOW` variable in `provision` plans
  docs/contribute.rst
  plans/features/steps.fmf
  plans/provision/container.fmf
  plans/provision/local.fmf
  prepare/podman-images.sh
  tests/core/escaping/main.fmf
  tests/core/escaping/test.sh
  tests/core/spaces/main.fmf
  tests/core/spaces/test.sh
  tests/execute/duration/main.fmf
  tests/execute/duration/test.sh
  tests/execute/reboot/main.fmf
  tests/execute/reboot/out-of-session.sh
  tests/execute/tty/main.fmf
  tests/execute/tty/test.sh
  tests/finish/ansible/main.fmf
  tests/finish/ansible/test.sh
  tests/login/main.fmf
  tests/login/ready.sh
  tests/prepare/ansible/main.fmf
  tests/prepare/ansible/test.sh
  tests/prepare/install/main.fmf
  tests/prepare/install/test.sh
  tests/prepare/multihost/main.fmf
  tests/prepare/multihost/test.sh
  tests/prepare/recommend/main.fmf
  tests/prepare/recommend/test.sh
  tests/provision/become/main.fmf
  tests/provision/become/test.sh
  tests/provision/facts/main.fmf
  tests/provision/facts/test-guest.sh
  tests/provision/reboot/main.fmf
  tests/provision/reboot/test.sh
  tests/provision/ssh-options/main.fmf
  tests/provision/ssh-options/test.sh
  tests/provision/user/data/.fmf/version
  tests/provision/user/data/plan.fmf
  tests/provision/user/main.fmf
  tests/provision/user/test.sh
  tests/provision/virtual.testcloud/main.fmf
  tests/provision/virtual.testcloud/test.sh
  tests/provision/virtual/dependencies/main.fmf
  tests/pull/results/main.fmf
  tests/pull/results/test.sh
  tests/pull/simple/main.fmf
  tests/pull/simple/test.sh
  tests/run/shell/main.fmf
  tests/run/shell/test.sh
  tests/run/worktree/main.fmf
  tests/run/worktree/test.sh
  tests/security/ansible/main.fmf
  tests/security/ansible/test.sh
  tests/test/check/main.fmf
  tests/test/check/test-avc.sh
  tests/test/check/test-dmesg.sh
  tests/test/debug/main.fmf
  tests/test/debug/test.sh
Labels: provision, tmt tests, full test

#2684 Add essential requirements to checks
  tmt/checks/__init__.py
  tmt/checks/avc.py
  tmt/checks/dmesg.py
  tmt/steps/prepare/__init__.py
Labels: tests, check, full test

#2700 Enable `additional_coverage` tests for pull requests
  tests/discover/main.fmf
  tests/execute/nonroot/main.fmf
  tests/execute/reboot/main.fmf
  tests/execute/reboot/reuse.sh
  tests/execute/upgrade/full.sh
  tests/execute/upgrade/main.fmf
  tests/libraries/pruning/main.fmf
  tests/multihost/web/main.fmf
  tmt/steps/execute/internal.py
Labels: tmt tests, full test

#2612 Convert environment handling into a dict-like class
  tests/core/environment-file/test.sh
  tests/unit/test_adjust.py
  tests/unit/test_base.py
  tmt/base.py
  tmt/checks/__init__.py
  tmt/checks/avc.py
  tmt/checks/dmesg.py
  tmt/cli.py
  tmt/convert.py
  tmt/frameworks/__init__.py
  tmt/frameworks/beakerlib.py
  tmt/libraries/beakerlib.py
  tmt/steps/__init__.py
  tmt/steps/discover/fmf.py
  tmt/steps/discover/shell.py
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
  tmt/steps/execute/upgrade.py
  tmt/steps/finish/shell.py
  tmt/steps/prepare/__init__.py
  tmt/steps/prepare/ansible.py
  tmt/steps/prepare/feature.py
  tmt/steps/prepare/install.py
  tmt/steps/prepare/shell.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/local.py
  tmt/steps/provision/podman.py
  tmt/utils.py
Labels: code style, full test

#2710 "Show default" flag was dropped from CLI option initialization
  tmt/utils.py
Labels: bug, cli, trivial, full test

#2709 Add `Environment` and `FmfContext` among loggable types
  tests/unit/test_utils.py
  tmt/base.py
  tmt/log.py
  tmt/utils.py
Labels: code style, no functional change, trivial, full test

#2707 Mark test check tests with more fitting provision tags
  tests/test/check/main.fmf
Labels: no functional change, tmt tests, full test

#2715 Move deferred user stories into a separate section
  docs/scripts/generate-stories.py
  docs/stories.rst
  stories/cli/run.fmf
  stories/deferred/gate.fmf
  stories/deferred/interactive.fmf
  stories/deferred/main.fmf
  stories/deferred/restraint.fmf
Labels: documentation, stories, full test

#2708 Add support for `disk.model-name` hardware requirement
  docs/releases.rst
  spec/hardware/disk.fmf
  tmt/hardware.py
  tmt/schemas/provision/hardware.yaml
Labels: specification, hardware, full test

#2718 Extend the `duration` for time-demanding tests
  tests/multihost/complete/main.fmf
  tests/multihost/main.fmf
  tests/provision/become/main.fmf
  tests/provision/main.fmf
Labels: tmt tests, trivial, full test

#2510 Set acl permissions on workdir root to ensure multi-user access when umask is `0027`
  examples/plugins/provision.py
  tests/provision/become/data/umask.fmf
  tests/provision/become/data/umask.sh
  tests/provision/become/main.fmf
  tests/provision/become/test.sh
  tmt/steps/provision/__init__.py
  tmt/steps/provision/artemis.py
  tmt/steps/provision/connect.py
  tmt/steps/provision/local.py
  tmt/steps/provision/mrack.py
  tmt/steps/provision/podman.py
  tmt/steps/provision/testcloud.py
Labels: provision, full test
