Repository teemtee/tmt, pull requests merged in 2024-12, with the labels that each got.

#3389 Update the `actions/upload-artifact` version
  .github/workflows/shellcheck.yml
Labels: test coverage, code | trivial

#3183 Implement `--keep` for `tmt clean`
  docs/releases.rst
  tests/clean/basic/test.sh
  tmt/base.py
  tmt/cli/_root.py
Labels: status | ready for merge, ci | full test

#3402 Pre-commit hooks version bump
  .pre-commit-config.yaml
  docs/scripts/generate-stories.py
  pyproject.toml
  tmt/__init__.py
  tmt/convert.py
  tmt/steps/prepare/feature.py
  tmt/utils/structured_field.py
Labels: code | style, code | no functional change, status | ready for merge, code | trivial, ci | full test

#3339 Add link config validation
  .pre-commit-config.yaml
  pyproject.toml
  tests/unit/test_config.py
  tests/unit/test_utils.py
  tmt/_compat/pydantic.py
  tmt/base.py
  tmt/cli/_root.py
  tmt/config/__init__.py
  tmt/config/models/__init__.py
  tmt/config/models/link.py
  tmt/templates/__init__.py
  tmt/trying.py
  tmt/utils/__init__.py
  tmt/utils/jira.py
Labels: area | config, priority | must, status | ready for merge, ci | full test

#3393 Store multiple invocations of dmesg check for the same test in one file
  tests/test/check/data/main.fmf
  tests/test/check/test-dmesg.sh
  tmt/checks/dmesg.py
Labels: status | ready for merge, area | check, ci | full test

#3404 Do not use `mypy` cache for `ruamel.yaml`
  .pre-commit-config.yaml
  pyproject.toml
Labels: code | trivial

#3408 Encourage contributors to keep pull requests up-to-date
  docs/contribute.rst
Labels: documentation

#3377 Update contribution doc with `tldr` pages info
  docs/contribute.rst
  docs/tldr/tmt-run.md
  docs/tldr/tmt-try.md
  docs/tldr/tmt.md
Labels: documentation, status | ready for merge, code | trivial

#3374 Simplify the packit configuration
  .packit.yaml
Labels: packaging, ci | full test

#3388 Document runner vs guest compatibility
  .gitignore
  docs/Makefile
  docs/guide/test-runner.inc.rst
  docs/scripts/generate-test-runner-guest-matrix.py
  docs/templates/test-runner-guest-compatibility-matrix.inc.rst.j2
  docs/test-runner-guest-compatibility.yaml
  tests/finish/ansible/test.sh
  tests/prepare/ansible/test.sh
  tests/prepare/feature/test.sh
  tmt/steps/finish/ansible.py
  tmt/steps/prepare/ansible.py
  tmt/steps/prepare/feature.py
Labels: documentation, priority | must, ci | full test

#3411 Mark the two known `avc` failures with `xfail`
  tests/run/permissions/main.fmf
  tests/run/shell/main.fmf
Labels: test coverage, ci | full test

#3327 Translate `Or` constraint properly for `mrack`
  tests/unit/provision/mrack/test_hw.py
  tests/unit/test_hardware.py
  tmt/steps/provision/mrack.py
Labels: step | provision, area | hardware, plugin | mrack, status | ready for merge, ci | full test

#3375 Split copr project into `stable` and `latest`
  .packit.yaml
  docs/overview.rst
Labels: packaging, status | ready for merge, ci | full test

#3361 Switch to the new `tmt` logo
  docs/Makefile
  docs/_static/tmt-custom.css
  docs/conf.py
  docs/releases.rst
Labels: documentation, priority | must, code | trivial

#3357 Go to discover tests directory after login
  docs/releases.rst
  tests/try/basic/data/test-dir.exp
  tests/try/basic/data/tests/core/bad/bad-file.txt
  tests/try/basic/test.sh
  tmt/steps/__init__.py
Labels: command | login, status | ready for merge, ci | full test

#3356 Multiple reportportal plugin improvements and fixes
  docs/releases.rst
  tmt/schemas/report/reportportal.yaml
  tmt/steps/report/reportportal.py
  tmt/utils/__init__.py
Labels: bug, status | ready for merge, plugin | reportportal, ci | full test

#3276 Rewrite the `feature` implementation to plugins
  pyproject.toml
  stories/cli/try.fmf
  tmt/plugins/__init__.py
  tmt/steps/prepare/feature/__init__.py
  tmt/steps/prepare/feature/epel.py
Labels: code | plugins, step | prepare, status | ready for merge, ci | full test

#3372 Use the `rhts-report-result` alias for reporting `beakerlib` subresults
  tests/execute/result/subresults.sh
  tests/execute/result/subresults/beaker-phases-subresults.sh
  tests/execute/result/subresults/test.fmf
  tmt/frameworks/beakerlib.py
  tmt/steps/execute/scripts/tmt-report-result
Labels: step | execute, area | results, status | ready for merge, ci | full test

#3386 Support `--workdir-root` in the `tmt run` command
  docs/releases.rst
  tests/run/root/data/.fmf/version
  tests/run/root/data/main.fmf
  tests/run/root/test.sh
  tmt/base.py
  tmt/cli/_root.py
  tmt/utils/__init__.py
Labels: status | ready for merge, ci | full test

#3391 Fix rendering of units when used as defaults of plugin keys
  .gitignore
  docs/Makefile
  docs/code/index.rst
  docs/scripts/generate-template-extensions.py
  docs/scripts/generate-template-filters.py
  docs/templates/plugins.rst.j2
  docs/templates/template-extensions.rst.j2
  tmt/utils/templates.py
Labels: documentation, status | ready for merge, ci | full test

#3394 Extract `tmt try` and `tmt init` into their own `tmt.cli` modules
  tests/__init__.py
  tests/unit/test_try.py
  tmt/__main__.py
  tmt/cli/_root.py
  tmt/cli/init.py
  tmt/cli/trying.py
Labels: code | style, code | no functional change, status | ready for merge, ci | full test

#3384 Add fallback method for generating shorter SSH master socket
  tests/provision/ssh-multiplexing/test.sh
  tests/unit/provision/test_ssh.py
  tmt/steps/provision/__init__.py
Labels: step | provision, priority | must, status | ready for merge, ci | full test

#3340 Add support for the `when` key in step phases
  docs/guide.rst
  docs/releases.rst
  spec/plans/discover.fmf
  spec/plans/finish.fmf
  spec/plans/prepare.fmf
  spec/plans/report.fmf
  tests/steps/when/data/.fmf/version
  tests/steps/when/data/plan.fmf
  tests/steps/when/main.fmf
  tests/steps/when/test.sh
  tmt/schemas/common.yaml
  tmt/schemas/discover/fmf.yaml
  tmt/schemas/discover/shell.yaml
  tmt/schemas/prepare/errata.yaml
  tmt/schemas/prepare/feature.yaml
  tmt/schemas/prepare/install.yaml
  tmt/schemas/report/display.yaml
  tmt/schemas/report/html.yaml
  tmt/schemas/report/junit.yaml
  tmt/schemas/report/polarion.yaml
  tmt/schemas/report/reportportal.yaml
  tmt/steps/__init__.py
  tmt/steps/discover/__init__.py
  tmt/steps/finish/__init__.py
  tmt/steps/prepare/__init__.py
  tmt/steps/provision/__init__.py
  tmt/steps/report/__init__.py
Labels: specification, area | context, priority | should, ci | full test

#3418 Speed up the `/plans/provision/container` plan
  plans/provision/container.fmf
Labels: test coverage, ci | full test

#3354 Support passing pubkeys to authorized_keys for `mrack`
  docs/releases.rst
  tmt/schemas/provision/beaker.yaml
  tmt/steps/provision/mrack.py
Labels: ci | full test

#3390 Add the `--rootfs` option for `bootc` image building
  tests/provision/bootc/data/includes-deps.containerfile
  tmt/schemas/provision/bootc.yaml
  tmt/steps/provision/bootc.py
Labels: step | provision, ci | full test, plugin | bootc

#3348 Refresh metadata cache after failed package installation
  tests/unit/test_package_managers.py
  tmt/package_managers/__init__.py
  tmt/package_managers/apk.py
  tmt/package_managers/apt.py
  tmt/package_managers/dnf.py
  tmt/package_managers/rpm_ostree.py
  tmt/steps/prepare/install.py
Labels: ci | full test, area | package managers, plugin | install

#3422 Release 1.40.0
  docs/guide.rst
  docs/overview.rst
  docs/releases.rst
Labels: packaging, ci | full test

#3428 Update the `CODEOWNERS` file
  .github/CODEOWNERS
Labels: code | trivial

#2691 Accept whole action name in the `try` command
  tmt/trying.py
Labels: priority | could, command | try
