Repository teemtee/tmt, pull requests merged in 2024-01, with the labels that each got.

#2588 When cloning a logger, give it its own copy of labels
  tmt/log.py
Labels: bug, logging

#2581 Bump pre-commit linters
  .pre-commit-config.yaml
  tmt/base.py
  tmt/lint.py
  tmt/result.py
  tmt/steps/__init__.py
  tmt/steps/discover/shell.py
  tmt/steps/provision/__init__.py
Labels: tmt tests

#2550 Warn on test case not found in Polarion during report
  tmt/steps/report/polarion.py
Labels: report, polarion, trivial

#2545 Move code-related pages under new `code` directory
  .gitignore
  docs/Makefile
  docs/code/autodocs/.gitkeep
  docs/code/classes.rst
  docs/code/index.rst
  docs/code/plugins.rst
  docs/index.rst
Labels: documentation, no functional change, trivial

#2542 Fix `utils.format` to allow `int` and `float` values
  tmt/base.py
  tmt/utils.py
Labels: utils, no functional change, trivial

#2579 Prepare and finish plugins use `self.data` instead of `self.get()`
  tmt/steps/finish/shell.py
  tmt/steps/prepare/__init__.py
  tmt/steps/prepare/ansible.py
  tmt/steps/prepare/shell.py
Labels: code style, no functional change

#2578 Provision plugins use `self.data` instead of `self.get()`
  tmt/steps/provision/__init__.py
  tmt/steps/provision/artemis.py
  tmt/steps/provision/connect.py
  tmt/steps/provision/podman.py
  tmt/steps/provision/testcloud.py
Labels: code style, no functional change

#2576 Drop no longer used `tmt.utils.listify()`
  tests/unit/test_utils.py
  tmt/utils.py
Labels: code style, no functional change, trivial

#2577 Drop no longer needed `tmt.utils.copytree()`
  tmt/libraries/beakerlib.py
  tmt/libraries/file.py
  tmt/steps/discover/fmf.py
  tmt/utils.py
Labels: code style, no functional change, trivial

#2535 Move docs templates into their own directory
  docs/Makefile
  docs/templates/lint-checks.rst.j2
  docs/templates/story.rst.j2
  docs/templates/test-checks.rst.j2
Labels: documentation, no functional change, trivial

#2594 Extend `duration` of `/tests/core/escaping` a bit
  tests/core/escaping/data/tests/main.fmf
Labels: tmt tests, trivial

#2580 Cover `tmt.identifier` with `pyright` checks
  pyproject.toml
  tmt/identifier.py
Labels: type annotations, tmt tests, trivial

#2514 Let `click` know about the maximal output width
  tmt/cli.py
Labels: bug, cli, trivial

#2468 Parallelize the `provision` step
  docs/releases.rst
  tests/login/step.sh
  tests/multihost/complete/test.sh
  tmt/queue.py
  tmt/steps/__init__.py
  tmt/steps/execute/__init__.py
  tmt/steps/finish/__init__.py
  tmt/steps/prepare/__init__.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/artemis.py
  tmt/steps/provision/connect.py
  tmt/steps/provision/local.py
  tmt/steps/provision/mrack.py
  tmt/steps/provision/podman.py
  tmt/steps/provision/testcloud.py
Labels: provision, multihost

#2538 Cover `tmt.libraries` with `pyright` checks
  pyproject.toml
  tmt/base.py
  tmt/libraries/__init__.py
  tmt/libraries/beakerlib.py
  tmt/libraries/file.py
Labels: type annotations, tmt tests

#2571 Ignore tarballs and generated man page
  .gitignore
  pyproject.toml
Labels: process

#2593 Making rhts metric value optional.
  tests/execute/restraint/report-result/data/report.sh
  tests/execute/restraint/report-result/data/smoke.fmf
  tmt/steps/execute/scripts/tmt-report-result
Labels: execute, results

#2595 Use constraint classes specific for particular value type
  tmt/hardware.py
  tmt/steps/provision/testcloud.py
Labels: hardware, code style

#2598 Add support for disallowing plugins via command line
  stories/cli/steps.fmf
  tests/steps/allowed-how/data/.fmf/version
  tests/steps/allowed-how/data/plan.fmf
  tests/steps/allowed-how/main.fmf
  tests/steps/allowed-how/test.sh
  tmt/steps/__init__.py
Labels: steps

#2540 Clear test invocation data path use and derived paths
  tmt/frameworks/beakerlib.py
  tmt/frameworks/shell.py
  tmt/result.py
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
Labels: execute, no functional change

#2559 Use a different pidfile location for the full test
  tests/full/test.sh
Labels: tmt tests, trivial

#2555 Add support for `cpu.flag` hardware requirement
  spec/hardware/cpu.fmf
  tests/unit/test_hardware.py
  tmt/hardware.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/mrack.py
Labels: provision, hardware, artemis, mrack

#2615 Add support for Artemis API v0.0.67
  tmt/steps/provision/artemis.py
Labels: provision, artemis, trivial

#2610 Copy top level `main.fmf` during testdir pruning
  tmt/steps/discover/fmf.py
Labels: bug, discover

#2567 Make collected requires/recommends guest-aware
  docs/releases.rst
  tests/prepare/multihost/data/.fmf/version
  tests/prepare/multihost/data/main.fmf
  tests/prepare/multihost/main.fmf
  tests/prepare/multihost/test.sh
  tmt/base.py
  tmt/steps/prepare/__init__.py
Labels: prepare, multihost

#2591 Add support for hard reboot to Beaker provision plugin
  tests/provision/reboot/main.fmf
  tests/provision/reboot/test.sh
  tmt/steps/provision/mrack.py
Labels: provision, reboot, mrack

#2523 Run a callback when command process starts
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/local.py
  tmt/steps/provision/podman.py
  tmt/utils.py
Labels: execute

#2566 Fix inheritance of some keys in provision step data
  tmt/steps/provision/__init__.py
  tmt/steps/provision/artemis.py
  tmt/steps/provision/connect.py
  tmt/steps/provision/mrack.py
  tmt/steps/provision/podman.py
  tmt/steps/provision/testcloud.py
Labels: provision

#2603 Allow hardware requirements limit acceptable operators
  spec/hardware/main.fmf
  tmt/hardware.py
Labels: documentation, hardware

#2528 Support running all or selected steps `--again`
  docs/releases.rst
  tests/run/again/data/.fmf/version
  tests/run/again/data/main.fmf
  tests/run/again/main.fmf
  tests/run/again/test.sh
  tmt/cli.py
  tmt/options.py
  tmt/steps/__init__.py
  tmt/steps/discover/__init__.py
  tmt/steps/execute/__init__.py
  tmt/steps/finish/__init__.py
  tmt/steps/prepare/__init__.py
  tmt/steps/provision/__init__.py
  tmt/steps/report/__init__.py
  tmt/utils.py
Labels: steps

#2605 Support `virtualization.is-virtualized` in `mrack` plugin
  spec/hardware/virtualization.fmf
  tmt/hardware.py
  tmt/steps/provision/mrack.py
Labels: provision, hardware, mrack

#2621 Simplify the debuginfo installation test
  tests/pip/install.fmf
  tests/prepare/install/data/debuginfo.fmf
  tests/unit/test_steps_prepare.py
Labels: prepare, tmt tests

#2425 Retry the `git clone` action multiple times
  docs/overview.rst
  tmt/base.py
  tmt/libraries/beakerlib.py
  tmt/steps/discover/fmf.py
  tmt/steps/discover/shell.py
  tmt/utils.py
Labels: utils

#2618 Improve imported plan modification test to verify the order as well
  tests/plan/import/modify-data/plans.fmf
  tests/plan/import/modify.sh
Labels: import, plans, tmt tests

#2627 Fix `/tests/plan/import` to not use special ref
  tests/plan/import/modify-data/plans.fmf
Labels: tmt tests

#2625 Recommend `qemu-kvm-core` for `provision-virtual`
  tmt.spec
Labels: packaging

#2617 Drop connection closed messages from test output
  tests/execute/tty/test.sh
  tests/unit/test_guest.py
  tmt/steps/provision/__init__.py
Labels: execute, ready for merge

#2575 Cleanup logging in `tmt.utils.create_file()`
  tests/test/create/test.sh
  tmt/base.py
  tmt/utils.py
Labels: code style

#2629 Improve logging of AVC check plugin and its test
  tests/test/check/data/main.fmf
  tests/test/check/test-avc.sh
  tmt/checks/avc.py
Labels: tmt tests, check

#2517 Test framework may provide additional test requirements
  tests/test/show/test.sh
  tmt/base.py
  tmt/frameworks/__init__.py
  tmt/frameworks/beakerlib.py
  tmt/steps/discover/__init__.py
  tmt/steps/prepare/__init__.py
Labels: tests

#2631 Fix `egrep` warning in `/plans/install/docs`
  plans/install/docs.fmf
Labels: tmt tests, trivial

#2589 Support terminating process running test via its test invocation
  tests/unit/test_utils.py
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
Labels: execute

#2573 Raise an error when loading pre-1.24 `tests.yaml`
  tests/backward-compatibility/main.fmf
  tests/backward-compatibility/test.sh
  tmt/steps/discover/__init__.py
  tmt/utils.py
Labels: discover, status, trivial

#2611 Document the new `become` feature
  spec/plans/provision.fmf
Labels: provision, specification

#2597 Allow `--update-missing` to change the default `how` value
  tests/core/phases/data/plans.fmf
  tests/core/phases/test.sh
  tmt/base.py
  tmt/steps/__init__.py
  tmt/utils.py
Labels: must, cli, multihost

#2622 Introduce essential requirements
  tests/login/step.sh
  tmt/steps/__init__.py
  tmt/steps/discover/__init__.py
  tmt/steps/execute/internal.py
  tmt/steps/prepare/__init__.py
  tmt/steps/provision/__init__.py
Labels: prepare, steps

#2635 Allow change of the default reboot timeout via environment variable
  docs/overview.rst
  tests/provision/reboot/main.fmf
  tmt/steps/provision/__init__.py
Labels: execute, reboot

#2640 Mention the reboot timeout variable in the release notes
  docs/overview.rst
  docs/releases.rst
Labels: documentation, environment, reboot

#2583 Fail `dmesg` check if it contains `Call Trace` or `segfault`
  tests/test/check/data/main.fmf
  tests/test/check/test-dmesg.sh
  tmt/checks/dmesg.py
Labels: check

#1751 Create container images from the latest non-dev copr build
  .packit.yaml
  containers/Containerfile.full
  containers/Containerfile.mini
  docs/contribute.rst
Labels: documentation, packaging

#2554 Refactor running of interactive commands
  tests/execute/duration/data/long.sh
  tests/execute/duration/data/test.fmf
  tests/execute/duration/main.fmf
  tests/execute/duration/test.sh
  tests/unit/test_utils.py
  tmt/steps/__init__.py
  tmt/steps/execute/internal.py
  tmt/utils.py
Labels: utils

#2637 Document that `name` is supported in `--filter` search
  tmt/cli.py
  tmt/options.py
Labels: documentation

#2539 Fix `tmt import --dry` and Polarion import file name
  tmt/cli.py
  tmt/convert.py
  tmt/options.py
Labels: import, polarion

#2551 Run tests with `interactive` mode during `tmt try`
  tests/try/basic/config/.fmf/version
  tests/try/basic/config/user.fmf
  tests/try/basic/data/.fmf/version
  tests/try/basic/data/keep.exp
  tests/try/basic/data/local.exp
  tests/try/basic/data/no-tests/README
  tests/try/basic/data/plan.exp
  tests/try/basic/data/plans/basic.fmf
  tests/try/basic/data/report.exp
  tests/try/basic/data/tests/base/bad/main.fmf
  tests/try/basic/data/tests/base/good/main.fmf
  tests/try/basic/data/tests/base/weird/main.fmf
  tests/try/basic/data/tests/core/bad/main.fmf
  tests/try/basic/data/tests/core/good/main.fmf
  tests/try/basic/data/tests/core/weird/main.fmf
  tests/try/basic/data/try.exp
  tests/try/basic/data/verbose.exp
  tests/try/basic/main.fmf
  tests/try/basic/test.sh
  tests/try/investigate/data/.fmf/version
  tests/try/investigate/data/investigate.exp
  tests/try/investigate/data/plan.fmf
  tests/try/investigate/data/tests.fmf
  tests/try/investigate/main.fmf
  tests/try/investigate/test.sh
  tests/try/main.fmf
  tmt/steps/execute/internal.py
  tmt/trying.py
  tmt/utils.py
Labels: try

#2642 Handle the `ctrl-d` shortcut in `tmt try`
  tmt/trying.py
Labels: try, trivial

#2553 Add support for envvars import and export to Polarion
  tmt/convert.py
  tmt/export/polarion.py
Labels: import, export, polarion

#2645 Reduce usage of locks in the `testcloud` plugin
  tmt/steps/provision/testcloud.py
Labels: provision, testcloud

#2650 Add check to prevent `tmt try` deleting imported libraries
  tmt/libraries/beakerlib.py
Labels: libraries, try

#2656 AVC check now saves a timestamp on guest instead of using runner's time
  tests/test/check/data/plan.fmf
  tests/test/check/test-avc.sh
  tmt/checks/avc.py
  tmt/steps/execute/__init__.py
Labels: bug, check

#2652 Fix reporting of schema errors without the `$id` key
  tmt/base.py
Labels: bug, lint, schema

#2648 Remove the dns failures workaround
  plans/main.fmf
Labels: tmt tests

#2558 Enable `/plans/provision/virtual` for pull requests
  .packit.yaml
  docs/contribute.rst
  plans/features/main.fmf
  plans/features/steps.fmf
  plans/main.fmf
  plans/provision/virtual.fmf
  tests/core/escaping/main.fmf
  tests/core/spaces/main.fmf
  tests/discover/filtering.sh
  tests/discover/libraries/main.fmf
  tests/discover/main.fmf
  tests/execute/duration/main.fmf
  tests/execute/nonroot/main.fmf
  tests/execute/reboot/main.fmf
  tests/execute/rsync/main.fmf
  tests/execute/tty/main.fmf
  tests/execute/upgrade/main.fmf
  tests/finish/ansible/main.fmf
  tests/login/main.fmf
  tests/prepare/ansible/main.fmf
  tests/prepare/install/main.fmf
  tests/prepare/multihost/main.fmf
  tests/prepare/recommend/main.fmf
  tests/provision/reboot/main.fmf
  tests/pull/results/main.fmf
  tests/pull/simple/main.fmf
  tests/run/permissions/main.fmf
  tests/run/shell/main.fmf
  tests/run/worktree/main.fmf
  tests/security/ansible/main.fmf
  tests/steps/select/test.sh
  tests/test/check/main.fmf
  tests/test/debug/main.fmf
  tmt/steps/finish/__init__.py
  tmt/steps/provision/testcloud.py
Labels: tmt tests

#2649 Allow `urllib3` 2.x
  pyproject.toml
Labels: packaging, utils

#2639 Add `zcrypt` adapter specification
  docs/releases.rst
  spec/hardware/zcrypt.fmf
  tmt/schemas/provision/hardware.yaml
Labels: specification, hardware

#2655 Fix expansion of envvar starting with "@" in fmf nodes
  tests/unit/test_base.py
  tmt/base.py
Labels: bug, context, environment
