Repository teemtee/tmt, pull requests merged in 2025-02, with the labels that each got.

#3501 Update pre-commit checks to new versions
  .pre-commit-config.yaml
  docs/contribute.rst
  pyproject.toml
  tmt/_pre_commit/__main__.py
  tmt/steps/__init__.py
  tmt/steps/finish/ansible.py
  tmt/steps/provision/__init__.py
Labels: code | no functional change, test coverage, code | trivial, ci | full test

#3507 Fix version of tmt lint check in pre-commit
  .pre-commit-config.yaml
Labels: test coverage

#3494 Polish docker/podman images
  .github/workflows/pre-commit.yml
  .hadolint.yaml
  .pre-commit-config.yaml
  Makefile
  containers/Containerfile.full
  containers/Containerfile.mini
  containers/alpine/Containerfile
  containers/alpine/Containerfile.upstream
  containers/centos/7/Containerfile
  containers/centos/7/Containerfile.upstream
  containers/centos/stream10/Containerfile
  containers/centos/stream10/Containerfile.upstream
  containers/centos/stream9/Containerfile
  containers/centos/stream9/Containerfile.upstream
  containers/debian/12.7/Containerfile.upstream
  containers/fedora/39/Containerfile
  containers/fedora/39/Containerfile.unprivileged
  containers/fedora/39/Containerfile.upstream
  containers/fedora/40/Containerfile
  containers/fedora/40/Containerfile.unprivileged
  containers/fedora/40/Containerfile.upstream
  containers/fedora/41/Containerfile
  containers/fedora/41/Containerfile.unprivileged
  containers/fedora/41/Containerfile.upstream
  containers/fedora/coreos/Containerfile
  containers/fedora/coreos/ostree/Containerfile
  containers/fedora/rawhide/Containerfile
  containers/fedora/rawhide/Containerfile.unprivileged
  containers/fedora/rawhide/Containerfile.upstream
  containers/ubi/8/Containerfile.upstream
  containers/ubuntu/22.04/Containerfile.upstream
  docs/contribute.rst
  pyproject.toml
  tests/images.sh
  tests/prepare/ansible/main.fmf
  tests/provision/become/data/main.fmf
  tests/unit/test_package_managers.py
Labels: ci | full test

#3480 Check disk space for `/tests/provision/bootc`
  tests/provision/bootc/test.sh
Labels: status | ready for merge, test coverage, ci | full test

#3508 Drop explicit version pattern from container files
  containers/Containerfile.full
  containers/Containerfile.mini
Labels: packaging, status | ready for merge, code | trivial

#3506 Support `epel-10` in the `feature` prepare plugin
  tmt/steps/prepare/feature/epel-enable.yaml
Labels: step | prepare, status | ready for merge, ci | full test

#3195 Move dataclass to dedicated module
  docs/scripts/generate-plugins.py
  pyproject.toml
  tests/unit/test_cli.py
  tests/unit/test_dataclasses.py
  tmt/base.py
  tmt/checks/__init__.py
  tmt/checks/dmesg.py
  tmt/checks/watchdog.py
  tmt/cli/__init__.py
  tmt/config/models/__init__.py
  tmt/container/__init__.py
  tmt/hardware.py
  tmt/lint.py
  tmt/log.py
  tmt/options.py
  tmt/package_managers/__init__.py
  tmt/queue.py
  tmt/result.py
  tmt/steps/__init__.py
  tmt/steps/discover/__init__.py
  tmt/steps/discover/fmf.py
  tmt/steps/discover/shell.py
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
  tmt/steps/execute/upgrade.py
  tmt/steps/finish/__init__.py
  tmt/steps/finish/shell.py
  tmt/steps/prepare/__init__.py
  tmt/steps/prepare/ansible.py
  tmt/steps/prepare/distgit.py
  tmt/steps/prepare/feature/__init__.py
  tmt/steps/prepare/feature/epel.py
  tmt/steps/prepare/install.py
  tmt/steps/prepare/shell.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/artemis.py
  tmt/steps/provision/bootc.py
  tmt/steps/provision/connect.py
  tmt/steps/provision/local.py
  tmt/steps/provision/mrack.py
  tmt/steps/provision/podman.py
  tmt/steps/provision/testcloud.py
  tmt/steps/report/__init__.py
  tmt/steps/report/display.py
  tmt/steps/report/html.py
  tmt/steps/report/junit.py
  tmt/steps/report/polarion.py
  tmt/steps/report/reportportal.py
  tmt/trying.py
  tmt/utils/__init__.py
  tmt/utils/git.py
Labels: priority | must, status | ready for merge, ci | full test

#3521 Apply `ruff-format` on the `cli` source files
  pyproject.toml
  tmt/cli/__init__.py
  tmt/cli/_root.py
  tmt/cli/lint.py
  tmt/cli/status.py
  tmt/cli/trying.py
Labels: code | no functional change, status | ready for merge, ci | full test

#3522 Apply `ruff-format` on the `utils` source files
  pyproject.toml
  tmt/utils/__init__.py
  tmt/utils/git.py
  tmt/utils/jira.py
  tmt/utils/rest.py
  tmt/utils/structured_field.py
  tmt/utils/templates.py
Labels: code | no functional change, status | ready for merge, ci | full test

#3523 Apply `ruff-format` on the `steps` source files
  pyproject.toml
  tmt/steps/__init__.py
  tmt/steps/discover/__init__.py
  tmt/steps/discover/shell.py
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
  tmt/steps/execute/upgrade.py
  tmt/steps/finish/__init__.py
  tmt/steps/prepare/__init__.py
  tmt/steps/prepare/ansible.py
  tmt/steps/prepare/distgit.py
  tmt/steps/prepare/feature/__init__.py
  tmt/steps/prepare/install.py
  tmt/steps/prepare/shell.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/artemis.py
  tmt/steps/provision/bootc.py
  tmt/steps/provision/connect.py
  tmt/steps/provision/local.py
  tmt/steps/provision/mrack.py
  tmt/steps/provision/podman.py
  tmt/steps/provision/testcloud.py
  tmt/steps/report/display.py
  tmt/steps/report/html.py
  tmt/steps/report/junit.py
  tmt/steps/report/polarion.py
  tmt/steps/report/reportportal.py
Labels: code | no functional change, status | ready for merge, ci | full test

#3524 Force multiline docstrings to start on the second line
  pyproject.toml
  tmt/options.py
Labels: documentation, test coverage

#3426 Support `--workdir-root` in the `tmt clean images` command
  docs/releases.rst
  tests/clean/images/main.fmf
  tests/clean/images/test.sh
  tmt/base.py
  tmt/cli/_root.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/testcloud.py
Labels: command | clean, status | ready for merge, ci | full test

#2907 Split plan to multiple plans by `--max` tests
  tests/run/max/data/.fmf/version
  tests/run/max/data/main.fmf
  tests/run/max/main.fmf
  tests/run/max/test.sh
  tmt/base.py
  tmt/cli/_root.py
  tmt/plugins/__init__.py
  tmt/plugins/plan_shapers/__init__.py
  tmt/plugins/plan_shapers/max_tests.py
  tmt/steps/__init__.py
  tmt/steps/discover/__init__.py
  tmt/steps/discover/fmf.py
  tmt/steps/discover/shell.py
  tmt/steps/execute/__init__.py
  tmt/steps/execute/upgrade.py
  tmt/steps/prepare/__init__.py
  tmt/steps/prepare/distgit.py
  tmt/steps/report/reportportal.py
Labels: command | run, priority | must, status | ready for merge, ci | full test

#3448 Refactor and document test wrapper scripts
  tests/try/investigate/test.sh
  tmt/steps/execute/internal.py
Labels: code | style, status | blocking other work, code | no functional change, status | ready for merge, ci | full test

#3518 Drop `fedora-39` from the test configuration
  Makefile
  containers/fedora/39/Containerfile
  containers/fedora/39/Containerfile.unprivileged
  containers/fedora/39/Containerfile.upstream
  tests/execute/tmt-scripts/main.fmf
  tests/images.sh
  tests/prepare/install/test.sh
  tests/provision/facts/test-guest.sh
  tests/unit/main.fmf
  tests/unit/test_package_managers.py
Labels: status | ready for merge, test coverage, ci | full test

#3529 Fix incorrect directory in /tests/unit/with-development-packages/basic
  tests/unit/test.sh
Labels: status | ready for merge, test coverage, ci | full test

#3539 Add distro variants for the newly added distros
  tmt/steps/provision/mrack/mrack-provisioning-config.yaml
Labels: step | provision, plugin | mrack, code | trivial

#3415 Deduplicate the `execute` step documentation
  spec/plans/execute.fmf
  tmt/steps/execute/internal.py
  tmt/steps/execute/upgrade.py
Labels: documentation

#3541 Dropping xfail of AVC checks because of https://bugzilla.redhat.com/s…
  tests/finish/ansible/main.fmf
  tests/prepare/ansible/main.fmf
  tests/prepare/install/main.fmf
  tests/unit/main.fmf
Labels: status | ready for merge, test coverage, ci | full test

#3481 Cooperative SIGINT/SIGTERM handling
  tmt/__main__.py
  tmt/steps/provision/artemis.py
  tmt/steps/provision/mrack.py
  tmt/utils/signals.py
Labels: step | provision, code | utils, ci | full test

#3528 Do not use --squash when building test container images
  Makefile
Labels: test coverage, ci | full test

#3469 Refactor order of actions in guest reboot implementations
  tmt/steps/execute/__init__.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/bootc.py
  tmt/steps/provision/connect.py
  tmt/steps/provision/local.py
  tmt/steps/provision/mrack.py
  tmt/steps/provision/podman.py
  tmt/steps/provision/testcloud.py
Labels: step | provision, code | style, command | reboot, status | blocking other work, code | no functional change, status | ready for merge, ci | full test

#3449 Log test name in kernel buffer (dmesg) before and after running it
  tmt/steps/execute/internal.py
Labels: step | execute, area | check, ci | full test

#3543 Support ausearch --checkpoint method of noticing AVC denials
  tests/test/check/data/main.fmf
  tests/test/check/test-avc.sh
  tests/unit/test_utils.py
  tmt/checks/avc.py
  tmt/utils/__init__.py
Labels: step | execute, area | check, ci | full test

#3331 Add subresults support for reportportal report plugin
  docs/releases.rst
  tests/report/reportportal/data/beaker-phases-subresults.sh
  tests/report/reportportal/data/plan.fmf
  tests/report/reportportal/data/test.fmf
  tests/report/reportportal/test.sh
  tmt/result.py
  tmt/schemas/report/reportportal.yaml
  tmt/steps/report/reportportal.py
Labels: step | report, priority | should, code | schema, plugin | reportportal, ci | full test

#3550 Update copr links to point to the stable repo
  docs/contribute.rst
  docs/overview.rst
  docs/toolbelt-catalog.yaml
Labels: documentation, status | ready for merge, code | trivial

#3437 Add feature plugin for enabling guest environment profiles
  tests/prepare/feature/data/plans.fmf
  tests/prepare/feature/test.sh
  tmt/schemas/prepare/feature.yaml
  tmt/steps/prepare/feature/__init__.py
  tmt/steps/prepare/feature/environment_profile.py
  tmt/steps/prepare/feature/epel.py
Labels: step | prepare, priority | should, plugin | ansible, status | ready for merge, ci | full test

#3499 Add more RAM to bootc and virtual provision plans
  plans/provision/bootc.fmf
  plans/provision/virtual.fmf
Labels: status | ready for merge, ci | full test

#3495 Move hints to their own place, with API and unicorns
  docs/_static/tmt-custom.css
  docs/scripts/generate-plugins.py
  docs/templates/plugins.rst.j2
  tests/unit/provision/testcloud/test_hw.py
  tmt/base.py
  tmt/options.py
  tmt/plugins/__init__.py
  tmt/steps/__init__.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/local.py
  tmt/steps/provision/podman.py
  tmt/steps/provision/testcloud.py
  tmt/steps/report/junit.py
  tmt/utils/hints.py
  tmt/utils/jira.py
Labels: code | style, status | blocking other work, code | no functional change, status | ready for merge, ci | full test

#3531 Bump pre-commit checks
  .pre-commit-config.yaml
  tmt/cli/__init__.py
  tmt/cli/_root.py
  tmt/cli/lint.py
  tmt/container/__init__.py
Labels: priority | could, code | no functional change, status | ready for merge, test coverage, ci | full test
