Repository teemtee/tmt, pull requests merged in 2025-07, with the labels that each got.

#3853 Add links to Releaser's tasks
  docs/contribute.rst
Labels: documentation

#3851 Fix plugin key rendering for sequences
  docs/templates/plugins.rst.j2
Labels: documentation, code | plugins

#3847 Implement the `include` key for the `fmf` discover step
  docs/releases.rst
  tests/discover/data/plans.fmf
  tests/discover/filtering.sh
  tests/discover/select/data/.fmf/version
  tests/discover/select/data/main.fmf
  tests/discover/select/main.fmf
  tests/discover/select/test.sh
  tmt/base.py
  tmt/schemas/discover/fmf.yaml
  tmt/steps/discover/fmf.py
Labels: step | discover, ci | full test, plugin | fmf

#3844 Allow log selection for `reportportal` plugin
  docs/releases.rst
  tmt/schemas/report/reportportal.yaml
  tmt/steps/report/reportportal.py
Labels: step | report, plugin | reportportal, ci | full test

#3799 Allow dotenv files from `--environment`
  docs/releases.rst
  tests/core/env/data/empty.env
  tests/core/env/data/vars.env
  tests/core/env/test.sh
  tmt/utils/__init__.py
Labels: bug, area | environment, ci | full test

#3701 Refactor the `DiscoverFmf.go()` method
  tests/discover/adjust-tests.sh
  tests/discover/filtering.sh
  tmt/steps/discover/__init__.py
  tmt/steps/discover/fmf.py
Labels: step | discover, ci | full test, plugin | fmf

#3861 Raise duration for execute/{basic,duration}
  tests/execute/basic/main.fmf
  tests/execute/duration/main.fmf
Labels: ci | full test

#3860 Release 1.52.0
  docs/releases.rst
Labels: packaging, ci | full test

#3824 Use shell scripts proper for shell constructs in guest fact probes
  tmt/steps/provision/__init__.py
Labels: bug, step | provision, ci | full test

#3878 Environment files on command-line do not need to be under fmf root
  tests/core/env/test.sh
  tmt/utils/__init__.py
Labels: bug, area | environment, ci | full test

#3870 Fix anonymous links, definition lists and link anchors in ReST
  tmt/utils/rest.py
Labels: code | utils, ci | full test

#3871 Fix the `make coverage` target to actually test
  Makefile
Labels: test coverage

#3818 Add a new `Adjust Metadata` section to the `Guide`
  docs/guide.rst
  docs/releases.rst
Labels: documentation, review | trivial

#3885 Release 1.53.0
  docs/releases.rst
Labels: packaging, ci | full test

#3837 Emit a more specific warning when a hardware constraint is not supported
  tests/unit/test_hardware.py
  tmt/hardware.py
Labels: area | hardware, ci | full test

#3867 Enable `/tests/core/spaces` beakerlib test
  tests/core/spaces/data/a directory/some tests/a beakerlib test/main.fmf
Labels: test coverage, ci | full test, review | trivial

#3866 Improve setting FIPS mode by explicitly setting crypto-policy
  tmt/steps/prepare/feature/fips-enable.yaml
Labels: ci | full test, plugin | feature

#3901 Make `mypy` and `pyright` pre-commit satisifed
  tmt/utils/rest.py
Labels: code | type annotations, test coverage, ci | full test

#3902 Drop explicit `dnf5` addition to `coreos` test images
  containers/fedora/coreos/Containerfile
  containers/fedora/coreos/ostree/Containerfile
Labels: test coverage, ci | full test

#3889 Building and testing `tmt` on `aarch64` macos
  Makefile
  pyproject.toml
Labels: test coverage, area | package managers

#3890 Use the old syntax in `Containerfile.{mini|full}`
  containers/Containerfile.full
  containers/Containerfile.mini
Labels: packaging

#3914 Update the list of supported container images
  Makefile
  containers/fedora/42/Containerfile
  containers/fedora/42/Containerfile.unprivileged
  containers/fedora/42/Containerfile.upstream
  tests/images.sh
  tests/prepare/install/test.sh
  tests/prepare/require/test.sh
  tests/unit/__init__.py
  tests/unit/test_package_managers.py
Labels: test coverage, ci | full test

#3908 Custom `ssh` options should have precedence
  tests/provision/ssh-options/test.sh
  tmt/steps/provision/__init__.py
Labels: step | provision, ci | full test

#3923 Temporarily disable the `avc` test check
  tests/main.fmf
Labels: status | blocking other work, test coverage, ci | full test

#3915 Allow to `require-test` during test discovery and execution
  docs/releases.rst
  tests/discover/main.fmf
  tests/discover/require-test.sh
  tests/discover/require-test/.fmf/version
  tests/discover/require-test/plans.fmf
  tests/discover/require-test/tests.fmf
  tests/execute/require-test/data/.fmf/version
  tests/execute/require-test/data/plans.fmf
  tests/execute/require-test/data/tests.fmf
  tests/execute/require-test/main.fmf
  tests/execute/require-test/test.sh
  tmt/schemas/discover/fmf.yaml
  tmt/schemas/discover/shell.yaml
  tmt/steps/discover/__init__.py
  tmt/steps/execute/__init__.py
Labels: step | execute, step | discover, ci | full test

#3919 Remove non-existent checks from the specification
  spec/tests/check.fmf
Labels: documentation, code | trivial

#3862 Implement `ref` and `url` options into `shell` prepare plugin
  docs/overview.rst
  docs/releases.rst
  tests/prepare/shell/data/url.fmf
  tests/prepare/shell/test.sh
  tmt/schemas/common.yaml
  tmt/steps/prepare/shell.py
Labels: step | prepare, ci | full test, plugin | shell

#3898 Optimize package manager discovery
  tests/unit/test_package_managers.py
  tmt/steps/provision/__init__.py
Labels: ci | full test, area | package managers

#3899 Implement the `journal` test check
  docs/releases.rst
  tests/core/about/test.sh
  tests/test/check/data/main.fmf
  tests/test/check/main.fmf
  tests/test/check/test-journal.sh
  tmt/checks/journal.py
  tmt/schemas/test.yaml
Labels: area | check, ci | full test
