Repository teemtee/tmt, pull requests merged in 2025-04, with the labels that each got.

#3568 Return {} for `_transform_unsupported` in `Mrack`
  tests/unit/provision/mrack/test_hw.py
  tmt/steps/provision/mrack.py
Labels: status | blocking other work, code | no functional change, code | trivial, ci | full test

#3587 Split package manager code into scripts and execution
  tests/unit/test_package_managers.py
  tmt/package_managers/__init__.py
  tmt/package_managers/apk.py
  tmt/package_managers/apt.py
  tmt/package_managers/dnf.py
  tmt/package_managers/rpm_ostree.py
  tmt/steps/prepare/distgit.py
  tmt/steps/prepare/install.py
  tmt/steps/provision/__init__.py
Labels: priority | must, status | blocking other work, code | no functional change, ci | full test, area | package managers

#3177 Add support for `subresults` flavor to `junit` report plugin
  docs/releases.rst
  tests/report/junit/data/custom-subresults.xml.j2
  tests/report/junit/test.sh
  tmt/steps/report/junit.py
  tmt/steps/report/junit/schemas/subresults.xsd
  tmt/steps/report/junit/templates/subresults.xml.j2
Labels: step | report, priority | should, plugin | junit, status | ready for merge, ci | full test

#3639 Fix typo in test `check` specification example
  spec/tests/check.fmf
Labels: bug, specification, area | check

#3641 Add the `link-template` key into the `reportportal` schema
  tmt/schemas/report/reportportal.yaml
Labels: step | report, code | schema, plugin | reportportal, code | trivial

#3593 Add a helper for creating temporary directories on guest
  tests/unit/__init__.py
  tests/unit/conftest.py
  tests/unit/test_guest.py
  tests/unit/test_package_managers.py
  tmt/steps/provision/__init__.py
Labels: step | provision, priority | must, status | blocking other work, status | ready for merge, ci | full test

#3473 Implement reboot functionality for artemis plugin
  docs/plugins/provision-header.inc.rst
  tests/provision/reboot/main.fmf
  tmt/steps/provision/artemis.py
Labels: step | provision, priority | must, command | reboot, plugin | artemis, status | ready for merge, ci | full test

#3643 Add `check` key to the `shell` discover step
  tmt/schemas/discover/shell.yaml
  tmt/steps/discover/shell.py
Labels: step | discover, priority | must, status | ready for merge, ci | full test, plugin | shell

#3459 Add `system.management-interface` hardware property
  spec/hardware/system.fmf
  tmt/schemas/provision/hardware.yaml
Labels: priority | must, area | hardware, status | ready for merge, ci | full test

#3642 Implement the `restraint-compatible` key for `execute`
  docs/questions.rst
  docs/releases.rst
  tests/execute/restraint/compatible/data/.fmf/version
  tests/execute/restraint/compatible/data/plans.fmf
  tests/execute/restraint/compatible/data/test.fmf
  tests/execute/restraint/compatible/main.fmf
  tests/execute/restraint/compatible/test.sh
  tmt/schemas/execute/tmt.yaml
  tmt/steps/execute/internal.py
  tmt/steps/execute/scripts/tmt-report-result
Labels: step | execute, priority | must, area | restraint, status | ready for merge, ci | full test

#3623 Allow users override default `Mrack` hardware translations with config
  tests/provision/beaker/data/.fmf/version
  tests/provision/beaker/data/config/.fmf/version
  tests/provision/beaker/data/config/client.conf
  tests/provision/beaker/data/config/hardware.fmf
  tests/provision/beaker/data/main.fmf
  tests/provision/beaker/hardware.sh
  tests/provision/beaker/main.fmf
  tmt/steps/provision/mrack.py
Labels: step | provision, status | blocked, area | hardware, plugin | mrack, ci | full test

#3396 Implement the `coredump` test check plugin
  docs/releases.rst
  spec/tests/check.fmf
  tests/test/check/data/main.fmf
  tests/test/check/main.fmf
  tests/test/check/test-coredump.sh
  tmt/checks/coredump.py
  tmt/schemas/test.yaml
  tmt/steps/provision/__init__.py
Labels: step | provision, priority | must, area | check, ci | full test

#3655 Release 1.46.0
  docs/releases.rst
Labels: packaging

#3656 Drop unused parameter in the `coredump` test check
  tmt/checks/coredump.py
Labels: code | no functional change, area | check, code | trivial, ci | full test

#3634 Replace fmf.utils.log with tmt.log.Logger in tmt.config
  tests/unit/test_config.py
  tmt/base.py
  tmt/cli/_root.py
  tmt/config/__init__.py
  tmt/steps/provision/mrack.py
  tmt/templates/__init__.py
  tmt/trying.py
  tmt/utils/__init__.py
  tmt/utils/jira.py
  tmt/utils/rest.py
Labels: code | style, code | no functional change, status | ready for merge, ci | full test

#3658 Update `CODEOWNERS`, remove default reviewers
  .github/CODEOWNERS
Labels: code | trivial

#3615 Sort plugin docs by plugin id
  docs/scripts/generate-plugins.py
Labels: documentation, status | ready for merge, code | trivial

#3631 Deduplicate the `provision` step documentation
  docs/contribute.rst
  docs/plugins/provision-header.inc.rst
  spec/hardware/main.fmf
  spec/plans/provision.fmf
  spec/plans/provision/artemis.fmf
  tmt/steps/provision/artemis.py
  tmt/steps/provision/connect.py
  tmt/steps/provision/local.py
  tmt/steps/provision/mrack.py
  tmt/steps/provision/podman.py
  tmt/steps/provision/testcloud.py
Labels: documentation, step | provision

#3113 Set default unit of memory to `MiB` if none is provided
  spec/hardware/memory.fmf
  tmt/hardware.py
Labels: specification, area | hardware, status | ready for merge, ci | full test

#3644 Deduplicate the `report` step documentation
  docs/plugins/report-header.inc.rst
  docs/releases.rst
  spec/plans/report.fmf
  tmt/steps/report/display.py
  tmt/steps/report/html.py
  tmt/steps/report/junit.py
  tmt/steps/report/polarion.py
  tmt/steps/report/reportportal.py
Labels: documentation, step | report, status | ready for merge

#3677 Fix invalid `link` of `/spec/plans/report/file`
  spec/plans/report.fmf
Labels: bug, specification

#3632 Add Ansible modules required by feature plugins to plugin docs
  tmt/steps/prepare/feature/__init__.py
  tmt/steps/prepare/feature/epel.py
  tmt/steps/prepare/feature/fips.py
Labels: documentation, plugin | ansible, status | ready for merge, ci | full test, plugin | feature

#3681 Add `awk` as an essential requirement of tmt `execute` plugin
  tmt/package_managers/apk.py
  tmt/steps/execute/internal.py
Labels: step | execute, ci | full test

#3616 Simplify workdir pruning implementation
  tmt/steps/__init__.py
  tmt/steps/discover/__init__.py
  tmt/steps/execute/__init__.py
  tmt/steps/finish/__init__.py
  tmt/steps/prepare/__init__.py
  tmt/steps/provision/__init__.py
  tmt/steps/report/html.py
  tmt/steps/report/junit.py
  tmt/steps/report/polarion.py
Labels: code | style, code | no functional change, status | ready for merge, ci | full test

#3513 Enable the `crb` repo when enabling `epel`
  tests/prepare/feature/epel/data/plans.fmf
  tests/prepare/feature/epel/test.sh
  tmt/steps/prepare/feature/epel-enable.yaml
Labels: step | prepare, status | ready for merge, code | trivial, ci | full test, plugin | feature

#3689 Fix application of the "style is a fg only" style
  tmt/utils/themes.py
Labels: bug, code | logging, ci | full test

#3687 Disable the `virt-customize` speed-up due to DNS issues
  plans/provision/virtual.fmf
  tests/execute/upgrade/data/plan.fmf
  tests/libraries/apache/data/main.fmf
Labels: ci | full test

#3675 Plans should not be both local and importing remote plans
  tests/plan/import/local-and-remote.sh
  tests/plan/import/local-and-remote/.fmf/version
  tests/plan/import/local-and-remote/main.fmf
  tests/plan/import/main.fmf
  tmt/base.py
Labels: bug, command | run, ci | full test

#3586 Add the `bootc` method for installing packages
  docs/releases.rst
  tests/provision/bootc/data/includes-deps.containerfile
  tests/provision/bootc/data/plans.fmf
  tests/provision/bootc/data/test.fmf
  tests/provision/bootc/main.fmf
  tests/provision/bootc/test.sh
  tmt/package_managers/bootc.py
  tmt/steps/prepare/install.py
Labels: step | prepare, ci | full test

#3693 Release 1.47.0
  docs/releases.rst
Labels: ci | full test

#3557 Turn hints internally into classes
  docs/templates/plugins.rst.j2
  tmt/options.py
  tmt/plugins/__init__.py
  tmt/steps/__init__.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/local.py
  tmt/steps/provision/podman.py
  tmt/steps/provision/testcloud.py
  tmt/steps/report/junit.py
  tmt/utils/hints.py
Labels: status | blocking other work, status | ready for merge, ci | full test

#3527 Save remote ansible playbooks to correct directory
  tmt/steps/prepare/ansible.py
Labels: step | prepare, plugin | ansible, status | ready for merge, ci | full test

#3582 Emit a warning when and/or groups are combined with HW requirements
  spec/hardware/main.fmf
  tests/provision/hardware/data/main.fmf
  tests/provision/hardware/test.sh
  tmt/schemas/provision/hardware.yaml
Labels: documentation, area | hardware, code | schema, ci | full test

#3470 Add `tmt about`, command showing things about tmt itself
  tests/core/about/main.fmf
  tests/core/about/test.sh
  tmt/__main__.py
  tmt/checks/__init__.py
  tmt/cli/about.py
  tmt/cli/templates/about/plugins-ls.rst.j2
  tmt/export/__init__.py
  tmt/frameworks/__init__.py
  tmt/package_managers/__init__.py
  tmt/plugins/__init__.py
  tmt/plugins/plan_shapers/__init__.py
  tmt/steps/discover/__init__.py
  tmt/steps/execute/__init__.py
  tmt/steps/finish/__init__.py
  tmt/steps/prepare/__init__.py
  tmt/steps/prepare/feature/__init__.py
  tmt/steps/provision/__init__.py
  tmt/steps/report/__init__.py
  tmt/utils/rest.py
Labels: code | cli, status | ready for merge, ci | full test

#3535 Define "deadline" and "waiting" classes for better (reboot) deadlines
  tests/unit/test_utils.py
  tmt/steps/execute/__init__.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/artemis.py
  tmt/steps/provision/connect.py
  tmt/steps/provision/local.py
  tmt/steps/provision/mrack.py
  tmt/steps/provision/podman.py
  tmt/steps/provision/testcloud.py
  tmt/utils/__init__.py
  tmt/utils/wait.py
Labels: code | style, code | no functional change, status | ready for merge, ci | full test

#3619 Enable `PermitRootLogin` for `RHCOS` in `testcloud`
  tmt/steps/provision/testcloud.py
Labels: step | provision, plugin | testcloud, status | ready for merge, ci | full test

#3167 Update log string encode
  tmt/steps/report/reportportal.py
  tmt/utils/__init__.py
Labels: bug, plugin | reportportal, ci | full test

#3648 Add `file` key to report/html plugin, a file to save report into
  tmt/steps/report/html.py
Labels: step | report, plugin | html, status | ready for merge, ci | full test

#3617 Add "latest Fedora" container image for tests to use
  Makefile
  containers/fedora/latest/Containerfile
  containers/fedora/latest/Containerfile.unprivileged
  containers/fedora/latest/Containerfile.upstream
Labels: code | no functional change, test coverage, ci | full test

#3662 Update pre-commit check versions and resolve failures
  .pre-commit-config.yaml
  docs/scripts/generate-hardware-matrix.py
  tests/unit/test_utils.py
  tmt/__main__.py
  tmt/base.py
  tmt/checks/__init__.py
  tmt/checks/avc.py
  tmt/checks/coredump.py
  tmt/checks/dmesg.py
  tmt/checks/watchdog.py
  tmt/cli/__init__.py
  tmt/cli/_root.py
  tmt/cli/init.py
  tmt/cli/lint.py
  tmt/cli/trying.py
  tmt/container/__init__.py
  tmt/export/__init__.py
  tmt/frameworks/beakerlib.py
  tmt/frameworks/shell.py
  tmt/hardware.py
  tmt/libraries/__init__.py
  tmt/libraries/file.py
  tmt/log.py
  tmt/package_managers/__init__.py
  tmt/result.py
  tmt/steps/__init__.py
  tmt/steps/discover/fmf.py
  tmt/steps/discover/shell.py
  tmt/steps/prepare/ansible.py
  tmt/steps/prepare/distgit.py
  tmt/steps/prepare/feature/environment_profile.py
  tmt/steps/prepare/feature/epel.py
  tmt/steps/prepare/feature/fips.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/mrack.py
  tmt/steps/provision/testcloud.py
  tmt/steps/report/html.py
  tmt/steps/report/junit.py
  tmt/trying.py
  tmt/utils/wait.py
Labels: code | style, code | no functional change, status | ready for merge, ci | full test

#2923 Add renovate
  .github/renovate.json
Labels: documentation, packaging, status | blocked, status | ready for merge
