Repository teemtee/tmt, pull requests merged in 2025-08, with the labels that each got.

#3922 Missing f-string in exception
  tmt/utils/git.py
Labels: code | utils, ci | full test

#3897 Add .zed and .cursor to .gitignore
  .gitignore
Labels: code | no functional change, code | trivial

#3937 Adjust the toolbox test `duration` and `require`
  tests/provision/container/toolbox/main.fmf
Labels: test coverage, code | trivial, ci | full test

#3801 Switch linter outcome colors to themes
  tmt/cli/__init__.py
  tmt/cli/_root.py
  tmt/cli/lint.py
  tmt/config/models/themes.py
  tmt/config/themes/default.yaml
  tmt/config/themes/plain.yaml
  tmt/lint.py
Labels: code | logging, command | lint, ci | full test

#3838 Drop static mapping of Beaker hardware transformes
  tmt/steps/provision/mrack.py
Labels: code | no functional change, plugin | mrack, ci | full test

#3920 Change unit test to pytest and move common fixtures to conftest
  tests/unit/conftest.py
  tests/unit/test_export_to_nitrate.py
  tests/unit/test_id.py
  tests/unit/test_utils.py
Labels: code | no functional change, test coverage, ci | full test

#3341 Propagate kernel options from kickstart to Beaker jobs
  tmt/steps/provision/mrack.py
Labels: plugin | mrack, ci | full test

#3946 Throw error when context keys are missing values
  tests/discover/parametrize.sh
  tmt/utils/__init__.py
Labels: bug, code | cli, ci | full test

#3917 Support environment in the provision phase
  docs/releases.rst
  tests/provision/environment/data/.fmf/version
  tests/provision/environment/data/plans.fmf
  tests/provision/environment/main.fmf
  tests/provision/environment/test.sh
  tmt/schemas/provision/artemis.yaml
  tmt/schemas/provision/beaker.yaml
  tmt/schemas/provision/bootc.yaml
  tmt/schemas/provision/connect.yaml
  tmt/schemas/provision/container.yaml
  tmt/schemas/provision/local.yaml
  tmt/schemas/provision/minute.yaml
  tmt/schemas/provision/virtual.yaml
  tmt/steps/execute/internal.py
  tmt/steps/prepare/shell.py
  tmt/steps/provision/__init__.py
Labels: step | provision, area | environment, ci | full test

#3956 Add workdir-root to tmt clean test
  tests/clean/runs/test.sh
Labels: test coverage, ci | full test

#3944 Memory key in-sync with hardware and provision
  tests/provision/memory/data/.fmf/version
  tests/provision/memory/data/plans.fmf
  tests/provision/memory/main.fmf
  tests/provision/memory/test.sh
  tests/provision/virtual.testcloud/test.sh
  tmt/steps/provision/testcloud.py
Labels: bug, step | provision, plugin | testcloud, ci | full test

#3869 Handle `pydantic` compatibility, enable `fedora-rawhide` back
  .packit.yaml
  pyproject.toml
  tests/pip/install.fmf
  tests/precommit/main.fmf
  tests/provision/container/toolbox/main.fmf
  tests/unit/main.fmf
  tests/unit/test_config.py
  tmt/_compat/annotationlib.py
  tmt/_compat/pydantic.py
  tmt/config/__init__.py
  tmt/config/models/themes.py
  tmt/container/__init__.py
  tmt/policy.py
  tmt/utils/__init__.py
Labels: test coverage, ci | full test

#3864 Unify Finish `shell` and Prepare `shell` plugins by sharing logic implementation
  docs/overview.rst
  docs/releases.rst
  tests/prepare/shell/data/url.fmf
  tests/prepare/shell/test.sh
  tmt/steps/finish/shell.py
  tmt/steps/prepare/shell.py
Labels: step | finish, ci | full test

#3234 Enable the `epel-10` building and testing
  .packit.yaml
  docs/releases.rst
  tests/discover/data/add-tmt-test.patch
  tests/discover/distgit.sh
  tests/unit/main.fmf
  tests/unit/test.sh
Labels: packaging, status | blocked, ci | full test

#3950 Rename --max option to --max-tests-per-plan with deprecation
  tests/run/max/main.fmf
  tests/run/max/test.sh
  tmt/plugins/plan_shapers/max_tests.py
Labels: command | run, ci | full test

#3961 Use proper sdist in `packit srpm`
  .packit.yaml
Labels: packaging, ci | full test

#3831 Refactoring task queue, part 1
  tmt/queue.py
  tmt/steps/__init__.py
  tmt/steps/finish/__init__.py
  tmt/steps/prepare/__init__.py
  tmt/steps/provision/__init__.py
Labels: code | no functional change, ci | full test

#3964 Detect and report an unreachable guest
  tmt/steps/provision/__init__.py
  tmt/steps/provision/artemis.py
  tmt/steps/provision/connect.py
  tmt/steps/provision/local.py
  tmt/steps/provision/mrack.py
  tmt/steps/provision/podman.py
  tmt/steps/provision/testcloud.py
Labels: step | provision, plugin | testcloud, ci | full test, plugin | connect

#3884 Outline the `recipe` specification
  docs/releases.rst
  docs/scripts/generate-stories.py
  docs/spec.rst
  spec/recipe.fmf
Labels: specification

#3963 Implement running command on host as a menu option
  docs/releases.rst
  tests/unit/test_cli_actions.py
  tmt/trying.py
Labels: command | try, ci | full test

#4000 Base git reference tests on key to prevent flakiness
  tests/discover/references.sh
Labels: ci | full test

#3998 Fix incorrect check of test output log reported by `tmt-report-results`
  tests/execute/restraint/report-result/data/report.sh
Labels: code | no functional change, test coverage, ci | full test
