Repository teemtee/tmt, pull requests merged in 2025-01, with the labels that each got.

#3441 Replace WikiChip link with CPU World in hardware specification
  spec/hardware/cpu.fmf
Labels: documentation, status | blocking other work

#3439 Add `when` field to inherited fields of all plugins
  docs/scripts/generate-plugins.py
Labels: documentation, status | ready for merge

#3443 Workaround an apparent problem with Mrack conversion of HW requirements
  tmt/steps/provision/mrack.py
Labels: bug, step | provision, area | hardware, plugin | mrack

#3454 Switch package manager tests from diffutils to another package
  containers/fedora/coreos/Containerfile
  containers/fedora/coreos/ostree/Containerfile
  tests/unit/test_package_managers.py
Labels: code | no functional change, test coverage, ci | full test

#3446 Preserve order of the `shell` discover tests
  .pre-commit-config.yaml
  docs/releases.rst
  pyproject.toml
  tests/discover/order.sh
  tests/discover/order/plans.fmf
  tmt/base.py
  tmt/steps/discover/shell.py
Labels: step | discover, priority | must, ci | full test, plugin | fmf

#3455 Remove the two expected `avc` failures on `rawhide`
  tests/run/permissions/main.fmf
  tests/run/shell/main.fmf
Labels: test coverage, ci | full test

#3451 Fix `tmt test import` error when restraint metadata attributes are empty
  tests/test/import/data/parent/empty-dependencies/metadata
  tests/test/import/data/parent/empty-dependencies/runtest.sh
  tests/test/import/test.sh
  tmt/convert.py
Labels: command | import, status | ready for merge, code | trivial, ci | full test

#2805 Raise error when the workdir of runs doesn't exist
  tests/status/base/test.sh
  tmt/utils/__init__.py
Labels: code | utils, status | ready for merge, ci | full test

#3458 Ignore cpu docs page during the `linkcheck`
  docs/conf.py
Labels: documentation

#3430 Use shorter package names for `latest` copr builds
  .packit.yaml
Labels: packaging, status | ready for merge, ci | full test

#3433 Extract linter commands into their own module under tmt.cli
  tmt/__main__.py
  tmt/cli/_root.py
  tmt/cli/lint.py
Labels: code | cli, code | style, code | no functional change, status | ready for merge, ci | full test

#3397 Support creating Beaker jobs using `beaker-job-group` key for `mrack`
  docs/releases.rst
  pyproject.toml
  tmt/schemas/provision/beaker.yaml
  tmt/steps/provision/mrack.py
Labels: step | provision, priority | must, plugin | mrack, ci | full test

#3463 Add an explicit sphinx configuration for docs
  .readthedocs.yaml
Labels: documentation, code | trivial

#3254 Change result note key from a string to a list of strings
  docs/releases.rst
  spec/plans/results.fmf
  tests/execute/restraint/tmt-abort/test.sh
  tests/execute/result/custom/results.json
  tests/execute/result/custom/results.yaml
  tests/report/html/test.sh
  tests/unit/test_results.py
  tmt/frameworks/beakerlib.py
  tmt/frameworks/shell.py
  tmt/result.py
  tmt/schemas/common.yaml
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
  tmt/steps/report/html/template.html.j2
Labels: breakage, area | results, status | ready for merge, ci | full test

#3419 Use unique names for the `bootc` images
  tests/provision/bootc/test.sh
  tmt/steps/provision/bootc.py
Labels: step | provision, priority | must, status | ready for merge, ci | full test, plugin | bootc

#3462 Fix possible double normalization of hardware field
  tmt/steps/provision/__init__.py
Labels: bug, step | provision, area | hardware, status | ready for merge, ci | full test

#3464 Drop the `Node` alias for the `Core` class
  docs/releases.rst
  tmt/base.py
Labels: code | base, breakage, ci | full test

#3466 Run the `report` step upon failures as well
  docs/releases.rst
  tests/report/interrupted/data/.fmf/version
  tests/report/interrupted/data/main.fmf
  tests/report/interrupted/main.fmf
  tests/report/interrupted/test.sh
  tmt/base.py
Labels: step | report, priority | must, ci | full test

#3452 Enable the `stable` copr repository for building
  .packit.yaml
Labels: packaging, status | ready for merge, ci | full test

#3450 Extend `yamllint` coverage to prepare/feature playbooks
  .pre-commit-config.yaml
  .yamllint
  ansible/packages.yml
  examples/ansible/test.yml
  examples/redis/ansible/tasks/redis_variables.yml
  tests/finish/ansible/data/playbook.yml
  tests/run/worktree/data/ansible/playbook.yml
  tmt/steps/prepare/feature/epel-disable.yaml
  tmt/steps/prepare/feature/epel-enable.yaml
Labels: code | no functional change, status | ready for merge, test coverage, ci | full test

#3424 Allow dynamic plugin data classes & convert feature plugins
  docs/scripts/generate-plugins.py
  tmt/steps/__init__.py
  tmt/steps/prepare/feature/__init__.py
  tmt/steps/prepare/feature/epel.py
  tmt/steps/provision/__init__.py
  tmt/trying.py
  tmt/utils/__init__.py
Labels: step | prepare, priority | should, code | style, code | no functional change, status | ready for merge, ci | full test

#3413 Add `expect` to the `make develop` target
  Makefile
Labels: status | ready for merge, code | trivial

#3431 Show manual test instructions in verbose mode
  docs/releases.rst
  tests/test/show/data/tests/manual.fmf
  tests/test/show/data/tests/manual.md
  tests/test/show/test.sh
  tmt/base.py
Labels: priority | should, code | base, status | ready for merge, ci | full test

#3471 Switch AVC check requirements to use packages
  tmt/checks/avc.py
Labels: area | check, ci | full test

#2042 Fix `/tests/plan/show` when run from default branch
  tests/plan/show/test.sh
Labels: code | no functional change, status | ready for merge, test coverage, ci | full test

#3476 Fix underscore in the result `fmf-id` key
  spec/results.fmf
Labels: documentation, area | results, status | ready for merge, code | trivial

#3435 Add CentOS Stream 10 among test images
  Makefile
  containers/centos/stream10/Containerfile
  containers/centos/stream10/Containerfile.upstream
  tests/images.sh
  tests/prepare/install/data/copr.fmf
  tests/prepare/install/test.sh
  tests/unit/test_package_managers.py
Labels: priority | should, code | no functional change, status | ready for merge, test coverage, ci | full test

#3445 Honor verbosity options in `tmt * show` commands
  tests/plan/show/test.sh
  tests/story/show/test.sh
  tests/test/show/test.sh
  tmt/base.py
  tmt/cli/_root.py
Labels: bug, code | cli, status | ready for merge, ci | full test

#3475 Define the `releaser` role
  docs/contribute.rst
Labels: documentation

#3440 Add a trivial handler for `:ref:` role when rendering CLI help
  tmt/steps/__init__.py
  tmt/utils/rest.py
Labels: code | no functional change, code | trivial, ci | full test

#3465 Recommend `ansible-core` in the main `tmt` package
  docs/releases.rst
  pyproject.toml
  tmt.spec
  tmt/options.py
  tmt/steps/prepare/ansible.py
  tmt/steps/prepare/feature/__init__.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/local.py
  tmt/steps/provision/podman.py
Labels: packaging, priority | must, status | ready for merge, ci | full test

#3490 Disable the AVC check for several tests
  tests/finish/ansible/main.fmf
  tests/prepare/install/main.fmf
  tests/unit/main.fmf
Labels: status | ready for merge, test coverage, ci | full test

#3468 When saving a traceback, shorten very large locals
  docs/overview.rst
  tmt/utils/__init__.py
Labels: code | utils, status | ready for merge, ci | full test

#3488 Update the latest fedora alias in `mrack` config
  tmt/steps/provision/mrack/mrack-provisioning-config.yaml
Labels: step | provision, plugin | mrack, status | ready for merge, code | trivial, ci | full test

#3486 Fix docstring of Execute.results function
  tmt/steps/execute/__init__.py
Labels: documentation

#3460 Implement `--dry` for `mrack` plugin
  tmt/steps/provision/mrack.py
Labels: status | ready for merge, ci | full test

#3406 Implement the new core key `author`
  docs/releases.rst
  spec/core/author.fmf
  tests/plan/show/data/plans/full.fmf
  tests/plan/show/test.sh
  tests/story/show/data/stories/full.fmf
  tests/story/show/test.sh
  tests/test/show/data/tests/full.fmf
  tests/test/show/test.sh
  tmt/base.py
  tmt/schemas/core.yaml
  tmt/schemas/discover/shell.yaml
  tmt/schemas/plan.yaml
  tmt/schemas/story.yaml
  tmt/schemas/test.yaml
  tmt/steps/discover/shell.py
  tmt/steps/report/reportportal.py
Labels: specification, priority | should, code | core, status | ready for merge, ci | full test

#3472 Describe features covered by the minimal package
  docs/guide.rst
  stories/install.fmf
Labels: documentation, status | ready for merge

#3423 Define a new context dimension for image mode
  docs/releases.rst
  spec/context/dimension.fmf
Labels: specification, area | context

#3493 Execute must not use discover phases disabled by their `when`
  tests/steps/when/data/plan.fmf
  tests/steps/when/test.sh
  tmt/steps/execute/__init__.py
Labels: bug, step | execute, status | ready for merge, ci | full test

#3436 Support running playbooks from Ansible collections
  tmt/steps/prepare/ansible.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/local.py
  tmt/steps/provision/podman.py
Labels: priority | should, plugin | ansible, status | ready for merge, ci | full test

#1801 Modify rpm-ostree options for new parameter
  tests/unit/test_package_managers.py
  tmt/package_managers/rpm_ostree.py
Labels: status | ready for merge, ci | full test

#3497 Fix package manager tests assertions
  tests/unit/test_package_managers.py
Labels: status | blocking other work, ci | full test

#3228 Support container provisioner in toolbox
  docs/releases.rst
  tests/provision/container/toolbox/main.fmf
  tests/provision/container/toolbox/podman_wrapper
  tests/provision/container/toolbox/test.sh
  tmt/steps/provision/__init__.py
  tmt/steps/provision/podman.py
Labels: status | ready for merge, ci | full test, status | failing tests

#3489 Use custom option type for workdir root to deliver `Path` instances
  tmt/cli/_root.py
  tmt/cli/status.py
  tmt/options.py
Labels: code | cli, code | style, code | no functional change, ci | full test
