Repository teemtee/tmt, pull requests merged in 2025-10, with the labels that each got.

#4110 Turn artifact providers into plugins
  tests/core/about/test.sh
  tmt/cli/about.py
  tmt/plugins/__init__.py
  tmt/steps/prepare/artifact/providers/__init__.py
  tmt/steps/prepare/artifact/providers/brew.py
  tmt/steps/prepare/artifact/providers/koji.py
Labels: ci | full test, plugin | artifact

#4132 Run `cleanup` step even if `report` step fails
  docs/releases.rst
  tests/cleanup/basic/data/.fmf/version
  tests/cleanup/basic/data/plan.fmf
  tests/cleanup/basic/main.fmf
  tests/cleanup/basic/test.sh
  tmt/base.py
Labels: code | trivial, ci | full test, review | trivial

#4135 Document explicitly that scripts need to be executable
  docs/questions.rst
  spec/plans/execute.fmf
  spec/tests/test.fmf
Labels: documentation, review | trivial

#4127 Fix device HW requirement to be a single device
  tests/unit/test_hardware.py
  tmt/schemas/hardware.yaml
  tmt/schemas/provision/hardware.yaml
Labels: bug, area | hardware, code | schema, ci | full test

#4107 Implement API Refinements - brew/koji
  tmt/steps/prepare/artifact/providers/koji.py
Labels: ci | full test, review | trivial, plugin | artifact

#4134 Teach `GuestContainer` how to handle `recursive` flag
  tmt/steps/provision/podman.py
Labels: status | blocking other work, ci | full test

#4019 Fix mrack translation for fedora-rawhide to use Server variant
  tmt/steps/provision/mrack/mrack-provisioning-config.yaml
Labels: plugin | mrack

#4018 Implement base structure for repository file artifacts
  tests/unit/artifact/test_base.py
  tmt/steps/prepare/artifact/providers/__init__.py
  tmt/steps/prepare/artifact/providers/repository.py
Labels: step | prepare, ci | full test, plugin | artifact

#4133 Introduce `generate_uuid` function to use when importing from Polarion
  tmt/convert.py
  tmt/identifier.py
Labels: command | import, plugin | polarion, code | trivial, ci | full test, review | trivial

#4119 Refactor koji interface to handle multiple identifiers
  tests/core/about/test.sh
  tests/unit/artifact/test_koji.py
  tmt/steps/prepare/artifact/providers/koji.py
Labels: step | prepare, ci | full test, plugin | artifact

#4082 Add a guest-specifc sudo helper
  tests/recipe/data/recipe.yaml
  tmt/checks/avc.py
  tmt/checks/coredump.py
  tmt/checks/dmesg.py
  tmt/checks/journal.py
  tmt/package_managers/apk.py
  tmt/package_managers/apt.py
  tmt/package_managers/bootc.py
  tmt/package_managers/dnf.py
  tmt/package_managers/rpm_ostree.py
  tmt/steps/prepare/artifact/providers/__init__.py
  tmt/steps/prepare/feature/crb.py
  tmt/steps/provision/__init__.py
Labels: step | provision, ci | full test
