Repository teemtee/tmt, pull requests merged in 2025-09, with the labels that each got.

#4001 Update the `mrack` distro mapping config
  tmt/steps/provision/mrack/mrack-provisioning-config.yaml
Labels: step | provision, plugin | mrack, code | trivial

#3997 Support `device.driver` to `MODULE` filter in `mrack`
  tests/provision/beaker/data/main.fmf
  tests/provision/beaker/hardware.sh
  tests/unit/provision/mrack/test_hw.py
  tmt/steps/provision/mrack.py
Labels: step | provision, area | hardware, plugin | mrack, ci | full test

#3979 Rewrite remote url for plans as well
  tmt/base.py
Labels: ci | full test

#4016 Add `name` key to the `upgrade` execute schema
  tests/lint/plan/test.sh
  tmt/schemas/execute/upgrade.yaml
Labels: step | execute, code | schema, plugin | upgrade, ci | full test

#3991 Apply `sudo` for reboot command when `become` set
  docs/releases.rst
  tests/provision/connect/main.fmf
  tests/provision/connect/test.sh
  tmt/steps/__init__.py
  tmt/steps/provision/__init__.py
Labels: step | provision, ci | full test, plugin | connect

#3940 Add support for skipping tests before and/or after system upgrade
  docs/releases.rst
  tests/execute/upgrade/data/plan.fmf
  tests/execute/upgrade/main.fmf
  tests/execute/upgrade/skip-tests.sh
  tmt/schemas/execute/upgrade.yaml
  tmt/steps/execute/upgrade.py
Labels: step | execute, plugin | upgrade, ci | full test

#3941 Support multiple threads provisioning for `Mrack`
  tests/unit/provision/mrack/test_thread_safety.py
  tmt/steps/provision/mrack.py
Labels: step | provision, plugin | mrack, ci | full test

#3728 Support `bootc` installation for `mrack` plugin
  tests/provision/beaker/bootc.sh
  tests/provision/beaker/data/main.fmf
  tests/provision/beaker/hardware.sh
  tests/provision/beaker/main.fmf
  tmt/schemas/provision/beaker.yaml
  tmt/steps/provision/mrack.py
Labels: step | provision, plugin | mrack, ci | full test

#4014 Skip `chcon` if selinux not used by host
  tmt/steps/provision/testcloud.py
Labels: step | provision, plugin | testcloud, ci | full test

#4008 Drop snapshot "support" from Artemis provision plugin
  tmt/steps/provision/artemis.py
Labels: step | provision, plugin | artemis, code | no functional change

#4058 Add a new `Issues` section to the `Contribute` page
  docs/contribute.rst
  docs/releases.rst
Labels: documentation, area | process

#4048 Include `key`, `order`, and `public-key` in beaker provision schema
  tests/provision/beaker/data/main.fmf
  tests/provision/beaker/main.fmf
  tests/provision/beaker/schema.sh
  tmt/schemas/provision/beaker.yaml
Labels: step | provision, code | schema, plugin | mrack, ci | full test

#4039 Add a new section `Guest Preparation` to the guide
  docs/guide.rst
  docs/guide/guest-preparation.inc.rst
  docs/releases.rst
Labels: documentation

#4041 Do not alter the actual `/var/tmp/tmt` in `/tests/run/permissions`
  tests/run/permissions/test.sh
Labels: code | no functional change, test coverage, ci | full test

#4044 Transform `x86_64` to `x8664` for Polarion report compatibility
  tmt/steps/report/polarion.py
Labels: step | report, plugin | polarion, ci | full test

#4049 Extend `html` report schema to include `file` key
  tests/report/html/data/main.fmf
  tests/report/html/test.sh
  tmt/schemas/report/html.yaml
Labels: step | report, plugin | html, code | schema, ci | full test

#4005 Exclude inactive test cases from Polarion Test Case search
  docs/releases.rst
  tmt/export/polarion.py
Labels: command | export, step | report, plugin | polarion, ci | full test

#3978 Add helper scripts installation logic to `local` provision
  docs/releases.rst
  tests/provision/local/data/.fmf/version
  tests/provision/local/data/directly.sh
  tests/provision/local/data/plan.fmf
  tests/provision/local/data/test.fmf
  tests/provision/local/data/test.sh
  tests/provision/local/test.sh
  tmt/base.py
  tmt/steps/provision/local.py
  tmt/steps/scripts.py
Labels: step | provision, ci | full test

#4088 Workaround hatch-click bug
  .github/actions/setup-docs-env/action.yml
Labels: documentation, test coverage, ci | full test

#4064 Fix regression around rsync usage with directories and ssh connection
  tests/prepare/shell/data/url.fmf
  tests/prepare/shell/main.fmf
  tests/prepare/shell/test.sh
  tmt/steps/prepare/shell.py
  tmt/steps/provision/__init__.py
Labels: step | provision, step | prepare, ci | full test

#4092 Support fetching logs in Artemis provision plugin
  docs/releases.rst
  tmt/schemas/provision/artemis.yaml
  tmt/steps/provision/artemis.py
Labels: step | provision, plugin | artemis, ci | full test

#4090 Add the `DeepWiki` badge and link
  README.rst
  docs/overview.rst
Labels: documentation

#4109 Simplify creation of plugin registry and its decorator
  tests/core/about/test.sh
  tmt/checks/__init__.py
  tmt/cli/about.py
  tmt/frameworks/__init__.py
  tmt/package_managers/__init__.py
  tmt/package_managers/apk.py
  tmt/package_managers/apt.py
  tmt/package_managers/bootc.py
  tmt/package_managers/dnf.py
  tmt/package_managers/rpm_ostree.py
  tmt/plugins/__init__.py
  tmt/plugins/plan_shapers/__init__.py
Labels: step | prepare, code | style, code | no functional change, ci | full test, plugin | artifact

#4112 Polish artifact provider docs
  tmt/steps/prepare/artifact/providers/__init__.py
  tmt/steps/prepare/artifact/providers/koji.py
Labels: code | style, code | no functional change, ci | full test, plugin | artifact
