Repository teemtee/tmt, pull requests merged in 2025-06, with the labels that each got.

#3786 Use the `fedora-bootc:latest` image in the `bootc` test
  tests/provision/bootc/data/includes-deps.containerfile
Labels: step | provision, test coverage, ci | full test, plugin | bootc

#3777 Introduce a new label `ci | skip` for disabling tests
  .github/workflows/doc-tests.yml
  .packit.yaml
  docs/contribute.rst
Labels: test coverage, ci | full test

#3787 Retry fetching url for distro name in `testcloud`
  tmt/steps/provision/testcloud.py
Labels: step | provision, plugin | testcloud, ci | full test

#3767 Run dmesg and coredump commands with `silent=True`
  tests/test/check/test-coredump.sh
  tmt/checks/coredump.py
  tmt/checks/dmesg.py
Labels: area | check, ci | full test

#3760 Add a linter for ReST docstrings
  .pre-commit-config.yaml
  examples/plugins/provision.py
  tmt/hardware.py
  tmt/options.py
  tmt/steps/provision/__init__.py
  tmt/utils/__init__.py
  tmt/utils/hints.py
  tmt/utils/signals.py
Labels: code | no functional change, test coverage, ci | full test

#3778 Add the `Share Tests` section into the guide
  docs/guide.rst
  docs/releases.rst
Labels: documentation

#3816 Do not run tests against `fedora-rawhide`
  .packit.yaml
Labels: test coverage, ci | full test

#3815 Sanitize strings in YAML before saving them
  tests/unit/test_results.py
  tmt/utils/__init__.py
Labels: bug, step | report, plugin | polarion, ci | full test

#3730 Tweaks of reboot-related logging
  tests/execute/nonroot/test.sh
  tmt/steps/provision/__init__.py
  tmt/steps/provision/artemis.py
  tmt/steps/provision/testcloud.py
Labels: step | provision, ci | full test

#3817 Document the `discover` step key `test`
  tmt/steps/discover/fmf.py
Labels: documentation, step | discover, plugin | fmf

#3776 Enable yamllint for many more YAML files we have
  .hadolint.yaml
  .packit.yaml
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  .readthedocs.yaml
  .yamllint
  tests/policy/policies/test/check.yaml
  tests/policy/policies/test/contact.yaml
  tests/policy/policies/test/duration.yaml
  tests/policy/policies/test/environment.yaml
  tests/policy/policies/test/invalid.yaml
  tests/policy/policies/test/test.yaml
  tmt/config/themes/default.yaml
  tmt/steps/provision/mrack/mrack-provisioning-config.yaml
Labels: code | no functional change, test coverage

#3819 Make context and environment inheritance for remote plans configurable
  docs/releases.rst
  spec/plans/import.fmf
  tests/plan/import/inheritance.sh
  tests/plan/import/inheritance/.fmf/version
  tests/plan/import/inheritance/main.fmf
  tests/plan/import/main.fmf
  tmt/base.py
  tmt/schemas/plan.yaml
Labels: area | context, area | environment, ci | full test

#3717 Warn and prevent EPEL enablement on unsupported distro
  tests/try/basic/data/epel.exp
  tmt/steps/prepare/feature/epel.py
Labels: step | prepare, code | no functional change, ci | full test, plugin | feature

#3803 Add log topic utility to overview guide
  docs/overview.rst
Labels: documentation, review | trivial

#3833 Prevent tmt scripts from running outside of test context
  tmt/steps/scripts/tmt-abort
  tmt/steps/scripts/tmt-file-submit
  tmt/steps/scripts/tmt-reboot
  tmt/steps/scripts/tmt-report-result
Labels: code | no functional change, ci | full test
