Repository teemtee/tmt, pull requests merged in 2025-03, with the labels that each got.

#3565 Reset AVC denials after building test images
  Makefile
  tests/images.sh
  tests/test/check/test-avc.sh
Labels: status | ready for merge, test coverage, ci | full test

#3574 Add deployment-mode to Polarion test run export
  tmt/steps/report/polarion.py
Labels: step | report, priority | should, plugin | polarion, status | ready for merge, ci | full test

#3560 Document how to define guest variables for all tests
  docs/questions.rst
Labels: documentation, area | multihost, status | ready for merge, size | hour

#3585 provision/virtual schema was lacking hardware key
  tmt/schemas/provision/virtual.yaml
Labels: code | schema, ci | full test

#3551 Polish watchdog plugin documentation
  docs/scripts/generate-plugins.py
  tmt/checks/avc.py
  tmt/checks/dmesg.py
  tmt/checks/watchdog.py
  tmt/steps/prepare/ansible.py
Labels: documentation, status | ready for merge

#3569 Allow to ignore duration in tests
  docs/overview.rst
  docs/releases.rst
  tests/execute/ignore-duration/data/.fmf/version
  tests/execute/ignore-duration/data/demo.fmf
  tests/execute/ignore-duration/main.fmf
  tests/execute/ignore-duration/test.sh
  tmt/schemas/execute/tmt.yaml
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
  tmt/utils/__init__.py
Labels: step | execute, priority | must, status | ready for merge, ci | full test

#3532 Add `--command` option for the `tmt run reboot` command
  docs/releases.rst
  tests/provision/reboot/test.sh
  tmt/steps/__init__.py
  tmt/steps/provision/__init__.py
Labels: status | ready for merge, ci | full test

#3530 Apply ruff format to tests too
  pyproject.toml
  tests/__init__.py
  tests/integration/__init__.py
  tests/integration/test_nitrate.py
  tests/integration/test_polarion.py
  tests/test/export/parse.py
  tests/unit/__init__.py
  tests/unit/conftest.py
  tests/unit/provision/mrack/test_hw.py
  tests/unit/provision/test_ssh.py
  tests/unit/provision/testcloud/test_hw.py
  tests/unit/test_adjust.py
  tests/unit/test_base.py
  tests/unit/test_beakerlib.py
  tests/unit/test_cli.py
  tests/unit/test_convert.py
  tests/unit/test_file_require.py
  tests/unit/test_guest.py
  tests/unit/test_hardware.py
  tests/unit/test_id.py
  tests/unit/test_logging.py
  tests/unit/test_package_managers.py
  tests/unit/test_report_junit.py
  tests/unit/test_results.py
  tests/unit/test_schemas.py
  tests/unit/test_steps.py
  tests/unit/test_steps_prepare.py
  tests/unit/test_template.py
  tests/unit/test_try.py
  tests/unit/test_utils.py
Labels: priority | could, status | ready for merge, test coverage, ci | full test

#3595 Release 1.44.0
  docs/releases.rst
Labels: ci | full test

#3517 Add a new section with inspirational projects
  docs/questions.rst
Labels: documentation, status | ready for merge, size | hour

#3533 Improve doc about test restart on test crashes
  spec/tests/restart.fmf
Labels: documentation, status | ready for merge

#3438 Generate documentation for prepare/feature plugins
  .gitignore
  docs/Makefile
  docs/plugins/prepare-feature-header.inc.rst
  docs/scripts/generate-plugins.py
  docs/templates/plugins.rst.j2
  tmt/steps/prepare/feature/__init__.py
  tmt/steps/prepare/feature/epel.py
Labels: documentation, status | ready for merge, ci | full test

#3607 Add support for v0.0.74 Artemis API
  tmt/steps/provision/artemis.py
Labels: plugin | artemis, code | trivial

#3608 Save data to the correct directory when pruning with `path` specified
  docs/releases.rst
  tests/discover/prune.sh
  tmt/steps/discover/fmf.py
Labels: bug, step | discover, priority | must, ci | full test

#3598 Require fresh `fmf` to support `deployment-mode`
  pyproject.toml
Labels: packaging, status | ready for merge, code | trivial, ci | full test

#3505 Continue after prepare failure in `tmt try`
  docs/releases.rst
  tmt/trying.py
  tmt/utils/__init__.py
Labels: status | ready for merge, command | try, ci | full test

#3567 Add --build-disk-image-only option to bootc plugin
  tmt/schemas/provision/bootc.yaml
  tmt/steps/provision/bootc.py
Labels: priority | must, status | ready for merge, ci | full test, size | day

#3609 Add `fmf_id` to pending results
  tmt/steps/execute/__init__.py
Labels: step | execute, status | ready for merge, code | trivial, ci | full test

#3614 Add a release note for the file bomb fix
  docs/releases.rst
Labels: documentation, status | ready for merge, code | trivial, size | hour

#3519 ReST rendering improved
  tmt/config/__init__.py
  tmt/config/models/themes.py
  tmt/config/themes/default.yaml
  tmt/config/themes/plain.yaml
  tmt/steps/prepare/ansible.py
  tmt/trying.py
  tmt/utils/jira.py
  tmt/utils/rest.py
Labels: priority | should, status | blocking other work, status | ready for merge, ci | full test

#3602 Handle guest logs
  tmt/steps/finish/__init__.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/mrack.py
Labels: step | provision, status | ready for merge, ci | full test

#3606 Tests that abort or fail (with `exit-first`) will skip remaining tests
  docs/releases.rst
  tests/execute/exit-first/test.sh
  tests/execute/restraint/tmt-abort/data/do-not-run.fmf
  tests/execute/restraint/tmt-abort/data/plan.fmf
  tests/execute/restraint/tmt-abort/main.fmf
  tests/execute/restraint/tmt-abort/test.sh
  tmt/steps/execute/__init__.py
  tmt/steps/execute/internal.py
Labels: bug, priority | must, status | ready for merge, ci | full test

#3583 Support `dist-git-source` for repos without GitLab remote
  tests/discover/data/distgit_test_plugin.py
  tests/unit/test_utils.py
  tmt/steps/discover/__init__.py
  tmt/utils/__init__.py
  tmt/utils/git.py
Labels: code | utils, step | discover, status | ready for merge, ci | full test

#3344 Add FIPS prepare feature enabling FIPS mode on RHEL and CentOS
  docs/releases.rst
  stories/cli/try.fmf
  tests/prepare/feature/epel/data/.fmf/version
  tests/prepare/feature/epel/data/check-repos.sh
  tests/prepare/feature/epel/data/plans.fmf
  tests/prepare/feature/epel/main.fmf
  tests/prepare/feature/epel/test.sh
  tests/prepare/feature/fips/data/.fmf/version
  tests/prepare/feature/fips/data/plans.fmf
  tests/prepare/feature/fips/main.fmf
  tests/prepare/feature/fips/test.sh
  tmt/cli/trying.py
  tmt/schemas/prepare/feature.yaml
  tmt/steps/prepare/feature/fips-enable.yaml
  tmt/steps/prepare/feature/fips.py
  tmt/steps/provision/__init__.py
  tmt/trying.py
Labels: step | prepare, priority | should, ci | full test
