Repository teemtee/tmt, pull requests merged in 2025-05, with the labels that each got.

#3686 Remove the duplication leftovers from the specs
  docs/examples.rst
  spec/plans/discover.fmf
  spec/plans/execute.fmf
  spec/plans/provision.fmf
  stories/cli/steps.fmf
Labels: documentation

#3680 Move the `report.yaml` spec into deferred stories
  spec/plans/report.fmf
  stories/deferred/file.fmf
Labels: specification, code | cleanup

#3561 Change internal "imported plan" from a single plan to a list of plans
  tmt/base.py
  tmt/steps/discover/__init__.py
Labels: status | blocking other work, code | no functional change, status | ready for merge, ci | full test

#3604 Switch to hadolint-py and add shellcheck-py
  .github/workflows/shellcheck.yml
  .pre-commit-config.yaml
  Makefile
  tmt/steps/execute/scripts/tmt-reboot
Labels: test coverage

#3713 Exclude Stack Overflow links from CI checks (fixes #3711)
  docs/conf.py
Labels: documentation, test coverage

#3715 Fix tests/execute/nonroot for boot based Fedora CoreOS
  tests/execute/nonroot/test.sh
  tests/prepare/install/test.sh
  tests/provision/bootc/main.fmf
  tmt/package_managers/__init__.py
  tmt/package_managers/bootc.py
  tmt/package_managers/dnf.py
  tmt/steps/prepare/install.py
  tmt/steps/provision/__init__.py
Labels: ci | full test, plugin | bootc

#3721 Release 1.48.0
  docs/overview.rst
  docs/releases.rst
Labels: ci | full test

#3511 Save console logs as a file in `testcloud`
  docs/releases.rst
  pyproject.toml
  tests/provision/virtual.testcloud/test.sh
  tmt.spec
  tmt/steps/provision/__init__.py
  tmt/steps/provision/testcloud.py
Labels: step | provision, plugin | testcloud, status | ready for merge, ci | full test

#3708 Fix misaligned bullet point in a hint
  tmt/utils/hints.py
Labels: bug, code | cli, status | ready for merge

#3596 Use the `display` report plugin to display results during execution
  docs/releases.rst
  tests/discover/tests.sh
  tests/execute/framework/shell.sh
  tests/execute/ignore-duration/test.sh
  tests/execute/reboot/freeze.sh
  tests/execute/restraint/compatible/test.sh
  tests/execute/restraint/report-result/test.sh
  tests/execute/result/basic.sh
  tests/execute/result/check.sh
  tests/execute/result/custom.sh
  tests/report/display/test.sh
  tests/test/check/data/main.fmf
  tmt/steps/__init__.py
  tmt/steps/execute/internal.py
  tmt/steps/report/display.py
  tmt/utils/templates.py
Labels: step | execute, step | report, status | blocking other work, ci | full test

#3732 Add support for custom retries when attempting to stop testcloud VM
  tmt/schemas/provision/virtual.yaml
  tmt/steps/provision/testcloud.py
Labels: plugin | testcloud, ci | full test

#3566 A plan of plans
  spec/plans/import.fmf
  tests/core/fmf-id/data/remote-plan-with-invalid-ref.fmf
  tests/core/fmf-id/data/remote-plan-with-valid-ref.fmf
  tests/plan/import/data-plan-of-plans/.fmf/version
  tests/plan/import/data-plan-of-plans/plans.fmf
  tests/plan/import/data/plans.fmf
  tests/plan/import/invalid-data/bad-url.fmf
  tests/plan/import/plan-of-plans.sh
  tmt/base.py
  tmt/schemas/plan.yaml
  tmt/steps/discover/__init__.py
Labels: ci | full test

#3630 Shut down SSH master process when leaving tmt
  docs/releases.rst
  tests/provision/ssh-multiplexing/main.fmf
  tests/provision/ssh-multiplexing/test.exp
  tests/provision/ssh-multiplexing/test.sh
  tmt/base.py
  tmt/steps/__init__.py
  tmt/steps/provision/__init__.py
Labels: bug, command | login, ci | full test

#3526 Accept and apply `workdir-root` in `testcloud`
  tmt/base.py
  tmt/steps/provision/testcloud.py
Labels: plugin | testcloud, ci | full test

#3579 tmt-report-result should put test output files into subdirectories
  tests/execute/result/subresults.sh
  tmt/steps/execute/scripts/tmt-report-result
Labels: step | execute, area | results, ci | full test

#3403 Enabling Perflint checks
  pyproject.toml
  tests/unit/provision/testcloud/test_hw.py
  tests/unit/test_config.py
  tests/unit/test_utils.py
  tmt/convert.py
  tmt/frameworks/beakerlib.py
  tmt/result.py
  tmt/steps/discover/__init__.py
  tmt/steps/execute/__init__.py
  tmt/steps/provision/__init__.py
  tmt/steps/provision/mrack.py
  tmt/steps/report/reportportal.py
  tmt/utils/git.py
Labels: code | style, code | no functional change, ci | full test

#3734 Fix typos in `kickstart` metadata in the provisioning guide
  spec/plans/provision/kickstart.fmf
Labels: documentation

#3685 Add `Beakerlib` framework verification tests
  tests/execute/framework/beakerlib.sh
  tests/execute/framework/beakerlib/.fmf/version
  tests/execute/framework/beakerlib/fail.sh
  tests/execute/framework/beakerlib/incomplete-fail.sh
  tests/execute/framework/beakerlib/incomplete-pass.sh
  tests/execute/framework/beakerlib/pass.sh
  tests/execute/framework/beakerlib/pidlock.sh
  tests/execute/framework/beakerlib/plans.fmf
  tests/execute/framework/beakerlib/tests.fmf
  tests/execute/framework/beakerlib/timeout.sh
  tests/execute/framework/beakerlib/warn.sh
  tests/execute/framework/beakerlib/worst.sh
  tests/execute/framework/main.fmf
Labels: test coverage, ci | full test

#3749 fixing `Beakerlib` framework verification tests
  tests/execute/framework/beakerlib.sh
  tests/execute/framework/shell.sh
Labels: test coverage, ci | full test

#3378 Readme badges and pyproject cleanup
  .pre-commit-config.yaml
  README.rst
  pyproject.toml
Labels: documentation, code | trivial, ci | full test

#3754 Import `mrack` when the `GuestBeaker` instance is created
  docs/releases.rst
  tests/provision/beaker/main.fmf
  tests/provision/beaker/reconnect.sh
  tmt/steps/provision/mrack.py
Labels: plugin | mrack, ci | full test

#3736 Add missing release note for the plan-of-plans feature
  docs/releases.rst
Labels: documentation

#3743 Move the alternative `where` key definition to deferred stories
  spec/plans/discover.fmf
  stories/deferred/where.fmf
Labels: documentation, specification, code | trivial

#3670 Test should error out if pulling from guest fails
  docs/releases.rst
  tests/execute/unresponsive/data/.fmf/version
  tests/execute/unresponsive/data/unresponsive.fmf
  tests/execute/unresponsive/main.fmf
  tests/execute/unresponsive/test.sh
  tests/report/interrupted/test.sh
  tmt/steps/execute/internal.py
Labels: step | execute, ci | full test

#3741 Extract failures from the failing checks
  docs/releases.rst
  tests/execute/basic/test.sh
  tests/execute/result/failure-logs.sh
  tests/execute/result/failure-logs/.fmf/version
  tests/execute/result/failure-logs/plan.fmf
  tests/execute/result/failure-logs/test-fail.sh
  tests/execute/result/failure-logs/test-pass.sh
  tests/execute/result/failure-logs/tests.fmf
  tests/execute/result/main.fmf
  tmt/checks/avc.py
  tmt/checks/coredump.py
  tmt/checks/dmesg.py
  tmt/frameworks/beakerlib.py
  tmt/frameworks/shell.py
  tmt/result.py
  tmt/steps/execute/__init__.py
  tmt/steps/report/junit.py
  tmt/steps/report/junit/templates/_base.xml.j2
  tmt/steps/report/junit/templates/subresults.xml.j2
  tmt/steps/report/reportportal.py
Labels: step | report, area | results, plugin | reportportal, area | check, ci | full test

#3678 Fix logging of early import errors
  tests/unit/test_utils.py
  tmt/_bootstrap.py
  tmt/cli/__init__.py
  tmt/cli/_root.py
  tmt/plugins/__init__.py
  tmt/utils/__init__.py
Labels: bug, code | logging, code | cli, ci | full test

#3695 CRB Feature Prepare Plugin
  docs/releases.rst
  tests/core/about/test.sh
  tests/prepare/feature/crb/data/.fmf/version
  tests/prepare/feature/crb/data/plans.fmf
  tests/prepare/feature/crb/main.fmf
  tests/prepare/feature/crb/test.sh
  tmt/schemas/prepare/feature.yaml
  tmt/steps/prepare/feature/crb.py
  tmt/steps/prepare/feature/epel-enable.yaml
Labels: step | prepare, status | need docs, ci | full test, plugin | feature

#3764 Building of docs produces tracebacks related to ReST rendering
  tmt/utils/rest.py
Labels: documentation, code | trivial, review | trivial

#3766 Release 1.49.0
  docs/overview.rst
  docs/releases.rst
Labels: packaging, ci | full test

#3742 Use `quay.io` as image registry for tmt images
  containers/Containerfile.full
  containers/Containerfile.mini
Labels: code | no functional change

#3731 Refine the description of the `TMT_TREE` variable
  docs/overview.rst
Labels: documentation, code | trivial

#3768 Move `testcloud` console release note to the right section
  docs/releases.rst
Labels: documentation, code | trivial, review | trivial

#3762 Extend timeout for a couple of slow tests
  tests/prepare/freeze/test.sh
  tests/provision/bootc/main.fmf
Labels: step | prepare, test coverage, code | trivial, ci | full test, review | trivial

#3700 Initial coderabbit config yaml
  .coderabbit.yaml
Labels: code | trivial

#3581 Refactoring the file copy operations - reflinks with fallback
  tests/unit/test_filesystem.py
  tmt/libraries/beakerlib.py
  tmt/steps/discover/fmf.py
  tmt/utils/filesystem.py
Labels: code | utils, ci | full test

#3751 Support `--dry` option in the `bootc` provision plugin
  Makefile
  containers/fedora/latest/bootc/Containerfile
  docs/releases.rst
  tests/images.sh
  tests/provision/bootc/test.sh
  tmt/steps/provision/bootc.py
Labels: bug, ci | full test, plugin | bootc

#3723 Mention a one-liner to get new contributors
  docs/contribute.rst
  scripts/list-new-contributors
Labels: documentation, code | trivial
